Package: ntp
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: University of Delaware
Version: 4.0.95
URL: http://www.eecis.udel.edu/~ntp/
Description: Network time syncronizer
Build-Depends: build-base, libinfo-hdrs
