Cererile administrative sunt afiºate în unul din cele douã moduri,
pe o <a href="%(summaryurl)s">paginã de sumar</a>, ºi respectiv pe
o paginã de <em>detalii</em>.  Pagina de sumar conþine cererile de
abonare ºi cele de pãrãsire a listei, precum ºi mesajele reþinute
pentru aprobare, grupate dupã adresa de email a expeditorului.
Pagina de detalii conþine o imagine mai detaliatã a fiecãrui mesaj
reþinut, incluzând toate headerele acestuia ºi un extras al corpului
mesajului.

<p>Pe toate paginile, urmãtoarele acþiuni sunt disponibile:

<ul>
<li><b>Amânare</b> -- Amânaþi luarea unei decizii pentru mai târziu.
    Nu este executã nici o acþiune pentru aceastã cerere administrativã
    în aºteptare, dar pentru mesajele reþinute, mai puteþi re-trimite
    (forward) sau pãstra mesajul (vezi mai jos).

<li><b>Aprobare</b> -- Aprobaþi mesajul, trimiþându-l listei. În cazul
    cererilor legate de abonament, este aprobatã schimbarea cerutã.

<li><b>Respingere</b> -- Mesajul este respins, fiind trimisã o notã cu
    explicaþia refuzului cãtre expeditor.  În cazul cererilor legate de
    abonament, este refuzatã cererea de schimbare a abonamentului.
    În oricare din cazuri, este indicat sã adãugaþi ºi un motiv al respingerii
    cererii în câmpul de alãturi.

<li><b>Ignorare</b> -- Mesajul iniþial este ignorat, fãrã a fi trimisã vreo
    notã a respingerii acestuia.  În cazul cererilor legate de abonament,
    cererea este pur ºi simplu ignoratã, fãrã notificarea iniþiatorului.
    Aceasta este acþiunea cel mai des folositã în cazul situaþiilor de spam.
</ul>

<p>În cazul mesajelor reþinute, bifaþi opþiunea <b>Pãstreazã</b> dacã doriþi
sã salvaþi o copie a mesajului pentru administratorul site-ului.  Acest fapt
este foarte folositor în cazul mesajelor abuzive pe care doriþi sã le ignoraþi,
dar trebuie sã le pãstraþi pentru o inspecþie ulterioarã.

<p>Bifaþi opþiunea <b>Retrimite la </b>, ºi completaþi adresa de destinaþie
dacã doriþi sã trimiteþi mesajul cãtre o adresã ce nu se aflã pe listã.
Pentru a edita un mesaj reþinut înainte de a fi trimis listei, va trebui
sã retrimiteþi mesajul cãtre dumneavoastrã (sau cãtre proprietarii listei),
ºi sã ignoraþi mesajul iniþial.  Apoi, când mesajul vã apare în cãsuþa
postalã, faceþi modificãrile cuvenite ºi retrimiteþi-l cãtre listã, incluzând
un header <tt>Approved:</tt> având parola listei ca valoare.  Neticheta
(regulile de politeþe pe net) recomandã adãugarea unei note prin care sã
prezentaþi motivul modificãrilor fãcute.

<p>Dacã expeditorul este un membru supravegheat (moderat) al listei, opþional
puteþi reseta flag-ul de moderare.  Aceastã facilitate este utilã când lista
dumneavoastra este configurata sa þina noii membrii într-o perioadã de probã,
si aþi decis cã acest membru este de încredere ºi poate trimite direct mesaje
cãtre, listã fãrã alte aprobãri.

<p>Dacã expeditorul nu este un membru al listei, puteþi adãuga adresa de email
unui <em>filtru de expeditori</em>.  Filtrele de expeditori sunt descrise pe
<a href="%(filterurl)s">pagina de filtre a informaþiilor personale</a>,
ºi poate fi unul din <b>auto-accept</b> (Acceptare), <b>auto-hold</b> (Reþinere),
<b>auto-reject</b> (Respingere), sau <b>auto-discard</b> (Ignorare).  Aceastã opþiune
nu va fi disponibilã dacã adresa este deja ataºatã unui filtru de expeditor.

<p>Când aþi terminat, apãsaþi pe butonul <em>Salveazã toate datele</em> (aflat la
extremitãþile paginii).  Acest buton va trimite spre executare toate acþiunile selectate
pentru toate cererile administrative pentru care aþi luat o decizie.

<p><a href="%(summaryurl)s">Înapoi la pagina de sumar</a>.
