Aceastã paginã conþine un sumar al setului curent de cereri administrative
care aºteaptã aprobarea dumneavoastrã pentru <a href="%(adminurl)s">lista de discuþii
<em>%(listname)s</em></a>.<br>
Mai întâi, veþi gãsi o listã a cererilor de abonare/dezabonare, dacã
existã, urmate de orice mesaje care sunt reþinute în vederea aprobãrii.

<p>Pentru fiecare cerere administrativã, alegeþi acþiunea corespunzãtoare,
apãsând pe butonul <b>Salveazã toate datele</b> când aþi terminat.<br>
<a href="%(detailsurl)s">Aici</a> sunt disponibile mai multe instrucþiuni detaliate.

<p>Puteþi, de asemena, sã <a href="%(viewallurl)s">afiºaþi detaliile</a> tuturor
mesajelor publicate.
