<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>Arhivele %(listname)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-8859-2">
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>Arhivele %(listname)s</h1>
     <p>
      Încă nu au fost publicate mesaje pe această listă, astfel încât arhivele sunt
      goale în acest moment.  Puteţi însă obţine <a href="%(listinfo)s">mai multe detalii
      despre această listă</a>.
     </p>
  </BODY>
  </HTML>
