Acest text poate include
<a href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">ºiruri
de caractere formatate Python</a> care sunt rezolvate vis-a-ais de atributele
listei.  Lista substituþiilor permise este:

<ul>
    <li><b>real_name</b> - Numele "frumos" al listei; de obicei este vorba de
    numele listei, cu iniþiala majusculã.

    <li><b>list_name</b> - Numele sub care lista este identificatã în adrese URL,
    acolo unde literele mari/mici conteazã.

    <li><b>host_name</b> - Numele de domeniu calificat (FQDN) al serverului pe
    care ruleazã lista.

    <li><b>web_page_url</b> - Adresa de bazã pentru Mailman.  Aceasta poate fi,
    de exemplu, continuatã cu <em>listinfo/%(list_name)s</em> pentru a ajunge la
    pagina de detalii despre listã.

    <li><b>description</b> - Descrierea sumarã a listei de discuþii.

    <li><b>info</b> - Descrierea detaliatã a listei de discuþii.

    <li><b>cgiext</b> - Extensia adãugatã scripturilor cgi.
</ul>
