管理申請は次の2つの方法で表示されます. <a href="%(summaryurl)s">
要約ページ</a>と<em>詳細</em>ページです. 要約ページには, 保留に
なっている入会と退会処理に加えて, 送信者のメールアドレスで
グループ分けされた保留投稿が表示されます. 詳細ページでは, それぞれ
の保留メールの詳細つまり, メールのヘッダの全部と本文の抜書き
が表示されます.

<p>どちらのページにも次の処理メニューがあります:

<ul>
<li><b>保留</b> -- 決定を先に延ばすために保留します.
    この時点では管理申請の処理は行いませんが, 保留された投稿に
    ついては, メールを転送したり保存したりできます(下を参照).

<li><b>承認</b> -- 投稿を承認し, リストへ送ります.
    入退会の申請に関しては, その変更を承認します.

<li><b>拒否</b> -- 投稿を拒否し, そのことを送信者に通知します.
    また, オリジナルの投稿は破棄されます. 入退会の申請に関しては,
    その変更を拒否します. どちらの場合にも, テキストボックスに
    拒否の理由を書き加えるとよいでしょう.

<li><b>破棄</b> -- 投稿メールを投げ捨て, 拒否の通知は送りません.
    入退会申請に関しては, 単に申請を破棄し, 申請を出した人への
    通知は行いません. SPAM に対してはこれを使うとよいでしょう.
</ul>

<p>保留投稿については, サイト管理者のためにメールのコピーを
保存しようと思ったら, <b>保存</b>にチェックを入れてください.
これは, リストを悪用しようとするメールを破棄したいが, 後の
調査のために記録を残す必要がある場合に有効です.

<p><b>転送</b>オプションを有効にして, 転送先メールアドレスを記入すると,
メールを誰かリストに載っていない人にも転送することができます.
保留メールをリストに送る前に編集するには, メールを自分自身(またはリスト
管理人)に転送し, オリジナルのメールを破棄するとよいでしょう.
すると, メールが自分宛てに着きますので, 自分で編集し, (必要なら)
<tt>Approved:</tt>ヘッダとリストのパスワードを付けて, リスト宛てに
再送します. このとき, 本文に手を加えたことを再送メールに記して
おくことはネチケットにかなっているでしょう.

<p>もし送信者がリスト会員で発言制限を受けている場合には, 
制限フラグを消すこともできます. この機能は, 新入会員を仮登録と
みなしているが, 管理者がこの時点でこの会員を信頼できると考え, 
以後の投稿は承認無しに投稿できるとする場合に便利です.

<p>もし送信者がリスト会員でなければ, そのアドレスを <em>送信者
フィルター</em> に追加することができます. 送信者フィルターについて
は <a href="%(filterurl)s">送信者フィルタープライバシーページ
</a> に書いてありますが, <b>auto-accept</b> (承認) または, 
<b>auto-hold</b> (保留), <b>auto-reject</b> (拒否), 
<b>auto-discard</b> (破棄) のどれかに設定します. もし, 送信者が
既に送信者フィルターに登録されている場合には, このオプションは
現れません.

<p>設定を終了したら, このページの最初または最後にある, 
<em>全部送信</em>をクリックしてください.
このボタンで, あなたが決定した全ての管理申請について, 選択した
動作が送信されます.

<p><a href="%(summaryurl)s">要約ページへ戻る</a>.
