<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>%(listname)s %(archive)s 保存書庫 %(archtype)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
      <a name="start"></A>
      <h1>%(archive)s 保存書庫 %(archtype)s</h1>
      <ul>
         <li> <b>目次の順:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s

	     <li><b><a href="%(listinfo)s">リストの案内...
                    </a></b></li>
      </ul>
      <p><b>開始:</b> <i>%(firstdate)s</i><br>
         <b>最終:</b> <i>%(lastdate)s</i><br>
         <b>記事数:</b> %(size)s<p>
     <ul>
