<!-- $Revision: 1.1.1.1 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> 案内ページ</TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="70%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000"><MM-List-Name>について</FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="30%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start> <MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>

	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> このメーリングリストに投稿された過去のメールを読むには,
	      <MM-Archive><MM-List-Name>
		  保存書庫</MM-Archive>をご覧下さい.
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000"><MM-List-Name> の利用法</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  メーリングリストのメンバー全員にメッセージを送るには， メールを
	  <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>
          宛てに送信してください.

	  <p>メーリングリストの購読や現在の購読オプションの変更には, 
          以下の様式をご利用下さい.
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000"><MM-List-Name> の購読</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	    <MM-List-Name> の購読には, 以下の様式に 記入してください. 
	  <MM-List-Subscription-Msg>
	  <ul>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">あなたのメールアドレス:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
        <td bgcolor="#dddddd" width="55%">あなたのお名前 (オプション):</td>
        <td width="33%"><mm-fullname-box></td>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
	<TD COLSPAN="3"><FONT SIZE=-1>ここであなたのパスワード
        を記入してください. このパスワードに関するセキュ
        リティは あまり高くありませんが, 他人が購読情報荒しを
        することを 防ぐ程度
        のことはできます. このパスワードをメールであなたに送り
        返すことがあります
        ので,
	<b>貴重なパスワードを使わないようにしてください
	</b>
        毎月1回, あなたの
        パスワードを紛失防止のために平文のメールで送信します. 
        もし，この欄を空白にしておくと, Mailmanが自動的に
        あなたのパスワードを作成します. そして, あなたが入会を
	確認したらメールで送られます. 自分のオプションを編集する
	時には, いつでもパスワードをメールで送ってもらうことが
	できます.
	    <MM-Reminder>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">パスワードを考えて記入してください:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">確認のため同じパスワードを記入:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd">どの言語でメッセージを読みたいですか?</TD>
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <mm-digest-question-start>
      <tr>
	<td>一日分ごとにメールをまとめ読みしますか?
	  </td>
	<td><MM-Undigest-Radio-Button> いいえ
	    <MM-Digest-Radio-Button>  はい
	</TD>
      </tr>
      <mm-digest-question-end>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000"><MM-List-Name> 会員の方へ</FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
        <MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
