<!-- $Revision: 1.1.1.1 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
<title><MM-List-Name> メーリングリストでの <MM-Presentable-User> の設定</title>

</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
	<FONT COLOR="#000000" SIZE=+1>
        <MM-List-Name> メーリングリストでの <MM-Presentable-User> の設定
	</FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b><MM-List-Name> メーリングリストでの<MM-Presentable-User></b> さんの
        会員設定状況，パスワード，オプションの設定状況．
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
    <tr><td width="100%" bgcolor="#fff0d0" colspan="2">
        <font color="#000000">
        <b>あなたの <MM-List-Name> 会員アドレス変更</b>
        </font></td></tr>
    <tr><td colspan="2">このメーリングリストに登録されている配送アドレス
        を変更するには、下の欄に新しいアドレスを入力してください。
        その新アドレスに確認のメールが届けられますので、確認の返事が
        来るまでは処理は保留されます。

        <p>約<mm-pending-days>後に確認の期限が切れます。

        <p>また、オプションであなたの実名(例:<em>寺田寅彦</em>)を
	設定したり変更したりできます。

        <p>もし、<mm-host>に登録された全てのメーリングリストに
        ついて、会員アドレスを変更するのであれば、
        <em>全部変更</em>ボックスをチェックしてください。
        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">新アドレス:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">確認のため
            もう一度:</div></td>
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">あなたのお名前
            (オプション):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
            <p><mm-global-change-of-address>全部変更
            </center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING=5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B><MM-List-Name> を退会する</B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>あなたの他の <MM-Host> での入会状況</B>
        </FONT></TD></TR>

    <tr><td>
        退会するには確認ボックスをチェックして、この
        ボタンをクリックしてください. <strong>警告:</strong>
        これは直ちに退会手続きを完了します. 
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        あなたは、<mm-host>で入会している全てのメーリングリスト
        のリストを見ることができます。もし、他の会員オプションも
        変更したいのであればこれを利用してください。

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
	</TD></TR> 
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>あなたの <MM-List-Name> でのパスワード</B>
	</FONT></TD></TR>
    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>パスワードを忘れましたか?</h3>
        </center>
        このボタンをクリックして，あなたの配送アドレスへメールして
        貰ってください. 
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

<td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>パスワード変更</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">新
                パスワード:</div></TD>
	        <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR> 
	        <TD BGCOLOR="#dddddd"><div align="right">確認のため
                もう一度:</div></TD>
	        <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>
        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>全部変更
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>あなたの <MM-List-Name> 会員オプション</B>
	</FONT></TD></TR> 
</table>

<p>
<i><strong>現在の設定がチェックされています.</strong></i>
<p>オプションの中には<em>全部設定</em>のチェックボックスが
付いているものがあります。ここをチェックしておくと、<mm-host>
であなたが会員になっている全てのメーリングリストでこの
設定が有効になります。上の<em>他のメーリングリストへの入会状況</em>
で、あなたが入会しているメーリングリストを知ることができます。
<p>
<TABLE BORDER="0" CELLSPACING="2" CELLPADDING="3" WIDTH="80%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong> メール配送 </strong> <br>
        このオプションを<em>有効</em>にしておくと、このメーリングリスト
        に投稿されるメールを受け取ることになります。これを<em>停止</em>
        にしておくと短期間の間メール配送を止めておくことができます
        (例えば短期間の休暇中など). もし配送を停止した場合には、
        休暇から帰ってきたら再度有効にすることを忘れないでください。
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button> 有効<br>
        <mm-delivery-disable-button> 停止<p>
        <mm-global-deliver-button><i>全部設定</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong> まとめ読みモードに設定</strong> <br>
        もしまとめ読みモードを 有効 にしておくと，１日毎に１通だけまとめて
        メールが届き，投稿がある度には送られません．もしまとめ読みモード
        を 有効 から 無効 にすると，最後のまとめメールが届けられます．
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button> 無効<br>
        <MM-Digest-Radio-Button> 有効
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong> まとめ読みのメールを平文で受けますか？
        MIMEの添付で受けますか?</strong><p>
        メールリーダによっては MIME のまとめ読みをサポートしていない
        かもしれません。一般的には MIME の方がよいですが、
        もし，MIME のメールを読むのが困難であれば，
        平文の方を選んでください．
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button> MIME <br>
        <MM-Plain-Digests-Button> 平文 <p>
        <mm-global-mime-button><i>全部設定</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong> あなたが投稿したメールを受取りますか? </strong><p>
        通常は、あなたは自分がリストに投稿したメールのコピーを受取ります。
        もし、このコピーを受取りたくなければ、このオプションを
        <em>いいえ</em>に設定してください。
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button> いいえ <br>
        <mm-receive-own-mail-button> はい
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong> あなたがリストに投稿したとき，受領メールが
        必要ですか? </strong><p>
        </td><td bgcolor="#cccccc"> 
        <mm-dont-ack-posts-button> いいえ<br>
        <mm-ack-posts-button> はい 
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>このリストについてパスワード通知を受け取りますか?</strong><p>
        毎月、あなたはこのホストのそれぞれのメーリングリストついて、
        パスワード通知の入ったメールを受け取ることになります。
        あなたは、リスト毎に<em>いいえ</em>を選ぶことで
        メール送信を止めることができます。もし、全部設定で<em>いいえ</em>に
        設定した場合には、パスワード通知のメールは発送されません。
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>いいえ<br>
        <mm-get-password-reminder-button>はい<p>
        <mm-global-remind-button><i>全部設定</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong> 会員リストにあなたを出さないようにしますか? </strong><br>
        誰かがリストの会員名簿を見るとき、あなたのメールアドレスが
        (スパムメールアドレス収集防止のためぼやかしますが)表示されます。
        もし会員名簿に自分のメールアドレスを出したくなければ、
        下の<em>隠してください</em>を選んで下さい。
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button> 出します <br>
        <MM-Hide-Subscription-Button> 隠してください
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong> どの言語を使いますか?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>どの話題分類を購読したいですか?</strong><p>
		話題を選ぶことで、メーリングリストを流れるメールに
		フィルターをかけることができます。つまり、メールの
		一部分だけを受け取るようになります。もし、メールが
		選んだ話題に合っていればメールを受け取り、合わなければ
		受け取りません。
		<p>もし、メールがどの話題にも合わなければ、配送の
		規則は下のオプションの設定によって変わります。
		もし、何も話題を選ばなければ、全部のメールを受け取ります。
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>どの話題フィルターにも適合しないメールを受け取りますか?</strong><p>
		このオプションは、あなたが少なくともひとつ話題を選んでいる
		場合に有効になります。話題フィルターのどれにも合わなかった
		メールがあるとき、デフォルトの配送規則を定めます。
		<em>いいえ</em>を選ぶと、どの話題フィルターにも
		合わなかったメールは、あなたに配送されません。
		もし、<em>はい</em>を選ぶと、このような適合しないメールは
		配送されます。
		<p>もし、話題がひとつも選択されなかった場合には、
		メーリングリストに投稿される全部のメールを受け取ることになります。
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>いいえ<br>
        <mm-receive-nonmatching-topics>はい
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>重複したメールを受け取らないようにしますか?</strong><p>

            もし, あなたが<tt>To:</tt>または<tt>Cc:</tt>ヘッダに
            入っていたら, メーリングリストからのメールを受け取らない
            ようにすることができます. リストから重複したメールを
            受け取らないようにするには<em>はい</em>を選んでください.
            <em>いいえ</em>を選ぶとメールを受け取ります.

            <p>もし, リストが個人別配送モードになっている場合,
            「いいえ」を選ぶと <tt>X-Mailman-Copy: yes</tt> という
            ヘッダが付くようになります.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>いいえ<br>
        <mm-dont-receive-duplicates-button>はい<br>
        <mm-global-nodupes-button><i>全部設定</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>

<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
