<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceProject</key>
		<string>Algorithm-Annotate</string>
		<key>OpenSourceVersion</key>
		<string>0.10</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/Algorithm-Annotate/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/C/CL/CLKAO/Algorithm-Annotate-0.10.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>7d6c94c4911d6472e0007dfb64210960a5255169</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Unknown</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>Algorithm-Diff</string>
		<key>OpenSourceVersion</key>
		<string>1.1902</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/Algorithm-Diff/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/T/TY/TYEMQ/Algorithm-Diff-1.1902.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>f687d21fc0d42e6a065e465f326c97cd3f980639</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Unknown</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>App-CLI</string>
		<key>OpenSourceVersion</key>
		<string>0.07</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/App-CLI/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/C/CL/CLKAO/App-CLI-0.07.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>01dcf5d43f1926894d114742f2cada468dc18488</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Perl (&lt;a href="http://dev.perl.org/licenses/artistic.html"&gt;Artistic&lt;/a&gt; and &lt;a href="http://www.opensource.org/licenses/gpl-license.php"&gt;GPL&lt;/a&gt;)</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>Class-Autouse</string>
		<key>OpenSourceVersion</key>
		<string>1.27</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/Class-Autouse/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/A/AD/ADAMK/Class-Autouse-1.27.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>3150524488690b163b1622725743c4deff83e435</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Perl (&lt;a href="http://dev.perl.org/licenses/artistic.html"&gt;Artistic&lt;/a&gt; and &lt;a href="http://www.opensource.org/licenses/gpl-license.php"&gt;GPL&lt;/a&gt;)</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>Class-Data-Inheritable</string>
		<key>OpenSourceVersion</key>
		<string>0.06</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/Class-Data-Inheritable/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/T/TM/TMTM/Class-Data-Inheritable-0.06.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>d4a4411dcce43d6de633d56a121d06d6fb39b34d</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Unknown</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>Data-Hierarchy</string>
		<key>OpenSourceVersion</key>
		<string>0.34</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/Data-Hierarchy/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/C/CL/CLKAO/Data-Hierarchy-0.34.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>23c1c0462b399395117be24f2c834e844c7acd73</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Unknown</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>File-chdir</string>
		<key>OpenSourceVersion</key>
		<string>0.06</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/File-chdir/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/M/MS/MSCHWERN/File-chdir-0.06.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>8247b89f87216fd043fa9402596b5e47b40eebc0</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Unknown</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>File-Temp</string>
		<key>OpenSourceVersion</key>
		<string>0.18</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/File-Temp/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/T/TJ/TJENNESS/File-Temp-0.18.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>8c9bbf5a8d655d994529b96fdbf4a9ea7142f4bd</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-29</string>
		<key>OpenSourceLicense</key>
		<string>Unknown</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>FreezeThaw</string>
		<key>OpenSourceVersion</key>
		<string>0.43</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/FreezeThaw/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/I/IL/ILYAZ/modules/FreezeThaw-0.43.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>a0063d8a45a9abcd64fddb97334f99d3e0898c5e</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Unknown</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>IO-Digest</string>
		<key>OpenSourceVersion</key>
		<string>0.10</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/IO-Digest/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/C/CL/CLKAO/IO-Digest-0.10.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>8e70b0b3b403283548d66906af4e04eb2da38e43</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Perl (&lt;a href="http://dev.perl.org/licenses/artistic.html"&gt;Artistic&lt;/a&gt; and &lt;a href="http://www.opensource.org/licenses/gpl-license.php"&gt;GPL&lt;/a&gt;)</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>IO-Pager</string>
		<key>OpenSourceVersion</key>
		<string>0.06</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/IO-Pager/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/J/JP/JPIERCE/IO-Pager-0.06.tgz</string>
		<key>OpenSourceSHA1</key>
		<string>bb4aa78f153483fdf83772943a56b05c7cb9994e</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Unknown</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>List-MoreUtils</string>
		<key>OpenSourceVersion</key>
		<string>0.22</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/List-MoreUtils/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/V/VP/VPARSEVAL/List-MoreUtils-0.22.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>36dd11bf03459a34391d84d9dd89ac721eadd2dc</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Unknown</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>Locale-Maketext-Lexicon</string>
		<key>OpenSourceVersion</key>
		<string>0.62</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/Locale-Maketext-Lexicon/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/A/AU/AUTRIJUS/Locale-Maketext-Lexicon-0.62.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>d2ca4982575883ea9a6b327ac1bb80543c3ab08b</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Mit</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>Locale-Maketext-Simple</string>
		<key>OpenSourceVersion</key>
		<string>0.18</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/Locale-Maketext-Simple/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/A/AU/AUDREYT/Locale-Maketext-Simple-0.18.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>30584035d66d6041b2187278ef9ebaa3707158a7</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>Path-Class</string>
		<key>OpenSourceVersion</key>
		<string>0.16</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/Path-Class/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/K/KW/KWILLIAMS/Path-Class-0.16.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>a28bea2ef56f0a7a9f7e82f0021a1bb24adeff6f</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Perl (&lt;a href="http://dev.perl.org/licenses/artistic.html"&gt;Artistic&lt;/a&gt; and &lt;a href="http://www.opensource.org/licenses/gpl-license.php"&gt;GPL&lt;/a&gt;)</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>PathTools</string>
		<key>OpenSourceVersion</key>
		<string>3.24</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/PathTools/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/K/KW/KWILLIAMS/PathTools-3.24.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>72ec1509bc29f84c0aaa715367b46f51e3b17926</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Perl (&lt;a href="http://dev.perl.org/licenses/artistic.html"&gt;Artistic&lt;/a&gt; and &lt;a href="http://www.opensource.org/licenses/gpl-license.php"&gt;GPL&lt;/a&gt;)</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>PerlIO-eol</string>
		<key>OpenSourceVersion</key>
		<string>0.14</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/PerlIO-eol/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/A/AU/AUDREYT/PerlIO-eol-0.14.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>5c6e19973135caf7a44c37943b1a598058ff1d07</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Perl (&lt;a href="http://dev.perl.org/licenses/artistic.html"&gt;Artistic&lt;/a&gt; and &lt;a href="http://www.opensource.org/licenses/gpl-license.php"&gt;GPL&lt;/a&gt;)</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>PerlIO-via-dynamic</string>
		<key>OpenSourceVersion</key>
		<string>0.12</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/PerlIO-via-dynamic/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/C/CL/CLKAO/PerlIO-via-dynamic-0.12.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>64665dd63ffdb43196378eceea7ff9175d535217</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Unknown</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>PerlIO-via-symlink</string>
		<key>OpenSourceVersion</key>
		<string>0.05</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/PerlIO-via-symlink/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/C/CL/CLKAO/PerlIO-via-symlink-0.05.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>d8b73cd3318752254636cdfd960c5e448907fb18</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Perl (&lt;a href="http://dev.perl.org/licenses/artistic.html"&gt;Artistic&lt;/a&gt; and &lt;a href="http://www.opensource.org/licenses/gpl-license.php"&gt;GPL&lt;/a&gt;)</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>Pod-Escapes</string>
		<key>OpenSourceVersion</key>
		<string>1.04</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/Pod-Escapes/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/S/SB/SBURKE/Pod-Escapes-1.04.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>ef4700d984eb0cd12cb0ebba5e98d074aada1769</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Unknown</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>Pod-Simple</string>
		<key>OpenSourceVersion</key>
		<string>3.05</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/Pod-Simple/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/A/AR/ARANDAL/Pod-Simple-3.05.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>9157bbd763d8b25c91f916b6cd8eda5d4b6b62bf</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-29</string>
		<key>OpenSourceLicense</key>
		<string>Unknown</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>SVK</string>
		<key>OpenSourceVersion</key>
		<string>v2.0.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/SVK/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/C/CL/CLKAO/SVK-v2.0.1.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>5d2d4b21f24c9fb36a241ac1dec91ac0a85f2acf</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-29</string>
		<key>OpenSourceLicense</key>
		<string>Perl (&lt;a href="http://dev.perl.org/licenses/artistic.html"&gt;Artistic&lt;/a&gt; and &lt;a href="http://www.opensource.org/licenses/gpl-license.php"&gt;GPL&lt;/a&gt;)</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>SVN-Mirror</string>
		<key>OpenSourceVersion</key>
		<string>0.73</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/SVN-Mirror/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/C/CL/CLKAO/SVN-Mirror-0.73.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>9733e39a512af571b39ba236f1e33f20ce517148</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-29</string>
		<key>OpenSourceLicense</key>
		<string>Perl (&lt;a href="http://dev.perl.org/licenses/artistic.html"&gt;Artistic&lt;/a&gt; and &lt;a href="http://www.opensource.org/licenses/gpl-license.php"&gt;GPL&lt;/a&gt;)</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>SVN-Simple</string>
		<key>OpenSourceVersion</key>
		<string>0.27</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/SVN-Simple/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/C/CL/CLKAO/SVN-Simple-0.27.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>b63f6cbbaa0dfdfb229952b6dd244d8a61d7acf1</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Unknown</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>TermReadKey</string>
		<key>OpenSourceVersion</key>
		<string>2.30</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/TermReadKey/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/J/JS/JSTOWE/TermReadKey-2.30.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>920353a44e779b69109149694e3097482deeb83b</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Unknown</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>TimeDate</string>
		<key>OpenSourceVersion</key>
		<string>1.16</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/TimeDate/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/G/GB/GBARR/TimeDate-1.16.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>36875a6cb20585d0589e2fccade04fae6e0db372</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Unknown</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>UNIVERSAL-require</string>
		<key>OpenSourceVersion</key>
		<string>0.11</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/UNIVERSAL-require/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/M/MS/MSCHWERN/UNIVERSAL-require-0.11.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>1ae78e2ec581f97b85e5bbfb562ff9a035398f04</string>
		<key>OpenSourceImportDate</key>
		<string>2007-03-20</string>
		<key>OpenSourceLicense</key>
		<string>Perl (&lt;a href="http://dev.perl.org/licenses/artistic.html"&gt;Artistic&lt;/a&gt; and &lt;a href="http://www.opensource.org/licenses/gpl-license.php"&gt;GPL&lt;/a&gt;)</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>YAML-Syck</string>
		<key>OpenSourceVersion</key>
		<string>0.85</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://search.cpan.org/dist/YAML-Syck/</string>
		<key>OpenSourceURL</key>
		<string>http://search.cpan.org/CPAN/authors/id/A/AU/AUDREYT/YAML-Syck-0.85.tar.gz</string>
		<key>OpenSourceSHA1</key>
		<string>22136cdd46579cd22649ca3bda069eb3e5cc3f1b</string>
		<key>OpenSourceImportDate</key>
		<string>2007-05-04</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceLicenseFile</key>
		<string>svk.txt</string>
	</dict>
</array>
</plist>
