<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2008-09-22</string>
		<key>OpenSourceLicense</key>
		<string>Info-ZIP</string>
		<key>OpenSourceLicenseFile</key>
		<string>zip.txt</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>Porting fixes for Mac OS X</string>
		</array>
		<key>OpenSourceProject</key>
		<string>zip</string>
		<key>OpenSourceSHA1</key>
		<string>4f244128ee8fa3fc07eedfee3d4ac634dcabd492</string>
		<key>OpenSourceURL</key>
		<string>http://superb-east.dl.sourceforge.net/sourceforge/infozip/zip30.zip</string>
		<key>OpenSourceVersion</key>
		<string>3.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.info-zip.org/pub/infozip/Zip.html</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2015-7-23</string>
		<key>OpenSourceLicense</key>
		<string>Info-ZIP</string>
		<key>OpenSourceLicenseFile</key>
		<string>unzip.txt</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>cve-2014-8140-test-compr-eb from Debian</string>
			<string>cve-2014-8139-crc-overflow from Debian</string>
			<string>cve-2014-8141-getzip64data from Debian</string>
			<string>cve-2014-9636-test-compr-eb from Debian</string>
			<string>allow-greater-hostver-values from Debian</string>
			<string>include-unistd-for-kfreebsd from Debian</string>
			<string>handle-pkware-verification-bit from Debian</string>
			<string>initialize-the-symlink-flag from Debian</string>
			<string>increase-size-of-cfactorstr from Debian</string>
                        <string>Apple-patch</string>
                        <string>patch-quarantine</string>
		</array>
		<key>OpenSourceProject</key>
		<string>unzip</string>
		<key>OpenSourceMD5</key>
		<string>62b490407489521db863b523a7f86375</string>
		<key>OpenSourceURL</key>
		<string>ftp://ftp.info-zip.org/pub/infozip/src/unzip60.tgz</string>
		<key>OpenSourceVersion</key>
		<string>6.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.info-zip.org/UnZip.html</string>
	</dict>
</array>
</plist>
