<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-01-15</string>
		<key>OpenSourceLicense</key>
		<string>MPL</string>
		<key>OpenSourceProject</key>
		<string>cairo</string>
		<key>OpenSourceSHA1</key>
		<string>ccce5ae03f99c505db97c286a0c9a90a926d3c6e</string>
		<key>OpenSourceURL</key>
		<string>http://cairographics.org/releases/cairo-1.10.2.tar.gz</string>
		<key>OpenSourceVersion</key>
		<string>1.10.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.cairographics.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-04-06</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libAppleWM</string>
		<key>OpenSourceSHA1</key>
		<string>0db56a17df93683aef16c8e7779cd9527aa0ffc8</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libAppleWM-1.4.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.4.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-29</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libdmx</string>
		<key>OpenSourceSHA1</key>
		<string>49aeab743cb8b667829efda140487b69a7148676</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libdmx-1.1.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-26</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libfontenc</string>
		<key>OpenSourceSHA1</key>
		<string>ba158e4c10a1aff2351ef632def03dec0e0ee11e</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libfontenc-1.1.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-26</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libFS</string>
		<key>OpenSourceSHA1</key>
		<string>2b33fa17369605303ae70a7de1aa681879249c92</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libFS-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-26</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libICE</string>
		<key>OpenSourceSHA1</key>
		<string>c7d0f4c5b0e999385445b8be1bc89aec4e5de71d</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libICE-1.0.7.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.7</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-12-19</string>
		<key>OpenSourceLicense</key>
		<string>2011-02-04</string>
		<key>OpenSourceLicenseFile</key>
		<string>libpng.txt</string>
		<key>OpenSourceProject</key>
		<string>libpng</string>
		<key>OpenSourceSHA1</key>
		<string>750361f1cd693da53ef66624d5a8a6a431c40cd5</string>
		<key>OpenSourceURL</key>
		<string>http://downloads.sourceforge.net/libpng/libpng-1.5.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.5.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.libpng.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-12-19</string>
		<key>OpenSourceLicense</key>
		<string>2010-06-07</string>
		<key>OpenSourceLicenseFile</key>
		<string>libpng.txt</string>
		<key>OpenSourceProject</key>
		<string>libpng</string>
		<key>OpenSourceSHA1</key>
		<string>58005bee4a3452f2a3406b07910912f1266cde59</string>
		<key>OpenSourceURL</key>
		<string>http://downloads.sourceforge.net/libpng/libpng-1.4.5.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.4.5</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.libpng.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-06-27</string>
		<key>OpenSourceLicense</key>
		<string>BSD with credit clause</string>
		<key>OpenSourceLicenseFile</key>
		<string>libpng.txt</string>
		<key>OpenSourceProject</key>
		<string>libpng</string>
		<key>OpenSourceSHA1</key>
		<string>07bd9d67c6e6076416a951451e1b05c2660e9d0d</string>
		<key>OpenSourceURL</key>
		<string>http://downloads.sourceforge.net/libpng/libpng-1.2.44.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.2.44</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.libpng.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-28</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libSM</string>
		<key>OpenSourceSHA1</key>
		<string>f78bc72f0b3ec26cbf980f84f014422ba854544d</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libSM-1.2.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.2.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-04-06</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libX11</string>
		<key>OpenSourceSHA1</key>
		<string>174270a0e51614b5077026fc6c20701d4e09aef8</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libX11-1.4.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.4.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-07-19</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXau</string>
		<key>OpenSourceSHA1</key>
		<string>0e1ab449f98026e4599f6e0d7491810d36c8fe4d</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXau-1.0.6.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.6</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-01-15</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXaw</string>
		<key>OpenSourceSHA1</key>
		<string>5f8fc1b10316f31d4c6fa1d938b2297ff5bd2da5</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXaw-1.0.9.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.9</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2006-12-01</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXaw</string>
		<key>OpenSourceSHA1</key>
		<string>e79d7708dcfbca84b2e7621b69ab429fd1fcf435</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXaw-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-28</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXcomposite</string>
		<key>OpenSourceSHA1</key>
		<string>081b26b556d55e20d7956c80a2ea2854962aecec</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXcomposite-0.4.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>0.4.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-28</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXcursor</string>
		<key>OpenSourceSHA1</key>
		<string>35491bd17cbcdda712e1a064c67ccbc523e2702c</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXcursor-1.1.11.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.11</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-06-14</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXdamage</string>
		<key>OpenSourceSHA1</key>
		<string>7d96e8de107fede16951cb47d5e147630fbc7dee</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXdamage-1.1.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXdmcp</string>
		<key>OpenSourceSHA1</key>
		<string>28132db24727552f77e998e6a6798a5b9b30789f</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXdmcp-1.1.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-04</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXevie</string>
		<key>OpenSourceSHA1</key>
		<string>84e2dc6e35c4a82f1a4d1fe4723fba58364c3bec</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXevie-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-28</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXext</string>
		<key>OpenSourceSHA1</key>
		<string>090d7109c5fffde8a0063e10f22f3e2ec48cf19e</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXext-1.2.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.2.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-03-10</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXfixes</string>
		<key>OpenSourceSHA1</key>
		<string>3e4d374e9026111a04cd669d4b3434273fc34fe0</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXfixes-5.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>5.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXfont</string>
		<key>OpenSourceSHA1</key>
		<string>191b40c566f80737cf6838747d86ebaee7b0c7d7</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXfont-1.4.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.4.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2009-10-08</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXfontcache</string>
		<key>OpenSourceSHA1</key>
		<string>9e9bfee1a143cbe9486830d53f8f9cc0a91be472</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXfontcache-1.0.5.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.5</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-29</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXft</string>
		<key>OpenSourceSHA1</key>
		<string>ed29784259f4e26df78141035560ae8a7c62e83f</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXft-2.2.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>2.2.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-03-18</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXi</string>
		<key>OpenSourceSHA1</key>
		<string>97e60a60dd789287e47df807e487f4952dd4ff95</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXi-1.4.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.4.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-28</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXinerama</string>
		<key>OpenSourceSHA1</key>
		<string>f030b0cfcce15502aac78188524f32a6f29bd0a4</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXinerama-1.1.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-08-15</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libxcb</string>
		<key>OpenSourceSHA1</key>
		<string>7540f0587907bce421914f0ddb813810cb2f36f8</string>
		<key>OpenSourceURL</key>
		<string>http://xcb.freedesktop.org/dist/libxcb-1.7.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.7</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://xcb.freedesktop.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libxkbfile</string>
		<key>OpenSourceSHA1</key>
		<string>0fed539ffbc05859bc666b425fafa42e046bef5f</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libxkbfile-1.0.7.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.7</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2006-12-01</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libxkbui</string>
		<key>OpenSourceSHA1</key>
		<string>bd6f1d6fa390d3fee118f9d5b15e156315576b9f</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libxkbui-1.0.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXmu</string>
		<key>OpenSourceSHA1</key>
		<string>81876a0848070bfc4476a2538fc16898eb6d96cd</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXmu-1.1.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-01-15</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXp</string>
		<key>OpenSourceSHA1</key>
		<string>9c76823c7cfcb43f097963d0c930dcc4e38807a8</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXp-1.0.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXpm</string>
		<key>OpenSourceSHA1</key>
		<string>38258a1d589d3f157e0338d0fd13eec11bc4a39b</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXpm-3.5.9.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>3.5.9</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-29</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXrandr</string>
		<key>OpenSourceSHA1</key>
		<string>8e89622b0656cb2eb22c1f3c646c797dc648ead5</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXrandr-1.3.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.3.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-06-14</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXrender</string>
		<key>OpenSourceSHA1</key>
		<string>65bd96dc17da6b064f95109da02d9c9d14cb06dc</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXrender-0.9.6.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>0.9.6</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-29</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXres</string>
		<key>OpenSourceSHA1</key>
		<string>d3a36f9b6ae430da91f2cbae409916f605074195</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXres-1.0.5.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.5</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXScrnSaver</string>
		<key>OpenSourceSHA1</key>
		<string>3c29e2222fd68e26e408234c51c6d8b2edf6ab19</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXScrnSaver-1.2.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.2.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-03-10</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXt</string>
		<key>OpenSourceSHA1</key>
		<string>a29a97f8521bdc7a95364e163f0ce474de572ae5</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXt-1.1.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2006-12-01</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXTrap</string>
		<key>OpenSourceSHA1</key>
		<string>3ed2d68e7bfcb065cd6e9d6b1e38044f2fb355c9</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXTrap-1.0.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXtst</string>
		<key>OpenSourceSHA1</key>
		<string>9fb06ed599caf7f9e7115cbbfadf02b47c17aa72</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXtst-1.2.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.2.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXv</string>
		<key>OpenSourceSHA1</key>
		<string>9ebb6d7936a7b247b9b0f6dc81def39a18e4214c</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXv-1.0.6.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.6</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-08-15</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXvMC</string>
		<key>OpenSourceSHA1</key>
		<string>4ace7e7ce6b646b5715b2efa561affc89bc87f91</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXvMC-1.0.6.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.6</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXxf86dga</string>
		<key>OpenSourceSHA1</key>
		<string>333a9f5c61eba896f420969561606551174645cd</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXxf86dga-1.1.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXxf86misc</string>
		<key>OpenSourceSHA1</key>
		<string>4d1923ee60a47609c0e751b9b6bb9536b3b933df</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXxf86misc-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>libXxf86vm</string>
		<key>OpenSourceSHA1</key>
		<string>2ff2d2b3c60a5c5c0cc4e0a18492d3b7168a03af</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/libXxf86vm-1.1.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-07-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>MesaGLUT</string>
		<key>OpenSourceSHA1</key>
		<string>9592ea7778b38e9b7e35532e83d0ae170af3e85e</string>
		<key>OpenSourceURL</key>
		<string>ftp://ftp.freedesktop.org/pub/mesa/7.8.2/MesaGLUT-7.8.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>7.8.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.mesa3d.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-07-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>MesaLib</string>
		<key>OpenSourceSHA1</key>
		<string>21de672a1cbe307135d7f172dc6952041a38e1c7</string>
		<key>OpenSourceURL</key>
		<string>ftp://ftp.freedesktop.org/pub/mesa/7.8.2/MesaLib-7.8.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>7.8.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.mesa3d.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-01-19</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>pixman</string>
		<key>OpenSourceSHA1</key>
		<string>9972c8f8ce484f7649d9f588168cd29f61c05c63</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/pixman-0.20.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>0.20.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.cairographics.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2009-08-27</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xcb-util</string>
		<key>OpenSourceSHA1</key>
		<string>8585a421c077382937d181b921263fac2e448d31</string>
		<key>OpenSourceURL</key>
		<string>http://xcb.freedesktop.org/dist/xcb-util-0.3.6.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>0.3.6</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://xcb.freedesktop.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2009-12-17</string>
		<key>OpenSourceLicense</key>
		<string>MPL</string>
		<key>OpenSourceProject</key>
		<string>xpyb</string>
		<key>OpenSourceSHA1</key>
		<string>1fbb6a128e8c46321e1a5197c6c55c0b884c28fa</string>
		<key>OpenSourceURL</key>
		<string>http://xcb.freedesktop.org/dist/xpyb-1.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://xcb.freedesktop.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xtrans</string>
		<key>OpenSourceSHA1</key>
		<string>99f019a6e6d4d2b8274c4a27f9c8482c7fc64e85</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/lib/xtrans-1.2.6.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.2.6</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
</array>
</plist>
