列表<em>%(listname)s</em> 中有需要您处理的用户请求。
首先您应到用户请求网页查询相关讯息。

<p>若属于订阅的申请，请选择 <b>Refuse</b> 拒绝，或
<b>Subscribe</b> 接受。
如果您拒绝订阅的申请，您可以在对话框中陈述拒绝订阅的理由。

<p>若属于待处理的信件，请选择

<ul>
<li><b>Defer</b> - 暂缓决定。您还不想处理这些信件。
<li><b>Approve</b> - 把信件发到列表中。
<li><b>Reject</b> - 退信并向寄信人简短说明退信原因，该信件不会发入列表。
<li><b>Discard</b> - 直接丢弃，此选项对于垃圾邮件十分有用。
</ul>

<p>如果信件是给管理员，如果您要存一份副本时，将 <b>Preserve</b> 选项打开。
这选项对骂人的信件很有用 。  如果您想将信件转寄不在此列表的人士，将 
<b>Forward to</b> 选项打开，并填上转信地址。

<p>当您完成工作，请按在网页上方或下方的 <em>Submit All Data</em> 按钮
以便执行您的决定。如果您不想现在作决定，请勿按此钮。 稍候您可以再决定。
