<!-- $Revision: 1.1.1.1 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> 相关信息 </TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000">关于 <MM-List-Name> 列表</FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> 想查看本列表中的旧信，请访问 <MM-Archive><MM-List-Name>
		  档案室</MM-Archive>。
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">使用 <MM-List-Name> 列表</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  想在列表发言，请寄到 <A
HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>。

	  <p>在下面的网页可让您可以加入这个列表，或变更订阅设定。
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">加入 <MM-List-Name> 列表</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	    欲加入(订阅) <MM-List-Name> 列表请填好下列资料。
	  <MM-List-Subscription-Msg>
	  <ul>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">您的 E-Mail:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
	<TD COLSPAN="3"><FONT SIZE=-1>
     你 必 须 输 入 一 个 私 人 密 码 以 供 取 消 订 阅 或 其 他 相 关 设 定 的
权 力 。 <b> 请 勿 使 用 有 价 值 的 密 码</b> ! 因 为 偶 尔 可 能 将 密 码 以
明 码 的 方 式 邮 寄 给 您。
	    <MM-Reminder>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">输入密码:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">确认输入密码:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd"> 您使用的语言?</TD> 
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <tr>
	<td>你 想 以 每 日 摘 要 的 形 式 收 信 吗 ? 
	  </td>
	<td><MM-Undigest-Radio-Button> No
	    <MM-Digest-Radio-Button>  Yes
	</TD>
      </tr>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000"><MM-List-Name> 订 阅 者 </FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
