<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>RubyGems</string>
        <key>OpenSourceVersion</key>
        <string>1.3.5</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://rubyforge.org/projects/rubygems</string>
        <key>OpenSourceURL</key>
        <string>http://rubyforge.org/frs/download.php/45905/rubygems-1.3.1.tgz</string>
        <key>OpenSourceSHA1</key>
        <string>c61577157903e08e5a0dcab7a65b89fb0f1e56b0</string>
        <key>OpenSourceImportDate</key>
        <string>2009-12-10</string>
        <key>OpenSourceLicense</key>
        <string>Other</string>
        <key>OpenSourceLicenseFile</key>
        <string>rubygems.txt</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>fixed default gem executable install directory to /usr/bin (as Config::CONFIG['bindir'] points within the Ruby framework)</string>
	</array>
</dict>
</array>
</plist>
