<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>perl</string>
	<key>OpenSourceVersion</key>
	<string>5.8.9</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.perl.com/</string>
	<key>OpenSourceURL</key>
	<string>ftp://ftp.cpan.org/pub/CPAN/src/perl-5.8.9.tar.bz2</string>
	<key>OpenSourceMD5</key>
	<string>1cb52a76ce77fa300218da96577793ec</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>changes to build under XBS</string>
		<string>prepend and append paths to @INC, using /Library/Perl/%lt;version%gt;/PrependToPath and /Library/Perl/%lt;version%gt;/AppendToPath</string>
		<string>Config returns the correct sizes for both 32 and 64-bit</string>
		<string>initial dtrace probe support</string>
		<string>added new /Library/Perl/Updates/%lt;version%gt; directory that comes before the system perl directories in the module search order; installprivlib and installarchlib now point to this Updates directory</string>
	</array>
	<key>OpenSourceLicense</key>
	<string>Artistic</string>
	<key>OpenSourceLicenseFile</key>
	<string>perl.txt</string>
</dict>
</plist>
