IO_USB_MASS_STORAGE_CLASS_MODULE_VERSION = 4.0.4
IO_USB_MASS_STORAGE_CLASS_VERSION_COPYRIGHT = $IO_USB_MASS_STORAGE_CLASS_MODULE_VERSION, Copyright Apple Inc. 1999-2016

BUILD_VARIANTS[sdk=macosx*] = normal kasan
BUILD_VARIANTS[sdk=iphoneos*] = normal kasan
CODE_SIGN_IDENTITY = -
OTHER_CFLAGS_kasan = $(KASAN_DEFAULT_CFLAGS)
