
/* Catch-all */
* { display: inline; }

/*
 * Headers
 */
bookinfo, bookinfo > *,
articleinfo, articleinfo > * {
	display: block;
}

address > * {
	display: block;
}

copyright {
	margin: 0.5cm;
	text-align: center;
	font-weight: bold;
}

year:before {
	content: "Copyright \00a9 ";
}

phone:before {
	content: "Tel: ";
}

fax:before {
	content: "Fax: ";
}

email:before {
	content: "Email: ";
}

address *,
authorgroup * {
	text-align: center;
	display: block;
}

productname {
	display: none;
}

/*
 * Basic elements
 */
set, book, article, preface, chapter, appendix, bibliography,
section, sect1, sect2, sect3, sect4, sect5,
title, subtitle, simpara, para,
itemizedlist, orderedlist, glosslist, glossentry, glossterm, variablelist,
mediaobject, imageobject, imagedata, caption, example, informalexample, screen, programlisting, footnote
{
	display: block;
	font-family: serif;
}

para {
	text-align: justify;
}

set {
/*
	background-image: url("citeclogo.png");
*/
	background-color: white;
	background-repeat: no-repeat;
	color: black;
	padding-top: 60px;
}

set, book, article {
	margin-right: 0pt;
	padding-right: 0pt;
}

book:before, article:before {
/*
	content: url(citec-globe.png);
*/
}

glossentry, varlistentry {
	padding-left: 2em;
}

glossdef,
glossdef > para {
	display: inline;
	margin-left: 0pt;
}

varlistentry > listitem {
	display: block;
}

varlistentry > term {
	margin-right: 1em;
	position: relative;
	left: -2em;
}

glossterm {
	margin-right: 1em;
	position: relative;
	left: -1em;
}

sect1, sect2, sect3, sect4, sect5, section, para, itemizedlist, orderedlist, variablelist {
	margin: 0.5em;
	margin-right: 0pt;
	padding: 0.5em;
	padding-right: 0pt;
}

sect2 {
	margin-top: 3ex;
	padding-top: 0pt;
	margin-bottom: 3ex;
	padding-bottom: 0pt;
}

sect2 {
	margin-left: 0.5em;
	padding-left: 0.5em;
	border-left: 10px solid lightgrey;
}

title {
	display: block;
	font-family: sans-serif;
	font-size: larger;
	font-weight: bold;
	text-align: left;
}

example * {
	background-color: transparent;
	color: #8b0000;
	font-weight: normal;
}

example literallayout {
	background-color: transparent;
	color: black;
}

example > title {
	font-size: medium;
	text-decoration: underline;
	margin-bottom: 1ex;
}

example > title:after {
	content: ":";
}

book > * > title,
article > * > title {
	font-size: xx-large;
}

book > * > * > title,
article > * > * > title {
	font-size: x-large;
}

book > * > * > * > title,
article > * > * > * > title {
	font-size: large;
	font-weight: bold;
}

book > * > * > * > * > title,
article > * > * > * > * > title {
	font-size: larger;
	font-weight: normal;
}

book > * > * > * > * > * > title,
article > * > * > * > * > * > title {
	font-size: medium !important;
	font-weight: normal !important;
}

title + subtitle {
	display: block;
	font-weight: bold;
	font-size: smaller;
}

book > title,
article > title,
book > subtitle,
article > subtitle {
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
	padding-top: 1ex;
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 1ex;
	margin-bottom: 1ex;
}

book > subtitle,
article > subtitle {
	font-size: x-large;
	font-style: italic;
}

preface, chapter, appendix, bibliography {
	padding: 1em;
	padding-top: 2ex;
	border-top: 8px solid #bebebe;
	page-break-before: always;
}

preface:before {
	content: "Preface:";
	font-size: large;
	font-style: italic;
}

appendix:before {
	content: "Appendix:";
	font-size: large;
	font-style: italic;
}

preface > *, chapter > *, appendix > *, bibliography > * {
	margin-right: 1em;
}

itemizedlist > *,
orderedlist > * {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

itemizedlist > listitem,
orderedlist > listitem {
	display: list-item;
	position: relative;
	left: 1em;
}

varlistentry {
	display: list-item;
	list-style-type: none;
}

listitem > para {
	margin: 0pt !important;
	padding: 0pt !important;
}

itemizedlist > listitem > itemizedlist > listitem {
	list-style-type: circle;
}

orderedlist > listitem {
/*	list-style-type: decimal; */
	list-style-type: square;
}

glossterm, term {
	font-weight: bold;
}

note, note * {
	color: #505000;
	background-color: transparent;
}

note {
	display: block;
	margin: 1em;
	padding: 0.3em;
	border: 2px dotted #505000;
}

quote {
	font-style: italic;
}

mediaobject {
	text-align: center;
}

entry[morerows] {
	background-color: lightgreen;
	color: black;
	font-weight: bold;
}

entry {
	font-family: sans-serif;
}

thead entry {
	font-weight: bold;
	font-size: larger;
	background-color: #bebebe;
	color: white;
}

superscript {
	vertical-align: super;
	font-size: smaller;
}

emphasis {
	font-style: italic;
}

@media print {
  	ulink:after {
		content: " [URL: " attr(url) "]";
	}
}

computeroutput, userinput {
	font-family: monospace;
	font-weight: bold;
	text-align: left;
	white-space: inherit;
}

literallayout, programlisting {
	font-family: monospace;
	white-space: pre;
}

informalexample, example, programlisting {
	border: 2px dotted darkred;
	padding: 0.5em;
	margin: 0.5em;
}

footnote {
	float: right;
	width: 50%;
	font-size: smaller;
	margin: 0.5em;
	margin-right: 0pt;
	padding: 0.5em;
	border: 1px solid darkred;
}

footnote > * {
	margin: 0pt;
	padding: 0pt;
}

programlisting, example {
	clear: right;
}

/* ---------------------------------- */
abbrev, accel, acronym, action, application, artpagenums, authorinitials, 
bibliocoverage, biblioid, bibliomisc, bibliorelation, bibliosource, citation, 
citebiblioid, citerefentry, citetitle, city, classname, co, command, 
computeroutput, constant, coref, country, database, date, email, emphasis, 
envar, errorcode, errorname, errortext, errortype, exceptionname, fax, 
filename, firstname, firstterm, funcdef, funcparams, function, group, 
guibutton, guiicon, guilabel, guimenu, guimenuitem, guisubmenu, hardware, 
honorific, initializer, inlineequation, inlinegraphic, inlinemediaobject, 
interface, interfacename, invpartnumber, isbn, issn, keycap, keycode, 
keycombo, keysym, lineage, lineannotation, link, literal, markup, medialabel, 
member, menuchoice, methodname, methodparam, modifier, mousebutton, olink, 
ooclass, ooexception, oointerface, option, optional, orgdiv, orgname, 
otheraddr, othername, pagenums, paramdef, parameter, phone, phrase, pob, 
postcode, productname, productnumber, prompt, property, pubdate, pubsnumber, 
quote, refpurpose, replaceable, returnvalue, revnumber, seriesvolnums, 
sgmltag, shortcut, state, street, structfield, structname, subscript, 
superscript, surname, symbol, systemitem, token, trademark, type, ulink, 
userinput, varname, volumenum, wordasword, year {
	display:inline;
}

abstract, ackno, address, answer, appendix, article, attribution, authorblurb, 
bibliodiv, biblioentry, bibliography, bibliomixed, bibliomset, biblioset, 
blockquote, book, callout, calloutlist, caption, caution, chapter, 
cmdsynopsis, colophon, constraintdef, dedication, epigraph, equation, example, 
figure, formalpara, glossary, glossdef, glossdiv, glossentry, glosslist, 
graphic, graphicco, highlights, imageobjectco, important, index, indexdiv, 
indexentry, informalequation, informalexample, informalfigure, informaltable, 
itemizedlist, legalnotice, listitem, lot, lotentry, mediaobject, 
mediaobjectco, msg, msgentry, msgexplan, msgmain, msgset, note, orderedlist, 
para, part, partintro, personblurb, preface, primaryie, printhistory, 
procedure, productionset, programlistingco, qandadiv, qandaentry, qandaset, 
question, refentry, refentrytitle, reference, refnamediv, refsect1, refsect2, 
refsect3, refsection, refsynopsisdiv, revhistory, screenco, screenshot, 
secondaryie, sect2, sect3, sect4, sect5, section, seealsoie, seeie, set, 
setindex, sidebar, simpara, simplemsgentry, simplesect, step, substeps, 
subtitle, synopfragment, synopfragmentref, table, term, tertiaryie, tip, 
title, toc, tocback, tocchap, tocentry, tocfront, toclevel1, toclevel2, 
toclevel3, toclevel4, toclevel5, tocpart, variablelist, varlistentry, warning, 
sect1 {
	display:block;
}

appendixinfo, area, areaset, areaspec, articleinfo, bibliographyinfo, 
blockinfo, bookinfo, chapterinfo, colspec, glossaryinfo, indexinfo, itermset, 
modespec, objectinfo, partinfo, prefaceinfo, primary, refentryinfo, 
referenceinfo, refmeta, refsect1info, refsect2info, refsect3info, 
refsectioninfo, refsynopsisdivinfo, screeninfo, secondary, sect1info, 
sect2info, sect3info, sect4info, sect5info, sectioninfo, see, seealso, 
setindexinfo, setinfo, sidebarinfo, spanspec, tertiary {
	display:none;
}

classsynopsisinfo, funcsynopsisinfo, literallayout, programlisting, screen, 
synopsis {
	white-space:pre;
	font-family:monospace;
	display:block;
}
/*
 * CSS2 styling for DocBook XML
 */

article, book {
	margin:.5em;
}

title {
	font-weight:bolder;
	margin-top:1em;
	margin-bottom:.5em;
	font-family:sans-serif;
}
section>* {
	margin-left:10%;
	margin-right:10%;
}
section>section, section>title {
	margin-left:0;
	margin-right:0;
}

book>title, article>title {
	font-size:xx-large;
	text-align:center;
	border-bottom-style:solid;
}

chapter>title {
	font-size:xx-large;
	text-align:center;
}

section>title {
	font-size:xx-large;
}

section>section>title {
	font-size:x-large;
	margin-left:5%;
}

section>section>section>title {
	font-size:large;
	margin-left:7.5%;
}

section>section>section>section>title {
	margin-left:10%;
}

section>section>section>section>section>title {
	font-size:normal;
	margin-left:10%;
}


*+para {
	margin-top:.5em;
}

example, informalexample {
	background-color:#dddddd;
}

quote:before {
	content: open-quote;
}

quote:after {
	content: close-quote;
}

question, answer {
	margin-top:.5em;
	display:list-item;
}

question>para, answer>para {
	display:inline;
}

question:before {
	display:marker;
	content:"Q: ";
	font-weight:bolder;
}

answer:before {
	display:marker;
	content: "A: ";
	font-weight: bolder;
}

emphasis {
	font-style:italic;
}

sgmltag[class="starttag"]:before {
	content: "<"
}

sgmltag[class="starttag"]:after {
	content: ">"
}

sgmltag[class="endtag"]:before {
	content: "</"
}

sgmltag[class="endtag"]:after {
	content: ">"
}

keycap+keycap:before {
	content:"-"
}

ulink {
	color:#0000ff;
	text-decoration:underline;
}
ulink:hover {
	cursor:pointer;
}

blockquote {
	padding-left:3em;
}

attribution {
	text-align:right;
}
attribution:before {
	content:"--"
}

itemizedlist>listitem {
	display:list-item;
}

filename, literal {
	font-family:monospace;
}

/* EOF. */
