<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comment</key>
	<array>
		<string>Group membership calculated by system</string>
	</array>
	<key>generateduid</key>
	<array>
		<string>ABCDEFAB-CDEF-ABCD-EFAB-CDEF00000033</string>
	</array>
	<key>gid</key>
	<array>
		<string>51</string>
	</array>
	<key>name</key>
	<array>
		<string>interactusers</string>
	</array>
	<key>passwd</key>
	<array>
		<string>*</string>
	</array>
	<key>realname</key>
	<array>
		<string>Interactive Users</string>
	</array>
	<key>smb_sid</key>
	<array>
		<string>S-1-5-4</string>
	</array>
</dict>
</plist>
