<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<true/>
	<key>Label</key>
	<string>org.samba.smbd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/sbin/smbd</string>
		<string>-F</string>
	</array>
	<key>TimeOut</key>
	<integer>600</integer>
	<key>Sockets</key>
	<dict>
		<key>netbios</key>
		<dict>
			<key>SockServiceName</key>
			<string>netbios-ssn</string>
			<key>SockFamily</key>
			<string>IPv4</string>
		</dict>
		<key>direct</key>
		<dict>
			<key>SockServiceName</key>
			<string>microsoft-ds</string>
			<key>SockFamily</key>
			<string>IPv4</string>
			<key>Bonjour</key>
			<array>
				<string>smb</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
