Os pedidos administrativos são mostrados usando uma de duas formas,
numa <a href="%(summaryurl)s">página de sumário</a> ou numa página
<em>detalhadas</em>.  A página de sumário contém as inscrições
pendentes e pedidos de anulação de inscrição, bem como mensagens que
requerem a sua aprovação, agrupada por endereço de email do
remetente. A página detalhada contém uma visualização mais detalhada
de cada mensagem em espera, incluindo todos os cabeçalhos da mensagem
com excepção do corpo da mensagem.

<p>Em todas as páginas, as seguintes acções estão disponíveis:

<ul>
<li><b>Adiar</b> -- Adia sua decisão até mais tarde. Nenhuma acção é
    tomada agora para este pedido administrativo, mas para mensagens
    aguardando aprovação, pode ainda encaminhar ou preservar a 
    mensagem (ver abaixo).

<p><li><b>Aprovar</b> -- Aprova a mensagem, enviando-a para a lista.
    Para pedidos de membros, aprova a mudança no estatuto  do 
    membro.

<p><li><b>Rejeitar</b> -- Rejeita a mensagem, enviando um aviso de 
    rejeição ao remetente e ignorando a mensagem original. 
    Para pedidos de membros, rejeita a modificação no seu estatuto.
    Em ambos os casos, deve incluir uma razão para esta recusa na 
    caixa de texto.

<p><li><b>Ignorar</b> -- Ignora a mensagem original, sem enviar uma 
    notificação de rejeição. Para pedidos de membros, isto 
    simplesmente ignora o pedido sem avisar a pessoa que 
    enviou a mensagem. Esta é, normalemnte, a acção que deseja tomar
    para trabalhar com spamerss conhecidos.
</ul>

<p>Para mensagens aguardando aprovação, ligue a opção <b>Preserve</b> 
se deseja guardar uma cópia da mensagem para o administrador do site. 
Isto é útil para mensagens abusivas que deseja que sejam ignoradas, 
mas das quais deseja manter um registo para inspecção posterior. 
<p>Ligue a opção <b>Forward to</b> e preencha o endereço de 
redirecionamento se desejar encaminhar a mensagem para alguém 
que não esteja na lista. Para editar uma mensagem em espera antes 
de ser enviada para a lista, deve redirecionar a mensagem 
para você mesmo (ou para os donos da lista) e ignorar a mensagem
original. Quando ler a mensagem na sua caixa 
de correio, faça suas modificações e reenvie a mensagem para a 
lista, incluindo um cabeçalho <tt>Approved:</tt> com a password
da lista como seu valor. Uma netiqueta apropriada para este caso é 
incluir uma nota na mensagem reenviada, explicando que 
modificou o texto. 

<p>Caso o remetente seja membro da lista que está sendo moderado, 
pode, opcionalmente, desactivar a sua opção de moderação. Isto é 
útil quando sua lista estiver configurada para colocar novos 
membros em proibição, e decidiu que pode confiar neste membro 
para ele enviar mensagens sem aprovação.

<p>Caso o remetente não seja o membro da lista, pode
adicionar o endereço de email ao <em>sender filter</em>. Os 
 Sender filters são descritos na <a
href="%(filterurl)s">página de privacidade de filtragem de remetentes</a>, 
e pode corresponder a uma das seguintes opções <b>auto-aceitar</b> (Aceita), 
<b>auto-bloqueia</b> (Bloqueia), <b>auto-rejeita</b> (Rejeita), ou 
<b>auto-descarta</b> (Descarta).  Esta opção não estará disponível 
se o endereço já é um dos filtros do remetente.

<p>Quando terminar, clique no botão <em>Enviar Todos os Dados</em> 
no topo ou rodapé da página. Este botão enviará todas as acções 
selecionadas para todas os pedidos administrativos que 
tratou. 

<p><a href="%(summaryurl)s">Voltar à página de sumário</a>.

