Esta página contém um sumário dos pedidos administrativos da lista
<a href="%(adminurl)s">lista <em>%(listname)s</em></a>  que 
requerem a sua autorização. Em primeiro lugar encontra a lista de pedidos
de inscrição ou de anulação pendentes, se exitirem, seguida das eventuais
mensagens suspensas para sua aprovação.

<p>Seleccione a acção a tomar em relação a cada pedido administrativo
e carregue em <b>Submeter toda a informação</b> quando tiver terminado.
<a href="%(detailsurl)s">Instruções mais detalhadas</a> estão também
disponíveis aqui</a>.

<p>Se preferir pode <a href="%(viewallurl)s">ver os detalhes</a> de todas 
as mensagens suspensas.
