<html>
<head>
  <title>%(listname)s %(who)s Authentication</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(listname)s %(who)s
	    Authentication</FONT></B>
      </TD>
    </TR>
    <tr>
      <TD><div ALIGN="Right">List %(who)s Password:</div></TD>
      <TD><INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle><INPUT type="SUBMIT"
                                        name="admlogin"
					value="Let me in...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Importante:</em></strong> A partir de agora o seu 
      browser tem de estar configurado para permitir cookies, se não
      o fizer as alterações administrativas não terão efeito.
      
      <p>São utilizadas Cookies, a nível da sessão, na interface
       administrativa do Mailman, de forma a não ter que reautenticar 
       cada operação. A cookie expira automaticamente quando termina o
       browser, ou pode expirá-la explicitamente carregando no link 
       <em>Sair</em> em <em>Outras actividades administrativas</em>, o 
       qual poderá ver depois de autenticar-se.
</FORM>
</body>
</html>
