<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>Arquivo %(archive)s de %(listname)s por %(archtype)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
      <a name="start"></A>
      <h1>%(archive)s Arquivos por %(archtype)s</h1>
      <ul>
         <li> <b>Mensagens ordenadas por:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s

	     <li><b><a href="%(listinfo)s">Mais informação sobre esta lista...
                    </a></b></li>
      </ul>
      <p><b>Início:</b> <i>%(firstdate)s</i><br>
         <b>Fim:</b> <i>%(lastdate)s</i><br>
         <b>Mensagens:</b> %(size)s<p>
     <ul>
