Este texto pode incluir
<a href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">strings 
de formatação em Python</a> as quais são resolvidas em relação à lista de
atributos ??????? atributos da lista.
As substituições permitidas são:

<ul>
    <li><b>real_name</b> - O nome `bonito' da lista; normalmente
    é o nome da lista com alguma capitalização.

    <li><b>list_name</b> - O nome pelo qual a lista é
    identificada em URLs, as quais são sensíveis à capitalização.

    <li><b>host_name</b> - O nome completo do servidor onde 
    corre o servidor da lista.

    <li><b>web_page_url</b> - A URL base do Mailman. A ela
    pode-se acrescentar, por exemplo,
    <em>listinfo/%(list_name)s</em> para obter a página de
    informações da lista.

    <li><b>description</b> - Uma breve descrição da lista
    de discussão.

    <li><b>info</b> - A descrilção completa.

    <li><b>cgiext</b> - A extensão utilizada em scripts CGI.
</ul>
