<!-- $Revision: 6335 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User> configuração de utilizador em <MM-List-Name>
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-List-Name>, configuração para o utilizador
        <MM-Presentable-User>
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        Estado da inscrição de <b><MM-Presentable-User></b>,
        password e opções para a lista <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Alterar a informação de membro em <MM-List-Name></B>
        </FONT></TD></TR>
    <tr><td colspan="2">Pode alterar o endereço que utiliza, introduzindo 
        o novo endereço nos campos seguintes. Note que uma mensagem de 
	confirmação será enviada para o novo endereço e a alteração tem de
	ser confirmada antes de se tornar efectiva.

        <p>As confirmações expiram ao fim de aproximadamente <mm-pending-days> dias.

        <p>Também pode, se desejar, introduzir ou alterar o seu nome real
        (por exemplo <em>John Smith</em>).

        <p>Se deseja fazer alterações em todas as listas em que está inscrito
	em <mm-host>, active a opção <em>Alterar globalmente</em>.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Novo endereço:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Confirmação:</div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">O seu nome
            (opcional):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Alterar globalmente</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Cancelar a inscrição em <MM-List-Name></B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>As suas outras inscrições em <MM-Host></B>
        </FONT></TD></TR>

    <tr><td>
        Active esta opção e clique neste botão para cancelar a sua 
	inscrição nesta lista. <strong>Aviso:</strong> Esta acção será
	activada imediatamente!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
	Pode ver quais as listas de que é membro em <mm-host>. Utilize 
	esta opção se deseja fazer as mesmas alterações em todas 
        essas listas.

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>A sua password em <MM-List-Name></B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Esqueceu-se da Password?</h3>
        </center>
        Clique neste botão para receber a password no seu endereço de
	membro.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Alterar a Password</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Nova
                password:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Confirmação:
                </div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Alterar globalmente.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>As suas opções de membro em <MM-List-Name></B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>Os valores activos estão marcados.</strong></i>

<p>Note que algumas opções têm uma opção <em>Alterar globalmente</em>.  
Activar este campo faz com que as alterações sejam feitas em todas as
listas de que é membro em <mm-host>. Clique em
<em>Listar outras inscrições</em> para ver quais as listas em que 
está inscrito.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Entrega de correio</strong></a><p>
        <em>Active</em> para receber as mensagens enviadas para a lista.
        <em>Desactive</em> se deseja permanecer inscrito, mas não quer,
	de momento, receber mensagens (por exemplo quando for de férias).
	Se desactivar a entrega de mensagens não se esqueça de a 
        reactivar quando voltar.
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Activa<br>
        <mm-delivery-disable-button>Inactiva<p>
        <mm-global-deliver-button><i>Alterar globalmente</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Escolher modo digest</strong><p>
        Se activar o modo digest receberá as mensagens agrupadas 
        (normalmente uma por dia, mas por vezes mais em listas muito activas),
        em vez de as ir recebendo à medida que são enviadas. Depois de
	desactivar o modo digest ainda pode receber mais uma mensagem dessas.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Inactivo<br>
        <MM-Digest-Radio-Button>Activo
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Receber os digests em formato MIME ou em texto simples?</strong><p>
        O seu programa de correio pode não suportar digests em formato MIME.
        Regra geral digests em formato MIME são preferíveis, mas, 
        se tiver problemas a lê-los, escolha texto simples.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Texto simples<p>
        <mm-global-mime-button><i>Alterar globalmente</i>
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Receber as suas mensagens para a lista?</strong><p>
        Normalmente recebe uma cópia das mensagens que envia para a lista.
        Se não a desejar receber escolha a opção <em>Não</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Não<br>
        <mm-receive-own-mail-button>Sim
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Receber mensagem de confirmação quando envia mensagens 
        para a lista?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Não<br>
        <mm-ack-posts-button>Sim
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Receber lembrete da password desta lista?</strong><p>
        Uma vez por mês, receberá uma mensagem com a sua password em 
        cada lista em que está inscrito neste computador. Pode desactivar
        esta opção, seleccionando <em>Não</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Não<br>
        <mm-get-password-reminder-button>Sim<p>
        <mm-global-remind-button><i>Alterar globalmente</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Deseja não aparecer na lista de inscritos?</strong><p>
        Quando alguém vê a lista de inscritos o seu endereço é normalmente
        apresentado (de uma maneira indirecta, para dificultar o trabalho
        aos coleccionadores de endereços). Se deseja que o seu endereço não
        apareça de todo na lista de membros seleccione <em>Sim</em>.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Não<br>
        <MM-Hide-Subscription-Button>Sim
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Que idioma prefere?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Que tópicos lhe interessam?</strong><p>
                Ao seleccionar um ou mais tópicos pode filtrar o tráfego 
		que recebe da lista, de forma a só receber algumas 
                mensagens. Se um dos tópicos da mensagem for um dos 
                por si escolhidos ser-lhe-á 
                enviada.

                <p>se não mensagem não tiver nenhum tópico a regra de 
                entrega depende da opção seguinte. Se não escolher 
                nenhum tópico recebera todas as mensagens da lista.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Deseja receber mensagens que não correspondam a nenhum
		tópico?</strong><p>

                Esta opção só é útil se tiver seleccionado pelo menos
                um tópico. Ela decide o que acontece às mensagens que
		não correspondem a nenhum tópico. Se seleccionar <em>Não</em>
                implica que se uma mensagem não corresponder a nenhum dos
                tópicos ela não lhe será enviada, enquanto seleccionar
                <em>Sim</em> quer dizer que deseja receber essas mensagens
                "sem tópico".

                <p>Se não seleccionar nenhum tópico receberá todas as
                mensagens enviadas para a lista.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Não<br>
        <mm-receive-nonmatching-topics>Sim
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Evitar duplicação de mensagens?</strong><p>

                Quando estiver indicado explicitamente nos <tt>To:</tt> ou
                <tt>Cc:</tt> de uma mensagem enviada para a lista pode 
                escolher se também a deseja receber através da lista.
                Seleccione <em>Sim</em> para evitar receber cópia através
                da lista; seleccione <em>Não</em> para receber cópias.

                <p>Se a lista tiver activa a opção para personalizar 
                mensagens e escolher receber cópias, a cada cópia será 
                acrescentado um cabeçalho  <tt>X-Mailman-Copy: yes</tt>.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Não<br>
        <mm-dont-receive-duplicates-button>Sim<p>
        <mm-global-nodupes-button><i>Alterar globalmente</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
