<plist version="1.0">
<array>
<dict>
    <key>OpenSourceProject</key>
    <string>ruby</string>
    <key>OpenSourceVersion</key>
    <string>1.8.7-p174</string>
    <key>OpenSourceWebsiteURL</key>
    <string>http://www.ruby-lang.org/</string>
    <key>OpenSourceURL</key>
    <string>ftp://ftp.ruby-lang.org/pub/ruby/1.8/ruby-1.8.7-p174.tar.gz</string>
    <key>OpenSourceSHA1</key>
    <string>f98f5e03121c9614defc6aa6da63ab265d5d6480</string>
    <key>OpenSourceImportDate</key>
    <string>2010-04-11</string>
    <key>OpenSourceLicense</key>
    <string>Other</string>
    <key>OpenSourceLicenseFile</key>
    <string>ruby.txt</string>
    <key>OpenSourceModifications</key>
    <array>
        <string>remove -lobjc link</string>
        <string>use dlsym</string>
        <string>ruby configure test for endianness fails</string>
        <string>disable -static in rbconfig</string>
        <string>make [md5|sha1].bundle using CommonCrypto instead of OpenSSL</string>
        <string>all libraries are compiled 4-way fat (i386, ppc, x86_64 and ppc64) but the tk extension, and the ruby command line binary is kept 2-way fat (i386 and ppc) for compatibility purposes</string>
        <string>emit DTrace static probes when entering/leaving a Ruby method</string>
    </array>
</dict>
</array>
</plist>
