<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2018-05-12</string>
	<key>OpenSourceLicense</key>
	<string>ruby</string>
	<key>OpenSourceLicenseFile</key>
	<string>ruby.txt</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>disable -static in rbconfig</string>
		<string>Use SDKROOT / xcrun to find set RbConfig::CONFIG["includedir"]</string>
		<string>Change default bindir for gems to /usr/local/bin</string>
		<string>Include/Link with LibreSSL</string>
	</array>
	<key>OpenSourceProject</key>
	<string>ruby</string>
	<key>OpenSourceSHA256</key>
	<string>c61f8f2b9d3ffff5567e186421fa191f0d5e7c2b189b426bb84498825d548edb</string>
	<key>OpenSourceURL</key>
	<string>https://cache.ruby-lang.org/pub/ruby/2.3/ruby-2.3.7.tar.xz</string>
	<key>OpenSourceVersion</key>
	<string>2.3.7</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.ruby-lang.org/</string>
</dict>
</plist>
