<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2022-06-07</string>
	<key>OpenSourceLicense</key>
	<string>ruby</string>
	<key>OpenSourceLicenseFile</key>
	<string>ruby.txt</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>disable -static in rbconfig</string>
		<string>Use SDKROOT / xcrun to find set RbConfig::CONFIG["includedir"]</string>
		<string>Change default bindir for gems to /usr/local/bin</string>
		<string>Include/Link with LibreSSL</string>
		<string>Use runtime architecture for RbConfig::CONFIG["host*"] (82712310)</string>
		<string>ruby/gems/did_you_mean-1.3.0/.gitignore: don't exclude build essentials (120577094)</string>
	</array>
	<key>OpenSourceProject</key>
	<string>ruby</string>
	<key>OpenSourceSHA256</key>
	<string>0dc609f263d49c4176d5725deefc337273676395985b5e017789373e8cadf16e</string>
	<key>OpenSourceURL</key>
	<string>https://cache.ruby-lang.org/pub/ruby/2.6/ruby-2.6.10.tar.gz</string>
	<key>OpenSourceVersion</key>
	<string>2.6.10</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.ruby-lang.org/</string>
</dict>
</plist>
