<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2008-07-23</string>
		<key>OpenSourceLicense</key>
		<string>GPL</string>
		<key>OpenSourceLicenseFile</key>
		<string>LICENSE.txt</string>
		<key>OpenSourceMD5</key>
		<string></string>
		<key>OpenSourceModifications</key>
		<array>
			<string>CUPS STR #2887: cupstestppd incorrectly looks for "en" base translation</string>
			<string>rdar://problem/6190157: 10.5.5 Regression: CrashTracer: [USER] 1 crash in Preview at com.apple.print.PrintingCocoaPDEs: -[PMCopiesPagesPDE saveValuesAndReturnError:] + 952</string>
		</array>
		<key>OpenSourceProject</key>
		<string>CUPS</string>
		<key>OpenSourceURL</key>
		<string>http://www.cups.org/software.php</string>
		<key>OpenSourceVersion</key>
		<string>1.3.8</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.cups.org/</string>
	</dict>
</array>
</plist>
