<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>Search Node PlugIn Version</key>
	<string>Search Node PlugIn Version 1.2</string>
	<key>Search Policy</key>
	<integer>1</integer>
</dict>
</plist>
