<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>mod_perl</string>
	<key>OpenSourceVersion</key>
	<string>2.0.12</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://perl.apache.org/</string>
	<key>OpenSourceURL</key>
	<string>https://dlcdn.apache.org/perl/mod_perl-2.0.12.tar.gz</string>
	<key>OpenSourceSHA256</key>
	<string>f5b821b59b0fdc9670e46ed0fcf32d8911f25126189a8b68c1652f9221eee269</string>
	<key>OpenSourceImportDate</key>
	<string>2023-09-26</string>
	<key>OpenSourceLicense</key>
	<string>Apache</string>
	<key>OpenSourceLicenseFile</key>
	<string>apache_mod_perl.txt</string>
</dict>
</plist>
