<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>mod_perl</string>
	<key>OpenSourceVersion</key>
	<string>2.0.7</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://perl.apache.org/</string>
	<key>OpenSourceURL</key>
	<string>http://perl.apache.org/dist/mod_perl-2.0.7.tar.gz</string>
	<key>OpenSourceSHA1</key>
	<string>364143b2aef3c6dae69a8a2ea5d8ea2462882cd3</string>
	<key>OpenSourceImportDate</key>
	<string>2012-12-21</string>
	<key>OpenSourceLicense</key>
	<string>Apache</string>
	<key>OpenSourceLicenseFile</key>
	<string>apache_mod_perl.txt</string>
</dict>
</plist>
