Ця сторінка містить загальний список адміністративних запитів,
що очікують вашого розгляду 
<a href="%(adminurl)s">для списку <em>%(listname)s</em></a>.
На початку йде перелік запитів на підписку та видалення підписки,
ділі йдуть повідомлення, що очікують вашого розгляду.

<p>Для кожного адміністративного запиту виберіть потрібну дію,
коли закінчите натисніть на кнопку <b>Виконати</b>.
Докладну інформацію з поясненнями 
<a href="%(detailsurl)s">ви можете знайти тут</a>.

<p>На сторінці <a href="%(viewallurl)s">подробиці</a> ви знайдете
докладну інформацію про кожне відкладене повідомлення.
