Адміністративні запити представлені двома способами, на сторінці <a
href="%(summaryurl)s">загальний список</a>, та на сторінці 
<em>подробиці</em>.  Сторінка загальний список містить
запити щодо підписки, та видалення підписки, а також 
згруповані за адресою відправника повідомлення відкладені 
для розгляду та вашого схвалення. Сторінка з подробицями містить
більш докладний список відкладених повідомлень, до списку включені	
всі заголовки та уривки з тесту кожного повідомлення,.

<p>На кожній сторінці ви можете вибрати одну з наступних дій:

<ul>
<li><b>Відкласти</b> -- Відкласти рішення.  Наразі з повідомленням,
    що очікує рішення не виконуватиметься жодних дій, але відкладені
    повідомлення можна перенаправляти та зберігати (див. нижче).

<li><b>Схвалити</b> -- Схвалити повідомлення та надіслати його 
    до списку. Для запитів стосовно членства у списку, це означатиме 
    схвалення змін у стані підписки.

<li><b>Відхилити</b> -- Відхилити повідомлення та надіслати 
     відправнику повідомлення про відмову. Оригінальне повідомлення 
    видаляється. Для запитів стосовно членства у списку, це означатиме 
    відмову у зміні стану підписки. У будь-якому випадку
    вам слід вказати причину відмови у відповідному текстовому полі.

<li><b>Відкинути</b> -- Відкинути оригінальне повідомлення,
    без надсилання повідомлення про відмову. Для запитів стосовно 
    членства у списку, це означатиме відкидання змін у стані підписки 
    без жодного сповіщення особи, що надіслала запит.
    Зазвичай цю дію використовують для відкидання спаму.
</ul>

<p>Якщо ви збираєтесь зберегти копію відкладеного повідомлення
для адміністратора серверу, відзначте параметр <b>Зберегти</b> 
Цим користуються для повідомлень які збираються відкинути,
але які потребують подальшого розгляду.

<p>Якщо ви збираєтесь переслати повідомлення іншій особі,
яка не є користувачем списку, відзначте параметр <b>Переслати до</b> 
Щоб відредагувати відкладене повідомлення перед надсиланням його
до списку, ви маєте переслати його собі (або власнику списку), та
відкинути оригінальне повідомлення. Коли повідомлення потрапить 
до вашої поштової скриньки, зробіть зміни та перешліть повідомлення 
до списку, при цьому необхідно вказати заголовок <tt>Approved:</tt> ,
значенням якого має бути пароль списку. У цьому випадку у тексті 
повідомлення слід зазначити, що ви відредагували текст.

<p>Якщо відправник є користувачем поштового списку, ви можете 
зняти ознаку модерування, це означатиме що відправник повідомлення
зможе надсилати повідомлення без додаткового схвалення. Це корисно, 
якщо у вашому списку нові користувачі мають проходити випробувальний термін,
та ви вирішили, що цей відправник його пройшов.

<p>Якщо відправник не є користувачем списку, ви можете додати його адресу у список
<em>фільтр відправників</em>.  Ці фільтри описані на сторінці
<a href="%(filterurl)s">приватна сторінка фільтру відправників</a>.
Фільтр може бути одним з
<b>auto-accept</b> (Дозволяти), <b>auto-hold</b> (Затримувати),
<b>auto-reject</b> (Відмовляти), або <b>auto-discard</b> (Відкидати).  
Цей параметр не показується, якщо адреса вже у фільтрі відправників, 

<p>Коли ви обробили всі повідомлення, натисніть кнопку <em>Виконати</em>
згори або знизу цієї сторінки.  Лише після цього 
буде виконано всі дії.

<p><a href="%(summaryurl)s">Повернутись до загального списку</a>.
