    </ul>
    <p>
      <a name="end"><b>Дата останнього повідомлення:</b></a> 
       <i>%(lastdate)s</i><br>
    <b>Архів оновлено:</b> <i>%(archivedate)s</i>
    <p>
   <ul>
         <li> <b>Сортувати за:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
	     <li><b><a href="%(listinfo)s">Докладна інформація про список листування...
                    </a></b></li>
     </ul>
     <p>
     <hr>
     <i>Цей архів було створено програмою Pipermail %(version)s.</i>
  </BODY>
</HTML>
