<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>Архів списку розсилки %(listname)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>Архів списку розсилки %(listname)s </h1>
     <p>
	До цього списку ще не було відправлено жодного повідомлення, тому
	архів порожній. Поки-що ви можете переглянути 
	<a href="%(listinfo)s">загальну інформацію про цей список розсилки</a>.
     </p>
  </BODY>
  </HTML>
