<!-- $Revision: 7344 $ -->
<HTML>
  <HEAD>
    <TITLE>Загальна інформація про список розсилки <MM-List-Name></TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000">Про список розсилки <MM-List-Name></FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> Щоб переглянути збірку попередніх повідомлень до списку,
	      відвідайте <MM-Archive>Архіви списку розсилки <MM-List-Name></MM-Archive>.
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Використання <MM-List-Name></FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	Щоб надіслати повідомлення всім користувачам списку розсилки, відправте
	його за адресою
	  <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>.

	  <p>Ви можете підписатись чи змінити параметри підписки на список
	    розсилки використовуючи наведену нижче інформацію.
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Підписатись на список розсилки <MM-List-Name></FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	    Щоб підписатись на список розсилки <MM-List-Name> заповніть наступну форму.
	  <MM-List-Subscription-Msg>
	  <ul>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">Ваша електронна адреса:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <tr>
        <td bgcolor="#dddddd" width="55%">Ваше ім'я (необов'язково):</td>
        <td width="33%"><mm-fullname-box></td>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
	<TD COLSPAN="3"><FONT SIZE=-1>Ви можете ввести пароль, це зашкодить
	іншим змінювати параметри вашої підписки. 
	 <b>Не використовуйте цінних паролей</b>, тому що паролі надсилатимуться вам
		відкритим текстом.

            <p>Якщо ви не бажаєте вводити пароль, він може бути згенерований автоматично,
		та його буде надіслано вам після підтвердження підписки.
		На сторінці параметрів вашої підписки, Ви завжди зможете 
		запитати щоб ваш пароль було надіслано вам електронною поштою.
	    <MM-Reminder>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">Вкажіть пароль:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">Вкажіть ще раз:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd">Якою мовою ви бажаєте отримувати повідомлення з сервера?</TD> 
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <mm-digest-question-start>
      <tr>
	<td>Бажаєте отримувати повідомлення у вигляді щоденних збірок?
	  </td>
	<td><MM-Undigest-Radio-Button> Так
	    <MM-Digest-Radio-Button>  Ні
	</TD>
      </tr>
      <mm-digest-question-end>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000">Користувачі списку розсилки <MM-List-Name></FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
