<!-- $Revision: 1.1.1.1 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User>: налаштування підписки на список листування <MM-List-Name>
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        Налаштування підписки <MM-Presentable-User> на список листування
	<MM-List-Name> 
         </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b>Стан підписки <MM-Presentable-User></b>,
        пароль, та налаштування підписки на список листування <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Зміна вашої підписки на список листування <MM-List-Name></B>
        </FONT></TD></TR>
    <tr><td colspan="2">Ви можете змінити адресу, куди має доставлятись підписка.
	Вкажіть її у полі нижче. Зауважте, що на нову адресу буде відправлено
	прохання підтвердити зміну адреси, без підтвердження зміни внесені не будуть.

        <p>Підтвердження підписки очікуватиметься протягом <mm-pending-days>.

        <p>Також ви можете вказати чи змінити ваше ім'я
        (наприклад, <em>Микола Петренко</em>).

        <p>Якщо ви бажаєте щоб зазначені зміни відбулись у всіх списках листування
	на сервері <mm-host>, ввімкніть параметр <em>Змінити глобально</em>.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Нова адреса:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Ще раз:</div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Ваше ім'я (необов'язково):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Змінити глобально</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Видалити підписку з <MM-List-Name></B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Інші ваші підписки на сервері <MM-Host></B>
        </FONT></TD></TR>

    <tr><td>
	Щоб відписатись від цього списку ввімкніть параметр 
	підтвердження та натисніть на цю кнопку.  
	<strong>Увага:</strong>
        Цю дію буде виконано негайно!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
	Ви можете переглянути список всіх інших списків на 
        <mm-host>, користувачем яких ви є.  Використовуйте його, якщо
	хочете виконати однакові зміни у параметрах підписки 
	в усіх списках листування одночасно.

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Пароль до списку листування <MM-List-Name></B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Забули пароль?</h3>
        </center>
        Натисніть на цю кнопку, щоб відправити пароль на адресу вказану у
	параметрах підписки.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Змінити пароль підписки</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Новий пароль:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Ще раз:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Змінити глобально.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Налаштування підписки на список <MM-List-Name> </B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>Поточні значення відмічено.</strong></i>

<p>Зауважте, значення деякі налаштування мають поле <em>Змінити глобально</em>.
Ввімкнення цього поля призведе до змінити значення параметру
в усіх списках листування на <mm-host>.  Для перегляду переліку списків розсилок,
на які ви підписані натисніть <em>Інші ваші підписки на сервері</em> вище..
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Доставка пошти</strong></a><p>
        Встановіть цей параметр у <em>Ввімкнено</em> щоб отримувати повідомлення
	цього списку листування. Встановіть у <em>Вимкнено</em> 
	якщо хочете залишитись підписаним, але не хочете отримувати 
	повідомлення певний час (наприклад через відпустку).  
	Якщо ви вимкнули доставку пошти, не забудьте ввімкнути її
	коли повернетесь; автоматичного нагадування в цьому випадку не передбачено.
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Ввімкнено<br>
        <mm-delivery-disable-button>Вимкнено<p>
        <mm-global-deliver-button><i>Встановити глобально</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Встановлення режиму дайджестів</strong><p>
        Якщо ви ввімкнули режим дайджестів, ви отримуватимете 
	згруповані повідомлення (зазвичай один раз на добу
	але може частіше для великих списків), замість 
	окремих.  Якщо ви перемикнули режим дайджесту з
	Ввімкнено на Вимкнено, ви ще можете отримати 
	один останній дайджест.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Ввімкнено<br>
        <MM-Digest-Radio-Button>Вимкнено
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Отримувати дайджести у MIME або звичайним текстом?</strong><p>
        Ваша поштова програма може не підтримувати MIME дайджести.
	В загалі MIME дайджести більш зручні, але якщо у вас з ними 
	виникають проблеми - оберіть звичайний текст.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Звичайний текст<p>
        <mm-global-mime-button><i>Встановити глобально</i>
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Отримувати власні повідомлення надіслані у список?</strong><p>
	Зазвичай, ви отримуватимете копію кожного надісланого до списку повідомлення.
	Якщо ви не бажаєте їх отримувати встановіть цей параметр у <em>Ні</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Ні<br>
        <mm-receive-own-mail-button>Так
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Отримувати підтвердження отримання пошти при надсиланні повідомлень до списку?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Ні<br>
        <mm-ack-posts-button>Так</td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Отримувати нагадування паролю щомісяця?</strong><p>
        Раз на місяць, ви отримуватимете повідомлення, з нагадуванням паролю
	до кожного списку цього сайту, на які Ви підписані. 
	Ви можете це вимкнути окремо для кожного списку, якщо виберете 
	<em>Ні</em>.  Якщо ви вимкнете нагадування паролів в усіх списках, на які
	Ви підписані, нагадування вам не надсилатиметься.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Ні<br>
        <mm-get-password-reminder-button>Так<p>
        <mm-global-remind-button><i>Встановити глобально</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Приховувати себе в переліку користувачів списку листування?</strong><p>
	Коли будь-хто переглядає перелік користувачів списку листування, зазвичай
	показується і ваша адреса (у прихованій формі, щоб перешкодити 
	розповсюджувачам спаму). Якщо ви не бажаєте, щоб ваша адреса 
	взагалі показувалась у цьому переліку, виберіть <em>Так</em>.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Ні<br>
        <MM-Hide-Subscription-Button>Так
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Якою мовою бажаєте користуватись?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>На які категорії тем ви хотіли б підписатись?</strong><p>
		Вибираючи одну чи більше тем, ви можете обмежувати
		трафік списку листування, тобто отримувати лише
		частину повідомлень. Якщо повідомлення відповідає
		одній з вибраних тем - ви отримаєте повідомлення,
		у іншому випадку - ні.

                <p>Якщо повідомлення не відповідає жодній темі, 
		тоді його отримання залежить від одного з наступних 
		параметрів. Якщо ви не обрали жодної теми - ви отримуватимете
		всі повідомлення, що надходять до поштового списку.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Бажаєте отримувати повідомлення що не відповідають жодному фільтру теми?</strong><p>
		
		Цей параметр використовується лише якщо ви підписані хоча б на
		одну тему (див. вище). Він визначає типову дію,
		якщо повідомлення що не відповідає жодному фільтру теми.
		Вибір <em>Ні</em> вказує на те, що якщо повідомлення 
		не відповідає жодному фільтру теми - то ви його не 
		отримуватимете. Вибір <em>Так</em> вказує 
		надсилати такі повідомлення вам.

                <p>Якщо вище не вибрано жодної тем інтересів - ви отримуватимете
		всі повідомлення, що надходять до поштового списку.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Ні<br>
        <mm-receive-nonmatching-topics>Так
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Уникати дублікатів повідомлень?</strong><p>
		
		Якщо вас безпосередньо вказано у <tt>To:</tt> чи
                <tt>Cc:</tt> заголовку повідомлення, ви можете 
		отримувати копії повідомлень зі списку листування.
		Щоб уникнути отримання копій таких повідомлень 
		виберіть <em>Так</em>; у іншому разі виберіть <em>Ні</em>.

                <p>Якщо у списку ввімкнено персоналізовані повідомлення,
		та ви вибрали отримання копій, тоді до кожної копії
		додається заголовок <tt>X-Mailman-Copy: yes</tt>.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Ні<br>
        <mm-dont-receive-duplicates-button>Так<p>
        <mm-global-nodupes-button><i>Встановити глобально</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
