body { 
	font-family: san-serif; 
	background-image: none;
	background-color: white; 
	margin: 0px;
	padding: 0px;
}
body.printable {
	background-image: none;
	background-color: white;
	margin: 0px;	
	padding: 0px;
}	

p, ul, ol, dl, dir, table, blockquote, hr, pre { 
	line-height: 120%;
	margin: 10px 10px 10px 10px;
}

li, dd, dt {
	margin: 10px 0px 10px 0px;	
}

i.small, p.small, b.small, ul.small, ol.small, dd.small, dt.small, li.small, table.small, span.small {
	font-size: smaller;	
	line-height: normal;
}

h1, h2, h3, h4 {
	font-style: normal;
	font-weight: normal;
	margin: 10px 10px 10px 10px;
	vertical-align: middle;
	clear: both;	
}
h1 {
	font-size: xx-large;	
	margin: 10px 10px 15px 10px;
}
h2 {
	font-size: x-large;	
}
h3 {
	font-size: large;
	font-weight: bold;
}
h4 {
	font-size: medium;
}

img {
	margin: 10px 10px 10px 10px;
}
img.icon {
	margin: 5px 5px 5px 5px;
}

span.date {	
	font-size: smaller;
	line-height: normal;
	font-style: italic;
}

div {
	background-color: white;
	border-style: solid;
	border-width: thin;
	border-color: gray;
	overflow: hidden;
	clear: both;	
	font-size: medium;
}

div#menu {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 150px;
	text-align: center;
	font-size: small;	
}
div#menu a {
	text-decoration: none;
}

div#header {
	margin: 0px 170px 0px 10px;
	text-align: center;
}

div#body {
	margin: 10px 170px 10px 10px;
}

div#footer {
	font-size: small;
	margin: 0px 170px 0px 10px;
}

div#printable {
	background-image: none;
	background-color: white;
	margin: 0px;
	border-style: none;	
}
div#printable a { 
	color: black;
	text-decoration: none;
}
div#printable th {
	font-size: small;	
}
div#printable td {
	font-size: small;	
}
div#printable h1 {
	font-size: medium;	
}
div#printable h2 {
	font-size: medium;	
}
div#printable h3 {
	font-size: small;	
}
