<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>Alfa-1</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEjWLpGNv/x8wCLlZthIDbTKjcQ8DmAebMeXf1TzPP/7fUxeWV7KJeD5vBWxB0V9wRFasAmYFfcqRD6AMTIW8qeA==</data>
		<key>operator</key>
		<string>Alfa</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Alfa-2</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEl3VLq871ikjdTDDvr1LhhHKj3kOXWrtQoKJ3twK0BRBEj+rV/UZuZRjDNyiLK2mfMJN9TZdjLJphnYYJcstgSQ==</data>
		<key>operator</key>
		<string>Alfa</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Bravo-1</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEXxLKuBw7sGl0/eRfkX4W7MpHLiK7xB/xkQONXu6cX/IFxMGJ83vbN9NvAbjkiG4D/Pnvrrq9Lb0gWPxovk8ufA==</data>
		<key>operator</key>
		<string>Bravo</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Bravo-2</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEpPTIhGHP8AjsFnvCog7JOM43uSTkLbeJup8EN+wfhU2X5YJq8mCXXI7+MHyb/ncEYuJp7wg4B7zxhT5KSmICsQ==</data>
		<key>operator</key>
		<string>Bravo</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Charlie-1</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEp/wmWR+YBWqWiCJy/EE7FBe5L+CvD3b10ua7BWA95yueo0GVLiw5b3qoNZz23CP+ecw5t4+JFsi/LvL45djjCA==</data>
		<key>operator</key>
		<string>Charlie</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Charlie-2</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEFQvCj6M6CQKeyxhK2I/u3ZXqYXyf5feihb0Sh4fk78GZisbJyivSHfFRmATdpo7T9IOlXExOZc/ZnGwkPHXSGA==</data>
		<key>operator</key>
		<string>Charlie</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Delta-1</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEey422SB0m/YU5R4km1+gQuRSHjY7vcTTbUo7Vnehfe2KCW/yY7lJQD4Yv5OJLci8vCWzDAXCprK5ZpbEiQTA5g==</data>
		<key>operator</key>
		<string>Delta</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Delta-2</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEkC23vcfErQghrgdlOPDR7PPK+8/7FPyQZy09igHW2+eLx0+8e6VhaO1OTn2YL50NBxW2WN1wAhAxBfSPOFD0wA==</data>
		<key>operator</key>
		<string>Delta</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Echo-1</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEe/QyaSib8V4jhT8vlZTGou9vpCykmsmyQo/3lNI5tGFSiQWaonjQK/reZBXKpG6lwEblDdAazTCQlpmaOee1WA==</data>
		<key>operator</key>
		<string>Echo</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Echo-2</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEcxkV7jZBkfaV6BKH8fIYR/es6DoVZYOW75zIzB5vgvHl0uOKpdwaDVhU5KZo/2KebpqpSdLCeKqX+poxUFxXOA==</data>
		<key>operator</key>
		<string>Echo</string>
	</dict>
	<dict>
		<key>description</key>
		<string>coreos-ct-test log-alpha</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEhcZUhfz61YzwzHJrp4RLcCF/V3j+SZYXGXc69qUlq3twpPnAsRpJE1vzZmvqL0Df1t21LqXQK9EgFcIdu2LLFQ==</data>
		<key>operator</key>
		<string>coreos-ct-test alpha</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Google&apos;s aviator</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE1/TMabLkDpCjiupacAlP7xNi0I1JYP8bQFAHDG1xhtolSY1l4QgNRzRrvSe8liE+NPWHdjGxfx3JhTsN9x8/6Q==</data>
		<key>operator</key>
		<string>Google</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Google&apos;s pilot</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEfahLEimAoz2t01p3uMziiLOl/fHTDM0YDOhBRuiBARsV4UvxG2LdNgoIGLrtCzWE0J5APC2em4JlvR8EEEFMoA==</data>
		<key>operator</key>
		<string>Google</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Digicert&apos;s CT log</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEAkbFvhu7gkAW6MHSrBlpE1n4+HCFRkC5OLAjgqhkTH+/uzSfSl8ois8ZxAD2NgaTZe1M9akhYlrYkes4JECs6A==</data>
		<key>operator</key>
		<string>Digicert</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Bravo-3</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAErSVuQLDBj8EWNrGVjb8e1T9d83xvvxi5NeWb9wnWrjbHVwXEkLQGAZBQvpWzJ5yFLqmVu40KSy1NmV0i78IIPg==</data>
		<key>operator</key>
		<string>Bravo</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Alfa-3</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEfLrfEFaVzHLuCk+kjWnQCfrQYFW73h7tpMEwhfYmL0AKUGVgrgvg3x+D1YSKs/X86dwdg/wyGA3RXU09Mo/MUQ==</data>
		<key>operator</key>
		<string>Alfa</string>
	</dict>
	<dict>
		<key>description</key>
		<string>flour</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEgze9Txetn+ojNANjWk8Zrc99TlXCSXgETQAmQDyAZEi0FrIkTYzFL0P6WK/qcb9RmkWNgFOt4CqXrqvVchFdzQ==</data>
		<key>operator</key>
		<string>flour</string>
	</dict>
	<dict>
		<key>description</key>
		<string>sugar</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE3x/NYxPO1VZFfde5lzkucZIVd403m01F5O3TT8g9qaAEsRUfS9NlspS3pM/ytBtzMFc6oSQj9GFbrvZ68UhG4g==</data>
		<key>operator</key>
		<string>sugar</string>
	</dict>
	<dict>
		<key>description</key>
		<string>butter</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEDH3+ICRtk2yzuDVqQqfzEZjTolXEJE231xMfH5WqbsbgKMWzVLb6N53Tu0HE1BrEGLRys0l9+a5FFNPu9ZD8+g==</data>
		<key>operator</key>
		<string>butter</string>
	</dict>
	<dict>
		<key>description</key>
		<string>salt</string>
		<key>key</key>
		<data>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEGGqtoLdUmLWG4HztrrF1ywuXPPsp59pOgyWtSKabhDJOi8xyTtf8WMxCGl6LyKg+jl5QnT9MRpT5P3BkNfrljg==</data>
		<key>operator</key>
		<string>salt</string>
	</dict>
</array>
</plist>
