//
//  IOHIDFamilyUnitTests.xcconfig
//  IOHIDFamily
//
//  Created by yg on 8/21/18.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "IOHIDFamily/IOHIDFamily.xcconfig"

LD_FLAG_DISPLAY_FRAMEWORK_0 = -framework HIDDisplay
LD_FLAG_DISPLAY_FRAMEWORK_ = -framework HIDDisplay
EXCLUDE_DISPLAY_FRAMEWORK_FILES_1 = TestHIDDisplaySessionFilter.m TestHIDDisplayFramework.m TestIOReportingHIDDevice.m
EXCLUDE_DISPLAY_FRAMEWORK_FILES = TestHIDDisplaySessionFilter.m TestHIDDisplayFramework.m TestIOReportingHIDDevice.m
EXCLUDE_DISPLAY_FRAMEWORK_FILES_MACOS_0 = TestHIDDisplaySessionFilter.m
EXCLUDE_DISPLAY_FRAMEWORK_FILES_MACOS_1 = TestHIDDisplaySessionFilter.m TestHIDDisplayFramework.m TestIOReportingHIDDevice.m
EXCLUDE_DISPLAY_FRAMEWORK_FILES_MACOS_ = TestHIDDisplaySessionFilter.m
OTHER_LDFLAGS[sdk=macosx*][arch=*] = $(inherited) $(LD_FLAG_DISPLAY_FRAMEWORK_$(RC_HIDE_J290))
OTHER_LDFLAGS[sdk=iphoneos*][arch=*] = $(inherited) $(LD_FLAG_DISPLAY_FRAMEWORK_$(RC_HIDE_J290))
OTHER_LDFLAGS[sdk=appletv*][arch=*] = $(inherited)
OTHER_LDFLAGS[sdk=watch*][arch=*] = $(inherited)
EXCLUDED_SOURCE_FILE_NAMES[sdk=macosx*] = TestIOHIDEventDriver_CarPlaySelectButton.m $(EXCLUDE_DISPLAY_FRAMEWORK_FILES_MACOS_$(RC_HIDE_J290)) TestEventServiceProperties.m TestMouseEventOptions.m TestKeyboardEventOptions.m TestIOHIDEventSerialization.mm
EXCLUDED_SOURCE_FILE_NAMES[sdk=watch*][arch=*] = TestHIDAnalyticsMemory.m TestIOHIDSystemIdleTime.m TestIOHIDPostEvent.m TestFastPath.m TestHIDActionQueue.m TestKeyboardServicePlugin.m TestKeyboardEscKeyProperty.m TestConfigurableNXEventTranslation.m $(EXCLUDE_DISPLAY_FRAMEWORK_FILES)
EXCLUDED_SOURCE_FILE_NAMES[sdk=appletv*][arch=*] = TestHIDAnalyticsMemory.m TestIOHIDSystemIdleTime.m TestIOHIDPostEvent.m TestFastPath.m TestHIDActionQueue.m TestKeyboardServicePlugin.m TestKeyboardEscKeyProperty.m TestConfigurableNXEventTranslation.m $(EXCLUDE_DISPLAY_FRAMEWORK_FILES)
EXCLUDED_SOURCE_FILE_NAMES[sdk=iphoneos*][arch=*] = TestHIDAnalyticsMemory.m TestIOHIDSystemIdleTime.m TestIOHIDPostEvent.m TestFastPath.m TestHIDActionQueue.m TestKeyboardServicePlugin.m TestKeyboardEscKeyProperty.m TestConfigurableNXEventTranslation.m $(EXCLUDE_DISPLAY_FRAMEWORK_FILES_$(RC_HIDE_J290))
GCC_WARN_UNUSED_PARAMETER = NO
OTHER_CFLAGS =  $(inherited) -ftrivial-auto-var-init=pattern



