<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<string>IOHIDFamily</string>
	<key>Tests</key>
	<array>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/bin/sh</string>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/IOHIDFamilyTestSetup.sh</string>
			</array>
			<key>TestName</key>
			<string>TestSetup</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestDigitizerCollection.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestDigitizerCollection&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestDigitizerCollection</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestKeyboardServicePlugin.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestKeyboardServicePlugin&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestKeyboardServicePlugin</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestVendorMessageAndVendorPayload.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestVendorMessageAndVendorPayload&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestVendorMessageAndVendorPayload</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDEventSystemClient.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestEventSystemClient&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDEventSystemClient</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestServiceTerminationEvents.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestServiceTerminationEvents&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestServiceTerminationEvents</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestPerfEvents\.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestPerfEvents&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestPerfEvents</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDDevice.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDDevice&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDDevice</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestFastPath.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestFastPath&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestFastPath</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestVirtualService.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestVirtualService&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestVirtualService</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDEventDriver.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDEventDriver&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDEventDriver</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestProperty.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestProperty&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestProperty</string>
		</dict>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDEvents&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDEvents</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDManager.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDManager&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDManager</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDActivity.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDActivity&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDActivity</string>
		</dict>
		<dict>
			<key>AsRoot</key>
			<false/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestIOHIDPostEvent&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDPostEvent</string>
		</dict>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>TestName</key>
			<string>TestIOHIDEventSerialization</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestIOHIDEventSerialization&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestSensorProperty.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestSensorProperty</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestSensorProperty&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDConnectionFilterPlugIn.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDConnectionFilterPlugIn</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestIOHIDConnectionFilterPlugIn&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_DeviceOrientationAngularSensor.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_DeviceOrientationAngularSensor</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestIOHIDConnectionFilterPlugIn&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_Gyro.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_Gyro</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestIOHIDConnectionFilterPlugIn&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_Compass.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_Compass</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestIOHIDConnectionFilterPlugIn&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_GCGamepad.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_GCGamepad</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_GCGamepad</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_GCFormFitted.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_GCFormFitted</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_GCFormFitted</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_GCFormFittedCollection.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_GCFormFittedCollection</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_GCFormFittedCollection</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_DeviceOrientationTilt.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_DeviceOrientationTilt</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_DeviceOrientationTilt</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestNonStandardDescriptor.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestNonStandardDescriptor&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestNonStandardDescriptor</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_LuminanceNotificaiton.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_LuminanceNotificaiton</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_LuminanceNotificaiton</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDDisplayFramework.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDDisplayFramework&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDDisplayFramework</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDDisplaySessionFilter.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDDisplaySessionFilter&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDDisplaySessionFilter</string>
		</dict>
	</array>
</dict>
</plist>
