<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<string>IOHIDFamily_dev</string>
	<key>Tests</key>
	<array>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/bin/sh</string>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/IOHIDFamilyTestSetup.sh</string>
			</array>
			<key>TestName</key>
			<string>TestSetup</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestVirtualService.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestVirtualService&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestVirtualService</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestSensorProperty.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestSensorProperty</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestSensorProperty&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestKeyboardServicePlugin.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestKeyboardServicePlugin</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestKeyboardServicePlugin</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDManager.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDManager&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDManager</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDConnectionFilterPlugin.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDConnectionFilterPlugin</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDConnectionFilterPlugin</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDDeviceVariants.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestHIDDeviceVariants</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestHIDDeviceVariants</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_CarPlaySelectButton.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_CarPlaySelectButton</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_CarPlaySelectButton</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_DeviceOrientationCoreMotion.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_DeviceOrientationCoreMotion</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_DeviceOrientationCoreMotion</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDVirtualService.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestHIDVirtualService</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestHIDVirtualService</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDDisplayFramework.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestHIDDisplayFramework</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestHIDDisplayFramework</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDDisplaySessionFilter.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestHIDDisplaySessionFilter</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestHIDDisplaySessionFilter</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
                        <key>TestSpecificLogs</key>
                        <array>
                                <string>/var/tmp/hidxctest/TestIOReportingHIDDevice.m/.+</string>
                        </array>
                        <key>AsRoot</key>
                        <true/>
                        <key>Command</key>
                        <array>
                                <string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
                                <string>-t &quot;TestIOReportingHIDDevice&quot;</string>
                                <string>./IOHIDFamilyUnitTests.xctest</string>
                        </array>
                        <key>TestName</key>
                        <string>TestIOReportingHIDDevice</string>
                </dict>
	</array>
</dict>
</plist>
