<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<string>IOHIDFamily</string>
	<key>Tests</key>
	<array>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/bin/sh</string>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/IOHIDFamilyTestSetup.sh</string>
			</array>
			<key>TestName</key>
			<string>TestSetup</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestDigitizerCollection.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestDigitizerCollection&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestDigitizerCollection</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestVendorMessageAndVendorPayload.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestVendorMessageAndVendorPayload&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestVendorMessageAndVendorPayload</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDEventSystemClient.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestEventSystemClient&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDEventSystemClient</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestServiceTerminationEvents.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestServiceTerminationEvents&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestServiceTerminationEvents</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestPerfEvents\.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestPerfEvents&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestPerfEvents</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDDevice.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDDevice&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDDevice</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestFastPath.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestFastPath&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestFastPath</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestVirtualService.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestVirtualService&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestVirtualService</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDEventDriver.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDEventDriver&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDEventDriver</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestProperty.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestProperty&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestProperty</string>
		</dict>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDEvents&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDEvents</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDActivity.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDActivity&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDActivity</string>
		</dict>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDElementAndValue&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDElementAndValue</string>
		</dict>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDManagerDQ&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDManagerDQ</string>
		</dict>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestUPSClass&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestUPSClass</string>
		</dict>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestQueueClass&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestQueueClass</string>
		</dict>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestObsoleteDevice&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestObsoleteDevice</string>
		</dict>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDFramework&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDFramework</string>
		</dict>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDActionQueue&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDActionQueue</string>
		</dict>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestKeyboardStateRestore&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestKeyboardStateRestore</string>
		</dict>
		<dict>
			<key>AsRoot</key>
			<false/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestIOHIDPostEvent&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDPostEvent</string>
		</dict>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>TestName</key>
			<string>TestIOHIDEventSerialization</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestIOHIDEventSerialization&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestSensorProperty.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestSensorProperty</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestSensorProperty&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_DeviceOrientationAngularSensor.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_DeviceOrientationAngularSensor</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestIOHIDEventDriver_DeviceOrientationAngularSensor&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_Gyro.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_Gyro</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_Gyro</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_Compass.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_Compass</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestIOHIDEventDriver_Compass&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestElementBounds.swift/.+</string>
			</array>
			<key>TestName</key>
			<string>TestElementBounds</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestElementBounds&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestClient.swift/.+</string>
			</array>
			<key>TestName</key>
			<string>TestClient</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestClient&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_GCGamepad.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_GCGamepad</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_GCGamepad</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_GCFormFitted.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_GCFormFitted</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_GCFormFitted</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_GCFormFittedCollection.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_GCFormFittedCollection</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_GCFormFittedCollection</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_AssistiveTouch.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_AssistiveTouch</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_AssistiveTouch</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_MediaPlaybackRemote.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_MediaPlaybackRemote</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_MediaPlaybackRemote</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_HeadsetRemoteTelephony.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_HeadsetRemoteTelephony</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_HeadsetRemoteTelephony</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestMultipleInterfaces.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestMultipleInterfaces</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestMultipleInterfaces</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_HeadsetRemoteTelephonyAndMediaPlayback.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_HeadsetRemoteTelephonyAndMediaPlayback</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_HeadsetRemoteTelephonyAndMediaPlayback</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_Temperature.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_Temperature</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_Temperature</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_DeviceOrientationTilt.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_DeviceOrientationTilt</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_DeviceOrientationTilt</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestBridging.swift/.+</string>
			</array>
			<key>TestName</key>
			<string>TestBridging</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestBridging</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_DigitizerFlags.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_DigitizerFlags</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_DigitizerFlags</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDSystemIdleTime.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDSystemIdleTime</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDSystemIdleTime</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDDeviceSeize.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestHIDDeviceSeize</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestHIDDeviceSeize</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/Test_40456774/.+</string>
			</array>
			<key>TestName</key>
			<string>Test_40456774</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>Test_40456774</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDNonVirtualUserDevice.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDNonVirtualUserDevice</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDNonVirtualUserDevice</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestProtectedAccessEntitlement.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestProtectedAccessEntitlement</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestProtectedAccessEntitlement</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestServiceFilter.swift/.+</string>
			</array>
			<key>TestName</key>
			<string>TestServiceFilter</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestServiceFilter</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestNonStandardDescriptor.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestNonStandardDescriptor</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestNonStandardDescriptor</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestKeyboardEventOptions.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestKeyboardEventOptions</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestKeyboardEventOptions</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestMouseEventOptions.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestMouseEventOptions</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestMouseEventOptions</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestServicePlugin.swift/.+</string>
			</array>
			<key>TestName</key>
			<string>TestServicePlugin</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestServicePlugin</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestElementBatching.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestElementBatching</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestElementBatching</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestConfigurableNXEventTranslation.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestConfigurableNXEventTranslation</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestConfigurableNXEventTranslation</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestPointerResolution.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestPointerResolution</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestPointerResolution</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDAnalyticsFramework.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestHIDAnalyticsFramework</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestHIDAnalyticsFramework</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIndependentDevices.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIndependentDevices</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIndependentDevices</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDAnalyticsMemory.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestHIDAnalyticsMemory</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestHIDAnalyticsMemory</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestIOHIDEventDriver_LuminanceNotificaiton.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestIOHIDEventDriver_LuminanceNotificaiton</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestIOHIDEventDriver_LuminanceNotificaiton</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestDFRKeyboard.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestDFRKeyboard</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestDFRKeyboard</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestEventServiceProperties.m/.+</string>
			</array>
			<key>TestName</key>
			<string>TestEventServiceProperties</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t</string>
				<string>TestEventServiceProperties</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>AsRoot</key>
			<true/>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestElementTransactionOrder.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestElementTransactionOrder&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestElementTransactionOrder</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestPublicHIDUserDevice.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestPublicHIDUserDevice&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestPublicHIDUserDevice</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDKeyboardWithTouchPad.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDKeyboardWithTouchPad&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDKeyboardWithTouchPad</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestDigitizerFingerCollection.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestDigitizerFingerCollection&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestDigitizerFingerCollection</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestDigitizerButtonMask.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestDigitizerButtonMask&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestDigitizerButtonMask</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDUserDeviceInvalidReportLength.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDUserDeviceInvalidReportLength&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDUserDeviceInvalidReportLength</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestDigitizerSurfaceSwitch.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestDigitizerSurfaceSwitch&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestDigitizerSurfaceSwitch</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestElementValueSet.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestElementValueSet&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestElementValueSet</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestDigitizerReportRate.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestDigitizerReportRate&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestDigitizerReportRate</string>
		</dict>
		<dict>
			<key>TestSpecificLogs</key>
			<array>
				<string>/var/tmp/hidxctest/TestHIDKeyboardPower.m/.+</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/IOHIDFamily/hidxctest</string>
				<string>-t &quot;TestHIDKeyboardPower&quot;</string>
				<string>./IOHIDFamilyUnitTests.xctest</string>
			</array>
			<key>TestName</key>
			<string>TestHIDKeyboardPower</string>
		</dict>
	</array>
</dict>
</plist>
