<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-04</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>appres</string>
		<key>OpenSourceSHA1</key>
		<string>7303f12fae8cce92da2dbd88c9d31d816dc5da06</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/appres-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>bdftopcf</string>
		<key>OpenSourceSHA1</key>
		<string>146b4ece2867479045c3b4593b22c9f1d21da14a</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/bdftopcf-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-09</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>bitmap</string>
		<key>OpenSourceSHA1</key>
		<string>4f6f847b6cfc3e250f1befe907a3d1957f4a43c8</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/bitmap-1.0.5.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.5</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>editres</string>
		<key>OpenSourceSHA1</key>
		<string>a1a8af23afde85bada5472da1ac029a384dedae4</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/editres-1.0.5.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.5</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2008-05-11</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>fonttosfnt</string>
		<key>OpenSourceSHA1</key>
		<string>a609fba513947e5267c924f85774c0e44a076a7d</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/fonttosfnt-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>fslsfonts</string>
		<key>OpenSourceSHA1</key>
		<string>00177564597ac629207ca597f663b689902817df</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/fslsfonts-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>fstobdf</string>
		<key>OpenSourceSHA1</key>
		<string>5310493f53277fd196f93bbb7f2a204cad8997b7</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/fstobdf-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-05-23</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>iceauth</string>
		<key>OpenSourceSHA1</key>
		<string>d996c6ecaa93dcaccee4a11991eeacd40bddc13e</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/iceauth-1.0.5.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.5</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>ico</string>
		<key>OpenSourceSHA1</key>
		<string>64940e202d8d53b6c036ad17bc5af9f4823f7fb0</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/ico-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2009-12-17</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>listres</string>
		<key>OpenSourceSHA1</key>
		<string>4c1c9b16dbd9c442a76203b57a9fef33965415d9</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/listres-1.0.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-09</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>luit</string>
		<key>OpenSourceSHA1</key>
		<string>fa974b417f6b65c241398d8d011207c6facb0766</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/luit-1.1.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-07-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>mesa-demos</string>
		<key>OpenSourceSHA1</key>
		<string>8fc77885ae20f3b9cc22f65045a7573befbde2eb</string>
		<key>OpenSourceURL</key>
		<string>ftp://ftp.freedesktop.org/pub/mesa/demos/8.0.1/mesa-demos-8.0.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>8.0.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>mkfontdir</string>
		<key>OpenSourceSHA1</key>
		<string>c2b504f5a019777f2f0d3c2fc635b114c7924804</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/mkfontdir-1.0.6.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.6</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>mkfontscale</string>
		<key>OpenSourceSHA1</key>
		<string>accfb12751bf3b7ae7b28c1b0b863d5be871398f</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/mkfontscale-1.0.8.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.8</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-09-25</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>oclock</string>
		<key>OpenSourceSHA1</key>
		<string>ba606d39fba6021c4db76d79751779f7b5c862e9</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/oclock-1.0.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-09</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>rgb</string>
		<key>OpenSourceSHA1</key>
		<string>d0360dda290b76c41fa467c47d4c122ea8cc92a4</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/rgb-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-06-04</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>sessreg</string>
		<key>OpenSourceSHA1</key>
		<string>6f260f1ddc366da070a6d60301b9fb64a99c119a</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/sessreg-1.0.6.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.6</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>showfont</string>
		<key>OpenSourceSHA1</key>
		<string>02ad183046d0a2e34bbb8d44e754fbcb0cf27f32</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/showfont-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-09-25</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>setxkbmap</string>
		<key>OpenSourceSHA1</key>
		<string>860785e16313d30792fe62604f65d84281812322</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/setxkbmap-1.2.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.2.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-26</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>smproxy</string>
		<key>OpenSourceSHA1</key>
		<string>ea9639b6d0669f157ac62b807cdba64f509b25ed</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/smproxy-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-01-15</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>twm</string>
		<key>OpenSourceSHA1</key>
		<string>5c28194c9c620b34df56fdee140d662425ba8a86</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/twm-1.0.6.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.6</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>viewres</string>
		<key>OpenSourceSHA1</key>
		<string>383ff3cc93340b246e9fee29cad605478399eb62</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/viewres-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-01-15</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>x11perf</string>
		<key>OpenSourceSHA1</key>
		<string>2fd00ba38c36c569751bbe3d60917df2a39e10ba</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/x11perf-1.5.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.5.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-05-23</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xauth</string>
		<key>OpenSourceSHA1</key>
		<string>10a68367ecc60a641b9aa89e6f24f7ca71f23874</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xauth-1.0.6.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.6</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-12-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xbacklight</string>
		<key>OpenSourceSHA1</key>
		<string>e297b359ab83f3844ca5ea1c23280b2f8bb71cfd</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xbacklight-1.1.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-12-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xbitmaps</string>
		<key>OpenSourceSHA1</key>
		<string>578afff7e4912192b524c25254cf7f54c16e57d8</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/releases/individual/data/xbitmaps-1.1.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-27</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xcalc</string>
		<key>OpenSourceSHA1</key>
		<string>2206fc4bf3719c43fa13a6c64a37b40607d8e5e2</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xcalc-1.0.4.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xclipboard</string>
		<key>OpenSourceSHA1</key>
		<string>922ddf89acd0781156e9ccdf191a3e0c6376415a</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xclipboard-1.1.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-09-25</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xclock</string>
		<key>OpenSourceSHA1</key>
		<string>1651ac8961c0aa287a6a7412ee5e6d3bfc3bb3e2</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xclock-1.0.5.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.5</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-09-25</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xcmsdb</string>
		<key>OpenSourceSHA1</key>
		<string>14df39b4d5518f551302c210131dcc5bac03f3ff</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xcmsdb-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-09-25</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xconsole</string>
		<key>OpenSourceSHA1</key>
		<string>195299d4948ba4c62e961ddd0bd4572283244715</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xconsole-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-09-25</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xcursorgen</string>
		<key>OpenSourceSHA1</key>
		<string>244c180aae8cc07175b93f314d5bbbf24171658a</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xcursorgen-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-08-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xditview</string>
		<key>OpenSourceSHA1</key>
		<string>18f603e76a82fd2a62017dbd0c51258769539b0a</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xditview-1.0.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-04-10</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xdm</string>
		<key>OpenSourceSHA1</key>
		<string>45eb013aa14ddd8d385b200b94fb0fbcbe09b860</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xdm-1.1.10.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.10</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-04</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xdpyinfo</string>
		<key>OpenSourceSHA1</key>
		<string>5d53cd31afd40bdc4575b5347f2cda67f135f5f2</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xdpyinfo-1.2.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.2.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xedit</string>
		<key>OpenSourceSHA1</key>
		<string>e6f8735d09c9da67bba3cd3c39f34f5d1fc79a70</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xedit-1.2.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.2.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xev</string>
		<key>OpenSourceSHA1</key>
		<string>77dcbdaa2046db56f31936f921843bd05df2255f</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xev-1.1.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-27</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xeyes</string>
		<key>OpenSourceSHA1</key>
		<string>efe6116d31a7f69e4fb6038613e52b0960b9b61c</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xeyes-1.1.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-26</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xfd</string>
		<key>OpenSourceSHA1</key>
		<string>9cf24f00b428bc02d8635634cdb3b7422e7d74a5</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xfd-1.1.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-09-26</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xfontsel</string>
		<key>OpenSourceSHA1</key>
		<string>df2eb12b90339b7091bd362b095344015ec8b6fa</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xfontsel-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xfs</string>
		<key>OpenSourceSHA1</key>
		<string>040dee6ff7628c192874447fb178a965c744eea9</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xfs-1.1.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xfsinfo</string>
		<key>OpenSourceSHA1</key>
		<string>14088d1b08bc27c02a6806d75dabc4eade</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xfsinfo-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xgamma</string>
		<key>OpenSourceSHA1</key>
		<string>c4124b42618c6d4bc9eb9690348b5d60e4c9daed</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xgamma-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xgc</string>
		<key>OpenSourceSHA1</key>
		<string>cb0c0285f1354a983b5cd4a925844a8ab56e4f09</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xgc-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xhost</string>
		<key>OpenSourceSHA1</key>
		<string>b4fde9899861f1a97395f8c7197db00cc44242a7</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xhost-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xinput</string>
		<key>OpenSourceSHA1</key>
		<string>70f258279acaa45fb77820ae3f8c2bee9f2d2235</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xinput-1.5.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.5.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-02-10</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xkbcomp</string>
		<key>OpenSourceSHA1</key>
		<string>02d7e7b67a6ef3035f92f9e541252bf85e3f0385</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xkbcomp-1.2.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.2.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-04</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xkeyboard-config</string>
		<key>OpenSourceSHA1</key>
		<string>9fb0d83fba3da66345a3ed6e0f06accd56186ea9</string>
		<key>OpenSourceURL</key>
		<string>http://people.freedesktop.org/~svu/xkeyboard-config-2.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>2.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-12-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xkbevd</string>
		<key>OpenSourceSHA1</key>
		<string>f7d4eb5485c2b450266e4e467106f4d8560f4edd</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xkbevd-1.1.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-01-15</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xkbprint</string>
		<key>OpenSourceSHA1</key>
		<string>4e7c91a137f0746202b3a74bbaf49c849484aa30</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xkbprint-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xkbutils</string>
		<key>OpenSourceSHA1</key>
		<string>e5a2619b9449f95e02b520b492de0575bc4551d6</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xkbutils-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xkill</string>
		<key>OpenSourceSHA1</key>
		<string>bab7b9c7f3bc053d743eb339cf5fa496bace57e5</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xkill-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-09-26</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xload</string>
		<key>OpenSourceSHA1</key>
		<string>dcad93d769b0614466f1e48fed5dd956349cfcfb</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xload-1.1.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xlogo</string>
		<key>OpenSourceSHA1</key>
		<string>5016e74ba16ac80f3eac1c97738a6afbfc8b3bdd</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xlogo-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-06-04</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xlsatoms</string>
		<key>OpenSourceSHA1</key>
		<string>2982df6844d60cd12a09208808ab6baa767fe35f</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xlsatoms-1.1.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-09-25</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xlsclients</string>
		<key>OpenSourceSHA1</key>
		<string>67bfdcb089e8669df7ec5bc7a137e037047f2535</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xlsclients-1.1.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-06-14</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xlsfonts</string>
		<key>OpenSourceSHA1</key>
		<string>9d4e0adbcb83362dd9234e90507c0528f60e309b</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xlsfonts-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xmag</string>
		<key>OpenSourceSHA1</key>
		<string>1acbc1ccdcd0399b62ad6e96a47021c00dcfde7d</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xmag-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xman</string>
		<key>OpenSourceSHA1</key>
		<string>c8e1170e837da4bc280ee907030b3f9245608ef2</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xman-1.1.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-01-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xmessage</string>
		<key>OpenSourceSHA1</key>
		<string>a8bfefbbe7785fa0e58ed4f596f4d79ba0b4d9b2</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xmessage-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xmh</string>
		<key>OpenSourceSHA1</key>
		<string>3b771d8e7de175dc6890bcf03bd1fcf91c7ad919</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xmh-1.0.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-09-25</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xmodmap</string>
		<key>OpenSourceSHA1</key>
		<string>c97fb42f40b094868f6ef445f25c600f326b1942</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xmodmap-1.0.5.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.5</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-07-28</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xmore</string>
		<key>OpenSourceSHA1</key>
		<string>7db4e5feb82d5d05038722d3af00d28e103bed18</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xmore-1.0.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2009-10-19</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xpr</string>
		<key>OpenSourceSHA1</key>
		<string>9dbd0ff136b612285e00d92d0c7675a4207b1c4a</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xpr-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xprop</string>
		<key>OpenSourceSHA1</key>
		<string>278f83c5077eed1d96c180bdc0a6f22ba5279a66</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xprop-1.2.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.2.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xrandr</string>
		<key>OpenSourceSHA1</key>
		<string>637949501b8a45d32d9cab809e8822ee45b69414</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xrandr-1.3.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.3.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-04-06</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xrdb</string>
		<key>OpenSourceSHA1</key>
		<string>efa5f2420411988d6a6e142934393fd272507857</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xrdb-1.0.9.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.9</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xrefresh</string>
		<key>OpenSourceSHA1</key>
		<string>5e85ee14ea9a357c1d4372bbc068a8d452a134aa</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xrefresh-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xscope</string>
		<key>OpenSourceSHA1</key>
		<string>228773993bf1e5b4b4a772205e550e81f41e8fd9</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xscope-1.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xset</string>
		<key>OpenSourceSHA1</key>
		<string>9b1eb8835637dd70eea1a1365df5d909a306cc2c</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xset-1.2.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.2.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2006-12-01</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xsetmode</string>
		<key>OpenSourceSHA1</key>
		<string>add4e6a91c9d0e7d1a80b3534c64d6b7bf633ea0</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xsetmode-1.0.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2008-02-23</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xsetpointer</string>
		<key>OpenSourceSHA1</key>
		<string>a8b01c6f27625a6f6943f9be17b1e5511f69d710</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xsetpointer-1.0.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xsetroot</string>
		<key>OpenSourceSHA1</key>
		<string>1ef9ddd80c7013dc6d33e5c421537eb8b0427da4</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xsetroot-1.1.0.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-09-26</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xsm</string>
		<key>OpenSourceSHA1</key>
		<string>3ed9a9bb4bb26a9a867fecc352eeb0656476fa19</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xsm-1.0.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-09-26</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xstdcmap</string>
		<key>OpenSourceSHA1</key>
		<string>32374e671e5cdd4d55bd7f3f6619cc5b5267fda8</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xstdcmap-1.0.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-02-27</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xterm</string>
		<key>OpenSourceSHA1</key>
		<string>188696db138919a014b49c54d93f085c20e3b39f</string>
		<key>OpenSourceURL</key>
		<string>ftp://invisible-island.net/xterm/xterm-269.tgz</string>
		<key>OpenSourceVersion</key>
		<string>269</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://invisible-island.net/xterm</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2006-12-01</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xtrap</string>
		<key>OpenSourceSHA1</key>
		<string>228735dcf4e059865900cee7f9656fc1a6b0a746</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xtrap-1.0.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xvinfo</string>
		<key>OpenSourceSHA1</key>
		<string>dc326464748fa608da50386112a89024804c1910</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xvinfo-1.1.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xwd</string>
		<key>OpenSourceSHA1</key>
		<string>4ef4fd9072a507e9a1ee88ba1d28b314006cc109</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xwd-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xwininfo</string>
		<key>OpenSourceSHA1</key>
		<string>945e5d51632876e304e001003c8068f34ffe299e</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xwininfo-1.1.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xwud</string>
		<key>OpenSourceSHA1</key>
		<string>2e706d50c7039e3daa4963d36ab703e48aa652ed</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xwud-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
</array>
</plist>
