{
  Description   = "Mailman mailing list server";
  Provides      = ("Mailman");
  Requires      = ("Network");
  Uses          = ("Network Time", "NFS");
  Preference    = "None";
  Messages =
  {
    start = "Starting Mailman";
    stop  = "Stopping Mailman";
    restart  = "Reloading Mailman Configuration";
  };
}
