# CODEOWNERS
# Maintainers, owners, and mandatory code reviewers for this repo
# The first element on each line is a file pattern, as accepted by git ls-files.
# Subsequent elements are @stash_usernames for each owner.

# File-extension-based rules should come at the top since the last rule that matches has precedence.
*.py                            @t_finkel @jon
*.sh                            @t_finkel @jon

/test/*                         @t_finkel @jon @etamura @ghitron
/*                              @t_finkel @jon @etamura @ghitron
