<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3942261</key>
	<dict>
		<key>-v</key>
		<string>Preserve verbose mode</string>
		<key>debug</key>
		<string>Preserve kernel debugging setting</string>
	</dict>
</dict>
</plist>
