BODY {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color : White;
   font-size: smaller;
}
H1 {
   font-size: xx-large;
   font-weight: normal;
	color: #000099
}
H2 {
   font-size: x-large;
	font-weight: normal;
}
H3 {
   font-size: large;
	font-weight: normal;
}
th {
	font-weight: bold;
   text-align: left;
   vertical-align: top;
   background-color : #EEEEFF;
   border: 1px solid black;
}
table.ObjectName {
   margin-bottom: 1em;
   border: 1px solid black;
}
table.AttributesClass {
   width: 100%;
   margin-bottom: 1em;
   border: 1px solid black;
}
td.nameh {
	background-color : #EEEEFF;
   border: 1px solid #444444;
}
td.sep {
  /* vertical-align: top; */
  border-width: thin;
  border: 1px solid #DDDDDD;
  margin-right: 0px;
  margin-left: 0px;
}
*.applyb {
  font-size: larger;
  text-align: center;
}
input.iauto {
   width: 80%;
	font-size: 12px;
}

*.aname {
	font-size: large;
}.aaccess {
	font-size: small;
	font-weight: normal;
	color: gray;
}
*.atype {
	font-size: small;
	color: gray;
}
*.adescription {
	font-size: small;
	color: navy;
   font-style: oblique;
}
A:ACTIVE {
	color:Red;
	background-color: #DEB887;
	text-decoration : underline;
}
A:HOVER {
	color:Red;
	text-decoration : underline;
}
A:LINK {
	color:#000099;
	text-decoration : underline;
}
A:VISITED {
	color:Purple;
	text-decoration : underline;
}


