<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2008/07/11</string>
		<key>OpenSourceLicense</key>
		<string>other</string>
		<key>OpenSourceLicenseFile</key>
		<string>ICU.html</string>
		<key>OpenSourceProject</key>
		<string>International Components for Unicode</string>
		<key>OpenSourceSHA1</key>
		<string>7485e594002bef61c28822c3c2bfe722f35fdf4b</string>
		<key>OpenSourceURL</key>
		<string>http://download.icu-project.org/files/icu4c/4.0/icu4c-4_0-src.tgz</string>
		<key>OpenSourceVersion</key>
		<string>4.0</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.icu-project.org/</string>
	</dict>
</array>
</plist>
