#include "lib.xcconfig"

// This xcconfig is only for libsystem_coretls.dylib

PRODUCT_NAME = system_coretls

SKIP_INSTALL = NO
STRIP_INSTALLED_PRODUCT = YES

INSTALL_PATH = /usr/lib/system

LINK_WITH_STANDARD_LIBRARIES = NO

OTHER_LDFLAGS = -umbrella System -L$(SDKROOT)/usr/lib/system -lsystem_c -lsystem_malloc -lsystem_platform -lcommonCrypto -lcompiler_rt -lcorecrypto -ldyld -lsystem_asl -lsystem_pthread -lxpc -lsystem_kernel -ldispatch -lsystem_blocks
OTHER_LDFLAGS[sdk=iphonesimulator*] = -umbrella System -L$(SDKROOT)/usr/lib/system -lsystem_sim_c -lsystem_malloc -lsystem_sim_platform -lcommonCrypto -lcompiler_rt -lcorecrypto -ldyld -lsystem_sim_asl -lsystem_sim_pthread -lxpc -lsystem_sim_kernel -ldispatch -lsystem_blocks

DYLIB_CURRENT_VERSION = $(CURRENT_PROJECT_VERSION)
