#include "base.xcconfig"

PRODUCT_NAME = $(TARGET_NAME)
EXECUTABLE_PREFIX = 

EXECUTABLE_PREFIX = lib
COPY_PHASE_STRIP = NO
SKIP_INSTALL = YES

GCC_GENERATE_DEBUGGING_SYMBOLS = YES
STRIP_STYLE = debugging
STRIP_INSTALLED_PRODUCT = NO
STRIP_LINKED_PRODUCT = NO

ALWAYS_SEARCH_USER_PATHS = YES

GCC_C_LANGUAGE_STANDARD = gnu99

WARNING_CFLAGS =  $(inherited) -Wno-error=#warnings -Wmost -Wno-four-char-constants -Wno-unknown-pragmas

GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO

GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES

GCC_PREPROCESSOR_DEFINITIONS[sdk=*simulator*] = INDIGO=1 $(inherited)

PRIVATE_HEADERS_FOLDER_PATH = $(INSTALL_PATH_PREFIX)/usr/local/include
PUBLIC_HEADERS_FOLDER_PATH = $(INSTALL_PATH_PREFIX)/usr/local/include

OTHER_LDFLAGS_coverage = $(inherited) -fprofile-arcs -ftest-coverage
