<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceProject</key>
		<string>GCC</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://gcc.gnu.org/</string>
		<key>OpenSourceLicense</key>
		<string>GPL+exception</string>
		<key>OpenSourceLicenseFile</key>
		<string>libgcc.txt</string>
		<key>OpenSourceVersion</key>
		<string>4.2.0</string>
		<key>OpenSourceImportDate</key>
		<date>2007-05-16</date>
		<key>OpenSourceURL</key>
		<string>ftp://gcc.gnu.org/pub/gcc/releases/gcc-4.2.0/gcc-core-4.2.0.tar.bz2</string>
		<key>OpenSourceSHA1</key>
		<string>0788a6d99c6937586597b7b018929f221af12abf</string>
		<key>OpenSourceModifications</key>
		<array>
		  <string>4971150</string>
		  <string>5054233</string>
		  <string>5189958</string>
		</array>
	</dict>
</array>
</plist>
