<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BATSConfigVersion</key>
	<string>0.1.0</string>
	<key>Project</key>
	<string>libmalloc.xctests</string>
	<key>Tests</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>libmalloc.xctests</string>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/Tests/libmalloc/</string>
			<key>Arch</key>
			<string>platform-native</string>
			<key>AsRoot</key>
			<true/>
			<key>ShowSubtestResults</key>
			<true/>
			<key>Command</key>
			<array>
				<string>BATS_XCTEST_CMD</string>
				<string>-NSTreatUnknownArgumentsAsOpen</string>
				<string>NO</string>
				<string>-ApplePersistenceIgnoreState</string>
				<string>YES</string>
				<string>-XCTest</string>
				<string>All</string>
				<string>/AppleInternal/Tests/libmalloc/libmalloc_xctests.xctest</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
