<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IgnoreOutput</key>
	<true/>
	<key>Project</key>
	<string>mail_cmds</string>
	<key>TestSpecificLogs</key>
	<array>
	   <string>BATS_TMP_DIR/.*results.txt</string>
	</array>
	<key>Tests</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>mail_cmds.mailx_signal_test.mailx_sigint_interactive</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/mail_cmds/mailx_signal_test</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/mail_cmds/</string>
				<string>-r</string>
				<string>mailx_signal_test.mailx_sigint_interactive.results.txt</string>
				<string>mailx_sigint_interactive</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mail_cmds.mailx_signal_test.mailx_sigint_noninteractive</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/mail_cmds/mailx_signal_test</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/mail_cmds/</string>
				<string>-r</string>
				<string>mailx_signal_test.mailx_sigint_noninteractive.results.txt</string>
				<string>mailx_sigint_noninteractive</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mail_cmds.mailx_signal_test.mailx_sighup_interactive</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/mail_cmds/mailx_signal_test</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/mail_cmds/</string>
				<string>-r</string>
				<string>mailx_signal_test.mailx_sighup_interactive.results.txt</string>
				<string>mailx_sighup_interactive</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mail_cmds.mailx_signal_test.mailx_sighup_noninteractive</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/mail_cmds/mailx_signal_test</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/mail_cmds/</string>
				<string>-r</string>
				<string>mailx_signal_test.mailx_sighup_noninteractive.results.txt</string>
				<string>mailx_sighup_noninteractive</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
	</array>
</dict>
</plist>
