<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>less</string>
	<key>OpenSourceVersion</key>
	<string>418</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.greenwoodsoftware.com/less/</string>
	<key>OpenSourceURL</key>
	<string>http://www.greenwoodsoftware.com/less/less-418.tar.gz</string>
	<key>OpenSourceSHA1</key>
	<string>ec4fb48680878a7ac3499c46564c47c448b0aa22</string>
	<key>OpenSourceImportDate</key>
	<string>2008-02-21</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>Patched to remain compatible with more(1).</string>
		<string>call get_term() after determining that less_is_more</string>
	</array>
	<key>OpenSourceLicense</key>
	<string>Less License</string>
	<key>OpenSourceLicenseFile</key>
	<string>less.txt</string>
</dict>
</plist>
