<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<true/>
	<key>Label</key>
	<string>org.postgresql.postgres</string>
	<key>UserName</key>
	<string>_postgres</string>
	<key>GroupName</key>
	<string>_postgres</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Server.app/Contents/ServerRoot/usr/bin/postgres</string>
		<string>--apple-configuration</string>
		<string>/Library/Server/PostgreSQL/Config/org.postgresql.postgres.plist</string>
	</array>
	<key>OnDemand</key>
	<false/>
</dict>
</plist>
