<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2013-06-28</string>
	<key>OpenSourceLicense</key>
	<string>BSD</string>
	<key>OpenSourceLicenseFile</key>
	<string>PostgreSQL.txt</string>
	<key>OpenSourceMD5</key>
	<string>577f503a3fbabbe26145d0c6dae0b440</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>Support for building on Mac OS X</string>
		<string>Patch to use POSIX shmem instead of SysV</string>
		<string>Patch contrib/intarray extension to fix crasher</string>
		<string>Patch to replace GPLv3 Bison parsers with GPLv2 parsers</string>
	</array>
	<key>OpenSourceProject</key>
	<string>PostgreSQL</string>
	<key>OpenSourceSHA1</key>
	<string>c367461b24e9bd95007f445ee2556eac46de04e8</string>
	<key>OpenSourceURL</key>
	<string>http://ftp.postgresql.org/pub/source/v9.1.9/postgresql-9.1.9.tar.gz</string>
	<key>OpenSourceVersion</key>
	<string>9.1.9</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://postgresql.org/</string>
	</dict>
</plist>
