<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2012-06-08</string>
	<key>OpenSourceLicense</key>
	<string>BSD</string>
	<key>OpenSourceLicenseFile</key>
	<string>PostgreSQL.txt</string>
	<key>OpenSourceMD5</key>
	<string>07c5e02e0b5e9b4c82a6d40443a3102f</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>Support for building on Mac OS X</string>
		<string>Patch to use POSIX shmem instead of SysV</string>
		<string>Patch contrib/intarray extension to fix crasher</string>
		<string>Patch to replace GPLv3 Bison parsers with GPLv2 parsers</string>
	</array>
	<key>OpenSourceProject</key>
	<string>PostgreSQL</string>
	<key>OpenSourceSHA1</key>
	<string>ecfd22463234956075d32dff0cbc28cb01766890</string>
	<key>OpenSourceURL</key>
	<string>http://ftp.postgresql.org/pub/source/v9.1.4/postgresql-9.1.4.tar.gz</string>
	<key>OpenSourceVersion</key>
	<string>9.1.4</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://postgresql.org/</string>
	</dict>
</plist>
