<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2011-10-18</string>
	<key>OpenSourceLicense</key>
	<string>BSD</string>
	<key>OpenSourceLicenseFile</key>
	<string>PostgreSQL.txt</string>
	<key>OpenSourceMD5</key>
	<string>6a4cf43ec2ce96bb1558ac2b1ed88216</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>Support for building on Mac OS X</string>
		<string>Patch to use POSIX shmem instead of SysV</string>
		<string>Patch contrib/intarray extension to fix crasher</string>
	</array>
	<key>OpenSourceProject</key>
	<string>PostgreSQL</string>
	<key>OpenSourceSHA1</key>
	<string>65c719049f36de50b24dc84364b7129f112a489e</string>
	<key>OpenSourceURL</key>
	<string>http://ftp9.us.postgresql.org/pub/mirrors/postgresql/source/v9.0.5/postgresql-9.0.5.tar.gz</string>
	<key>OpenSourceVersion</key>
	<string>9.0.5</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://postgresql.org/</string>
	</dict>
</plist>
