<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.private.iokit.batterydata</key>
	<true/>
	<key>com.apple.private.iokit.batterydataprecise</key>
	<true/>
	<key>com.apple.private.iokit.rootdomain-set-property</key>
	<true/>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>ApplePPMUserClient</string>
		<string>RootDomainUserClient</string>
		<string>AppleSMCClient</string>
		<string>AppleSmartBatteryManagerUserClient</string>
		<string>IOReportUserClient</string>
	</array>
	<key>com.apple.private.SkyLight.displaycontrol</key>
	<true/>
	<key>com.apple.private.iokit.powerlogging</key>
	<true/>
	<key>com.apple.private.iokit.soc-limit</key>
	<true/>
	<key>com.apple.private.applesmc.user-access</key>
	<true/>
</dict>
</plist>
