Deze pagina toont een overzicht van alle administratieve verzoeken m.b.t. de <a href="%(adminurl)s"><em>%(listname)s</em></a> maillijst die wachten op uw goedkeuring.
Allereerst ziet u een lijst van alle aanmeldings- en afmeldingsverzoeken, mits die er zijn, gevolgd door een lijst van de berichten die wachten op uw goedkeuring.

<p>Voor elk administratief verzoek dient u de te ondernemen handeling te selecteren.
Als u daarmee klaar bent, drukt u op de button <b>Verstuur de wijzigingen</b>.<br>
Meer gedetailleerde instructies kunt u <a href="%(detailsurl)s">hier</a> vinden.

<p>U kunt ook de <a href="%(viewallurl)s">details bekijken</a> van alle in de wachtrij staande berichten.