De administratieve verzoeken worden getoond op &eacute;&eacute;n of twee manieren,
op een <a href="%(summaryurl)s">overzichtspagina</a> en op een 
<em>detailpagina</em>. 
De overzichtspagina bevat de wachtende aan- en afmeldingsverzoeken m.b.t.
lidmaatschap van de lijst, alsmede de op goedkeuring wachtende berichten,
gegroepeerd per e-mailadres. De detailpagina bevat een meer gedetailleerd beeld
van elk wachtend bericht, inclusief alle berichtheaders en de berichtinhoud.

<p>Op alle pagina's beschikt u over de volgende handelingen:

<ul> <li><b>Uitstellen</b> -- Stel uw beslissing uit tot later. Geen actie wordt
nu ondernomen m.b.t. het wachtende verzoek, maar u kunt het bericht al wel
doorsturen of bewaren (zie ook hieronder).

<li><b>Goedkeuren</b> -- Keur het bericht goed, waardoor het verzonden wordt
naar de lijstleden. Bij lidmaatschapsverzoeken geeft het goedkeuring aan de
verandering van de lidmaatschapsstatus.

<li><b>Weigeren</b> -- Weiger het bericht, waardoor een weigeringsbericht wordt
verzonden naar de afzender, en het oorspronkelijke bericht wordt genegeerd. Bij
lidmaatschapsverzoeken wordt de verandering van de lidmaatschapsstatus geweigerd.
In beide gevallen dient u een reden voor de weigering toe te voegen in het
daartoe bestemde tekstveld.

<li><b>Negeren</b> -- Verwijder het oorspronkelijke bericht, zonder het versturen
van een weigeringsbericht. Bij lidmaatschapsverzoeken wordt het verzoek simpelweg
genegeerd, zonder bericht aan de betreffende persoon. Dit is de gebruikelijke
actie in het geval van spam. </ul>

<p>Voor wachtende berichten zet u de <b>Bewaar</b>-optie aan als u een copie van
het bericht wilt opslaan voor de lijstbeheerder. Dit is nuttig als u
'misbruik'-berichten wilt negeren, maar een copie wilt bewaren voor later
onderzoek.

<p>Zet de <b>Doorstuur</b>-optie aan en vul een doorstuur-adres in als
u het bericht wilt doorsturen naar iemand anders die niet op de lijst staat.
Om een bericht te bewerken voordat het doorgestuurd wordt naar de
lijst, moet u het bericht doorsturen naar uzelf (of de lijstbeheerders), en
het oorspronkelijke bericht negeren. Vervolgens, als het bericht binnenkomt
in uw mailbox, maakt u daar de nodige wijzigingen en zendt u het bericht
terug naar de lijst, inclusief een <tt>Approved:</tt> header met als waarde
het lijstwachtwoord. Het is in dit geval netiquette om een opmerking in het
herziene bericht op te nemen dat u de tekst heeft gewijzigd.

<p>Als de afzender een lid is dat wordt gemodereerd, kunt u optioneel de
moderatie uitzetten. Dit is nuttig als uw lijst nieuwe leden op de proef
aanneemt, en u hebt bestloten dat dit lid kan worden vertrouwd om
berichten naar de lijst te versturen zonder goedkeuring.

<p>Als de afzender geen lid is van de lijst, kunt u het e-mailadres toevoegen
aan een <em>afzender-filter</em>.  Afzender-filters worden beschreven
op de pagina <a
href="%(filterurl)s">Openbaarheid/moderatie/misbruik - Afzenderfilters</a>, en kunnen
zijn: <b>auto-accept</b> (Goedkeuren), <b>auto-hold</b> (Uitstel),
<b>auto-reject</b> (Weigeren), of <b>auto-discard</b> (Negeren).
Deze optie zal niet beschikbaar zijn als het adres reeds in een van de
afzender-filters is opgenomen.

<p>Als u klaar bent, klikt u op de button <em>Verstuur de wijzigingen</em>
onder in de pagina. Hiermee zullen alle gekozen handelingen m.b.t. alle
administratieve verzoeken ge&euml;ffectueeerd worden.

<p><a href="%(summaryurl)s">Terug naar de overzichtspagina</a>.
