De tekst mag de volgende
<a href="http://docs.python.org/library/stdtypes.html#string-formatting-operations" target="_blank">Python
format strings</a> bevatten, die automatisch herleid worden naar attributen die elders
gedefinieerd zijn voor deze lijst. De mogelijke vervangende strings zijn:

<ul>
    <li><b>real_name</b> - De "mooie" naam van de lijst; gewoonlijk
    de lijstnaam met hoofdletters er in.

    <li><b>list_name</b> - De lijstnaam zonder hoofdletters er in, gepresenteerd als 
    URL.

    <li><b>host_name</b> - De domeinnaam waaronder de server van de maillijst op     draait.

    <li><b>web_page_url</b> - Basis URL van Mailman. Hier kan aan toegevoegd worden:
    <em>listinfo/%(list_name)s</em> 
    om naar de lijst informatie pagina te gaan.

    <li><b>description</b> - De korte omschrijving van de maillijst.

    <li><b>info</b> - De uitgebreide omschrijving van de maillijst.

    <li><b>cgiext</b> - De extentie toegevoegd aan CGI scripts.
</ul>
