<!-- $Revision: 7947 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> Informatiepagina</TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000">Over <MM-List-Name></FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p>Om alle eerdere berichten op deze lijst te raadplegen, kijk in het <MM-Archive><MM-List-Name> Archief</MM-Archive>.
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Gebruik van <MM-List-Name></FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  Om een bericht naar alle leden van de lijst te sturen, adresseert u het aan:<br>
	  <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>.
	  
	  <p>Hieronder kunt u uzelf aanmelden als lid van de lijst of uw persoonlijke instellingen wijzigen.
	    </td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Aanmelden bij <MM-List-Name></FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	    Om u aan te melden bij <MM-List-Name> vult u onderstaand formulier in.
	  <MM-List-Subscription-Msg>
	  <ul>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">Uw e-mailadres:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <tr>
        <td bgcolor="#dddddd" width="55%">Uw naam (optioneel):</td>
        <td width="33%"><mm-fullname-box></td>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
	<TD COLSPAN="3"><FONT SIZE=-1>U kunt hieronder een wachtwoord invullen. Dit voorziet
	in een zekere mate van bescherming en moet voorkomen dat anderen kunnen knoeien met
	uw lidmaatschap. <b>Gebruik niet een eerder door u gebruikt wachtwoord</b>,
	omdat het af en toe onversleuteld naar u gemaild zal worden.
	
            <p>Als u ervoor kiest om geen wachtwoord in te vullen, wordt een automatisch 
            gegenereerd wachtwoord naar u toegezonden zodra u uw aanmelding hebt
            bevestigd. U kunt steeds om toezending van uw wachtwoord vragen wanneer u uw
            persoonlijke instellingen wilt wijzigen.
	    <MM-Reminder>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">Kies een wachtwoord:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">Herhaal het wachtwoord ter bevestiging:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd">Wat is uw voorkeurstaal voor de berichten?</TD> 
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <tr>
	<td>Wilt u de berichten gebundeld ontvangen in een dagelijkse verzamelmail?
	  </td>
	<td><MM-Undigest-Radio-Button> Nee
	    <MM-Digest-Radio-Button>  Ja
	</TD>
      </tr>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="Subscribers">
        <B><FONT COLOR="#000000"><MM-List-Name> leden</FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>