<!-- $Revision: 1.1.1.1 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User> instellingen voor <MM-List-Name> mailing lijst
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-List-Name> mailing lijst instellingen voor <MM-Presentable-User>
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b><MM-Presentable-User></b>'s Aanmeld status,
        wachtwoord, en andere opties voor <MM-List-Name> mailing lijst.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Wijzing je <MM-List-Name> lidmaatschap informatie</B>
        </FONT></TD></TR>
    <tr><td colspan="2">
        Hier kun je je email adres veranderen. Je krijgt een nieuw emailtje toegestuurt 
        op je nieuwe email adres voor bevestiging. Je moet deze bevestigen voordat het nieuwe 
        email adres aktief wordt.
        
        <p>Je moet de email adres wijziging bevestigen binnen <mm-pending-days>.

        <p>Je kan ook optioneel je naam invoeren (vb. <em>John Smith</em>).

        <p>Wil je al je email adressen in 1 keer op <mm-host> veranderen, dan het vinkje aanzetten bij 
        <em>Wijzig in alle lijsten</em> keuze.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Nieuw email adres:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Nogmaals het nieuwe adres:</div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Je naam (optioneel):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Wijzig in alle lijsten</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Afmelden van <MM-List-Name> mailing lijst</B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Je andere aangemelde <MM-Host> mailing lijsten</B>
        </FONT></TD></TR>

    <tr><td>
        Zet het vinkje aan (onder de knop) om je af te melden bij deze mailing lijst. 
        En druk op de knop (hieronder)  <strong>Waarschuwing:</strong>
        Je word meteen van de lijst verwijderd.
        <p>
        <center>
        <p><MM-Unsubscribe-Button></p>
        </center></td>
    <td>
        Bekijk al alle lijsten waar je je aangemeld hebt op <mm-host>. 
        Als je een andere lijst heb geselecteerd kun je daar ook eventueel opties wijzigen.
        <p>
        <center>
        <p><MM-Other-Subscriptions-Submit></p>
        </center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Je <MM-List-Name> Wachtwoord</B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Je wachtwoord vergeten?</h3>
        </center>
        Druk op de knop, en je wachtwoord wordt toegestuurd via email.
        <p><MM-Umbrella-Notice>
        <center>
        <p>
        <MM-Email-My-Pw>
        </p>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Wijzig je wachtwoord</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Nieuw Wachtwoord:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Nogmaals het nieuwe wachtwoord:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Wijzig het voor alle mailing lijsten
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Je <MM-List-Name> mailing lijst aanmeldings optie's</B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>De optie's zoals ze nu staan zijn aktief.</strong></i>
<br><br>
Notitie: Sommige opties hebben de instelling <em>Globaal</em>
optie.  Als je deze optie aanvinkt zal de optie ook ingesteld worden op alle andere 
mailing lijsten waar je lid van bent.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Mail Bezorging</strong></a><p>
        Zet deze optie op <em>Aan</em> om berichten die worden gepost naar de lijst 
        te ontvangen.  Zet de optie op <em>Uit</em> om de bezorging van post 
        tijdelijk uit te schakelen. Bijvoorbeeld als je op vakantie gaat of om 
        andere redenen. Vergeet niet om weer de optie op <em>Aan</em> te zetten als 
        je weer post wilt ontvangen.
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Aan<br>
        <mm-delivery-disable-button>Uit<p>
        <mm-global-deliver-button><i>Globaal</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Digest</strong><p>
        Als je deze optie op <em>Aan</em> zet dan krijg je de mail van 1 dag gebundeld 
        in 1 bericht. Zet je deze optie op <em>Uit</em> dan krijg je elk emailtje wat gestuurd 
        wordt naar de lijst appart.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Uit<br>
        <MM-Digest-Radio-Button>Aan
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>HTML of platte tekst Digests?</strong><p>
        Als je op digest mode staat kun je keizen of je HTML of platte text berichten wilt 
        ontvangen.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>HTML<br>
        <MM-Plain-Digests-Button>Platte tekst<p>
        <mm-global-mime-button><i>Globaal</i>
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Ontvang je eigen verstuurde berichten naar de lijst</strong><p>
        Normaal gesproken krijg je je eigen verstuurde mail terug, als je dit niet wilt, 
        stel de optie in op <em>Nee</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Nee<br>
        <mm-receive-own-mail-button>Ja
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Ontvangst bevestiging?</strong><p>
        Als je een ontvangst bevestiging wilt voor elk bericht wat je stuurt 
        aan de lijst zet je de optie op <em>Aan</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Uit<br>
        <mm-ack-posts-button>Aan
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Wachtwoord herinneringen</strong><p>
        Op de 1ste van de elke maand wordt er een herinnering gestuurd per email. 
        In dit emailtje staat je wachtwoord ter herinnering. Om dit uit te zetten als je dit niet wilt ontvangen zet je de optie op 
        <em>Nee</em>
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Nee<br>
        <mm-get-password-reminder-button>Ja<p>
        <mm-global-remind-button><i>Globaal</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Ontzichtbaar</strong><p>
        Je kan jezelf op ontzichtbaar zetten op de ledenlijst. Andere leden zien dan niet dat je lid bent 
        van de mailing lijst. Zet de optie op <em>Ja</em> voor ontzichtbaar op de ledenlijst.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Nee<br>
        <MM-Hide-Subscription-Button>Ja
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Welke taal wil je?</strong><p>
        Deze taal instelling geld voor alle systeem berichten en webpagina's.
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Onderwerp categorie selectie</strong><p>
                Bij het selecteren van 1 of meer onderwerpen, kun je berichten filteren. 
                Je krijgt dan alleen deze berichten toegestuurd, alle andere berichten gestuurd naar deze 
                lijst zul je dan niet ontvangen.
                </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Wil je berichten ontvangen die niet overeen komen met bovenstaande onderwerp filters?</strong><p>
                Optie <em>Nee</em> zorgt ervoor dat je geen berichten ontvangt die niet overeen komen met 
                de ingestelde Onderwerp filter. Optie <em>Ja</em> 
                bezorgd ook alle berichten die niet aan de onderwerp filter voldoet.
                </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Nee<br>
        <mm-receive-nonmatching-topics>Ja
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Onderschep dubbele berichten gestuurd naar de lijst?</strong><p>

                Als je ook persoonlijk geadresseerd bent in <tt>Aan:</tt> of
                <tt>Cc:</tt> headers van een bericht, dan kan je kiezen om 
                geen dubbele berichten te ontvangen. 
                Kies de optie <em>Ja</em> om dubbele berichten te voorkomen. 
                Selecteer <em>Nee</em> om dubbele berichten te ontvangen.
        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Nee<br>
        <mm-dont-receive-duplicates-button>Ja<p>
        <mm-global-nodupes-button><i>Globaal</i>
        </td></tr>

    <tr><TD colspan="2">
        <center>
        <p><MM-options-Submit-button></p>
        </center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>