<html>
<head>
    <title>%(realname)s Priv&eacute;-archief Login</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(realname)s Priv&eacute;-archief Login</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">E-mailadres:</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">Wachtwoord:</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="Inloggen">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Belangrijk:</em></strong><br>
      Vanaf hier moet het gebruik van cookies in uw browser toegelaten zijn, anders kunnen uw
      administratieve handelingen niet geeffectueerd worden!
      <p>'Session cookies' worden gebruikt in Mailman's administratieve interface opdat u zichzelf 
      niet steeds weer dient te identificeren bij elke handeling. Dit cookie zal automatisch verlopen
      als u de browser afsluit, of wanneer u zelf het cookie actief doet verlopen door de pagina 'lidmaatschapsinstellingen' te bezoeken en daar op de link <em>Uitloggen</em> te klikken.
</FORM>
</body>
</html>
