<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CC-PC-Card</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.0.1d1</string>
	<key>ifdFriendlyName</key>
	<string>CRYPTOCard</string>
	<key>ifdProductID</key>
	<string>1003</string>
	<key>ifdVendorID</key>
	<string>2BD</string>
	<key>CFBundleIdentifier</key>
	<string>com.CRYPTOCard.SmartcardReader</string>
	<key>CFBundleName</key>
	<string>CRYPTOCardSmartcardDriver</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
</dict>
</plist>
