<plist version="1.0">
<array>
<dict>
	<key>OpenSourceProject</key>
	<string>diffstat</string>
	<key>OpenSourceVersion</key>
	<string>1.41</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://invisible-island.net/diffstat/</string>
	<key>OpenSourceURL</key>
	<string>ftp://invisible-island.net/diffstat/diffstat.tar.gz</string>
	<key>OpenSourceSHA1</key>
	<string>75545e796ad6b2663170f21dc7d303d3487ad5d8</string>
	<key>OpenSourceImportDate</key>
	<string>2006-05-02</string>
	<key>OpenSourceLicense</key>
	<string>Other</string>
	<key>OpenSourceLicenseFile</key>
	<string>diffstat.txt</string>
</dict>
</array>
</plist>
