<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOStorageFamily</string>
	<key>CFBundleGetInfoString</key>
	<string>1.2.4, Copyright Apple Computer, Inc. 2000-2003</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IOStorageFamily</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>I/O Kit Storage Family</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2.4</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOApplePartitionScheme</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOStorageFamily</string>
			<key>Content Mask</key>
			<string>Apple_partition_scheme</string>
			<key>IOClass</key>
			<string>IOApplePartitionScheme</string>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>Whole</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
		</dict>
		<key>IOApplePartitionScheme - CD</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOStorageFamily</string>
			<key>Content Mask</key>
			<string>Apple_partition_scheme</string>
			<key>IOClass</key>
			<string>IOApplePartitionScheme</string>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>Content Hint</key>
				<string>CD_ROM_Mode_1</string>
				<key>Writable</key>
				<false/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
		</dict>
		<key>IOApplePartitionScheme - CD Extended</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOStorageFamily</string>
			<key>Content Mask</key>
			<string>Apple_partition_scheme</string>
			<key>IOClass</key>
			<string>IOApplePartitionScheme</string>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>Content Hint</key>
				<string>CD_ROM_Mode_2_Form_1</string>
				<key>Writable</key>
				<false/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
		</dict>
		<key>IOBlockStorageDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOStorageFamily</string>
			<key>IOClass</key>
			<string>IOBlockStorageDriver</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device-type</key>
				<string>Generic</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOBlockStorageDevice</string>
		</dict>
		<key>IOFDiskPartitionScheme</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOStorageFamily</string>
			<key>Content Mask</key>
			<string>FDisk_partition_scheme</string>
			<key>Content Table</key>
			<dict>
				<key>0x01</key>
				<string>DOS_FAT_12</string>
				<key>0x04</key>
				<string>DOS_FAT_16_S</string>
				<key>0x05</key>
				<string>DOS_Extended</string>
				<key>0x06</key>
				<string>DOS_FAT_16</string>
				<key>0x07</key>
				<string>Windows_NTFS</string>
				<key>0x0A</key>
				<string>Boot_Manager</string>
				<key>0x0B</key>
				<string>DOS_FAT_32</string>
				<key>0x0C</key>
				<string>Windows_FAT_32</string>
				<key>0x0E</key>
				<string>Windows_FAT_16</string>
				<key>0x0F</key>
				<string>Windows_Extended</string>
				<key>0x11</key>
				<string>DOS_FAT_12_Hidden</string>
				<key>0x14</key>
				<string>DOS_FAT_16_S_Hidden</string>
				<key>0x16</key>
				<string>DOS_FAT_16_Hidden</string>
				<key>0x17</key>
				<string>Windows_NTFS_Hidden</string>
				<key>0x1B</key>
				<string>DOS_FAT_32_Hidden</string>
				<key>0x1C</key>
				<string>Windows_FAT_32_Hidden</string>
				<key>0x1E</key>
				<string>Windows_FAT_16_Hidden</string>
				<key>0x63</key>
				<string>UNIX</string>
				<key>0x82</key>
				<string>Linux_Swap</string>
				<key>0x83</key>
				<string>Linux_Ext2FS</string>
				<key>0x84</key>
				<string>Hibernation</string>
				<key>0x85</key>
				<string>Linux_Extended</string>
				<key>0x86</key>
				<string>Windows_FAT_16_FT</string>
				<key>0x87</key>
				<string>Windows_NTFS_FT</string>
				<key>0xA5</key>
				<string>FreeBSD</string>
				<key>0xA6</key>
				<string>OpenBSD</string>
				<key>0xA7</key>
				<string>NeXTSTEP</string>
				<key>0xA8</key>
				<string>Apple_UFS</string>
				<key>0xA9</key>
				<string>NetBSD</string>
				<key>0xAB</key>
				<string>Apple_Boot</string>
				<key>0xAF</key>
				<string>Apple_HFS</string>
				<key>0xB7</key>
				<string>BSDI</string>
				<key>0xB8</key>
				<string>BSDI_Swap</string>
				<key>0xC6</key>
				<string>Windows_FAT_16_FT_Corrupt</string>
				<key>0xC7</key>
				<string>Windows_NTFS_FT_Corrupt</string>
				<key>0xEB</key>
				<string>BeOS</string>
				<key>0xF2</key>
				<string>DOS_Secondary</string>
				<key>0xFD</key>
				<string>Linux_RAID</string>
			</dict>
			<key>IOClass</key>
			<string>IOFDiskPartitionScheme</string>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOProbeScore</key>
			<integer>3000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>Whole</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
		</dict>
		<key>IOMediaBSDClient</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOStorageFamily</string>
			<key>IOClass</key>
			<string>IOMediaBSDClient</string>
			<key>IOMatchCategory</key>
			<string>IOMediaBSDClient</string>
			<key>IOProbeScore</key>
			<integer>30000</integer>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
		</dict>
		<key>IONeXTPartitionScheme</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOStorageFamily</string>
			<key>Content Mask</key>
			<string>NeXT_partition_scheme</string>
			<key>Content Table</key>
			<dict>
				<key>4.1BSD</key>
				<string>Unknown</string>
				<key>4.2BSD</key>
				<string>Unknown</string>
				<key>4.4BSD</key>
				<string>Apple_UFS</string>
				<key>4.4LFS</key>
				<string>Unknown</string>
			</dict>
			<key>IOClass</key>
			<string>IONeXTPartitionScheme</string>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>Whole</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
		</dict>
		<key>IONeXTPartitionScheme - CD</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOStorageFamily</string>
			<key>Content Mask</key>
			<string>NeXT_partition_scheme</string>
			<key>Content Table</key>
			<dict>
				<key>4.1BSD</key>
				<string>Unknown</string>
				<key>4.2BSD</key>
				<string>Unknown</string>
				<key>4.4BSD</key>
				<string>Apple_UFS</string>
				<key>4.4LFS</key>
				<string>Unknown</string>
			</dict>
			<key>IOClass</key>
			<string>IONeXTPartitionScheme</string>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>Content Hint</key>
				<string>CD_ROM_Mode_1</string>
				<key>Writable</key>
				<false/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
		</dict>
		<key>IONeXTPartitionScheme - Rhapsody</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOStorageFamily</string>
			<key>Content Mask</key>
			<string>NeXT_partition_scheme</string>
			<key>Content Table</key>
			<dict>
				<key>4.1BSD</key>
				<string>Unknown</string>
				<key>4.2BSD</key>
				<string>Unknown</string>
				<key>4.4BSD</key>
				<string>Apple_UFS</string>
				<key>4.4LFS</key>
				<string>Unknown</string>
			</dict>
			<key>IOClass</key>
			<string>IONeXTPartitionScheme</string>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>Content Hint</key>
				<string>Apple_Rhapsody_UFS</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright Apple Computer, Inc. 2000-2003</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0b1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kernel.bsd</key>
		<string>1.1</string>
		<key>com.apple.kernel.iokit</key>
		<string>1.1</string>
		<key>com.apple.kernel.libkern</key>
		<string>1.1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
