<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>EnableTransactions</key>
	<false/>
	<key>Label</key>
	<string>com.apple.security.syspolicy</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.security.syspolicy</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/syspolicyd</string>
	</array>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.security.syspolicy.rearm</key>
			<dict>
				<key>Delay</key>
				<integer>86400</integer>
				<key>GracePeriod</key>
				<integer>3600</integer>
				<key>Priority</key>
				<string>Maintenance</string>
				<key>Repeating</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
