Her finder du en oversigt over anmodninger der skal vurderes for maillisten.
<a href="%(adminurl)s"><em>%(listname)s</em></a>.<br>
Eventuelle anmodninger om medlemsskab af listen vil blive
vist f&oslash;rst, derefter kommer meddelelser som er sendt til listen,
men som venter p&aring; godkendelse for at blive rundsendt.

<p>V&aelig;lg &oslash;nsket tiltag for hver anmodning, og klik p&aring; <b>Udf&oslash;r</b> knappen n&aring;r du er f&aelig;rdig.
<a href="%(detailsurl)s">N&aelig;rmere instruktioner</a> er ogs&aring; tilg&aelig;ngelige.

<p>Du kan ogs&aring; <a href="%(viewallurl)s">se alle detaljer for alle tilbageholdte meddelelser</a> hvis du &oslash;nsker det.
