Administrative anmodninger kan vises p&aring; to m&aring;der, enten som en <a
href="%(summaryurl)s">oversigt</a>, eller med <em>alle detaljer</em>.
P&aring; oversigtssiden vises b&aring;de ventende tilmeldinger/frameldinger og
e-mail som afventer godkendelse for at blive distribueret via listen.
Detailsiden viser ogs&aring; email-headers og et uddrag af
indholdet i dem.

<p>P&aring; begge sider kan du angive f&oslash;lgende tiltag:

<ul>
<li><b>Afvent</b> -- Uds&aelig;t afg&oslash;relsen. Intet bliver gjort med
    denne anmodning nu, men e-mail der venter p&aring; godkendelse kan du
    behandle eller videresende (se nedenfor).

<li><b>Godkend</b> -- Accepter meddelelsen som den er og distribuer den
    til listen. For anmodninger om medlemskab, iv&aelig;rks&aelig;ttelse af framelding eller
    tilmelding.

<li><b>Afvis</b> -- Slet meddelelsen og giv besked tilbage til
    afsenderen om at meddelelsen ikke blev godkendt. For anmodninger om
    medlemskab, afslag p&aring; framelding eller tilmelding. I alle tilf&aelig;lde b&oslash;r
    du ogs&aring; angive en grund i den tilh&oslash;rende tekstboks.

<li><b>Slet</b> -- Slet meddelelsen uden at at sende besked
    til afsender. Den almindelige reaktion p&aring; reklame-email (spam).
    For anmodninger om medlemskab, afslag p&aring; framelding eller tilmelding, uden
    at den som pr&oslash;vede at fra- eller tilmelde sig listen f&aring;r noget at vide
    om det.

</ul>

<p>Marker <b>Gem meddelelse</b> hvis du &oslash;nsker at gemme en kopi til
systemets administrator. Dette kan v&aelig;re nyttigt for meddelelser som er
knyttet til misbrug af systemet og som du egentlig vil slette, men som du
&oslash;nsker se se n&aelig;rmere p&aring; senere.

<p>Marker <b>Videresend meddelelser</b> og angiv en e-mailadrese
hvis du vil videresende meddelelsen til andre. For at redigere en e-mail
der holdes tilbage f&oslash;r den sendes til listen, b&oslash;r du sende den til dig selv
(eller evt. listens ejere), og slette den oprindelige e-mail.
N&aring;r e-mailen ankommer til din indboks, kan du redigere den og udf&oslash;re de &aelig;ndringer
du &oslash;nsker, og derefter sende den til listen igen, med et <tt>Approved:</tt> felt
i brevhovedet efterfulgt af listens adgangskode. Husk at det er normal netikette
i s&aring;danne tilf&aelig;lde at angive at du har redigeret indholdet.

<p>Hvis afsenderen er medlem af listen men er modereret, kan du fjerne
moderationsflaget hvis du &oslash;nsker det. Dette er nyttigt n&aring;r du har opsat
listen s&aring;dan at nye medlemmer har en pr&oslash;vetid p&aring; listen, og du har bestemt
at nu er pr&oslash;vetiden udl&oslash;bet for medlemmet.

<p>Hvis afsenderen ikke er medlem af listen, kan du f&aring; e-mailadressen lagt
i et af <em>afsenderfiltrene</em>. Afsenderfiltre er forklaret p&aring; <a
href="%(filterurl)s">Filtrering p&aring; afsender</a>-siden, og kan v&aelig;re
<b>auto-godkendelse</b>, <b>auto-tilbageholdelse</b>, <b>auto-afvisning</b>, eller
<b>auto-sletning</b>. Denne valgmulighed vil ikke v&aelig;re tilg&aelig;ngelig hvis adressen
allerede findes i et filter.

<p>Klik p&aring; <em>Udf&oslash;r</em> knappen &oslash;verst eller nederst p&aring; siden,
n&aring;r du har foretaget dine valg.
Det vil aktivere dine afg&oslash;relser.

<p><a href="%(summaryurl)s">Tilbage til oversigtssiden</a>.
