Administrative foresp&oslash;rgsler kan vises p&aring; to m&aring;der, enten som en <a
href="%(summaryurl)s">oversigt</a>, eller med <em>alle detaljer</em>.
P&aring; oversigtssiden vises b&aring;de ventende tilmeldinger/frameldinger og
e-mail som afventer godkendelse for at blive distribueret via listen.
Detailsiden viser ogs&aring; e-mails mailhoveder og et uddrag af
indholdet i dem.

<p>P&aring; begge sider kan du angive f&oslash;lgende tiltag:

<ul>
<li><b>Afvent</b> -- Uds&aelig;t afg&oslash;relsen. Intet bliverr gjort med
    denne foresp&oslash;rselen nu, men e-mail der venter p&aring; godkendelse kan du
    behandle eller videresende (se nedenfor).

<li><b>Godkenne</b> -- Godtage meldingen som den er og distribuere den
    til listen. For foresp&oslash;rgsler om medlemskab, iverks&aelig;tte framelding eller
    tilmelding.

<li><b>Avise</b> -- Slette meddelelsen og giv besked tilbage til
    afsenderen om at meddelelsen ikke blev godkent. For foresp&oslash;rsler om
    medlemskab, afslg framelding eller tilmelding. I alle tilf&aelig;lde b&oslash;r
    du ogs&aring; opgive en grund i den tilh&oslash;rende tekstboks.

<li><b>Kassere</b> -- Slette meldingen uden at noe besked sendes
    til afsender. Nyttig for s&oslash;ppel-epost og reklame-epost (spam).
    For foresp&oslash;rsler om medlemskap, afsl&aring; framelding eller tilmelding, uden
    at den som pr&oslash;vede at framelde eller til listen f&aring;r noget at vide
    om det.

</ul>

<p>Kryss av for <b>Ta vare p&aring; meldingen</b> dersom du &oslash;nsker &aring; lagre en kopi for
systemets administrator. Dette kan v&aelig;re nyttig for meldinger som er
knyttet til misbrug af systemet og som du egentlig vil slette, men som kan
v&aelig;re nyttig at tage en kig p&aring; senere.

<p>Kryss af for <b>Videresend denne meldingen</b> og opgiv en e-mailadrese
hvis du vil videresende meddelelse til andre. For at redigere en e-mail
der holdes tilbage f&oslash;r den sendes til listen, b&oslash;r du sende den til dig selv
(eller evt. listens ejere), og slette den orindelige e-mail.
Derefter, n&aring;r e-mail kommer til din inboks, rediger den og udf&oslash;r de endringer
du &oslash;nsker, og send den s&aring; til listen p&aring; nytt, med et <tt>Approved:</tt> felt
i meldingshodet efterfulgt af listens password. Husk at det er normal netiquette
i et s&aring;dannet tilfelle at opgive at du har redigeret indholdet.

<p>Hvis afsenderen er medlem af listen men er moderert, kan du fjerne
moderastionsflaget hvis du &oslash;nsker det. Dette er nyttig n&aring;r du har opsat
listen s&aring;dan at nye medlemmer har en pr&oslash;vetid p&aring; listen, og du har bestemt
at nu er pr&oslash;vetiden g&aring;etr for medlemmet.

<p>Hvis afsenderen ikke er medlem af listen, kan du f&aring; e-mailadressen ilagt
i et af <em>afsenderfiltrene</em>. Afsenderfiltre er forklaret p&aring; <a
href="%(filterurl)s">Filtrering p&aring; afsender</a>-siden, og kan v&aelig;re
<b>auto-godkende</b>, <b>auto-holdetilbage</b>, <b>auto-afsl&aring;</b>, eller
<b>auto-forkast</b>. Dette valg vil ikke v&aelig;re tilg&aelig;ngelig hvis denne adresse
allerede er ilagt i et filter.

<p>Efter at du har foretaget dine valg, klik p&aring; <em>Udf&oslash;re</em>
knappen i toppen eller neders af siden. Det vil igangs&aelig;ette dine
afg&oslash;relser.

<p><a href="%(summaryurl)s">Tilbage til oversigtssiden</a>.
