    </ul>
    <p>
      <a name="end"><b>Dato for nyeste meddelelse:</b></a>
       <i>%(lastdate)s</i><br>
    <b>Arkiveret:</b> <i>%(archivedate)s</i>
    <p>
   <ul>
         <li> <b>Meddelelser sorteret efter:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
	     <li><b><a href="%(listinfo)s">Mere information om denne liste...
                    </a></b></li>
     </ul>
     <p>
     <hr>
     <i>Dette arkiv blev genereret af
     Pipermail %(version)s.</i>
  </BODY>
</HTML>
