<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title>Personlig medlemside for <MM-Presentable-User> p&aring; listen <MM-List-Name>
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
	Personlig medlemside for <MM-Presentable-User> p&aring; listen <MM-List-Name>
	</FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b>Medlemsstatus, Adgangskode, og indstillinger for <MM-Presentable-User></b>
        p&aring; mailinglisten <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Skifte email-adresse p&aring; <MM-List-Name></B>
	</FONT></TD></TR>
    <tr><td colspan="2">Du kan udskifte den email-adresse du har tilmeldt dig
        listen med ved at skrive en anden email-adresse i felterne nedenfor.
        Bem&aelig;rk at en E-mail med n&aelig;rmere instruktioner s&aring; vil blive sendt til den nye
        adresse. &AElig;ndringerne tr&aelig;der ikke i kraft f&oslash;r du har bekr&aelig;ftet dem.
        Du har <mm-pending-days> til at bekr&aelig;fte &aelig;ndringen.

        <p>Du kan ogs&aring; angive eller &aelig;ndre dit navn p&aring; listen (f.eks <em>Holger Danske</em>).

        <p>V&aelig;lg <em>&AElig;ndre alle lister</em> hvis du vil &aelig;ndre din email-adresse for alle de
           mailinglister du er tilmeldt p&aring; <mm-host>.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Ny email-adresse:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Email-adresse en gang til:
            </div></td>
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Dit navn
            (valgfrit):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
         <p><mm-global-change-of-address>&AElig;ndre min email-adresse p&aring; alle lister jeg er medlem af</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Afmelde dig <MM-List-Name></B></td>

	<TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Andre lister du er medlem af p&aring; <MM-Host></B>
	</FONT></TD></TR>

    <tr><td>
        Kryds af i afkrydsningsboksen og Klik p&aring; knappen for at afmelde dig
        denne mailingliste.
        <strong>BEM&AElig;RK:</strong> Du vil straks blive afmeldt listen!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        Du kan v&aelig;lge at se alle lister du er tilmeldt, s&aring; du kan foretage de samme
        &aelig;ndringer p&aring; flere lister p&aring; en gang.

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
	</TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Din Adgangskode til <MM-List-Name></B>
	</FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Har du glemt din adgangskode?</h3>
        </center>
        Tryk p&aring; denne knap for at f&aring; din adgangskode tilsendt via E-mail.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Skift Adgangskode</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Ny
                Adgangskode:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Ny Adgangskode en gang
                til:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Skift adgangskode for alle de
        lister jeg er medlem af p&aring; <mm-host>.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Dine indstillinger for <MM-List-Name></B>
	</FONT></TD></TR>
</table>

<p>
<i><strong>F&oslash;lgende indstillinger er g&aelig;ldende.</strong></i>

<p>Bem&aelig;rk at der ved nogle af indstillingerne er mulighed for at v&aelig;lge <em>Brug p&aring; alle</em>.
V&aelig;lger du <em>Brug p&aring; alle</em>, vil alle lister du er medlem af p&aring; <mm-host> ogs&aring;
f&aring; den samme indstilling som du har valgt her. Klik p&aring; <em>Vis andre
lister jeg er medlem af</em> ovenfor for at se hvilke andre mailinglister du
er medlem af.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Modtag meddelelser</strong></a><p>
	S&aelig;t denne til <em>Ja</em> for at modtage alle E-mails som sendes til denne liste.
        S&aelig;t den til <em>Nej</em> hvis du i en periode ikke &oslash;nsker at modtage E-mail som sendes til listen,
        men alligevel &oslash;nsker at v&aelig;re medlem af listen. (kan v&aelig;re nyttig f.eks. hvis du skal p&aring; ferie)
        S&aelig;tter du den til <em>Nej</em>, skal du huske at s&aelig;tte den tilbage igen,
        for den vil ikke blive sat tilbage til <em>Ja</em> automatisk.
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Ja<br>
        <mm-delivery-disable-button>Nej<p>
        <mm-global-deliver-button><i>Brug p&aring; alle</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Sammendrag-modus</strong><p>
	V&aelig;lger du sammendrag-modus, vil du med j&aelig;vne mellemrum (normalt en gang om dagen,
        muligvis flere gange, det kommer an p&aring; hvor meget der sendes til listen) f&aring; en
	samle-E-mail som indeholder alle meddelelser som bliver sendt til listen, i stedet for at f&aring; alle
	meddelelser hver for sig. Hvis du skifter fra sammendrag-modus til normal-
	modus, vil du muligvis alligevel f&aring; en sidste E-mail med sammendrag
	selv om du allerede er begyndt at modtage alle meddelelser enkeltvis.
	        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Nej<br>
        <MM-Digest-Radio-Button>Ja
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Modtag sammendrag som ren tekst eller i MIME-format?</strong><p>
	M&aring;ske underst&oslash;tter dit emailprogram ikke MIME-formatet.
	At modtage sammendrag i MIME-format anbefales, men f&aring;r du problemer med
	at l&aelig;se E-mail i det format, kan du v&aelig;lge ren tekst her.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Ren tekst<p>
        <mm-global-mime-button><i>Brug p&aring; alle</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Modtag dine egne meddelelser til listen?</strong><p>

        Normalt vil du modtage E-mails som du selv har sendt til listen.
        Hvis du ikke &oslash;nsker at modtage disse, skal du v&aelig;lge <em>Nej</em> her.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Nej<br>
        <mm-receive-own-mail-button>Ja
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Modtag bekr&aelig;ftelse n&aring;r du sender E-mail til listen?</strong><p>

        V&aelig;lg <em>Ja</em> her hvis du &oslash;nsker at f&aring; en bekr&aelig;ftelse hver gang du sender en E-mail til listen.
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Nej<br>
        <mm-ack-posts-button>Ja
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>F&aring; din adgangskode tilsendt j&aelig;vnligt?</strong><p>
	En gang om m&aring;neden kan det v&aelig;re du f&aring;r en E-mail som indeholder
	adgangskoder for alle de lister du er medlem af p&aring; dette system.
	Du kan sl&aring; det fra her.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Nej<br>
        <mm-get-password-reminder-button>Ja<p>
        <mm-global-remind-button><i>Brug p&aring; alle</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Vil du v&aelig;re synlig p&aring; deltagerlisten?</strong><p>
	N&aring;r nogen g&aring;r ind p&aring; websiden for at se alle medlemmer af listen, vil
	din email-adresse normalt vises. (Men stavet p&aring; en m&aring;de s&aring;
	robotter som h&oslash;ster email-adresser fra websider og m&aring;ske
	derefter sender spam til dem, ikke vil forst&aring; at det
	er en email-adresse.) V&aelig;lg 'Nej' hvis du ikke &oslash;nsker din email-adresse vist
	p&aring; listen.
        </td><td bgcolor="#cccccc">
        <MM-Hide-Subscription-Button>Nej<br>
        <MM-Public-Subscription-Button>Ja
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Hvilket sprog foretr&aelig;kker du?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Hvilke emner vil du modtage?</strong>
        <p>Ved at v&aelig;lge et eller flere emner kan du filtrere de meddelelser som sendes til
        mailinglisten, s&aring;dan at du kun modtager det som har din interesse.

        <p>Hvis en meddelelse ikke kan placeres under noget emne, er det denne indstilling
        der bestemmer om du modtager meddelelsen eller ej. Hvis du ikke v&aelig;lger nogen emner her, vil
        du modtage alle meddelelser som sendes til listen.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Vil du modtage meddelelser som ikke kan placeres under noget emne?</strong>
        <p>Dette valg g&aelig;lder kun, hvis du har valgt et eller flere emner ovenfor.
        Det bestemmer om du skal modtage meddelelser som ikke kan placeres under noget emne.
        V&aelig;lger du <em>Nej</em> vil du ikke modtage dem, v&aelig;lger du <em>Ja</em> vil
        du modtage dem.

        <p>Hvis du ikke har valgt nogen emner i indstillingen ovenfor, vil du modtage alle
        meddelelser som sendes til listen.

        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Nej<br>
        <mm-receive-nonmatching-topics>Ja
      </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Undg&aring; at f&aring; E-mail fra listen som ogs&aring; er adresseret direkte til dig?</strong><p>

        Du kan v&aelig;lge hvad der skal ske, hvis der kommer en E-mail til listen som desuden er
        adresseret direkte til dig (dvs. din email-adresse st&aring;r i <tt>To:</tt> eller <tt>Cc:</tt>
        feltet). V&aelig;lg <em>Ja</em> for at undg&aring; at modtage mailen fra listen. V&aelig;lg <em>Nej</em>
        for alligevel at modtage mailen fra listen.

        <p>For s&aelig;rligt interesserede: Hvis listen er sat op til at personificere
        meddelelser sendt til listen, og du v&aelig;lger at modtage E-mail fra listen, vil alle mails fra
        listen have et <tt>X-Mailman-Copy: yes</tt> felt i headeren.

	</td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Nej<br>
        <mm-dont-receive-duplicates-button>Ja<p>
        <mm-global-nodupes-button><i>S&aelig;t globalt</i>
      </td></tr>
    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
