<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>php</string>
	<key>OpenSourceVersion</key>
	<string>4.4.9</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.php.net/</string>
	<key>OpenSourceURL</key>
	<string>http://us2.php.net/distributions/php-4.4.9.tar.bz2</string>
	<key>OpenSourceSHA1</key>
	<string>ab3d2205d756ddf93452b57bd6ce6a2014b1c374</string>
	<key>OpenSourceImportDate</key>
	<string>2008-09-09</string>
	<key>OpenSourceModifications</key>
	<array/>
	<key>OpenSourceLicense</key>
	<string>Other</string>
	<key>OpenSourceLicenseFile</key>
	<string>php4.txt</string>
</dict>
</plist>
