<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>php</string>
	<key>OpenSourceVersion</key>
	<string>4.4.8</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.php.net/</string>
	<key>OpenSourceURL</key>
	<string>http://us2.php.net/distributions/php-4.4.8.tar.bz2</string>
	<key>OpenSourceSHA1</key>
	<string>fca6259fd3e8e3a7a37343e9a81651f5b6d4835c</string>
	<key>OpenSourceImportDate</key>
	<string>2008-02-05</string>
	<key>OpenSourceModifications</key>
	<array/>
	<key>OpenSourceLicense</key>
	<string>Other</string>
	<key>OpenSourceLicenseFile</key>
	<string>php4.txt</string>
</dict>
</plist>
