{
  Description     = "Internet services";
  Provides        = ("Super Server",
		     "Config Server",
	             "Management Server");
  Requires        = ("Resolver");
  Uses            = ("Network Time");
  OrderPreference = "None";
  Messages =
  {
    start = "Starting internet services";
    stop  = "Stopping internet services";
  };
}
