  <!-- Trackback Auto Discovery -->
  #set( $blogDescription = $entry.getEscapedDescription() )
  #if ($blogDescription.length() > 255 )
    #set( $ellipses = "..." )
    #set( $blogDescription = "$blogDescription.substring(0,252)$ellipses" )
  #end
<!--
      <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
               xmlns:dc="http://purl.org/dc/elements/1.1/"
               xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/">
        <rdf:Description
            rdf:about="$entry.getLink()"
            dc:identifier="$entry.getLink()"
            dc:title="$entry.getTitle()"
            dc:subject="$BLOJSOM_REQUESTED_CATEGORY.getCategoryURL()"
            dc:description="$blogDescription"
            dc:creator="$BLOJSOM_BLOG.getBlogOwner()"
            dc:date="$entry.getISO8601Date()"
            trackback:ping="$entry.getLink()&tb=y" />
      </rdf:RDF>
-->
