<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>DTrace</string>
        <key>OpenSourceVersion</key>
        <string>on-src-20060828</string>
        <key>OpenSourceURL</key>
        <string>http://www.opensolaris.org/os/downloads/on/</string>
        <key>OpenSourceImportDate</key>
        <string>2006-08-29</string>
        <key>OpenSourceLicense</key>
        <string>CDDL</string>
        <key>OpenSourceLicenseFile</key>
        <string>DTrace.txt</string>
</dict>
</array>
</plist>