<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceProject</key>
		<string>banner</string>
		<key>OpenSourceVersion</key>
		<string>2021-07-27</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/tree/usr.bin/banner?id=b77e235dd52a682c11ddd93256b3848cdc6f1d72</string>
		<key>OpenSourceImportDate</key>
		<string>2021-09-13</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>banner.c: use __COPYRIGHT (81852097)</string>
			<string>banner.c: convert nchars to size_t from int (81852097)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>bsd</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>cat</string>
		<key>OpenSourceVersion</key>
		<string>2021-01-20</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/tree/bin/cat?id=81c3f64110bb76e24d6062eafd7206c10f676d6f</string>
		<key>OpenSourceImportDate</key>
		<string>2021-04-28</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>cat.c: remove capsicum support</string>
			<string>cat.c: remove `cat -v` multibyte support (75696174)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>cksum</string>
		<key>OpenSourceVersion</key>
		<string>2005-09-16</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.freebsd.org/cgi/cvsweb.cgi/src/usr.bin/cksum/</string>
		<key>OpenSourceCVS</key>
		<string>cvs -d freebsdanoncvs@anoncvs.FreeBSD.org:/home/ncvs co cksum</string>
		<key>OpenSourceImportDate</key>
		<string>2005-09-16</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>Compile fix (needs stdint.h).</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>col</string>
		<key>OpenSourceVersion</key>
		<string>2020-10-21</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/commit/usr.bin/col?id=8a27a63745f5a2000e243d7f2df76c57a5604be5</string>
		<key>OpenSourceImportDate</key>
		<string>2021-08-24</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>col.c: remove capsicum support</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>colrm</string>
		<key>OpenSourceVersion</key>
		<string>2020-06-23</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/commit/usr.bin/colrm?id=c47514db10db5ae0ab9ae8015d5dbb8178ec6b42</string>
		<key>OpenSourceImportDate</key>
		<string>2021-08-24</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>colrm.c: fix crash if argv[0] == NULL (4384130)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>column</string>
		<key>OpenSourceVersion</key>
		<string>2017-12-08</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/commit/usr.bin/column?id=290ce7d2a9be4b07a6365e85871a6aa4be8009eb</string>
		<key>OpenSourceImportDate</key>
		<string>2021-09-08</string>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>comm</string>
		<key>OpenSourceVersion</key>
		<string>2020-07-27</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/commit/usr.bin/comm?id=bdfea496cf9f32b9fcfa8be83ee37931138e6ea1</string>
		<key>OpenSourceImportDate</key>
		<string>2021-09-20</string>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>csplit</string>
		<key>OpenSourceVersion</key>
		<string>2017-11-27</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/commit/usr.bin/csplit?id=1de7b4b805ddbf2429da511c053686ac4591ed89</string>
		<key>OpenSourceImportDate</key>
		<string>2021-09-20</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>csplit.c: fix non-english locale tests (54053569)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>cut</string>
		<key>OpenSourceVersion</key>
		<string>2018-05-23</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/commit/usr.bin/cut?id=6872fd3c9470e867df5ff4cdcbcfe758248b6b48</string>
		<key>OpenSourceImportDate</key>
		<string>2021-05-03</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>cut.1: improved description (4873845)</string>
			<string>cut.c: abort on file stream errors (6555390)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>ed</string>
		<key>OpenSourceVersion</key>
		<string>2021-04-09</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/commit/bin/edit?id=3ce579325e424ce9297546553fb453a4ec62c20b</string>
		<key>OpenSourceImportDate</key>
		<string>2021-07-18</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>Conformance fixes (3676514, 3738526, 3741027, 3751351, 3754089, 3936064, 3936075).</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>ee</string>
		<key>OpenSourceVersion</key>
		<string>2011-12-17</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://svnweb.freebsd.org/base/head/contrib/ee/</string>
		<key>OpenSourceSCM</key>
		<string>svn co http://svn.freebsd.org/base/head/contrib/ee/</string>
		<key>OpenSourceImportDate</key>
		<string>2015-08-04</string>
		<key>OpenSourceModifications</key>
		<array>
		</array>
		<key>OpenSourceLicense</key>
		<string>bsd</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>expand</string>
		<key>OpenSourceVersion</key>
		<string>2018-05-11</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/tree/usr.bin/expand?id=fe8c16cef1d6669074c262fbb7b55d301ca01d74</string>
		<key>OpenSourceImportDate</key>
		<string>2021-07-09</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>Avoid crash if argv[0] is NULL (4384130)</string>
			<string>Terminate on error processing operand (75277617)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>fmt</string>
		<key>OpenSourceVersion</key>
		<string>2021-08-02</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/tree/usr.bin/fmt?id=5666643a95389e3ea7637b86cc556d411242f71e</string>
		<key>OpenSourceImportDate</key>
		<string>2021-08-02</string>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>fold</string>
		<key>OpenSourceVersion</key>
		<string>2020-10-29</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/tree/usr.bin/fold?id=b139a8fa79c1e49104b892c02f821275cd6d8423</string>
		<key>OpenSourceImportDate</key>
		<string>2021-08-24</string>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>bsdgrep</string>
		<key>OpenSourceVersion</key>
		<string>2021-01-19</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://wiki.freebsd.org/BSDgrep</string>
		<key>OpenSourceSCM</key>
		<string>https://cgit.freebsd.org/src/tree/usr.bin/grep?id=81c3f64110bb76e24d6062eafd7206c10f676d6f</string>
		<key>OpenSourceImportDate</key>
		<string>2021-02-23</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>compression support (file.c, grep.c)</string>
			<string>file.c: adjust mmap flags</string>
			<string>grep.c: enable REG_ENHANCED (except for -F mode)</string>
			<string>util.c: ignore locale for binary files (10462853)</string>
			<string>grep.c: Remove -P from usage statement (13475367)</string>
			<string>grep.c: Add -d to usage statement (18742491)</string>
			<string>util.c: Use mbtowc instead of sscanf (20248554)</string>
			<string>grep.c, grep.h: Fix default link behavior (25930963)</string>
			<string>util.c: Skip symbolically linked files with -p (25930963)</string>
			<string>grep.c, grep.h, util.c: Implement linkbehave correctly (33017461)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
		<key>OpenSourceLicenseFile</key>
		<string>bsdgrep.txt</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>head</string>
		<key>OpenSourceVersion</key>
		<string>2019-12-11</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/tree/usr.bin/head/</string>
		<key>OpenSourceImportDate</key>
		<string>2021-05-18</string>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>Check ferror (6555390).</string>
			<string>head.c: remove capsicum support</string>
		</array>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>join</string>
		<key>OpenSourceVersion</key>
		<string>2021-08-02</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/commit/usr.bin/join?id=69ad6e739bbea38080102793927729bcebb7d961</string>
		<key>OpenSourceImportDate</key>
		<string>2021-08-02</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>Conformance fixes (3853584).</string>
			<string>join.c: fix failure without warning on invalid input or i/o errors (6555390)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>lam</string>
		<key>OpenSourceVersion</key>
		<string>2005-09-16</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.freebsd.org/cgi/cvsweb.cgi/src/usr.bin/lam/</string>
		<key>OpenSourceCVS</key>
		<string>cvs -d freebsdanoncvs@anoncvs.FreeBSD.org:/home/ncvs co lam</string>
		<key>OpenSourceImportDate</key>
		<string>2005-09-16</string>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>look</string>
		<key>OpenSourceVersion</key>
		<string>2020-12-29</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/commit/usr.bin/look?id=f3f16c31fea258b2b1ec51ddd1bceb6207b66198</string>
		<key>OpenSourceImportDate</key>
		<string>2021-08-12</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>look.c: Gracefully handle argv[0] == NULL (4384130)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>md5</string>
		<key>OpenSourceVersion</key>
		<string>2005-09-16</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.freebsd.org/cgi/cvsweb.cgi/src/sbin/md5/</string>
		<key>OpenSourceCVS</key>
		<string>cvs -d freebsdanoncvs@anoncvs.FreeBSD.org:/home/ncvs co md5</string>
		<key>OpenSourceImportDate</key>
		<string>2005-09-16</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>XXX NOT MERGED YET XXX</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>nl</string>
		<key>OpenSourceVersion</key>
		<string>2005-09-16</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.freebsd.org/cgi/cvsweb.cgi/src/usr.bin/nl/</string>
		<key>OpenSourceCVS</key>
		<string>cvs -d freebsdanoncvs@anoncvs.FreeBSD.org:/home/ncvs co nl</string>
		<key>OpenSourceImportDate</key>
		<string>2005-09-16</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>Conformance fix in filter() (3849850).</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>paste</string>
		<key>OpenSourceVersion</key>
		<string>2005-09-16</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.freebsd.org/cgi/cvsweb.cgi/src/usr.bin/paste/</string>
		<key>OpenSourceCVS</key>
		<string>cvs -d freebsdanoncvs@anoncvs.FreeBSD.org:/home/ncvs co paste</string>
		<key>OpenSourceImportDate</key>
		<string>2005-09-16</string>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>pr</string>
		<key>OpenSourceVersion</key>
		<string>2019-03-11</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/commit/usr.bin/pr?id=809a8352dd5bb83dca991ff6c82e509208afad26</string>
		<key>OpenSourceImportDate</key>
		<string>2021-05-17</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>Conformance fixes (3743086, 3936126).</string>
			<string>pr.c: fix buffer overflow with -n -m (78111812)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>rev</string>
		<key>OpenSourceVersion</key>
		<string>2020-06-27</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/commit/usr.bin/rev?id=fe5bc3e6afb902a7261dd7b6ee48f91acf9f1a5d</string>
		<key>OpenSourceImportDate</key>
		<string>2021-08-12</string>
		<key>OpenSourceModifications</key>
		<array/>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>rs</string>
		<key>OpenSourceVersion</key>
		<string>2017-11-27</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/commit/usr.bin/rs?id=013953eb5f868c0a7b9821ad1d196d2795203ac73</string>
		<key>OpenSourceImportDate</key>
		<string>2021-08-16</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>rs.c: error on invalid input (6555390)</string>
			<string>rs.c: fix crash with argv[0] == NULL (4384130)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>sed</string>
		<key>OpenSourceVersion</key>
		<string>2020-07-30</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/commit/usr.bin/sed?id=98369a6980f5448fa9ab8bde9f04ba10c4ca3c93</string>
		<key>OpenSourceImportDate</key>
		<string>2021-04-04</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>compile.c: remove POSIX incompliant escape sequences</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>sort</string>
		<key>OpenSourceVersion</key>
		<string>2020-09-10</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/commit/usr.bin/sort?id=266b51ac6e24a71a4df54c30f63215bf1c3decdb</string>
		<key>OpenSourceImportDate</key>
		<string>2021-05-05</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>file.c: mmap portability (11351444)</string>
			<string>file.c: fix unreachable code warning (11351444)</string>
			<string>file.h: switch default sort to mergesort (34598129)</string>
			<string>coll.c, sort.c, sort.h: md5 portability (11351444)</string>
			<string>sort.c: update version output (11351444)</string>
			<string>sort.c: conformance failure with -k (28745165)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>bsd</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>split</string>
		<key>OpenSourceVersion</key>
		<string>2020-06-18</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/tree/usr.bin/split?id=e48cafb55ddaa7ac3ed73ddf25b8019531c83d71</string>
		<key>OpenSourceImportDate</key>
		<string>2021-06-29</string>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>tail</string>
		<key>OpenSourceVersion</key>
		<string>2021-02-02</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.freebsd.org/cgi/cvsweb.cgi/src/usr.bin/tail/</string>
		<key>OpenSourceImportDate</key>
		<string>2021-05-18</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>Don&apos;t read directories (3849683).</string>
			<string>tail.c: remove capsicum support</string>
			<string>Fix UNIX compliance issue with following stdin (76241318)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>tr</string>
		<key>OpenSourceVersion</key>
		<string>2018-06-19</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/tree/usr.bin/tr</string>
		<key>OpenSourceSCM</key>
		<string>https://cgit.freebsd.org/src/tree/usr.bin/tr?id=7672a0148f79063eac8f8e0beb0db5350d02d5d4</string>
		<key>OpenSourceImportDate</key>
		<string>2020-03-22</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>Handle tr -s &apos;[a*]&apos; (3673947).</string>
			<string>Support multibyte character equivalence. (57168782)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>ul</string>
		<key>OpenSourceVersion</key>
		<string>2020-10-07</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/tree/usr.bin/ul?id=d643ff21f427e359be18ddbd254641e2118237a3</string>
		<key>OpenSourceImportDate</key>
		<string>2021-07-09</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>avoid crashes if argv[0] == NULL (4384130)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>unexpand</string>
		<key>OpenSourceVersion</key>
		<string>2017-11-20</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/tree/usr.bin/unexpand?id=8a16b7a18f5d0b031f09832fd7752fba717e2a97</string>
		<key>OpenSourceImportDate</key>
		<string>2021-07-09</string>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>uniq</string>
		<key>OpenSourceVersion</key>
		<string>2020-06-07</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/tree/usr.bin/uniq?id=e6e3cf55d33a627adc59fc90eaced9b20dd639ba</string>
		<key>OpenSourceImportDate</key>
		<string>2011-07-14</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>uniq.c: Use larger datatypes to prevent truncation (29158858)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>unvis</string>
		<key>OpenSourceVersion</key>
		<string>2013-03-15</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/tree/contrib/unvis?id=f1f890804985a1043da42a5def13c79dc005f5e9</string>
		<key>OpenSourceImportDate</key>
		<string>2021-09-09</string>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>vis</string>
		<key>OpenSourceVersion</key>
		<string>2005-09-16</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.freebsd.org/cgi/cvsweb.cgi/src/usr.bin/vis/</string>
		<key>OpenSourceCVS</key>
		<string>cvs -d freebsdanoncvs@anoncvs.FreeBSD.org:/home/ncvs co vis</string>
		<key>OpenSourceImportDate</key>
		<string>2005-09-16</string>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
	<dict>
		<key>OpenSourceProject</key>
		<string>wc</string>
		<key>OpenSourceVersion</key>
		<string>2005-09-16</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.freebsd.org/cgi/cvsweb.cgi/src/usr.bin/wc/</string>
		<key>OpenSourceCVS</key>
		<string>cvs -d freebsdanoncvs@anoncvs.FreeBSD.org:/home/ncvs co wc</string>
		<key>OpenSourceImportDate</key>
		<string>2005-09-16</string>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
</array>
</plist>
