<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>expat</string>
	<key>OpenSourceVersion</key>
	<string>2.2.1</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://expat.sourceforge.net/</string>
	<key>OpenSourceURL</key>
	<string>https://downloads.sourceforge.net/project/expat/expat/2.2.1/expat-2.2.1.tar.bz2</string>
	<key>OpenSourceSHA1</key>
	<string>f45eb724f182776a9cacec9ed70d549e87198987</string>
	<key>OpenSourceImportDate</key>
	<string>2017-06-02</string>
	<key>OpenSourceLicense</key>
	<string>MIT</string>
	<key>OpenSourceLicenseFile</key>
	<string>expat.txt</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>Added availability attribute to XML_SetHashSalt.</string>
	</array>
</dict>
</plist>
