<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>expat</string>
	<key>OpenSourceVersion</key>
	<string>2.7.3</string>
	<key>OpenSourceWebsiteURL</key>
	<string>https://libexpat.github.io</string>
	<key>OpenSourceURL</key>
	<string>https://github.com/libexpat/libexpat/releases/download/R_2_7_3/expat-2.7.3.tar.bz2</string>
	<key>OpenSourceSHA512</key>
	<string>92dd8a31a88ca73d5d8890be40c231ec037d8d13f6059a88bcf7bfaaa77c1c94dc2874f2dae508c0d077a3798bc006cfe9d7d0a918e08a67149d332c7fce4d23</string>
	<key>OpenSourceImportDate</key>
	<string>2025-10-10</string>
	<key>OpenSourceLicense</key>
	<string>MIT</string>
	<key>OpenSourceLicenseFile</key>
	<string>expat.txt</string>
	<key>OpenSourceModifications</key>
	<array>
	  <string>Added availability attribute to XML_SetHashSalt. (#23977554, #61360720)</string>
	  <string>Fix build warnings. (#61360720, #78419325)</string>
	  <string>Enhanced fuzzerrs to explore a number of set encodings (#95417565)</string>
	</array>
</dict>
</plist>
