<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.private.keychain.sysbound</key>
	<true/>
	<key>com.apple.security.attestation.access</key>
	<true/>
	<key>keychain-cloud-circle</key>
	<true/>
	<key>com.apple.keystore.access-keychain-keys</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.keystore.lockassertion</key>
	<true/>
	<key>com.apple.keystore.device</key>
	<true/>
	<key>com.apple.private.applecredentialmanager.allow</key>
	<true/>
	<key>restore-keychain</key>
	<true/>
	<key>migrate-keychain</key>
	<true/>
	<key>modify-anchor-certificates</key>
	<true/>
	<key>com.apple.springboard.wipedevice</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>application-identifier</key>
	<string>com.apple.security.regressions</string>
	<key>com.apple.private.uninstall.deletion</key>
	<true/>
	<key>com.apple.private.security.delete.all</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.security.regressions</string>
		<string>lockdown-identities</string>
		<string>apple</string>
		<string>com.apple.security.sos</string>
		<string>123456.test.group</string>
		<string>123456.test.group2</string>
		<string>com.apple.bluetooth</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:localhost</string>
	</array>
</dict>
</plist>
