<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>nano</string>
	<key>OpenSourceVersion</key>
	<string>2.0.6</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.nano-editor.org/</string>
	<key>OpenSourceURL</key>
	<string>http://www.nano-editor.org/dist/v2.0/nano-2.0.6.tar.gz</string>
	<key>OpenSourceSHA1</key>
	<string>00102580404cdb1c8594e5f6193000d5acac2249</string>
	<key>OpenSourceImportDate</key>
	<string>2007-11-01</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>7477012</string>
		<string>12988489</string>
		<string>16401178</string>
	</array>
	<key>OpenSourceLicense</key>
	<string>GPL</string>
	<key>OpenSourceLicenseFile</key>
	<string>nano.txt</string>
</dict>
</plist>
