Sellel lehel on ülevaade kõigist 
<a href="%(adminurl)s"><em>%(listname)s</em> listi</a>
administratiivtaotlustest.

Alguses on nimekiri kõigist tellimise ja tellimise katkestamise
soovidest (kui neid on) ja seejärel tuleb läbivaatuseks kinni
peetud kirjade nimekiri.

<p>Iga taotluse juures valige toiming ja klikkige <b>Salvesta kõik valikud</b>
kui olete lõpetanud. 
Täpsemad juhendeid <a href="%(detailsurl)s">võib lugeda siin</a>.

<p><a href="%(viewallurl)s">Ülevaade</a> kõigist kinni peetud kirjadest.
