Administratiivseid ülesandeid näidatakse kahel viisil, 
<a href="%(summaryurl)s">ülevaate lehel</a>, ja <em>detailide lehel</em>.
Ülevaateleht sisaldab ootel olevaid tellimuse ja tellimuse katkestamise
nõudeid ning ka postitusi, mis on ülevaatamiseks kinni peetud, sorteerituna
saatja aadressi järgi. Detailide leht sisaldab põhjalikumat infot iga
kinnipeetud postituse kohta, k.a. kõiki päiseid ja lõiku kirja sisust.

<p>Mõlemal lehel on võimalik sooritada järgnevaid tegevusi:

<ul>
<li><b>Viivita</b> -- Viivita otsuse tegemisega. See taotlus jääb
    edasist otsust ootama, kinni peetud kirju on siiski võimalik 
    edasi saata või preservida (lähme info allpool)

<li><b>Nõustu</b> -- Anna luba kiri listi edastada või nõustu
tellimuse või tellimuse katkestmaisega.

<li><b>Keeldu</b> -- Keeldu kirja listi edastamisest, saatjat
    teavitatakse ning kiri eemaldatakse järjekorrast. Tellimusnõuete
    puhul keeldu nõude rahuldamisest. Mõlemal juhul oleks soovitav
    lisada tekstikasti selgitus keeldumise kohta.

<li><b>Viska ära</b> -- Viska kiri minema saatjat teavitamata.
    Tellimusnõuete puhul visatakse tellimus lihtsalt minema, ilma
    tellijat teavitamata. Seda on soovitav teha, kui tegemist on 
    spämmiga.
</ul>

<p>Kinni peetud kirjade puhul märgistage kastike <b>Preserve</b> 
kastikesse, kui soovite jätta koopiat sellest kirjast listserveri
haldurile. See on kasulik abusive teadete puhul, mida soovid oma
huvialast eemaldada, kui mida tahad siiski hilisemaks inspekteerimiseks
alles hoida.

<p>Märgistage <b>Edasta</b> kastike ja kirjutage vastavasse lahtrisse
aadress kui soovite kirja edasi saata kellegile, kes ei ole listis.
Kui soovite kinnipeetud kirja enne listi saatmist muuta, siis peaksite
selle kirja kõigepealt endale edastama (või listihalduritele) ning
seejärel originaalse kirja kustutama. Siis, kui kiri on teie postkasti
jõudnud, tehke oma muudatused ja saatke kiri tagasi listi, lisades
<tt>Approved:</tt> päise koos listi parooliga. Netiketi kohaselt
on viisakas kui lisate originaalkirjale juurde märkuse selle kohta,
et olete kirja muutnud.

<p>Kui kirja saatjaks on listi tellija, keda modereeritakse, siis on
teil võimalik saatjalt see piirang eemaldada. See on kasulik juhul,
kui teie listis kasutatakse uute liikmete prooviaega ja te olete
otsustanud, et see liige võib postitada ilma listihaldurit asjasse
segamata.

<p>Kui saatja ei ole listi liige, siis on teil võimalik tema aadress
<em>saatjate filtrisse</em> lisada. Neid filtreid kirjeldatakse lähemalt
<a href="%(filterurl)s">saatjafiltrite privaatsuse lehel</a> ja see
võib olla üks järgnevatest: <b>auto-accept</b> (lubatakse läbi), <b>auto-hold</b>
 (peetakse läbivaatuseks kinni), <b>auto-reject</b> (keeldutakse) või
 <b>auto-discard</b> (visatakse minema). Seda seadistust ei ole võimalik
 kasutada, kui aadress on juba ühes neist saatjafiltritest.

<p>Kui olete lõpetanud, klikkide nupul <em>Salvesta kõik valikud</em> lehe
alguses või lõpus. See submitid kõik tegevused kõigile administratiivnõutele
mille kohta te olete otsuse teinud.

<p><a href="%(summaryurl)s">Tagasi kokkuvõttesse</a>.
