See tekst võib sisaldada
<a href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">Pythoni
vormingustringe</a>, mis asendatakse selle listi atribuutidega.  Lubatud
asendused on järgmised:
<ul>
    <li><b>real_name</b> - Listi vormindatud nimi, üldjuhul
    on see listi nimi suure esitähega.

    <li><b>list_name</b> - Listi tõstutundetu nimi. Mõeldud
    ennekõike URLides kasutamiseks.

    <li><b>host_name</b> - Listserveri poolt kasutatava domeeni
    nimi.

    <li><b>web_page_url</b> - Mailmani veebiliidese URL. URLi
    lõppu võib lisada näiteks <em><code>listinfo/%(list_name)s</em>
    linkimaks otse listi üldinfo veebilehele.

    <li><b>description</b> - Lühike listi kirjeldus.

    <li><b>info</b> - Pikem listi tutvustav tekst.

    <li><b>cgiext</b> - CGI skriptidele lisatav laiend.
</ul>
