<html>
<head>
    <title>%(realname)s privaatarhiiv</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s/">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(realname)s privaatarhiivi
	    sisse logimine</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">Meiliaadress:</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">Parool:</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="Lase mind sisse...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Important:</em></strong> Sisse logimiseks peate
      oma brauseril lubama 'cookie'-de aktsepteerimise sellest saidist.

      <p>Küpsiseid kasutatakse Mailman'i veebiliidese kasutamise lihtsustamiseks,
      nii ei pea te igal lehel uuesti kasutajanime ja parooli sisestama.
      Küpsis kustutatakse automaatselt, kui oma brauseri sulgete või klikite
      <em>Logi välja</em> lingil, mis asub lingi <em>Muud administreerimistegevused
      </em> all (need lingid tulevad nähtavale, kui olete sisse loginud).
</FORM>
</body>
</html>
