    </ul>
    <p>
      <a name="end"><b>Dátum posledného príspevku:</b></a> 
       <i>%(lastdate)s</i><br>
    <b>Archivované:</b> <i>%(archivedate)s</i>
    <p>
   <ul>
         <li> <b>Správy zoradené podľa:</b>
        	%(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
	     <li><b><a href="%(listinfo)s">Viac informácií o konferencii...
                    </a></b></li>
     </ul>
     <p>
     <hr>
     <i>Tento archív bol vytvorený pomocou programu
     Pipermail %(version)s.</i>
  </BODY>
</HTML>
