<!-- $Revision$ -->
<HTML>
  <HEAD>
    <TITLE>Informácie ku konferencii <MM-List-Name></TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000">O konferencii <MM-List-Name></FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> Ak si chcete prezrieť staré príspevky do konferencie,
	      navštívte <MM-Archive>archív konferencie 
	      <MM-List-Name></MM-Archive>.
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Používanie konferencie <MM-List-Name>
	  </FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  Príspevky do konferencie posielajte na adresu
	  <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>.

	  <p>Nižšie na tejto stránke sa môžete sa prihlásiť do konferencie
	      alebo upraviť Vaše nastavenia v konferencii.
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Prihlásenie do konferencie <MM-List-Name>
	  </FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	    Do konferencie <MM-List-Name> sa prihlásite vyplnením nasledujúceho
	      formulára.
	  <MM-List-Subscription-Msg>
	  <ul>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">Vaša e-mailová adresa:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <tr>
        <td bgcolor="#dddddd" width="55%">Vaše meno (nepovinné):</td>
        <td width="33%"><mm-fullname-box></td>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>


	<TD COLSPAN="3"><FONT SIZE=-1>Heslo môžete uviesť nižšie.
	    Toto nebude chránené a slúži iba na to, aby tretie osoby nemohli 
	    meniť Vaše nastavenia. <b>Nepoužívajte heslo, ktoré je pre Vás 
	    dôležité</b>, lebo Vám bude nezabezpečene zasielané elektronickou 
	    poštu.

            <p>Ak heslo nezadáte, bude pre Vás vytvorené náhodné heslo,
            ktoré Vám bude zaslané potom, ako potvrdíte prihlásenie.
            Heslo si môžete dať kedykoľvek zaslať na adresu, na ktorú ste
            sa prihlásili.
	    <MM-Reminder>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">Tu napíšte heslo:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">Zopakujte heslo pre kontrolu:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd">V akom jazyku majú byť zobrazované správy?</TD> 
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <mm-digest-question-start>
      <tr>
	<td>Chcete prijímať poštu raz denne v súhrnnej správe?
	  </td>
	<td><MM-Undigest-Radio-Button> Nie
	    <MM-Digest-Radio-Button>  Áno
	</TD>
      </tr>
      <mm-digest-question-end>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000">Účastníci konferencie <MM-List-Name>
	</FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
