<!-- $Revision$ -->
<HTML>
  <HEAD>
    <TITLE>Účastníci konferencie <MM-List-Name></TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
    <TABLE WIDTH="100%" COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	  <B><FONT COLOR="#000000" SIZE="+1"> Účastníci konferencie <MM-List-Name>
		</FONT></B>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" ALIGN="CENTER">

          <P align = "right"> <MM-lang-form-start><MM-displang-box>
                       <MM-list-langs><MM-form-end></p>        
	    
	  <P>Kliknutím na Vašu adresu prejdete na stránku s Vašími osobnými
	      nastaveniami.<br><I>(Záznamy v zátvorke majú vypnuté doručovanie 
	      príspevkov)</I></P>
	</TD>
      </TR>
      <TR WIDTH="100%" VALIGN="top">
	<TD BGCOLOR="#FFF0D0" WIDTH="50%">
	  <center>
	    <B><FONT COLOR="#000000">Bežní účastníci konferencie:
		  <MM-Num-Reg-Users></FONT></B>
	  </center>
	</TD>
	<TD BGCOLOR="#FFF0D0" WIDTH="50%">
	  <center>
	    <B><FONT COLOR="#000000">Účastníci konferencie
		prijímajúci súhrnné správy: <MM-Num-Digesters></FONT></B> 
	  </center>
	</TD>
      </TR>
      <TR VALIGN="top">
	<td>
	  <P><MM-Regular-Users>
	</td>
	<td>
	  <P><MM-Digest-Users>
	</td>
      </tr>
    </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
