GCC_PREPROCESSOR_DEFINITIONS = HAVE_CONFIG_H OS=\"$(CURL_ARCH)-apple-$(CURL_KERNEL)\"
GCC_PREPROCESSOR_DEFINITIONS[sdk=macosx*] = $(inherited) HAVE_GSSAPI USE_OPENSSL USE_SSLEAY

// Lies.
CURL_ARCH = x86_64
CURL_ARCH[arch=i386] = i386
CURL_KERNEL = darwin11.0
CURL_KERNEL[sdk=macosx*] = darwin$(UNAME_RELEASE)

CURL_PREFIX = /usr/local
CURL_PREFIX[sdk=macosx*] = /usr

// May need to be updated.
CURL_CONFIGURE_OPTIONS = --disable-static --enable-hidden-symbols --enable-threaded-resolver --with-gssapi
CURL_SUPPORT_FEATURES = SSL IPv6 libz AsynchDNS NTLM NTLM_WB
CURL_SUPPORT_PROTOCOLS = DICT FILE FTP FTPS GOPHER HTTP HTTPS IMAP IMAPS LDAP LDAPS POP3 POP3S RTSP SMTP SMTPS TELNET TFTP
