<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleADBDisplay</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleADBDisplay</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleADBDisplay</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.2d2</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleADBDisplay</key>
		<dict>
			<key>ADB Match</key>
			<string>*-c0</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleADBDisplay</string>
			<key>IOClass</key>
			<string>AppleADBDisplay</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOADBDevice</string>
			<key>adb1Modes</key>
			<string>modes750</string>
			<key>adb2Modes</key>
			<string>modes750</string>
			<key>adb3Modes</key>
			<string>modes850</string>
			<key>adb4Modes</key>
			<string>modes850</string>
			<key>adb5Modes</key>
			<string>modes750</string>
			<key>adb6Modes</key>
			<string>modesStudio</string>
			<key>modes750</key>
			<data>
			AAAA3AAAAIwAAACqAAAA0gAAAPoAAAEGAAABGA==
			</data>
			<key>modes850</key>
			<data>
			AAAA3AAAAIwAAACaAAAAngAAAKoAAADSAAAA0AAAAPoAAAEGAAAB
			DAAAARgAAAEaAAABHAAAAR4=
			</data>
			<key>modesStudio</key>
			<data>
			AAAA0gAAAIwAAACq
			</data>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOADBFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kernel.iokit</key>
		<string>1.0.0b1</string>
		<key>com.apple.kernel.libkern</key>
		<string>1.0.0b1</string>
		<key>com.apple.kernel.mach</key>
		<string>1.0.0b1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
