{
	"CFBundleExecutable" = "DSSLPPlugin";
	"CFBundleName" = "DirectoryServiceDSSLPPlugin";
	"CFBundleIdentifier" = "com.apple.DirectoryService.DSSLPPlugin";
	"CFBundleVersion" = "1.0";
	"CFBundleShortVersionString" = "1.0";
	"CFBundlePackageType" = "dspi";
	"CFBundlePackageSignature" = "adss";
	"CFPlugInDynamicRegistration" = "NO";
	"CFPlugInFactories" = {
		"55D9E458-9B3B-11D5-ABFD-0030653D61E4" = "ModuleFactory";
	};
	"CFPlugInTypes" = {
		"697B5D6C-87A1-1226-89CA-000502C1C736" = 
			("55D9E458-9B3B-11D5-ABFD-0030653D61E4");
	};
	"DSPluginPrefix" = "DSSLPPlugin";
	"DSServerSignature" = "SLPv2";
        "CFPluginNameString" = "SLPv2";
	"CFBundleConfigAvail" = "/System/Library/Frameworks/DirectoryService.framework/Resources/ConfigSLPPlugIn.app";
	"CFBundleConfigFile" = "/Library/Preferences/DirectoryService/DSSLPPluginConfig.clpi";
}
