<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableBootArgs</key>
	<dict>
		<key>Enabled</key>
		<false/>
	</dict>
	<key>ProbGuard</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ProbGuardAllProcesses</key>
	<dict>
		<key>Enabled</key>
		<false/>
	</dict>
	<key>ZeroOnFree</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>AllowInternalSecurityPolicy</key>
	<dict>
		<key>DevelopmentPhase</key>
		<string>UnderDevelopment</string>
	</dict>
	<key>SecureAllocator_SingleCluster</key>
	<dict>
		<key>DevelopmentPhase</key>
		<string>UnderDevelopment</string>
	</dict>
	<key>SecureAllocator_Nano</key>
	<dict>
		<key>DevelopmentPhase</key>
#if TARGET_OS_IOS || TARGET_OS_VISION
		<string>FeatureComplete</string>
#else
		<string>UnderDevelopment</string>
#endif
	</dict>
	<key>SecureAllocator_NanoOnXzone</key>
	<dict>
		<key>DevelopmentPhase</key>
		<string>UnderDevelopment</string>
	</dict>
	<key>SecureAllocator_ThreadCaching</key>
	<dict>
		<key>DevelopmentPhase</key>
#if TARGET_OS_IOS || TARGET_OS_VISION || TARGET_OS_OSX
		<string>FeatureComplete</string>
#else
		<string>UnderDevelopment</string>
#endif
	</dict>

#if TARGET_OS_OSX
	<key>SecureAllocator_Intel</key>
	<dict>
		<key>DevelopmentPhase</key>
		<string>UnderDevelopment</string>
	</dict>
	<key>SecureAllocator_NonPlatform</key>
	<dict>
		<key>DevelopmentPhase</key>
		<string>UnderDevelopment</string>
	</dict>
#endif

#if TARGET_OS_IOS || TARGET_OS_VISION
#define HAS_SECURE_ALLOCATOR_PROCESS_FEATURES 1
#define SECURE_ALLOCATOR_SYSTEMWIDE_ENABLED 1
#elif TARGET_OS_OSX
#define HAS_SECURE_ALLOCATOR_PROCESS_FEATURES 1
#define SECURE_ALLOCATOR_SYSTEMWIDE_ENABLED 0
#else
#define HAS_SECURE_ALLOCATOR_PROCESS_FEATURES 0
#define SECURE_ALLOCATOR_SYSTEMWIDE_ENABLED 0
#endif

	<key>SecureAllocator_SystemWide</key>
	<dict>
		<key>DevelopmentPhase</key>
#if SECURE_ALLOCATOR_SYSTEMWIDE_ENABLED
		<string>FeatureComplete</string>
#else
		<string>UnderDevelopment</string>
#endif
	</dict>

#if HAS_SECURE_ALLOCATOR_PROCESS_FEATURES
#define SECURE_ALLOCATOR_PROCESS_FEATURE(name, state) \
	<key>SecureAllocator_process_##name</key> \
	<dict> \
		<key>DevelopmentPhase</key> \
		<string>state</string> \
	</dict>

#if TARGET_OS_VISION
SECURE_ALLOCATOR_PROCESS_FEATURE(arkitd, UnderDevelopment)
SECURE_ALLOCATOR_PROCESS_FEATURE(backboardd, UnderDevelopment)
SECURE_ALLOCATOR_PROCESS_FEATURE(wakeboardd, UnderDevelopment)
SECURE_ALLOCATOR_PROCESS_FEATURE(realitycamerad, UnderDevelopment)
#endif

SECURE_ALLOCATOR_PROCESS_FEATURE(aegirposter, UnderDevelopment)
SECURE_ALLOCATOR_PROCESS_FEATURE(CollectionsPoster, UnderDevelopment)
#endif
</dict>
</plist>
