<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<string>file_cmds</string>
	<key>IgnoreOutput</key>
	<true/>
	<key>Tests</key>
	<array>
		<dict>
			<key>Command</key>
			<array>
				<string>/bin/sh</string>
				<string>cp.sh</string>
			</array>
			<key>AsRoot</key>
			<false/>
			<key>TestName</key>
			<string>cp</string>
			<key>WhenToRun</key>
			<array>
				<string>PRESUBMISSION</string>
				<string>NIGHTLY</string>
			</array>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/Tests/file_cmds</string>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/bin/sh</string>
				<string>touch.sh</string>
			</array>
			<key>AsRoot</key>
			<false/>
			<key>TestName</key>
			<string>touch</string>
			<key>WhenToRun</key>
			<array>
				<string>PRESUBMISSION</string>
				<string>NIGHTLY</string>
			</array>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/Tests/file_cmds</string>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/bin/sh</string>
				<string>chgrp.sh</string>
			</array>
			<key>AsRoot</key>
			<true/>
			<key>TestName</key>
			<string>chgrp</string>
			<key>WhenToRun</key>
			<array>
				<string>PRESUBMISSION</string>
				<string>NIGHTLY</string>
			</array>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/Tests/file_cmds</string>
		</dict>
	</array>
	<key>Timeout</key>
	<integer>30</integer>
</dict>
</plist>
