<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2014-03-31</string>
	<key>OpenSourceLicense</key>
	<string>BSD</string>
	<key>OpenSourceLicenseFile</key>
	<string>PostgreSQL.txt</string>
	<key>OpenSourceMD5</key>
	<string>acd601bbe8693a2d9156ab3e79cbccc3</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>Support for building on Mac OS X</string>
		<string>Patch to use POSIX shmem instead of SysV</string>
		<string>Patch contrib/intarray extension to fix crasher</string>
		<string>Patch to replace GPLv3 Bison parsers with GPLv2 parsers</string>
	</array>
	<key>OpenSourceProject</key>
	<string>PostgreSQL</string>
	<key>OpenSourceSHA1</key>
	<string>bfe791847b8287be6ca7e6eba819d27c2200bc2d</string>
	<key>OpenSourceURL</key>
	<string>http://ftp.postgresql.org/pub/source/v9.0.17/postgresql-9.0.17.tar.gz</string>
	<key>OpenSourceVersion</key>
	<string>9.0.17</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://postgresql.org/</string>
	</dict>
</plist>
