<html>
<head>
  <title>%(listname)s %(who)s Inloggning</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(listname)s %(who)s Inloggning</FONT></B>
      </TD>
    </TR>
    <tr>
      <TD><div ALIGN="Right">Listan %(who)s l&ouml;senord:</div></TD>
      <TD><INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle><INPUT type="SUBMIT"
                                        name="admlogin"
					value="Logga in mig...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Viktigt:</em></strong> Fr&aring;n och med nu m&aring;ste du ha alternativet cookies aktiverat i din browser, annars kommer inga administrativa &auml;ndringar att sparas. 
      <p><i>Session cookies</i> anv&auml;nds p&aring; Mailmans administrativa sidor, f&ouml;r att du inte ska beh&ouml;va uppge ditt l&ouml;senord f&ouml;r varje &auml;ndring som du g&ouml;r. Dessa cookies kommer att f&ouml;rsvinna automatiskt n&auml;r du st&auml;nger din browser. Du kan ocks&aring; ta bort dem manuellt genom att klicka p&aring; l&auml;nken       <em>Logga ut</em>  under <em>Andra administrativa aktiviteter</em> (som du f&aring;r upp efter att ha loggat in).</FORM>
</body>
</html>
