<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>bzip2</string>
	<key>OpenSourceVersion</key>
	<string>1.0.5</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.bzip.org/</string>
	<key>OpenSourceURL</key>
	<string>http://www.bzip.org/1.0.5/bzip2-1.0.5.tar.gz</string>
	<key>OpenSourceSHA1</key>
	<string>8b02713ea0c8eb501cc8bdac4432d7f29700f767</string>
	<key>OpenSourceImportDate</key>
	<string>2008-03-17</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>EA support.</string>
		<string>bzdiff fixes</string>
		<string>bzgrep fixes</string>
		<string>use strlcpy</string>
	</array>
	<key>OpenSourceLicense</key>
	<string>Other</string>
	<key>OpenSourceLicenseFile</key>
	<string>bzip2.txt</string>
</dict>
</plist>
