Các yêu cầu quản lý được hiển thị bằng một của hai cách, trên <a
href="%(summaryurl)s">trang tóm tắt</a>, và trên <em>trang chi tiết</em>. Trang tóm tắt chứa các yêu cầu đăng ký và hủy đăng ký bị hoãn, cùng với các bài thư được giữ lại cho bạn tán thành, đã nhóm lại theo địa chỉ thư điện thư của người gởi. Còn trang chi tiết chứa khung xem chi tiết hơn về mỗi thư đã giữ lại, gồm mọi dòng đầu của thư đó, và đoạn trích của thân thư.

<p>Trên cả hai trang, có sẵn những hành động theo đây:

<ul>
<li><b>Hoãn</b> &mdash; Tạm hoãn quyết định đến lúc sau. Không làm gì ngay với yêu cầu quản lý bị hoãn này, nhưng đối với bài thư đã giữ lại, bạn vẫn còn có khả năng chuyển tiếp hoặc bảo tồn thư đó (xem dưới).

<li><b>Chấp nhận</b> &mdash; Chấp nhận thư đó, chuyển nó tiếp tới hộp thư chung.  Đối với yêu cầu tư cách thành viên, tán thành sự thay đổi trạng thái đăng ký đó.

<li><b>Từ chối</b> &mdash; Từ chối thư đó, gởi thư thông báo từ chối cho người gởi, và hủy thư gốc. Đối với yêu cầu tư cách thành viên, từ chối sự thay đổi trạng thái đăng ký đó. Trong cả hai trường hợp, bạn nên nhập lý do từ chối vào hộp văn bản liên quan.

<li><b>Hủy</b> &mdash; Hủy thư gốc, không gởi thư thông báo từ chối. Đối với yêu cầu tư cách thành viên, tùy chọn này đơn giản hủy yêu cầu đó, không thông báo gì cho người đã yêu cầu. Hành động này thường có ích để xử lý thư rác đã biết.
</ul>

<p>Đối với thư đã giữ lại, hãy bật tùy chọn <b>Bảo tồn</b> nếu bạn muốn lưu một bản sao thư cho quản trị nơi Mạng xem. Có ích để xử lý thư lạm dụng mà bạn muốn hủy, nhưng cần ghi lưu để kiểm tra sau.

<p>Hãy bật tùy chọn <b>Chuyển tiếp cho</b>, và điền địa chỉ chuyển tiếp vào, nếu bạn muốn chuyển tiếp thư đó cho người khác không phải trong hộp thư chung. Để hiệu chỉnh thư đã giữ lại trước khi chuyển tiếp nó tới hộp thư, bạn nên chuyển tiếp thư đó cho mình (hoặc cho người sở hữu hộp thư chung), và hủy thư gốc. Như thế thì, khi thư đó xuất hiện trong hộp Thư Đến của bạn, hãy hiệu chỉnh nó và gởi lại nó cho hộp thư chung, gồm dòng đầu <tt>Approved:</tt> (Đã tán thành) có mật khẩu hộp thư chung là giá trị. Quy ước mặc nhận trên Mạng trong trường hợp này là gồm chú thích trong thư đã gởi lại, giải thích bạn đã sửa đổi thân thư đó.

<p>Nếu người gởi là thành viên đang được điều tiết, bạn tùy chọn có thể xoá cờ điều tiết của họ. Có ích khi hộp thư chung của bạn có cấu hình đặt thành viên mới trong thời gian thử thách, và bạn đã quyết định tin cây thành viên này gởi thư cho hộp thư, không cần tán thành trước.

<p>Nếu người gởi không phải là thành viên của hộp thư chung, bạn có thể thêm địa chỉ thư điện tử của họ vào một <em>bộ lọc người gởi</em>.  Bộ lọc người gởi được diễn tả trên <a href="%(filterurl)s">trang riêng tư bộ lọc người gởi</a>, và có thể là một của <b>auto-accept</b> (Chấp nhận), <b>auto-hold</b> (Giữ lại),
<b>auto-reject</b> (Từ chối), hay <b>auto-discard</b> (Hủy).  Tùy chọn này sẽ không sẵn sàng nếu địa chỉ thư đã có trong bộ lọc người gởi nào.

<p>Khi đã làm xong, bạn hãy nhắp vào nút <em>Đệ trình các thay đổi</em> bên trên hay dưới trang. Cái nút này sẽ thực hiện mọi hành động đã chọn đối với mọi yêu cầu quản lý mà bạn đã quyết định.

<p><a href="%(summaryurl)s">Về trang tóm tắt</a>.
