<html>
<head>
  <title>%(listname)s %(who)s Xác thực</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(listname)s %(who)s
	    Xác thực</FONT></B>
      </TD>
    </TR>
    <tr>
      <TD><div ALIGN="Right">Mật khẩu hộp thư %(who)s:</div></TD>
      <TD><INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle><INPUT type="SUBMIT"
                                        name="admlogin"
					value="Let me in...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Quan trọng:</em></strong> để tiếp tục được, bạn phải đã bật tập tin nhận diện cookie trong trình duyệt, nếu không thì thay đổi quản trị sẽ không có tác động.

      <p>Cookie phiên chạy được dùng trong giao diện quản trị của Mailman để tránh trường hợp bạn phải đăng nhập lại vào mỗi thao tác quản trị. Cookie này sẽ hết hạn dùng tự động khi bạn thoát khỏi trình duyệt, hoặc bạn có thể làm cho nó hết hạn dùng bằng cách nhắp vào liên kết <em>Đăng xuất</em> nằm dưới <em>Hoạt động quản trị khác</em> (mà bạn sẽ xem một khi đăng nhập được).
</FORM>
</body>
</html>
