<html>
<head>
    <title>Xác thực kho riêng của %(realname)s</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">Xác thực kho riêng của %(realname)s</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">Địa chỉ thư :</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">Mật khẩu :</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="Let me in...">
      </td>
    </tr>
  </TABLE>
  <p><strong><em>Quan trọng:</em></strong> để tiếp tục được, bạn phải đã bật tập tin nhận diện cookie trong trình duyệt, nếu không thì bạn sẽ phải xác thực lại cho mỗi thao tác.

      <p>Cookie phiên chạy được dùng trong giao diện kho riêng của Mailman để tránh trường hợp bạn phải xác thực lại vào mỗi thao tác. Cookie này sẽ hết hạn dùng tự động khi bạn thoát khỏi trình duyệt, hoặc bạn có thể làm cho nó hết hạn dùng bằng cách thăm trang tùy chọn thành viên của mình và nhắp vào cái nút <em>Đăng xuất</em>.
</FORM>
</body>
</html>
