XCOMM
XCOMM  GNU Hurd shared library template
XCOMM
XCOMM $XFree86: xc/config/cf/gnuLib.tmpl,v 1.6 2003/11/04 01:59:31 dawes Exp $
XCOMM

#ifndef FixupLibReferences
#define FixupLibReferences()						@@\
XMULIBONLY = -lXmu							@@\
XMULIB = $(XMULIBONLY) $(XTOOLLIB) $(XLIB)
#endif

#ifndef XawClientLibs
#define XawClientLibs $(XAWLIB) $(XMULIBONLY) $(XTOOLLIB) $(XPMLIB) $(XLIB)
#endif

#define SharedX11Reqs
#define SharedXlibi18nReqs $(LDPRELIB) $(XONLYLIB)
#define SharedOldXReqs	$(LDPRELIB) $(XONLYLIB)
#define SharedXtReqs	$(LDPRELIB) $(XONLYLIB) $(SMLIB) $(ICELIB)
#define SharedXaw6Reqs	$(LDPRELIB) $(XMULIB) $(XTOOLLIB) $(XLIB)
#define SharedXawReqs	$(LDPRELIB) $(XMULIB) $(XTOOLLIB) $(XPMLIB) $(XLIB)
#define SharedXmuReqs	$(LDPRELIB) $(XTOOLLIB) $(XLIB)
#define SharedXextReqs	$(LDPRELIB) $(XONLYLIB)
#define SharedXiReqs	$(LDPRELIB) $(XLIB)
#define SharedPexReqs	$(LDPRELIB) $(XONLYLIB) MathLibrary
#define SharedXtstReqs	$(LDPRELIB) $(XLIB)
#define SharedXieReqs	$(LDPRELIB) $(XONLYLIB)
#define SharedSMReqs	$(LDPRELIB) $(ICELIB)
