/*
 * GNU Hurd shared library template
 *
 * $XFree86: xc/config/cf/gnuLib.tmpl,v 1.3 2000/11/14 18:20:31 dawes Exp $
 */

#ifndef FixupLibReferences
#define FixupLibReferences()						@@\
XMULIBONLY = -lXmu							@@\
XMULIB = $(XMULIBONLY) $(XTOOLLIB) $(XLIB)
#endif

#ifndef XawClientLibs
#define XawClientLibs $(XAWLIB) $(XMULIBONLY) $(XTOOLLIB) $(XPMLIB) $(XLIB)
#endif

#define CplusplusLibC

#define SharedX11Reqs
#define SharedOldXReqs	$(LDPRELIB) $(XLIBONLY)
#define SharedXtReqs	$(LDPRELIB) $(XLIBONLY) $(SMLIB) $(ICELIB)
#define SharedXaw6Reqs	$(LDPRELIB) $(XMULIB) $(XTOOLLIB) $(XLIB)
#define SharedXawReqs	$(LDPRELIB) $(XMULIB) $(XTOOLLIB) $(XPMLIB) $(XLIB)
#define SharedXmuReqs	$(LDPRELIB) $(XTOOLLIB) $(XLIB)
#define SharedXextReqs	$(LDPRELIB) $(XLIBONLY)
#define SharedXiReqs	$(LDPRELIB) $(XLIB)
#define SharedPexReqs	$(LDPRELIB) $(XLIBONLY) MathLibrary
#define SharedXtstReqs	$(LDPRELIB) $(XLIB)
#define SharedXieReqs	$(LDPRELIB) $(XLIBONLY)
#define SharedSMReqs	$(LDPRELIB) $(ICELIB)
