<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2004-011-9</string>
	<key>OpenSourceLicense</key>
	<string>BSD</string>
	<key>OpenSourceLicenseFile</key>
	<string>iodbc.txt</string>
	<key>OpenSourceMD5</key>
	<string>e6c3cb680a198922589d06b3161aff30</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>rdar://problem/3779905</string>
		<string>rdar://problem/3872514</string>
		<string>rdar://problem/3767389</string>
	</array>
	<key>OpenSourceProject</key>
	<string>iodbc</string>
	<key>OpenSourceSHA1</key>
	<string>161c5a3809a1dd687a13c3e095695c890ff8d5a7</string>
	<key>OpenSourceURL</key>
	<string>http://www.iodbc.org/downloads/iODBC/libiodbc-3.52.1.tar.gz</string>
	<key>OpenSourceVersion</key>
	<string>3.52.1</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.iodbc.org/</string>
</dict>
</plist>
