<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOUSBUserClient</string>
	<key>CFBundleGetInfoString</key>
	<string>IOUSBUSERCLIENT_VERSION, Copyright © 2000-2007 Apple Inc.  All Rights Reserved.</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IOUSBUserClient</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>I/O Kit Driver for USB User Clients</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>IOUSBUSERCLIENT_SHORTVERSION</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>IOUSBUSERCLIENT_VERSION</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOUSBDeviceUserClientInit</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOUSBUserClient</string>
			<key>IOClass</key>
			<string>IOUSBUserClientInit</string>
			<key>IOProbeScore</key>
			<integer>9999</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>9dc7b780-9ec0-11d4-a54f-000a27052861</key>
					<string>IOUSBLIB_PATH</string>
				</dict>
				<key>IOUserClientClass</key>
				<string>IOUSBDeviceUserClientV2</string>
			</dict>
			<key>bcdDevice</key>
			<string>*</string>
			<key>idProduct</key>
			<string>*</string>
			<key>idVendor</key>
			<string>*</string>
		</dict>
		<key>IOUSBInterfaceUserClientInit</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOUSBUserClient</string>
			<key>IOClass</key>
			<string>IOUSBUserClientInit</string>
			<key>IOProbeScore</key>
			<integer>9999</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>2d9786c6-9ef3-11d4-ad51-000a27052861</key>
					<string>IOUSBLIB_PATH</string>
				</dict>
				<key>IOUserClientClass</key>
				<string>IOUSBInterfaceUserClientV2</string>
			</dict>
			<key>bConfigurationValue</key>
			<string>*</string>
			<key>bInterfaceNumber</key>
			<string>*</string>
			<key>bcdDevice</key>
			<string>*</string>
			<key>idProduct</key>
			<string>*</string>
			<key>idVendor</key>
			<string>*</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>2.2.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>3.5.0a20</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0d4</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0d4</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0d4</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0d4</string>
		#if USBDEBUG
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
		#endif
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
