Sprendimo laukianèiø laiðkø santrauka

<p>Èia santrauka laiðkø, laukianèiø jûsø sprendimo dël 
<a href="%(adminurl)s">forumo <em>%(listname)s</em></a>.

Pradþioje - prisijungimo ir atsijungimo praðymai,
toliau - laiðkai, dël kuriø turite apsispræsti.

<p>Kiekvienai administravimo uþklausai paþymëkite veiksmà
ir baigæ paspauskite <b>Siøsti Visus Duomenis</b>.

<p>Smulkesnë instrukcija <a href="%(detailsurl)s">èia</a>.

<p>Taip pat galite perþiûrëti <a href="%(viewallurl)s">pilnà sprendimo laukianèiø laiðkø sàraðà</a>.
