<html>
<head>
  <title>%(listname)s %(who)s prisijungimas</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(listname)s %(who)s
	    prisijungimas</FONT></B>
      </TD>
    </TR>
    <tr>
      <TD><div ALIGN="Right">Forumo %(who)s slaptaþodis:</div></TD>
      <TD><INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle><INPUT type="SUBMIT"
                                        name="admlogin"
					value="Uþeiti">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Svarbu:</em></strong> 
      Jûs turite nustatyti "cookies enabled",
      kitaip ðio puslapio nustatymø pakeitimai nebus iðsaugoti.
      
      <p>Tai reikalinga tam, kad kiekvieno Jûsø veiksmo patrvirtinimui nereikëtø ið naujo ávedinëti slaptaþodþiø.
      Prisijungimo informacija bus iðsaugota Jûsø kompiueryje.
      Ði informacija iðtrinama kai tik iðeinate ið tinklapiø perþiûros programos
      arba atsijungiate nuo administratoriaus puslapio paspausdami <em>Logout</em>
      lange <em>Kita prieþiûros veikla</em>, nuoroda á kurá atsiras kai tik sëkmingai prisijungsite.
</FORM>
</body>
</html>
