<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>Forumo %(listname)s %(archive)s Archyvas %(archtype)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
      <a name="start"></A>
      <h1>%(archive)s Archyvas %(archtype)s</h1>
      <ul>
         <li> <b>Laiðkai surûðiuoti pagal:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
	     <li><b><a href="%(listinfo)s">Daugiau apie forumà...
                    </a></b></li>
      </ul>
      <p><b>Pradëta:</b> <i>%(firstdate)s</i><br>
         <b>Paskutinysis:</b> <i>%(lastdate)s</i><br>
         <b>Laiðkø:</b> %(size)s<p>
     <ul>
