Á ðá tekstà gali bûti átrauktos
<a href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">Python
formato eilutës</a> kurios yra apdorojamos pagal poþymius. 
Èia pateikiame pakeitimø sàraðà:

<ul>
    <li><b>real_name</b> - Sàraðo pavadinimas; daþniausiai
    ið didþiosios raidës.

    <li><b>list_name</b> - The name by which the list is
    identified in URLs, where case is significant.

    <li><b>host_name</b> - The fully qualified domain name
    that the list server runs on.

    <li><b>web_page_url</b> - The base URL for Mailman.  This
    can be appended with,
    e.g. <em>listinfo/%(list_name)s</em> to yield the
    listinfo page for the mailing list.

    <li><b>description</b> - Trumpas forumo apraðymas.

    <li><b>info</b> - Pilnas forumo apraðymas.

    <li><b>cgiext</b> - The extension added to CGI scripts.
</ul>
