<!-- $Revision: 6065 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User> dalyvio nustatymai forumui <MM-List-Name>
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-List-Name> forumo nustatymai dalyviui
        <MM-Presentable-User>
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b><MM-Presentable-User></b> bûsena, slaptaþodþiai ir nustatymai forumui <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Forumo <MM-List-Name> narystës informacijos pakeitimai</B>
        </FONT></TD></TR>
    <tr><td colspan="2">
    	Ðiame lauke galite pakeisti nurodytà dalyvio el. paðto adresà.
	Tuo atveju jums bus iðsiøstas laiðkas ir pakeitimai ásigalios tik po to,
	kai Jûs patvirtinsite juos.
	<p>Patvirtinimui skiriama dienø: <mm-pending-days>.
        <p>Taip pat galite pakeisti vardà, kuriuo pasiraðote
        (pvz. <em>Tomas Jonuðas</em>).
        <p>Jeigu norite, kad bûtø pakeisti visø forumø <mm-host> nustatymai,
	paþytmëkite vëliavëlæ <em>Bendri pakeitimai</em>.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Naujas adresas:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Patvirtinimas:</div></td>
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Jûsø vardas (nebûtina):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Bendri pakeitimai</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Atsisakyti <MM-List-Name></B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Kiti Jûsø prisijungimai <MM-Host></B>
        </FONT></TD></TR>

    <tr><td>
        Iðjunkite vëliavëlæ ir paspauskite ðá mygtukà,
	jeigu norite atsisakyti ðio forumo.  <strong>Atsargiai:</strong>
        Tai ávyksta nedelsiant!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        Galiet perþiûrëti sàraðà <mm-host> forumø, kuriuose Jûs dalyvaujate.
	Pasinaudokite tuo, jei norite pakeisti visø jø nustatymus.
        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Jûsø <MM-List-Name> slaptaþodis</B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Pamirðote slaptaþodá?</h3>
        </center>
        Paspauskite ðá mygtukà, jeigu norite, kad slaptaþodis bûtø iðsiøstas Jûsø adresu.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Pakeisti slaptaþodá</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Naujas slaptaþodis:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Pakartokite slaptaþodá:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Bendri pakeitimai.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Jûsø nustatymai forumui <MM-List-Name></B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>Pradþioje paþymëti dabartiniai nustatymai.</strong></i>

<p>Atkreipkite dëmesá, kad daliai nustatymø yra vëliavëlë <em>Bendri pakeitimai</em>.
Paþymëjus ðià vëliavëlæ pakeèiami Jûsø nustatymai visuose <mm-host> forumuose.
<p>Paspauskie <em>parodyti kitus mano forumus</em> jei norite pamatti kur dar Jûsø esate prisijungæ.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable"><strong>Paðto pristatymas</strong></a><p>
        Ájungæ ðá nustatymà gausite forumui skirtus laiðkus.
	Iðjungæ ðá nustatymà laiðkø negausite, nors ir liksite prisijungæ.
        Naudokite ðá nustatymà pvz. iðvykdami atostogauti,
	tik nepamirðkite gráþæ vël ájungti pristatymà!
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Ájungta<br>
        <mm-delivery-disable-button>Iðjungta<p>
        <mm-global-deliver-button><i>Bendri pakeitimai</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Rinkiniø siuntimas</strong><p>
        Jeigu ájungsite rinkiniø siuntimà, Jums bus siuntinëjami
	apjungti forumo laiðkai. Tai turëtø vykti kartà á dienà,
	taèiau ypaè aktyviuose forumuose gali bûti ir daþniau.
	Jei nepasirinksite rinkiniø siuntimo, tada gausite kiekvienà laiðkà
	nedelsiant. Kai iðjungiate rinkiniø siuntimà, turëtumëte gauti
	paskutiná Jums neiðsiøstø laiðkø rinkiná, kitus laiðkus gausite po vienà.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Iðjungta<br>
        <MM-Digest-Radio-Button>Ájungta
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>MIME ar vientiso teksto formato rinkiniai?</strong><p>
	Jûsø paðto programa gali palaikyti MIME rinkinius arba ne.
	MIME rinkiniai daugumai vartotojø yra patogesni,
	taèiau pasirinkite vioentisà tekstà jei negalite normaliai
	perskaityti MIME rinkiniø.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Vientisas tekstas<p>
        <mm-global-mime-button><i>Bendri pakeitimai</i>
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Ar norite gauti savo siøstus á forumà laiðkus??</strong>
	<p>Áprastu nustatymu gausite visus á forumà siøstus, tame tarpe 
	ir savo laiðkus. Jeigu nenorite gauti savo siøstø laiðkø kopijos
	èia nustatykite <em>Ne</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Ne<br>
        <mm-receive-own-mail-button>Taip
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Ar patvirtini kiekvienà á forumà nusiøstà laiðkà?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Ne<br>
        <mm-ack-posts-button>Taip
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Ar siuntinëti ðio formo slaptaþodþio priminimus?</strong><p>
	Kartà á mënesá gausite laiðkà su iðvardintais Jûsø uþsisakytø
	pasirinktø forumø slaptaþodþiais. Jeigu visiems uþsisakytiems forumams
	iðjungsite ðá parametrà, tada slaptaþodþiø priminimo laiðkas jums 
	nebus siuntinëjamas.
	</td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Iðjungta<br>
        <mm-get-password-reminder-button>Ájungta<p>
        <mm-global-remind-button><i>Bendri pakeitimai</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Ar paslëpti Jûsø adresà nuo forumo dalyviø?</strong><p>
	Kiekvienas perþiûrëdamas forumo nariø sàraðà mato ir Jûsø adresà.
	(Tuo kartais piktybiðkai pasinaudoja nepageidaujamos reklamos 
	SPAM siuntinëtojai.) Nurodykite <em>Paslëpti</em> jei nenorite
	rodyti Jûsø adreso.
	</td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Rodyti<br>
        <MM-Hide-Subscription-Button>Paslëpti
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Jûsø pasirinkta kalba:</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Kokiø temø laiðkus norite auþsisakyti??</strong><p>
	    Pasirinkdami vienà ar kità temà galite sumaþinti gaunamø laiðkø srautà.
	    Gausite tik tuos laiðkus, kurie atitinka Jûsø pasirinktas temas.
	    <p>Jei nenurodysite në vienos temos, gausite visus forumo laiðkus.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Ar norite gauti laiðkus, kurie neatitinka në vienos Jûsø nurodytos temos?</strong><p>
		Ðis nustatymas veikia tik tuo atveju, jei esate nurodæ bent vienà temà.
		Jei pasirinksite <em>Ne</em>, tada gausite tik Jûsø pasirinktø temø laiðkus.
		Jei pasirinksite <em>Taip</em>, tada gausite visus laiðkus.
                <p>Jeigu nenurodëte në vienos temos, tada gausite visus laiðkus
		nepriklausomai nuo ðio nustatymo.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Taip<br>
        <mm-receive-nonmatching-topics>Ne
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Apsaugoti nuo laiðkø dubliavimo?</strong><p>
                Jei Jûsø adresas nurodytas lauke <tt>To:</tt> arba
                <tt>Cc:</tt> galite pasirinti negauti antros laiðko kopijos.
                Pasirinkite <em>Taip</em> jei nenorite gauti kopijø;
		pasirinkite <em>Ne</em> jei norite gauti visus laiðkus.
		<p>Jei forumas leidþia asmeninius laiðkus, tada kiekvienai
		laiðko kopijai pridedama antraðtë <tt>X-Mailman-Copy: yes</tt>.
        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Ne<br>
        <mm-dont-receive-duplicates-button>Taip<p>
        <mm-global-nodupes-button><i>Bendri pakeitimai</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
