BUILD_VARIANTS = debug
INSTALL_PATH = /usr/local/SecurityPieces/Components/Security
EXECUTABLE_PREFIX = 
FRAMEWORK_VERSION = A
INFOPLIST_FILE = Info-security_transform.plist
PRODUCT_NAME = security_transform
WRAPPER_EXTENSION = framework
EXECUTABLE_SUFFIX = 
GCC_DYNAMIC_NO_PIC = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
ZERO_LINK = YES
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = NO
