Requestas administrative es monstrate in duo modos, in un <a
href="%(summaryurl)s">pagina summario</a> e in un pagina <em>detalios</em>.
Le pagina summario contine abonamentos pendente e requestas de disabonamento,
in ultra a messages suspendite usque tu approvation. Le pagina del detalios
contine un plus detaliate vista super cata message, includente le testa
complete del message e un extracto del corpore.

<p>In tote paginas, le sequente actiones es disponibile:


<ul>
<li><b>Posticipa</b> -- Posticipa tu decision. Nulle action es exequite
    nunc pto iste requesta, ma tu pote ancora re-inviar o preservar le
    message pro los que es suspendite (vide infra).

<li><b>Approva</b> -- Approva le message e manda lo al lista.
    Pro requestas de abonamento, approva le cambio del stato de abonamento.

<li><b>Rejecta</b> -- Rejecta le message e invia un notification de rejection
    al mittente.
    Pro requestas de abonamento, rejecta le cambio del stato de abonamento.
    In omne caso, in le texto juncte tu deberea adder un ration pro le
    rejection.

<li><b>Discarta</b> -- Elimina le message original, sin ulle notification
    de rejection. Pro requestas de abonamento, on simplemente discarta le
    requesta sin notificar le persona qui lo demandava. Isto es le action que
    on deberea usualmente exequer pro le casos de spam.

</ul>

<p>Pro messages suspendite, activa le option <b>Preserva</b> si tu vole
salvar un copia del message pro le administrator del sito. Isto es utile
pro messages abusive que tu vole discartar, ma que tu vole recordar pro un
successive inspection.

<p>Abilita le option <b>Re-invia a</b> e insere le adresse del destinatario
si tu vole reinviar le message a alicun altere persona non in le lista.
Pro editar un message ante su invio al lista, tu debe re-inviar le message a
te mesme (o al proprietarios del lista), e discartar le message original.
Alora, quando le message se monstra in tu cassa postal, edita lo e reinvia lo
al lista, con  in le testa un linea <tt>Approved:</tt> habente como valor le 
contrasigno del lista. Il es un bon comportamento includer in le message un
nota explicative, pro acclarar que tu lo ha modificate.

<p>Si le mittente es un abonato sub moderation, tu pote optionalmente liberar
le del moderation. Isto es utile quando tu lista es configurate pro poner
le nove membros sub proba, e tu te fide que iste membro pote scriber al
lista sin approvation.

<p>Si le mittente non es membro del lista, tu pote adder le adresse de
e-posta al <em>filtro mittente</em>. Le filtros del mittente es describite in
le <a href="%(filterurl)s">pagina del privacy del mittente</a>, e pote valer
<b>auto-accept</b> (Accepta), <b>auto-hold</b> (Suspende),
<b>auto-reject</b> (Rejecta) o <b>auto-discarta</b> (Discarta). Iste option
non essera disponibile si le adresse es jam in uno del filtros del mittente.

<p>Quando tu ha finite, clicca in le button <em>Confirma tote datos</em>
al initio o al fin del pagina. Iste button inviara tote le selectiones
pro tote le requestas administrative que tu ha decidite.

<p><a href="%(summaryurl)s">Retorna al pagina del summario</a>.
