Iste pagina contine un summario del collection del requestas
administrative que require tu approvation pro le
<a href="%(adminurl)s">lista <em>%(listname)s</em></a>.

Primo, tu trovara le lista del requestas de abonamentos e
disabonamentos pendente (si il ha), sequite per le messages
suspendite usque tu approvation.

<p>Pro omne requesta administrative, selige le action a exequer
e clicca <b>Confirma tote datos</b> quando tu ha finite. Instructiones
plus detaliate es disponibile <a href="%(detailsurl)s">ci</a>.

<p>Tu pote etiam <a href="%(summaryurl)s">vider le detalios</a>de tote
le messages suspendite.
