<html>
<head>
  <title>Authentication pro %(who)s a %(listname)s</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">Authentication pro %(who)s
      a %(listname)s</FONT></B>
      </TD>
    </TR>
    <tr>
      <TD><div ALIGN="Right">Contrasigno de %(who)s al lista:</div></TD>
      <TD><INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle><INPUT type="SUBMIT"
                                        name="admlogin"
					value="Lassa me entrar...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Importante:</em></strong> De iste puncto in
      avante, tu debe haber le cookies abilitate in tu navigator
      o tu non potera exequer ulle operation.

      <p>Le cookies de session es usate in le pannello de controlo
      de Mailman pro permitter te de non re-authenticar te ante
      cata operation. Iste cookie essera eliminate automaticamente
      quando tu sorti del navigator, o quando tu lo elimina explicitemente
      per cliccar le ligamine <em>Claude session</em> in le section
      <em>Altere activitates administrative</em> (que tu videra post
      tu entrata in le systema).
</FORM>
</body>
</html>
