<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>Le archivo %(listname)s %(archive)s per %(archtype)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
      <a name="start"></A>
      <h1>%(archive)s Archivos per %(archtype)s</h1>
      <ul>
         <li> <b>Messages ordinate per:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s

	     <li><b><a href="%(listinfo)s">Plus informationes super iste lista...
                    </a></b></li>
      </ul>
      <p><b>Initio:</b> <i>%(firstdate)s</i><br>
         <b>Fin:</b> <i>%(lastdate)s</i><br>
         <b>Messages:</b> %(size)s<p>
     <ul>
