    </ul>
    <p>
      <a name="end"><b>Data del ultime message:</b></a> 
       <i>%(lastdate)s</i><br>
    <b>Archiviate:</b> <i>%(archivedate)s</i>
    <p>
   <ul>
         <li> <b>Messages ordinate per:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
	     <li><b><a href="%(listinfo)s">Plus informationes super iste lista...
                    </a></b></li>
     </ul>
     <p>
     <hr>
     <i>Iste archivo es generate per
     Pipermail %(version)s.</i>
  </BODY>
</HTML>
