Iste texto pote includer
<a href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">stringas
in formato Python</a> que es completate per un lista de attributos. Le lista
de substitutiones permittite es:

<ul>
    <li><b>real_name</b> - Le nomine "de facie" del lista; usualmente
    illo es le nomine del lista sin majusculas.

    <li><b>list_name</b> - Le nomine que identifica le lista in le
    URLes, ubi le majusculas es significative.

    <li><b>host_name</b> - Le nomine FQDN del servitor que exeque le
    programma del lista.

    <li><b>web_page_url</b> - Le URL de base pro Mailman.
    Iste valor pote esser appendite, pro exemplo, con
    <em>listinfo/%(list_name)s</em> pro obtener le adresse del pagina
    listinfo del lista.

    <li><b>description</b> - Le description breve del lista.

    <li><b>info</b> - Le description complete del lista.

    <li><b>cgiext</b> - Le extension addite al scripts CGI.
</ul>
