<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title> Configuration de abonamento de <MM-Presentable-User> a <MM-List-Name>
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        Configuration del abonamento de <MM-Presentable-User> al lista de correspondentia
        <MM-List-Name>
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        Stato, contrasigno e optiones del abonamento de <b><MM-Presentable-User></b>
        al lista de correspondentia <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Cambio de tu informationes de abonamento a <MM-List-Name></B>
        </FONT></TD></TR>
    <tr><td colspan="2">Tu pote cambiar le adresse con le qual tu es abonate
        al lista de correspondentia per scriber le nove adresse in le
        campos infra. Nota que un email de confirmation essera inviate
        al nove adresse, e le cambio debe esser confirmate ante que illo sia
        processate.

        <p>Le confirmationes expira post approximatemente <mm-pending-days>.

        <p>Tu tamben pote optionalmente definir o cambiar tu nomine real
        (i.e. <em>John Smith</em>).

        <p>Si tu vole extender le cambios de abonamento a tote le
        listas al quales tu es abonate in <mm-host>, marca le quadretto
        <em>Cambiar globalmente</em>.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Nove adresse:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">De nove pro
            confirmar:</div></td>
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Tu nomine
            (optional):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Cambiar globalmente</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Disabonar te de <MM-List-Name></B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Tu altere abonamentos in <MM-Host></B>
        </FONT></TD></TR>

    <tr><td>
        Marca le quadretto de confirmation e preme iste button pro
        disabonar te de iste lista de correspondentia.  <strong>Advertimento:</strong>
        Iste action essera executate immediatemente!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        Tu pote vider un lista de tote le altere listas de correspondentia in
        <mm-host> al quales tu es abonate. Usa isto si tu vole
        extender le mesme cambios de abonamento a iste altere
        abonamentos.

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Tu contrasigno pro <MM-List-Name></B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Tu oblidava tu contrasigno?</h3>
        </center>
        Clicca iste button pro facer que tu contrasigno sia inviate a tu
        adresse de abonamento.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Cambia tu contrasigno</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Nove
                contrasigno:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">De nove pro
                confirmar:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Cambiar globalmente.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Tu optiones de abonamento a <MM-List-Name></B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>Le valores actual es marcate.</strong></i>

<p>Nota que alcun optiones ha un quadretto <em>Definir globalmente</em>.
Marcar iste campo implicara que le cambios sia extendite a
cata lista de correspondentia al qual tu es abonate in <mm-host>.  Clicca super
<em>Lista mi altere abonamentos</em> supra pro vider a qual altere listas
de correspondentia tu es abonate.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Livration de email</strong></a><p>
        Defini iste option como <em>Habilitate</em> pro reciper messages postate
        a iste lista de correspondentia.  Defini lo como <em>Dishabilitate</em> si tu vole
        continuar abonate, mais desira suspender le reception de messages durante alcun
        tempore (p.ex. tu va partir in un viage de ferias).  Si tu dishabilita le livration
        de email, non oblida rehabilitar lo quando tu retornara; illo
        non se rehabilitara automaticamente.
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Habilitate<br>
        <mm-delivery-disable-button>Dishabilitate<p>
        <mm-global-deliver-button><i>Definir globalmente</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Definir modo summario</strong><p>
        Si tu activa le modo summario, tu recipera le messages impacchettate
        (usualmente un per die mais possibilemente plus in listas de grande activitate), in vice
        de individualmente quando illos es inviate. Si le modo summario es cambiate de
        active a inactive, tu pote reciper un ultime summario.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Inactive<br>
        <MM-Digest-Radio-Button>Active
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Reciper summarios in formato MIME o texto pur?</strong><p>
        Tu lector de email pote o non pote supportar summarios MIME.
        Generalmente summarios MIME es preferite, ma si tu ha problemas
        in leger los, selectiona summarios in texto pur.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Texto pur<p>
        <mm-global-mime-button><i>Definir globalmente</i>
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Reciper tu proprie messages al lista?</strong><p>
        Normalmente tu recipe un copia de cata message que tu posta
        al lista. Si tu non vole reciper iste copia, defini iste
        option como <em>No</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>No<br>
        <mm-receive-own-mail-button>Si
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Recipe un message de confirmation de reception quando
        tu manda un message al lista?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>No<br>
        <mm-ack-posts-button>Si
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Recipe un promemoria con tu contrasigno?</strong><p>
        Un vice cata mense, tu recipera un e-posta continente tu
        contrasignos pro cata lista de iste servitor del qual tu es
        abonate.  Tu pote decider isto differentemente pro cata lista
        si tu selige <em>No</em> pro iste option. Si tu disabilita
        le promemorias del contrasignos pro totes le listas del qual
        es abonate, nulle promemoria te essera inviate.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>No<br>
        <mm-get-password-reminder-button>Si<p>
        <mm-global-remind-button><i>Definir globalmente</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Absconde tu nomine del lista del abonatos?</strong><p>
        Normalmente quando alicuno vide le lista del abonatos, tu adresse de
        e-posta es monstrate (in un forma obscur, pro proteger lo del spam).
        Si tu non vole que tu adresse es monstrate, selige <em>Si</em> pro
        iste option.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>No<br>
        <MM-Hide-Subscription-Button>Si
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Qual lingua tu prefere?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Qual categorias de argumentos te interessa plus?</strong><p>
                Per selectionar uno o plus categorias, tu pote filtrar
                le traffico del lista e reciper solmente un subcollection
                del messages. Si un message corresponde a un categoria que
                tu ha selectionate tu va reciper lo, alteremente non.

                <p>Si un message non corresponde a ulle categoria, le
                regula de livration depende del option infra. Si tu non
                selige ulle categorias de interesse, tu recipera tote le
                messages inviate al lista.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Esque tu vole reciper messages que non pertine a ulle
                categoria?</strong><p>

                Iste option es importante solmente si tu ha selectionate
                alicun categorias. Illo determina le regula de livration
                pro le messages que non pertine a ulle categoria.
                Seliger <em>No</em> significa que tu non vole reciper iste
                messages, durante que <em>Si</em> significa que tu va
                reciper los.

                <p>Si nulle categorias esseva selectionate in le option
                precedente, alora tu va reciper tote messages.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>No<br>
        <mm-receive-nonmatching-topics>Si
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Evita copias duple del messages?</strong><p>

                Quando tu es presente in le campos <tt>To:</tt> o
                <tt>Cc:</tt> de un message inviate al lista, tu pote
                seliger de non reciper un altere copia del lista.
                Selige <em>Si</em> pro evitar de reciper duo messages
                equal; <em>No</em> pro reciper le copias.

                <p>Si le lista ha le abilitation pro messages personalisate
                e tu selige de reciper copias, omne copia va haber un campo
                <tt>X-Mailman-Copy: yes</tt> in le testa del message.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>No<br>
        <mm-dont-receive-duplicates-button>Si<p>
        <mm-global-nodupes-button><i>Definir globalmente</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
