<!-- $Revision: 7353 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> 相關資訊</TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000">關於 <MM-List-Name> 論壇</FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> 欲查本論壇舊信，請逕洽 <MM-Archive><MM-List-Name>
		  檔案保管處</MM-Archive>。
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">使用 <MM-List-Name> 論壇</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  欲在論壇發言，請寄到 <A
HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>。

	  <p>在下面的網頁可讓您可以加入這個論壇，或變更訂閱設定。
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">加入 <MM-List-Name> 論壇</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	    欲加入(訂閱) <MM-List-Name> 論壇請依序填妥下列資料。
	  <MM-List-Subscription-Msg>
	  <ul>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">您的 E-Mail:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
	<TD COLSPAN="3"><FONT SIZE=-1>
     你 必 須 輸 入 一 個 私 人 密 碼 以 供 取 消 訂 閱 或 其 他 相 關 設 定 的
權 力 。 <b> 請 勿 使 用 有 價 值 的 密 碼</b> ! 因 為 偶 而 可 以 將 密 碼 以
明 碼 的 方 式 郵 寄 給 您。
	    <MM-Reminder>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">輸入密碼:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">確認輸入密碼:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd"> 您適用的語言?</TD> 
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <tr>
	<td>你 想 以 每 日 摘 要 的 形 式 收 信 嗎 ? 
	  </td>
	<td><MM-Undigest-Radio-Button> No
	    <MM-Digest-Radio-Button>  Yes
	</TD>
      </tr>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000"><MM-List-Name> 訂 閱 者 </FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
