<!-- $Revision: 7353 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> 訂閱會員</TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
    <TABLE WIDTH="100%" COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	  <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name>
		訂閱會員一覽表</FONT></B>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" ALIGN="CENTER">
          <P align = "right"> <MM-lang-form-start><MM-displang-box>
                       <MM-list-langs><MM-form-end></p>   	    
	  <P>點 選 您 的 email 可 到 個 人 的 訂 閱 設 定 網 頁 。
	      <br><I>(括 號 括 起 來 的 代 表 請 假 中 ( 暫 停 收 信 )。)</I></P>
	</TD>
      </TR>
      <TR WIDTH="100%" VALIGN="top">
	<TD BGCOLOR="#FFF0D0" WIDTH="50%">
	  <center>
	    <B><FONT COLOR="#000000">  <MM-List-Name> 一 般 會 員 :
		<MM-Num-Reg-Users> 人 </FONT></B>
	  </center>
	</TD>
	<TD BGCOLOR="#FFF0D0" WIDTH="50%">
	  <center>
	    <B><FONT COLOR="#000000"> 
		   <MM-List-Name> 每 日 合 寄 :<MM-Num-Digesters> 人 </FONT></B> 
	  </center>
	</TD>
      </TR>
      <TR VALIGN="top">
	<td>
	  <P><MM-Regular-Users>
	</td>
	<td>
	  <P><MM-Digest-Users>
	</td>
      </tr>
    </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
