This page contains a summary of the current set of administrative
requests requiring your approval for the
<a href="%(adminurl)s"><em>%(listname)s</em> mailing list</a>.
First, you will find the list of pending
subscription and unsubscription requests, if any, followed by any
postings being held for your approval.

<p>For each administrative request, please select the action to take,
clicking on the <b>Submit All Data</b> button when finished.
<a href="%(detailsurl)s">More detailed instructions</a> are also
available.

<p>You can also <a href="%(viewallurl)s">view the details</a> of all
held postings.
