<html>
<head>
    <title>%(realname)s Private Archives Authentication</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(realname)s Private
	    Archives Authentication</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">Email address:</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">Password:</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="Let me in...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Important:</em></strong> From this point on, you
      must have cookies enabled in your browser, otherwise
      you will have to re-authenticate with every operation.

      <p>Session cookies are used in Mailman's
      private archive interface so that you don't need to
      re-authenticate with every operation.  This
      cookie will expire automatically when you exit your browser, or
      you can explicitly expire the cookie by visiting your
      member options page and clicking the
      <em>Log out</em> button.
</FORM>
</body>
</html>
