<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-10-30</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>encodings</string>
		<key>OpenSourceSHA1</key>
		<string>24ace2470403f85a0d393769204029bd8247992a</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/encodings-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-adobe-100dpi</string>
		<key>OpenSourceSHA1</key>
		<string>53311cbd604f18bd9570727105a4222473d363e3</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-adobe-100dpi-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-adobe-75dpi</string>
		<key>OpenSourceSHA1</key>
		<string>6a2ec569336b5646682a14eee3c7790274beffd1</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-adobe-75dpi-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-adobe-utopia-100dpi</string>
		<key>OpenSourceSHA1</key>
		<string>9e80cf5bbd5522a5cfad2a9f8f8fce86de0f0226</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-adobe-utopia-100dpi-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-adobe-utopia-75dpi</string>
		<key>OpenSourceSHA1</key>
		<string>50e837322a09f1a7c40fb78fc6aad1a157284507</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-adobe-utopia-75dpi-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-adobe-utopia-type1</string>
		<key>OpenSourceSHA1</key>
		<string>3113cfafb91c2c53df6a1fae57dca6c50fb8ce20</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-adobe-utopia-type1-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-alias</string>
		<key>OpenSourceSHA1</key>
		<string>1c60d7ba96e45e928e7e75689eabe5b23237fd5f</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-alias-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-arabic-misc</string>
		<key>OpenSourceSHA1</key>
		<string>322ae41e74deea8de11fa077fd0e0191927a667c</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-arabic-misc-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-bh-100dpi</string>
		<key>OpenSourceSHA1</key>
		<string>47d5e50be9e78695017650a088da52bfcf1eeb40</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-bh-100dpi-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-bh-75dpi</string>
		<key>OpenSourceSHA1</key>
		<string>7290567d42a0f5adb6a3ad170524bb7ed59871d7</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-bh-75dpi-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-bh-lucidatypewriter-100dpi</string>
		<key>OpenSourceSHA1</key>
		<string>bc4f804e49db8c6add04f52ffb1c0cd63e714b2c</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-bh-lucidatypewriter-100dpi-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-bh-lucidatypewriter-75dpi</string>
		<key>OpenSourceSHA1</key>
		<string>3c6678e6bbb2bd352baaf610a8f6aac9c5140c85</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-bh-lucidatypewriter-75dpi-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-13</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-bh-ttf</string>
		<key>OpenSourceSHA1</key>
		<string>f42ebd527096011040a312e0f9cdf78d64177419</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-bh-ttf-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-bh-type1</string>
		<key>OpenSourceSHA1</key>
		<string>69ff038d38015cd305a4cd4d1a921fe3bd08bbde</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-bh-type1-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-bitstream-100dpi</string>
		<key>OpenSourceSHA1</key>
		<string>138376f8683c09b9068c7c124842a7af9f0fcc2e</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-bitstream-100dpi-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-bitstream-75dpi</string>
		<key>OpenSourceSHA1</key>
		<string>975e9f7872483394ebd87610f8bbc924d99bea34</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-bitstream-75dpi-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-bitstream-speedo</string>
		<key>OpenSourceSHA1</key>
		<string>e299d2bd2a84c98be5202435c8355e73e0282970</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-bitstream-speedo-1.0.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-bitstream-type1</string>
		<key>OpenSourceSHA1</key>
		<string>7633551be3525c501278e81259b22ad9a893de4d</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-bitstream-type1-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-cronyx-cyrillic</string>
		<key>OpenSourceSHA1</key>
		<string>e5af8c2e8fb23955808a08bd38728ab3ad284d61</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-cronyx-cyrillic-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-cursor-misc</string>
		<key>OpenSourceSHA1</key>
		<string>1649271129bbeff3aeee70a9da87a8e5e59162c1</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-cursor-misc-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-daewoo-misc</string>
		<key>OpenSourceSHA1</key>
		<string>0c7b24e08e6d42eb006d79ae7ab4bbf446d59f7a</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-daewoo-misc-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-dec-misc</string>
		<key>OpenSourceSHA1</key>
		<string>a748d35b8b0241abd3e1d85f80da318b529a74d0</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-dec-misc-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-ibm-type1</string>
		<key>OpenSourceSHA1</key>
		<string>bfc7d0a3aa0f96bf61ea26d6b3f5afbbdd0f35f6</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-ibm-type1-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-isas-misc</string>
		<key>OpenSourceSHA1</key>
		<string>cbd9bf441b25362123c817b1aa7a7be1ee4a9321</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-isas-misc-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-jis-misc</string>
		<key>OpenSourceSHA1</key>
		<string>8c08c5fe01d4605f2886822cb3655548a6535e58</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-jis-misc-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-micro-misc</string>
		<key>OpenSourceSHA1</key>
		<string>db3e912d41bda20f60b520c19e65bd7134ee1224</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-micro-misc-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-misc-cyrillic</string>
		<key>OpenSourceSHA1</key>
		<string>9c0e283ae59e7b05c0798fe0645cc822d22dcb0c</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-misc-cyrillic-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-misc-ethiopic</string>
		<key>OpenSourceSHA1</key>
		<string>3f6af53047cb1206d737e8e8fbbbbb315c5419bb</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-misc-ethiopic-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-misc-meltho</string>
		<key>OpenSourceSHA1</key>
		<string>f0693ea8fbc1d43177014155a0ecd2516348b51b</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-misc-meltho-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-misc-misc</string>
		<key>OpenSourceSHA1</key>
		<string>c6d28c56880807963175cbbd682fb6f75a35f77d</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-misc-misc-1.1.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-mutt-misc</string>
		<key>OpenSourceSHA1</key>
		<string>245d3041d9138b7e4a00858228adad2de304043b</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-mutt-misc-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-schumacher-misc</string>
		<key>OpenSourceSHA1</key>
		<string>fbe3629e9dcc03d12300d4ebab64fd038ea98952</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-schumacher-misc-1.1.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-screen-cyrillic</string>
		<key>OpenSourceSHA1</key>
		<string>de1f0226f74d7e4d3ee9ab0b9c87478ab2a7db30</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-screen-cyrillic-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-sony-misc</string>
		<key>OpenSourceSHA1</key>
		<string>8d0dd87148283c8ac8c5ac37906b12fab5ddb1d8</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-sony-misc-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-sun-misc</string>
		<key>OpenSourceSHA1</key>
		<string>6a72602557bb5dfe46c1ee3b56658aeed1e04f9d</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-sun-misc-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-winitzki-cyrillic</string>
		<key>OpenSourceSHA1</key>
		<string>29249b49eac7e3f32d7a1a93808fcfd9d399011c</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-winitzki-cyrillic-1.0.3.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2010-11-21</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>font-xfree86-type1</string>
		<key>OpenSourceSHA1</key>
		<string>1381f274a178cbd08627560e17a4a8f6653be3f7</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/font/font-xfree86-type1-1.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2007-04-12</string>
		<key>OpenSourceLicense</key>
		<string>other</string>
		<key>OpenSourceLicenseFile</key>
		<string>bitstreamvera.txt</string>
		<key>OpenSourceProject</key>
		<string>ttf-bitstream-vera</string>
		<key>OpenSourceSHA1</key>
		<string>c3e8505a58d52e198a02960a2bd295e4c7a14242</string>
		<key>OpenSourceURL</key>
		<string>http://ftp.gnome.org/pub/GNOME/sources/ttf-bitstream-vera/1.10//ttf-bitstream-vera-1.10.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.10</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.gnome.org/fonts</string>
	</dict>
</array>
</plist>
