Package: bc
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: GNU Project
Version: 1.05
URL: ftp://prep.ai.mit.edu/pub/gnu/bc-1.05.tar.gz
Build-Depends: build-base, flex, perl, texi2html
Description: bc numeric processing language
 bc is an arbitrary precision numeric processing language.  Syntax is
 similar to C, but differs in many substantial areas.  It supports
 interactive execution of statements.
