Questa pagina contiene la lista delle richieste amministrative
che attualmente attendono la tua autorizzazione per la lista
<a href="%(adminurl)s"><em>%(listname)s</em></a>.
Innanzitutto, troverai la lista delle iscrizioni in attesa e delle
richieste di cancellazione, seguite all'occorrenza da ogni messaggio
trattenuto per la tua approvazione. 

<p>Per ogni richiesta amministrativa, per piacere seleziona come procedere
e clicca sul pulsante <b>Manda tutto</b> quando hai concluso.
Sono inoltre disponibili <a href="%(detailsurl)s">altre e pi&ugrave; 
dettagliate istruzioni</a>. 

<p>Puoi inoltre <a href="%(viewallurl)s">vedere i dettagli</a> di tutti
i messaggi trattenuti.
