Le richieste amministrative vengono visualizzate in due modalit&agrave;:
in una <a href="%(summaryurl)s">pagina riassuntiva</a>, oppure in una
pagina <em>dettagliata</em>.  La pagina riassuntiva contiene le richieste
pendenti di iscrizione e di cancellazione e i messaggi in attesa di 
approvazione raggruppati per indirizzo del mittente.  La pagina
dettagliata presenta una visualizzazione pi&ugrave; dettagliata di
ciascun messaggio, compresi tutte le intestazioni i una parte del 
testo del messaggio. 

<p>In entrambe le pagine sono disponibili queste opzioni:

<ul> <li><b>Rimando la decisione</b> -- Rimanda la decisione ad un momento
successivo.  Non viene intrapresa alcuna azione in merito a questa richiesta
amministrativa pendente, ma per i messaggi in attesa &egrave; comunque
possibile inoltrarli o conservarli (vedi sotto).

<li><b>Approvo</b> -- Approva il messaggio inviandolo alla lista.  Se si tratta
della richiesta di iscrizione o cancellazione, approva la modifica dello stato.

<li><b>Rigetta</b> -- Rifiuta il messaggio, invia un messaggio al mittente che
lo informa del rifiuto e scarta il messaggio.  Se si tratta di una richiesta di
iscrizione o cancellazione, rifiuta il cambiamento della modifica dello stato.
In ogni caso, si dovrebbe includere una motivazione del rifiuto nell'apposita
casella di testo.

<li><b>Scarta</b> -- Scarta il messaggio senza inviare alcuna informazione al
mittente.  Se si tratta di una richiesta di iscrizione o cancellazione, la
richiesta viene semplicemente scartata senza inviare alcune informazione a chi
ha presentato la richiesta.  Di solito, questa azione &egrave; riservata ai
messaggi di spam. </ul>

<p>Per i messaggi mendenti, abilita l'opzione <b>Conserva</b> se desideri
salvare una copia del messaggio per l'amministratore del sito.  Questa &egrave;
un'opzione utile per i messaggi di abuso che vuoi scartare, ma dei quali vuoi
tenere una copia per usi futuri.

<p>Abilita l'opzione <b>Inoltra a</b> ed indica l'indirizzo a cui inoltrare i
messaggi per inviare i messaggi a qualcuno che non &egrave; iscritto alla
lista.  Se desideri modificare un messaggio prima che sia inviato alla lista
devi inoltrarlo a te (o ad un altro gestore della lista) e scartare il
messaggio originale.  Quando ricevi il messaggio apporta le modifiche che
desideri ed invia di nuovo il messaggio alla lista includendo nella prima riga
del messaggio il campo <tt>Approved:</tt> con la password della lista.  In
questo caso, la Netiquette richiede che nel messaggio inviato venga inclusa una
nota che indica che il testo del messaggio &egrave; stato modificato.

<p>Se il mittente del messaggio &egrave; un membro sottoposto 
a moderazione, &egrave; possibile rimuovere lo stato di 
moderazione.  Questa opzione &egrave; utile nel caso in 
cui una lista sia configurata per sottoporre a moderazione tutti 
i nuovi iscritti alla lista e tu hai deciso che quell'iscritto
&egrave; una persona di cui ci si pu&ograve; fidare e che 
pu&ograve; inviare messaggi in lista senza bisogno di approvazione.

<p>Se il mittente non &grave; un membro della lista, puoi aggiungere
il suo indirizzo al <em>filtro mittenti</em>.  Il filtro mittenti &egrave;
descritto nella <a href="%(filterurl)s">pagina dei filtri sul mittente 
delle opzioni di privacy</a>, e pu&grave; essere una di queste 
opzioni: <b>Accetta</b>, <b>Sospendi</b>, <b>Rigetta</b> o 
<b>Scarta</b>.  Questa opzione non &grave; disponibile
se l'indirizzo del mittente &egrave; gi&agrave; presente in una
delle liste dei filtri di mittenti.

<p>Quando hai finito, clicca sul pulsante <em>Manda tutto</em> che si
trova all'inzio o alla fine della pagina.  Questo pulsante conferma
tutte le azioni per le richieste amministrative per le quali hai
preso una decisione.

<p><a href="%(summaryurl)s">Ritorna alla pagina riassuntiva</a>.
