    </ul>
    <p>
      <a name="end"><b>Data dell'ultimo messaggio:</b></a> 
       <i>%(lastdate)s</i><br>
       <b>Archiviato il:</b> <i>%(archivedate)s</i>
    <p>
   <ul>
         <li> <b>Messaggi ordinati per:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
	     <li><b><a href="%(listinfo)s">Altre informazioni su questa lista...
                    </a></b></li>
     </ul>
     <p>
     <hr>
     <i>Questo archivio &egrave; stato generato da 
     Pipermail %(version)s.</i>
  </BODY>
</HTML>
