<!-- $Revision: 5688 $ -->
<html>
<head>
	<link rel="SHORTCUT ICON" href="<mm-favicon>">
	<title>Configurazione utente <MM-Presentable-User> per la lista <MM-List-Name></title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
	<FONT COLOR="#000000" SIZE=+1>
	Configurazione utente <MM-Presentable-User> per la
	lista <MM-List-Name>			    
	</FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
    	Stato di iscrizione dell'utente <b><MM-Presentable-User></b>,
	password e opzioni per la lista <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
	<B>Cambiare le informazioni della tua iscrizione a <MM-List-Name></B>
	</FONT></TD></TR>
	<tr><td colspan="2">Puoi cambiare l'indirizzo con il quale sei
	iscritto alla lista, semplicemente inserendo il nuovo
	indirizzo nel campo sottostante.  Nota che ti verr&agrave;
	inviato, al nuovo indirizzo, un messaggio con la richiesta di 
	conferma.  La variazione sar&agrave; completata solo dopo il
	ricevimento della tua risposta.

	<p>Le richieste di conferma scadono dopo circa <mm-pending-days>.

	<p>Puoi anche opzionalmente inserire o cambiare il tuo vero
	nome (ad esempio <em>Mario Rossi</em>).

	<p>Se vuoi che le tue variazioni abbiano effetto su tutte le
	liste alle quali sei iscritto su <mm-host>, metti la spunta
	nel quadratino <em>Cambia globalmente</em>.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
	<tr><td bgcolor="#dddddd"><div align="right">Nuovo indirizzo:</div></td>
            <td><mm-new-address-box></td>
            </tr>
	<tr><td bgcolor="#dddddd"><div align="right">Di nuovo per
	    conferma:</div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
	<tr><td bgcolor="#dddddd"><div align="right">Il tuo nome
	(opzionale):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
    <p><mm-global-change-of-address>Cambia globalmente</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
	<B>Cancellarsi da <MM-List-Name></B></td>

	<TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
	<B>Le altre tue iscrizioni su <MM-Host></B>
	</FONT></TD></TR>

    <tr><td>
    	Metti la spunta nel quadratino di conferma e clicca questo
	pulsante per cancellarti da questa mailing list.
	<strong>Attenzione:</strong> L'azione avr&agrave; effetto
	immediato!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
    	Puoi vedere un elenco delle altre mailing list alle quali sei
	iscritto su questo stesso server <mm-host>.  Usa questo se vuoi
	che le modifiche che stai apportando abbiano effetto su tutte
	le altre iscrizioni.

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
	</TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
	<B>La tua password per <MM-List-Name></B>
	</FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
	<h3>Dimenticata la password?</h3>
	</center>
	Clicca questo pulsante se vuoi che la tua password ti
	sia spedita al tuo indirizzo.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
	<h3>Cambiare la password</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
		<TR><TD BGCOLOR="#dddddd"><div align="right">Nuova
                password:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Di nuovo per
		conferma:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
	<p><center><mm-global-pw-changes-button>Cambia globalmente.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
	<B>Le tue opzioni per la lista <MM-List-Name></B>
	</FONT></TD></TR>
</table>

<p>
<i><strong>I valori attualmente scelti sono spuntati.</strong></i>

<p>Nota che alcune di queste opzioni hanno un quadratino
<em>Globalmente</em>.  Spuntando questo quadratino le tue variazioni
avranno effetto su tutte le liste a cui sei iscritto su questo
stesso server <mm-host>.  Clicca su <em>Elenca le altre mie iscrizioni</em>
qui sopra per vedere a quali altre liste sei iscritto.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
	<strong>Consegna della posta</strong></a><p>
	<em>Abilita</em> questa opzione per ricevere i messaggi che 
	sono inviati a questa lista.  <em>Disabilitala</em> se non vuoi 
	ricevere i messaggi per qualche tempo (ad esempio se stai andando 
	in vacanza).  Se disabiliti l'invio, non dimenticare che dopo
	le vacanze dovrai tornare qui e riabilitarlo; non sar&agrave;
	riabilitato automaticamente.
        </td><td bgcolor="#cccccc">
	<mm-delivery-enable-button>Abilitato<br>
	<mm-delivery-disable-button>Disabilitato<p>
	<mm-global-deliver-button><i>Globalmente</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
	<strong>Modo Digest</strong><p>
	Se abiliti il modo digest, riceverai i messaggi in un unico
	pacchetto giornaliero (normalmente ne viene inviato uno al
	giorno ma potrebbero essere pi&ugrave; frequenti su liste
	particolarmente trafficate) invece di uno per volta.  Se era
	abilitato e lo stai disabilitando, potresti ricevere ancora un
	ultimo digest prima che le cose vadano a regime.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Off<br>
        <MM-Digest-Radio-Button>On
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
	<strong>Digest in formato MIME o Testo?</strong><p>
	Il tuo programma di posta potrebbe supportare i digest in
	formato MIME oppure no.  In generale il formato MIME &egrave;
	preferibile ma se hai problemi scegli il formato testo.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
	<MM-Plain-Digests-Button>Testo<p>
	<mm-global-mime-button><i>Globalmente</i>
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
	    <strong>Vuoi ricevere una copia dei messaggi che mandi
	    alla lista?</strong><p>
	Normalmente, riceverai una copia di ogni messaggio che
	manderai alla lista.  Se non vuoi che questo succeda, metti
	questa opzione a <em>No</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>No<br>
	<mm-receive-own-mail-button>S&igrave;
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
	    <strong>Vuoi ricevere un messaggio di conferma quando 
	    mandi una mail alla lista?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>No<br>
	<mm-ack-posts-button>S&igrave;
        </td></tr>

    <tr><td bgcolor="#cccccc">
    	<strong>Vuoi ricevere un promemoria contente la password per 
    	questa lista?</strong><p>
	Una volta al mese riceverai un messaggio contenente un
	promemoria per ogni lista a cui sei iscritto su questo server.
	Puoi disabilitare questa opzione lista per lista, scegliendo
	<em>No</em>.  Se scegli di disabilitarla globalmente, allora
	non riceverai alcun promemoria mensile.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>No<br>
	<mm-get-password-reminder-button>S&igrave;<p>
	<mm-global-remind-button><i>Globalmente</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
	<strong>Vuoi rimanere nascosto nell'elenco degli iscritti?</strong><p>
	Quando qualcuno consulta l'elenco degli iscritti alla lista,
	il tuo indirizzo di posta viene normalmente mostrato (in un
	modo alterato, cos&igrave; da rendere difficile il lavoro
	degli spammer).  Se vuoi che il tuo indirizzo non compaia
	in questi elenchi, scegli <em>S&igrave;</em> in questa opzione.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>No<br>
	<MM-Hide-Subscription-Button>S&igrave;
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
	<strong>Che lingua preferisci?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>A quali categorie di argomenti sei interessato?</strong><p>
	Selezionando uno o pi&ugrave; argomenti puoi filtrare il
	traffico della lista e ricevere soltanto un sottoinsieme
	dei messaggi.  Se un messaggio corrisponde ad uno degli
	argomenti che hai scelto allora lo riceverai, altrimenti no.

        <p>Se un messaggio non corrisponde a nessun argomento, allora
	la scelta dipende dalla prossima opzione.  Se non scegli
	nessun argomento di interesse allora riceverai tutti i
	messaggi che saranno inviati alla lista.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
    <strong>Vuoi ricevere i messaggi che non corrispondono a nessuna
    	categoria?</strong><p>

	Normalmente questa opzione ha effetto soltanto se ti sei iscritto 
	ad almeno una categoria di interesse tra quelle sopra elencate.
	Quello che devi decidere &egrave; se i messaggi che non
	corrispondono a nessuna categoria li vuoi ricevere o no.

	<p>Se nella precedente opzione non hai scelto alcuna categoria
	di interesse, allora riceverai tutti i messaggi inviati alla
	lista.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>No<br>
	<mm-receive-nonmatching-topics>S&igrave;
        </td></tr>  

    <tr><td bgcolor="#cccccc">
        <strong>Elimino i doppioni?</strong><p>

	Quando sei indicato esplicitamente nel <tt>To:</tt> o
	nel <tt>Cc:</tt> di un messaggio che era stato inviato
	aalla lista, puoi scegliere di non ricevere la copia
	che la lista ti avrebbe inviato.
	Scegli <em>S&igrave;</em> per evitare di ricevere copie dalla
	lista; scegli <em>No</em> per riceverle.

	<p>Se la lista ha i messaggi personalizzati abilitati, 
	e tu hai deciso di ricevere le copie, ogni copia avr&agrave; una
	intestazione <tt>X-Mailman-Copy: yes</tt> aggiunta.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>No<br>
        <mm-dont-receive-duplicates-button>Yes<p>
        <mm-global-nodupes-button><i>Globalmente</i>
	</td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
