<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.DirectoryServices</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/sbin/DirectoryService</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.apple.DirectoryService</key>
		<true/>
		<key>com.apple.system.DirectoryService.libinfo_v1</key>
		<true/>
		<key>com.apple.system.DirectoryService.membership_v1</key>
		<true/>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>HopefullyExitsLast</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
</dict>
</plist>
