   Trackback on: $!BLOJSOM_TRACKBACK_PLUGIN_BLOG_ENTRY.getLink()&page=trackback

 Trackback from: <a href="mailto:$!BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getUrl()">$!BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getBlogName()</a>
Trackback title: $!BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getTitle()
        Left on: $!BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getTrackbackDate()
     IP Address: $!BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getMetaData().get("BLOJSOM_TRACKBACK_PLUGIN_METADATA_IP")

==[ Trackback ]==========================================================

$!BLOJSOM_TRACKBACK_PLUGIN_TRACKBACK.getExcerpt()