<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certs</key>
	<array>
		<string>87xA8meJcpqggM5+uaayqL8IjZPsbaR+bNdXXW8PRiM=</string>
		<string>E0bY+VpIdwauX3FNoAMWUtJa8XURfYDRsCFWDeVeNXs=</string>
		<string>xun04Rf0yzSDZ1H7N1PAYnAKkyQDH2vtd3C7Nq6gL4Q=</string>
		<string>Bf9xJrg1Q//oiG8HVdMaEaR18Eqz+YqRJ7I5NkGi9X8=</string>
		<string>mFiPYDK+OPcrj+K8Q8STU2QKpTUWpoxyStYC3/+CWXA=</string>
		<string>pYUhsDgBeIZkadtRVZrXg97JiC688jrVv1PNspzEZHg=</string>
		<string>hbeHkAi7KNzu86r5aACDcefX/R0JG8+6n6F+IwSO9uk=</string>
		<string>r0NxZoBk+80h9BaXV8NiLNOxhb8BV+kJbiQgTRbhdDY=</string>
		<string>6NroEpQIA8OoGS4SxAXdldJu3X54BLM3pmG/LggXufU=</string>
		<string>2zluKvIhNhWdi7Rxr3hWHqe+N3vH2ehA9cqFy/vMVEs=</string>
		<string>RVy9Ta3/ALkTcEjpGIsM18AImk6r/UEM9+gqQs7KbHg=</string>
		<string>evydAaYvA6LeljeTbUr+aAkNLeGNA/KciM+wsbpjWH8=</string>
		<string>BkqdsZl/ZjaY019Fjv/st6fltETEW+L70n6eECwhlRw=</string>
		<string>73a5GGoVytvc4rQKnjD31Q4GyK44G9Awy7Q9N5CSz4o=</string>
		<string>iie5BwN3Z/G6szlr8CwJiXYGMHSLcc72LotWfvs7+q8=</string>
		<string>A4kXVEH4hHHaNaO+XOmxjnzMr78kXPG1/TYC9uoD1YE=</string>
		<string>y7wlQrstwTP0iH+sKIrBMUQi82CQYf9zsZfbrPARip4=</string>
		<string>Yzi/MWMVvV4+Ayw5Q2w6D68LFU4+HzvhkQet+jYy+gk=</string>
		<string>UXiiil7F+h/+eIM0b0E7dezQ1N4ufX5QICDLiAlyvvk=</string>
		<string>fv1pgg07tyuJRrOBiG7oqVz1k5v9cjm55y6ejZolKHU=</string>
		<string>LgcILt6/OJFx0Ki2N5Gb56J6d928Pknb3wOOlBsaMxY=</string>
		<string>TL5AMGa71zvOIkr7nm8eZt+JIKxmrLYh3zU5MRZD+t0=</string>
		<string>ysaAhBVUWvmZhmLXfnJNCdDmIWwsWbKJ8lGBVb5aFZE=</string>
		<string>+b3yMa/P4GHOu6ULupJX9U4UFAZ02nghFjijWZgeCUs=</string>
		<string>5m/XCjYDEQpUKDr+EiMXV7pi5H+jlonoOB3DxCXehGw=</string>
		<string>QXYKQ25qATbfXvqwX+nQYG/bN5bNXNpjRYwZh7i4XXs=</string>
		<string>C8YCYLvgOctLsfGbG2Ot48/cxgXlyeXNLvL+GTGlRdo=</string>
		<string>bw5MMCCAKotMNKlCy8pjjf/tWps5oCoSrvPgbDN4cHQ=</string>
		<string>M0kfxYUSFclMbZRORCJizE/l3ZMZ3iYc7C01kDBNj64=</string>
		<string>kaQBq3oIWuOwN3Omj6CvIICd2/oghP72NJ7yY/fwuYQ=</string>
		<string>NUryGKtaRv6qys1iAaAMoARI/6w/Z+c95R6a6dPTabg=</string>
		<string>WiS3Cysta2+hO/yvHEgEw7PeFOw2Y0NfHHChdP3LXxQ=</string>
		<string>vIvBRd1nro1rTvBq/fkIJ3z1dK3OYxcVPR5T7HLa87c=</string>
		<string>ByNleW1wRFtQgL0ZO0as5FHBTV9DO8qRqRs+a2URmQc=</string>
		<string>koATSiHH6fCbNzSEwKFh7ZVBHT63tcnLbXxh9iBP+MI=</string>
		<string>bjzPaWZkZKTDJGrsvGw10jj0RSjTYnjFskajhjEEKkI=</string>
		<string>Jzbg2hk77WGBVJiAy7HxpIOHGhs/nQB6U3sl6J3XZ8A=</string>
		<string>9C/cmuE2m4btS5DAjJVcFtk3fLZ8hqNTyr7wuuDg4tM=</string>
		<string>YAfVMQNOBfhVzd+2z8OJ68f8RWCwDV7LjxoDXBP6V8c=</string>
		<string>hLjsSvFsGj3wa7nlCEPo+o3MN/l6L7j2Jm4UWUzygzA=</string>
		<string>ToHhj7Uy/UlGNZLtPN8XaDJUTa7CP8t4g3HEpfD0M0s=</string>
		<string>70kOlVvTKY3uOcoehb7TgbyQZl+HKnIdXN7Lh8iLih0=</string>
		<string>/98zYyCf3r2uRgMACvYTL6q29ctoW7ez1bG/c9It/u0=</string>
		<string>B2anQxAGqSNQspdUhGen2qeleUTb4EGzM8mnLh3W3KQ=</string>
		<string>xpy5M+kHrslK7Ll/QIo7R6wN/W3Syj+bL96ZlHn2pCQ=</string>
		<string>VHu7yiQXTCQ1KGALxSGDAYBsS+ZPIQUmej7mNEwZxx8=</string>
		<string>a7Uyd2LGwAE+cVG6U3pXs4ZXavXjrz03nl5xpHNc4tQ=</string>
		<string>qVzNKtHJqAQOKomMPaFkYujsuYzTwO17C29ZE5NrabI=</string>
		<string>IQnFMaC2f4qYzH4/x9b6f8nLYEUl47yxNLGMIeDyMJs=</string>
		<string>j4sE9GOcQN8iyR9/DyxPf+eEsV+l4lCyPdciNJIHiK8=</string>
		<string>pTQZG9isJl68Xg2vmliYwzorgQBgas9OmBQ9kPtZx64=</string>
		<string>gn+UaQO+PgXHykCW2mpJCaZT8+TdKatQ49gVBKPQfLw=</string>
		<string>T8mVFqXFsnp7bvWuN3r/ro5q06ftfuOP4Viz7g+Vcz4=</string>
		<string>lBl1tJ8yJYr58DYkVW3uE7A5qdfHFaio9vdwjCIvSDE=</string>
		<string>LQpl3AeOUDfrv+pB9o9jkIbBb1bHGnR6MSHuEnpwrIY=</string>
		<string>nWcyHLX/EwAuTQuXUzjliGgQdOlWbfS141BlZWQNhJU=</string>
		<string>9hVnTmx7cI5x9bVHpRd8RqayZ5RG9u0ThtgvI9oANnA=</string>
		<string>wP00Lqdf93TtrVXvpJZFdr34raFzhH++/RwforHTkGY=</string>
		<string>WC3tVc1/SqXK/4Sf54kexCuIHhTY2bkKow5Ox6KnLWI=</string>
		<string>sd1yHjWLPhDdZwepmXHHf+ttHTu9NVfilcCfMbKDEJU=</string>
		<string>Gwsv8ObX1IZ8L0bSyCWfJX45OKVaXScfVwMGrpgJ7vU=</string>
		<string>srwK9wITk9qLX5+LpgMZ9ZvkML/7hUoQclBJWwAN9FQ=</string>
		<string>5TBFQEN6YQ2ncDhfHYAv9t+CXNoHrw8mobS1pZDvtPA=</string>
		<string>JzpLUlxNOVTvg7hy1GUWab4EBwTvgn3BvIxs5lVtlY8=</string>
		<string>DIy9/x9fiJCojZY2OPXWs2JTQDVvPKl3blfthe02IsQ=</string>
		<string>O4fX5NIWsdmwWnoyK7Wz9dSt3Y5jyqV44sAtZKmEfQA=</string>
		<string>MQ9urO4tbw1EruMuXQb1E3F+JKD1ersDUxHx7wYd8k0=</string>
		<string>8msLzhiDrPFqi0jC3ZZmOX469wagfVm0X4Iy6G+Oia4=</string>
		<string>Ju0UizPzd7oBtoqal/6yOR++19UeP264O+vC+6kJILE=</string>
		<string>bE8QUi2cnLp/StLp26mfiOBEc0/2lZhj/Giv8/LeZfU=</string>
		<string>wRSAWhLvjUef3G6tp5Mq9ngadfWj+NYHwDOyqmiV9XA=</string>
		<string>k5fpANfmRTQa3mv0TTKeQkALHrT0JQfEnhZfXiCziKo=</string>
		<string>XjBoHo6A+pYAQ1hxoHaEJ1mZVWnT6SMsUJ3W/Q/TM+o=</string>
		<string>eIyXibn6nc0ZDtE588lnOD/leUQCU4pGuBmNUWMoJ6c=</string>
		<string>CK3BplEJKc1A/zZYhC/c7KGlireWLkzmWai+vQUnWyI=</string>
		<string>+2M/Lao6rj1VTIqWDp8j+e6pBE8z/oSX/qJcSEDBvMk=</string>
		<string>YRNhRyVZpanMXsuWOavQl2atNYJyfXHfCv3/GZS43Y8=</string>
		<string>BKznRzLfZIgNaNgFk+tTlhb3tClanaP0zQiwghVf6eo=</string>
		<string>S5b7frWjyG713VfAmDXcErRHaN2uP/XYw7X2lzGlGeY=</string>
		<string>LPCLBmDtahRKWWBsyBt8JnnNPoJLSRomiocCj1TITUY=</string>
		<string>or32GShkTVoPXMyTybM55gCtGtBeRoLYbBR3zjmZfP8=</string>
		<string>EIWm9FTQyRGY/dqxGjHHFtXc1o35HAOc4Y3Km+s83j0=</string>
		<string>YKUrkNM/s08qzVJFb8tBSJfH88W9/tQya5NSw1KFcHk=</string>
		<string>5GPT0Eg/VkdnHJC8uDoi56y8uylxJmPEaRYhflm3F5I=</string>
		<string>uBifNTlSZhxz/syRpdtkHMMbppbJQDBM4Kqviu10clk=</string>
		<string>B2Pyei+pb/WVvi6qRsNNiCmynLZgLsXlWgvsOafpPT4=</string>
		<string>O0q2Y/WVkceQnZKoQs/8kXWPGsU/+QyhNPZJy6zN9TA=</string>
		<string>1mTS5UStgTg3w3DPiRSeWxznlS61oAgYf1VgOGCjI+w=</string>
	</array>
</dict>
</plist>
