<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>revoked</key>
	<array>
		<string>q/lo389KN9d7RYxfct5ARMNlu8I=</string>
		<string>q/lo389KN9d7RYxfct5ARMNlu8I=</string>
		<string>q/lo389KN9d7RYxfct5ARMNlu8I=</string>
		<string>3zPAr5L+N/y22BYW0NmxkdX6bqU=</string>
		<string>iGi/4I41xDs4a2L3KDuEgcgM100=</string>
		<string>iGi/4I41xDs4a2L3KDuEgcgM100=</string>
		<string>/tyUSQxv71x/xvESmU8WSa37gmU=</string>
		<string>oT/TfARbtKMRK9ibGgfpBLLSbiY=</string>
		<string>xhaTThYX7BaujJR284ZtxXRuhHc=</string>
	</array>
</dict>
</plist>
