<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>roots</key>
	<array>
		<string>2pj2QBlN8SjHiIvI40eandMXlf8IfGSQUvuvsC6u8YQ=</string>
		<string>0cM56ieE64cPk0/FY05Kqa1VBQFkAfJkZdN6V0ZjNZ8=</string>
		<string>LcYsP2wMyQILunfhxRFRECS5Q+5ZiFbaWiLiIrcneiA=</string>
		<string>ex+Njv9dc0n+236uicKarMQXBPFQOuPIwuuhAiXQ9Wg=</string>
		<string>eTy/RVm5/eOKsi3xaGn2mIGuFMSwE5rHiKeKGvzKAvs=</string>
		<string>6KL0QWV2eJdfK5fXdXGcfUnZIjRVRUDsFNkuFv4n0ss=</string>
		<string>dcnUNhy5bpk6vZYgzwQ76UB6RjPyAvD0wOF4Ucxgic0=</string>
		<string>LccOWI00DeWWauMvb8eWvbXebXwlzSSaS+ZOnfkDYyM=</string>
		<string>psUeDaXKCpMJ0uTA5Awq+RB6roIDhX/hmOPnaeNDCFw=</string>
		<string>jHIJJ5rATideFtB/07d16AFUtZaARuMfUt0ldmMk6ac=</string>
		<string>aH+kUTgieP/wyLEfjUPVdmccbrK86rQT+4PZZdBtL/I=</string>
		<string>B5HKB0myB4Kq08fXvQzfyUhYNYQ+steZYAnOQ6tsaSc=</string>
		<string>gJUhCAXbS7w1XkQo2P1uws3jq1+5eplCmI649NzQYBY=</string>
		<string>vXH99tqX5M9i0WR63SWBsH15rfg5frTsupxehIiCFCM=</string>
		<string>cKc/fzdrYAdCSJBFNLEUgtW/DmmOzEmN9SV36/LpO5o=</string>
		<string>CoHsWpKXd/FFkErzjV1Qn2a14sWPzbUxBYsOF/PwtBs=</string>
		<string>A3arHVTF+YA85LLiAaDufu97V7Y26Kk8m41IYMlvX6c=</string>
		<string>d0BzEsY6FT1bwAtOUXWc39rCN9wqM7Z5RumOm/poCuM=</string>
		<string>fTtGWmAU5SbAr/zuISfSMRcnrYEcJoQtAGrzcwbMgL0=</string>
		<string>4++2EYqS47hY/YBvaQ4x1GuVyhvXVtorMDf+L4fMkTc=</string>
		<string>BqLJozeas8FWFZonyp7NvU73Uwm0Cc9wrsqaEjMPOA4=</string>
		<string>LUdDfeF5USFaEvPFjlHHKaWAJu8fzApfs9ncAS9gDRk=</string>
		<string>Bts68tt7ruAMA7lXgoi73lQdkG6wBpMnQTKV/7SGAI4=</string>
		<string>evydAaYvA6LeljeTbUr+aAkNLeGNA/KciM+wsbpjWH8=</string>
		<string>sLFzDsvH/0UFFCxJ8Slebtpryu1+LGjFvpG1oRAB8CQ=</string>
		<string>DYO2EbZIoadeuFWEAHlTdcrZLiZO2OnXp1fB9e4rsi0=</string>
		<string>fH7UJAuyU7s1w3bhLgCwJ/FlnfnYJnQiqT7tde3Hrfs=</string>
		<string>n5dERjvhNxR1Tho77PmMCMwgXkqzICj04oMMShsndbg=</string>
		<string>ox8JMFO9EsH1w8bv1JgCP9KRTXdY0F1pjOCEtQYm4OU=</string>
		<string>6sAiDFyf7MUSHTcghy0GcHtSZr4l1Ou1argEu7+F/gM=</string>
		<string>Fq9XqfZ2sKsSYJWqXrre8iqzERnWRKyVzUuT2/Pyaus=</string>
		<string>D06c3SZLAlVQ0XCAY0AhT+lENMmwL2l+xxD8X+r7Xjg=</string>
		<string>t7ErFx+CHaqZDND+UIexKESLqOUYT4TFHgK1yPuWKyQ=</string>
		<string>y7WvGF6UKiQC+erLwO1buHbuo8EiNiPQBEfk87pVS2U=</string>
		<string>kqnZgz/hlE2zZui/rnqVtkgMLWxsKhvmXUI2tgj8obs=</string>
		<string>6wTPXrHzmvp2LyuxIPKWy6Ugwbl9sViVZbgcuaF7ckQ=</string>
		<string>44k2DQ/brrPSUFhLRzAxTiIvOcFWoCAUTo2WBWF5FQY=</string>
		<string>47ai2y7XzkiEL3rFMkHHtx1UFEv7QMEfPx0LQvXuoS0=</string>
		<string>D5k8iu+Xuq9WhxQO1ZrRghu0r6zwqppYtdV6M4o6+8s=</string>
		<string>wKb03GOiS/3PVO8qaggqCnLeNYA+L/X/Unrl2HIG39U=</string>
		<string>gye8jJ1plHs948J1EVNyZ/WcIbn6e2E/r7zNU7cCQAA=</string>
		<string>NB3pixOSq/f0q5CpYM8l1L1uxluaUc5u0GfQDsfOm38=</string>
		<string>OkPiIP5/PqllPR4hdC6sK3XCD9iYAwW8UCyvjC2bQaE=</string>
		<string>g848Eiloilk9SF+BlzwPkZVDHto3zF42Qw55x6iIY4s=</string>
		<string>RGQKCg5NAA+9V00rige9tNHf7TtFuqunb3hXeMcBGWE=</string>
		<string>HAHG9Nuy/vwiVYsryjJWP0mESs/DK3vksP9Zn56Mevc=</string>
		<string>4oOTdz2oRaZ58ggMx/tEo7ehw3kst+t3Kf3Lao2Zrqc=</string>
		<string>16eg+11+JzHXcelITrze9x1fDD4KKUh4K8g+4OppnvQ=</string>
		<string>vYHOO09lkdEaZ7X8ekf97yVSG/mqThi5498uNKeAO+g=</string>
		<string>PwblVoHUlvW+Fp61OJ+fK4/2HhcI32iBckhJzV0ny2k=</string>
		<string>DCzWPfeAb6OZ7egJEWtXW/h5ifBlGPmAjIYFAxeLr2Y=</string>
		<string>thkaUNDDl399qZvNqshqIn2uuWeexwujsMnZInHBcNM=</string>
		<string>PpCZtQFej0hsALzqnREe5yH6ujVaibzx32lWHj3GMlw=</string>
		<string>Q0ig6URMeMsmXgWNXolEtNhPlmK9Jtslf4k0pEPHAWE=</string>
		<string>dDHl9MPBzkaQd08LYeBUQIg7qaAe0Aumq9eAbtOxGM8=</string>
		<string>kr9RGavsytCxMy3E4dBfunW1Z5BE7gyibpMfdE8vM88=</string>
		<string>lZ3FiAxFfNkuVEeqpWCdsJ7Ue9AsF6Dt79yBnnVsdOU=</string>
		<string>lnbyhzVsiaEmg9ZSNAmMt3xPHBjyPA5UHeDhlnJbfr4=</string>
		<string>mnOSmlAPGgv0ncsEboA5FpaWVXNF6fgT8Q/5OA2yJpU=</string>
		<string>Na5b3dj3rmNc/7pWgqjwC5X0hGLHEI7poOUpKwdKr7I=</string>
		<string>QdT23PEwuYQ6O5qVMJU+kl/dhOi3rrjyBbj645NSYX0=</string>
		<string>ZjnRPKuF3xrZojxEOzpgkB4rE41Fb6cRg1eBCIhOxr8=</string>
		<string>bcRxcuAcvLC/YlgNiV/iuKya1PhzgB4MELnIN9IesXc=</string>
		<string>c8F2Q08bxtWt9FsOducnKHyN5XYWwebmFBorLLx9jkw=</string>
		<string>YvJAJ4xWTE3Yv32dT282bqiU0i9fNNmJqYOs7C//7VA=</string>
		<string>CCl6QEfbojaAxzHbbjF2U8p4SOG+vToLAXmnB/ks8Xg=</string>
		<string>z1b/RqShhhCd2WWEte61ilEMQnWw5flPQLuuhl4Z9nM=</string>
		<string>LydOSKukrHt2WTMQF3VQbcMO4472rNXASTLP4EEjQiA=</string>
		<string>Xwti6rXjU+plIWUWWPu2U1n0QygKSvvRBNd9EPnwTAc=</string>
		<string>7MPpw0B1A77gkaqVL0E0j/iLqoY7ImS++sgHkBV06Tk=</string>
		<string>C17tToRkA89V4GWEhEDtKoJ1i/W5qh8lPUYTz6CA/z8=</string>
		<string>BKz7OyR5PzAPZ++H5E3XLLmyiyBPOJp81a4oeFx9Qs0=</string>
		<string>iU68CyPaKlDAGGt/jyXvH2spNa8yqUWE74Cq+HejoG4=</string>
		<string>BASAKL8fKGTUj5rU2DKUNmqCiFZVPzsUMD+QFH9dQO8=</string>
		<string>YrkmcmYhKDKo4i2rkz2RxwESdKz3FwP5zJeDN1Gm6U8=</string>
		<string>w4Rr8kuek8pkJ0wOxnwezF4CT/ys0tdAGTUOgf5UauQ=</string>
		<string>N9UQBsUS6qtiZCHx7IySAT/F+CrpjuUz60YZuN600Gw=</string>
		<string>/4VqLSUdzYjTZlb0UBJnmM+rqt5AeZxyLeTStds2pzo=</string>
		<string>y7Ui17fxJ61qAROGW98c1BAufQdZr2NafPRyDcljxTs=</string>
		<string>69QQQOS7PsdCyeOB0x7ypBpItmhclufO88HfbNQzHJk=</string>
		<string>tBsvv7k+6rPg+msoStuTLNs3Zu1Lx9FIN6jy2a6HSiM=</string>
		<string>ykLdQXRf0LgeuQI2LPnYv3Gdob0bHvyUb1tMmfQsG54=</string>
		<string>RRQLMkfrnMjFtPDXtTCR9zKSCJ5uWmPidJ3TrKkZjto=</string>
		<string>pTElGI0hEKqWSwLHt8baMgMXCJTl+3H/+2Zn1eaBCjY=</string>
		<string>+eZ9M2xRACrAVMYyAi1m3aLn4//xCtBh7THYu7QQz7I=</string>
		<string>BocmAzGnJAPZCfEF5pvPDTLhvSST/8bZIG0RvNZ3Bzk=</string>
		<string>dnyVWnZBLImvaI6QoccPVWz9a2Al2+oQQW1+toMfjEA=</string>
		<string>xXus8jj5M2w9+6YtErz1gjYD5YQsROYvVEjMfl9MrVk=</string>
		<string>t6fsQZRUQRdhIl7PMNmVhfhRNWB3v4MnSxFYj9BVIbg=</string>
		<string>1o93MLHsKz+2mMltdlQMmZdBWiVzfc1h1Elg23fScj0=</string>
		<string>byvEy2MsJOrmeCwPOXWJMtHh3Js+Bw+TAwc//ziyiOI=</string>
		<string>bPsJiT39+UV+MwNZKqR1W8hZq2umouEcEc3cJAmr2gI=</string>
		<string>lA70ZTZxPY4utLUB6AtqvY606ZKNukR4TOfX6YWV3+g=</string>
		<string>sId67i05J034MfZv3ut3F1V8JY/J61UjGp+KZHp1Qz8=</string>
		<string>I4BCA8pF2M3nFrjBO/O0SEV/oGzBAlCZf6AUWDF8QeU=</string>
		<string>vw/u+546WBrV+enbdYmYV0PSYQhcTTFPb11yWapCFhI=</string>
		<string>b9s/dsi4AadTONilCnwCh59hmLV+WU0xjTgykA/tzXk=</string>
		<string>j90pjRyTsiv8Qqqxw6FfDQGDLKChrvKNVoDwbmx/1O8=</string>
		<string>bTeVcxqV+Likcbmq5cTwVpGxwRoUD9S5ga2JHDZ/r9M=</string>
		<string>bPX2WENtEFB+up30Y5h0gLyFYKjibvRpHh08moeKCVI=</string>
		<string>fxLNX35eKQ7H2FF51bcsIKW+dQj/21v4GrloSn/J9mc=</string>
		<string>ipaKrdiLIFGWcqRSo9bjHqy3HCa8r2WzL5eTvy/6VKk=</string>
		<string>bGHaw6Le8DFQa+A20qb+QBmU+9E9+cjUZlmSdMRG7Jg=</string>
		<string>5gbd7uLuf1ze9dkFj/i30KnwQod/ahce2P9pYOTMXqU=</string>
		<string>FfC6AKOsevOsiEwHKxARoHe9d8CX9AFksvhZir2Dhgw=</string>
		<string>0XzY7NWGtxIjikgs5G+lKTlwdC8nbYq2qeRu4CiPM1U=</string>
		<string>vUaf9F+q58VMy9adPzsAIlXZsGsQsdD6OIv5a5GLLOk=</string>
		<string>52hWNO+s9prOk5prJVt7T6vvQpNbUKJlrLXLYCfkTnA=</string>
		<string>LxBi+L+E5+uDoPZMmNiR++LIEbF/+sC84abcnHw9y7c=</string>
		<string>VwFPPL4XgqqbeSHF46la/SbVcn2UddAULmttJ3mBM8A=</string>
		<string>un8RNjiQdbjobFPAlfoU9cg7awF6AkTtdjcRRiDTo7E=</string>
		<string>XFhGjVX1jkl+dDmC0rUAELbRZTdKz4On1KMtt2jEQI4=</string>
		<string>8AhzPsUA3EmHY8ySZMb86kDsIgAOkn0FPOnJC/oEbLI=</string>
		<string>pF7eO7vwnIrhXHLvwHJo1pOiHJlv1R5nygeUYP1tiHM=</string>
		<string>haDdfdcgrbf/Bfg9VCsgncf/RSj31nexg4n+peXEnoY=</string>
		<string>GPH8fyBd+K3d63/gB91X4683WpxNjXNUa/Tx/tHhjTU=</string>
		<string>DCWKEqVnSu8l8oun3Prs7qNI5UHm9cxO5jtxs2FgasM=</string>
		<string>7zy0F/yOv2+Xh2yeTs453h6l/mSRQdECi30RwLIpjO0=</string>
		<string>afrJvVX7CseNU7vuXPHVl5if0KqrIKJRUb3xcz7n0SI=</string>
		<string>r4tnYqHlKCKBYaldXFWe4mYnj3XXnoMBiaUDUGq9a0w=</string>
		<string>515y7Z9WDuxutIAAc6Q/w60ZGVo5IoIBeJWXSpkCa2w=</string>
		<string>oi26aB6XN24tOX1yiq46m2KWuf26YLwuEfZH8sZ1+zc=</string>
		<string>UTss7LgQ1M3l3YU5Gt/Gwt1g2Hu3NtK1IUhKpHoOvvY=</string>
		<string>tEELc+Lm6spH+8Qvj6QBivQ4HcVM+qhEUEYe7QlFTek=</string>
		<string>q3A2NlxxVKopwsKfXUGRFjsWKiIlARNX1W0H/6e8H3I=</string>
		<string>FGX6IFOXuHb6pvCplY5VkOQPzH+qT7fCyGd1Iftftlg=</string>
		<string>zYCChM90b/L9brWKodWcStSzylb9xidKiSang18yMT0=</string>
		<string>eQi0AxTBOBALUY0HNYB/+/z4UYoAlTNxBbo4axU92Sc=</string>
		<string>ZoyDlH2mO3JL7OF0PDGg5q7Q247Fsxvjd7t4T5G2cW8=</string>
		<string>1B2CnowWWYIq+T/OYr/83iZPyE6LlQxf8nXQUjVGlaM=</string>
		<string>LOHLC/nS+eECmT++IVFSw7LdDKveHGjlMZuDkVTbt/U=</string>
		<string>Vo1pBaLIhwikswJRkO3P7bGXSmBqE8blKQ/LKuY+2rU=</string>
		<string>x2apvvLUBxyGOjGqSSDoE7LRmGCMt7fP4hFDuDbfCeo=</string>
		<string>4XiQ7gmj+/T0i5xBShfWN7elBkfpvHUjInJ/zBdCqRE=</string>
		<string>IdsgEjZguy7UGCBdoR7nqFpl4rxuVbWvfniZyKJm2S4=</string>
		<string>Yt0L6bn1ChY+oPjnXAU7HspX6lXIaI9kfGiB8sg1e5U=</string>
		<string>OyIuVmcR6ZIwDcCxWrlHPa/e+MhNDO99Mxe0wYIdFDY=</string>
		<string>vmxNoru5ulm285OXaDdCRsPABZk/qY8CDR3tvtSKgdU=</string>
		<string>JIMCqXf0D33WordwWGrfqsPrHoX9GhAtvXhjxyuPjvI=</string>
		<string>5rj4dmSF+Aeuf42sFnBGHwfAoT7vOh/3F1ONerrTkbQ=</string>
		<string>jaCE/Pmc4Hci+JsyBZOYBvpcuBHhyBP2oQjH0zazQI4=</string>
		<string>MmaWflnNaACNndMggRGFxwQgXo2V/dhPHHsxHmcE/DI=</string>
		<string>6/PAKoeJsft9URmV1mO3KQbZE84NXhBWiop34lhhZ+c=</string>
		<string>KDSZHPZ3Rm0iuqw7AFXluRHZqeVfW4W6AtxWZ4LDDoo=</string>
		<string>Ocdcrs7okgyQnxMkkWQTULV+JwKmWpkVRbAdG+SiIgs=</string>
		<string>SJjGiIwM/7DT4xrKijfU41Ff90bQJjXYZkbPoKMYWuc=</string>
		<string>jXIvganBE8B5HfE2opZtsmyVCpcdtGtBmfTqVLeL+58=</string>
		<string>9Z2z9F1X/OyUzNUW5sjMsg3UNj/rLETYZW6V9Q/djfg=</string>
		<string>Wzi9Ep6D1aDK0jkhCJSQ1Q1KrjcEKPjd///6TBVk4YQ=</string>
		<string>9QdKj1uaW4FC80q+FS9gNk13Dq517j7s60W2uZZQl4g=</string>
		<string>P58n1YMgS54JyKPSBmxLV9OiR5w2k2UIgFBWmBBdvOk=</string>
		<string>pDENUK8YpkRxkDcqhq+vi5Uf+0Mdg38eVoi0WXHtFVc=</string>
		<string>h8Z4v7iyXzj36XszaVa7zxRLusqlNkfmGiMlvBBVMWs=</string>
		<string>y2sF2ejlfNiCsQtNtw3kux3kK6SKe9Axi2Nb9ud4Gp0=</string>
		<string>MJtKh/bKVskxaaqpnG2YiFTXiSvVQ34tB7KcvtpV010=</string>
		<string>wbSCmaulII/pYwrOVcpooD7aWlGciAKg06Zzvo+OVX0=</string>
		<string>QgD1BDrIWQ67Un0gntFQMCn7y9QcobUG7CfxWt59rGk=</string>
		<string>8cG1CuWiDdgDDsn2vCSCPdNntSVXWbTnG2H86fc3XXM=</string>
		<string>5Mc0MNeltQkl30M3Cg0hbpp5udbbg3Ogxp6xzDHHxSo=</string>
		<string>RATjO14UDc+ZgFH9/IAox8gWFcXuc3sRG1iCM6m1NaA=</string>
		<string>xHDPVH4jArl3+yndcaiae2wfYHd7Ayn1YBfzKL9Pa+Y=</string>
		<string>l4zZZvL6oHunqpUA2cAunXfyza2mrWunSvS5HGZZPFA=</string>
		<string>v9iP4RAcQa4+gBv4vlY1Dum60aa5vVFe3FxtW4cRrEQ=</string>
		<string>ofBcy4DC1xDsfUeavcu4eeWNfttxSf54qHiE49C60Pk=</string>
		<string>k+Zex2LwVdxxijMlgsQaBEMNcuPLh+i4l7Z1FvDRqjk=</string>
		<string>2OD+vB2y440AlA830n1BNE2ZPnNLmdVlbZd41NgUNiQ=</string>
		<string>Q/JXQS1EDWJ0dpdPh32o8fwkRFZaNnrmDt3CekElMa4=</string>
		<string>bqVHQdAEZn7tG0gWY0qjp55uS5aVD4J52vyNm9iBITc=</string>
		<string>w43LOJWTkzWGkepNTzzklc50iZbmTtGJHYl6D8TdVcY=</string>
		<string>b/945ACnDBEBHNhZd8RZ+1r5aj3wVAgg0PS4YHh15Y8=</string>
		<string>hfsvkd0SJ1oBRbY2U0+EAkrWi2m47ohoT/cRN1gFs0g=</string>
		<string>Od97aCt7k4+EcVSBzN6NYNjyLsWYh30KqsErWRgrAxI=</string>
		<string>9MFJVRowE6Nbx7/+F6fzRJvBq1taCudLBsI7kABMAQQ=</string>
		<string>WNAXJ5zU3GOr3bGWpsmQbDDE4IeD6ujBYJlU1pNVWWs=</string>
		<string>vCP5ijE8uS3ju/w6Wp9EYaw5SUxK4VqenfEx6ZtzAZo=</string>
		<string>qtnO7Vqmsc6ihZao5OGr7ZOG1uvJ1KrZrN4Po2ugadA=</string>
		<string>ms+rfkPI2IDQayYqlN7u5LRlmYnD0Mrxm69kBeQat98=</string>
		<string>UYR8jL0umnLJHiktKuJH194eP9JwVHog731hDzi4hCw=</string>
		<string>lEVUI52R7Z7+3PkG1egRMWC0b8gW3Gvcd7idoptlYrk=</string>
		<string>pLazmW/C8waz/YaBvWNBPYxQCcxPoynCzPDi+hsUAwU=</string>
		<string>pxJyrqqjz+hyf3+znw+z0eVCbpBgsG7m8T6aPFgzzUM=</string>
		<string>A0WLar7swhSVPZcUmvRTkWkd6fnNzCZHhjo9Z8lcJDs=</string>
		<string>Qckjhmq0yta3rVeAgVguAgeXpsvfT/94zoOWs4k31/U=</string>
		<string>zs3ckFCZ2NrfxbHSCbc3y+LBjPssEMD/C88NMob8GqI=</string>
	</array>
</dict>
</plist>
