<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>bind9</string>
        <key>OpenSourceVersion</key>
        <string>9.4.2-P2</string>
        <key>OpenSourceURL</key>
        <string>ftp://ftp.isc.org/isc/bind9/9.4.2-P2/bind-9.4.2-P2.tar.gz</string>
        <key>OpenSourceSHA1</key>
        <string>2093f5958724dcd59171525feb1525d13b646192</string>
        <key>OpenSourceImportDate</key>
        <string>2008-08-04</string>
        <key>OpenSourceLicense</key>
        <string>Other</string>
        <key>OpenSourceLicenseFile</key>
        <string>bind9/COPYRIGHT</string>
</dict>
</array>
</plist>
