<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2010-03-15</string>
	<key>OpenSourceProject</key>
	<string>perl</string>
	<key>OpenSourceVersion</key>
	<string>5.10.1</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.perl.com/</string>
	<key>OpenSourceURL</key>
	<string>http://www.cpan.org/src/perl-5.10.1.tar.bz2</string>
	<key>OpenSourceSHA1</key>
	<string>98b762b5cd4fb76dd354dfa5ba0d21bc2acacaf2</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>changes to build under XBS</string>
		<string>prepend and append paths to @INC, using /Library/Perl/%lt;version%gt;/PrependToPath and /Library/Perl/%lt;version%gt;/AppendToPath</string>
		<string>Config returns the correct sizes for both 32 and 64-bit</string>
		<string>make CPAN::HandleConfig more forgiving about directory permissions</string>
		<string>added new /Library/Perl/Updates/%lt;version%gt; directory that comes before the system perl directories in the module search order; installprivlib and installarchlib now point to this Updates directory</string>
	</array>
	<key>OpenSourceLicense</key>
	<string>Artistic</string>
	<key>OpenSourceLicenseFile</key>
	<string>perl.txt</string>
</dict>
</plist>
