# $Id: printcap.sample,v 1.1 2001/06/09 00:28:11 zarzycki Exp $

# Sample printcap entry for NetWare printer
fserverlj|LJ6L on the fserver:\
	:sh:lp=/dev/null:\
	:if=/usr/local/libexec/ljspool: \
	:sd=/var/spool/output/nwhost:lf=/var/log/lpd-errs:
