<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VersionNumber</key>
	<integer>2024013100</integer>
	<key>MobileAssetContentVersion</key>
	<integer>1003</integer>
	<key>PKITrustStoreAssetsVersion</key>
	<string>0.0.1.0.0,0</string>
</dict>
</plist>
