  段階的ガイド

  XFree86 の設定について
  David Wexelblat と XFree86 プロジェクト社

  著
  岡本 一幸 Kazuyuki Okamoto <ikko-@pacific.rim.or.jp> 訳
  1994 年 10 年 05 日

  この文書は XFree86 サーバーをどうやって設定するかについてと、 XF86Con-
  fig ファイルを機器構成に一致させる事について書いています。この文書の手
  順どおりに作業すれば、問題無くサーバーが準備でき、すぐに実行できるよう
  になります。この文書は汎用になるように設計されています。設定対象 OS 固
  有の README ファイル（例えば、 README.SVR4）と、設定対象ビデオカー
  ド/チップセット固有の READMEファイル（例えば、 README.trident）を必ず
  参照して下さい。これら固有のファイルと汎用になっているファイルとで矛盾
  を生じる場合は（全部の場合がそうであるとは限りませんが）、固有のファイ
  ルの手順に従って下さい。
  ______________________________________________________________________

  Table of Contents:

  1.      手順概要

  2.      正しい標準サーバーの設定

  3.      XF86Config の易しい部分

  4.      ビデオボードの設定について

  5.      モニターとそのモードの設定について

  6.      ビデオボードとモニターデータの組み合わせについて

  7.      汎用ビデオモードについて
  ______________________________________________________________________

  1.  手順概要

  準備と実行は２つの段階で行ないます。まず最初に、使用したい適切なサーバ
  ーを選択して、初期値のまま設定します。次に、 XF86Config ファイルを設定
  します。このファイルはサーバーに、画面指示装置（例えば、マウスやトラッ
  クボール）、ビデオカードやモニター等、その他少しの機器について設定する
  ものです。

  XF86Config ファイルはいくつかの項目で構成されています。これらの手続き
  はそれぞれの部分を書き込むことで、自然に導いてくれるでしょう。
  /usr/X11R6/lib/X11/XF86Config.sample という、初期値のサンプルとして
  XF86Config ファイルがあります。このファイルを
  /usr/X11R6/lib/X11/XF86Config.sample にコピーして設定対象機器構成に固
  有な部分を修正して下さい。XF86Config（4 章 / 5 章）のオンラインマニュ
  アルに XF86Config ファイルの中身とオプションの詳細が書かれてます。お手
  元の XF86Config ファイルを書き込むために、オンラインマニュアルを通読し
  て下さい。

  XF86Config ファイルの各節は次の通りです。:

      Files
        標準フォントと RGB データベースのパスを設定します。

      Server Flags
        一般的なサーバーの少量のオプションを設定します。これらについて勉
        強したい場合は、オンラインマニュアルを参照して下さい。

      Keyboard
        キーボード装置を設定します。少量のオプションパラメータを設定しま
        す。

      Pointer
        画面指示装置を設定します。少量のオプションパラメータを設定しま
        す。

      Monitor
        サーバーに対してモニター（複数）を記述します。

      Graphics Device
        サーバーに対してビデオカードを記述します。

      Screen.
        モニターとビデオカードどのように使用するべきか記述します。

  2.  正しい標準サーバーの設定

  標準サーバーの名前は /usr/X11R6/bin/Xです。これは/usr/X11R6/bin/にある
  特定のサーバーのバイナリファイルである XF86_xxxx リンクファイルです。
  X が使いたいサーバーのリンクファイルになっているか確認して下さい。正し
  いリンクファイルになっていないときは、X を削除して正しいサーバーの新し
  いリンクファイルを作って下さい。サーバーのバイナリファイルは次の通りで
  す。:

     XF86_SVGA:
        Super-VGA サーバー。  Cirrus 542{0,2,4,6,8,9}、543{0,4}
        とWestern Digital 90C3{1,3} と Oak Technologies Inc. OTI087 の
        チップセット対応のアクセラレータと残りのチップセット対応の非アク
        セラレータを含んでいます。

     XF86_Mono:
        オプションで Hercules または他の白黒ビデオカードをサポートする
        (S)VGA 白黒サーバーが入っています。

     XF86_VGA16:
        汎用 VGA 16 色サーバー。

     XF86_S3:
        S3 アクセラレータサーバー。

     XF86_Mach32:
        ATI Mach32 アクセラレータサーバー。

     XF86_Mach64:
        ATI Mach64 アクセラレータサーバー。

     XF86_Mach8:
        ATI Mach8 アクセラレータサーバー。

     XF86_8514:
        8514/A アクセラレータサーバー。

     XF86_P9000:
        P9000 アクセラレータサーバー。

     XF86_AGX:
        AGX アクセラレータサーバー。

     XF86_W32:
        ET4000/W32 とET6000 アクセラレータサーバー。

  それぞれのサーバー対応のオンラインマニュアルがありますので、サポートし
  ているチップセット固有の詳細とサーバー固有の構成のオプションはオンライ
  ンマニュアルを参照して下さい。

  LinkKit にてサーバーにドライバーを組み込み、変更する場合に注意事項があ
  ります。配付物がどうゆう風に組み立てられているかによりますが、サーバー
  のバイナリファイルには使用可能な全てのドライバーは含まれていません。組
  み込まれているドライバーの一覧を得るには、 /usr/X11R6/bin/X
  -showconfig を実行して下さい。サーバーを再リンクする必要がある場合は、
  固有の情報について LinkKit の <tt>README.LinkKit</tt> <LinkKit.html>
  を参照して下さい。

  3.  XF86Config の易しい部分

  XF86Config ファイルの "Files" の節は、RGB (赤緑青) のデータベースファ
  イル（一般に、これを変更するべきではありません）へのパスと、標準フォン
  トのパスを内蔵させることです。複数の FontPath 行を XF86Config に書いて
  ある場合は、FontPath を結合して使用できます。それぞれの FontPath の
  ディレクトリが存在することと、ちゃんとフォントが使えることを確認して下
  さい。サーバーが "Can't open default font 'fixed'"（標準の'固定幅'フォ
  ントが有りません）と言ってきたら、それはフォントの登録が正しくないから
  です。それぞれのフォントの登録を正しくしたいなら、それぞれのフォントの
  ディレクトリの所で `mkfontdir' コマンドを実行してみて下さ
  い。XF86Config のオンラインマニュアルの 4 章 / 5 章に、XF86Config ファ
  イルの最初の部分の他のパラメタについて記述しています。

  次は "Keyboard" の節です。 この節には、キーボードの通信手順（Xqu eue
  または Normal）、キーの繰り返しの速度やいくつかの修飾キーの標準的な割
  り付けについて設定できます。一般にここは変更する必要は無いでしょう。英
  語用でないキーボードのユーザーは修飾キーの定義を変えたいことでしょう。
  詳細は XF86Config のオンラインマニュアルの 4 章 / 5 章を見て下さい。 [
  訳注：修飾キー = 他のキーと一緒に押す、オルタネイトキー(Alt)、コントロ
  ールキー(Cntl)やシフトキー(Shift) 等押しても字の出ないキーの事でしょう
  ]

  次は "Pointer" の節です。この節では画面指示装置の通信手順と装置につい
  て指定できます。通信手順名称は製造者名称ではないことに注意して下さい。
  例えば、いくつかの Logitech のマウス（特に新しいもの）の場合、Logitech
  の通信手順名称ではなく MouseMan または Microsoft の通信手順名称を用い
  ます。その他のマウスのパラメタはこの節で、調整できます。２ボタンマウス
  を使っているときは、Emulate3Buttons というキーワードをコメントにしない
  で下さい。 Emulate3Buttons モードで使うときは、同時に２つのボタンを押
  すことで、サーバーに真ん中のボタンを押したことを知らせることになりま
  す。

  サーバーがマウスデバイスを認識しない、と文句を言うときはそれはサーバー
  の問題ではないことに注意して下さい。それはよく起こる設定ミスであ
  り、99.999% の確率で OS にデバイスが正しく設定されていない事が理由で、
  いくつかの OS ではエラーとなるでしょう。それ故、OS レベルでのサポート
  が正しいことをよく調べるまでは、我々にバグ報告をしないで下さい。

  4.  ビデオボードの設定について

  "Device" の節ではビデオボードについて記述します。複数の機器の節を書く
  ことを許しており、それぞれの節ごとに１つのビデオカードを記述します。

  設定しようとしている汎用でない情報について、サーバーのオンラインマニュ
  アルとチップセット固有の README ファイルを読んで確認して下さい。

  Device の節を書くために、設定対象装置のデータを集める必要があり、設定
  方針を決めて下さい。必要な装置のデータは次のとおりです。:

  o  チップセットの種別

  o  表示用メモリの量

  o  使用可能なドットクロックの値（プログラム可能な場合）

  o  Ramdac の種別（幾つかのサーバー用）

     XF86Config ファイルの中で全て指定の値を埋め込んでおくよりは、通常、
     サーバーに自分自身で装置のデータを取り込ませたほうがいいでしょう。
     その方が間違いなく設定できます。'Chipset' は設定しているドライバ
     （'X -showconfig'を実行すれば表示できます）対応のキーワードの１つで
     す。アクセラレータサーバーでは、現在、いくつかのサーバーがチップ
     セットドライバを持っています。メモリの量はキロバイト単位で指定しま
     すので、１メガバイトのメモリの場合は 1024 と指定します。

  ドットクロックはグラフィックボードの設定において一番複雑な部分です。幸
  運にもドットクロックを集めた大きなデータベースが利用可能です。いくつか
  のグラフィクボード対応の Device のデータの一覧が `Devices' ファイルに
  あります。あなたのグラフィックボードが見つかれば、そのデータから始める
  ことが出来ます。 modeDB.txt ファイルの最初の部分は無数の SVGA カードの
  情報が一覧になっています。アクセラレータカードでは、`AccelCards' ファ
  イルを見て下さい。幸運ならば、自分のカードが何処かに見つかるでしょう。
  もしカードが見つかったら、 XF86Config ファイルの Clocks 行にデータベー
  スから数列を、データベースに表示されているそのままを並べ替えたりしない
  で残さずコピーしましょう。新しいアクセラレータカードはプログラマブルク
  ロックジェネレータを使っているので XF86Config ファイルの ClockChip 行
  に引用符（"）付きでクロックジェネレータの型式が書いてあることに注意し
  て下さい。（例えば、#9 GXe を使うならば、 `ClockChip "icd2061a"' の様
  に書いてあるでしょう）。

  グラフィックボードが一覧に見つからないときは、サーバーにグラフィックボ
  ードの検出を任せてしまいましょう。sh 又は ksh の場合は、 `X -probeonly
  >/tmp/out 2>&1'、csh の場合は、`X -probeonly >&/tmp/out' とコマンドを
  実行しましょう。この時、XF86Config ファイルに Clocks 行を書かないでお
  いて下さい。コマンドを実行したら、サーバーが素速くクロックを巡回して調
  べる間、数秒間画面が暗くなります。調べることでモニターを痛めることはあ
  りませんが、表示仕様以上で検査をする場合があるため、新しいモニターの場
  合は自動的にそれ自身でモニターの電源を落としてしまう場合があります。と
  にかく、調査が終わったら、ドットクロックの検出結果の/tmp/out ファイル
  を見ましょう。/tmp/out の数列をそのまま XF86Config ファイルの Clocks
  行にコピーしましょう。並び変えたり、いかなる変更もしてはいけません。

  グラフィックボードがプログラマブルクロックジェネレータを持っている可能
  性があります。この場合は、2、3個のクロックだけ値を持ち、残りが全てゼロ
  になっていることでしょう。もし、ボードがデータベースの中に見当たらな
  かったら、 XFree86 チームに連絡を取るか、 comp.windows.x.i386unix に
  メッセージをポストして下さい。殆どの場合 Diamond 社の装置がこの種の分
  類になりますが、 Diamond 社 はプログラムの詳細を公開してくれませんの
  で、我々は助けることが出来ません。ネットニュースでは、倫理的に問題のあ
  る解決策が利用可能ですが、我々はこの方法を提唱出来ませんので、この方法
  について我々に連絡しないで下さい。

  いくつかのサーバー (S3 と AGX) には RAMDAC の型式と速度が、その他の装
  置の情報を取り出すために必要になります。この指定は 'Ramdac' と
  'DacSpeec' という記載を追加して行ないます。サポートしている RAMDAC の
  詳細は、適切なサーバーのオンラインマニュアルを参照して下さい。以前の
  XFree86 のバージョンでは、RAMDAC の型式はオプションフラグで設定してい
  たことに注意して下さい。

  自分の装置に合わせて、いくつかのオプションフラグを指定する必要があるで
  しょう。サーバーのオンラインマニュアルにこれらのオプションについて記述
  があり、チップセット固有の README ファイルにお手元のボードの為になにが
  必要か書いてります。

  5.  モニターとそのモードの設定について

  モニターモードの設定は、モニター装置の標準化が十分でないので、残念なが
  ら、実験の繰り返しで決定します。特定のモニター情報をデータベースに収集
  することにより、この実験作業を簡単にする事と、殆どのモニターにかなり一
  致する機能を集め、汎用モードの組み合わせをまとめる事を試みています。血
  のにじむような努力で出来た全てのモニターモードの作成と改良についての詳
  細は、Eric Raymond 氏が書いた VideoModes.doc <VidModes.html> を参照し
  て下さい。

  XF86Config ファイルの "Monitor" 節にモニターの仕様とビデオのモードを記
  述します。Monitor の節を書くために、自分のモニターの仕様を知る必要があ
  ります。特に、モニターのサポートしている水平同期信号と垂直リフレッシュ
  信号の速度とビデオ信号の帯域について知る必要があります。この情報はモニ
  ターのユーザ ーマニュアルに書いてあるでしょう。また、 自分のモニターの
  記載があるかもしれないので 'Monitors' ファイルを見て、確認して下さ
  い。Moniter の節にこの情報をどうやって登録するかの詳細は XF86Config の
  オンラインマニュアルの 4 章 / 5 章を見て下さい。

  次に、モニターに合わせたビデオのモードの組を与える必要があります。まず
  最初に'Monitors' と modeDB.txt ファイルの中に自分の指定するモニターに
  対応するモードが一覧にあるか確認して下さい。あった場合は、XF86Config
  ファイルの ModeDB の節にそれらのモードをコピーして下さい。XF86Config
  ファイルの Clocks 行にあるクロックと、各モードの行の２番目のパラメータ
  のドットクロックが一致しているか確認して、自分のカードのクロックと一致
  しないモードの行は消して下さい。そしてモードが残った時は、良い状態にな
  ります。

  特定のモードが見つからないか、もっと使いたい解像度のモードが知りたいと
  きは、後述する汎用ビデオモードの一覧を参照して下さい。モニターの仕様に
  対して設定するモードの仕様を合わせましょう; 仕様内で一番高いリフレッ
  シュモードを取り出して、Clocks 行のドットクロックに合っていることを確
  認して下さい。解像度が一致する交代 (Alternate) モードに切り替える前に
  VESA モードを試してみて下さい。設定を合わせたモードを XF86Config ファ
  イルの Monitor の節にコピーして下さい。これらのモードは最適な値ではな
  い事に注意して下さい。これらは完璧な画面サイズではないでしょうし、真ん
  中に表示されてはいないでしょう。しかし、調整可能です。設定対象のモニタ
  ーに合わせてモードを微調整したい場合は、VideoModes.doc ファイルの '表
  示の問題修正' の節を読んで下さい。

  微調整を行なうにあたり、注意事項があります。XF86Config ファイルの M
  onitor の節に同じモードの名前が２つ以上定義されている場合に、サーバー
  はクロックの一致する最初のモードを使用します。一般的に、XF86Config
  ファイルに同じモードの名前を２つ以上定義することは悪い考えだと思いま
  す。

  6.  ビデオボードとモニターデータの組み合わせについて

  一旦、サーバが設定対象のモニターとグラフィックボードをどのように使うか
  記述して指定する必要があります。これを XF86Config ファイルの "Screen"
  の節で行ないます。使用したいサーバーのドライバーの型式のそれぞれを
  Screen 節で与えます。ドライバーの型式は "SVGA" の節では (XF86_SVGA)、
  "VGA16" の節では (XF86_VGA16)、"VGA2" の節では (XF86_Mono)、"MONO" の
  節では (XF86_Mono, XF86_VGA16) と "ACCEL" の節では (XF86_S3,
  XF86_Mach32, XF86_Mach8, XF86_Mach64, XF86_8514, XF86_P9000, XF86_AGX,
  XF86_W32) です。それぞれの Screen 節は使用するモニター(Monitor) の記述
  とデバイス(Device) の記述を指定します。

  Screen 節は１つまたは複数の "Display" の項を含んでいます。１つの
  Display 項はサーバーがサポートしているそれぞれの深さを与えるでしょう。
  [ 訳注：深さとは色数や階調数を表わすのに必要なビット数です。] Display
  項では、使いたいサーバーの仮想スクリーンの大きさを指定できます。仮想ス
  クリーンはモニターに表示できるスクリーンの大きさよりも、大きいルート
  ウィンドウ ("root window")を持つことが出来ます（例えば 800x600 のディ
  スプレイで1280x1024 の大きさの仮想スクリーンを使えます）。Virtual とい
  うキーワードを仮想スクリーンの大きさを指定するのに使います。多くの新し
  いアクセラレータサーバは表示に使われないメモリをキャッシュに使うことに
  注意して下さい。キャッシュはメモリの全てを仮想ディスプレイに使うような
  魅力はありませんが、キャッシュにメモリを残さないようにして、メモリの全
  てを仮想ディスプレイに使うとサーバーの性能の 30 から 40% ほどを消費し
  ます。

  最後に、Display 節の設定はディスプレイのモード設定です。サーバーの使用
  しようとしている物理的なディスプレイの解像度の指定があります。その名前
  は任意ですが、Monitor 節にあるどれかと一致していなければいけません。一
  般に、これらの名前はディスプレイの解像度（例えば "1024x768" ）になって
  いるでしょうが、その通りでなければいけない訳ではありません。必要な数だ
  け一覧形式で指定します。まず最初の定義が標準で起動される画面になり、解
  像度の一覧はコントロールキー (Ctrl) 、オルタネイトキー (Alt) 、テンキ
  ーの + を同時に押すか、コントロールキー (Ctrl) 、オルタネイトキー
  (Alt) 、テンキーの - を同時に押すことで巡回できる画面の定義になりま
  す。

  以上で設定は終わりです。さあ、新しい XFree86 の導入テストをする準備が
  出来ました。

  7.  汎用ビデオモードについて

  [ 訳注 : ここはデータの再利用のために翻訳はしません。 たとえ、コメント
  にでも漢字が混じって誤動作を起こすことは無いと、信じていますがちょっと
  怖い:-) ]

  ______________________________________________________________________
  #
  #  Mode       Refresh  Hor. Sync  Dot-clock  Interlaced?  VESA?
  #  ------------------------------------------------------------
  #  640x480     60Hz      31.5k     25.175M       No         No
  #  640x480     60Hz      31.5k     25.175M       No         No
  #  640x480     63Hz      32.8k     28.322M       No         No
  #  640x480     70Hz      36.5k     31.5M         No         No
  #  640x480     72Hz      37.9k     31.5M         No        Yes
  #  800x600     56Hz      35.1k     36.0M         No        Yes
  #  800x600     56Hz      35.4k     36.0M         No         No
  #  800x600     60Hz      37.9k     40.0M         No        Yes
  #  800x600     60Hz      37.9k     40.0M         No         No
  #  800x600     72Hz      48.0k     50.0M         No        Yes
  #  1024x768i   43.5Hz    35.5k     44.9M        Yes         No
  #  1024x768    60Hz      48.4k     65.0M         No        Yes
  #  1024x768    60Hz      48.4k     62.0M         No         No
  #  1024x768    70Hz      56.5k     75.0M         No        Yes
  #  1024x768    70Hz      56.25k    72.0M         No         No
  #  1024x768    76Hz      62.5k     85.0M         No         No
  #  1280x1024i  44Hz      51kHz     80.0M        Yes         No
  #  1280x1024i  44Hz      47.6k     75.0M        Yes         No
  #  1280x1024   59Hz      63.6k    110.0M         No         No
  #  1280x1024   61Hz      64.24k   110.0M         No         No
  #  1280x1024   74Hz      78.85k   135.0M         No         No

  #
  # 640x480@60Hz Non-Interlaced mode
  # Horizontal Sync = 31.5kHz
  # Timing: H=(0.95us, 3.81us, 1.59us), V=(0.35ms, 0.064ms, 1.02ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "640x480"     25.175  640  664  760  800    480  491  493  525

  #
  # Alternate 640x480@60Hz Non-Interlaced mode
  # Horizontal Sync = 31.5kHz
  # Timing: H=(1.27us, 3.81us, 1.27us) V=(0.32ms, 0.06ms, 1.05ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "640x480"     25.175  640  672  768  800    480  490  492  525

  #
  # 640x480@63Hz Non-Interlaced mode (non-standard)
  # Horizontal Sync = 32.8kHz
  # Timing: H=(1.41us, 1.41us, 5.08us) V=(0.24ms, 0.092ms, 0.92ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "640x480"     28.322  640  680  720  864    480  488  491  521

  #
  # 640x480@70Hz Non-Interlaced mode (non-standard)
  # Horizontal Sync = 36.5kHz
  # Timing: H=(1.27us, 1.27us, 4.57us) V=(0.22ms, 0.082ms, 0.82ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "640x480"     31.5    640  680  720  864    480  488  491  521

  #
  # VESA 640x480@72Hz Non-Interlaced mode
  # Horizontal Sync = 37.9kHz
  # Timing: H=(0.76us, 1.27us, 4.06us) V=(0.24ms, 0.079ms, 0.74ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "640x480"     31.5    640  664  704  832    480  489  492  520

  #
  # VESA 800x600@56Hz Non-Interlaced mode
  # Horizontal Sync = 35.1kHz
  # Timing: H=(0.67us, 2.00us, 3.56us) V=(0.03ms, 0.063ms, 0.70ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "800x600"     36      800  824  896 1024    600  601  603  625

  #
  # Alternate 800x600@56Hz Non-Interlaced mode
  # Horizontal Sync = 35.4kHz
  # Timing: H=(0.89us, 4.00us, 1.11us) V=(0.11ms, 0.057ms, 0.79ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "800x600"     36      800  832  976 1016    600  604  606  634

  #
  # VESA 800x600@60Hz Non-Interlaced mode
  # Horizontal Sync = 37.9kHz
  # Timing: H=(1.00us, 3.20us, 2.20us) V=(0.03ms, 0.106ms, 0.61ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "800x600"     40      800  840  968 1056    600  601  605  628 +hsync +vsync

  #
  # Alternate 800x600@60Hz Non-Interlaced mode
  # Horizontal Sync = 37.9kHz
  # Timing: H=(1.20us, 3.80us, 1.40us) V=(0.13ms, 0.053ms, 0.69ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "800x600"     40      800 848 1000 1056     600  605  607  633

  #
  # VESA 800x600@72Hz Non-Interlaced mode
  # Horizontal Sync = 48kHz
  # Timing: H=(1.12us, 2.40us, 1.28us) V=(0.77ms, 0.13ms, 0.48ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "800x600"     50      800  856  976 1040    600  637  643  666  +hsync +vsync

  #
  # 1024x768@43.5Hz, Interlaced mode (8514/A standard)
  # Horizontal Sync = 35.5kHz
  # Timing: H=(0.54us, 1.34us, 1.25us) V=(0.23ms, 0.23ms, 0.93ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1024x768i"   44.9   1024 1048 1208 1264    768  776  784  817  Interlace

  #
  # VESA 1024x768@60Hz Non-Interlaced mode
  # Horizontal Sync = 48.4kHz
  # Timing: H=(0.12us, 2.22us, 2.58us) V=(0.06ms, 0.12ms, 0.60ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1024x768"    65     1024 1032 1176 1344    768  771  777  806 -hsync -vsync

  #
  # 1024x768@60Hz Non-Interlaced mode (non-standard dot-clock)
  # Horizontal Sync = 48.4kHz
  # Timing: H=(0.65us, 2.84us, 0.65us) V=(0.12ms, 0.041ms, 0.66ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1024x768"    62     1024 1064 1240 1280   768  774  776  808

  #
  # VESA 1024x768@70Hz Non-Interlaced mode
  # Horizontal Sync=56.5kHz
  # Timing: H=(0.32us, 1.81us, 1.92us) V=(0.05ms, 0.14ms, 0.51ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1024x768"    75     1024 1048 1184 1328    768  771  777  806 -hsync -vsync

  #
  # 1024x768@70Hz Non-Interlaced mode (non-standard dot-clock)
  # Horizontal Sync=56.25kHz
  # Timing: H=(0.44us, 1.89us, 1.22us) V=(0.036ms, 0.11ms, 0.53ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1024x768"    72     1024 1056 1192 1280    768  770  776 806   -hsync -vsync

  #
  # 1024x768@76Hz Non-Interlaced mode
  # Horizontal Sync=62.5kHz
  # Timing: H=(0.09us, 1.41us, 2.45us) V=(0.09ms, 0.048ms, 0.62ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1024x768"    85     1024 1032 1152 1360    768  784  787  823

  #
  # 1280x1024@44Hz, Interlaced mode
  # Horizontal Sync=51kHz
  # Timing: H=(0.02us, 2.7us, 0.70us) V=(0.02ms, 0.24ms, 2.51ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1280x1024i"  80     1280 1296 1512 1568   1024 1025 1037 1165  Interlace

  #
  # Alternate 1280x1024@44Hz, Interlaced mode (non-standard dot-clock)
  # Horizontal Sync=47.6kHz
  # Timing: H=(0.42us, 2.88us, 0.64us) V=(0.08ms, 0.12ms, 0.96ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1280x1024i"  75     1280 1312 1528 1576   1024 1028 1034 1080  Interlace

  #
  # 1280x1024@59Hz Non-Interlaced mode (non-standard)
  # Horizontal Sync=63.6kHz
  # Timing: H=(0.36us, 1.45us, 2.25us) V=(0.08ms, 0.11ms, 0.65ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1280x1024"  110     1280 1320 1480 1728   1024 1029 1036 1077

  #
  # 1280x1024@61Hz, Non-Interlaced mode
  # Horizontal Sync=64.25kHz
  # Timing: H=(0.44us, 1.67us, 1.82us) V=(0.02ms, 0.05ms, 0.41ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1280x1024"  110     1280 1328 1512 1712   1024 1025 1028 1054

  #
  # 1280x1024@74Hz, Non-Interlaced mode
  # Horizontal Sync=78.85kHz
  # Timing: H=(0.24us, 1.07us, 1.90us) V=(0.04ms, 0.04ms, 0.43ms)
  #
  # name        clock   horizontal timing     vertical timing      flags
   "1280x1024"  135     1280 1312 1456 1712   1024 1027 1030 1064

  ______________________________________________________________________

  XFree86: xc/programs/Xserver/hw/xfree86/doc/sgml/Config.sgml,v 3.8
  1996/08/13 11:30:51 dawes Exp

  $XConsortium: Config.sgml /main/5 1995/11/12 19:59:22 kaleb $

  ______________________________________________________________________

  このファイルは xc/programs/Xserver/hw/xfree86/doc/sgml/Config.sgml,v
  3.8 199 6/08/13 11:30:51   を、岡本  一幸 ( Kazuyuki Okamoto
  <ikko-@pacific.rim.or.jp> <mailto:ikko-@pacific.rim.or.jp> ) が
  XFree86 3.2 を日本でインストールする人向けに和訳したものです。ここがお
  かしいとか、ここはこうしたほうがいいといったご意見がありましたら、電子
  メールでお知らせ下さい。原文の著作権は XFree86 プロジェクト社にありま
  す。この和訳の著作権は XFree86 プロジェクト社と岡本 一幸にありますが、
  この和訳の不具合は私に、電子メールで送って下さい。

  XFree86: xc/programs/Xserver/hw/xfree86/doc/sgml/Japanese/Config.sgml,v
  3.9 1996/11/09 16:05:33 dawes Exp

  ______________________________________________________________________

  [EOF]

