<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2009-09-24</string>
	<key>OpenSourceLicense</key>
	<string>GPL</string>
	<key>OpenSourceLicenseFile</key>
	<string>fetchmail.txt</string>
	<key>OpenSourceProject</key>
	<string>fetchmail</string>
	<key>OpenSourceSHA1</key>
	<string>e769bcb81b393a55e02ec4bf7e94a52cf0c8ef8f</string>
	<key>OpenSourceURL</key>
	<string>http://download2.berlios.de/fetchmail/fetchmail-6.3.11.tar.bz2</string>
	<key>OpenSourceVersion</key>
	<string>6.3.11</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://fetchmail.berlios.de</string>
	<key>OpenSourceChanges</key>
	<array>
	  <string>Avoid GETADDRINFO_ASYNCSAFE</string>
	</array>
</dict>
</plist>
