<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<string>Security</string>
	<key>Tests</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>BackupNegativeTest</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/Security/secbackupntest</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>keystorectl-get-lock-state</string>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/keystorectl</string>
				<string>get-lock-state</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>BackupTest</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/Security/secbackuptest</string>
			</array>
			<key>EligibleResource</key>
			<string>cpuArchitecture BEGINSWITH &apos;arm&apos;</string>
		</dict>
		<dict>
			<key>TestName</key>
			<string>EduModeTest</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/Security/secedumodetest</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>secitemstresstest</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/Security/secitemstresstest</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>secitemnotifications</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/Security/secitemnotifications</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>secitemfunctionality</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/Security/secitemfunctionality</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>secd_02_upgrade_while_locked</string>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/secdtests</string>
				<string>-1</string>
				<string>secd_02_upgrade_while_locked </string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>secd_35_keychain_migrate_inet</string>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/secdtests</string>
				<string>-1</string>
				<string>secd_35_keychain_migrate_inet</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
