<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>bc</string>
        <key>OpenSourceVersion</key>
        <string>6.5.0</string>
        <key>OpenSourceWebsiteURL</key>
        <string>https://git.gavinhoward.com/gavin/bc</string>
        <key>OpenSourceURL</key>
        <string>https://git.gavinhoward.com/attachments/4e88b652-3fab-4e8e-813a-5c274fdaf368</string>
        <key>OpenSourceSHA512</key>
        <string>4f67df8248a9e4bdb74c29bbf2cea8215c33d6e05f25baa17cf193aef0f42a605908d8ba5ba02847b22d5d331ac1499f6193a812dc60b4999aedf8ef741076fa</string>
        <key>OpenSourceImportDate</key>
        <string>2023-03-22</string>
	<key>OpenSourceModifications</key>
	<array>
	</array>
        <key>OpenSourceLicense</key>
        <string>BSD</string>
        <key>OpenSourceLicenseFile</key>
        <string>bc.txt</string>
</dict>
</array>
</plist>
