SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator appletvos appletvsimulator watchos watchsimulator

SDKROOT = macosx.internal
INFOPLIST_EXPAND_BUILD_SETTINGS = YES
INFOPLIST_FILE = tests/xctests/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.apple.libmalloc-xctests

OTHER_CFLAGS = -fno-builtin
OTHER_LDFLAGS = -framework Foundation -lCrashReporterClient

CLANG_ENABLE_OBJC_ARC = YES

INSTALL_PATH = /AppleInternal/Tests/libmalloc/
DEPLOYMENT_LOCATION = NO

HEADER_SEARCH_PATHS = $(DERIVED_FILES_DIR)/dtrace $(SRCROOT)/include $(SRCROOT)/private $(SRCROOT)/resolver $(inherited)
SYSTEM_HEADER_SEARCH_PATHS = $(SDKROOT)/usr/local/include $(SDKROOT)/System/Library/Frameworks/System.framework/PrivateHeaders

XCODE_SIGN_IDENTITY = -
CODE_SIGN_IDENTITY = -
