<!-- $Revision: 1.1.1.1 $ -->
<html>
<head>
<title><MM-Presentable-User> <MM-List-Name>論壇設定</title>

</head>
<BODY BGCOLOR="#ffffff">
	<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
	<TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
	<FONT COLOR="#000000" SIZE=+1>
<MM-List-Name><MM-Presentable-User> 的設定
	</FONT></B></TD></TR> </TABLE>
<MM-Form-Start>

<p>

<b><MM-Presentable-User></b>
 在 <MM-List-Name> 論壇的訂閱狀態，密碼及選項。
<MM-Case-Preserved-User>

<MM-Disabled-Notice>

<p>

<a name=unsub>
	<TABLE WIDTH="100%" BORDER="0" CELLSPACING=5" CELLPADDING="5">
	<TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
<B>取消訂閱<MM-List-Name></B>
	<TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
<B>您其它在 <MM-Host> 的訂閱</B>
	</FONT></TD></TR>

	<tr>
	  <td>

欲取消訂閱請輸入您的密碼後按此按鈕（若您忘記密碼，請見下文如何取得您的密碼）

<p>
密碼: <MM-Unsub-Pw-Box> &nbsp;
<MM-Unsubscribe-Button>
</a>
	  <td>

輸入您的密碼可連結到您在本論壇其它的訂閱的設定畫面。

<p>
密碼: <MM-Other-Subscriptions-Pw-Box>  <MM-Other-Subscriptions-Submit><p>

	</TD></TR> </table>

	<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
	<TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
<B>您在 <MM-List-Name> 的密碼</B>
	</FONT></TD>
</TR>
<tr valign="TOP">
<td WIDTH="50%">
<a name=reminder>
<center>
<h3>忘記密碼怎麼辦?</h3>
</center>
按下此鈕可將您的密碼郵寄給您。<p>
<MM-Umbrella-Notice>
<center>
<MM-Email-My-Pw>
</center>
</td>
<td WIDTH="50%">
<a name=changepw>
<center>
<h3>變更密碼</h3>
      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
      <TR>
	<TD WIDTH="30%" BGCOLOR="#dddddd">舊密碼:</TD>
	<TD WIDTH="70%"><MM-Old-Pw-Box></TD>
      </TR>
      <TR>
	<TD BGCOLOR="#dddddd">新密碼:</TD>
	<TD><MM-New-Pass-Box></TD>
      </TR>
      <TR> 
	<TD BGCOLOR="#dddddd">再輸入一次新密碼:</TD>
	<TD><MM-Confirm-Pass-Box></TD>
      </TR>
</table>
           <MM-Change-Pass-Button>
    </TABLE>

<p>

<a name=options>
	<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
	<TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
<B>Your <MM-List-Name> 訂閱選項</B>
	</FONT></TD></TR> </table>

<p>
<i><strong>現在的設定值有作記號。</strong></i><p>
<p>
<TABLE BORDER="0" CELLSPACING="2" CELLPADDING="3" WIDTH="80%">
<tr><TD BGCOLOR="#dcdcdc">
<a name="disable">
<strong> 暫停收信 </strong> <br>
如果您短期內不想收到論壇寄出的信，請選 On。<br>
<mm-delivery-enable-button> Off
<mm-delivery-disable-button> On <p>
</a>
</td></tr>
<tr><TD BGCOLOR="#dcdcdc">
<strong> 設定摘要模式</strong> <br>
若您選擇摘要模式，您會收到每天集成一封的摘要，而不是每次發言一封。
一旦您將選項由 On 轉為 Off 您會收到最近一封的摘要。<br>
<MM-Undigest-Radio-Button> Off
<MM-Digest-Radio-Button> On<br>
</td></tr>
<tr><TD BGCOLOR="#dcdcdc">
<strong> 收 MIME 或 純文字的摘要?</strong> <br>
如果您收 MIME 的摘要會有問題，請選擇純文字的摘要。<br>
<MM-Mime-Digests-Button> MIME
<MM-Plain-Digests-Button> 純文字 <p>
</td></tr>
<tr><TD BGCOLOR="#dcdcdc">
<strong> 您想收到自己寄到論壇的信嗎? </strong><br>
<mm-receive-own-mail-button> Yes
<mm-dont-receive-own-mail-button> No <p>
</td></tr>
<tr><TD BGCOLOR="#dcdcdc">
<strong> 您想在寄信到論壇後，收到確認信嗎? </strong><br>
<mm-dont-ack-posts-button> No
<mm-ack-posts-button> Yes <p>
</td></tr>
<tr><TD BGCOLOR="#dcdcdc">
<strong> 您不想出現在訂閱者名單中嗎?  就是潛艇部隊啦!</strong><br>
<MM-Public-Subscription-Button> No
<MM-Hide-Subscription-Button> Yes <p>
</td></tr>
<tr><TD BGCOLOR="#dcdcdc">
<strong> 您適用的語言?</strong><MM-list-langs>
</td></tr>
<tr><TD BGCOLOR="#dcdcdc">
密碼: <MM-Digest-Pw-Box>  <MM-Digest-Submit><p>
</td></tr></table>
</center>

<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
