Административни захтјеви се приказују на један од два начина, на
<a href="%(summaryurl)s">страници прегледа</a>, и на <em>страници са детаљима</em>.
Страница прегледа садржи захтхјеве за укључење и искључење на чекању, те поруке које су задржане ради вашег одобрења. Страница са детаљима садржи детаљнији преглед сваке поруке.

<p>На свим страницама, следеће опције су доступне:

<ul>
  <li> <strong>Одлагање</strong> -- Одлажете вашу одлуку за касније. Никаква акција 
    сада није покренута за овај административни захтјев, али за задржане поруке 
    и даље можете прослиједити или спремити поруку (погледајте доле) 
</ul>
<ul>
  <li><b>Прихватање</b> 
    -- Прихватате 
    поруку, шаљући 
    је на листу. За 
    захтјеве за 
    чланство, прихвата 
    се тражени статус.<br>
  <li><b>Одбијање</b> -- Одбија 
    се порука, шаље 
    се обавјештење 
    пошиљаоцу, и 
    игнорише се 
    почетна порука. 
    За захтјеве 
    за чланство, 
    захтјев се одбија. 
    У сваком случају, 
    потребно је да 
    унесете разлог 
    ваше одлуке. <br>
  <li><b>Занемаривање</b> -- Одбаци се почетна порука, без слања било каквог обавјештења. 
    За затхеве за чланство, захтјев се одбија без додатног обавјештења. Ова опција 
    је уобичајена нпр. за случај да је у питању спам.
</ul>

<p>За задржане поруке, укључите опцију <strong>Задржавање</strong> ако желите 
  да сачувате дупликат поруке за администратора сајта. Ово је корисно за увредљиве 
  поруке које желите да занемарите, али желите да их имате за каснију анализу.
<p>Укључите опцију <strong>Преусмјеравање</strong> и унесите адресу за преусмјеравање 
  некоме ко није на листи. Да бисте промјенили поруку прије слања, потребно је 
  да је прво прослиједите себи, те да занемарите почетну поруку. Онда, када се 
  порука појави у вашем сандучету, начините потребне корекције и пошаљите је на 
  листу, укључујући заглавље <em>Approved</em>: са лозинком као његовим додатком. 
  То је потребна ознака која објашњава да се промјенили текст.
<p>Ако је пошиљалац члан листе истовремено и регулатор, можете опционално избрисати 
  његову регулаторску ознаку. Ово је корисно када је ваша листа подешена да ставља 
  нове чланове на пробу, на основу чега ви одлучујете коме се може вјеровати да 
  шаље без одобрења.
<p>Ако пошиљалац није члан листе, можете додати његову е-адресу на <em>филтер 
  пошиљалаца</em>. Дати филтер је описан у секцији <a
href="%(filterurl)s">филтер-приватност пошиљаоца</a>, и може аутоматски прихватати, 
  задржавати, одбацивати или занемаривати поруке. Ова опција није доступна ако 
  је адреса већ на неком од филтера пошиљалаца.
<p>Када завршите, пошаљите све промјене користећи тастер при врху странице. 
<p><a href="%(summaryurl)s">Повратак на страницу прегледа</a>
