<html>
<head>
  <title>%(listname)s %(who)s Authentication</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER"> <B><FONT COLOR="#000000" SIZE="+1">%(listname)s 
        %(who)s: провјера</FONT></B></TD>
    </TR>
    <tr>
      <TD><div ALIGN="Right">Лозинка за листу%(who)s:</div></TD>
      <TD><INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle><INPUT type="SUBMIT"
                                        name="admlogin"
					value="Улаз">
      </td>
    </tr>
  </TABLE>
      
  <p><strong><em>Важно:</em></strong> Одавде па надаље, морате имати укључене 
    &quot;колачиће&quot; (cookies) у вашем претраживачу интернета, иначе промјене 
    неће имати ефекта.
  <p>&quot;Колачићи&quot; се користе у Mailman-овом административном интерфејсу 
    да не бисте морали да се после сваке акције поново пријављујете. &quot;Колачић&quot; 
    неће више важити послије вашег одјављивања са административног интерфејса.
</FORM>
</body>
</html>
