<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>Архива: %(listname)s %(archive)s, по %(archtype)s</title>
     <META NAME="robots" CONTENT="noindex,follow"><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
      <a name="start"></A>
      
<h1>%(archive)s : архива: (archtype)s</h1>
      <ul>
         
  <li> <b>Сортирање порука:</b> %(thread_ref)s %(subject_ref)s %(author_ref)s 
    %(date_ref)s 
  <li><b><a href="%(listinfo)s">Више информација о листи</a></b></li>
      </ul>
      <p><b>Почетак:</b> <i>%(firstdate)s</i><br>
         <b>Крај:</b> <i>%(lastdate)s</i><br>
         <b>Порука:</b> %(size)s<p>
     <ul>
