<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>Архива: %(listname)s</title>
     <META NAME="robots" CONTENT="noindex,follow"><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     %(meta)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     
<h1>Архива порука листе: %(listname)s </h1>
     
<p> Можете добити више информација о овој листи <a href="%(listinfo)s">овдје</a> 
  или можете преузети <a href="%(fullarch)s">комплетну архиву</a> (%(size)s). 
</p>
     %(noarchive_msg)s
     %(archive_listing_start)s
     %(archive_listing)s
     %(archive_listing_end)s
     </BODY>
     </HTML>
