Овај текст може да садржи <a href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">Python-ово 
форматирање</a> које се утврђује на основу атрибута листа. Дозвољене замјене листе 
су: 
<ul>
  <li><b><code>real_name</code></b> - Пуно име листе, обично садржи и велика слова
  <li><b><code>list_name</code></b> - Име по којем се листа препознаје на веб 
    адресама, величина слова је неважна. (због компатибилности, <code>_internal_name</code> 
    је еквивалентно.) 
  <li><b><code>host_name</code></b> - Пуно име домена на ком се налази листа.
  <li><b><code>web_page_url</code></b> - Адреса за Mailman-а. Може се повезати 
    нпр. са <em><code>listinfo/%(internal_name)s</code></em>.
  <li><b><code>description</code></b> - Кратки опис листе слања.
  <li><b><code>info</code></b> - Пуни опис листе слања.
  <li><b><code>cgiext</code></b> - Екстензија имена CGI скрипти.
</ul>
