<!-- $Revision: 6555 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> Страница са информацијама</TITLE>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    
    <TD COLSPAN="1" WIDTH="16%" BGCOLOR="#FFF0D0"> <B><FONT COLOR="#000000">О 
      листи <MM-List-Name></FONT></B> </TD>
            <TD COLSPAN="1" WIDTH="84%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> Да бисте видјели досадашње поруке на листи посјетите <MM-Archive> 
        архиву</MM-Archive>. <MM-Restricted-List-Message> </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" BGCOLOR="#FFF0D0"> <B><FONT COLOR="#000000">Употреба</FONT><FONT COLOR="#000000"><MM-List-Name></FONT></B> 
    </TD>
      </TR>
      <tr>
	<td colspan="2"> Да би порука отишла на листу, пошаљите је на <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>. 
      <p>Можете се укључити на листу или промјенити ваш статус члана преко следећих 
        секција.
    </td>
      </tr>
      <TR>
	<TD COLSPAN="2" BGCOLOR="#FFF0D0"> <B><FONT COLOR="#000000">Упис</FONT><FONT COLOR="#000000"><MM-List-Name></FONT></B> 
    </TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P> Укључујете се попуњавајући следећи формулар:<MM-List-Subscription-Msg> 
      <ul>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
          <TR> 
            <TD BGCOLOR="#dddddd" WIDTH="55%">Ваша ел. адреса:</TD>
            <TD WIDTH="33%"><MM-Subscribe-Box> </TD>
            <TD WIDTH="12%">&nbsp;</TD>
          </TR>
          <tr> 
            <td bgcolor="#dddddd" width="55%">Ваше име:</td>
            <td width="33%"><mm-fullname-box></td>
            <TD WIDTH="12%">&nbsp;</TD>
          </TR>
          <TR> 
            <TD COLSPAN="3"><font size="-1">Овдје можете унијети вашу лозинку. 
              То обезбјеђује само дјелимичну сигурност, али онемогућава остале 
              да поремете ваш члански статус. Не користите једноставне лозинке, 
              пошто ћете једном мјесечно добијати лозинку за подсјећање. </font>
              <p><font size="-1">Ако не унесете лозинку, наш систем ће аутоматски 
                изабрати једну са вас.</font><MM-Reminder> </TD>
          </TR>
          <TR> 
            <TD BGCOLOR="#dddddd">Лозинка:</TD>
            <TD><MM-New-Password-Box></TD>
            <TD>&nbsp;</TD>
          </TR>
          <TR> 
            <TD BGCOLOR="#dddddd">Поново:</TD>
            <TD><MM-Confirm-Password></TD>
            <TD>&nbsp; </TD>
          </TR>
          <tr> 
            <TD BGCOLOR="#dddddd">Језик:</TD>
            <TD> <MM-list-langs></TD>
            <TD>&nbsp; </TD>
          </TR>
          <mm-digest-question-start> 
          <tr> 
            <td>Да ли желите да све поруке добијате у прегледу порука, једном 
              дневно? </td>
            <td><MM-Undigest-Radio-Button> Не<MM-Digest-Radio-Button> Да</TD>
          </tr>
          <mm-digest-question-end> 
          <tr> 
            <td colspan="3"> <center>
                <MM-Subscribe-Button></P></center> 
        </TABLE>
        <MM-Form-End> </ul>
    </td>
    </tr>
    <TR>
      
    <TD COLSPAN="2" BGCOLOR="#FFF0D0"> <a name="subscribers"> <B><FONT COLOR="#000000"><MM-List-Name> 
      Чланови </FONT></B></a> </TD>
    </TR>
    <tr>
      <TD COLSPAN="2">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
