<!-- $Revision: 6555 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User> Контрола чланства за <MM-List-Name>
    </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-List-Name>: контрола чланства за: 
        <MM-Presentable-User>
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b><MM-Presentable-User></b> члански статус, лозинка и опције за листу
      <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Промјена ваших информација на листи <MM-List-Name></B>
        </FONT></TD></TR>
    <tr>
    <td colspan="2">Можете промјенити адресу преко које сте пријављени на листу, 
      уносећи нову у поље испод. У том случају порука са потврдом уписа ће бити 
      послана на ту адресу, и промјена мора бити потврђена. 
      <p>Могућност потврде важи још <mm-pending-days> дана.

        <p>Опционално можете промјенити ваше име
        (нпр. <em>Петар Петровић</em>).

        <p>Ако желите да направите промјене статуса чланства за све листе на које сте укључени на <mm-host>, укључите квадратић
        <em>Глобална промјена</em> .

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Нова адреса:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Поново, за потврду:</div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Ваше име
            :</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Глобална промјена</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Искључивање са листе <MM-List-Name></B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Ваша друга чланства на <MM-Host> </B>
        </FONT></TD></TR>

    <tr><td>
Укључите квадратић за  потврду и притисните овај тастер да бисте се искључили са ове листе слања. <strong>Упозорење:</strong>
        Одлука ступа на снагу моментално!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td> <p>Можете видјети списак осталих листа на које сте пријављени..</p>
      <p>Користите ако желите да се ваше промјене глобално одразе.</p>
      <p>&nbsp;</p>
      <p>
        <center>
          <MM-Other-Subscriptions-Submit>
</center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Ваша лозинка за <MM-List-Name></B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Заборављена лозинка?</h3>
        </center>
        Кликните на овај тастер да би лозинка била послана на вашу е-адресу.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Промјена лозинке</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Нова лозинка:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Поново за потврду:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button> глобална промјена.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR>
    <TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000"> <B>Ваша подешавања</B></FONT></TD>
  </TR>
</table>

<p> <i><strong>Тренутне вриједности су укључене (означене).</strong></i> 
<p>Неке опције имају могућност да буду укључене глобално. Означавајући одговарајуће 
  поље, промјене које направите одразиће се на све листе чији сте члан. Note that 
  some of the options have a <em>Set globally</em> checkbox. Checking this field 
  will cause the changes to be made to every mailing list that you are a member 
  of on <mm-host>. 
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr>
    <TD BGCOLOR="#cccccc"> <a name="disable"> <strong>Слање порука</strong></a> 
      <p>Укључите ову опциеј да бисте добијале поруке са ове листе. Ако искључите 
        остајете члан, али не желите да добијате пошту (нпр. док сте на одмору). 
        Када вам затреба, не заборавите да ову опцију поново укључите.
      </td>
    <td bgcolor="#cccccc"> <mm-delivery-enable-button>Укључено<br>
      <mm-delivery-disable-button>Искључено 
      <p> <mm-global-deliver-button><i>Глобално</i></td></tr>

    <tr>
    <TD BGCOLOR="#cccccc"> <strong>Преглед порука</strong> 
      <p>Ако ову опцију укључите, добићете све поруке спојене у једно писмо (обично 
        једну дневно, могуће и више), умјесто сваке појединачно.
      </td>
    <td bgcolor="#cccccc"> <MM-Undigest-Radio-Button>Искључено<br>
      <MM-Digest-Radio-Button>Укључено</td>
  </tr>
        
    <tr>
    <TD BGCOLOR="#cccccc"> <strong>Добијате MIME или текстуални преглед опрука?</strong> 
      <p>Ваш читач поште можда не подржава Mime прегледе. Ова опција је углавном 
        препоручена, осим у случају да имате проблем при читању порука.
      </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
      <MM-Plain-Digests-Button>Обичан тест 
      <p> <mm-global-mime-button><i>Глобално</i></td></tr>
        
    <tr>
    <TD BGCOLOR="#cccccc"> <strong>Сопствене поруке</strong> 
      <p>Обично ћете добити копију сваке поруке коју сте послали на листу. Ако 
        не желите да добијате ту копију, искључите ову опцију.
      </td>
    <td bgcolor="#cccccc"> <mm-dont-receive-own-mail-button>Не<br>
      <mm-receive-own-mail-button>Да</td>
  </tr>

    <tr>
    <TD BGCOLOR="#cccccc"> <strong>Примање потврдне за слање поруке на листу</strong> 
      <p>
        </td>
    <td bgcolor="#cccccc"> <mm-dont-ack-posts-button>Не<br>
      <mm-ack-posts-button>Да</td>
  </tr>

    <tr>
    <td bgcolor="#cccccc"> <strong>Подсјетник лозинке?</strong> 
      <p>Једном мјесечно ћете добити поруку која садржи лозинку за све листе на 
        које сте учлањени. 
      </td>
    <td bgcolor="#cccccc"> <mm-dont-get-password-reminder-button>Не<br>
      <mm-get-password-reminder-button>Да 
      <p> <mm-global-remind-button><i>Глобално</i></td></tr>

    <tr>
    <TD BGCOLOR="#cccccc"> <strong>Сакривање са листе чланова?</strong> 
      <p>Када 
        неко прегледа листу чланова, обично ће и ваша адреса бити приказана (заштићена 
        од спамера).<br>
        Ако не желите да се ваша адреса приказује на тој листи, потврдите то овдје.
      </td>
    <td bgcolor="#cccccc"> <MM-Public-Subscription-Button>Не<br>
      <MM-Hide-Subscription-Button>Да</td>
  </tr>

    <tr>
    <TD BGCOLOR="#cccccc"> <strong>Језик</strong> 
      <p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr>
    <td bgcolor="#cccccc"> <strong>Које тематске категорије желите?</strong> 
      <p>Избором једне иил више тема, можете филтрирати саобраћај на листи, тако 
        да примате само одговарајуће поруке.
      <p>Ако порука не одговара ни једној од тема, пренос исте зависи од правила 
        подешеног у овој опцији. Ако не изаберете теме од интересовања, добијаћете 
        све поруке са листе.
      </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr>
    <td bgcolor="#cccccc"> <strong>Желите ли да примате поруку која се не поклапа 
      ни са једним филтером теме?</strong> 
      <p>Ова опција функционише једино ако сте уписани најмање на једну тему. 
        Опција се односи на уобичајено понашање за поруке које не одговарају ни 
        једном филтеру. 
      <p>Ако ни једна тема од интереса није изабрана, добијаћете све поруке.
      </td>
    <td bgcolor="#cccccc"> <mm-suppress-nonmatching-topics>Не<br>
      <mm-receive-nonmatching-topics>Да</td>
  </tr>

    <tr>
    <td bgcolor="#cccccc"> <strong>Избјегавање дупликата порука</strong> 
      <p>Када сте директно укључени у To: или Cc: поља поруке са листе, можете 
        изабрати да не примате другу копију са листе слања. Да је за потврду примања 
        копија, не је за добијање копија.
      </td>
    <td bgcolor="#cccccc"> <mm-receive-duplicates-button>Да<br>
      <mm-dont-receive-duplicates-button>Не 
      <p> <mm-global-nodupes-button><i>Глобално</i> </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
