<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>libidn</string>
        <key>OpenSourceVersion</key>
        <string>0.6.14</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.gnu.org/software/libidn/</string>
        <key>OpenSourceURL</key>
        <string>http://josefsson.org/libidn/releases/libidn-0.6.14.tar.gz</string>
        <key>OpenSourceSHA1</key>
        <string>2aec09195949c4d90e03207cb10abec07a85d751</string>
        <key>OpenSourceImportDate</key>
        <string>2008-05-15</string>
        <key>OpenSourceModifications</key>
        <array/>
        <key>OpenSourceLicense</key>
        <string>GPL</string>
        <key>OpenSourceLicenseFile</key>
        <string>libidn.txt</string>
</dict>
</array>
</plist>
