<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>pkg-config</string>
        <key>OpenSourceVersion</key>
        <string>0.23</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://pkg-config.freedesktop.org/wiki/</string>
        <key>OpenSourceURL</key>
        <string>http://pkgconfig.freedesktop.org/releases/pkg-config-0.23.tar.gz</string>
        <key>OpenSourceSHA1</key>
        <string>b59dddd6b5320bd74c0f74b3339618a327096b2a</string>
        <key>OpenSourceImportDate</key>
        <string>2008-05-15</string>
        <key>OpenSourceModifications</key>
        <array/>
        <key>OpenSourceLicense</key>
        <string>GPL</string>
        <key>OpenSourceLicenseFile</key>
        <string>pkg-config.txt</string>
</dict>
</array>
</plist>
