<plist version="1.0">
<array>
    <dict>
        <key>OpenSourceProject</key>
        <string>acts_as_ferret</string>
        <key>OpenSourceVersion</key>
        <string>0.4.3</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://projects.jkraemer.net/acts_as_ferret</string>
        <key>OpenSourceSHA1</key>
        <string>88a14d999bc65d5269c52308c7b6b853626f7717</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>acts_as_ferret.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>capistrano</string>
        <key>OpenSourceVersion</key>
        <string>2.5.2</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.capify.org</string>
        <key>OpenSourceSHA1</key>
        <string>62eb55129ff3ad15ec73415ec108ad00fe8281ef</string>
        <key>OpenSourceImportDate</key>
        <string>2008-12-01</string>
        <key>OpenSourceLicenseFile</key>
        <string>capistrano.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>cgi_multipart_eof_fix</string>
        <key>OpenSourceVersion</key>
        <string>2.5.0</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://blog.evanweaver.com/pages/code#cgi_multipart_eof_fix</string>
        <key>OpenSourceSHA1</key>
        <string>9d6a0a1308b4dd9b94d91b0c192186eb2593722e</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>cgi_multipart_eof_fix.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>daemons</string>
        <key>OpenSourceVersion</key>
        <string>1.0.10</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://daemons.rubyforge.org</string>
        <key>OpenSourceSHA1</key>
        <string>61ad4530249aab8c87c833757127cb593815b88c</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>daemons.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>fastthread</string>
        <key>OpenSourceVersion</key>
        <string>1.0.1</string>
        <key>OpenSourceWebsiteURL</key>
        <string>""</string>
        <key>OpenSourceSHA1</key>
        <string>2358ba8cb78491952f589f5f911930e18f4688c2</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>fastthread.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>ferret</string>
        <key>OpenSourceVersion</key>
        <string>0.11.6</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://ferret.davebalmain.com/trac</string>
        <key>OpenSourceSHA1</key>
        <string>83e0fada54e20445fe4ed7cd1dcdf9ffe74bb953</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>ferret.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>gem_plugin</string>
        <key>OpenSourceVersion</key>
        <string>0.2.3</string>
        <key>OpenSourceWebsiteURL</key>
        <string>""</string>
        <key>OpenSourceSHA1</key>
        <string>14cb572dbee665b19ecac26dfcd1150d1f35de1e</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>gem_plugin.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>highline</string>
        <key>OpenSourceVersion</key>
        <string>1.5.0</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://highline.rubyforge.org</string>
        <key>OpenSourceSHA1</key>
        <string>e779b4951ab710e57020f0d444fc719278b380b5</string>
        <key>OpenSourceImportDate</key>
        <string>2008-12-01</string>
        <key>OpenSourceLicenseFile</key>
        <string>highline.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>hpricot</string>
        <key>OpenSourceVersion</key>
        <string>0.6.164</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://code.whytheluckystiff.net/hpricot/</string>
        <key>OpenSourceSHA1</key>
        <string>6a471da7becc98184d45f5afa0fce07f11363dce</string>
        <key>OpenSourceImportDate</key>
        <string>2008-12-01</string>
        <key>OpenSourceLicenseFile</key>
        <string>hpricot.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>mongrel</string>
        <key>OpenSourceVersion</key>
        <string>1.1.5</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://mongrel.rubyforge.org</string>
        <key>OpenSourceSHA1</key>
        <string>ce2393a56d49c5fcf726c744917b9a37b6daa743</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>mongrel.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>needle</string>
        <key>OpenSourceVersion</key>
        <string>1.3.0</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://needle.rubyforge.org</string>
        <key>OpenSourceSHA1</key>
        <string>a17b60ca61dfa7df6a802d935b6ce0b05a0802ec</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>needle.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>net-scp</string>
        <key>OpenSourceVersion</key>
        <string>1.0.1</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://net-ssh.rubyforge.org/scp</string>
        <key>OpenSourceSHA1</key>
        <string>84c9a895ad203d496262eb24b8f981482d18cfe1</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>net-scp.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>net-sftp</string>
        <key>OpenSourceVersion</key>
        <string>1.1.1</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://net-ssh.rubyforge.org/sftp</string>
        <key>OpenSourceSHA1</key>
        <string>4f04298dcea1b01cf86d47574cc65c2159a76716</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>net-sftp.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>net-sftp</string>
        <key>OpenSourceVersion</key>
        <string>2.0.1</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://net-ssh.rubyforge.org/sftp</string>
        <key>OpenSourceSHA1</key>
        <string>a98bc3086ddb6f67fcc9b5da36bfee9df3284122</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>net-sftp.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>net-ssh</string>
        <key>OpenSourceVersion</key>
        <string>1.1.4</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://net-ssh.rubyforge.org/ssh</string>
        <key>OpenSourceSHA1</key>
        <string>9186243263c5dbebd6d88f07656ac52f87c1eccf</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>net-ssh.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>net-ssh</string>
        <key>OpenSourceVersion</key>
        <string>2.0.4</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://net-ssh.rubyforge.org/ssh</string>
        <key>OpenSourceSHA1</key>
        <string>a06992be6b0a05df6b13f2277dc1188b1238c911</string>
        <key>OpenSourceImportDate</key>
        <string>2008-12-01</string>
        <key>OpenSourceLicenseFile</key>
        <string>net-ssh.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>net-ssh-gateway</string>
        <key>OpenSourceVersion</key>
        <string>1.0.0</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://net-ssh.rubyforge.org/gateway</string>
        <key>OpenSourceSHA1</key>
        <string>b3623a3f2557b5dabd30d11563ddce34a6a88688</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>net-ssh-gateway.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>rake</string>
        <key>OpenSourceVersion</key>
        <string>0.8.3</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://rake.rubyforge.org</string>
        <key>OpenSourceSHA1</key>
        <string>fc3060c6c3ea3b804ef95576e41706b92fd51243</string>
        <key>OpenSourceImportDate</key>
        <string>2008-12-01</string>
        <key>OpenSourceLicenseFile</key>
        <string>rake.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>RedCloth</string>
        <key>OpenSourceVersion</key>
        <string>4.1.1</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://redcloth.org</string>
        <key>OpenSourceSHA1</key>
        <string>ba3ec6473005f0905bf98d2a41230e1cdae971ec</string>
        <key>OpenSourceImportDate</key>
        <string>2008-12-01</string>
        <key>OpenSourceLicenseFile</key>
        <string>RedCloth.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>ruby-openid</string>
        <key>OpenSourceVersion</key>
        <string>2.1.2</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://openidenabled.com/ruby-openid/</string>
        <key>OpenSourceSHA1</key>
        <string>241bd1dfa02119c029a871dd3d9c7c8ab24d32ca</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>ruby-openid.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>ruby-yadis</string>
        <key>OpenSourceVersion</key>
        <string>0.3.4</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.openidenabled.com/yadis/libraries/ruby</string>
        <key>OpenSourceSHA1</key>
        <string>7a4550e1faa13dba92aca866b057663dba4c4563</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>ruby-yadis.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>sqlite3-ruby</string>
        <key>OpenSourceVersion</key>
        <string>1.2.4</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://sqlite-ruby.rubyforge.org/sqlite3</string>
        <key>OpenSourceSHA1</key>
        <string>63d6b35bb8364c2971cf6f5397056faf3efb7ae7</string>
        <key>OpenSourceImportDate</key>
        <string>2008-12-01</string>
        <key>OpenSourceLicenseFile</key>
        <string>sqlite3-ruby.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>termios</string>
        <key>OpenSourceVersion</key>
        <string>0.9.4</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://arika.org/ruby/termios</string>
        <key>OpenSourceSHA1</key>
        <string>bb0fe331cc0a7c5e97284bd30f0d9af7b2b74e0d</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>termios.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>xmpp4r</string>
        <key>OpenSourceVersion</key>
        <string>0.4</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://home.gna.org/xmpp4r/</string>
        <key>OpenSourceSHA1</key>
        <string>1d29fcb3ab3edf4f16becef8309b3ffe995134be</string>
        <key>OpenSourceImportDate</key>
        <string>2008-09-29</string>
        <key>OpenSourceLicenseFile</key>
        <string>xmpp4r.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>actionmailer</string>
        <key>OpenSourceVersion</key>
        <string>1.3.6</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.rubyonrails.org</string>
        <key>OpenSourceSHA1</key>
        <string>f09102e288f4d8314e5a0dd57a8c151aedadf55d</string>
        <key>OpenSourceImportDate</key>
        <string>2008-12-01</string>
        <key>OpenSourceLicenseFile</key>
        <string>actionmailer.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>actionpack</string>
        <key>OpenSourceVersion</key>
        <string>1.13.6</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.rubyonrails.org</string>
        <key>OpenSourceSHA1</key>
        <string>449d8923898a9f6dd5c04fd2e0791684fe9d5e18</string>
        <key>OpenSourceImportDate</key>
        <string>2008-12-01</string>
        <key>OpenSourceLicenseFile</key>
        <string>actionpack.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>actionwebservice</string>
        <key>OpenSourceVersion</key>
        <string>1.2.6</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.rubyonrails.org</string>
        <key>OpenSourceSHA1</key>
        <string>6499a6c0a1af8c8396faf0a3993d8504bae20893</string>
        <key>OpenSourceImportDate</key>
        <string>2008-12-01</string>
        <key>OpenSourceLicenseFile</key>
        <string>actionwebservice.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>activerecord</string>
        <key>OpenSourceVersion</key>
        <string>1.15.6</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.rubyonrails.org</string>
        <key>OpenSourceSHA1</key>
        <string>fa4bb31fd1dd46409f1b725f905a8b4ecd81fe66</string>
        <key>OpenSourceImportDate</key>
        <string>2008-12-01</string>
        <key>OpenSourceLicenseFile</key>
        <string>activerecord.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>activesupport</string>
        <key>OpenSourceVersion</key>
        <string>1.4.4</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.rubyonrails.org</string>
        <key>OpenSourceSHA1</key>
        <string>7cb1f5d07995df9838fff204dfe60aa9b74e1db2</string>
        <key>OpenSourceImportDate</key>
        <string>2008-12-01</string>
        <key>OpenSourceLicenseFile</key>
        <string>activesupport.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>rails</string>
        <key>OpenSourceVersion</key>
        <string>1.2.6</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.rubyonrails.org</string>
        <key>OpenSourceSHA1</key>
        <string>10b539a69678c3665d61f8b91b6268a863737199</string>
        <key>OpenSourceImportDate</key>
        <string>2008-12-01</string>
        <key>OpenSourceLicenseFile</key>
        <string>rails.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>actionmailer</string>
        <key>OpenSourceVersion</key>
        <string>2.3.5</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.rubyonrails.org</string>
        <key>OpenSourceSHA1</key>
        <string>fc0302d56425b0133cdc67c9ccddd03a53260ee6</string>
        <key>OpenSourceImportDate</key>
        <string>2009-12-11</string>
        <key>OpenSourceLicenseFile</key>
        <string>actionmailer.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>actionpack</string>
        <key>OpenSourceVersion</key>
        <string>2.3.5</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.rubyonrails.org</string>
        <key>OpenSourceSHA1</key>
        <string>6c46dbcbde1840202ebd2bcfa690d53047e47c9e</string>
        <key>OpenSourceImportDate</key>
        <string>2009-12-11</string>
        <key>OpenSourceLicenseFile</key>
        <string>actionpack.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>activerecord</string>
        <key>OpenSourceVersion</key>
        <string>2.3.5</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.rubyonrails.org</string>
        <key>OpenSourceSHA1</key>
        <string>f411a1ad8aeef78a464b00663eecdc22e0e4266c</string>
        <key>OpenSourceImportDate</key>
        <string>2009-12-11</string>
        <key>OpenSourceLicenseFile</key>
        <string>activerecord.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>activeresource</string>
        <key>OpenSourceVersion</key>
        <string>2.3.5</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.rubyonrails.org</string>
        <key>OpenSourceSHA1</key>
        <string>2b4bb421e0857f73d8e9aa2bdd164d6c11bebc00</string>
        <key>OpenSourceImportDate</key>
        <string>2009-12-11</string>
        <key>OpenSourceLicenseFile</key>
        <string>activeresource.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>activesupport</string>
        <key>OpenSourceVersion</key>
        <string>2.3.5</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.rubyonrails.org</string>
        <key>OpenSourceSHA1</key>
        <string>fb2673b4d093f1586cc1c8fbbaa7e822b185e6d1</string>
        <key>OpenSourceImportDate</key>
        <string>2009-12-11</string>
        <key>OpenSourceLicenseFile</key>
        <string>activesupport.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>rack</string>
        <key>OpenSourceVersion</key>
        <string>1.0.1</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://rack.rubyforge.org</string>
        <key>OpenSourceSHA1</key>
        <string>49ae682c029daa5007e7fe7f47096c8788743c8e</string>
        <key>OpenSourceImportDate</key>
        <string>2009-12-11</string>
        <key>OpenSourceLicenseFile</key>
        <string>rack.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
    <dict>
        <key>OpenSourceProject</key>
        <string>rails</string>
        <key>OpenSourceVersion</key>
        <string>2.3.5</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.rubyonrails.org</string>
        <key>OpenSourceSHA1</key>
        <string>e341aba6d1be9ec89ffe924a960e2c56c073954c</string>
        <key>OpenSourceImportDate</key>
        <string>2009-12-11</string>
        <key>OpenSourceLicenseFile</key>
        <string>rails.txt</string>
        <key>OpenSourceModifications</key>
        <array>
        </array>
    </dict>
</array>
