<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlackAlpha</key>
	<real>1</real>
	<key>BlackDiffuse</key>
	<real>0.2850877046585083</real>
	<key>BlackShininess</key>
	<real>25.26315879821777</real>
	<key>BlackSpecular</key>
	<real>0.2149122804403305</real>
	<key>BlackRoughness</key>
	<real>0.2</real>
	<key>BlackMetallic</key>
	<real>0</real>
	<key>BlackAmbientOcclusion</key>
	<real>0.75</real>
	<key>BorderAlpha</key>
	<real>1</real>
	<key>BorderDiffuse</key>
	<real>0.7324561476707458</real>
	<key>BorderShininess</key>
	<real>0</real>
	<key>BorderSpecular</key>
	<real>0</real>
	<key>LabelIntensity</key>
	<real>0.6184210777282715</real>
	<key>Reflectivity</key>
	<real>0.6271929740905762</real>
	<key>WhiteAlpha</key>
	<real>1</real>
	<key>WhiteDiffuse</key>
	<real>1</real>
	<key>WhiteShininess</key>
	<real>78.03508758544922</real>
	<key>WhiteSpecular</key>
	<real>0.7675438523292542</real>
	<key>WhiteRoughness</key>
	<real>0.2</real>
	<key>WhiteMetallic</key>
	<real>0</real>
	<key>WhiteAmbientOcclusion</key>
	<real>0.75</real>
</dict>
</plist>
