#include "<DEVELOPER_DIR>/Makefiles/CoreOS/Xcode/BSD.xcconfig"

ARCHS = $(ARCHS_STANDARD_32_64_BIT)
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ALTERNATE_MODE = go-w,a+rX
STRIP_INSTALLED_PRODUCT = YES
HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR) $(PROJECT_DIR)/ncurses/include $(PROJECT_DIR)/ncurses/ncurses $(PROJECT_DIR)/ncurses/progs

CODE_SIGN_IDENTITY = -
AD_HOC_CODE_SIGNING_ALLOWED = YES

INSTALLHDRS_SCRIPT_PHASE = YES
INSTALLHDRS_COPY_PHASE = YES

GENERATE_TEXT_BASED_STUBS = YES
SUPPORTS_TEXT_BASED_API = YES
TAPI_VERIFY_MODE = ErrorsAndWarnings
OTHER_TAPI_FLAGS = -Xparser -include -Xparser $(SRCROOT)/ncurses/include/ncurses_cfg.h
