<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>lukemftp</string>
        <key>OpenSourceVersion</key>
        <string>20070806</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.NetBSD.org/</string>
        <key>OpenSourceURL</key>
        <string>ftp://ftp.netbsd.org/pub/NetBSD/misc/lukemftp/tnftp-20070806.tar.gz</string>
        <key>OpenSourceSHA1</key>
        <string>b6dad820e71412bd52f2c4a4ccaa7a2b62c3a22f</string>
        <key>OpenSourceImportDate</key>
        <string>2008-06-18</string>
        <key>OpenSourceLicense</key>
        <string>BSD</string>
        <key>OpenSourceLicenseFile</key>
        <string>lukemftp.txt</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>Makefile.in.patch</string>
		<string>PR-4074918.ftp.c.patch</string>
		<string>configure.patch</string>
	</array>
</dict>
</array>
</plist>
