<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PlistDirectory</key>
		<string>si-20-sectrust-policies-data</string>
		<key>PlistFileName</key>
		<string>NSPinnedDomains_ca</string>
		<key>ExpectedProperties</key>
		<dict>
			<key>NSPinnedLeafIdentities</key>
			<false/>
			<key>NSPinnedCAIdentities</key>
			<true/>
			<key>NSPinnedCAIdentitiesCount</key>
			<integer>1</integer>
			<key>NSIncludesSubdomains</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>PlistDirectory</key>
		<string>si-20-sectrust-policies-data</string>
		<key>PlistFileName</key>
		<string>NSPinnedDomains_leaf</string>
		<key>ExpectedProperties</key>
		<dict>
			<key>NSPinnedLeafIdentities</key>
			<true/>
			<key>NSPinnedLeafIdentitiesCount</key>
			<integer>2</integer>
			<key>NSPinnedCAIdentities</key>
			<false/>
		</dict>
	</dict>
	<dict>
		<key>PlistDirectory</key>
		<string>si-20-sectrust-policies-data</string>
		<key>PlistFileName</key>
		<string>NSPinnedDomains_leaf_and_ca</string>
		<key>ExpectedProperties</key>
		<dict>
			<key>NSPinnedLeafIdentities</key>
			<true/>
			<key>NSPinnedLeafIdentitiesCount</key>
			<integer>1</integer>
			<key>NSPinnedCAIdentities</key>
			<true/>
			<key>NSPinnedCAIdentitiesCount</key>
			<integer>2</integer>
		</dict>
	</dict>
	<dict>
		<key>PlistDirectory</key>
		<string>si-20-sectrust-policies-data</string>
		<key>PlistFileName</key>
		<string>NSPinnedDomains_without_spki</string>
		<key>ExpectedProperties</key>
		<dict>
			<key>NSPinnedLeafIdentities</key>
			<false/>
			<key>NSPinnedCAIdentities</key>
			<false/>
		</dict>
	</dict>
	<dict>
		<key>PlistDirectory</key>
		<string>si-20-sectrust-policies-data</string>
		<key>PlistFileName</key>
		<string>NSPinnedDomains_with_empty_spki</string>
		<key>ExpectedProperties</key>
		<dict>
			<key>NSPinnedLeafIdentities</key>
			<true/>
			<key>NSPinnedLeafIdentitiesCount</key>
			<integer>0</integer>
			<key>NSPinnedCAIdentities</key>
			<false/>
		</dict>
	</dict>
	<dict>
		<key>PlistDirectory</key>
		<string>si-20-sectrust-policies-data</string>
		<key>PlistFileName</key>
		<string>NSPinnedDomains_with_invalid_spki</string>
		<key>ExpectedProperties</key>
		<dict>
			<key>NSPinnedLeafIdentities</key>
			<true/>
			<key>NSPinnedLeafIdentitiesCount</key>
			<integer>0</integer>
			<key>NSPinnedCAIdentities</key>
			<true/>
			<key>NSPinnedCAIdentitiesCount</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
