
SUPPORTED_PLATFORMS = macosx iphoneos tvos watchos
PRODUCT_BUNDLE_IDENTIFIER = com.apple.HIDSensorControlFilter
PRODUCT_MODULE_NAME = $(PRODUCT_NAME:c99extidentifier)
PRODUCT_NAME = HIDSensorControlFilter

INSTALL_PATH = $(SYSTEM_LIBRARY_DIR)/HIDPlugins/ServiceFilters

WRAPPER_EXTENSION = plugin

SWIFT_VERSION = 6.0

INFOPLIST_FILE = IOHIDEventSystemPlugIns/HIDSensorControlFilter/Info.plist

INSTALLHDRS_SCRIPT_PHASE = YES

INSTALLHDRS_COPY_PHASE = YES

AD_HOC_CODE_SIGNING_ALLOWED = YES
