<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.SystemConfiguration.KernelEventMonitor</string>
	<key>CFBundleName</key>
	<string>SystemConfiguration</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>Requires</key>
	<array>
		<string>com.apple.SystemConfiguration.InterfaceNamer</string>
	</array>
</dict>
</plist>
