<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>subversion</string>
	<key>OpenSourceVersion</key>
	<string>1.6.2</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://subversion.tigris.org/</string>
	<key>OpenSourceURL</key>
	<string>http://subversion.tigris.org/downloads/subversion-1.6.2.tar.bz2</string>
	<key>OpenSourceSHA1</key>
	<string>f3b7f35dee4772a25646fe1fbb5108a6569803d1</string>
	<key>OpenSourceImportDate</key>
	<string>2009-05-18</string>
	<key>OpenSourceLicense</key>
	<string>BSD</string>
	<key>OpenSourceLicenseFile</key>
	<string>subversion.txt</string>
</dict>
</plist>
