<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.KeychainDBMover</string>
	<key>com.apple.application-identifier</key>
	<string>com.apple.KeychainDBMover</string>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/Keychains/</string>
		<string>/private/var/mobile/Library/Keychains/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.mobile.usermanagerd.xpc</string>
		<string>com.apple.mobile.keybagd.UserManager.xpc</string>
	</array>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.mkb.usersession.info</key>
	<true/>
</dict>
</plist>
