<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>libxml2</string>
	<key>OpenSourceVersion</key>
	<string>2.9.13</string>
	<key>OpenSourceWebsiteURL</key>
	<string>https://gitlab.gnome.org/GNOME/libxml2</string>
	<key>OpenSourceURL</key>
	<string>https://gitlab.gnome.org/GNOME/libxml2/-/archive/v2.9.13/libxml2-v2.9.13.tar.gz</string>
	<key>OpenSourceMD5</key>
	<string>99dbd55a77c09edeeaaef5412e98769b</string>
	<key>OpenSourceImportDate</key>
	<string>2022-02-25</string>
	<key>OpenSourceLicense</key>
	<string>other</string>
	<key>OpenSourceLicenseFile</key>
	<string>libxml2.txt</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>rdar://problem/3960539</string>
		<string>rdar://problem/6139288</string>
		<string>rdar://problem/6514625</string>
		<string>rdar://problem/27417540</string>
		<string>rdar://problem/27625481</string>
		<string>rdar://problem/28826389</string>
		<string>rdar://problem/29588172</string>
		<string>rdar://problem/29880346</string>
		<string>rdar://problem/29913518</string>
		<string>rdar://problem/30428434</string>
		<string>rdar://problem/31067828</string>
		<string>rdar://problem/31085453</string>
		<string>rdar://problem/31661619</string>
		<string>rdar://problem/31668583</string>
		<string>rdar://problem/31780841</string>
		<string>rdar://problem/31799991</string>
		<string>rdar://problem/32694214</string>
		<string>rdar://problem/32880643</string>
		<string>rdar://problem/39849910</string>
		<string>rdar://problem/93538266</string>
	</array>
</dict>
</plist>
