管理任务有<a href="%(summaryurl)s">摘要页面</a>和<em>详细资料</em>页
面两种显示方式。摘要页面包括了按发送人邮件地址分组的待决的订阅和退订
请求，以及被暂存以待您审核的信件。详细资料页面则包括每条消息的消息头
信息和消息体摘要在内的更详细的内容。

<p>以下动作在所有页面均可用： 
<ul>
<li><b>Defer</b> -- 延期，以后再做处理。对于此类的管理请求暂不做处理，
    但是对于暂存的邮件，仍然可以进行转发或者保留该消息(见下文)。

<li><b>Approve</b> -- 批准该消息，并发送至列表。对于成员资格的申请，
    该动作将会修改成员资格状态。 
	
<li><b>Reject</b> -- 拒绝该消息，给发送者发送拒绝通知并丢弃原始信息。
    对于成员资格申请，则拒绝对成员资格状态作出修改。在以上两种情况下，
	您需要在相应文本框中添加拒绝原因。
	
<li><b>Discard</b> -- 丢弃原始信息，不发送拒绝通知。对于成员资格申请，
    不通知申请人，并丢弃该请求。该动作往往是针对已知的垃圾邮件。
</ul>

<p>对于暂存的信息，如果你希望给系统管理员一份拷贝，需打开<b>Preserve</b> 
选项。 对于您想丢弃但是需要保存记录以利于日后检查的辱骂类信息这种方法
是有效的，

<p>如果您想转发信息到一个不在列表中的地址，开启<strong>转发</strong> 
(Forward) 选项，并填入转发地址。要编辑一条暂存消息并将其发送至至列表，
您需要将该消息转发给您自己(或列表所有者)，并丢弃原始信息。在您的邮箱
中收到信息后，加以修改，添加一个<tt>Approved:</tt>头部，以列表密码作
为它的值，然后再重新发送至列表。在重新发送的消息中附带注释，声明已经
对原始信息作出了修改是应该受到赞赏的。

<p>如果发送者是一位被审查的成员，您可以选择清除他们的审查标记。当您的
列表配置设置新成员有见习期，而您认为这个成员已经获取您的信任，可以不
经审查自由地向列表发送信件时，这个功能非常有用。

<p>如果发送者不是列表成员，您可以将该电子邮件地址添加到发件人过滤器。
发件人过滤器在<a href="%(filterurl)s">发件人过滤器页</a>描述，可以
包括<b>自动接收</b>(Accept)、<b>自动保存</b>(Holds)、<b>自动拒绝</b>
(Rejects)、<b>自动丢弃</b>(Discards)四者其一。如果地址已经在一个发件
人过滤器中，此选项将无效的。

<p>做出修改后，请点击在页面顶部或者底部的<em>提交所有数据</em> 按钮。
该按钮可以提交您对所有管理请求所作出的修改。 

<p><a href="%(summaryurl)s">返回摘要页</a>。
