<html>
<head>
  <title>%(listname)s %(who)s Authentication</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(listname)s %(who)s
	    认证</FONT></B>
      </TD>
    </TR>
    <tr>
      <TD><div ALIGN="Right">显示 %(who)s密码:</div></TD>
      <TD><INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle><INPUT type="SUBMIT"
                                        name="admlogin"
					value="登录...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>重要:</em></strong> 从此时起，您的浏览器必须开启
	  cookie，否则您所做的所有修改均不会生效。
  
      <p>在Mainman的管理界面中使用了Session cookie, 这样您就无需对每
	  一个管理操作均进行重新认证。您关闭浏览器时，cookie自动失效；您
	  也可以通过点击<em>其他管理活动</em>下（在您成功登录后即可看到该
	  项）的<em>登出</em>链接来使cookie失效。
</FORM>
</body>
</html>
