此文本可以包括
<a href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">Python
格式字符串</a>,它们将根据列表属性来被解释。可用的替换有：
<ul>
    <li><b>real_name</b> - 列表的确切名字;  通常列表名字要大写。
    <li><b>list_name</b> - 在URL中用来确认列表的名字，大小写相关。

    <li><b>host_name</b> - 列表服务器的全限定域名。

    <li><b>web_page_url</b> - Mailman的base URL.它可以追加上，
    例如，<em>listinfo/%(list_name)s</em>来寻址邮件列表的列表信息页。

    <li><b>description</b> - 邮件列表的简要说明。
    <li><b>info</b> - 邮件列表的详细说明。
    <li><b>cgiext</b> - The extension added to CGI scripts.
</ul>
