<HTML>
  <HEAD>
    <TITLE><MM-List-Name> 信息页</TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="70%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000">关于 <MM-List-Name> 邮件列表</FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="30%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p>要查看本列表收藏的旧信,
	      请访问<MM-Archive><MM-List-Name>
		  的邮件归档</MM-Archive>.
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">如何使用 <MM-List-Name> 邮件列表</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	 要同时给所有的成员发信,可以直接发信到
	  <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>.

	  <p>在下面的小节中,您可以订阅本列表的信件,或者改变您的已有订阅。
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">如何订阅 <MM-List-Name> 邮件列表</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	   要订阅 <MM-List-Name> 邮件列表，请填写如下资料：
	  <MM-List-Subscription-Msg>
	  <ul>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">您的email地址：</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <tr>
        <td bgcolor="#dddddd" width="55%">您的姓名(可选)：</td>
        <td width="33%"><mm-fullname-box></td>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
	<TD COLSPAN="3"><FONT SIZE=-1>请在下面输入您的口令。 
        这仅提供适度的安全，但足以保护您不受他人的干扰。<b>但请您不
		要使用重要的口令</b>。因为我们可能将此口令以明文形式发给您。

            <p>如果您不填写密码,我们将会自动给您生成一个。当您确认订阅后，
			会将它发送到您的邮箱。当您编辑个人选项时，总是可以随时要求将
			您的口令发送到您的邮箱。
	    <MM-Reminder>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">输入密码:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">再输入一次:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd">您希望以什么语言显示您的消息?</TD> 
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <mm-digest-question-start>
      <tr>
	<td>您希望每天收到信件摘要吗??
	  </td>
	<td><MM-Undigest-Radio-Button> 否
	    <MM-Digest-Radio-Button> 是
	</TD>
      </tr>
      <mm-digest-question-end>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000"><MM-List-Name> 订阅者</FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
