<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title> <MM-List-Name> 的 <MM-Presentable-User> 成员配置
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-Presentable-User>的
		<MM-List-Name>邮件列表成员配置
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <MM-List-Name> 邮件列表中
		<b><MM-Presentable-User></b>的订阅状态、口令和选项 
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>修改您的 <MM-List-Name> 成员信息</B>
        </FONT></TD></TR>
    <tr><td colspan="2">通过在下面输入新的邮件地址，您可以修改您在此邮件列
	    表的订阅地址。请注意，一封确认函将会发往您的新地址，而且系统只有在
		收到您的确认回复之后才会修改实际配置。

        <p>确认在大约 <mm-pending-days>后无效.

        <p>您可以选择设定或修改您的真实姓名
        (例如： <em>John Smith</em>).

        <p>如果您想对在<mm-host>上订阅的所有列表中的成员信息修改,选中
        <em>全局修改</em> 复选框

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">新地址:
</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">确认地址:
            </div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">您的姓名：
            (可选):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>全局修改</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>取消订阅 <MM-List-Name></B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>您在 <MM-Host>上的其他订阅 </B>
        </FONT></TD></TR>

    <tr><td>
        选中确认的复选框，点击这个按钮可以从这个邮件列表取消订阅。 
		<strong>警告:</strong>这个动作会马上执行！
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        您可以查 <mm-host> 上您已订阅的列表清单.  如果您想对这些
		其它的邮件列表做相同的成员信息操作，可以使用这个。

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>您的 <MM-List-Name> 口令</B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>忘记了口令?</h3>
        </center>
        点击这个按钮，您可以通过您的成员电子邮箱来接收您的口令。
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>修改您的口令</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">新
		口令:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">
		确认口令:
                </div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>全局修改
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>您的 <MM-List-Name> 订阅选项</B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>检查现有值</strong></i>

<p>注意，有一些选项有一个<em>设为全局</em>
的复选框。选中该框会使该选项在您在<mm-host>上订阅的所有邮件列表上生效。
点击上面的<em>列出我的所有订阅</em> 来查看您订阅了哪些其他的邮件列表。
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>信件投递</strong></a><p>
          将该项设为<em>启用</em>来接收发送到该邮件列表的信息，如果您想
		  继续订阅，但暂时不想接收邮件（例如，您正在休假），将其设为<em>
		  禁止</em>。如果您禁止了邮件投递，请别忘了在您回来的时候将它激活。
          它不会自动激活。
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>允许<br>
        <mm-delivery-disable-button>禁止<p>
        <mm-global-deliver-button><i>设为全局</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>设置摘要模式</strong><p>
        如果您将摘要模式打开， 将会把所有信件聚合在一起发送给您，
        （通常每天一封，繁忙的列表可能更多），而不是他们发送时的一次一封。
	    如果摘要模式从开变为关，您可能还会收到最后一份摘要。
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>关<br>
        <MM-Digest-Radio-Button>开
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>获得MIME还是普通文本摘要</strong><p>
        您的电子邮件阅读器可能支持也可能不支持MIME（多用途互联网邮件扩
		展）。 总的来说，最好是MIME摘要形式，但是如果您不能阅读它们，选
		择普通文本摘要。
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>普通文本<p>
        <mm-global-mime-button><i>设为全局</i>
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>接收您自己的信件？</strong><p>
        一般来说，您会收到每封你寄往列表的信件副本。如果您不想收到这
		个副本，将该项设为<em>否</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>否<br>
        <mm-receive-own-mail-button>是
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>接收您发到列表信件的确认信息？</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>否<br>
        <mm-ack-posts-button>是
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>获得列表的口令提示函</strong><p>
        每个月，您都会从订阅了邮件列表的主机那里收到一封口令提示函。
    	您可以逐个列表地将该项置为<em>否</em>。如果您将您订阅所有列
		表的口令提醒全部关闭，将不会有任何的口令提示函发送给您。
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>否<br>
        <mm-get-password-reminder-button>是<p>
        <mm-global-remind-button><i>设为全局</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>将您自己从订阅者列表中隐藏</strong><p>
        当别人查看列表成员时，您的电子邮件地址通常是可见的(模糊处理
		过得形式以避免垃圾邮件)。  如果您不想让您的电子邮件出现在列
		表成员清单中，将该项选为 <em>是</em> 。
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>否<br>
        <MM-Hide-Subscription-Button>是
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>您的语言？</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>您想订阅哪个话题分类？</strong><p>
                通过选择一个或多个话题，您可以对列表的信息进行过滤
		        ，仅接收列表中的部分消息。如果一条信息满足您的选择
				的任一话题，您就会收到它，否则将不会收到。

				<p>如果一条信息不满足任何话题，投递规则取决于下面的
				设置。如果您没有选择任何感兴趣的话题，您会得到发往列
				表的所有消息。                
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>您想接收不满足任何话题过滤器的消息吗？</strong><p>

             该选项只有在您在上面订阅了至少一个话题时才有效。
             它描述了不满足任何话题过滤器的信息的默认投递规则。
             选择<em>否</em>意味着您不会收到不满足任何话题过滤器
			 的信件。选择<em>是</em>则意味着这些信件将被投递给您。
             
			 <p>如果您没有在上面选择感兴趣的话题，那么你会收到
		     寄往邮件列表的所有信件。
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>否<br>
        <mm-receive-nonmatching-topics>是
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>拒绝相同的信件副本？</strong><p>

                当你被明确的列在信件头部的 <tt>To:</tt> 或
                <tt>Cc:</tt> （即您可能收到两封同样的信），
				您可以选择不接收从这个邮件列表来的所有另外副
				本。选择<em>是</em> 可以拒绝副本，选择<em>否
				</em>来接收副本。

                <p>如果该列表支持成员个人化信件，并且您选择接收副本，
				每个副本都会添加一个<tt>X-Mailman-Copy: yes</tt>的头部。
		

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>否<br>
        <mm-dont-receive-duplicates-button>是<p>
        <mm-global-nodupes-button><i>设为全局</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
