<html>
<head>
    <title>%(realname)s 私有归档认证</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#0s00000" SIZE="+1">%(realname)s 私有归档认证</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">Email地址：</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">口令：</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="登陆">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>注意：</em></strong> 从此时开始，您的浏览器应该启用
	  cookies，否则您的任何操作都需要重新认证。
	  
      <p>在Mailman的私有存档接口中使用了Session cookies ，由此您不必为每
	  次操作重新进行认证。这个cookies会在您退出浏览器时自动过期，当然您
	  也可以通过点击访问您的成员选项页并点击其中的<em>登出</em>按钮来显
	  式地使其过期。
      
</FORM>
</body>
</html>
