<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IgnoreOutput</key>
	<true/>
	<key>Project</key>
	<string>man</string>
	<key>TestSpecificLogs</key>
	<array>
	   <string>BATS_TMP_DIR/.*results.txt</string>
	</array>
	<key>Tests</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>man.man_test.sh.spaces</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/atf-sh</string>
				<string>/AppleInternal/Tests/man/man/man_test.sh</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/man/man</string>
				<string>-r</string>
				<string>man_test.sh.spaces.results.txt</string>
				<string>spaces</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>man.man_test.sh.custom_mansect</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/atf-sh</string>
				<string>/AppleInternal/Tests/man/man/man_test.sh</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/man/man</string>
				<string>-r</string>
				<string>man_test.sh.custom_mansect.results.txt</string>
				<string>custom_mansect</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>man.man_test.sh.whatis</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/atf-sh</string>
				<string>/AppleInternal/Tests/man/man/man_test.sh</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/man/man</string>
				<string>-r</string>
				<string>man_test.sh.whatis.results.txt</string>
				<string>whatis</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>man.man_test.sh.so</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/atf-sh</string>
				<string>/AppleInternal/Tests/man/man/man_test.sh</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/man/man</string>
				<string>-r</string>
				<string>man_test.sh.so.results.txt</string>
				<string>so</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
	</array>
</dict>
</plist>
