<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BATSConfigVersion</key>
	<string>0.2.0</string>
	<key>Project</key>
	<string>awk</string>
	<key>RadarComponents</key>
	<dict>
		<key>Name</key>
		<string>awk</string>
		<key>Version</key>
		<string>all</string>
	</dict>
	<key>Tests</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>awk.upstream.harness</string>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/Tests/awk/src/tests</string>
			<key>Command</key>
			<array>
				<string>python3</string>
				<string>REGRESS_test.py</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>awk.upstream.regress.setup</string>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/Tests/awk/src/tests</string>
			<key>Command</key>
			<array>
				<string>/bin/sh</string>
				<string>test_setup.sh</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>awk.upstream.regress.t</string>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/Tests/awk/src/tests</string>
			<key>ShowSubtestResults</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/bin/sh</string>
				<string>test_runner.sh</string>
				<string>REGRESS-t.py</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>awk.upstream.regress.p</string>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/Tests/awk/src/tests</string>
			<key>ShowSubtestResults</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/bin/sh</string>
				<string>test_runner.sh</string>
				<string>REGRESS-p.py</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>awk.upstream.T</string>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/Tests/awk/src/tests</string>
			<key>ShowSubtestResults</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/bin/sh</string>
				<string>test_runner.sh</string>
				<string>REGRESS_T.py</string>
				<string>T.builtin</string>
				<string>T.errmsg</string>
				<string>T.arnold</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>awk.upstream.bugs-fixed</string>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/Tests/awk/src/tests</string>
			<key>ShowSubtestResults</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/bin/sh</string>
				<string>test_runner.sh</string>
				<string>REGRESS_bugs_fixed.py</string>
				<string>system-status.awk</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
