//
//  CommonCrypto_unittest_base.xcconfig
//  CommonCrypto
//
//  InfoSec Standard Configuration
//  Copyright 2010 Apple Inc. All rights reserved.
//

// This XCCONFIG file defines the shared settings for all unit test targets of the
// CommonCrypto XCode Project


// **************************************************************************
// * Begin Project Section
// **************************************************************************

CC_PATH_BASE = $(PROJECT_DIR)
CC_PATH_UNIT_TEST_SOURCE = $(CC_PATH_BASE)/UnitTestSource

PRODUCT_NAME = CommonCryptoUnitTest

ARCHS = $(NATIVE_ARCH) $(ARCHS_STANDARD_64_BIT)

OTHER_LDFLAGS = -framework Cocoa -framework SenTestingKit

WRAPPER_EXTENSION = octest

FRAMEWORK_SEARCH_PATHS = $(DEVELOPER_FRAMEWORKS_DIR)

GCC_PREFIX_HEADER = $(SYSTEM_LIBRARY_DIR)/Frameworks/Cocoa.framework/Headers/Cocoa.h

INFOPLIST_FILE = $(CC_PATH_UNIT_TEST_SOURCE)/CommonCryptoUnitTests-Info.plist

OBJC_DISABLE_GC = NO

// **************************************************************************
// * End Project Section
// **************************************************************************

