//
//  CommonCrypto_static_deployment.xcconfig
//  CommonCrypto
//
//  Created by Jim Murphy on 1/11/10.
//  Copyright 2010 Apple. All rights reserved.
//

// This XCCONFIG file is for the deployment version of the static CommonCrypto Library

#include "CommonCrypto_deployment.xcconfig"
#include "CommonCrypto_static.xcconfig"