<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2021-02-03</string>
	<key>OpenSourceProject</key>
	<string>perl</string>
	<key>OpenSourceVersion</key>
	<string>5.30.3</string>
	<key>OpenSourceWebsiteURL</key>
	<string>https://www.perl.com/</string>
	<key>OpenSourceURL</key>
	<string>https://www.cpan.org/src/5.0/perl-5.30.3.tar.gz</string>
	<key>OpenSourceSHA512256</key>
	<string>dc768a124e2a31e6d6182b7a95560785a6c9047ee426df63dbdcc17d9b566850</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>regenerate perly.h with bison 2.3</string>
		<string>changes to build under XBS</string>
		<string>prepend and append paths to @INC, using /Library/Perl/%lt;version%gt;/PrependToPath and /Library/Perl/%lt;version%gt;/AppendToPath</string>
		<string>Config returns the correct sizes for both 32 and 64-bit</string>
		<string>make CPAN::HandleConfig more forgiving about directory permissions</string>
		<string>added new /Library/Perl/Updates/%lt;version%gt; directory that comes before the system perl directories in the module search order; installprivlib and installarchlib now point to this Updates directory</string>
	</array>
	<key>OpenSourceLicense</key>
	<string>Artistic</string>
	<key>OpenSourceLicenseFile</key>
	<string>perl.txt</string>
</dict>
</plist>
