<!-- $Revision: 1.1.1.1 $ -->
Ylläpitäjän pyynnöt kootaan yhdeksi kahdesta eri kohteesta,  <a
href="%(summaryurl)s">yhteenvetosivulta</a>,ja <em>details</em>
yksityiskohtasivulta.  Yhteenvetosivu sisältää vahvistusta odottamassa
olevat listalle liittymis- ja irtisanoutumispyynnöt, sekä hyväksymistä 
odottavat postit, jotka on ryhmitelty lähettäjän osoitteen mukaan.  
Yksityiskohtasivu sisältää tarkemmat tiedot kaikista hyväksymistä 
odottavista viesteistä, sisältäen viestien otsikot ja osan viestin tekstiä.

<p>Seuraavat toimenpiteet ovat mahdollisia kaikilla sivuilla:

<ul>
<li><b>Siirrä</b> -- Siirtää päätöksesi myöhemmäksi. Tälle odottavalle
    ylläpitäjän vahvistuspyynnölle ei tehdä nyt mitään, paitsi jätetään
    odottavaksi postiksi, voit silti ohjata viestin eteenpäin 
    tai säilyttää sen (katso allaolevaa).

<li><b>Hyväksy</b> -- Hyväksy viesti lähettämällä se listalle.
    Jäsenyyspyynnöissä, hyväksyy muutoksen jäsenyystietoihin.

<li><b>Hylkää</b> -- Hylkää viestin, lähettää hylkäysilmoituksen
    lähettäjälle ja poistaa alkuperäisen viestin. Jäsenyyspyynnöissä
    hylkää muutoksen jäsenyystietoihin.  Kummassakin tapauksessa,
    pitää liittää mukaan teksti hylkäyksen syystä.

<li><b>Poista</b> -- Poista alkuperäinen viesti, ilman että lähetetään
    hylkäysilmoitusta.  Jäsenyyspyynnöissä pelkästään hävitetään pyyntö
    eikä ilmoiteta siitä pyynnön esittäjälle.  Toimintoa 
    käytetään yleensä tunnetulle roska(mainos)postille.
</ul>

<p>Odottavissa viesteissä aseta päälle <b>Säilytä</b> valinta jos haluat
säilyttää kopion viestistä ylläpitäjän sivulla.  Toiminto on hyödyllinen
loukkaavien postien kohdalla, jotka haluat tuhota, mutta joista sinun
tarvitsee säilyttää tallennettua tietoa myöhempää tarkastelua varten.

<p>Laita päälle <b>Lähetä eteenpäin</b> valinta, ja täytä vastaanottajan
osoitekenttä, jos haluat lähettää viestin jolle kulle, joka ei kuulu
listalle. Muuttaaksesi odottavaa viestiä ennen kuin se lähetetään listalle,
sinun pitää lähettää sen ensin itsellesi (tai listan omistajille) ja
hävittää alkuperäinen viesti.  Sitten kun viesti näkyy viestilaatikossasi,
tee muutoksesi ja lähetä viesti uudelleen listalle, siten että se sisältää 
<tt>Hyväksytty:</tt> otsikon sekä listan salasanan sen arvona.  Se
on kunnon netiketti tässä tapauksessa sisällyttää huomautus viestiin siitä
närkästyksestä, että olet joutunut muuttamaan tekstiä.

<p>Yhteenvetosivulla voit myös lisätä sähköpostin osoitteen
<em>lähettäjä filterointiin</em>.  Lähettäjä filtereitä on selitetty <a
href="%(filterurl)s">lähettäjän filterointi yksilöintisivulla</a>, ja arvo
voi olla yksi seuraavista:
<b>Hyväksy
automaatisesti</b> (Hyväksytyt), <b> Odottaa automaattisesti</b> 
(Odottavat),
<b>Hylätään automaattisesti</b> (Hylätyt), tai <b>Tuhotaan automaattisesti
</b> (Tuhotut). Tämä arvo ei ole mahdollinen, jos osoite on jo
yksi lähettäjän filtterointi -osoite.

<p>Kun olet saanut kaiken valmiiksi, klikkaa sivun
ylä- tai alalaidassa sijaitsevaa <em>Hyväksy
muutokset</em> näppäintä.  Tämä näppäin suorittaa kaikki valitut
toimenpiteet kaikille ylläpitäjän pyynnöille, joista olet päätöksen tehnyt.

<p><a href="%(summaryurl)s">Paluu yhteenvetosivulle</a>.
