<!-- $Revision: 1.1.1.1 $ -->
Tällä sivulla on lista toimiasi vaativista 
ylläpitopyynnöistä

<a href="%(adminurl)s"><em>%(listname)s</em> mailing list</a>.

Ensin on lista liittymis ja eroamispyynnöistä, jos niitä on.

Seuraavaksi on lista viesteistä, jotka vaativat hyväksyntäsi.

<p>Valitse toiminta jokaiselle ylläpitotoimelle ja klikkaa
<b>Submit All Data</b> button when finished.

<a href="%(detailsurl)s">Lisäohjeita</a> on myös saatavilla.

<p>Voit myös <a href="%(viewallurl)s"> tutustua tarkemmin</a> 
kaikkiin toimenpiteitä vaativiin viesteihin.
