<!-- $Revision: 1.1.1.1 $ -->
<html>
<head>
  <title>%(listname)s %(who)s Authentication</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(listname)s %(who)s
	    sis‰‰nkirjautuminen</FONT></B>
      </TD>
    </TR>
    <tr>
      <TD><div ALIGN="Right">Listan %(who)s Salasana:</div></TD>
      <TD><INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle><INPUT type="SUBMIT"
                                        name="admlogin"
					value="Sis‰‰n ...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>T‰rke‰‰:</em></strong> T‰st‰ eteenp‰in
      sinulla pit‰‰ olla ev‰steet sallittuna selaimessasi,
      muutoin haluamasi muutokset eiv‰t tallennu.

      <p>Istuntokohtaiset ev‰steet ovat k‰ytˆss‰ Mailman 
      - ohjelmiston yll‰pitosivuilla, joten sinun ei tarvitse
      kirjautua erikseen joka yll‰pitosivulle.
      Ev‰ste tuhoutuu automaattisesti selain-istunnon p‰‰tteeksi.
      Jos haluat ev‰steen tuhoutuvan aikaisemmin, t‰m‰ 
      onnistuu <em>Lopeta</em> linkki‰ painamalla 
      <em> kohdassa muut Yll‰pitotoimet</em> 
      (jonka n‰et onnistuneen sis‰‰nkirjautumisen j‰lkeen).
</FORM>
</body>
</html>
