<!-- $Revision: 1.1.1.1 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> Info Page</TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000">Tietoja listasta <MM-List-Name></FONT></B>
	    </TD>
            <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> Nähdäksesi listalle aikaisemmin lähetetyt viestit,
	      siirry <MM-Archive><MM-List-Name>
		  arkistoon</MM-Archive>.
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Listan käyttäminen <MM-List-Name></FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  Postittaaksesi viestin kaikille listan jäsenille, lähetä
          viesti osoitteeseen 
	  <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>.

	  <p>Voit liittyä listalle tai muuttaa asetuksiasi 
	    allaolevassa kappaleessa.
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Listalle <MM-List-Name> liittyminen</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	    Liity listalle <MM-List-Name> täyttämällä oheinen lomake.
	  <MM-List-Subscription-Msg>
	  <ul>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">Sähköpostiosoitteesi:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <tr>
        <td bgcolor="#dddddd" width="55%">Nimesi (vapaaehtoinen):</td>
        <td width="33%"><mm-fullname-box></td>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
	<TD COLSPAN="3"><FONT SIZE=-1>Voit antaa tähän salasanan
            asetustesi ylläpitoa varten. Tämä salasanan suojaus
            järjestelmässä on heikko, mutta se estää muita käyttäjiä 
            pääsemästä tahattomasti listalla oleviin tietoihisi käsiksi.
            <b>Älä käytä tässä samaa salasanaa, jota käytät tärkeiden 
            asioiden suojaamiseen</b> sillä salasana lähetetään 
            tarvittaessa sinulle
            suojaamattomana sähköpostiviestinä. 

            <p>Jos et täytä salasanakenttää niin järjestelmä
            generoi automaattisesti sinulle salasanan.
            Salasana lähetetään sinulle sähköpostilla,
            kun olet vahvistanut listalle liittymisesi.
            Voit aina pyytää järjestelmää lähettämään salasanasi
            sähköpostitse, jolloin voit muuttaa omia 
            postituslista-asetuksiasi.
	    <MM-Reminder>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">Valitse salasana:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">Valittu salasana uudestaan:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd">Millä kielellä haluat ohjeet ja lomakkeet?</TD> 
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <tr>
	<td>Haluatko vastaanottaa listan viestit päivittäisenä kokoelmana yksittäisten
          viestien sijaan?
	  </td>
	<td><MM-Undigest-Radio-Button> Ei
	    <MM-Digest-Radio-Button>  Kyllä
	</TD>
      </tr>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000"><MM-List-Name> Listalle liittyneet</FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
