<!-- $Revision: 1.1.1.1 $ -->
<html>
<head>
    <title><MM-Presentable-User> membership configuration for <MM-List-Name>
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-List-Name> Postituslistan j‰senyyden asetukset
        <MM-Presentable-User>
	</FONT></B></TD></TR>
    </TABLE>
<MM-Form-Start>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b><MM-Presentable-User></b>'s liittymistilanne,
        salasana, ja postituslistan <MM-List-Name> asetukset.
        </td><td><mm-logout-button></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>J‰sentietojen <MM-List-Name> muuttaminen</B>
	</FONT></TD></TR>
    <tr><td colspan="2">Voit vaihtaa osoitettasi, jolla olet liittynyt postituslistalle,
	  kirjoittamalla uuden osoitteen alapuolella olevaan kentt‰‰n. Huomioi, ett‰ tulet saamaan
	  vahvistuspyynnˆn uuteen osoitteeseesi ja muutos pit‰‰ hyv‰ksy‰, ennen kuin se suoritetaan.

        <p>Confirmations time out after about <mm-pending-days>.

        <p>Voit myˆs halutessasi asettaa tai vaihtaa nimesi.
        (esim. <em>Ville Virtanen</em>).

        <p>Jos haluat tehd‰ j‰senyystietojesi muutoksen kaikille listoille, joille olet liittynyt
	  <mm-host>, laita rasti
        <em>Muuta kaikkiin</em> ruutuun.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Uusi osoite:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Uusi osoite uudestaan:
            </div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Nimi
            (vapaaehtoinen):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Muuta kaikkiin listoihin</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Eroaminen <MM-List-Name></B></td>

	<TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>N‰yt‰ muut  <MM-Host> liittym‰tiedot</B>
	</FONT></TD></TR>

    <tr><td>
        Aseta liittymistarkistusnappi??? aktiiviseksi ja paina t‰t‰ nappia
	  erotaksesi t‰lt‰ postituslistalta.  <strong>Varoitus:</strong>
        T‰m‰ toimenpide suoritetaan v‰littˆm‰sti!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        Voit katsoa mill‰ <mm-host> postituslistoilla, joissa olet j‰senen‰.
        K‰yt‰ t‰t‰, mik‰li haluat tehd‰ samat j‰senyystietojen muutokset myˆs muille postituslistoille,
	  joille olet liittynyt.

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
	</TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B><MM-List-Name> Salasana</B>
	</FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Oletko unohtanut salasanasi?</h3>
        </center>
        Paina t‰t‰ valintaa, niin salasanasi l‰hetet‰‰n siihen osoitteeseen,
        jonka olet ilmoittanut listalle liittyess‰si.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Vaihda salasana</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Uusi
                salasana:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Uusi 
                salasana uudestaan:
                </div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Muuta kaikkiin.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B><MM-List-Name> Postituslistan j‰senkohtaiset m‰‰ritykset</B>
	</FONT></TD></TR>
</table>

<p>
<i><strong>Nykyiset arvot on tarkistettu.</strong></i>

<p>Huomioi, ett‰ joissakin valinnoissa on <em>Muuta kaikkiin</em>
m‰‰ritysmahdollisuus. T‰m‰n kent‰n rastittaminen aiheuttaa sen, ett‰ muutokset tehd‰‰n
kaikille <mm-host> postituslistoille, joihin olet liittynyt.  Klikkaa yll‰olevaa
<em>N‰yt‰ muut liittym‰tiedot</em> -valintaa n‰hd‰ksesi, mille muille postituslistoille
olet liittynyt.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Viestin l‰hetys</strong></a><p>
        Aseta t‰m‰n arvoksi <em>P‰‰ll‰</em> saadaksesi t‰lle listalle
        l‰hetetyt viestit.  Aseta arvoksi <em>Pois</em> jos et
        halua saada v‰h‰‰n aikaan viestej‰ itsellesi (esim. l‰hdet
        lomalle).  Mik‰li asetat viestien tulon pois p‰‰lt‰, ‰l‰ unohda
        loman j‰lkeen laittaa sit‰ takaisin p‰‰lle!
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>P‰‰ll‰<br>
        <mm-delivery-disable-button>Pois<p>
        <mm-global-deliver-button><i>Muuta kaikkiin</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Koontitilan asetus</strong><p>
        Jos asetat koontitilan p‰‰lle,
        saat postisi koostettuna yhdeksi kokoelmaviestiksi
        kerran p‰iv‰ss‰, etk‰ erikseen jokaista l‰hetetty‰ postia. Jos koontitila
        muutetaan pois p‰‰lt‰, saat viimeisen koontil‰hetyksen heti.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Pois<br>
        <MM-Digest-Radio-Button>P‰‰ll‰
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>MIME-tyyliset tai tavalliset tekstikoonnit</strong><p>
        S‰hkˆpostiohjelmistosi joko tukee tai ei tue MIME-tyylisi‰ koonteja. Yleens‰
        MIME-tyyliset koonnit ovat parempia, mutta jos esiintyy ongelmia niiden 
        lukemisessa, valitse pelk‰t tekstikoonnit.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Teksti
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Haluatko saada listalle l‰hett‰m‰si postit itse?</strong><p>
        Tavallisesti saat kopion jokaisesta t‰lle listalle l‰hett‰m‰st‰si viestist‰.
        Jos et halua saada kopiota omista viesteist‰si, aseta
        arvoksi <em>Ei</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Ei<br>
        <mm-receive-own-mail-button>Kyll‰
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Haluatko saada kuittauksen listalle l‰hett‰m‰st‰si viestist‰?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Ei<br>
        <mm-ack-posts-button>Kyll‰
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>L‰hetet‰‰nkˆ t‰m‰n listan salasanasta muistutus?</strong><p>
        Kerran kuukaudessa saat viestin, joka sis‰lt‰‰ kaikkien niiden postituslistojen 
	  salasanat, joille olet t‰ll‰ postituslistapalvelimella liittynyt.
        Voit asettaa t‰m‰n muistutuspyynnˆn pois p‰‰lt‰ tietylle listalle, valitsemalla
        <em>Ei</em>.  Jos asetat salasanamuistuksen pois p‰‰lt‰ kaikista listoista, 
	  joille olet liittynyt, et saa ollenkaan salasanamuistusviesti‰.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Ei<br>
        <mm-get-password-reminder-button>Kyll‰<p>
        <mm-global-remind-button><i>Muuta kaikkiin</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Piiloutuminen j‰senlistalta?</strong><p>
        Kun joku katselee listan j‰senluetteloa, normaalisti s‰hkˆpostiosoitteesi
        n‰kyy (in an obscured muoti to est‰‰ roskapostin
        harvesters).  Mik‰li et halua s‰hkˆpostiosoitteesi n‰kyv‰n
        t‰ll‰ j‰senlistalla, valitse arvoksi <em>Ei</em>.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Ei<br>
        <MM-Hide-Subscription-Button>Kyll‰
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Oletuskieli?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Mihin aihepiireihin haluaisit
                liitty‰?</strong><p>
                Valitsemalla yhden tai useamman aihepiirin, voit filteroida
                postituslistasi liikennett‰, eli saat vain osan viesteist‰.
                Jos viesti t‰ytt‰‰ valitsemasi aihepiirin kriteerit,
                saat viestin, muuten et.

                <p>Mik‰li viesti ei sovi mihink‰‰n valitsemaasi aihepiiriin, postin l‰hetys
                riippuu niist‰ s‰‰nnˆist‰, joille ylemp‰n‰ asetit arvot. Ellet
                valitse yht‰‰n aihepiiri‰ tai mielenkiinnon kohdetta, saat
                kaikki postituslistalle l‰hetett‰v‰t viestit.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Haluatko saada viestin, joka ei sovi mihink‰‰n valitsemaasi 
                aihepiiriin?</strong><p>

                T‰ll‰ arvolla on merkityst‰ ainoastaan jos liityit
                v‰hint‰‰n yhteen yl‰puolella olevaan aihepiiriin. Se luonnehtii
                oletuss‰‰nnˆt sellaisen viestin l‰hetykselle, joka ei 
                sovi mihink‰‰n valitsemaasi kategoriaan. Mik‰li olet valinnut <em>Ei</em> 
		    viesti‰ ei l‰hetet‰ sinulle, ellei se sovi mihink‰‰n aihepiirin "ehtoihin".
                Valitsemalla <em>Kyll‰</em>
                myˆs ei-sopivat viestit l‰hetet‰‰n sinulle.

                <p>Ellei mit‰‰n aihepiiri‰ tai mielenkiinnon kohdetta ole valittu yl‰puolella,
                niin kaikki postituslistalle tulevat viestit l‰hetet‰‰n sinulle.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Ei<br>
        <mm-receive-nonmatching-topics>Kyll‰
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
