<!-- $Revision: 1.1.1.1 $ -->
<html>
<head>
    <title>%(realname)s Private Archives Authentication</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s/">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">Sis‰‰nkirjautuminen
            yksityiseen arkistoon %(realname)s
	    </FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">S‰hkˆpostiosoite:</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">Salasana:</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="Sis‰‰n...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>T‰rke‰‰:</em></strong> T‰st‰ eteenp‰in sinulla
      pit‰‰ olla ev‰steet valittuina aktiiviseksi selaimessasi. Muuten
	mitk‰‰n yll‰pit‰j‰n toimet eiv‰t tule suoritetuiksi.

      <p>Istuntokohtaiset ev‰steet ovat aktiivisina Mailmanin yll‰pit‰j‰n ymp‰ristˆss‰/oikeuksissa, 
      joten sinun ei tarvitse uudelleenkirjautua jokaisen yll‰pit‰j‰n toimen suorittamiseksi. T‰m‰
      ev‰ste katoaa automaattisesti kun suljet selaimen tai voit nimenomaan sulkea ev‰steen painamalla
	<em>Muut yll‰pit‰j‰n toimet</em> otsikon alla olevaa <em>Kirjaudu ulos</em> -valintaa.
      (jonka n‰et, kun olet onnistuneesti kirjautunut sis‰‰n).
</FORM>
</body>
</html>
