<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BATSConfigVersion</key>
	<string>0.1.0</string>
	<key>Project</key>
	<string>Security</string>
	<key>Tests</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>CKKSTests</string>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/XCTests/com.apple.security/</string>
			<key>ShowSubtestResults</key>
			<true/>
			<key>Timeout</key>
			<integer>1200</integer>
			<key>Command</key>
			<array>
				<string>BATS_XCTEST_CMD CKKSTests.xctest</string>
			</array>
		</dict>
		<!--dict>
			<key>TestName</key>
			<string>CKKSCloudKitTests</string>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/XCTests/com.apple.security/</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/Security/KeychainEntitledTestRunner</string>
			</array>
		</dict-->
	</array>
</dict>
</plist>
