Cette page contient un sous-ensemble des soumissions de la liste de diffusion
<em>%(listname)s</em> en attente d'approbation. Elle contient actuellement
%(description)s  

<p>Pour chaque requ&ecirc;te administrative, veuillez s&eacute;lectionner
les mesures &agrave; prendre sans oublier de cliquer sur le bouton <b>Soumettre 
toutes les donn&eacute;es</b> quand vous aurez termin&eacute;. Des  instructions
plus d&eacute;taill&eacute;es sont disponible  
<a href="%(detailsurl)s">ici</a>. 

<p>Vous pourrez &eacute;galement <a href="%(summaryurl)s">voir un  r&eacute;sum&eacute;</a>
 de toutes les requ&ecirc;tes en attente. 
