<html>
<head>
  <title>Authentification %(who)s sur %(listname)s</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">Authentification  
	%(who)s sur %(listname)s</FONT></B>
      </TD>
    </TR>
    <tr>
      <TD> <div ALIGN="Right">Mot de passe %(who)s de la liste: </div> </TD>
      <TD> <INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle> <INPUT type="SUBMIT" 
                                         name="admlogin"
					 value="Je veux entrer...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Important:</em></strong> A partir d'ici, vous devez avoir
      les cookies activ&eacute;s dans votre navigateur, autrement aucun
      changement administratif ne s'appliquera.

      <p>Les cookies de session sont utilis&eacute;s dans l'interface
      d'administration de Mailman pour que vous n'ayez pas &agrave; vous
      authentifier de nouveau pour chaque op&eacute;ration. Le cookie
      expirera automatiquement lorsque vous quitterez votre navigateur, ou
      vous pouvez le forcer &agrave; expirer en cliquant sur le lien
      <em>D&eacute;connexion</em> en dessous d'<em>Autres op&eacute;rations
      administratives</em> (que vous verrez apr&egrave;s vous &ecirc;tre
      authentifi&eacute; avec succ&egrave;s).
</FORM>
</body>
</html>
