</ul>
<p>      
 <a name="end"><b>Date du dernier message:</b></a>         
<i>%(lastdate)s</i><br>
      <b>Archiv&eacute; le :</b> <i>%(archivedate)s</i>
<p>
 <ul>
         <li> <b>Messages tri&eacute;s par:</b> 	        
		%(thread_ref)s
		%(subject_ref)s  		
		%(author_ref)s 		
		%(date_ref)s
   	     <li><b><a href="%(listinfo)s">Plus d'infos sur cette liste...    
                </a></b></li>
        </ul>
        <p>
 	<hr>      
	<i>Archive g&eacute;n&eacute;r&eacute;e par Pipermail %(version)s.</i>
     </body>
</html>
