<html>
<head>
  <title>Les Archives de %(listname)s %(archive)s par %(archtype)s</title>
            
  <meta name="robots" content="noindex,follow">
  %(encoding)s          
</head>
    <body bgcolor="#ffffff">
<a name="start"></a>       
<h1>%(archive)s Archives par %(archtype)s</h1>
    <ul>
          <li> <b>Messages tri&eacute;s par :</b> 	        
		%(thread_ref)s 		
		%(subject_ref)s 
		%(author_ref)s 		
		%(date_ref)s  	     
	  </li>
  <li><b><a href="%(listinfo)s">Plus d'infos sur cette liste...     
               </a></b></li>
       </ul>
       <p><b>D&eacute;but :</b> <i>%(firstdate)s</i><br>
          <b>Fin :</b> <i>%(lastdate)s</i><br>
          <b>Messages :</b> %(size)s</p>
<ul>
