Ce texte peut contenir <a 
href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">des formats 
de cha&icirc;nes Python </a>qui sont remplac&eacute;es par les attributs 
de la liste.  La liste des substitutions valides est:     
<ul>
     	<li><b>real_name</b> - Le nom usuel de la liste; 
	habituellement le nom en capitales.      </li>
     
	<li><b>list_name</b> - Le nom par lequel la liste 
	est identifi&eacute;e dans les URLs, o&ugrave; la casse est important. 
      	</li>

	<li><b>host_name</b> - Le "nom d'h&ocirc;te pleinement
    	qualifi&eacute;" (FQDN) du serveur sur lequel est install&eacute; le serveur de
	listes.      </li>

     	<li><b>web_page_url</b> - L'URL de base pour Mailman. 
   	Elle peut &ecirc;tre concat&eacute;n&eacute;e avec, par exemple
	<em>listinfo/%(list_name)s</em> pour donner la     
	page d'infos de la liste.      </li>

	<li><b>description</b> - La description courte de la  
  	liste de diffusion.      </li>

	<li><b>info</b> - La description compl&egrave;te de la
    	liste de diffusion.</li>

     	<li><b>cgiext</b> - L'extension ajout&eacute;e aux scripts
	cgi.    </li>
</ul>     
