<!-- $Revision: 1.1.1.2 $ -->
<html>
<head>
  <title>Page d'infos de <MM-List-Name></title>
</head>
    <body bgcolor="#ffffff">
      
<p>       
<table cols="1" border="0" cellspacing="4" cellpadding="5">
 	<tr>
 	  <td colspan="2" width="100%" bgcolor="#99ccff" align="center"> 	    
		<b><font color="#000000" size="+1"><MM-List-Name> -- <MM-List-Description></font></b>
 	  </td>
 	</tr>
 	<tr>
 	    <td colspan="2"> 	      
      	     <p>&nbsp;</p>
            </td>
 	  </tr>
 	  <tr>
 	    <td colspan="1" width="100%" bgcolor="#fff0d0"> 	      
		<b><font color="#000000">A propos de <MM-List-Name></font></b> 	 
  	    </td>
            <td colspan="1" width="100%" bgcolor="#fff0d0">            
  		<MM-lang-form-start><MM-displang-box> <MM-list-langs>               
		<MM-form-end>
     		<MM-Subscribe-Form-Start>
	    </td>
 	  </tr>
 	    <tr>
 	      <td colspan="2"> 		
      		<p><MM-List-Info></p>
 		<p> Pour voir tous les messages pass&eacute;s de la liste, 				visitez les <MM-Archive>Archives de <MM-List-Name> 
		</MM-Archive>.
		<MM-Restricted-List-Message>
		</p>
 	</td>
       </tr>
       <tr>
 	<td colspan="2" width="100%" bgcolor="#fff0d0"> 	  <b><font
 color="#000000">Utilisation de <MM-List-Name></font></b> 	
	</td>
       </tr>
       <tr>
 	<td colspan="2"> 	  
	Pour envoyer un message &agrave; tous les abonn&eacute;s de 	  
	la liste, envoyez un courriel &agrave; 	  
	<a href="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></a>.  	  

      <p>Vous pouvez vous abonner &agrave; la liste ou modifier votre 	 
	abonnement actuel dans les sections suivantes. 	</p>
      </td>
       </tr>
       <tr>
 	<td colspan="2" width="100%" bgcolor="#fff0d0"> 	  
<b><font color="#000000">S'abonner &agrave; <MM-List-Name><font></b>
 	</td>
       </tr>
       <tr>
 	<td colspan="2"> 	  
      <p> 	    
	Abonnez-vous &agrave; <MM-List-Name> en remplissant le formulaire 
	      suivant. 	  
	<MM-List-Subscription-Msg> 	 
      <ul>    
        <table border="0" cellspacing="2" cellpadding="2" width="70%"
 height="112">
            <tr>
 		  <td bgcolor="#dddddd" width="55%">Votre adresse courriel:</td>
 		  <td width="33%"><MM-Subscribe-Box>
	</td>
 	<td width="12%">&nbsp;</td>
            </tr>
       <tr>
         <td bgcolor="#dddddd" width="55%">Votre nom (facultatif):</td>
         <td width="33%"><mm-fullname-box></td>
 	<td width="12%">&nbsp;</td>
            </tr>
       <tr>
 	<td colspan="3"><font size="-1">Vous devez entrer un mot de passe 	   	 pour la confidentialit&eacute;. Ceci ne procure qu'un faible niveau
	de s&eacute;curit&eacute; mais devrait n&eacute;anmoins 	    
	enp&ecirc;cher que n'importe qui modifie vos abonnements. 	    
	<b>N'utilisez pas un mot de passe existant</b> car il 	    
	arrivera qu'il vous soit renvoy&eacute; par courriel en clair.  		   </font>
              <p><font size="-1">Si vous choisissez de ne pas en fournir, un mot de
 		passe vous sera g&eacute;n&eacute;r&eacute; 
		automatiquement, et il vous sera envoy&eacute; une fois que
 		votre requ&ecirc;te d'abonnement aura &eacute;t&eacute; 
		confirm&eacute;e. Il vous sera toujours possible de vous
 		faire envoyer votre mot de passe par courriel lorsque vous 
		visualisez vos options personnelles. 	    
		<MM-Reminder></font></p>
              </td>
       </tr>
         <tr>
 	<td bgcolor="#dddddd">Choisissez un mot de passe:</td>
 	<td><MM-New-Password-Box></td>
 	<td>&nbsp;</td>
            </tr>
       <tr>
  	<td bgcolor="#dddddd">Confirmer le mot de passe:</td>
 	<td><MM-Confirm-Password></td>
 	<td>&nbsp; </td>
            </tr>
       <tr>
         <td bgcolor="#dddddd">Dans quelle langue voulez-vous que le 
	syst&egrave;me vous parle?</td>
          <td> <MM-list-langs></td>
         <td>&nbsp; </td>
            </tr>
       <tr>
 	<td>Souhaitez-vous recevoir les messages de la liste dans
	un seul courriel quotidien group&eacute; ? 	  
	</td>
 	<td><MM-Undigest-Radio-Button> Non 	    
	    <MM-Digest-Radio-Button>  Oui 
	</td>
       </tr>
	<mm-digest-question-end>
       <tr>
 	<td colspan="3"> 	  
              <center><MM-Subscribe-Button></center>
        </table>
     <MM-Form-End>    
      </ul>
     </td>
     </tr>
     <tr>
       <td colspan="2" width="100%" bgcolor="#fff0d0"> 	
	<a name="subscribers">         
	<b><font color="#000000">Abonn&eacute;s de 
	<MM-List-Name></font></b></a>
       </td>
     </tr>
     <tr>
       <td colspan="2" width="100%"> 	
	<MM-Roster-Form-Start> 	
	<MM-Roster-Option>
 		<MM-Form-End>
      	<p> 	
	<MM-Options-Form-Start> 	
	<MM-Editing-Options> 		
		<MM-Form-End> 
        </td>
     </tr>
</table>
 <MM-Mailman-Footer>
</body>
</html>
