<!-- $Revision: 6597 $ -->     
  <html>
  <head>
  <link rel="SHORTCUT ICON" href="<mm-favicon>">
  <title><MM-Presentable-User> configuration d'abonnement sur <MM-List-Name></title>
</head>
  <body bgcolor="#ffffff">
	<table width="100%" border="0" cellspacing="0" cellpadding="5">
    	<tr><td width="100%" bgcolor="#99ccff"><b> 	
	<font color="#000000" size="+1"> 	
	<MM-List-Name> Configuration de l'abonnement de  	
	<MM-Presentable-User>
	</font></b></td>
    </tr>
</table>
<p> 
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td>     
	Etat de l'abonnement de <b><MM-Presentable-User></b>,     
	mot de passe et options pour la liste de diffusion <MM-List-Name>. 
  	</td>
      	<td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
   </tr>
    <tr>
     <td colspan="2">     
	<MM-Case-Preserved-User>      

	<MM-Disabled-Notice>

      <p><mm-results>
      </td>
   </tr>
 
</table>
  <MM-Form-Start> 
<p> 
<table width="100%" border="0" cellspacing="0" cellpadding="5">
    <tr>
      <td width="100%" bgcolor="#fff0d0" colspan="2">
	<font color="#000000">         
	<b>Modification de vos informations d'abonnement &agrave;         
	<MM-List-Name></b>
	</font></td>
    </tr>
  		<tr><td colspan="2">Vous pouvez modifier l'adresse avec         
	laquelle vous vous &ecirc;tes abonn&eacute; &agrave; la liste 
	en fournissant la nouvelle adresse dans les champs ci-dessous. 
	Notez que le courriel de demande de confirmation sera 
	envoy&eacute; &agrave; la nouvelle adresse, et que la 
	modification ne prendra effet que lorsque vous l'aurez 
	confirm&eacute;e.  		
      
		<p>La demande de confirmation sera caduque au bout de 		
		<mm-pending-days>.
      	   
      <p>Vous pourrez accessoirement changer votre nom complet 
	(i.e. <em>Roger Dupont</em>)

      <p>Si vous souhaitez changer vos informations d'abonnement 
	pour toute les listes sur <mm-host>, cochez la case
	<em>Changer globalement</em>. 

      </td>
    </tr>
 	<tr>
      <td>
      <center> 	
      <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr>
            <td bgcolor="#dddddd"><div align="right">Nouvelle adresse :</div>
 		</td>
             <td><mm-new-address-box></td>
          </tr>
            <tr>
            <td bgcolor="#dddddd"><div align="right">Confirmer l'adresse :</div>
            </td>
             <td><mm-confirm-address-box></td>
          </tr>
      	</tr>    
      </table>
      </center>
 </td>
 <td>
      <center> 
      <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
          <tr>
            <td bgcolor="#dddddd">
            <div align="right">Votre Nom Complet 
		(facultatif) :</div>
            </td>
              <td><mm-fullname-box></td>
              </tr>
      </table>
      </center>
          </td>
          </tr>
      <tr><td colspan="2"><center><mm-change-address-button>
      <p><mm-global-change-of-address>Changer globalement</center>
      </td>
      </tr>
</table>

<p> 
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td width="50%" bgcolor="#fff0d0"><font color="#000000"> 	
	<b>R&eacute;silier l'abonnement &agrave; <MM-List-Name></b>
      	<td width="50%" bgcolor="#fff0d0"><font color="#000000"> 	
	<b>Vos autres abonnements sur <MM-Host></b> 	
	</font></td></tr>
  	
	<tr>
 	  <td>
	Cochez la case confirmation et cliquez sur ce bouton pour 	 
	r&eacute;silier votre abonnement &agrave; cette liste. 
	<strong>Attention :</strong> Cette action prendra effet
	imm&eacute;diatement ! 	  
      	<p>
      	<center><MM-Unsubscribe-Button></center>
      	</td>
  	<td> 	  
	Vous pouvez voir la liste de toutes les listes auxquelles vous 
	&ecirc;tes abonn&eacute; sur <mm-host>. A utiliser si vous 	  
	voulez avoir les m&ecirc;mes options pour cette liste et les
	autres auxquelles vous vous &ecirc;tes abonn&eacute;.
<p>
<center><MM-Other-Subscriptions-Submit></center>
</td></tr>
</table>
  
<table width="100%" border="0" cellspacing="0" cellpadding="5">
    <tr>
      <td colspan="2" width="100%" bgcolor="#fff0d0"><font color="#000000"> 
<b>Votre mot de passe pour <MM-List-Name></b>
 </font></td></tr>

<tr valign="top"><td width="50%">
<a name=reminder> </a>
<center> 
<h3>Egar&eacute; votre mot de passe ?</h3>
</center>
Cliquez sur ce bouton pour qu'il vous soit envoy&eacute;
&agrave; votre adresse d'abonnement.    
<p><MM-Umbrella-Notice>
<center> 
<MM-Email-My-Pw>
</center>
</td>

<td width="50%"> 
<a name=changepw>
<center> 
<h3>Changer votre mot de passe</h3>
      <table border="0" cellspacing="2" cellpadding="2" width="70%" cols="2">
        <tr>
        <td bgcolor="#dddddd"><div align="right">Nouveau mot de passe :</div></td>
 	<td><MM-New-Pass-Box></td>
       </tr>
       <tr>
	 <td bgcolor="#dddddd"><div align="right">Confirmer le mot de passe :</div></td>
	 <td><MM-Confirm-Pass-Box></td>
       </tr>
      </table>
	<MM-Change-Pass-Button>
      <p><center><mm-global-pw-changes-button>Changez globalement. 
        </center>

</table>

<p> 	
	<table width="100%" border="0" cellspacing="0" cellpadding="5">
    	<tr><td width="100%" bgcolor="#fff0d0"><font color="#000000"> 
<b>Vos options d'abonnement &agrave; <MM-List-Name></b> 
</font></td></tr>
</table>

<p> 
<i><strong>Les options coch&eacute;es sont actives.</strong></i>  </p>
<p>Notez que certaines options ont une case <em>Changer globalement(ou Param&egrave;tre
global)</em>.  Cocher cette case signifie que la modification va s'appliquer
&agrave; toutes les listes auxquelles vous &ecirc;tes abonn&eacute; sur <mm-host>
. Cliquez sur <em>Afficher mes autres abonnements</em> pour voir les autres
listes auxquelles vous &ecirc;tes abonn&eacute;.
<p> 
<table border="0" cellspacing="3" cellpadding="4" width="100%">

<tr><td bgcolor="#cccccc">
<a name="disable"> 
<strong>R&eacute;ception des messages</strong></a><p> Choisissez 
<em>Activ&eacute;</em> pour recevoir les messages adress&eacute;s
&agrave; la liste. Choisissez <em>D&eacute;sactiv&eacute;</em> si vous voulez
rester abonn&eacute; mais ne souhaitez pas recevoir les messages de la liste
pendant un moment (e.g. si vous partez en vacance). Si vous d&eacute;sactivez
la remise des courriels, n'oubliez pas de revenir la r&eacute;activer au
retour des vacances; la remise ne se r&eacute;activera pas automatiquement. 
</td><td bgcolor="#cccccc"> 
<mm-delivery-enable-button>Activ&eacute;<br>
<mm-delivery-disable-button>D&eacute;sactiv&eacute;<p> 
<mm-global-deliver-button><i>Param&egrave;tre global</i>      
</td></tr>

<tr><td bgcolor="#cccccc">  
<strong> Activer le mode Group&eacute; ?</strong><p>  
Si vous activez le mode group&eacute;, vous recevrez les messages 
regroup&eacute;s en un seul (une fois par jour en g&eacute;n&eacute;ral, peut
&ecirc;tre plus sur une liste active) au lieu de les recevoir un par un.
Si vous d&eacute;sactivez le mode group&eacute;, vous recevrez tout de m&ecirc;me
un dernier envoi group&eacute;.
</td><td bgcolor="#cccccc"> 
<MM-Undigest-Radio-Button>Off<br>
<MM-Digest-Radio-Button>On
</td></tr>

<tr><td bgcolor="#cccccc">  
<strong> Recevoir les digests en MIME ou en Texte brut ?</strong><p>  
Votre client de messagerie pourrait ou non supporter les digests
MIME.  Les digests MIME sont g&eacute;n&eacute;ralement pr&eacute;f&eacute;r&eacute;s,
mais si vous avez des probl&egrave;mes pour les lire, choisissez du texte
brut.
</td><td bgcolor="#cccccc">  
<MM-Mime-Digests-Button>MIME<br>
<MM-Plain-Digests-Button>Texte brut <p> 
<mm-global-mime-button><i>Param&egrave;tre global</i>
</td></tr>

<tr><td bgcolor="#cccccc">  
<strong>Recevez les messages que vous envoyez &agrave; la liste ?</strong><p>  
Par d&eacute;faut vous recevez une copie de chaque message que
vous envoyez &agrave; la liste. Si vous ne voulez pas recevoir cette copie, 
choisissez <em>Non</em>. 
</td><td bgcolor="#cccccc"> 
<mm-dont-receive-own-mail-button>Non<br>
 <mm-receive-own-mail-button>Oui 
</td></tr>

<tr><td bgcolor="#cccccc"> 
<strong>Recevoir un accus&eacute; de r&eacute;ception pour chaque 
message envoy&eacute; &agrave; la liste ? </strong><p>
</td><td bgcolor="#cccccc"> 
<mm-dont-ack-posts-button>Non<br>
 <mm-ack-posts-button>Oui 
</td></tr>

<tr><td bgcolor="#cccccc"> 
<strong>Recevoir un rappel de votre mot passe pour cette liste ?</strong><p> 
Une fois par mois, vous recevrez un courriel contenant un rappel
de votre mot de passe pour chaque liste &agrave; laquelle vous &ecirc;tes
abonn&eacute; sur ce serveur.  Vous pouvez d&eacute;sactiver ce rappel pour
les listes de votre choix en choisissant <em>Non</em> pour cette option.
Si vous le faites pour toute les listes auxquelles vous &ecirc;tes abonn&eacute;,
aucun courriel ne vous sera envoy&eacute;. </p>
</td><td bgcolor="#cccccc"> 
<mm-dont-get-password-reminder-button>Non<br>
<mm-get-password-reminder-button>Oui<p> 
<mm-global-remind-button><i>Param&egrave;tre global</i>
</td></tr>

<tr><td bgcolor="#cccccc">  
<strong>Ne pas appara&icirc;tre dans la liste des abonn&eacute;s ?</strong><p> 
Lorsque quelqu'un visualise la liste des abonn&eacute;s, votre
adresse courriel est normalement affich&eacute;e (d'une fa&ccedil;on obscure
pour contrarier "les spammers"). Si vous ne voulez pas de votre
adresse dans cette liste d'abonn&eacute;s, choisissez <em>Oui</em> pour cette
option. 
</td><td bgcolor="#cccccc"> 
<MM-Public-Subscription-Button>Non<br>
<MM-Hide-Subscription-Button> Oui  
</td></tr>

<tr><td bgcolor="#cccccc"> 
<strong>Quelle langue pr&eacute;f&eacute;rez-vous ?</strong><p>
</td><td bgcolor="#cccccc"> 
<MM-list-langs>
</td></tr>

<tr><td bgcolor="#cccccc">  
<strong>A quelles cat&eacute;gories de 	th&egrave;mes souhaitez-vous vous abonner ?  </strong><p> 
En s&eacute;lectionnant un ou plusieurs th&egrave;mes, vous pourrez 
limiter le trafic sur la liste de diffusion et ainsi recevoir juste un
sous ensemble des messages. Les messages vous seront envoy&eacute;s ou
pas, selon qu'ils concordent avec l'un des th&egrave;mes que vous avez 
s&eacute;lectionn&eacute;. 
<p>Si un message ne correspond &agrave; aucun des th&egrave;mes
que vous avez s&eacute;lectionn&eacute;, il sera assujetti &agrave;
l'option ci-dessous. Si vous ne s&eacute;lectionnez aucun th&egrave;me, 
vous recevrez tous les messages de la liste de diffusion.
</td><td bgcolor="#cccccc">          
<mm-topics>
</td></tr>

<tr><td bgcolor="#cccccc">          
<strong>Voulez-vous recevoir les messages qui ne correspondent 
&agrave; aucun th&egrave;me ?</strong><p>   		
Cette option n'est active que si vous s&eacute;lectionnez ci-dessus
au moins un th&egrave;me. Elle d&eacute;termine la r&egrave;gle de gestion
des messages qui ne cadrent avec aucun th&egrave;me.  Choisir <em>Non</em> 
signifie que vous ne recevrez pas les messages qui ne correspondent &agrave;
aucun th&egrave;me alors qu'un <em>Oui</em> signifie que vous les recevrez. 
		 
<p>Si aucun th&egrave;me n'a &eacute;t&eacute; s&eacute;lectionn&eacute;
ci-dessus, vous recevrez tous les messages envoy&eacute;s &agrave; la liste. 
      
</td><td bgcolor="#cccccc">          
<mm-suppress-nonmatching-topics>Non<br>
<mm-receive-nonmatching-topics>Oui  
</td></tr>

<tr><td bgcolor="#cccccc">          
<strong>Refuser les copies multiples des messages ?</strong><p> 		 
Lorsque votre adresse se trouve dans l'un des en-t&ecirc;tes 
<tt>A:</tt> ou <tt>Cc:</tt> d'un message adress&eacute; &agrave; la liste,
vous pouvez choisir de ne pas recevoir de message suppl&eacute;mentaire
en provenance de la liste. Choisissez 
<em>Oui</em> pour &eacute;viter de recevoir plusieurs copies; 
<em>Non</em> si vous voulez les avoir.  		

<p>Si la liste accepte les messages personnalis&eacute;s des 		 
abonn&eacute;s et que vous avez opt&eacute; pour la reception des 
copies multiples, alors chaque copie suppl&eacute;mentaire 
aura l'en-t&ecirc;te <tt>X-Mailman-Copy: yes</tt>.

</td><td bgcolor="#cccccc">          
<mm-receive-duplicates-button>Non<br>
<mm-dont-receive-duplicates-button>Oui<p>          
<mm-global-nodupes-button><i>Param&egrave;tre global</i>
  
</td></tr>
<tr><td colspan="2"> 
<center><MM-options-Submit-button></center>
</td></tr></table>
</center>

<p> 
<MM-Form-End>  

<MM-Mailman-Footer>

</body>
</html>
