//
//  CC_kernel_development.xcconfig
//  CommonCrypto
//
//  InfoSec Standard Configuration
//  Copyright 2010 Apple Inc. All rights reserved.
//

// This XCCONFIG file defines the settings for kernel kext targets

GCC_ENABLE_KERNEL_DEVELOPMENT = YES
KERNEL_MODULE = YES
WRAPPER_EXTENSION = kext

// GCC_WARN_PEDANTIC is a problem for non-ISO compliant kernel headers
GCC_WARN_PEDANTIC = NO
DEAD_CODE_STRIPPING = NO

// Standard paths for kexts
INSTALL_PATH = "$(SYSTEM_LIBRARY_DIR)/Extensions"
PRIVATE_HEADERS_FOLDER_PATH = "$(KEXT_FRAMEWORK)/Contents/PrivateHeaders/$(KEXT_FAMILY_NAME)"
PUBLIC_HEADERS_FOLDER_PATH = "$(KEXT_FRAMEWORK)/Contents/Headers/$(KEXT_FAMILY_NAME)"
