//
//  CC_static.xcconfig
//  CommonCrypto
//
//  Created by Jim Murphy on 1/11/10.
//  Copyright 2010 Apple. All rights reserved.
//

// This XCCONFIG file defines settings that specific for static libraries

STANDARD_C_PLUS_PLUS_LIBRARY_TYPE = Dynamic

EXECUTABLE_EXTENSION = a

LIBRARY_STYLE = Static