<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>graphviz</string>
	<key>OpenSourceVersion</key>
	<string>1.12</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.graphviz.org/</string>
	<key>OpenSourceURL</key>
	<string>http://www.graphviz.org/pub/graphviz/ARCHIVE/graphviz-1.12.tar.gz</string>
	<key>OpenSourceSHA1</key>
	<string>c41ddeb8228c5957c9fad7ae7975eefec648682c</string>
	<key>OpenSourceImportDate</key>
	<string>2003-11-03</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>None</string>
	</array>
	<key>OpenSourceLicense</key>
	<string>AT&amp;T GRAPHVIZ SOURCE CODE AGREEMENT</string>
	<key>OpenSourceLicenseFile</key>
	<string>graphviz.txt</string>
</dict>
</plist>
