Aquesta p&agrave;gina cont&eacute; un resum del conjunt actual de sol&middot;licituds
administratives que requereixen la vostra aprovaci&oacute; a la
<a href="%(adminurl)s"> llista de correu <em>%(listname)s</em></a>.
Primer de tot, i si &eacute;s que n'hi ha, trobareu la llista de sol&middot;licituds
de subscripci&oacute; i cancel&middot;laci&oacute; pendents, seguides de qualsevol enviament
retingut en espera de la vostra aprovaci&oacute;.

<p>Seleccioneu l'acci&oacute; a dur a terme per a cada sol&middot;licitud d'administraci&oacute;. Un cop h&agrave;giu acabat, feu clic al bot&oacute; <b>Envia totes
les dades</b>. Tamb&eacute; hi ha <a href="%(detailsurl)s">intruccions m&eacute;s detallades</a>
disponibles.

<p>Tamb&eacute; podeu <a href="%(viewallurl)s">visualitzar els detalls</a> de
tots els missatges retinguts.
