Aquesta p&agrave;gina cont&eacute; un subconjunt dels missatges de la llista de 
correu <em>%(listname)s</em> que estan sent retinguts esperant la seva aprobaci&oacute;. 
Actualment mostra %(description)s

<p>Per a cada petici&oacute; administrativa, si us plau esculli l'acci&oacute; a fer
fent click sobre el botó <b>Enviar totes les dades</b> un cop hagi acabat. Trobar&agrave; informaci&Oacute; 
m&eacute;s detallada <a href="%(detailsurl)s">aqu&iacute;</a>.

<p>Pot tamb&eacute; <a href="%(summaryurl)s">veure un sumari</a> de totes les 
  peticions pendents.. 
