    </ul>
<p>
      <a name="end"><b>Data de l'&uacute;ltim missatge:</b></a> 
       <i>%(lastdate)s</i><br>
    <b>Data d'arxivament:</b> <i>%(archivedate)s</i>
    <p>
   <ul>
         <li> <b>Missatges ordenats per:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
             <li><b><a href="%(listinfo)s">M&eacute;s informaci&oacute; sobre aquesta llista...
                    </a></b></li>
     </ul>
     <p>
     <hr>
     <i>Aquest arxiu l'ha generat el
     Pipermail %(version)s.</i>
  </BODY>
</HTML>
