<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
  <HEAD>
     <title>The %(listname)s Archives</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(meta)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     
<h1>Els Arxius de %(listname)s </h1>
     
<p> Pot obtenir <a href="%(listinfo)s">m&eacute;s informaci&oacute; sobre aquesta 
  llistat</a> o b&eacute; pot <a href="%(fullarch)s">descarregar l'arxiu raw sencer</a> 
  (%(size)s). </p>
     %(noarchive_msg)s
     %(archive_listing_start)s
     %(archive_listing)s
     %(archive_listing_end)s
     </BODY>
     </HTML>
