Aquest text pot incloure <a href="http://www.python.org/doc/current/lib/typesseq-strings.html">cadenes 
de format Python</a> les quals es resolen comparant-les amb un llistat d'atributs. 
La llista de les substitucions permeses &eacute;s la seg&uuml;ent: 
<ul>
    
  <li><b>real_name</b>- El nom &quot;bonic&quot; de la llista; normalment el nom 
    de la llista amb capitalitzaci&oacute;. 
  <li><b>list_name</b> - El nom pel qual la llista &eacute;s identificada per 
    URLs en les que es distingeix entre maj&uacute;scules i min&uacute;scules.. 
  <li><b>host_name</b> - The fully qualified domain name that the list server 
    runs on. 
  <li><b>web_page_url</b> - La URL b&agrave;sica de Mailman. Pot ser afegida amb, 
    e.g. <em>listinfo/%(list_name)s</em> per a produir la p&agrave;gina d'informaci&oacute; 
    de la llista per la llista de correus.
  <li><b>description</b> - La descripci&oacute; breu de la llista de correus.. 
  <li><b>info</b> - La descripci&oacute; complerta de la llista de correus.. 
  <li><b>cgiext</b> - La extensi&oacute; afegida als scripts CGI. 
</ul>
