<!-- $Revision: 1.1.1.1 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> Info Page</TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    
    <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0"> <B><FONT COLOR="#000000">Sobre</FONT><FONT COLOR="#000000"><MM-List-Name></FONT></B> 
    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> Per veure la col.lecci&oacute; d'enviaments previs a la llista, visiti 
        els Arxius.<MM-Restricted-List-Message> </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0"> <B><FONT COLOR="#000000">Usant</FONT><FONT COLOR="#000000"><MM-List-Name></FONT></B> 
    </TD>
      </TR>
      <tr>
	<td colspan="2"> Per enviar un missatge a tots els membres de la llistat, 
      envii un email a 
      <p>Es pot subscriure a la llista, o canviar la seva actual subscripci&oacute;, 
        en les seccions seg&uuml;ents..
    </td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0"> <B><FONT COLOR="#000000">Subscribint-se</FONT><FONT COLOR="#000000"><MM-List-Name></FONT></B> 
    </TD>
      </TR>
      
  <tr> 
    <td colspan="2">Per subscriure's ompli el seg&uuml;ent formulari. <MM-List-Subscription-Msg> 
      <ul>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
          <TR> 
            <TD BGCOLOR="#dddddd" WIDTH="55%">El seu compte de correu:</TD>
            <TD WIDTH="33%"><MM-Subscribe-Box> </TD>
            <TD WIDTH="12%">&nbsp;</TD>
          </TR>
          <tr> 
            <td bgcolor="#dddddd" width="55%">El seu nom (opcional):</td>
            <td width="33%"><mm-fullname-box></td>
            <TD WIDTH="12%">&nbsp;</TD>
          </TR>
          <TR> 
            <TD COLSPAN="3"><FONT SIZE=-1> Podeu entrar una clau de pas en la 
              casella seg&uuml;ent. Aix&ograve; nom&eacute;s d&oacute;na una seguretat 
              baixa, per&ograve; evita que altra gent canvii la configuraci&oacute; 
              de la seva subscripci&oacute;. <b>NO utilitzi una clau de pas valuosa 
              </b>, ja que de vegades podr&agrave; ser re-enviada a vost&egrave; 
              via email en format de text visible. Si desitja no entrar cap clau 
              de pas, se li proveir&agrave; d'una generada autom&agrave;ticament, 
              i la rebr&agrave; un cop hagi confirmat la seva subscripci&oacute;. 
              A m&eacute;s, sempre pot demanar un recordatori de la seva clau 
              quan editi les seves opcions personals. <MM-Reminder> </TD>
          </TR>
          <TR> 
            <TD BGCOLOR="#dddddd">Esculli una clau de pas:</TD>
            <TD><MM-New-Password-Box></TD>
            <TD>&nbsp;</TD>
          </TR>
          <TR> 
            <TD BGCOLOR="#dddddd"><p>Torni a escriure la clau:</p></TD>
            <TD><MM-Confirm-Password></TD>
            <TD>&nbsp; </TD>
          </TR>
          <tr> 
            <TD BGCOLOR="#dddddd">En quin idioma vol mostrar els seus missatges?</TD>
            <TD> <MM-list-langs></TD>
            <TD>&nbsp; </TD>
          </TR>
          <mm-digest-question-start> 
          <tr> 
            <td>Vol rebre la llista de correu compilada di&agrave;riament en un 
              sol mail? </td>
            <td><MM-Undigest-Radio-Button> No <MM-Digest-Radio-Button> Yes </TD>
          </tr>
          <mm-digest-question-end> 
          <tr> 
            <td colspan="3"> <center>
                <MM-Subscribe-Button></P></center> 
        </TABLE>
        <MM-Form-End> </ul>
    </td>
    </tr>
    <TR>
      
    <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0"> <a name="subscribers"> <B><FONT COLOR="#000000"><MM-List-Name> 
      Subscriptors</FONT></B></a></TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
