<!-- $Revision: 5865 $ -->
<HTML>
  <HEAD>
    <TITLE>P&agrave;gina d'informaci&oacute; de la llista <MM-List-Name></TITLE>

  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
        <tr>
	    <td colspan="2">
	      <p> 
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000">Quant a la llista <MM-List-Name></FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
           </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> Per a veure l'historial d'enviaments, aneu als 
		  arxius <MM-Archive> de la llista <MM-List-Name></MM-Archive>.
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Utilitzaci&oacute; de la llista <MM-List-Name></FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  Per a enviar un missatge a tots els membres de la llista, 
	  envieu un correu electr&ograve;nic a <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>.

	  <p>A les seccions seg&uuml;ents us podreu subscriure a
	    la llista, o canviar la vostra subscripci&oacute; actual. </p>
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Com subscriure's a la llista <MM-List-Name></FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	    Ompliu el formulari seg&uuml;ent per a
	      subscriure-us a <MM-List-Name>.
	  <MM-List-Subscription-Msg>
      <ul>

	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">La vostra adre&ccedil;a electr&ograve;nica:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%"> </TD></TR>
      <tr>
        <td bgcolor="#dddddd" width="55%">El vostre nom (opcional):</td>
        <td width="33%"><mm-fullname-box></td>
	<TD WIDTH="12%"> </TD></TR>
      <TR>
	<TD COLSPAN="3"><FONT SIZE=-1>Podeu introduir una contrasenya al quadre seg&uuml;ent. Aix&ograve; proporciona nom&eacute;s
	    certa seguretat, per&ograve; evita que altres puguin canviar la configuraci&oacute; de la
	    vostra subscripci&oacute;. Sobretot <b>NO utilitzeu una contrasenya valuosa</b>,
	    ja que pot ser que a vegades se us re-envi&iuml; per correu electr&ograve;nic en
	    format de text visible.

            <p>En cas que no vulgueu introduir cap
            contrasenya, se us n'assignar&agrave; una generada autom&agrave;ticament,
            la qual rebreu un cop h&agrave;giu confirmat la vostra subscripci&oacute;. A m&eacute;s,
            sempre podreu sol&middot;licitar-ne un recordatori quan
            editeu les vostres opcions personals. 
	    <MM-Reminder>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">Trieu una contrasenya:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD> </TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">Torneu a escriure la contrasenya:</p>
	<TD><MM-Confirm-Password></TD>
	<TD>  </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd">En quina llengua voleu
que es mostrin els vostres missatges?</TD>
        <TD> <MM-list-langs></TD></TR>
      <mm-digest-question-start>
      <tr>
	<td>Voleu rebre el correu de la llista compilat en un sol missatge enviat a diari?
	  </td>
	<td><MM-Undigest-Radio-Button> No
	    <MM-Digest-Radio-Button>  S&iacute;
	</TD>
      </tr>
      <mm-digest-question-end>
      <tr>
              <td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
      </ul>
      </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
      <a name="subscribers">
        <B><FONT COLOR="#000000">Subscriptors de la llista <MM-List-Name></FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
