<!-- $Revision: 6665 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User> membership configuration for <MM-List-Name>
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR>
    <TD WIDTH="100%" BGCOLOR="#99CCFF"><B> <FONT COLOR="#000000" SIZE=+1> <MM-List-Name> 
      Configuraci&oacute; dels subscriptors de la llista de correu<MM-Presentable-User> 
      </FONT></B></TD>
  </TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr>
    <td> estat de la subscripci&oacute;, clau de pas, i opcions de la llista de 
      correu.</td>
    <td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR>
    <TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2"> <FONT COLOR="#000000"> <B>Canviant 
      la vostra informaci&oacute; de subscripci&oacute;</B></FONT></TD>
  </TR>
    <tr>
    <td colspan="2">Podeu canviar l'adre&ccedil;a amb la que esteu subscrits a 
      la llista de correu entrant la nova adre&ccedil;a en les caselles seg&uuml;ents. 
      Un email de confirmaci&oacute; ser&agrave; enviat a la nova adre&ccedil;a, 
      i el canvi haur&agrave; de ser confirmat abans de ser processat. 
      <p>Confirmations time out after about <mm-pending-days>.

        
      <p>Tamb&eacute; pot opcionalment afegir o canviar el seu nom real (per exemple 
        <em>John Smith</em>). 
      <p>Si voleu que els canvis que feu a la vostra configuraci&oacute; siguin 
        visibles a totes les llistes a les que esteu subscrit, seleccioneu la 
        casella <em>Canvi Global.</em>
    </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">New address:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Again to
            confirm:</div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">El seu nom (opcional):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Canvi Global
</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>donar-se de baixa <MM-List-Name></B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Les seves altres<MM-Host> subscripcions</B>
        </FONT></TD></TR>

    <tr>
    <td> <p>Seleccioni la casella de confirmaci&oacute; i premi aquest bot&oacute; 
        per donar-se de baixa d'aquesta llista de correu. <strong>Av&iacute;s:</strong> 
        Aquesta acci&oacute; s'executar&agrave; inmediatament! </p>
      <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td> Pot veure una llista de les altres llistes de correu a les quals tamb&eacute; 
      est&agrave; subscrit. Faci servir aix&ograve; si vol aplicar els mateixos 
      canvis d'opcions en les dem&eacute;s llistes de correu. 
      <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR>
    <TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000"> <B>La 
      seva Clau de Pas</B></FONT></TD>
  </TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Ha oblidat la clau?</h3>
        </center>
        Premi aquest bot&oacute; per rebre un mail amb la seva clau de pas a la 
      seva adre&ccedil;a de correu. 
      <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Canviar la seva clau</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Nova clau:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Confirmi la clau</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center>
          <mm-global-pw-changes-button>Canvi Global. 
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR>
    <TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000"> <b>Les seves Opcions 
      de Subscripci&oacute;</b></FONT></TD>
  </TR>
</table>

<p> <i><strong>Els valors actuals estan seleccionats.</strong></i> 
<p>Fixi's que algunes de les opcions tenen una casella de <em>Canvi Global</em>. 
  Seleccionar aquestes caselles far&agrave; que els canvis es produeixin en totes 
  les llistes de correu en les que vost&egrave; &eacute;s membre. Faci click sobre 
  <em>LLista les meves altres subscripcions</em> per veure en quines altres llistes 
  de correu est&agrave; subscrit. 
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr>
    <TD BGCOLOR="#cccccc"> <a name="disable"> <strong>Enviament de mail</strong></a> 
      <p> Seleccioni<em> Habilitat</em> per tal de rebre missatges enviats a aquesta 
        llista de correut. Seleccioni <em>Deshabilitat</em> si vol continuar subscrit 
        per&ograve; no vol rebre cap mail durant un temps (per exemple en el cas 
        de que marxi de vacances). Si deshabilita aquesta opci&oacute;, recordi 
        de habilitar-la de nou quan torni, ja que aix&ograve; no succeeix autom&agrave;ticament.
    </td>
    <td bgcolor="#cccccc"> <mm-delivery-enable-button>Habilitat<br>
      <mm-delivery-disable-button>Deshabilitat 
      <p> <mm-global-deliver-button><i>Canvi Global</i></td></tr>

    <tr>
    <TD BGCOLOR="#cccccc"> <strong>Activar mode de compilaci&oacute;</strong> 
      <p> Si activeu el mode de compilaci&oacute;, rebreu tots els missatges junts 
        (normalment un per dia, per&ograve; probablement m&eacute;s d'un de les 
        llistes ocupades), en comptes de forma individual en el moment en que 
        s&oacute;n enviats. Si el mode de compilaci&oacute; es canvia d'activat 
        a desactivat es rebr&agrave; una &uacute;ltima compilaci&oacute; abans 
        de comen&ccedil;ar a rebre'ls un per un. </td>
    <td bgcolor="#cccccc"> <MM-Undigest-Radio-Button>Desactivat<br>
      <MM-Digest-Radio-Button>Activat</td>
  </tr>
        
    <tr>
    <TD BGCOLOR="#cccccc"> <strong>Compilacions MIME o de text pla?</strong> 
      <p> Depenent de quin programa de correu faci servir podr&agrave; rebre compilacions 
        MIME. En general, es prefereixen les compilacions MIME, per&ograve; si 
        teniu problemes a l'hora de llegir-les, seleccioneu compilacions de text 
        pla. </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
      <MM-Plain-Digests-Button>Text pla 
      <p> <mm-global-mime-button><i>Canvi Global</i> </td></tr>
        
    <tr>
    <TD BGCOLOR="#cccccc"> <strong>Rebre els seus propis missatges a la llista?</strong> 
      <p> Ordin&agrave;riament, rebreu una c&ograve;pia de cada missatge que envieu 
        a la llistat. Si no voleu rebre aquesta c&ograve;pia, seleccioneu <em>No.</em>
    </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>No<br>
      <mm-receive-own-mail-button>S&iacute;</td>
  </tr>

    <tr>
    <TD BGCOLOR="#cccccc"> <strong>Rebre un mail de reconeixement quan envii un 
      missatge a la llista?</strong> 
      <p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>No<br>
      <mm-ack-posts-button>S&iacute;</td>
  </tr>

    <tr>
    <td bgcolor="#cccccc"> <strong>Rebre un mail de recordatori de la clau de 
      pas per a la llista?</strong> 
      <p> Un cop al mes, rebreu un mail de recordatori amb les seves claus de 
        pas per a cada una de les llistes en les que estigui subscrit. Pot cancelar 
        aquesta opci&oacute; seleccionant <em>No</em>. Si ho fa, no rebr&agrave; 
        cap mail de recordatori.
    </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>No<br>
      <mm-get-password-reminder-button>S&iacute; 
      <p> <mm-global-remind-button><i>Canvi Global</i> </td></tr>

    <tr>
    <TD BGCOLOR="#cccccc"> <strong>Treure's de la llista de membres?</strong> 
      <p> Quan alg&uacute; revisa la llista de membres, la seva adre&ccedil;a 
        d'email normalment hi apareix (en un color fosc per tal de frustrar als 
        recollidors d'spam). Si vost&egrave; no vol que la seva adre&ccedil;a 
        d'email aparegui en el llistat de membres seleccioni <em>S&iacute; </em> 
        per aquesta opci&oacute;.
    </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>No<br>
      <MM-Hide-Subscription-Button><em>S&iacute;</em></td>
  </tr>

    <tr>
    <TD BGCOLOR="#cccccc"> <strong>Quina llengua prefereix?</strong> 
      <p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr>
    <td bgcolor="#cccccc"> <strong>En quines categories de temes li agradaria 
      subscriure's ?</strong> 
      <p> Seleccionant un o m&eacute;s temes, podr&agrave; filtrar el tr&agrave;fic 
        de la llista de correu, i aix&iacute; rebre nom&eacute;s una part de tots 
        els missatges. Si un missatge coincideix amb alg&uacute;n dels temes que 
        hagi seleccionat, aleshores rebr&agrave; aquest missatge, en cas contrari 
        no li ser&agrave; enviat. 
      <p>Si un missatge no coincideix amb cap tema, aleshores la norma a seguir 
        de l'opci&oacute; seg&uuml;ent. Si no escull cap tema d'inter&egrave;s 
        rebr&agrave; tots els missatges de la llista de correu.
    </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr>
    <td bgcolor="#cccccc"> <strong>Vol rebre missatges que no coincideixen amb 
      cap filtre de temes d'inter&eacute;s?</strong> 
      <p> Aquesta opci&oacute; nom&eacute;s l'afecta en cas de que estigui subscrit 
        en almenys una categoria de temes d'inter&eacute;s de l'opci&oacute; anterior. 
        Descriu quina ha de ser la norma d'enviament a seguir per aquells missatges 
        que no coincideixin amb cap categoria de temes. Escollir <em> No </em>significa 
        no rebre els missatges que no coincideixin amb cap filtre de temes, mentres 
        que escollir <em>S&iacute;</em> significa rebre aquesta mena de missatges.
      <p>Si no ha seleccionat cap tema d'inter&egrave;s en l'opci&oacute; anterior, 
        aleshores rebr&agrave; tots els missatges enviats a la llista de correu.
      </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>No<br>
      <mm-receive-nonmatching-topics>S&iacute;</td>
  </tr>

    <tr>
    <td bgcolor="#cccccc"> <strong>Evitar les c&ograve;pies duplicades dels missatges?</strong> 
      <p> Quan vost&egrave; est&agrave; expl&iacute;citament llistat en els encap&ccedil;alaments 
        <tt>To:</tt> o<tt> Cc:</tt> d'un missatge , pot optar a no rebre una altra 
        c&ograve;pia de la llista de correu.. Seleccioni <em>S&iacute;</em> per 
        no rebre m&eacute;s c&ograve;pies de la llista de correu, o seleccioni 
        <em> No </em>si vol rebre-les.
      <p>Si la llista t&eacute; habilitada l'opci&oacute; de missatges personalitzats 
        de membre, i vost&egrave; escull de rebre les c&ograve;pies, cada c&ograve;pia 
        tindr&agrave; un encap&ccedil;alament <tt>'X-Mailman-Copy: yes' afegit</tt>. 
    </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>No<br>
      <mm-dont-receive-duplicates-button>S&iacute; 
      <p> <mm-global-nodupes-button><i>Canvi Golbal</i> </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
