<html>
<head>
    <title>%(realname)s Private Archives Authentication</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s/">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER"> <B><FONT COLOR="#000000" SIZE="+1"> 
        Autentificaci&oacute; d'Arxius Privats de %(realname)s</FONT></B></TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">Adre&ccedil;a d'emai:l</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">clau de pas:</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="entrar...">
      </td>
    </tr>
  </TABLE>
      
  <p><strong><em>Important:</em></strong> A partir d'ara, cal que tingui les cookies 
    habilitades en el seu navegador, si no cap canvi administratiu pendr&agrave; 
    efecte. 
  <p>Les cookies de la sessi&oacute; s&oacute;n usades per la interf&iacute;cie 
    administrativa de Mailman, de manera que no necessita re-autentificar cada 
    cop que realitzi una operaci&oacute; administrativa Aquesta cookie expirar&agrave; 
    autom&agrave;ticament quan abandoni el navegador, o pot eliminar la cookie 
    expl&iacute;citament prement el bot&oacute; <em>Logout</em> sota <em>Altres 
    Activitats Administratives</em> (que podr&agrave; veure un cop h&agrave;giu 
    iniciat la sessi&oacute;). 
</FORM>
</body>
</html>
