<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ifdok_cm4040_macos-2.0.0.dylib</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0d2</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>ManufacturerString</key>
		<string>Omnikey AG</string>
	<key>ManufacturerURL</key>
	<string>http://www.omnikey.com/</string>
	<key>ifdCapabilities</key>
	<string>0x00000000</string>
	<key>ifdFriendlyName</key>
		<string>OMNIKEY CardMan 4040</string>
	<key>ifdMaxSpeed</key>
	<string>115200</string>
	<key>ifdProductID</key>
		<string>0x0200</string>
	<key>ifdProductString</key>
		<string>OMNIKEY CardMan 4040</string>
	<key>ifdProtocolSupport</key>
	<string>0x00000011</string>
	<key>ifdVendorID</key>
		<string>0x0223</string>
</dict>
</plist>
