.DS_Store

# vim detritus
*~
*.swp

# /
/.remotebuild_credential
/cscope.*
/TAGS
/tags

# /
/build

# /IOKitUser.xcodeproj/
/IOKitUser.xcodeproj/*.pbxuser
/IOKitUser.xcodeproj/*.mode1v3
IOKitUser.xcodeproj/project.xcworkspace
IOKitUser.xcodeproj/xcuserdata
