<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.framework.IOKit</string>
	<key>CFBundleName</key>
	<string>I/O Kit Framework</string>
	<key>CFBundleGetInfoString</key>
	<string>I/O Kit Framework, Apple Computer Inc</string>
	<key>CFBundleExecutable</key>
	<string>IOKit</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.2</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
</dict>
</plist>
