<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>locationd</key>
	<dict>
		<key>0</key>
		<dict>
			<key>name</key>
			<string>InternalGeneric</string>
		</dict>
		<key>100</key>
		<dict>
			<key>name</key>
			<string>LocationServices_AbsoluteAltimetryGPS</string>
			<key>timeout</key>
			<integer>30</integer>
		</dict>
		<key>101</key>
		<dict>
			<key>name</key>
			<string>LocationServices_AbsoluteAltimetryWiFi</string>
			<key>timeout</key>
			<integer>30</integer>
		</dict>
		<key>108</key>
		<dict>
			<key>name</key>
			<string>LocationServices_AvengerScanning</string>
			<key>timeout</key>
			<integer>60</integer>
		</dict>
		<key>113</key>
		<dict>
			<key>name</key>
			<string>LocationServices_RegionMonitoring</string>
			<key>timeout</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>audiomxd</key>
	<dict>
		<key>0</key>
		<dict>
			<key>name</key>
			<string>InternalGeneric</string>
		</dict>
		<key>300</key>
		<dict>
			<key>name</key>
			<string>AudioHAL_HapticsPrewarm</string>
			<key>3</key> <!-- display off policy -->
			<integer>300</integer>
		</dict>
		<key>301</key>
		<dict>
			<key>name</key>
			<string>AudioHAL_Haptics</string>
			<key>3</key> <!-- display off policy -->
			<integer>300</integer>
		</dict>
		<key>305</key>
		<dict>
			<key>name</key>
			<string>LiquidDetection</string>
			<key>3</key> <!-- display off policy -->
			<integer>300</integer>
		</dict>
	</dict>
	<!-- Internal test process -->
	<key>AssertionStress</key>
	<dict>
		<key>0</key>
		<dict>
			<key>name</key>
			<string>InternalGeneric</string>
		</dict>
		<key>900</key>
		<dict>
			<key>name</key>
			<string>AssertionStressTimeout_30</string>
			<key>timeout</key>
			<integer>30</integer>
		</dict>
		<key>901</key>
		<dict>
			<key>name</key>
			<string>AssertionStressTimeout_60</string>
			<key>timeout</key>
			<integer>60</integer>
		</dict>
		<key>902</key>
		<dict>
			<key>name</key>
			<string>AssertionStressTimeout_Inactive30</string>
			<key>3</key>
			<integer>30</integer>
		</dict>
	</dict>
</dict>
</plist>
