<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metrics</key>
	<array>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>EEEE</string>
			<key>category</key>
			<string>BDC_Once</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>3</integer>
			<key>timeToLive</key>
			<integer>3650</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>3650</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>ChemID</string>
			<key>category</key>
			<string>BDC_Once</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>3650</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>AlgoChemID</string>
			<key>category</key>
			<string>BDC_Once</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>3650</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>YWW</string>
			<key>category</key>
			<string>BDC_Once</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>3</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>3650</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>DesignCapacity</string>
			<key>category</key>
			<string>BDC_Once</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mAh</string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>3650</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>GasGaugeFirmwareVersion</string>
			<key>category</key>
			<string>BDC_Once</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.6</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>1095</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>WeightedRa</string>
			<key>category</key>
			<string>BDC_Daily</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mΩ</string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>1095</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>Qmax0</string>
			<key>category</key>
			<string>BDC_Daily</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mAh</string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>1095</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>CycleCount</string>
			<key>category</key>
			<string>BDC_Daily</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>&quot;&quot;</string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>1095</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>NominalChargeCapacity</string>
			<key>category</key>
			<string>BDC_Daily</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mAh</string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>1095</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>TimeAtHighSoc</string>
			<key>category</key>
			<string>BDC_Daily</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>3</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>1095</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>ChargingVoltage</string>
			<key>category</key>
			<string>BDC_Daily</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mV</string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>1095</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>MaxCapacityPercent</string>
			<key>category</key>
			<string>BDC_Daily</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>percentage</string>
			</dict>
			<key>version</key>
			<real>2.6</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>1095</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>RaTableRaw0</string>
			<key>category</key>
			<string>BDC_Weekly</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>3</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>1095</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>TotalOperatingTime</string>
			<key>category</key>
			<string>BDC_Weekly</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>Hours</string>
			</dict>
			<key>version</key>
			<real>1.5</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>1095</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>GasGaugeFirmwareVersion</string>
			<key>category</key>
			<string>BDC_Weekly</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.8</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>PresentDOD0</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>CurrentCapacity</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mAh</string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>IsCharging</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>5</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>Temperature</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>centi C</string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>Amperage</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mA</string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>InstantAmperage</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mA</string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>Voltage</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mV</string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>StateOfCharge</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>ChargeAccum</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mAh</string>
			</dict>
			<key>version</key>
			<real>1.6</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>ITMiscStatus</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.6</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>MiscStatus</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>2.5</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>ResScale</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.6</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>RSS</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mΩ</string>
			</dict>
			<key>version</key>
			<real>1.6</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>FamilyCode</string>
			<key>category</key>
			<string>BDC_OBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>ExternalConnected</string>
			<key>category</key>
			<string>BDC_OBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>5</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>AppleRawExternalConnected</string>
			<key>category</key>
			<string>BDC_OBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>5</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>ChargingOverride</string>
			<key>category</key>
			<string>BDC_OBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.3</real>
			<key>datatype</key>
			<integer>5</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>VacVoltageLimit</string>
			<key>category</key>
			<string>BDC_OBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mV</string>
			</dict>
			<key>version</key>
			<real>1.5</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>NotChargingReason</string>
			<key>category</key>
			<string>BDC_OBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.5</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>30</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>Voltage</string>
			<key>category</key>
			<string>BDC_AMA</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mV</string>
			</dict>
			<key>version</key>
			<real>1.7</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>30</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>InstantAmperage</string>
			<key>category</key>
			<string>BDC_AMA</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mA</string>
			</dict>
			<key>version</key>
			<real>1.7</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>30</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>AlgoTemperature</string>
			<key>category</key>
			<string>BDC_AMA</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>centi C</string>
			</dict>
			<key>version</key>
			<real>1.7</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>30</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>VirtualTemperature</string>
			<key>category</key>
			<string>BDC_AMA</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>centi C</string>
			</dict>
			<key>version</key>
			<real>1.7</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>30</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>ChargeAccum</string>
			<key>category</key>
			<string>BDC_AMA</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mAh</string>
			</dict>
			<key>version</key>
			<real>1.7</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>30</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>PresentDOD</string>
			<key>category</key>
			<string>BDC_AMA</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>1.7</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>ChargingState</string>
			<key>category</key>
			<string>BDC_SmartCharging</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>2</real>
			<key>datatype</key>
			<integer>5</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>InflowState</string>
			<key>category</key>
			<string>BDC_SmartCharging</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>2</real>
			<key>datatype</key>
			<integer>5</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>ChargeLimit</string>
			<key>category</key>
			<string>BDC_SmartCharging</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>%</string>
			</dict>
			<key>version</key>
			<real>2</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>CheckPoint</string>
			<key>category</key>
			<string>BDC_SmartCharging</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>2</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>DecisionMaker</string>
			<key>category</key>
			<string>BDC_SmartCharging</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>2.1</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>ModeOfOperation</string>
			<key>category</key>
			<string>BDC_SmartCharging</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>2</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>AccumulatedSystemLoad</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mW</string>
			</dict>
			<key>version</key>
			<real>2.4</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>AccumulatedSystemPowerIn</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mW</string>
			</dict>
			<key>version</key>
			<real>2.4</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>1095</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>LowVoltageResidencyCounters</string>
			<key>category</key>
			<string>BDC_Weekly</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>2.2</real>
			<key>datatype</key>
			<integer>3</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>timeToLive</key>
			<integer>1095</integer>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>BatteryAuth</string>
			<key>category</key>
			<string>BDC_Weekly</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<real>2.8</real>
			<key>datatype</key>
			<integer>3</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>VirtualTemperature</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>centi C</string>
			</dict>
			<key>version</key>
			<real>2.3</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>SystemVoltageIn</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mV</string>
			</dict>
			<key>version</key>
			<real>2.7</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>SystemCurrentIn</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mA</string>
			</dict>
			<key>version</key>
			<real>2.7</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryTrustedData</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>TrustedDateOfFirstUse</string>
			<key>category</key>
			<string>Daily</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<integer>1</integer>
			<key>datatype</key>
			<integer>4</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryTrustedData</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>TrustedLifeTimeMaxWRdc</string>
			<key>category</key>
			<string>Daily</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>mΩ</string>
			</dict>
			<key>version</key>
			<integer>1</integer>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryTrustedData</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>TrustedCycleCount</string>
			<key>category</key>
			<string>Daily</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string></string>
			</dict>
			<key>version</key>
			<integer>1</integer>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryTrustedData</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>TrustedMaximumCapacity</string>
			<key>category</key>
			<string>Daily</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>percentage</string>
			</dict>
			<key>version</key>
			<integer>1</integer>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>subsystem</key>
			<string>BatteryDataCollection</string>
			<key>timeToLive</key>
			<integer>365</integer>
			<key>mode</key>
			<integer>1</integer>
			<key>name</key>
			<string>Watts</string>
			<key>category</key>
			<string>BDC_SBC</string>
			<key>unit</key>
			<dict>
				<key>symbol</key>
				<string>W</string>
			</dict>
			<key>version</key>
			<real>2.9</real>
			<key>datatype</key>
			<integer>7</integer>
			<key>storage</key>
			<integer>1</integer>
			<key>enabledPopulation</key>
			<integer>3</integer>
			<key>privacyClassification</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
