<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>DefaultProfileChoices</key>
    <dict>
        <key>AC Power</key>
        <integer>2</integer>
        <key>Battery Power</key>
        <integer>1</integer>
        <key>UPS Power</key>
        <integer>1</integer>
    </dict>
    <key>SystemProfileDefaults</key>
    <array>
<!-- Profile 0 -->
        <dict>
<!-- AC Power - unused -->
            <key>AC Power</key>
            <dict>
                <key>Automatic Restart On Power Loss</key>
                <integer>0</integer>
                <key>Disk Sleep Timer</key>
                <integer>10</integer>
                <key>Display Sleep Timer</key>
                <integer>5</integer>
                <key>Display Sleep Uses Dim</key>
                <integer>1</integer>
                <key>Dynamic Power Step</key>
                <integer>1</integer>
                <key>GPUSwitch</key>
                <integer>1</integer>
                <key>Hibernate File</key>
                <string>/var/vm/sleepimage</string>
                <key>Hibernate Mode</key>
                <integer>3</integer>
                <key>Mobile Motion Module</key>
                <integer>1</integer>
                <key>Reduce Processor Speed</key>
                <integer>0</integer>
                <key>ReduceBrightness</key>
                <integer>0</integer>
                <key>Sleep On Power Button</key>
                <integer>1</integer>
                <key>System Sleep Timer</key>
                <integer>5</integer>
                <key>Wake On AC Change</key>
                <integer>0</integer>
                <key>Wake On Clamshell Open</key>
                <integer>1</integer>
                <key>Wake On LAN</key>
                <integer>0</integer>
                <key>Wake On Modem Ring</key>
                <integer>0</integer>
                <key>TTYSPreventSleep</key>
                <integer>1</integer>
            </dict>
<!-- Battery Power - Better Energy -->
            <key>Battery Power</key>
            <dict>
                <key>Automatic Restart On Power Loss</key>
                <integer>0</integer>
                <key>Disk Sleep Timer</key>
                <integer>10</integer>
                <key>Display Sleep Timer</key>
                <integer>1</integer>
                <key>Display Sleep Uses Dim</key>
                <integer>1</integer>
                <key>Dynamic Power Step</key>
                <integer>0</integer>
                <key>GPUSwitch</key>
                <integer>1</integer>
                <key>Hibernate File</key>
                <string>/var/vm/sleepimage</string>
                <key>Hibernate Mode</key>
                <integer>3</integer>
                <key>Mobile Motion Module</key>
                <integer>1</integer>
                <key>Reduce Processor Speed</key>
                <integer>1</integer>
                <key>ReduceBrightness</key>
                <integer>1</integer>
                <key>Sleep On Power Button</key>
                <integer>1</integer>
                <key>System Sleep Timer</key>
                <integer>5</integer>
                <key>Wake On AC Change</key>
                <integer>0</integer>
                <key>Wake On Clamshell Open</key>
                <integer>1</integer>
                <key>Wake On LAN</key>
                <integer>0</integer>
                <key>Wake On Modem Ring</key>
                <integer>0</integer>
                <key>TTYSPreventSleep</key>
                <integer>1</integer>
            </dict>
<!-- UPS Power - Better Energy -->
            <key>UPS Power</key>
            <dict>
                <key>Automatic Restart On Power Loss</key>
                <integer>0</integer>
                <key>Disk Sleep Timer</key>
                <integer>10</integer>
                <key>Display Sleep Timer</key>
                <integer>1</integer>
                <key>Display Sleep Uses Dim</key>
                <integer>1</integer>
                <key>Dynamic Power Step</key>
                <integer>0</integer>
                <key>GPUSwitch</key>
                <integer>1</integer>
                <key>Hibernate File</key>
                <string>/var/vm/sleepimage</string>
                <key>Hibernate Mode</key>
                <integer>3</integer>
                <key>Mobile Motion Module</key>
                <integer>1</integer>
                <key>Reduce Processor Speed</key>
                <integer>1</integer>
                <key>ReduceBrightness</key>
                <integer>1</integer>
                <key>Sleep On Power Button</key>
                <integer>1</integer>
                <key>System Sleep Timer</key>
                <integer>5</integer>
                <key>Wake On AC Change</key>
                <integer>0</integer>
                <key>Wake On Clamshell Open</key>
                <integer>1</integer>
                <key>Wake On LAN</key>
                <integer>0</integer>
                <key>Wake On Modem Ring</key>
                <integer>0</integer>
                <key>TTYSPreventSleep</key>
                <integer>1</integer>
            </dict>
        </dict>
<!-- Profile 1 -->
        <dict>
<!-- AC Power - Better Energy -->
        <key>AC Power</key>
            <dict>
                <key>Automatic Restart On Power Loss</key>
                <integer>0</integer>
                <key>Disk Sleep Timer</key>
                <integer>10</integer>
                <key>Display Sleep Timer</key>
                <integer>5</integer>
                <key>Display Sleep Uses Dim</key>
                <integer>1</integer>
                <key>Dynamic Power Step</key>
                <integer>1</integer>
                <key>GPUSwitch</key>
                <integer>1</integer>
                <key>Hibernate File</key>
                <string>/var/vm/sleepimage</string>
                <key>Hibernate Mode</key>
                <integer>3</integer>
                <key>Mobile Motion Module</key>
                <integer>1</integer>
                <key>Reduce Processor Speed</key>
                <integer>0</integer>
                <key>ReduceBrightness</key>
                <integer>0</integer>
                <key>Sleep On Power Button</key>
                <integer>1</integer>
                <key>System Sleep Timer</key>
                <integer>10</integer>
                <key>Wake On AC Change</key>
                <integer>0</integer>
                <key>Wake On Clamshell Open</key>
                <integer>1</integer>
                <key>Wake On LAN</key>
                <integer>1</integer>
                <key>Wake On Modem Ring</key>
                <integer>1</integer>
                <key>TTYSPreventSleep</key>
                <integer>1</integer>
            </dict>
<!-- Battery Power - Normal -->
            <key>Battery Power</key>
            <dict>
                <key>Automatic Restart On Power Loss</key>
                <integer>0</integer>
                <key>Disk Sleep Timer</key>
                <integer>10</integer>
                <key>Display Sleep Timer</key>
                <integer>2</integer>
                <key>Display Sleep Uses Dim</key>
                <integer>1</integer>
                <key>Dynamic Power Step</key>
                <integer>1</integer>
                <key>GPUSwitch</key>
                <integer>2</integer>
                <key>Hibernate File</key>
                <string>/var/vm/sleepimage</string>
                <key>Hibernate Mode</key>
                <integer>3</integer>
                <key>Mobile Motion Module</key>
                <integer>1</integer>
                <key>Reduce Processor Speed</key>
                <integer>0</integer>
                <key>ReduceBrightness</key>
                <integer>1</integer>
                <key>Sleep On Power Button</key>
                <integer>1</integer>
                <key>System Sleep Timer</key>
                <integer>10</integer>
                <key>Wake On AC Change</key>
                <integer>0</integer>
                <key>Wake On Clamshell Open</key>
                <integer>1</integer>
                <key>Wake On LAN</key>
                <integer>0</integer>
                <key>Wake On Modem Ring</key>
                <integer>0</integer>
                <key>TTYSPreventSleep</key>
                <integer>1</integer>
            </dict>
<!-- UPS Power - Normal -->
            <key>UPS Power</key>
            <dict>
                <key>Automatic Restart On Power Loss</key>
                <integer>0</integer>
                <key>Disk Sleep Timer</key>
                <integer>10</integer>
                <key>Display Sleep Timer</key>
                <integer>2</integer>
                <key>Display Sleep Uses Dim</key>
                <integer>1</integer>
                <key>Dynamic Power Step</key>
                <integer>0</integer>
                <key>GPUSwitch</key>
                <integer>2</integer>
                <key>Hibernate File</key>
                <string>/var/vm/sleepimage</string>
                <key>Hibernate Mode</key>
                <integer>3</integer>
                <key>Mobile Motion Module</key>
                <integer>1</integer>
                <key>Reduce Processor Speed</key>
                <integer>1</integer>
                <key>ReduceBrightness</key>
                <integer>1</integer>
                <key>Sleep On Power Button</key>
                <integer>1</integer>
                <key>System Sleep Timer</key>
                <integer>10</integer>
                <key>Wake On AC Change</key>
                <integer>0</integer>
                <key>Wake On Clamshell Open</key>
                <integer>1</integer>
                <key>Wake On LAN</key>
                <integer>0</integer>
                <key>Wake On Modem Ring</key>
                <integer>0</integer>
                <key>TTYSPreventSleep</key>
                <integer>1</integer>
            </dict>
        </dict>
<!-- Profile 2 -->
        <dict>
<!-- AC Power - Normal -->
        <key>AC Power</key>
            <dict>
                <key>Automatic Restart On Power Loss</key>
                <integer>0</integer>
                <key>Disk Sleep Timer</key>
                <integer>10</integer>
                <key>Display Sleep Timer</key>
                <integer>10</integer>
                <key>Display Sleep Uses Dim</key>
                <integer>1</integer>
                <key>Dynamic Power Step</key>
                <integer>1</integer>
                <key>GPUSwitch</key>
                <integer>2</integer>
                <key>Hibernate File</key>
                <string>/var/vm/sleepimage</string>
                <key>Hibernate Mode</key>
                <integer>3</integer>
                <key>Mobile Motion Module</key>
                <integer>1</integer>
                <key>Reduce Processor Speed</key>
                <integer>0</integer>
                <key>ReduceBrightness</key>
                <integer>0</integer>
                <key>Sleep On Power Button</key>
                <integer>1</integer>
                <key>System Sleep Timer</key>
                <integer>10</integer>
                <key>Wake On AC Change</key>
                <integer>0</integer>
                <key>Wake On Clamshell Open</key>
                <integer>1</integer>
                <key>Wake On LAN</key>
                <integer>1</integer>
                <key>Wake On Modem Ring</key>
                <integer>1</integer>
                <key>TTYSPreventSleep</key>
                <integer>1</integer>
            </dict>
<!-- Battery Power - Better Performance -->
            <key>Battery Power</key>
            <dict>
                <key>Automatic Restart On Power Loss</key>
                <integer>0</integer>
                <key>Disk Sleep Timer</key>
                <integer>10</integer>
                <key>Display Sleep Timer</key>
                <integer>5</integer>
                <key>Display Sleep Uses Dim</key>
                <integer>1</integer>
                <key>Dynamic Power Step</key>
                <integer>1</integer>
                <key>GPUSwitch</key>
                <integer>0</integer>
                <key>Hibernate File</key>
                <string>/var/vm/sleepimage</string>
                <key>Hibernate Mode</key>
                <integer>3</integer>
                <key>Mobile Motion Module</key>
                <integer>1</integer>
                <key>Reduce Processor Speed</key>
                <integer>0</integer>
                <key>ReduceBrightness</key>
                <integer>1</integer>
                <key>Sleep On Power Button</key>
                <integer>1</integer>
                <key>System Sleep Timer</key>
                <integer>15</integer>
                <key>Wake On AC Change</key>
                <integer>0</integer>
                <key>Wake On Clamshell Open</key>
                <integer>1</integer>
                <key>Wake On LAN</key>
                <integer>0</integer>
                <key>Wake On Modem Ring</key>
                <integer>0</integer>
                <key>TTYSPreventSleep</key>
                <integer>1</integer>
            </dict>
<!-- UPS Power - Better Performance -->
            <key>UPS Power</key>
            <dict>
                <key>Automatic Restart On Power Loss</key>
                <integer>0</integer>
                <key>Disk Sleep Timer</key>
                <integer>10</integer>
                <key>Display Sleep Timer</key>
                <integer>5</integer>
                <key>Display Sleep Uses Dim</key>
                <integer>1</integer>
                <key>Dynamic Power Step</key>
                <integer>1</integer>
                <key>GPUSwitch</key>
                <integer>0</integer>
                <key>Hibernate File</key>
                <string>/var/vm/sleepimage</string>
                <key>Hibernate Mode</key>
                <integer>3</integer>
                <key>Mobile Motion Module</key>
                <integer>1</integer>
                <key>Reduce Processor Speed</key>
                <integer>0</integer>
                <key>ReduceBrightness</key>
                <integer>1</integer>
                <key>Sleep On Power Button</key>
                <integer>1</integer>
                <key>System Sleep Timer</key>
                <integer>15</integer>
                <key>Wake On AC Change</key>
                <integer>0</integer>
                <key>Wake On Clamshell Open</key>
                <integer>1</integer>
                <key>Wake On LAN</key>
                <integer>0</integer>
                <key>Wake On Modem Ring</key>
                <integer>0</integer>
                <key>TTYSPreventSleep</key>
                <integer>1</integer>
            </dict>
        </dict>
<!-- Profile 3 -->
        <dict>
<!-- AC Power - Better Performance -->
            <key>AC Power</key>
            <dict>
                <key>Automatic Restart On Power Loss</key>
                <integer>0</integer>
                <key>Disk Sleep Timer</key>
                <integer>10</integer>
                <key>Display Sleep Timer</key>
                <integer>20</integer>
                <key>Display Sleep Uses Dim</key>
                <integer>1</integer>
                <key>Dynamic Power Step</key>
                <integer>0</integer>
                <key>GPUSwitch</key>
                <integer>0</integer>
                <key>Hibernate File</key>
                <string>/var/vm/sleepimage</string>
                <key>Hibernate Mode</key>
                <integer>3</integer>
                <key>Mobile Motion Module</key>
                <integer>1</integer>
                <key>Reduce Processor Speed</key>
                <integer>0</integer>
                <key>ReduceBrightness</key>
                <integer>0</integer>
                <key>Sleep On Power Button</key>
                <integer>1</integer>
                <key>System Sleep Timer</key>
                <integer>0</integer>
                <key>Wake On AC Change</key>
                <integer>0</integer>
                <key>Wake On Clamshell Open</key>
                <integer>1</integer>
                <key>Wake On LAN</key>
                <integer>1</integer>
                <key>Wake On Modem Ring</key>
                <integer>1</integer>
                <key>TTYSPreventSleep</key>
                <integer>1</integer>
            </dict>
<!-- Battery Power - Unused -->
            <key>Battery Power</key>
            <dict>
                <key>Automatic Restart On Power Loss</key>
                <integer>0</integer>
                <key>Disk Sleep Timer</key>
                <integer>10</integer>
                <key>Display Sleep Timer</key>
                <integer>10</integer>
                <key>Display Sleep Uses Dim</key>
                <integer>1</integer>
                <key>Dynamic Power Step</key>
                <integer>1</integer>
                <key>GPUSwitch</key>
                <integer>0</integer>
                <key>Hibernate File</key>
                <string>/var/vm/sleepimage</string>
                <key>Hibernate Mode</key>
                <integer>3</integer>
                <key>Mobile Motion Module</key>
                <integer>1</integer>
                <key>Reduce Processor Speed</key>
                <integer>0</integer>
                <key>ReduceBrightness</key>
                <integer>0</integer>
                <key>Sleep On Power Button</key>
                <integer>1</integer>
                <key>System Sleep Timer</key>
                <integer>30</integer>
                <key>Wake On AC Change</key>
                <integer>0</integer>
                <key>Wake On Clamshell Open</key>
                <integer>1</integer>
                <key>Wake On LAN</key>
                <integer>1</integer>
                <key>Wake On Modem Ring</key>
                <integer>0</integer>
                <key>TTYSPreventSleep</key>
                <integer>1</integer>
            </dict>
<!-- UPS Power - Unused -->
            <key>UPS Power</key>
            <dict>
                <key>Automatic Restart On Power Loss</key>
                <integer>0</integer>
                <key>Disk Sleep Timer</key>
                <integer>10</integer>
                <key>Display Sleep Timer</key>
                <integer>10</integer>
                <key>Display Sleep Uses Dim</key>
                <integer>1</integer>
                <key>Dynamic Power Step</key>
                <integer>1</integer>
                <key>GPUSwitch</key>
                <integer>0</integer>
                <key>Hibernate File</key>
                <string>/var/vm/sleepimage</string>
                <key>Hibernate Mode</key>
                <integer>3</integer>
                <key>Mobile Motion Module</key>
                <integer>1</integer>
                <key>Reduce Processor Speed</key>
                <integer>0</integer>
                <key>ReduceBrightness</key>
                <integer>0</integer>
                <key>Sleep On Power Button</key>
                <integer>1</integer>
                <key>System Sleep Timer</key>
                <integer>30</integer>
                <key>Wake On AC Change</key>
                <integer>0</integer>
                <key>Wake On Clamshell Open</key>
                <integer>1</integer>
                <key>Wake On LAN</key>
                <integer>1</integer>
                <key>Wake On Modem Ring</key>
                <integer>0</integer>
                <key>TTYSPreventSleep</key>
                <integer>1</integer>
            </dict>
        </dict>
<!-- Profile 4 - UNUSED -->
        <dict>
<!-- AC Power - Unused -->
            <key>AC Power</key>
            <dict>
                <key>Automatic Restart On Power Loss</key>
                <integer>1</integer>
                <key>Disk Sleep Timer</key>
                <integer>0</integer>
                <key>Display Sleep Timer</key>
                <integer>60</integer>
                <key>Display Sleep Uses Dim</key>
                <integer>1</integer>
                <key>Dynamic Power Step</key>
                <integer>0</integer>
                <key>GPUSwitch</key>
                <integer>0</integer>
                <key>Hibernate File</key>
                <string>/var/vm/sleepimage</string>
                <key>Hibernate Mode</key>
                <integer>3</integer>
                <key>Mobile Motion Module</key>
                <integer>1</integer>
                <key>Reduce Processor Speed</key>
                <integer>0</integer>
                <key>ReduceBrightness</key>
                <integer>0</integer>
                <key>Sleep On Power Button</key>
                <integer>1</integer>
                <key>System Sleep Timer</key>
                <integer>0</integer>
                <key>Wake On AC Change</key>
                <integer>0</integer>
                <key>Wake On Clamshell Open</key>
                <integer>1</integer>
                <key>Wake On LAN</key>
                <integer>1</integer>
                <key>Wake On Modem Ring</key>
                <integer>1</integer>
                <key>TTYSPreventSleep</key>
                <integer>1</integer>
            </dict>
<!-- Battery Power - Unused -->
            <key>Battery Power</key>
            <dict>
                <key>Automatic Restart On Power Loss</key>
                <integer>1</integer>
                <key>Disk Sleep Timer</key>
                <integer>0</integer>
                <key>Display Sleep Timer</key>
                <integer>30</integer>
                <key>Display Sleep Uses Dim</key>
                <integer>1</integer>
                <key>Dynamic Power Step</key>
                <integer>0</integer>
                <key>GPUSwitch</key>
                <integer>0</integer>
                <key>Hibernate File</key>
                <string>/var/vm/sleepimage</string>
                <key>Hibernate Mode</key>
                <integer>3</integer>
                <key>Mobile Motion Module</key>
                <integer>1</integer>
                <key>Reduce Processor Speed</key>
                <integer>0</integer>
                <key>ReduceBrightness</key>
                <integer>0</integer>
                <key>Sleep On Power Button</key>
                <integer>1</integer>
                <key>System Sleep Timer</key>
                <integer>0</integer>
                <key>Wake On AC Change</key>
                <integer>0</integer>
                <key>Wake On Clamshell Open</key>
                <integer>1</integer>
                <key>Wake On LAN</key>
                <integer>1</integer>
                <key>Wake On Modem Ring</key>
                <integer>1</integer>
                <key>TTYSPreventSleep</key>
                <integer>1</integer>
            </dict>
<!-- UPS Power - Unused -->
            <key>UPS Power</key>
            <dict>
                <key>Automatic Restart On Power Loss</key>
                <integer>1</integer>
                <key>Disk Sleep Timer</key>
                <integer>0</integer>
                <key>Display Sleep Timer</key>
                <integer>30</integer>
                <key>Display Sleep Uses Dim</key>
                <integer>1</integer>
                <key>Dynamic Power Step</key>
                <integer>0</integer>
                <key>GPUSwitch</key>
                <integer>0</integer>
                <key>Hibernate File</key>
                <string>/var/vm/sleepimage</string>
                <key>Hibernate Mode</key>
                <integer>3</integer>
                <key>Mobile Motion Module</key>
                <integer>1</integer>
                <key>Reduce Processor Speed</key>
                <integer>0</integer>
                <key>ReduceBrightness</key>
                <integer>0</integer>
                <key>Sleep On Power Button</key>
                <integer>1</integer>
                <key>System Sleep Timer</key>
                <integer>0</integer>
                <key>Wake On AC Change</key>
                <integer>0</integer>
                <key>Wake On Clamshell Open</key>
                <integer>1</integer>
                <key>Wake On LAN</key>
                <integer>1</integer>
                <key>Wake On Modem Ring</key>
                <integer>1</integer>
                <key>TTYSPreventSleep</key>
                <integer>1</integer>
            </dict>
        </dict>
    </array>
</dict>
</plist>
