#include "<DEVELOPER_DIR>/Makefiles/CoreOS/Xcode/BSD.xcconfig"
ARCHS = $(ARCHS_STANDARD_32_64_BIT)
SUPPORTED_PLATFORMS = macosx iphoneos
DWARF_DSYM_FILE_SHOULD_ACCOMPANY_PRODUCT=YES
GCC_DYNAMIC_NO_PIC = NO
GCC_WARN_SHADOW = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES
WARNING_CFLAGS = -Wall -Wextra -Wno-shorten-64-to-32
PREBINDING = NO
PREFIX = /usr/local
BINDIR = $PREFIX/bin
DATDIR = $PREFIX/share
TESTDIR = $DATDIR/bsdtests
INSTALL_PATH = $(TESTDIR)/Libc
SKIP_INSTALL = NO
HEADER_SEARCH_PATHS = $(PREFIX)/include
GCC_PREPROCESSOR_DEFINITIONS[sdk=macosx10.6] = $(value) __MAC_10_7=__MAC_10_6 __AVAILABILITY_INTERNAL__MAC_10_7=__AVAILABILITY_INTERNAL__MAC_10_6
GCC_C_LANGUAGE_STANDARD = gnu99
