<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.security.XPCAcmeService</string>
	<key>com.apple.private.sandbox.profile:embedded</key>
	<string>temporary-sandbox</string>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Caches/com.apple.security.XPCAcmeService</string>
		<string>/Library/Caches/com.apple.security.XPCAcmeService/</string>
		<string>/Library/HTTPStorages/com.apple.security.XPCAcmeService</string>
		<string>/Library/HTTPStorages/com.apple.security.XPCAcmeService/</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/tmp/com.apple.security.XPCAcmeService</string>
		<string>/private/var/tmp/com.apple.security.XPCAcmeService/</string>
		<string>/private/var/mobile/Library/Caches/com.apple.security.XPCAcmeService</string>
		<string>/private/var/mobile/Library/Caches/com.apple.security.XPCAcmeService/</string>
		<string>/private/var/mobile/Library/HTTPStorages/com.apple.security.XPCAcmeService</string>
		<string>/private/var/mobile/Library/HTTPStorages/com.apple.security.XPCAcmeService/</string>
		<string>/private/var/root/Library/Caches/com.apple.security.XPCAcmeService</string>
		<string>/private/var/root/Library/Caches/com.apple.security.XPCAcmeService/</string>
		<string>/private/var/root/Library/HTTPStorages/com.apple.security.XPCAcmeService</string>
		<string>/private/var/root/Library/HTTPStorages/com.apple.security.XPCAcmeService/</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
