<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>file</string>
	<key>OpenSourceVersion</key>
	<string>5.04</string>
	<key>OpenSourceWebsiteURL</key>
	<string></string>
	<key>OpenSourceURL</key>
	<string>ftp://ftp.astron.com/pub/file/file-5.04.tar.gz</string>
	<key>OpenSourceSHA1</key>
	<string>56ddf7135471aa656334ed8fefe1112bcccc2cc3</string>
	<key>OpenSourceImportDate</key>
	<string>2009-09-22</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>Correct error in sun magic file (2504403).</string>
		<string>Enhanced Mach-O support (3091495).</string>
		<string>Mach-O architecture support (3581143 and others).</string>
		<string>Various conformance fixes.</string>
		<string>Allow the output of tabs and newlines (3755299).</string>
		<string>Add &apos;otool&apos; reference to man page (4324767).</string>
		<string>Disable ~/.magic behavior (6431343).</string>
		<string>Fix crash on far-future date (7274959).</string>
		<string>Archive (ar) format fix (4204136).</string>
		<string>GNU catalog format fix (4695678).</string>
		<string>LLVM bitcode magics (6867338).</string>
		<string>softmagic.c: crash fix from upstream file 5.09</string>
	</array>
	<key>OpenSourceLicense</key>
	<string>BSD</string>
	<key>OpenSourceLicenseFile</key>
	<string>file.txt</string>
</dict>
</plist>
