<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tests</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.11991275</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/11991275.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.12221092</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/12221092.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
<!--
		<dict>
			<key>TestName</key>
			<string>Libc.regex.14189743</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/14189743.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
-->
		<dict>
			<key>TestName</key>
			<string>Libc.regex.2692334</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/2692334.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.3734286</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/3734286.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.3835390</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/3835390.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.3936073</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/3936073.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.5518392</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/5518392.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.5549951</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/5549951.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.6440240</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/6440240.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.6481680</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/6481680.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.6487297</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/6487297.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.6487583</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/6487583.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.ISO8859-1</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/ISO8859-1.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.OpenBSD-enhanced</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/OpenBSD-enhanced.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.OpenBSD</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/OpenBSD.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.UTF-8</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/UTF-8.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.basic</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/basic.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.bracket</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/bracket.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.categorize</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/categorize.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.characterclass</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/characterclass.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.conformance-vsc-ed</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/conformance-vsc-ed.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.conformance-vsx-regcomp</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/conformance-vsx-regcomp.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.conformance-vsx-regex</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/conformance-vsx-regex.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.empty</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/empty.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.eucJP</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/eucJP.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.forcedassoc</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/forcedassoc.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.greediness-enhanced</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/greediness-enhanced.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.greediness</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/greediness.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.implementation_choices</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/implementation_choices.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.interpretation</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/interpretation.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.iteration</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/iteration.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.misc-enhanced</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/misc-enhanced.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.misc</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/misc.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.need-parenthesis-enhanced</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/need-parenthesis-enhanced.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.need-parenthesis</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/need-parenthesis.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.nullsubexpr</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/nullsubexpr.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
<!--
		<dict>
			<key>TestName</key>
			<string>Libc.regex.regex-posix-unittest-1.1</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/regex-posix-unittest-1.1.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
-->
		<dict>
			<key>TestName</key>
			<string>Libc.regex.repetition</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/repetition.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.rightassoc</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/rightassoc.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.rightbracket</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/rightbracket.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.rightparen</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/rightparen.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.tre-bugs</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/tre-bugs.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.tre-enhanced</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/tre-enhanced.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.tre-tests-enhanced</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/tre-tests-enhanced.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.tre-tests-extended-enhanced</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/tre-tests-extended-enhanced.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.tre-tests</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/tre-tests.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.union-enhanced</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/union-enhanced.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Libc.regex.union</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/Libc/testregex</string>
				<string>/AppleInternal/Tests/Libc/regex/union.dat</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
	</array>
</dict>
</plist>
