<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceProject</key>
		<string>mail</string>
		<key>OpenSourceVersion</key>
		<string>2025-05-29</string>
		<key>OpenSourceWebsiteURL</key>
		<string>https://cgit.freebsd.org/src/tree/usr.bin/mail?id=d5e5e24179f4a98efaadea2b3c43006b322d7f15</string>
		<key>OpenSourceImportDate</key>
		<string>2025-05-30</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>mail/popen.c: fix /tset/POSIX.cmd/mailx/mailx_01.ex{42} and others which start sub processes</string>
			<string>mail/tty.c: fix /tset/POSIX.cmd/mailx/mailx_01.ex{49} and /tset/POSIX.cmd/mailx/mailx_01.ex{57}</string>
			<string>mail/send.c: fix /tset/POSIX.cmd/mailx/mailx_02.ex{132}</string>
			<string>mail/collect.c: fix POSIX conformance for non-interactive signal handling in send mode (149937295)</string>
		</array>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
	</dict>
</array>
</plist>
