#
# site.tmpl -- Sample template for a global config file.
#           NOTE: This file contains mostly site specific
#                 configuration data that is custom to Cygnus
#                 Support. You'll have to change most of the 
#                 values to work at your site.
#           Written by rob@welcomehome.org
#

#
# transform -- transform a tool name to get the installed name. We only define
#              this if there wasn't one. This was the global config file can
#              override how the tool names are calculated.
#

#
# uncomment this if you wish to redefine the transform procedure
#

#if ![string match "transform" [info procs transform]] then {
#        proc transform { name } {
#	global target_triplet
#	
#	if [string match "" $target_triplet] then {
#	    return $name
#	} else {
#	    return ${target_triplet}-$name
#	}
#    }
#}

set noargs 0
set noresults 0
set nosignals 0

#
# Set default setting for all know targets
#
case "$target_triplet" in {
    { "hppa*-*-proelf*" } {

	# By default we'll use the Winbond for testing, use the OKI
	# only if explicitly asked for.
	case "$target_triplet" in {
	    { "hppa*-oki-proelf*" } {
		set target_abbrev hppro
		set targetname	op50n
		set serialport	hellcab:1024
		set netport	{}
		set baud	9600
	    }
	    default {
		set target_abbrev hppro
		set targetname	w89k
		set serialport	hellcab:1023
		set netport	{}
		set baud	9600
	    }
	}

	# Now stuff that's common to all proelf targets.
	# We can't pass arguments or do IO with the PA boards, nor do we
	# get status results or signals back from the board.
	set noargs	1
	set noresults	1
	set nosignals	1
	set noinferiorio 1

	# Disgusting hack because directories in libgloss don't
	# necessarily match the value in target_cpu.
	set target_cpu	"pa"

	# The proelf targets are absurdly slow downloading, so we limit
	# the number of tests we run on them
	set TORTURE_OPTIONS [list \
	    { -O0 -g } { -O2 } \
	    { -O2 -fomit-frame-pointer -finline-functions -funroll-all-loops }]

        set target_info(target,name) $targetname
        set target_info(target,ldflags) "-T$targetname.ld"
        set target_info(target,config) "hppa1.1-hp-proelf"
        set target_info(target,cflags) "-T$targetname.ld"
        set target_info(target,connect) ""
        set target_info(target,target) ""
        set target_info(target,serial) $serialport
        set target_info(target,netport) $netport
        set target_info(target,baud) $baud
    }
    { "i386-*-aout" } {
	set target_abbrev aout
	set connectmode ""
	set targetname  ""
	set netport     ""
	set serialport  ""
	set baud        ""
    }
    { "m68k-mvme135-*" } {     # Motorola MVME135 board running Bug monitor
	set target_abbrev bug
	set connectmode "telnet"
	append targetname  "s8"
	append serialport  "/dev/ttyr8"
	append netport     "termserv:90008"
	append baud        "9600"
	append CFLAGS      "-Tmvme135.ld"
	append CXXFLAGS    "-Tmvme135.ld"
     }
    { "m68k-idp-*" "m68k-rom68k-*" } {      # Motorola IDP board running rom68k monitor
	append target_abbrev idp
       	append connectmode "telnet"
	append targetname  "s12"
	append serialport  "/dev/tstty12"
	append netport     "termserv:900012"
	append baud        "9600"
	append CFLAGS      "-Tidp.ld"
	append CXXFLAGS    "-Tidp.ld"
     }
    { "m68k-*-aout" } {
	append target_abbrev aout
	append connectmode ""
	append targetname  ""
	append netport     ""
	append serialport  ""
	append baud        ""
    }
    { "m68k-est-coff" } {
	append target_abbrev est
       	append connectmode telnet
	append targetname  est
	append serialport  /dev/ttyb
	append netport     ""
	append baud        9600
	set noargs	   1
	set noresults	   1
	set nosignals	   1
	append CFLAGS      -Tidp.ld
	append CXXFLAGS    -Tidp.ld
    }
    { "m68k-cpu32bug-coff" } {
	append target_abbrev cpu32bug
       	append connectmode telnet
	append targetname  cpu32bug
	append serialport  /dev/ttyb
	append netport     ""
	append baud        9600
	set noargs	   1
	set noresults	   1
	set nosignals	   1
	append CFLAGS      -Tidp.ld
	append CXXFLAGS    -Tidp.ld
    }
    { "m68k-*-coff" } {
	set target_abbrev rom68k
       	set connectmode telnet
	set targetname  rom68k
	set serialport  /dev/ttya
	set netport	""
	set baud	9600
	set noargs	1
	set noresults	1
	set nosignals	1
	set CFLAGS	-Tidp.ld
	set CXXFLAGS	-Tidp.ld
    }
    { "i960-*-nindy" } {
	append target_abbrev nind
	append connectmode ""
	append targetname  ""
	append netport     ""
	append serialport  ""
	append baud        ""
    }
    { "m68*-*-vxworks" "m68*-vxworks" } {          # Motorola MVME167 board running VxWorks
	append target_abbrev vx
	append connectmode "telnet"
	append targetname  "foobar"
	append serialport  "/dev/tstty16"
	append netport     "termserv:900016"
	append baud        "9600"
	append CFLAGS      "-r"
	append CXXFLAGS    "-r"
	append LDFLAGS     "-r"
    }
    { "m68*-*-spectra" "m68*-spectra-*" } {
	append target_abbrev vrtx
	append connectmode ""
	append targetname  ""
	append netport     ""
	append serialport  ""
	append baud        ""
    }
    { "sparc-*-vxworks" } {
	append target_abbrev vx 
	append connectmode ""
	append targetname  ""
	append netport     ""
	append serialport  ""
	append baud        ""
 	append CFLAGS      "-r"
	append CXXFLAGS    "-r"
	append LDFLAGS     "-r"
   }
    { "i960-*-vxworks" } {
	append target_abbrev vx
	append connectmode "telnet"
	append targetname  "barfoo"
	append netport     ""
	append serialport  ""
	append baud        "9600"
 	append CFLAGS      "-r"
	append CXXFLAGS    "-r"
	append LDFLAGS     "-r"
    }
    { "a29k-*-udi" } {
	append target_abbrev udi
	append connectmode "mondfe"
	append targetname  "ser"
	append netport     ""
	append serialport  ""
	append baud        ""
    }
    { "a29k-isstip-*" } {
	append target_abbrev itip
	append connectmode "mondfe"
	append targetname  "isst"
	append netport     ""
	append serialport  ""
	append baud        ""
    }
    { "mips-idt-ecoff" } {
	append target_abbrev mips
	append connectmode ""
	append targetname  ""
	append netport     ""
	append serialport  ""
	append baud        ""
    }
    { "h8300*-*-*" } {
	append target_abbrev sim
	append connectmode ""
	append targetname  ""
	append netport     ""
	append serialport  ""
	append baud        ""
    }
    { "h8500*-*-*" } {
	append target_abbrev sim
	append connectmode ""
	append targetname  ""
	append netport     ""
	append serialport  ""
	append baud        ""
    }
    { "sh-*-*" } {
	append target_abbrev sh
	append connectmode ""
	append targetname  ""
	append netport     ""
	append serialport  ""
	append baud        ""
    }
    { "sparc-*-aout" } {
	append target_abbrev aout
	append connectmode ""
	append targetname  ""
	append netport     ""
	append serialport  ""
	append baud        ""
    }
    { "sparclite-*-*" } {
	append target_abbrev slite
	append connectmode "aload"
	append targetname  ""
	append netport     ""
	append serialport  ""
	append baud        ""
 	append CFLAGS      "-Tex930"
	append CXXFLAGS    ""
    }
    { "sparclitefrwcompat-*-*" } {
	append target_abbrev frwcom
	append connectmode ""
	append targetname  ""
	append netport     ""
	append serialport  ""
	append baud        ""
    }
    default		{
	# For now only run default gdbserver framework for lynx cross
	# targets in the future it should be the default for any cross
	# targets not explicitly handled above.
	if { $host_triplet != $target_triplet  } then {
    	set target_abbrev gdbserver
    	set targetname  extended-remote
    	append connectmode ""
    	append netport     ""
    	append serialport  ""
    	append baud        ""
	} else {
    	append target_abbrev unix
    	append connectmode ""
    	append targetname  ""
    	append netport     ""
    	append serialport  ""
    	append baud        ""
	}
    }
}
