<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>HID Event System (boot)</string>
		<key>Children</key>
		<array>
			<dict>
				<key>Name</key>
				<string>HID Event System Create</string>
				<key>Type</key>
				<string>Interval</string>
				<key>KTraceCodeBegin</key>
				<string>0x523814d</string>
				<key>KTraceCodeEnd</key>
				<string>0x523814e</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>HID Event System Open</string>
				<key>Type</key>
				<string>Interval</string>
				<key>KTraceCodeBegin</key>
				<string>0x5238151</string>
				<key>KTraceCodeEnd</key>
				<string>0x5238152</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>HID Event Dispatch Client Enqueue</string>
				<key>Type</key>
				<string>Interval</string>
				<key>KTraceCodeBegin</key>
				<string>0x523804d</string>
				<key>KTraceCodeEnd</key>
				<string>0x523804e</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>HID Event System (Intervals)</string>
		<key>Children</key>
		<array>
			<dict>
				<key>Name</key>
				<string>HID Event Dispatch Total</string>
				<key>Type</key>
				<string>Interval</string>
				<key>KTraceCodeBegin</key>
				<string>0x5238100</string>
				<key>KTraceCodeEnd</key>
				<string>0x523804e</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>HID Event Dispatch Service Filters</string>
				<key>Type</key>
				<string>Interval</string>
				<key>KTraceCodeBegin</key>
				<string>0x523810d</string>
				<key>KTraceCodeEnd</key>
				<string>0x523810e</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>HID Event Dispatch Session Filters</string>
				<key>Type</key>
				<string>Interval</string>
				<key>KTraceCodeBegin</key>
				<string>0x5238149</string>
				<key>KTraceCodeEnd</key>
				<string>0x523814a</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>HID Event Dispatch Client Enqueue</string>
				<key>Type</key>
				<string>Interval</string>
				<key>KTraceCodeBegin</key>
				<string>0x523804d</string>
				<key>KTraceCodeEnd</key>
				<string>0x523804e</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>HID Event System</string>
		<key>ChildrenGroupedBy</key>
		<string>Arg1</string>
		<key>Children</key>
		<array>
			<dict>
				<key>Name</key>
				<string>kHID_ES_FiltersClientsDone</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x5238044</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kHID_ES_SystemFilterDone</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x5238048</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kHID_ES_ClientsEnqueue (Start)</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x523804d</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kHID_ES_ClientsEnqueue (End)</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x523804e</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kHID_ES_Client_QueueCallback</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x5238080</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kHID_ES_Conn_DispatchEvent</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x52380c0</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kHID_ES_Service_Callback</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x5238100</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kHID_ES_Service_Create</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x5238104</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kHID_ES_Service_Open</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x5238108</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kHID_ES_Service_Filters (Start)</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x523810d</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kHID_ES_Service_Filters (End)</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x523810e</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kHID_ES_Session_Callback</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x5238140</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kHID_ES_Session_Dispatch</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x5238144</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kHID_ES_Session_Filters (Start)</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x5238149</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kHID_ES_Session_Filters (End)</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x523814a</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>HID_DispatchHIDEvent</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x5230048</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>DriverKit</string>
		<key>Children</key>
		<array>
			<dict>
				<key>Name</key>
				<string>kHIDDK_Dev_InputReport</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x523c008</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kIOHIDDebugCode_HandleReport</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x523003c</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kIOHIDDebugCode_DK_Intf_HandleReport</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x5230084</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>kHIDDK_ES_HandleReportCB</string>
				<key>Type</key>
				<string>Interval</string>
				<key>KTraceCodeBegin</key>
				<string>0x523c005</string>
				<key>KTraceCodeEnd</key>
				<string>0x523c006</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>IOUserHIDDevice Start</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x523c014</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>IOUserHIDDevice Stop</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x523c018</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>IOUserHIDEventService Start</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x523c00c</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>IOUserHIDEventService Stop</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x523c010</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
