As requisições são mostradas de duas formas: uma <a
href="%(summaryurl)s">página de resumo</a>, e em uma página <em>detalhada</em>.
A página de resumo contém as inscrições pendentes e requisições de 
desinscrição assim como postagens que requerem sua aprovação 
agrupada por endereço de email do remetente. A página detalhada 
contém uma visualização mais detalhada de cada mensagem em espera, 
incluindo todos os cabeçalhos da mensagem exceto do 
corpo da mensagem.

<p>Em todas as páginas, as seguintes ações são possíveis:

<ul>
<li><b>Adiar</b> -- Adia sua decisão para mais tarde. Nenhuma ação é
    tomada agora para esta requisição administrativa, mas para postagens
    aguardando aprovação, você pode ainda encaminhar ou preservar a 
    mensagem (veja abaixo).

<li><b>Aprovar</b> -- Aprova a mensagem, enviando-a para a lista.
    Para requisições de membros aprova a mudança no status do 
    membro.

<li><b>Rejeitar</b> -- Rejeita a mensagem, enviando um aviso de 
    rejeição para o remetente e descartando a mensagem original. 
    Para requisições de membros, rejeita a modificação no status 
    do membro. Em ambos os casos, você deverá incluir uma razão 
    para esta rejeição na caixa de texto.

<li><b>Descartar</b> -- Ignora a mensagem original, sem enviar uma 
    notificação de rejeição. Para requisições de membros, isto 
    simplesmente descarta a requisição sem avisar a pessoa que 
    enviou a mensagem. Esta é normalmente a ação que você deseja tomar
    para trabalhar com spams conhecidos. 
</ul>

<p>Para mensagens aguardando aprovação, ative a opção <b>Preservar</b> 
se deseja salvar uma cópia da mensagem para o administrador do site. 
Isto é útil para mensagens abusivas que deseja que sejam descartadas, 
mas você precisa manter um registro para inspeção posterior. 

<p>Ative a opção <b>Encaminhar para</b> e preencha o endereço de 
redirecionamento se desejar encaminhar a mensagem para alguém 
que não esteja na lista. Para editar uma mensagem em espera antes 
de ser enviada para a lista, você deverá redirecionar a mensagem 
para você mesmo (ou para os donos da lista) e descartar a mensagem
original. Então quando a mensagem for mostrada em sua caixa 
de correio, faça suas modificações e reenvie a mensagem para a 
lista, incluindo um cabeçalho <tt>Approved:</tt> com a senha 
da lista como seu valor. Uma netiqueta própria neste caso é 
incluir uma nota na mensagem reenviada, explicando que 
você modificou o texto. 

<p>Caso o remetente é um membro da lista que está sendo moderada, 
você poderá opcionalmente desativar sua opção de moderação. Isto é 
útil quando sua lista estiver configurada para colocar novos 
membros em proibição e decidiu que este membro pode ser 
confiável para postar para lista passando pelo processo de aprovação.

<p>Caso o remetente não seja o membro da lista, você poderá
adicionar o endereço de email ao <em>sender filter</em>. Os 
 Sender filters são descritos na <a
href="%(filterurl)s">página de privacidade de filtragem de remetentes</a>, 
e poderá ser uma das seguintes <b>auto-aceitar</b> (Aceita), 
<b>auto-bloqueia</b> (Bloqueia), <b>auto-rejeita</b> (Rejeita), ou 
<b>auto-descarta</b> (Descarta).  Esta opção não estará disponível 
se o endereço já é um dos filtros do remetente.

<p>Quando terminar, clique no botão <em>Enviar Todos os Dados</em> 
no topo ou rodapé da página. Este botão enviará todas as ações 
selecionadas para todas as requisições administrativas que 
fez. 

<p><a href="%(summaryurl)s">Retornar a página inicial</a>.
