As requisi&ccedil;&otilde;es s&atilde;o mostradas de duas formas: uma <a
href="%(summaryurl)s">p&aacute;gina de resumo</a>, e em uma p&aacute;gina <em>detalhada</em>.
A p&aacute;gina de resumo cont&eacute;m as inscri&ccedil;&otilde;es pendentes e requisi&ccedil;&otilde;es de 
desinscri&ccedil;&atilde;o assim como postagens que requerem sua aprova&ccedil;&atilde;o 
agrupada por endere&ccedil;o de email do remetente. A p&aacute;gina detalhada 
cont&eacute;m uma visualiza&ccedil;&atilde;o mais detalhada de cada mensagem em espera, 
incluindo todos os cabe&ccedil;alhos da mensagem exceto do 
corpo da mensagem.

<p>Em todas as p&aacute;ginas, as seguintes a&ccedil;&otilde;es s&atilde;o poss&iacute;veis:

<ul>
<li><b>Adiar</b> -- Adia sua decis&atilde;o para mais tarde. Nenhuma a&ccedil;&atilde;o &eacute;
    tomada agora para esta requisi&ccedil;&atilde;o administrativa, mas para postagens
    aguardando aprova&ccedil;&atilde;o, voc&ecirc; pode ainda encaminhar ou preservar a 
    mensagem (veja abaixo).

<li><b>Aprovar</b> -- Aprova a mensagem, enviando-a para a lista.
    Para requisi&ccedil;&otilde;es de membros aprova a mudan&ccedil;a no status do 
    membro.

<li><b>Rejeitar</b> -- Rejeita a mensagem, enviando um aviso de 
    rejei&ccedil;&atilde;o para o remetente e descartando a mensagem original. 
    Para requisi&ccedil;&otilde;es de membros, rejeita a modifica&ccedil;&atilde;o no status 
    do membro. Em ambos os casos, voc&ecirc; dever&aacute; incluir uma raz&atilde;o 
    para esta rejei&ccedil;&atilde;o na caixa de texto.

<li><b>Descartar</b> -- Ignora a mensagem original, sem enviar uma 
    notifica&ccedil;&atilde;o de rejei&ccedil;&atilde;o. Para requisi&ccedil;&otilde;es de membros, isto 
    simplesmente descarta a requisi&ccedil;&atilde;o sem avisar a pessoa que 
    enviou a mensagem. Esta &eacute; normalmente a a&ccedil;&atilde;o que voc&ecirc; deseja tomar
    para trabalhar com spams conhecidos. 
</ul>

<p>Para mensagens aguardando aprova&ccedil;&atilde;o, ative a op&ccedil;&atilde;o <b>Preservar</b> 
se deseja salvar uma c&oacute;pia da mensagem para o administrador do site. 
Isto &eacute; &uacute;til para mensagens abusivas que deseja que sejam descartadas, 
mas voc&ecirc; precisa manter um registro para inspe&ccedil;&atilde;o posterior. 

<p>Ative a op&ccedil;&atilde;o <b>Encaminhar para</b> e preencha o endere&ccedil;o de 
redirecionamento se desejar encaminhar a mensagem para algu&eacute;m 
que n&atilde;o esteja na lista. Para editar uma mensagem em espera antes 
de ser enviada para a lista, voc&ecirc; dever&aacute; redirecionar a mensagem 
para voc&ecirc; mesmo (ou para os donos da lista) e descartar a mensagem
original. Ent&atilde;o quando a mensagem for mostrada em sua caixa 
de correio, fa&ccedil;a suas modifica&ccedil;&otilde;es e reenvie a mensagem para a 
lista, incluindo um cabe&ccedil;alho <tt>Approved:</tt> com a senha 
da lista como seu valor. Uma netiqueta pr&oacute;pria neste caso &eacute; 
incluir uma nota na mensagem reenviada, explicando que 
voc&ecirc; modificou o texto. 

<p>Caso o remetente &eacute; um membro da lista que est&aacute; sendo moderada, 
voc&ecirc; poder&aacute; opcionalmente desativar sua op&ccedil;&atilde;o de modera&ccedil;&atilde;o. Isto &eacute; 
&uacute;til quando sua lista estiver configurada para colocar novos 
membros em proibi&ccedil;&atilde;o e decidiu que este membro pode ser 
confi&aacute;vel para postar para lista passando pelo processo de aprova&ccedil;&atilde;o.

<p>Caso o remetente n&atilde;o seja o membro da lista, voc&ecirc; poder&aacute;
adicionar o endere&ccedil;o de email ao <em>sender filter</em>. Os 
 Sender filters s&atilde;o descritos na <a
href="%(filterurl)s">p&aacute;gina de privacidade de filtragem de remetentes</a>, 
e poder&aacute; ser uma das seguintes <b>auto-aceitar</b> (Aceita), 
<b>auto-bloqueia</b> (Bloqueia), <b>auto-rejeita</b> (Rejeita), ou 
<b>auto-descarta</b> (Descarta).  Esta op&ccedil;&atilde;o n&atilde;o estar&aacute; dispon&iacute;vel 
se o endere&ccedil;o j&aacute; &eacute; um dos filtros do remetente.

<p>Quando terminar, clique no bot&atilde;o <em>Enviar Todos os Dados</em> 
no topo ou rodap&eacute; da p&aacute;gina. Este bot&atilde;o enviar&aacute; todas as a&ccedil;&otilde;es 
selecionadas para todas as requisi&ccedil;&otilde;es administrativas que 
fez. 

<p><a href="%(summaryurl)s">Retornar a p&aacute;gina inicial</a>.
