Esta página contém um resumo do conjunto atual de requisições 
administrativas requerendo sua aprovação na 
<a href="%(adminurl)s"><em>%(listname)s</em> lista de discussão</a>.
Primeiro, você encontrará a lista de inscrições/desinscrições pendentes, 
se tiver alguma, seguida de qualquer postagem que esteja aguardando sua
aprovação.

<p>Para cada requisição administrativa, selecione a conexão para 
ser feita clicando em <b>Enviar todos os dados</b> quando terminar.
<a href="%(detailsurl)s">Instruções mais detalhadas</a> também estão
disponíveis. 

<p>Você também pode <a href="%(viewallurl)s">ver os detalhes</a> de 
todas as postagens aguardando aprovação. 
