Esta p&aacute;gina cont&eacute;m um subconjunto de postagens para a lista 
de discuss&atilde;o <em>%(listname)s</em> que est&atilde;o aguardando
aprova&ccedil;&atilde;o. Ela atualmente mostra %(description)s

<p>Para cada requisi&ccedil;&atilde;o administrativa, por favor selecione a a&ccedil;&atilde;o
que ser&aacute; tomada, clicando em <b>Enviar todos os dados</b> quando 
terminar. Instru&ccedil;&otilde;es mais detalhadas est&atilde;o dispon&iacute;veis
<a href="%(detailsurl)s">aqui</a>.

<p>Voc&ecirc; tamb&eacute;m poder&aacute; <a href="%(summaryurl)s">ver um resumo</a> de todas
as requisi&ccedil;&otilde;es pendentes.
