Esta página contém um subconjunto de postagens das listas de 
discussão para a lista <em>%(listname)s</em> que estão esperando
aprovação. Ela atualmente mostra %(description)s

<p>Para cada requisição administrativa, por favor selecione a ação
qe será tomada, clicando em <b>Enviar todos os dados</b> quando 
terminar. Instruções mais detalhadas estão disponíveis
<a href="%(detailsurl)s">aqui</a>.

<p>Você também poderá <a href="%(summaryurl)s">ver um resumo</a> de todas
as requisições pendentes.
