<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
  <HEAD>
     <title>Os arquivos %(archive)s da lista %(listname)s por %(archtype)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
      <a name="start"></A>
      <h1>Os arquivos %(archive)s por %(archtype)s</h1>
      <ul>
         <li> <b>Mensagens classificadas por:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s

	     <li><b><a href="%(listinfo)s">Mais informa&ccedil;&otilde;es sobre esta lista...
                    </a></b></li>
      </ul>
      <p><b>Inicio:</b> <i>%(firstdate)s</i><br>
         <b>Fim:</b> <i>%(lastdate)s</i><br>
         <b>Mensagens:</b> %(size)s<p>
     <ul>
