<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>Arquivos da lista %(listname)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>Os arquivos da lista %(listname)s </h1>
     <p>
      Ainda n&atilde;o foi postada nenhuma mensagem para esta lista, assim os 
      arquivos est&atilde;o atualmente vazios. Voc&ecirc; poder&aacute; ter 
      <a href="%(listinfo)s">mais detalhes sobre esta lista</a>.
     </p>
  </BODY>
  </HTML>
