<html>
<head>
    <title>%(realname)s Autenticação de Arquivos Privados</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s/">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(realname)s Autenticação
	    de Arquivos Privados</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">Endereço de Email:</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">Senha:</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="Deixe-me entrar...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Importante:</em></strong> Deste ponto em diante,
      você deverá ter os cookies ativados em seu navegador, caso 
      contrário nenhuma modificação administrativa terá efeito. 
 
      <p>Os cookies de seção são usados pela interface administrativa
      do Mailman para não ser necessária uma nova autenticação após
      cada operação administrativa. Este cookie expirará automaticamente
      quando sair do seu navegador ou quando expirar o cookie explicitamente
      clicando no link <em>Sair</em> abaixo de <em>Outras Atividades 
      Administrativas</em> (que será visto logo que entrar com sucesso no 
      sistema).
</FORM>
</body>
</html>
