<html>
<head>
    <title>Autenticação para acesso aos arquivos privados da %(realname)s</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">Autenticação para acesso
	    dos arquivos privados da %(realname)s</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">Endereço de Email:</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">Senha:</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="Deixe-me entrar...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Importante:</em></strong> Deste ponto em diante, 
      você deverá ter os cookies ativados em seu navegador, caso 
      contrário você terá que re-autenticar com cada operação.

      <p>Os cookies de seção são usados pela interface de arquivos
      privados do Mailman para não precisa re-autenticar após cada
      operação. Este cookie se expirará automaticamente quando sair
      do seu navegador ou você poderá desativar o cookie visitando 
      sua página de opções de membro e clicando no botão
      <em>Sair</em>.
</FORM>
</body>
</html>
