<html>
<head>
    <title>Autentica&ccedil;&atilde;o para acesso aos arquivos privados da %(realname)s</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">Autentica&ccedil;&atilde;o para acesso
	    dos arquivos privados da %(realname)s</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">Endere&ccedil;o de Email:</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">Senha:</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="Deixe-me entrar...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Importante:</em></strong> Deste ponto em diante, 
      voc&ecirc; dever&aacute; ter os cookies ativados em seu navegador, caso 
      contr&aacute;rio voc&ecirc; ter&aacute; que re-autenticar com cada opera&ccedil;&atilde;o.

      <p>Os cookies de se&ccedil;&atilde;o s&atilde;o usados pela interface de arquivos
      privados do Mailman para n&atilde;o precisa re-autenticar ap&oacute;s cada
      opera&ccedil;&atilde;o. Este cookie se expirar&aacute; automaticamente quando sair
      do seu navegador ou voc&ecirc; poder&aacute; desativar o cookie visitando 
      sua p&aacute;gina de op&ccedil;&otilde;es de membro e clicando no bot&atilde;o
      <em>Sair</em>.
</FORM>
</body>
</html>
