<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.private.CoreAnalytics.ObserveEvents.allow</key>
	<true/>
	<key>com.apple.private.diskarbitrationd.is_fskitd</key>
	<true/>
	<key>com.apple.private.diskarbitrationd.access</key>
	<true/>
</dict>
</plist>
