//
//  version.xcconfig
//  IOAudioFamily
//
//  Created by Mike Mckenna on 10/31/13.
//  Copyright 2000-2019 Apple Inc. All rights reserved.
//

AE_CONCISE_VERSION = 300.2

MODULE_VERSION = ${AE_CONCISE_VERSION}

CURRENT_PROJECT_VERSION = ${AE_CONCISE_VERSION}

INFOPLIST_PREPROCESS = YES

OTHER_CFLAGS = -DPROJECT_NAME=\"$(TARGET)\" -DPROJECT_VERSION=\"${AE_CONCISE_VERSION}\"

AE_COPYRIGHT_END = 2019
