As solicitudes administrativas am&oacute;sanse dun dos dous xeitos,
como
unha
<a href="%(summaryurl)s">páxina cun resumo</a> ou como unha páxina
<em>detallada</em>.   A páxina co sumario cont&eacute;n solicitudes de
alta ou de baixa pendentes, envíos &aacute; rolda que se remitiron para
que
os
aprobe, agrupados polo enderezo do remitinte. A páxina cos detalles
cont&eacute;n unha vista máis detallada de cada unha das mensaxes,
xunto coas cabeceiras da mensaxe e un extracto do seu corpo.

<p>En calquera destas páxinas están dispo&ntilde;&iacute;beis as seguintes acci&oacute;ns:

<ul>
<li><b>Diferir</b>: posp&oacute;n a s&uacute;a decisión para máis tarde.
   Non se aplica ningunha
acción para esta solicitude administrativa pendente mais a&iacute;nda as&iacute; pode
reenviar
ou conservar a mensaxe (vexa máis abaixo).

<li><b>Aprobar</b>: aprobar a mensaxe e enviala &aacute; rolda. Para as
solicitudes de subscrición, estas apróbanse.

<li><b>Rexeitar</b>: rexeitar a mensaxe e enviarlle unha mensaxe de rexeitamento
  ao remitinte en que se rexeita a mensaxe orixinal. Para as solicitudes de
subscrición, estas rexéitanse. En calquera caso, deber&iacute;a p&oacute;r o motivo
polo 
que se rexeita no cadro de texto.

<li><b>Descartar</b>: eliminar a mensaxe orixinal sen enviar unha mensaxe de
rexeitamento. Para as solicitudes de subscrición, isto simplemente elimina a
solicitude sen avisar &aacute; persoa que a solicitou.  Esta opción
&uacute;sase
normalmente co correo non solicitado ou co correo lixo.
</ul>

<p>Para as mensaxes retidas, active a opción <b>Preservar</b> se quere
gardar unha copia das mensaxes para o administrador do servidor.  Isto
  &eacute; útil para aquelas mensaxes abusivas que queira rexeitar mais
  que precise
gardar un rexistro para botarlle un ollada máis tarde.

<p>Active a opción <b>Redirixir a</b> e volva cubrir o enderezo correspondente
  se
quere reenviar a mensaxe a algu&eacute;n que non estea na rolda.   Para editar
unha
mensaxe retida antes de que se envíe &aacute; rolda, pode reenviala a si mesmo
(ou ao propietario da rolda) e rexeitar a mensaxe orixinal.   Ent&oacute;n,
cando a mensaxe se amosar na s&uacute; caixa de entrada, faga as s&uacute;as corecci&oacute;ns
e
reenvíea &aacute; rolda, onde deber&aacute; inclu&iacute;r unha cabeceira <tt>Approved:</tt> co
contrasinal da rolda como o seu valor. &Eacute; de bo costume neste caso
inclu&iacute;r
unha nota
na
mensaxe en que explique que modificou o texto.

<p>Se o remitinte &eacute; un subscritor que está a ser moderado, pode limpar
opcionalmente a s&uacute;a marca de moderación.  Isto &eacute; útil cando
a s&uacute;a rolda
está
configurada para p&oacute;r os novos subscritores en corentena e decidir que
se pode confiar neste subscritor &aacute; hora de mandar mensaxes &aacute; rolda sen
aprobación.

<p>Se o remitinte non &eacute; un subscritor da rolda, pode engadir este enderezo
  de correo electrónico ao <em>filtrado de remitintes</em>.  O filtrado
  de
remitintes  descr&iacute;bese na <a href="%(filterurl)s">páxina de fitros
de
privacidade</a> e pode ser <b>aceptar automaticamente</b>, <b>reter
automaticamente</b>, <b>rexeitar automaticamente</b> ou <b>descartar
automaticamente</b>.  Esta opción non estará dispo&ntilde;&iacute;bel se o enderezo
xa está nun
dos filtros de remitinte.

<p>Ao rematar, prema o botón <em>Enviar todos os
datos</em> do final da páxina.  Este botón entregará todas as acci&oacute;ns
seleccionadas para todas as solicitudes administrativas para as que se fixo
algunha selección.

<p><a href="%(summaryurl)s">Volver &aacute; páxina cos sumarios</a>.
