<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
  <HEAD>
     <title>Os arquivos da rolda %(listname)s </title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(meta)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>Os arquivos da rolda %(listname)s</h1>
     <p>
      Pode obter <a href="%(listinfo)s">máis información sobre esta rolda</a>
      ou pode <a href="%(fullarch)s">descargar o arquivo enteiro</a>
      (%(size)s).
     </p>
     %(noarchive_msg)s
     %(archive_listing_start)s
     %(archive_listing)s
     %(archive_listing_end)s
     </BODY>
     </HTML>
