<!-- $Revision: 2.7 $ -->
<HTML>
  <HEAD>
    <TITLE>P&aacute;xina de informaci&oacute;n de <MM-List-Name></TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000">Sobre <MM-List-Name></FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p>  Se desexa ver os env&iacute;os anteriores á rolda,
	       pode visitar os arquivos de <MM-Archive><MM-List-Name>
		  </MM-Archive>.
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Como usar a rolda  <MM-List-Name></FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  Para lles remitir unha mensaxe a todos os membros da rolda,
	  env&iacute;eo ao enderezo <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>.

	  <p>Pode subscribirse &aacute; rolda ou cambiar a s&uacute;a
	    subscrici&oacute;n nas secci&oacute;ns seguintes.
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Como subscribirse a <MM-List-Name></FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	    Para se subscribir a <MM-List-Name> só ten de cubrir os datos do
	    formulario seguinte:
	  <MM-List-Subscription-Msg>
	  <ul>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">Enderezo de           
		     correo electr&oacute;nico:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	          </TD>
	          <TD WIDTH="12%">&nbsp;</TD></TR>
                 <tr>
                  <td bgcolor="#dddddd" width="55%">O seu nome (opcional):</td>
                  <td width="33%"><mm-fullname-box></td>
                 <TD WIDTH="12%">&nbsp;</TD></TR>
                <TR>
	          <TD COLSPAN="3"> Debe introducir un contrasinal de
		protecci&oacute;n. Isto, a&iacute;nda que lle ofrece un nivel baixo de seguranza,
		deber&iacute;a evitar que outros accedan coa s&uacute;a
		subscrici&oacute;n.  <b>Non empregue contrasinais valiosos</b> porque
		pode que se lle env&iacute;en algunha vez sen cifrar por correo
		electr&oacute;nico.

		<p>Se decide non escribir ning&uacute;n contrasinal, xerarase
		un automaticamente que se lle enviar&aacute; logo de
		confirmar a subscrici&oacute;n. Sempre poder&aacute; pedir
		que se lle env&iacute;e por correo o contrasinal cando editar as
		opci&oacute;ns persoais
	        <MM-Reminder>
                  </TD>
                </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">Escriba un contrasinal:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">Confirme o contrasinal:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
	<TD BGCOLOR="#dddddd">En que idioma desexa ver as mensaxes?</TD> 
	<TD> <MM-list-langs></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
	<td>Desexa recibir as mensaxes diarias compiladas
            nunha &uacute;nica mensaxe?
	  </td>
	<td><MM-Undigest-Radio-Button> Non
	    <MM-Digest-Radio-Button>  Si
	</TD>
      </tr>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000">Subscritores de <MM-List-Name></FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
