<html>
<head>
  <title>Autenticaci&oacute;n para os ficheiros privados de %(realname)s </title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s/">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">Autenticaci&oacute;n de ficheiros 
	        privados de %(realname)s </FONT></B>
      </TD>
    </TR>
    <tr>
      <TD> <div ALIGN="Right">Enderezo:  </div></TD>
      <TD> <INPUT TYPE="text" NAME="username" SIZE="30"> </TD>
    </tr>
    <tr>
      <TD> <div ALIGN="Right"> Contrasinal: </div> </TD>
      <TD> <INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="Con permiso...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Importante:</em></strong> a partir deste momento, deber&aacute;
      ter habilitadas as cookies no seu navegador; caso contrario, os seus
        cambios non ter&aacute;n efecto.
      <p>As sesi&oacute;ns baseadas nas cookies &uacute;sanse na interface administrativa
        do Mailman, de xeito que non precisa identificarse continuamente
        con cada operaci&oacute;n administrativa que realizar. A cookie caducar&aacute; automaticamente
        cando saia do navegador ou pode borrala se selecciona
        a opci&oacute;n <em>Sa&iacute;da</em> baixo a secci&oacute;n titulada
 <em> Outras actividades administrativas</em> (que ver&aacute; logo de 
 entrar 
satisfactoriamente).
</FORM>
</body>
</html>
