<!-- $Revision: 2.1 $ -->
<HTML>
  <HEAD>
    <TITLE>Subscritores de <MM-List-Name></TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
    <TABLE WIDTH="100%" COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	  <B><FONT COLOR="#000000" SIZE="+1">Subscritores de <MM-List-Name> </FONT></B>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" ALIGN="CENTER">

	  <P align = "right"> <MM-lang-form-start><MM-displang-box>
	               <MM-list-langs><MM-form-end></p>

	  <P>Seleccione o seu enderezo para visitar o estado da
	    subscrici&oacute;n.
	  <br>
	  <I>(As entradas entre par&eacute;nteses te&ntilde;en a recepci&oacute;n
	  do correo da rolda desactivada.)</I></P>
	</TD>
      </TR>
      <TR WIDTH="100%" VALIGN="top">
	<TD BGCOLOR="#FFF0D0" WIDTH="50%">
	  <center>
	    <B><FONT COLOR="#000000"><MM-Num-Reg-Users>
		  Subscritores en <MM-List-Name> coa recepci&oacute;n das mensaxes a
		  medida que chegan:</FONT></B>
	  </center>
	</TD>
	<TD BGCOLOR="#FFF0D0" WIDTH="50%">
	  <center>
	    <B><FONT COLOR="#000000"><MM-Num-Digesters>
		  Subscritores en <MM-List-Name> coa recepci&oacute;n diferida en resumos:</FONT></B> 
	  </center>
	</TD>
      </TR>
      <TR VALIGN="top">
	<td>
	  <P><MM-Regular-Users>
	</td>
	<td>
	  <P><MM-Digest-Users>
	</td>
      </tr>
    </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
