Her finner du en oversikt over foresp&oslash;rsler som skal vurderes for epostlisten
<a href="%(adminurl)s"><em>%(listname)s</em></a>.<br>
Eventuelle s&oslash;knader om medlemsskap til listen vil
vises f&oslash;rst, deretter kommer meldinger som er sendt til listen
men som trenger godkjenning for &aring; bli distribuert.

<p>For hver foresp&oslash;rsel, velg &oslash;nsket tiltak, og klikk p&aring; <b>Utf&oslash;re</b> knappen n&aring;r du er ferdig.
<a href="%(detailsurl)s">N&aelig;rmere instruksjoner</a> er ogs&aring; tilgjengelig.

<p>Du kan ogs&aring; <a href="%(viewallurl)s">vise alle detaljer for alle tilbakeholdte meldinger</a> hvis du &oslash;nsker det.
