<html>
<head>
  <title>%(listname)s %(who)s Innlogging</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(listname)s %(who)s
	    Innlogging</FONT></B>
      </TD>
    </TR>
    <tr>
      <TD><div ALIGN="Right">Listens %(who)s passord:</div></TD>
      <TD><INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle><INPUT type="SUBMIT"
                                        name="admlogin"
					value="Logg meg inn...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Viktig:</em></strong> Fra n&aring; av m&aring; du ha cookies
      p&aring;sl&aring;tt i nettleseren din, ellers vil ingen administrative endringer
      bli lagret.

      <p><i>Session cookies</i> brukes i Mailmans administrative sider,
      slik at du ikke skal beh&oslash;ve &aring; oppgi passord for hver endring du gj&oslash;r.
      De vil forsvinne automatisk n&aring;r du lukker nettleseren din, eller du
      kan fjerne de manuelt ved &aring; klikke
      <em>Logg ut</em> linken under <em>Andre administrative aktiviteter</em>
      (som du f&aring;r opp etter &aring; ha logget inn).
</FORM>
</body>
</html>
