<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>%(listname)s arkivet for %(archive)s sortert p&aring; %(archtype)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
      <a name="start"></A>
      <h1>Arkivet for %(archive)s sortert p&aring; %(archtype)s</h1>
      <ul>
         <li> <b>Meldinger sortert p&aring;:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s

	     <li><b><a href="%(listinfo)s">Mer informasjon om denne listen...
                    </a></b></li>
      </ul>
      <p><b>Startdato:</b> <i>%(firstdate)s</i><br>
         <b>Sluttdato:</b> <i>%(lastdate)s</i><br>
         <b>Meldinger:</b> %(size)s<p>
     <ul>
