<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeySyncTopic</key>
	<dict>
		<key>uploadSizeLimit</key>
		<real>1000000</real>
		<key>splunk_allowInsecureCertificate</key>
		<false/>
		<key>splunk_topic</key>
		<string>xp_sear_keysync</string>
		<key>splunk_bagURL</key>
		<string>https://xp.apple.com/config/1/report/xp_sear_keysync</string>
	</dict>
	<key>CloudServicesTopic</key>
	<dict>
		<key>uploadSizeLimit</key>
		<real>1000000</real>
		<key>splunk_allowInsecureCertificate</key>
		<false/>
		<key>splunk_topic</key>
		<string>xp_coreos_securebackup</string>
		<key>splunk_bagURL</key>
		<string>https://xp.apple.com/config/1/report/xp_coreos_securebackup</string>
		<key>splunk_uploadURL</key>
		<string>https://xp.apple.com/report/2/xp_coreos_securebackup</string>
	</dict>
	<key>TrustTopic</key>
	<dict>
		<key>uploadSizeLimit</key>
		<real>1000000</real>
		<key>splunk_allowInsecureCertificate</key>
		<false/>
		<key>splunk_topic</key>
		<string>xp_sear_trust</string>
		<key>splunk_bagURL</key>
		<string>https://xp.apple.com/config/1/report/xp_sear_trust</string>
		<key>disableClientId</key>
		<true/>
	</dict>
	<key>TransparencyTopic</key>
	<dict>
		<key>uploadSizeLimit</key>
		<real>10000</real>
		<key>splunk_allowInsecureCertificate</key>
		<false/>
		<key>splunk_topic</key>
		<string>TransparencyAnalytics</string>
		<key>splunk_bagURL</key>
		<string>https://metrics-config.icloud.com/config/TransparencyAnalytics</string>
	</dict>
	<key>SWTransparencyTopic</key>
	<dict>
		<key>uploadSizeLimit</key>
		<real>10000</real>
		<key>splunk_allowInsecureCertificate</key>
		<false/>
		<key>splunk_topic</key>
		<string>SWTransparencyAnalytics</string>
		<key>splunk_bagURL</key>
		<string>https://metrics-config.icloud.com/config/SWTransparencyAnalytics</string>
	</dict>
	<key>NetworkingTopic</key>
	<dict>
		<key>uploadSizeLimit</key>
		<real>1000000</real>
		<key>splunk_allowInsecureCertificate</key>
		<false/>
		<key>splunk_topic</key>
		<string>xp_swe_network_perf</string>
		<key>splunk_bagURL</key>
		<string>https://xp.apple.com/config/1/report/xp_swe_network_perf</string>
		<key>disableClientId</key>
		<true/>
	</dict>
</dict>
</plist>
