<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.filesystems.util.udf</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>udf</string>
	<key>CFBundlePackageType</key>
	<string>fs  </string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>FSMediaTypes</key>
	<dict>
		<key>CD</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>CD_ROM_Mode_1</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../udf.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
		<key>CD Extended</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>CD_ROM_Mode_2_Form_1</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../udf.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
		<key>Partitionless</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Leaf</key>
				<true/>
				<key>Whole</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>../../udf.util</string>
			<key>FSProbeOrder</key>
			<integer>1000</integer>
		</dict>
	</dict>
	<key>FSPersonalities</key>
	<dict>
		<key>UDF</key>
		<dict>
			<key>FSMountArguments</key>
			<string></string>
			<key>FSMountExecutable</key>
			<string>../../../../../../sbin/mount_udf</string>
			<key>FSName</key>
			<string>Universal Disk Format</string>
		</dict>
	</dict>
</dict>
</plist>
