Package: pam
Maintainer: Luke Howard <lukeh@cvs.darwin.apple.com>
Vendor: Linux-PAM
Version: 0.72
URL: http://www.kernel.org/pub/linux/libs/pam/pre/library/
Build-Depends: build-base
Description: Pluggable Authentication Modules library
 PAM is a system of libraries that handle the authentication tasks of
 applications (services) on the system.  The library provides a general
 interface that privilege granting programs (such as login and su)
 defer to to perform standard authentication tasks.
 .
 The principal feature of the PAM approach is that the nature of the
 authentication is dynamically configurable.  In other words, the
 system administrator is free to choose how individual
 service-providing applications will authenticate users.
