<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CM4040</string>
	<key>CFBundleIdentifier</key>
	<string>com.omnikey.cm4040.driver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>cm4040</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>OKCM4040UC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.omnikey.cm4040.driver</string>
			<key>IOClass</key>
			<string>com_omnikey_cm4040_driver</string>
			<key>IOProviderClass</key>
			<string>IOPCCard16Device</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>com_omnikey_cm4040_UserClient</string>
			<key>VersionOneInfo</key>
			<array>
				<string>OMNIKEY</string>
				<string>CardMan 4040</string>
			</array>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCCardFamily</key>
		<string>1.1.0</string>
		<key>com.apple.kernel.iokit</key>
		<string>1.1</string>
		<key>com.apple.kernel.libkern</key>
		<string>1.1</string>
		<key>com.apple.kernel.mach</key>
		<string>1.1</string>
	</dict>
</dict>
</plist>
