<plist version="1.0">
<array>
<dict>
	<key>OpenSourceProject</key>
	<string>autoconf</string>
	<key>OpenSourceVersion</key>
	<string>2.59</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.gnu.org/software/autoconf/</string>
	<key>OpenSourceURL</key>
	<string>http://ftp.gnu.org/gnu/autoconf/autoconf-2.59.tar.bz2</string>
	<key>OpenSourceSHA1</key>
	<string>d366a07b2d99c95b7f24395aa8a8e023d8b93b69</string>
	<key>OpenSourceImportDate</key>
	<string>2004-11-20</string>
	<key>OpenSourceLicense</key>
	<string>GPL</string>
	<key>OpenSourceLicenseFile</key>
	<string>autoconf.txt</string>
</dict>
</array>
</plist>
