<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2012-01-15</string>
		<key>OpenSourceLicense</key>
		<string>Other</string>
		<key>OpenSourceLicenseFile</key>
		<string>OpenLDAP.txt</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>added dynid overlay</string>
			<string>added idattr dynacl</string>
			<string>added kqueue</string>
			<string>added rb tree for responses</string>
			<string>added SecureTransport</string>
			<string>backport CVE-2019-13565 (ITS#9052)</string>
			<string>backport CVE-2019-13057 (ITS#9038)</string>
			<string>backport CVE-2015-1545 (ITS#8027)</string>
			<string>backport CVE-2013-4449 (ITS#7723)</string>
			<string>backport CVE-2012-2668 (ITS#7285)</string>
			<string>backport CVE-2012-1164 (ITS#7143)</string>
		</array>
		<key>OpenSourceProject</key>
		<string>OpenLDAP</string>
		<key>OpenSourceSHA1</key>
		<string>d888beae1723002a5a2ff5509d3040df40885774</string>
		<key>OpenSourceURL</key>
		<string>ftp://ftp.OpenLDAP.org/pub/OpenLDAP/openldap-release/openldap-2.4.28.tgz</string>
		<key>OpenSourceVersion</key>
		<string>2.4.28</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.openldap.org</string>
	</dict>
</array>
</plist>
