<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IgnoreOutput</key>
	<true/>
	<key>Project</key>
	<string>libresolv</string>
	<key>TestSpecificLogs</key>
	<array>
	   <string>BATS_TMP_DIR/.*results.txt</string>
	</array>
	<key>Tests</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_res_query</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_res_query.results.txt</string>
				<string>test_res_query</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_res_search</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_res_search.results.txt</string>
				<string>test_res_search</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_res_search_a</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_res_search_a.results.txt</string>
				<string>test_res_search_a</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_res_search_mx</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_res_search_mx.results.txt</string>
				<string>test_res_search_mx</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_res_mkquery</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_res_mkquery.results.txt</string>
				<string>test_res_mkquery</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_res_send</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_res_send.results.txt</string>
				<string>test_res_send</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_res_init</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_res_init.results.txt</string>
				<string>test_res_init</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_dn_comp</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_dn_comp.results.txt</string>
				<string>test_dn_comp</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_dn_expand</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_dn_expand.results.txt</string>
				<string>test_dn_expand</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_dn_skipname</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_dn_skipname.results.txt</string>
				<string>test_dn_skipname</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_ns_get16</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_ns_get16.results.txt</string>
				<string>test_ns_get16</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_ns_get32</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_ns_get32.results.txt</string>
				<string>test_ns_get32</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_ns_put16</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_ns_put16.results.txt</string>
				<string>test_ns_put16</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_ns_put32</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_ns_put32.results.txt</string>
				<string>test_ns_put32</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_dns_open_null</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_dns_open_null.results.txt</string>
				<string>test_dns_open_null</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_dns_open_resolvconf</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_dns_open_resolvconf.results.txt</string>
				<string>test_dns_open_resolvconf</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_dns_search_list_count</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_dns_search_list_count.results.txt</string>
				<string>test_dns_search_list_count</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_dns_search_list_domain</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_dns_search_list_domain.results.txt</string>
				<string>test_dns_search_list_domain</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_dns_query</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_dns_query.results.txt</string>
				<string>test_dns_query</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_dns_search</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_dns_search.results.txt</string>
				<string>test_dns_search</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_dns_lookup</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_dns_lookup.results.txt</string>
				<string>test_dns_lookup</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>libresolv.libresolv_tests.test_res_init_multi</string>
			<key>ShellEnv</key>
			<dict>
				<key>ATF_SH</key>
				<string>/usr/local/bin/atf-sh</string>
				<key>__RUNNING_INSIDE_ATF_RUN</key>
				<string>internal-yes-value</string>
			</dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/Tests/libresolv/tests/libresolv_tests</string>
				<string>-s</string>
				<string>/AppleInternal/Tests/libresolv/tests</string>
				<string>-r</string>
				<string>libresolv_tests.test_res_init_multi.results.txt</string>
				<string>test_res_init_multi</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
	</array>
</dict>
</plist>
