Эта страница содержит сводный список требующих обработки административных
запросов для списка <a href="%(adminurl)s"><em>%(listname)s</em> mailing
list</a>. В начале представлены запросы на подписку или удаление оной, за которыми
перечислены сообщения, требующие обработки (модерирование).

<p>Для каждого такого запроса укажите необходимое действие, а затем
нажмите кнопку <b>Выполнить</b>.  Подробную пояснение о значениях каждого
из действий вы можете найти <a href="%(detailsurl)s">здесь</a>.

<p>На странице <a href="%(viewallurl)s">Подробный список запросов</a> вы найдете
дополнительную информацию о каждом из перечисленных ниже сообщений.
