<html>
<head>
    <title>Аутентификация %(who)s списка рассылки %(listname)s</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">Аутентификация %(who)s списка рассылки %(listname)s</FONT></B>
      </TD>
    </TR>
    <tr>
      <!-- %(who)s -->
      <!-- хе.  слово модератор, админинстратор надо склонять... :( -->
      <TD><div ALIGN="Right">Введите пароль %(who)s:</div></TD>
      <TD><INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle><INPUT type="SUBMIT" name="admlogin" value="Начать работу..."></td>
    </tr>
  </TABLE>
      <p><strong><em>Важно</em></strong>: вы должны разрешить прием файла cookies,
      в противном случае, вы не сможете внесить какие бы то ни было изменения.

      <p>Файл cookies используется для того, чтобы хранить параметры сеанса работы.
      В частности, при его использовании вам не потребуется вводить пароль при
      выполнении любой административной операции.  Информация, связанная с
      вашим сеансом работы, будет удалена в момент, когда вы выйдете из своего
      браузера.  Вы также можете явным образом завершить работу, щелкнув на
      ссылку <em>Отключиться</em> в разделе <em>Other Administrative
      Activities</em> (Вы увидите ее после подключения к административному
      интерфейсу).
</FORM>
</body>
</html>
