Этот текст может включать <a
href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">форматные
строки (текст по-английски)</a>, которые разрешаются относительно списка
атрибутов.  Списко атрибутов перечислен ниже.

<ul>
    <li><b>real_name</b> -- "красивое" имя списка рассылки;
    обычно имя списка рассыкли с заглавной первой буквой.

    <li><b>list_name</b> -- имя, которое используется в адресах
    страниц.

    <li><b>host_name</b> -- полное название домена для списка рассылки.

    <li><b>web_page_url</b> -- базовый адрес для Mailman. Именно к этому
    адресу нужно добавлять, например, <em>listinfo/%(list_name)s</em>
    чтобы получиться адрес информационной страницы для списка рассылки.

    <li><b>description</b> - краткое описание списка рассылки.
    <li><b>info</b> - полное описание списка рассылки.
    <li><b>cgiext</b> - расширение файлов CGI-сценариев.
</ul>
