<HTML>
<HEAD>
    <TITLE>Общая информация о списке рассылки <MM-List-Name></TITLE>
</HEAD>
<BODY BGCOLOR="#ffffff">
    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
        <TR>
          <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
            <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> &mdash; <MM-List-Description></FONT></B>
          </TD>
        </TR>
        <tr>
            <td colspan="2">
              <p>&nbsp;
            </td>
          </tr>
          <tr>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0"><B><FONT COLOR="#000000">О списке рассылки <MM-List-Name></FONT></B></TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
                <MM-Subscribe-Form-Start>
            </TD>
          </TR>
            <tr>
              <td colspan="2">
                <P><MM-List-Info></P>
                <p>Для поиска необходимой вам информации, вы можете воспользоваться <MM-Archive>архивом сообщений списка рассылки <MM-List-Name></MM-Archive>.
                <MM-Restricted-List-Message></p>
              </TD>
            </TR>
      <TR>
        <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0"><B><FONT COLOR="#000000">Как пользоваться списком рассылки <MM-List-Name></FONT></B></TD>
      </TR>
      <tr>
        <td colspan="2">
            Для того, чтобы отправить сообщение всем подписчикам списка рассылки, отправьте сообщение
            по адресу <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>.

            <p>Ниже приведена информация о том, как вы можете подписаться на этот список рассылки
            или изменить параметры своей подписки</p>
        </td>
      </tr>
      <TR>
        <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
        <B><FONT COLOR="#000000">Подписаться на список рассылки <MM-List-Name></FONT></B>
        </TD>
      </TR>
      <tr>
        <td colspan="2">
          <P>
          Для того, чтобы подписаться на список рассылки <MM-List-Name>, заполните следующую форму.
          <MM-List-Subscription-Msg>
          <ul>
              <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
                WIDTH="70%" HEIGHT= "112">
                <TR>
                  <TD BGCOLOR="#dddddd" WIDTH="55%">Ваш электронный адрес:</TD>
                  <TD WIDTH="33%"><MM-Subscribe-Box>
        </TD>
        <TD WIDTH="12%">&nbsp;</TD></TR>
      <tr>
          <td bgcolor="#dddddd" width="55%">Ваше имя (необязательно):</td>
        <td width="33%"><mm-fullname-box></td>
        <TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
        <TD COLSPAN="3"><FONT SIZE=-1>Вы можете указать пароль, который позволит
            затруднить другим людям попытки изменять параметры Вашей подписки.  <b>Не используйте
            ценных паролей</b>, так как пароли в систем Mailman пересылаются по почте открытым
            текстом.

            <p>Если Вы не хотите указывать пароль, система автоматически создаст,
            а затем вышлет пароль для Вашей подписки. Вы всегда можете попросить
            прислать вам этот пароль со страницы параметров Вашей подписки.
            <MM-Reminder>
        </TD>
      </TR>  
      <TR>
        <TD BGCOLOR="#dddddd">Укажите пароль:</TD>
        <TD><MM-New-Password-Box></TD>
        <TD>&nbsp;</TD></TR>
      <TR> 
        <TD BGCOLOR="#dddddd">Подтвердите выбранный пароль:</TD>
        <TD><MM-Confirm-Password></TD>
        <TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd">На каком языке Вы хотели бы видеть сообщения от сервера?</TD> 
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <mm-digest-question-start>
      <tr>
        <td>Хотите ли вы получать подписку в виде дайджестов?</td>
        <td><MM-Undigest-Radio-Button> Нет
            <MM-Digest-Radio-Button>  Да
        </TD>
      </tr>
      <mm-digest-question-end>
      <tr>
        <td colspan="3">
          <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
        <a name="subscribers">
        <B><FONT COLOR="#000000">Подписчики списка рассылки <MM-List-Name></FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
        <MM-Roster-Form-Start>
        <MM-Roster-Option>
            <MM-Form-End>
          <p>
        <MM-Options-Form-Start>
        <MM-Editing-Options>
                <MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>

<!--
    vim:tw=100
  -->
