<!-- $Revision: 1.1.1.1 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User>: параметры подписки на список рассылки <MM-List-Name>
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        Параметры подписки <MM-Presentable-User> для списка рассылки <MM-List-Name>
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b>Состояние подписки <MM-Presentable-User></b>,
        пароль и параметры подписки на список рассылки <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Изменение вашей подписки на список рассылки <MM-List-Name></B>
        </FONT></TD></TR>
    <tr><td colspan="2">Вы можете изменить адрес, куда должна доставляться подписка.
        Для этого укажите его в поле ниже. Имейте в виду, что на новый адрес
        будет выслана просьба подтвердить эту операцию и что без этого
        подтверждения адрес изменен не будет.

        <p>Подтверждение подписки ожидается в течении <mm-pending-days>.

        <p>Вы также можте указать или изменить свое имя
        (например, <em>Иван Петров</em>).

        <p>Если вы хотите, чтобы указанные изменения произошли во всех
        ваших подписках на сервере <mm-host>, вы можете воспользоваться
        параметром <em>Изменить во всех подписках</em>.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Новый адрес:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Again to
            Еще раз новый адрес:</div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Ваше имя (необязательно):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Изменить во всех подписках</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Удалить подписку на <MM-List-Name></B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Другие списки рассылки на сервере <MM-Host>, на которые вы подписаны</B>
        </FONT></TD></TR>

    <tr><td>
        Turn on the confirmation checkbox and hit this button to
        unsubscribe from this mailing list.  <strong>Предупреждение:</strong>
        Это действие будет иметь немедленный эффект!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>Вы также можете получить список всех своих подписок на сервере
        <mm-host>; если вы хотите изменить параметры какой-либо из них,
        нажмите на эту кнопку.

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Пароль для списка рассылки <MM-List-Name></B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center><h3>Забыли свой пароль?</h3></center>
        Нажмите на эту кнопку, чтобы получить пароль на адрес, указанный в
        вашей подписке.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Изменить пароль для подписки</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Новый пароль:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Подтвердите новый пароль:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Изменить во всех подписках.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Параметры вашей подписки на <MM-List-Name></B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>Ниже вы видите текущие значения</strong></i>

<p>Обратите внимание, что значения некоторых параметров вы можете <em>Изменить
во всех подписках</em>.  Checking this field will cause the changes to be made
to
every mailing list that you are a member of on <mm-host>.  Click on
<em>List my other subscriptions</em> above to see which other mailing
lists you are subscribed to.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Mail delivery</strong></a><p>
        Set this option to <em>Enabled</em> to receive messages posted
        to this mailing list.  Set it to <em>Disabled</em> if you want
        to stay subscribed, but don't want mail delivered to you for a
        while (e.g. you're going on vacation).  If you disable mail
        delivery, don't forget to re-enable it when you come back; it
        will not be automatically re-enabled.
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Enabled<br>
        <mm-delivery-disable-button>Disabled<p>
        <mm-global-deliver-button><i>Изменить во всех подписках</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Set Digest Mode</strong><p>
        If you turn digest mode on, you'll get posts bundled together
        (usually one per day but possibly more on busy lists), instead
        of singly when they're sent.  If digest mode is changed from
        on to off, you may receive one last digest.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Off<br>
        <MM-Digest-Radio-Button>On
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Get MIME or Plain Text Digests?</strong><p>
        Your mail reader may or may not support MIME digests.  In
        general MIME digests are preferred, but if you have a problem
        reading them, select plain text digests.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Plain Text<p>
        <mm-global-mime-button><i>Изменить во всех подписках</i>
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Receive your own posts to the list?</strong><p>
        Ordinarily, you will get a copy of every message you post to
        the list.  If you don't want to receive this copy, set this
        option to <em>No</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>No<br>
        <mm-receive-own-mail-button>Yes
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Receive acknowledgement mail when you send mail to
        the list?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>No<br>
        <mm-ack-posts-button>Yes
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Get password reminder email for this list?</strong><p>
        Once a month, you will get an email containing a password
        reminder for every list at this host to which you are
        subscribed.  You can turn this off on a per-list basis by
        selecting <em>No</em> for this option.  If you turn off
        password reminders for all the lists you are subscribed to, no
        reminder email will be sent to you.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>No<br>
        <mm-get-password-reminder-button>Yes<p>
        <mm-global-remind-button><i>Изменить во всех подписках</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Скрыть себя из списка подписчиков?</strong><p>
        На странице просмотра списка подписчиков ваш электронный
        адрес будет показан (в специальном виде, чтобы затруднить
        работу сборщиков адресов для рассылки спама). Если вы не хотите,
        чтобы ваш адрес вообще там показывался, вы можете указать для
        этого параметра значение <em>Нет</em>.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>No<br>
        <MM-Hide-Subscription-Button>Yes
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Какой язык вы предпочитаете?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Which topic categories would you like to subscribe
                to?</strong><p>
                By selecting one or more topics, you can filter the
                traffic on the mailing list, so as to receive only a
                subset of the messages.  If a message matches one of
                your selected topics, then you will get the message,
                otherwise you will not.

                <p>If a message does not match any topic, the delivery
                rule depends on the setting of the option below.  If
                you do not select any topics of interest, you will get
                all the messages sent to the mailing list.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
            <strong>Do you want to receive message that do not match any topic filter?</strong>

            <p>This option only takes effect if you've subscribed to at least one
            topic above.  It describes what the default delivery rule is for
            messages that don't match any topic filter.  Selecting <em>No</em> says
            that if the message does not match any topic filters, then you won't
            get the message, while selecting <em>Yes</em> says to delivery such
            non-matching messages to you.

            <p>If no topics of interest are selected above, then you will receive
            every message sent to the mailing list.
        </td>
        <td bgcolor="#cccccc">
            <mm-suppress-nonmatching-topics>No<br>
            <mm-receive-nonmatching-topics>Yes
        </td></tr>

    <tr><td bgcolor="#cccccc">
            <strong>Блокировать отправку копий сообщений?</strong>

            <p>Вы можете избежать получение копий сообщений, в которых вы указаны
            в поле <tt>To:</tt> или <tt>Cc:</tt>.  Для этого укажите <em>Да</em>
            в качестве значения этого параметра.  Если вы укажите <em>Нет</em>, то
            вы будете получать копии таких сообщений.

            <p>If the list has member personalized messages enabled, and you elect
            to receive copies, every copy will have a <tt>X-Mailman-Copy: yes</tt>
            header added to it.
        </td>
        <td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Нет<br>
        <mm-dont-receive-duplicates-button>Да<p>
        <mm-global-nodupes-button><i>Изменить во всех подписках</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
