<html>
<head>
    <title>Аутентификация для доступа к закрытому архиву списка рассылки %(realname)s</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s/">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">Аутентификация для доступа к закрытому архиву списка рассылки %(realname)s</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">Электронный адрес:</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">Пароль:</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT" name="submit" value="Let me in...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Важно</em></strong>: вы должны разрешить прием файла cookies,
      в противном случае, вы не сможете внесить какие бы то ни было изменения.

      <p>Файл cookies используется для того, чтобы хранить параметры сеанса работы.
      В частности, при его использовании вам не потребуется вводить пароль при
      выполнении любой административной операции.  Информация, связанная с
      вашим сеансом работы, будет удалена в момент, когда вы выйдете из своего
      браузера.  Вы также можете явным образом завершить работу, щелкнув на
      ссылку <em>Отключиться</em> в разделе <em>Other Administrative
      Activities</em> (Вы увидите ее после подключения к административному
      интерфейсу).
</FORM>
</body>
</html>
