Ova stranica sadr¾i sa¾etak trenutnog skupa administrativnih zahtjeva 
za koje je potrebno va¹e odobrenje za <a href="%(adminurl)s"><em>%(listname)s</em> mailing listu</a>. 
Naæi æete listu zadr¾anih zahtjeva za pretplatom i odjavom, ukoliko postoje, uz poruke 
koje su zadr¾ane zbog va¹eg odobrenja.

<p>Za svaki administrativni zahtjev izaberite akciju koju æete poduzeti, 
a klikom na <b>Po¹alji Sve Podatke</b> zavr¹ite izmjene. 
<a href="%(detailsurl)s">Detaljnje upute</a> su takoðer moguæe.

<p>Takoðer mo¾ete <a href="%(viewallurl)s">pogledati detalje</a> svih zadr¾anih poruka.
