Administrativni zahtjevi su prikazani na jedan od dva naèina, na <a
href="%(summaryurl)s">stranici sa¾etak</a> i na stranici <em>detalji</em>.
 Stranica sa¾etak sadr¾i zahtjeve za pretplatom i odjavom koji su na 
èekanju, kao i poruke koje èekaju va¹e odobrenje, grupirane po e-mail adresi 
po¹iljatelja. Stranica detalji sadr¾i detaljan prikaz svake zadr¾ane poruke, 
ukljuèujuæi sva zaglavlja poruke i izvadak tijela poruke.

<p>Sljedeæe akcije dostupne su na svim stranicama:

<ul>
<li><b>Odgodi</b> -- Odgodite odluku za kasnije. Nikakva akcija 
    nije poduzeta za ovaj administrativni zahtjev na èekanju, ali ¹to  
    se tièe zadr¾anih poruka, njih mo¾ete i dalje proslijediti (pogledajte ni¾e).

<li><b>Odobri</b> -- Odobri poruku ¹aljuæi je na listu.
    Kod zahtjeva za èlanstvom odobri promjenu u statusu èlanstva.

<li><b>Odbaci</b> -- Odbaci poruku ¹aljuæi poruku o odbacivanju 
    po¹iljatelju i napusti izvornu poruku.  Kod zahtjeva za èlanstvom 
    odbaci promjenu u statusu èlanstva. U bilo kojem sluèaju 
    trebali biste napisati razlog odbacivanja u prateæem polju za tekst.

<li><b>Napusti</b> -- Odbaci izvornu poruku bez slanja poruke o odbacivanju. 
    Kod zahtjeva za èlanstvom, ovo jednostavno napu¹ta zahtjev bez ikakve poruke 
    osobi koja je uputila zahtjev. To je obièno akcija koju ¾elite poduzeti za poznate spam
		poruke.
</ul>

<p>Za zadr¾ane poruke, ukljuèite opciju <b>Saèuvaj</b> ako ¾elite 
pohraniti kopiju poruke za administratora. Ovo je korisno za 
zloupotrebljene poruke koje ¾elite odbaciti, ali ¾elite saèuvati 
podatak za kasnju provjeru.

<p>Ukljuèite opciju <b>Proslijedi</b> i upi¹ite adresu na koju ¾elite proslijediti poruku 
ako je prosljeðujete nekome tko nije na listi. Da biste uredili zadr¾anu poruku 
prije nego ¹to je ona poslana na listu, trebali biste je proslijediti sebi (ili vlasnicima liste) 
i napustiti izvornu poruku. Nakon pojavljivanja poruke u Va¹em po¹tanskom pretincu, 
napravite izmjene i ponovno po¹aljite poruku na listu, ukljuèujuæi <tt>Odobreno:</tt> 
zaglavlje koje sadr¾i lozinku liste. U ovom sluèaju nije preporuèljivo pisati komentar o promjeni
teksta poruke.

<p>Ako je po¹iljatelj èlan liste koja je moderirana, opcionalno mo¾ete obrisati njegovu 
moderacijsku oznaku. Ovo je korisno kada je Va¹a lista konfigurirana tako da stavlja 
nove èlanove na probno kori¹tenje, a Vi ste odluèili da se tome èlanu mo¾e vjerovati 
kod slanja novih poruka bez odobravanja istih.

<p>Ako po¹iljatelj nije èlan liste, mo¾ete dodati e-mail adresu u 
<em>po¹iljateljev filter</em>.  Po¹iljateljevi filteri su opisani na <a
href="%(filterurl)s">stranici privatnost po¹iljateljevi filteri</a> i mogu biti:  
<b>auto-prihvati</b> (Prihvaæeni), <b>auto-zadr¾i</b> (Zadr¾ani),
<b>auto-odbaci</b> (Odbaèeni), ili <b>auto-napusti</b> (Napu¹teni).  Ova 
opcija neæe biti omoguæena ako je adresa veæ na jednom od po¹iljateljevih filtera.

<p>Kada ste zavr¹ili, kliknite na gumb <em>Po¹alji Sve Podatke</em>
na vrhu ili na dnu stranice. Ovo æe poslati sve odabrane akcije za sve administrativne 
zahtjeve za koje ste se odluèili.

<p><a href="%(summaryurl)s">Povratak na stranicu sa¾etak</a>.
