    </ul>
    <p>
      <a name="end"><b>Datum zadnje poruke:</b></a> 
       <i>%(lastdate)s</i><br>
    <b>Arhivirano:</b> <i>%(archivedate)s</i>
    <p>
   <ul>
         <li> <b>Poruke sortirane po:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
	     <li><b><a href="%(listinfo)s">Vi¹e informacija o ovoj listi...
                    </a></b></li>
     </ul>
     <p>
     <hr>
     <i>Ova arhiva je generirana sa 
     Pipermail %(version)s.</i>
  </BODY>
</HTML>
