<!-- $Revision: 1.1.1.1 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User> konfiguracija èlanstva za <MM-List-Name>
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-List-Name> mailing lista konfiguracija èlanstva za
        <MM-Presentable-User>
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b><MM-Presentable-User></b> pretplatnièki status,
        lozinka, i opcije za <MM-List-Name> mailing listu.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Mjenjanje Va¹ih <MM-List-Name> èlanskih informacija</B>
        </FONT></TD></TR>
    <tr>
    <td colspan="2">Adresu s kojom ste pretplaæeni na mailing listu mo¾ete promijeniti 
      uno¹enjem nove adrese u donja polja. Primijetite da æe potvrdni mail biti 
      poslan na novu adresu i da promjena mora biti potvrðena prije nego bude 
      obraðena. 
      <p>Vrijeme potvrde isteæi æe za otprilike <mm-pending-days>.

        
      <p>Takoðer mo¾ete opcionalno postaviti ili promijeniti va¹e stvarno ime 
        (npr. <em>Pero Periæ</em>). 
      <p>Ako ¾elite napraviti èlanske promjene za sve liste na koje ste pretplaæeni na 
        <mm-host>, ukljuèite 
        <em>Promjeni svuda</em> polje.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Nova adresa:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Unesite ponovno 
            radi potvrde:</div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Va¹e ime 
            (opcionalno):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Promjeni svuda</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Odjava sa <MM-List-Name></B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Va¹e ostale <MM-Host> pretplate</B>
        </FONT></TD></TR>

    <tr><td>
        Ukljuèite potvrdno polje i kliknite na ovaj gumb da biste se 
				odjavili sa ove mailing liste. <strong>Upozorenje:</strong>
        Ova akcija æe biti poduzeta odmah!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        Mo¾ete vidjeti popis svih drugih maling lista èiji ste èlan na 
        <mm-host>.  Koristite ovo ako ¾elite napraviti iste izmjene èlanskih postavki 
				kod drugih pretplata.

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Va¹a <MM-List-Name> Lozinka</B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Zaboravili ste Lozinku?</h3>
        </center>
        Kliknite na ovaj gumb da biste primili lozinku na svoju èlansku adresu.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Promjenite Lozinku</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Nova 
                lozinka:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Unesite ponovno
                da bi potvrdili:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Promjeni svuda.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Va¹e <MM-List-Name> pretplatnièke postavke</B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>Trenutne vrijednosti su odabrane.</strong></i>

<p>Primijetite da neke od postavki imaju <em>Postavi globalno</em>
polje.  Ukljuèivanjem ovog polja rezultirat æe promjenama na svim 
mailing listama èiji ste èlan na <mm-host>.  Kliknite gore na 
<em>Prika¾i moje druge pretplate</em> da biste vidjeli na koje ste druge mailing liste 
pretplaæeni.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Dostava maila</strong></a><p>
        Postavite ovu opciju na <em>Ukljuèeno</em> da biste primili poruke poslane 
        na ovu mailing listu.  Postavite istu na <em>Iskljuèeno</em> ako ¾elite ostati
        pretplaæeni, ali ne ¾elite da vam mail bude dostavljen za neko vrijeme 
        (npr. idete na godi¹nji odmor).  Ako iskljuèite dostavu maila 
        nemojte je zaboraviti ukljuèiti kada se vratite; ona neæe automatski 
        biti ponovno ukljuèena.
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Ukljuèeno<br>
        <mm-delivery-disable-button>Iskljuèeno<p>
        <mm-global-deliver-button><i>Postavi globalno</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Postavi Digest Mod</strong><p>
        Ako ukljuèite digest mod, dobijat æete skupljene poruke 
				(obièno jednom na dan, ali moguæe i vi¹e na prometnim listama), umjesto 
				svake posebno onda kada su poslane. Ako je digest mod ukljuèen 
				pa iskljuèen, mo¾da dobijete jedan posljednji mail sa skupljenim porukama.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Iskljuèeno<br>
        <MM-Digest-Radio-Button>Ukljuèeno
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Primaj MIME ili Obièan Tekstualni Digest Mail?</strong><p>
        Va¹ mail preglednik mo¾e, ali i ne mora podr¾avati MIME digest mail. Opæenito, 
				MIME digest mail je preporuèen, ali ako imate problema sa èitanjem, odaberite obièan 
				tekstualni digest mail.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Obièan Tekst<p>
        <mm-global-mime-button><i>Postavi globalno</i>
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Primaj vlastite poruke sa liste?</strong><p>
        Obièno æete dobijati svaku kopiju poruke koju po¹aljete na listu. 
				Ako ne ¾elite primati ovu kopiju, postavite ovu opciju na 
       <em>Ne</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Ne<br>
        <mm-receive-own-mail-button>Da
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Primaj potvrdni mail kada po¹aljem mail na listu?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Ne<br>
        <mm-ack-posts-button>Da
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Primi podsjetnik lozinke za ovu listu?</strong><p>
        Jedno mjeseèno, primit æete e-mail koji sadr¾i podsjetnik lozinke 
				za svaku listu na ovom racunalu na koju ste pretplaæeni. Navedeno mo¾ete 
				iskljuèiti za svaku listu tako da izaberete <em>Ne</em> za ovu opciju.  
				Ako iskljuèite podsjetnike lozinki za sve liste na koje ste pretplaæeni, 
				nikakav e-mail u obliku podsjetnika vam neæe biti poslan.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Ne<br>
        <mm-get-password-reminder-button>Da<p>
        <mm-global-remind-button><i>Postavi globalno</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Ne prikazuj me na pretplatnièkoj listi?</strong><p>
        Kada netko gleda listu èlanova, va¹a e-mail adresa je normalno prikazana. 
				Ako ne ¾elite da va¹a e-mail adresa bude prikazana na èlanskoj listi, odaberite 
        <em>Da</em> za ovu opciju.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Ne<br>
        <MM-Hide-Subscription-Button>Da
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Koji jezik preferirate?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Na koje biste se naslove kategorija ¾eljeli pretplatiti?</strong><p>
                Biranjem jednog ili vi¹e naslova mo¾ete filtrirati promet 
								na mailing listi, tako da primate samo podskup poruka. 
								Ako se poruka podudara sa jednim od va¹ih selektiranih 
								naslova, onda æete dobiti poruku, a inaèe neæete.

                
      <p>Ako se poruka ne podudara sa niti jednim naslovom, pravilo dostave zavisi 
        o donjim postavkama. Ako ne izaberete niti jedan naslov, dobit æete sve 
        poruke poslane na mailing listu. </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr>
    <td bgcolor="#cccccc"> <strong>Da li ¾elite primati poruke koje se ne podudaraju 
      sa niti jednim filterom naslova?</strong> 
      <p>

                Ova opcija æe imati efekta samo ako ste pretplaæeni 
								na barem jedan gornji naslov. Ona opisuje koje je aktivno 
								dostavno pravilo za poruke koje se ne podudaraju sa niti jednim 
								filterom naslova. Izbor <em>Ne</em> ka¾e da ukoliko se 
								poruka ne podudara sa niti jednim filterom naslova, onda neæete 
								dobiti poruku, dok izbor <em>Da</em> ka¾e da se obavi dostava 
								takve poruke.

                <p>Ako gore niste odabrali niti jedan naslov, onda 
								æete primati svaku poruku poslanu na mailing listu.

        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Ne<br>
        <mm-receive-nonmatching-topics>Da
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Izbjegavaj duplikate poruka?</strong><p>

                Kada ste eksplicitno navedeni u <tt>To:</tt> ili
                <tt>Cc:</tt> zaglavljima poruke sa liste, mo¾ete odabrati da 
								ne primate kopiju poruke sa mailing liste.
                Odaberite <em>Da</em> da izbjegnete primanje kopije sa 
                mailing liste; odaberite <em>Ne</em> da biste primali kopije.

                <p>Ako lista ima ukljuèene personalizirane poruke èlanova, a vi 
								ste odabrali primanje kopija, tada æe svaka kopija imati dodano <tt>X-Mailman-Copy: yes</tt> zaglavlje.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Ne<br>
        <mm-dont-receive-duplicates-button>Da<p>
        <mm-global-nodupes-button><i>Postavi globalno</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
