<html>
<head>
    <title>%(realname)s Privatna Arhiva Autentikacija</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(realname)s Privatna Arhiva Autentikacija</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">Email adresa:</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">Lozinka:</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="Pusti me unutra...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Va¾no:</em></strong> Odavde, morate imati 
			omoguæene kolaèiæe (cookies) u svome browseru, jer u suprotnom 
			administrativne promjene neæe biti moguæe.
			
			<p>Mailmanovo administracijsko suèelje koristi sesijske kolaèiæe (session cookies) 
			tako da se ne trebate ponovno autenticirati kod svake administrativne operacije. 
			Ovaj kolaèiæ (cookie) æe automatski isteæi kada izaðete iz browsera, ali ga mo¾ete i 
			eksplicitno uni¹titi kolaèiæ klikanjem na link <em>Izlaz</em> pod <em>Druge 
      Administracijske Aktivnosti</em> (koji æete vidjeti onda kad se uspje¹no prijavite).
</FORM>
</body>
</html>
