<?xml version="1.0"?>
<!-- name="generator" content="$BLOJSOM_VERSION" -->
<rss version="0.92">
    <channel>
        #foreach ($entry in $BLOJSOM_ENTRIES)
        <title>$entry.getEscapedTitle()</title>
        <link>$entry.getEscapedLink()</link>
        <description>$entry.getEscapedDescription()</description>
        <language>$BLOJSOM_BLOG.getBlogLanguage()</language>


        #foreach ($entryComment in $entry.getComments())
        <item>
           <title>$entry.getEscapedTitle()</title>
           <link>$entry.getEscapedLink()</link>
           <description>$entryComment.getComment()</description>
        </item>
        #end
        #end
    </channel>
</rss>


