<?xml version="1.0"?>
<!-- name="generator" content="$BLOJSOM_VERSION" -->
<rss version="0.92" xmlns:wfw="http://wellformedweb.org/CommentAPI/">
    <channel>
        <title>$BLOJSOM_BLOG.getBlogName()</title>
        <link>$BLOJSOM_BLOG.getBlogURL()</link>
        <description>$BLOJSOM_BLOG.getBlogDescription()</description>
        <language>$BLOJSOM_BLOG.getBlogLanguage()</language>
        #foreach ($entry in $BLOJSOM_ENTRIES)
        <item>
            <title>$entry.getEscapedTitle()</title>
            <link>$entry.getEscapedLink()</link>
            <description>$entry.getEscapedDescription()</description>
            #if ($BLOJSOM_COMMENTS_ENABLED.booleanValue() && $entry.supportsComments() && ($entry.getMetaData() && !$entry.getMetaData().containsKey("blog-entry-comments-disabled")))
  	          <wfw:comment>$BLOJSOM_BLOG.getBlogBaseURL()/commentapi$entry.getId()</wfw:comment>
              <wfw:commentRss>$entry.getEscapedLink()&amp;page=comments&amp;flavor=rss</wfw:commentRss>
            #end
        </item>
        #end
    </channel>
</rss>
