$BLOJSOM_BLOG.getBlogName()
$BLOJSOM_BLOG.getBlogURL()
$BLOJSOM_BLOG.getBlogDescription()
-------------------------------------------------------------------------------------------------

#set( $totalEntries = 0)
#foreach ($entry in $BLOJSOM_ENTRIES)
---
$entry.getTitle()
$entry.getDate()
$entry.getDescription()
#set( $totalEntries = $totalEntries + 1)
#end