Comment on: $BLOJSOM_COMMENT_PLUGIN_BLOG_ENTRY.getLink()&page=comments

Comment by: <a href="mailto:$!BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getAuthorEmail()">$!BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getAuthor()</a> - $!BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getAuthorURL()
   Left on: $!BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getCommentDate()
IP Address: $!BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getMetaData().get("BLOJSOM_COMMENT_PLUGIN_METADATA_IP")

==[ Comment ]==========================================================

$!BLOJSOM_COMMENT_PLUGIN_BLOG_COMMENT.getComment()