관리자 요청은 두가지 방식 중 하나로 보여집니다. 한가지는 <a
href="%(summaryurl)s">요약한 페이지</a>, 다른 한가지는 <em>자세한</em>
페이지입니다. 요약한 페이지는 보낸이의 E메일 주소로 그룹화 하여 
가입, 탈퇴, 당신의 승인을 기다리고 있는 글들을 포함하고 있습니다.
자세한 페이지는 각 메세지에 대한 더 자세한 것을 보함하고 있습니다.
예를 들면 메세지의 헤더 와 메세지 본문의 글들이 있습니다.

<p>모든 페이지에서 다음의 행동을 취할 수 있습니다:

<ul>
<li><b>연기하기</b> - 나중에 결정하도록 현재 결정을 연기합니다.
만약 당신이 메세지를 지우지 않고, 다른 사람에게 보내거나, 보관(아래를 참조하세요
.)하길
원한다면 이 결정을 사용할 수 있습니다.
<li><b>승인하기</b> - 메세지를 승인하여 회원들에게 보냅니다.
<li><b>거절하기</b> - 메세지를 거절합니다. 보낸이에게 거절에 관한 공지를 보냅니>
다.
원래 메세지는 버려지게 됩니다.
<li><b>버리기</b> - 보낸이에게 거절 공지를 보내지 않고 메세지를 버려 버립니다.
이 결정은 스팸 메일의 경우 쓸모있을 것입니다.
</ul>

<p>만약 사이트 관리자를 위해 이 메세지의 복사본이 필요하다면 
<b>보관하기</b>옵션을 체크하십시오. 이것은 독설의 메세지의 경우 쓸모
있을 것입니다. 만약 여러분이 리스트에 없는 어떤 이에게 메세지를 
전달하길 원한다면 전달할 주소를 기입하시고, <b>전달하기</b> 옵션을 
체크하십시오. 리스트로 보내지 전에 잡아둔 메세지를 수정하기 위해
당신은 자기에게(혹은 리스트 소유주)에서 메일을 전달하여야 하며,
원본 메세지는 버려야 합니다. 그럼 당신의 메일상자에 메세지가 나타
나면 수정을 하여 리스트에 메일을 다시 보냅니다. 물론 <tt>승인:
</tt> 헤더에는 리스트 비밀번호를 포함해야 합니다. 여러분이 수정한
텍스트에서 재전송한 이유에 대한 짧은 설명을 붙이는것 온라인 예절
이라고 생각합니다.

<p>만약 보낸이가 글관리되는 리스트 회원이라면 당신은 선택적으로
그들의 글관리 기호를 없애줄 수 있습니다. 이것은 당신의 리스트가
새로운 회원에게 글관리를 기본적으로 설정하고, 당신이 이 회원에
대해 승인없이 리스트에 글을 써도 문제가 없겠다 생각하는 경우에
유용하게 사용될 수 있을 것입니다.

<p>만약 보낸이가 리스트 회원이 아닐 경우, 당신은 <em>보낸이 걸러내기
</em>에 E메일 주소를 추가할 수 있습니다. 보낸이 걸러내기는 <a
href="%(filterurl)s">보낸이 걸러내기 개인정보 정책 페이지</a>에 설명
되어 있스면 <b>자동-받아들임</b> (받아들임), <b>자동-잡아두기</b>
(잡아두기), <b>자동-거절하기</b> (거절하기, 혹은 <b>자동-버리기</b>
(버리기) 중 하나를 선택하실 수 있습니다. 이 설정은 주소가 이미 
<em>보낸이 걸러내기</em>에 존재한다면 이용할 수 없습니다.

<p>여러분의 결정이 끝나셨다면, 이 페이지의 윗부분과 아래부분에 있는
<em>자료 처리하기</em> 버턴을 클릭하세요. 이 버턴은 관리적인 요청을
요구한 모든 사항에 대한 당신이 결정한 행동을 취하도록 할 것입니다.
만약 요청에 대한 결정을 지금 하지 않으실 거면 아무것도 손대지 말고
(라디오버턴도 포함해서) <em>자료 처리하기</em>을 누르시면 대기상태
DB 에서 제거되지 않을 것입니다.

<p><a href="%(summaryurl)s">요약한 페이지로 돌아가기</a>.
