이 문서는 메일링 리스트에 예약되어 있는 특성의 <b>%(attribute)s</b>
형식을 포함하고 있습니다. 더 자세한 설명은 
<a href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">Python의
문자열 형식 규칙</a>을 보시기 바랍니다. 몇몇 유용한 속성은 아래와 같습니다.

<ul>
    <li><b>real_name</b> - 리스트의 이름을 나타냅니다. 보통 대문자로
    나타납니다.

    <li><b>list_name</b> - 실제 URL 에서 사용되는 리스트의 이름

    <li><b>host_name</b> - 메일링 리스트가 운영되는 호스트의 이름

    <li><b>web_page_url</b> - Mailman 의 기본 URL 입니다.
    이것은 메일링 리스트의 목록정보 페이지를 나타내는
    <em>listinfo/%(list_name)s</em> 와 같이 첨가 될 수 있습니다.

    <li><b>description</b> - 메일링 리스트의 간략한 설명

    <li><b>info</b> - 메일링 리스트의 전체 설명
     <li><b>cgiext</b> - CGI 스크립트를 위한 확장.
</ul>
