<!-- $Revision: 1.1.1.1 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> 정보 보기</TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000"><MM-List-Name> 소개</FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p>  리스트에 포스팅된 이전 글들을 보실려면
	      <MM-Archive><MM-List-Name>
		  저장소</MM-Archive> 를 보시기 바랍니다.
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000"><MM-List-Name> 사용하기</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  메일링 리스트 가입자들에게 메시지를 보내려면
	  <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>
	  으로 메일을 보내시면 됩니다..

	  <p>메일링 리스트에 가입하거나 현재 가입되어 있는 상태를 
	  아래에서 바꾸실 수 있습니다.
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000"><MM-List-Name> 가입하기</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	     다음 항목들을 채워 주셔서 <MM-List-Name> 에 가입 하십시오.
	  <MM-List-Subscription-Msg>
	  <ul>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">전자우편주소:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <tr>
        <td bgcolor="#dddddd" width="55%">이름 (선택사항):</td>
        <td width="33%"><mm-fullname-box></td>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
	<TD COLSPAN="3"><FONT SIZE=-1>개인적으로 사용하지 않는 패스워드를
            사용하십시오. 메일링리스트는 완벽한 보안을 제공하지 않습니다.
            이 패스워드는 단지 스패머로 인해 악용되지 않도록만 합니다.
            비밀번호는 암호화 시키지 않고 여러분에게 보내기 때문에 절대
            <b>실제 사용하는 비밀번호는 입력하지 마십시오.</b>
            <p>만약 여러분이 비밀번호를 입력하지 않는다면 자동으로 당신을
            위한 비밀번호가 생성되며, 당신의 가입 확인 메일에 함께 보내
            집니다. 개인 정보 변경을 위한 비밀번호를 언제나 다시 보내
            드립니다.
	    <MM-Reminder>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">비밀번호입력:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">다시한번입력:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd">사용할 언어를 선택하세요?</TD> 
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <tr>
	<td>메시지를 하루에 한 번만 묶음 형식으로 받아보도록 설정하시겠습니까?
	  </td>
	<td><MM-Undigest-Radio-Button> 아니요
	    <MM-Digest-Radio-Button>  예
	</TD>
      </tr>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000"><MM-List-Name> 가입자들</FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
