<!-- $Revision: 1.1.1.1 $ -->
<html>
<head>
    <title><MM-Presentable-User> 의 <MM-List-Name> 에서 사용자 설정하기
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-List-Name> 의 
        <MM-Presentable-User> 사용자 설정하기
        </FONT></B></TD></TR>
    </TABLE>
<MM-Form-Start>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
	<MM-List-Name> 메일링 리스트에서 <b><MM-Presentable-User></b>
	사용자의 가입 상태, 패스워드, 기타 옵션등을 다룹니다.
        </td><td><mm-logout-button></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B><MM-List-Name> 회원 정보 변경하기</B>
        </FONT></TD></TR>
    <tr><td colspan="2">You can change the address that you are subscribed
        to the mailing list with by entering the new address in the
        fields below.  Note that a confirmation email will be sent to
        the new address, and the change must be confirmed before it is
        processed.

        <p>Confirmations time out after about <mm-pending-days>.

        <p>You can also optionally set or change your real name
        (i.e. <em>John Smith</em>).

        <p>If you want to make the membership changes for all the
        lists that you are subscribed to at <mm-host>, turn on the
        <em>Change globally</em> check box.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">새로운 E메일 주소:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">확인을위해 한번 더 입력
            :</div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">이름
            (선택사항):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>전체적으로 변경</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B><MM-List-Name> 탈퇴하기</B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B><MM-Host> 의 다른 메일링 리스트 가입 상황</B>
        </FONT></TD></TR>

    <tr><td>
        이 메일링 리스트로 부터 탈퇴하기 위해 확인 체크 박스를 체크
	하시고 이 버튼을 누르시기 바랍니다.
        <strong>경고:</strong>
	이 동작은 즉각적으로 일어 납니다. 돌이킬 수 없습니다.
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
	여러분의 회원이신 <mm-host> 상의 다른 메일링 리스트 가입 상황 
	및 옵션 페이지를 보시고자 한다면 이것을 사용하십시오.
        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>설정하신 <MM-List-Name> 비밀번호</B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>비밀번호를 잊으셨나요?</h3>
        </center>
	아래 버튼을 누르시면 메일링 리스트에 등록된 당신의 E메일 주소로 
	비밀번호가 보내어 집니다.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Change Your Password</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">새 
                비밀번호:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">한번더
                입력:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>전체적으로 변경
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B><MM-List-Name> 메일링 리스트 구독 옵션</B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>체크되어 있는 항목이 현재 선택되어진 것입니다.</strong></i>

<p>몇몇 설정의 경우 <em>전체적으로 설정</em>할 수 있습니다. <mm-host>
에 당신이 회원이신 이 메일링 리스트에 설정변경을 가하게 됩니다. 당신이
<em>가입하신 다른 리스트 목록</em>을 보실려면 위에 있는 것을 클릭하여
주시기 바랍니다.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>편지 배달</strong></a><p>
        이 메일링 리스트에서 발생한 글을 받아 보실려면 <em>예</em>
	로 설정하시기 바랍니다. 만약 여러분이 잠깐동안 메일을 받지
	않으실려면 <em>아니요</em>로 세팅하시기 바랍니다. (예를 들면
	, 방학동안) 만약 여러분이 편지 배달을 금지하신다면 여러분
	방학 후에 다시 재가동 시키는 걸 잊지 마시기 바랍니다.
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>예<br>
        <mm-delivery-disable-button>아니요<p>
        <mm-global-deliver-button><i>전체적으로 설정</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>묶음배달 설정</strong><p>
	만약 여러분이 설정을 "예"라고 하신다면 묶음배달을 신청하는 것입니다.
	(보통 하루에 한번 정도 보내집니다.) 대신 보낼때, 단 한통만 보내게
	됩니다. 만약 묶음배달이 "아니요"로 바꾸게 된다면, 그 후에 한번의
	묶음배달 편지를 받게 될 것입니다.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>아니요<br>
        <MM-Digest-Radio-Button>예
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>MIME 혹은 평문 묶음 배달중 어떤 걸 선택하시겠습니까?</strong><p>
	당신의 메일 프로그램은 MIME를 지원하거나, 혹은 하지 않을 것입니다.
	일반적으로 MIME 묶음배달이 기본입니다. 만약 MIME 형식을 읽는데,
	문제가 있으면 "평문"을 선택하시기 바랍니다.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>평문
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>자신이 보낸 우편물을 받을 건가요?</strong><p>
	일반적으로 여러분이 리스트에 글을 보내게 되면 여러분이 보낸
	메세지를 다시 받게 됩니다. 만약 이 복사본을 받길 원하지 않으
	시면, 이 옵션을 <em>아니요</em>로 설정하시기 바랍니다.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>아니요<br>
        <mm-receive-own-mail-button>예
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>리스트에 보낸 "메일 확인" 메일을 받아 보실 건가요?
        </strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>아니요<br>
        <mm-ack-posts-button>예
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>이 리스트에서 보내는 비밀번호 편지를 보낼 건가요?</strong><p>
	한달에 한번 여러분이 가입한 호스트로 부터 비밀번호를 담은
	편지를 받게 될 것 입니다. 여러분이 이 설정은 <em>아니요</em>
	로 설정함으로써 그 메일을 받지 않을 수 있습니다. 만약 당신이
	가입한 모든 리스트의 이 설정 부분을 <em>아니요</em>로 설정
	한다면 패스워드 편지는 여러분에게 가지 않을 것입니다.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>아니요<br>
        <mm-get-password-reminder-button>예<p>
        <mm-global-remind-button><i>전체적으로 변경</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>가입자 명단에서 여러분의 이름을 숨길까요?</strong><p>
	어떤 사람이 리스트 회원을 볼때, 당신의 E메일 주소는 보통 
	보이게 됩니다. 물론 스패머가 E메일을 가져가도 상관없게 변조
	됩니다. 만약 여러분이 회원 목록에 자신의 E메일 주소가 보이길
	원하지 않으시다면 이 설정을 <em>아니요</em>를 선택하여 주십시오.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>아니요<br>
        <MM-Hide-Subscription-Button>예
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>여러분이 사용할 언어는 무엇입니까?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
	<strong>가입하고자 하는 주제의 분류는 어떤 것입니까?</strong><p>
		하나 이상의 주제를 선택함으로써 당신은 메일링 리스트의
		트래픽을 걸러낼 수 있으며, 주제와 맞는 메세지만 받을
		수 있습니다. 만약 여러분이 선택한 주제와 메세지가 맞
		는 다면 여러분에게 배달되지만 그렇지 않을 경우 배달
		되지 않습니다.

		<p>만약 메세지가 어떠한 주제와도 맞지 않는다면 배달
		규칙은 아래 설정에 의존하게 됩니다. 만약 여러분이 
		관심있어하는 주제를 선택하지 않으시면 여러분은
		메일링 리스트로 오는 모든 메세지를 받을 것입니다.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
	<strong>주제 걸러내기에서 어떠한 패턴과도 맞지 않는 메세지를
		받아보시겠습니까?</strong><p>
		이 설적은 단지 여러분이 위의 주제중 하나라도 가입하셔야
		적용되는 설정입니다. 주제 걸러내기 패턴과 맞지 않을 경우
		에 그 메세지를 어떻게 처리하는가에 대한 설정을 하고 있습니다.
		<em>아니요</em> 로 선택하시면, 주제 걸러내기 패턴과 
		어느것도 맞지 않은 메세지는 여러분에게 배달되지 않으면
		<em>예</em>로 선택하시면 여러분에게 배달됩니다.

		<p>만약 관심있는 주제가 없으시면 메일링 리스트로 오는
		모든 메세지를 받게 될 것입니다.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>아니요<br>
        <mm-receive-nonmatching-topics>예
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>메세지가 중복되는 것은 받지 않을까요?</strong><p>

		여러분이 리스트 메세지의 헤더의 <tt>To:</tt> 혹은 <tt>Cc:</tt>
		부분에 여러분의 주소가 들어 있으면 메일링 리스트로 부터
		여러 중복되는 메세지를 받게 됩니다. <em>예</em>로 선택
		하시면 중복되는 것을 받지 않으며 <em>아니요</em>로 선택
		하시면 메일링 리스트로 부터 메세지를 받게 됩니다.

		<p>만약 리스트가 <em>회원 개별화된 메세지</em>가 가능
		하게 되어 있다면 당신은 <tt>X-Mailman-Copy: yes</tt>
		헤더를 더함으로써 모든 복사메세지에 대해 선별할 수 있
		습니다.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>아니요<br>
        <mm-dont-receive-duplicates-button>예<p>
        <mm-global-nodupes-button><i>전체적으로 변경</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
