<!-- $Revision: 5046 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> 가입자들</TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
    <TABLE WIDTH="100%" COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	  <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name>
		가입자명단</FONT></B>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" ALIGN="CENTER">
	    
	  <P>가입 변경을 하실려면 여러분의 Email 주소를 찾아 클릭하십시오.
	      <br><I>(괄호 표시된 항목은 "글쓰기 권한"이 없는 항목을 가르킵니다.)
	      </I></P>
	</TD>
      </TR>
      <TR WIDTH="100%" VALIGN="top">
	<TD BGCOLOR="#FFF0D0" WIDTH="50%">
	  <center>
	    <B><FONT COLOR="#000000">
		  <MM-List-Name> 에서 Digest를 신청 안하신 분들 : <MM-Num-Reg-Users></FONT></B>
	  </center>
	</TD>
	<TD BGCOLOR="#FFF0D0" WIDTH="50%">
	  <center>
	    <B><FONT COLOR="#000000">
		  <MM-List-Name> 에서 Digest를 신청하신 분들 : <MM-Num-Digesters></FONT></B>
	  </center>
	</TD>
      </TR>
      <TR VALIGN="top">
	<td>
	  <P><MM-Regular-Users>
	</td>
	<td>
	  <P><MM-Digest-Users>
	</td>
      </tr>
    </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
