<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All (Aggregate).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DTTk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ctfconvert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ctfdump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ctfmerge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>dtrace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>dtrace_dyld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>libctf.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libdtrace.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>libdwarf.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libelf.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>plockstat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>183C01C70F80B95C0061FD4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EBC975F099BFB2C0001019C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EBC977D099BFB670001019C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EBC97ED099BFB9E0001019C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EE82FAD0BB094BF0037B667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD76FA90486AB0100D96B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D21C2E0B0A2E8FF8002F65B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D23490E60B617D3200CAA3F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D24889310A2CC091000B141C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D258E51C0A2CAA7A00B50A45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2DF085C0A683FE100384A72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2E5F03209D0DB2B0035AE2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
