Bu sayfa
<a href="%(adminurl)s"><em>%(listname)s</em> mesaj listesi</a> için,
onayýnýzý bekleyen yönetimsel isteklerin bir özetini içerir.
Önce, bekleyen üyelik ve üyelikten çýkma isteklerini göreceksiniz,
sonra, eðer varsa, onayýnýzý bekleyen mesajlarý göreceksiniz.

<p>Her bir yönetimsel istek için, lütfen uygulanacak eylemi seçin ve
iþiniz bitince <strong>Tüm Veriyi Gönder</strong> düðmesine týklayýn.
<a href="%(detailsurl)s">Burada</a> daha ayrýntýlý açýklamalarý
bulabilirsiniz.

<p>Ayrýca bekletilen tüm mesajlarýn
<a href="%(viewallurl)s">ayrýntýlarýný da görebilirsiniz</a>.

