Yönetimsel istekler, iki yoldan biriyle görüntülenir, bir
<a href="%(summaryurl)s">özet sayfasýnda</a> ve bir <em>ayrýntýlar</em>
sayfasýnda. Özet sayfasý, üyelik ve üyelikten çýkma istekleri ile
onayýnýz için bekletilen mesajlarý gönderici e-posta adresine göre
gruplanmýþ þekilde görüntüler. Ayrýntýlar sayfasý, tüm baþlýklar ve
mesaj gövdesinden bir alýntý da içeren, bekletilen her mesajla
ilgili daha ayrýntýlý bir görünüm içerir.

<p>Tüm sayfalarda, aþaðýdaki eylemler kullanýlabilir:

<ul>
<li><b>Ertele</b> -- Kararýnýzý daha sonraya erteler. Þimdilik bu
    yönetimsel istek için bir eylem gerçekleþtirilmez, fakat bekletilen
    mesajlar için, mesajý hala iletebilir veya saklayabilirsiniz
    (aþaðýya bakýn).

<li><b>Onayla</b> -- Mesajý, listeye gönderilmesi için onaylar. Üyelik
    istekleri için, üyelik durumundaki deðiþikliði onaylar.

<li><b>Reddet</b> -- Mesajý reddeder, göndericiye bir reddetme bildirimi
    gönderir ve özgün mesajý gözardý eder. Üyelik istekleri için, üyelik
    durumundaki deðiþikliði reddeder. Her iki durumda da, reddetme
    nedeniniz olarak, seçeneðin yanýndaki yazý kutusuna bir neden
    yazmanýz uygun olacaktýr.

<li><b>Gözardý Et</b> -- Özgün mesajý siler ve göndericiye bir reddetme
    bildirimi göndermez. Üyelik istekleri için, isteði yapan kiþiye
    bildirmeden, isteði gözardý eder. Bu, genellikle spam mesajlar için
    kullanmak isteyebileceðiniz bir eylemdir.
</ul>

<p>Bekletilen mesajlar için, <strong>Sakla</strong> seçeneðini seçerek
mesajýn bir kopyasýný site yöneticisi için kaydedebilirsiniz. Bu,
gözardý etmek, fakat sonraki bir zamanda araþtýrma için kaydýný tutmak
istediðiniz kötü amaçlý mesajlar için kullanýþlýdýr.

<p>Mesajý listede olmayan baþka birisine iletmek için <strong>Ýlet</strong>
seçeneðini seçin ve iletim adresini yazýn. Bekletilen bir mesajý listeye
gönderilmeden  önce düzenlemek isterseniz, önce mesajý kendinize (liste
sahiplerine deðil) iletip özgün mesajý gözardý etmelisiniz. Daha sonra
mesaj size geldiðinde düzenlemelerinizi yapýn ve bir <tt>Approved:</tt>
baþlýðýna liste þifresini yazarak mesajý tekrar listeye gönderin. Bu
durumda, tekrar gönderdiðiniz mesaja, yazýyý düzenlediðinizi açýklayan
bir not eklemeniz uygun olacaktýr.

<p>Gönderici, moderatör onaylý bir liste üyesiyse isteðe baðlý olarak
o kiþinin moderatör onay ayarýný da silebilirsiniz. Bu, yeni üyeleri
bir deneme süresine koyduðunuzda ve artýk bu üyeye onay gerektirmeden
listeye mesaj gönderebilmesi için güvenilebileceðine karar verdiðinizde
kullanýþlýdýr.

<p>Gönderici bir liste üyesi deðilse, e-posta adresini bir <em>gönderici
filtresine</em> ekleyebilirsiniz. Gönderici filtreleri, <a
href="%(filterurl)s">gönderici filtreleri gizlilik sayfasýnda</a>
tanýmlanýr ve <b>otomatik onayla</b> (Onaylanacaklar),
<b>otomatik reddet</b> (Reddedilecekler), <b>otomatik beklet</b>
(Bekletilecekler) veya <b>otomatik gözardý et</b> (Gözardý edilecekler)
olabilir. Bu seçenek, e-posta adresi halen bir gönderici filtresine kayýtlýysa
görülmez.

<p>Ýþiniz bittiðinde, sayfanýn en altýndaki <em>Tüm Veriyi Gönder</em>
düðmesine týklayýn. Bu düðme, bir karar verdiðiniz tüm yönetimsel
isteklerle ilgili seçilen eylemleri gönderir.

<p><a href="%(summaryurl)s">Özet sayfasýna geri dön</a>.

