<html>
<head>
  <title>%(listname)s %(who)s Giriþi</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(listname)s %(who)s
	    Giriþi</FONT></B>
      </TD>
    </TR>
    <tr>
      <TD><div ALIGN="Right">Liste %(who)s Þifresi:</div></TD>
      <TD><INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle><INPUT type="SUBMIT"
                                        name="admlogin"
					value="Giriþ...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Önemli:</em></strong> Bu noktadan itibaren tarayýcýnýzda
      tanýmlama bilgilerini (cookie) etkinleþtirmiþ olmanýz gerekir, yoksa hiçbir
      yönetimsel deðiþiklik yapýlmayacaktýr.

      <p>Mailman'in yönetimsel arayüzünde oturum tanýmlayýcý bilgileri
      kullanýlýr, böylece her yönetimsel iþlemde tekrar yetkilendirme
      yapmanýza gerek kalmaz. Bu tanýmlayýcý bilgi tarayýcýnýzdan
      çýktýðýnýzda otomatik olarak yok olur, veya siz tanýmlayýcý
      bilgiyi <em>Diðer Yönetimsel Aktiviteler</em> baþlýðý altýndaki
      <em>Çýkýþ</em> linkine týklayarak (baþarýyla giriþ yaptýðýnýzda
      bunu göreceksiniz) kendiniz yok edebilirsiniz.
</FORM>
</body>
</html>

