    </ul>
    <p>
      <a name="end"><b>Son mesaj tarihi:</b></a> 
       <i>%(lastdate)s</i><br>
    <b>Arþivlendiði tarih:</b> <i>%(archivedate)s</i>
    <p>
   <ul>
         <li> <b>Mesaj sýralamasý:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
	     <li><b><a href="%(listinfo)s">Bu liste ile ilgili daha fazla bilgi...
                    </a></b></li>
     </ul>
     <p>
     <hr>
     <i>Bu arþiv Pipermail %(version)s ile
     oluþturulmuþtur.</i>
  </BODY>
</HTML>

