Bu yazý, liste özniteliklerine karþý çözülecek
<a href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">Python
biçim dizgileri</a> içerebilir. Ýzin verilen yerine koymalarýn listesi
þunlardýr:

<ul>
    <li><b>real_name</b> - Listenin ismi; genellikle listenin
    isminin büyük harfle yazýlmasýdýr.

    <li><b>list_name</b> - Listenin URL'lerde tanýmlandýðý
    isim, büyük-küçük harf burada anlamlýdýr.

    <li><b>host_name</b> - Liste sunucusunun üzerinde
    çalýþtýðý bilgisayarýn tam tanýmlý alan ismidir (FQDN).

    <li><b>web_page_url</b> - Mailman için temel URL. Bunun
    arkasýna, örneðin <em>listinfo/%(list_name)s</em>
    eklenerek o mesaj listesi için liste tanýtým sayfasýna
    gidilebilir.

    <li><b>description</b> - Mesaj listesinin kýsa bir
    açýklamasý.

    <li><b>info</b> - Mesaj listesinin tam açýklamasý.

    <li><b>cgiext</b> - CGI betiklerine eklenecek uzantý.
</ul>

