<!-- $Revision: 1.1.1.1 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> Bilgi Sayfasý</TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000"><MM-List-Name> Hakkýnda</FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> Bu listeye önceden gönderilen mesajlarý görmek için
	      <MM-Archive><MM-List-Name>
		  Arþivlerini</MM-Archive> ziyaret edin.
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000"><MM-List-Name> Listesinin Kullanýmý</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  Tüm liste üyelerine bir mesaj göndermek için
	  <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A> adresine bir e-posta atýnýz.

	  <p>Aþaðýdaki bölümlerde listeye üye olabilir veya varolan üyeliðinizi
	    deðiþtirebilirsiniz.
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000"><MM-List-Name> Listesine Üyelik</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	    <MM-List-Name> listesine aþaðýdaki formu doldurarak üye
	      olabilirsiniz.
	  <MM-List-Subscription-Msg>
	  <ul>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">E-posta adresiniz:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <tr>
        <td bgcolor="#dddddd" width="55%">Ýsminiz (isteðe baðlý):</td>
        <td width="33%"><mm-fullname-box></td>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
	<TD COLSPAN="3"><FONT SIZE=-1>Aþaðýya bir þifre
          girebilirsiniz. Bu sadece hafif bir güvenlik saðlar, fakat
          diðer kiþilerin üyelik ayarlarýnýzý karýþtýrmasýný engeller.
          <strong>Deðerli bir þifre</strong> kullanmayýn, çünkü bu
          þifre ara sýra size düz yazý olarak gönderilecektir.

            <p>Eðer þifre girmemeyi tercih ederseniz, sizin için
            bir tane þifre otomatik olarak oluþturulacak ve üyeliðinizi
            onayladýðýnýz zaman size gönderilecektir. Kiþisel tercihlerinizi
            düzenlerken her zaman þifrenizin tekrar size gönderilmesini
            isteyebilirsiniz.
	    <MM-Reminder>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">Bir þifre girin:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">Onay için þifreyi tekrar girin:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd">Mesajlarýnýzýn görüntülenmesi için hangi dili tercih edersiniz?</TD> 
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <mm-digest-question-start>
      <tr>
	<td>Liste mesajlarýnýn size günlük toplu mesajlar olarak
	  gönderilmesini ister misiniz?
	  </td>
	<td><MM-Undigest-Radio-Button> Hayýr
	    <MM-Digest-Radio-Button>  Evet
	</TD>
      </tr>
      <mm-digest-question-end>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000"><MM-List-Name> Üyeleri</FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>

