<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User> için <MM-List-Name> mesaj listesi üyelik yapýlandýrmasý
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-Presentable-User> için <MM-List-Name> mesaj listesi üyelik
        yapýlandýrmasý
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b><MM-Presentable-User></b> kullanýcýsýnýn üyelik durumu,
        þifresi ve <MM-List-Name> mesaj listesi için seçenekleri.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B><MM-List-Name> üyelik bilgilerinizin deðiþimi</B>
        </FONT></TD></TR>
    <tr><td colspan="2">Mesaj listesine üye olduðunuz e-posta adresini, aþaðýdaki
        alanlara yeni bir adres girerek deðiþtirebilirsiniz. Yeni adrese
        bir onay mesajý gidecek ve deðiþiklik, onaylanmadan iþleme konulmayacaktýr.

        <p>Onay süreleri yaklaþýk <mm-pending-days> içinde biter.

        <p>Ýsteðe baðlý olarak gerçek adýnýzý da burada ayarlayabilir veya deðiþtirebilirsiniz
        (örneðin <em>John Smith</em>).

        <p>Üyelik deðiþikliklerinin <mm-host> üzerinde üye olduðunuz tüm
        listelerde geçerli olmasýný istiyorsanýz, <em>Global olarak deðiþtir</em>
        onay kutusunu iþaretleyin.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Yeni adres:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Onay için
            tekrar girin:</div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Ýsminiz
            (isteðe baðlý):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Global olarak deðiþtir</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B><MM-List-Name> Listesinden Çýkýþ</B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Diðer <MM-Host> üyelikleriniz</B>
        </FONT></TD></TR>

    <tr><td>
        Onay kutusunu iþaretleyip bu düðmeye týklayarak, bu listedeki
        üyeliðinizi bitirebilirsiniz. <strong>Uyarý:</strong>
        Bu eylem anýnda gerçekleþecektir!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        <mm-host> üzerinde üyesi olduðunuz tüm diðer mesaj listelerinin
        bir listesini görebilirsiniz. Bunu, ayný üyelik seçeneklerini
        diðer listelerde de yapmak istiyorsanýz kullanýn.

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Your <MM-List-Name> Password</B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Þifrenizi mi Unuttunuz?</h3>
        </center>
        Üyelik adresinize þifrenizin yollanmasýný istiyorsanýz bu
        düðmeye týklayýn.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Þifre Deðiþimi</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Yeni
                þifre:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Onay için
                tekrar yeni þifre:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Global olarak deðiþtir.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B><MM-List-Name> Üyelik Seçenekleriniz</B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>Þu andaki deðerleriniz seçili olanlardýr.</strong></i>

<p>Bazý seçeneklerde bir <em>Global olarak ayarla</em> onay kutusu
olduðuna dikkat edin. Bu kutuyu iþaretlemek <mm-host> üzerindeki
tüm mesaj listesi üyeliklerinizde o seçeneðin deðiþtirilmesine neden olur.
Yukarýda <em>Diðer üyeliklerimi listele</em> düðmesine týklayarak
üye olduðunuz diðer mesaj listelerini görebilirsiniz.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Mesaj gönderimi</strong></a><p>
        Bu seçeneði <em>Etkin</em> seçerek bu mesaj listesine gönderilen
        mesajlarýn size iletilmesini saðlayabilirsiniz. <em>Devre Dýþý</em>
        seçeneðini seçerseniz, listeye hala üye olursunuz, fakat size
        listeden bir süreliðine mesaj gelmesini durdurabilirsiniz (örneðin
        tatile çýktýðýnýzda). Eðer mesaj gönderimini devre dýþý býrakýrsanýz
        geri geldiðinizde tekrar etkinleþtirmeyi unutmayýn; kendisi 
        otomatik olarak etkinleþmeyecektir.
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Etkin<br>
        <mm-delivery-disable-button>Devre dýþý<p>
        <mm-global-deliver-button><i>Global olarak ayarla</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Toplu Mesaj Modunu Ayarla</strong><p>
        Toplu mesaj modunu açarsanýz mesajlarý gönderildikleri anda tek tek
        almak yerine toplu þekilde (genellikle
        günde bir kez, fakat olasýlýkla yoðun listelerde birden çok) alýrsýnýz.
        Toplu mesaj modu açýk konumundan kapalý konumuna getirilirse
        son bir toplu mesaj alabilirsiniz.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Açýk<br>
        <MM-Digest-Radio-Button>Kapalý
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>MIME veya Düz Yazý Toplu Mesaj Alýmý</strong><p>
        E-posta okuyucunuz MIME toplu mesajlarý desteklemiyor olabilir.
        Genelde MIME toplu mesajlar tercih edilir ama bunlarý okurken
        sorun yaþýyorsanýz düz yazý toplu mesajlarý seçin.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Düz Yazý<p>
        <mm-global-mime-button><i>Global olarak ayarla</i>
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Mesaja kendi gönderdiðiniz mesajlarý istiyor musunuz?</strong><p>
        Genellikle listeye gönderdiðiniz tüm mesajlarýn bir kopyasýný
        alýrsýnýz. Eðer bu kopyayý almak istemiyorsanýz, bu seçeneði
        <em>Hayýr</em> olarak ayarlayýn.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Hayýr<br>
        <mm-receive-own-mail-button>Evet
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Listeye mesaj gönderdiðinizde bilgi mesajý almak istiyor musunuz?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Hayýr<br>
        <mm-ack-posts-button>Evet
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Bu liste için þifre hatýrlatýcý e-posta almak istiyor musunuz?</strong><p>
        Ayda bir, bu sunucuda üye olduðunuz tüm listeler için
        þifre hatýrlatýcý içeren bir e-posta alýrsýnýz. Bunu, bu liste
        için, <em>Hayýr</em> seçeneðini seçerek kapatabilirsiniz.
        Üye olduðunuz tüm listeler için þifre hatýrlatýcýlarý kapatýrsanýz
        size hiçbir hatýrlatýcý e-posta gönderilmeyecektir.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Hayýr<br>
        <mm-get-password-reminder-button>Evet<p>
        <mm-global-remind-button><i>Global olarak ayarla</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Üye listesinde kendinizi gizlemek istiyor musunuz?</strong><p>
        Birisi liste üyelerini görüntülediðinde e-posta adresiniz normalde
        görünür (spam toplayýcýlarý engellemek için deðiþtirilmiþ bir þekilde).
        Eðer üyelik adresinizin bu listede hiç görünmesini istemiyorsanýz,
        bu seçenek için <em>Evet</em> seçin.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Hayýr<br>
        <MM-Hide-Subscription-Button>Evet
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Hangi dili tercih edersiniz?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Hangi konu kategorilerine üye olmak istersiniz?</strong><p>
                Bir veya birden fazla konu seçerek mesaj listesindeki
                trafiði filtreleyebilirsiniz, böylece mesajlarýn sadece
                bir kýsmýný alýrsýnýz. Eðer bir mesaj seçtiðiniz konulardan
                bir ile eþleþirse, o mesajý alýrsýnýz, aksi halde almazsýnýz.

                <p>Eðer bir mesaj hiçbir konuyla eþleþmiyorsa, Gönderim kuralý
                aþaðýdaki seçeneðe uyacaktýr. Eðer herhangi bir konu
                seçmezseniz, mesaj listesine gönderilen tüm mesajlarý
                alýrsýnýz.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Hiçbir konu filtresine uymayan mesajlarý almak istiyor musunuz?</strong><p>

                Bu seçenek yukarýda en az bir konuya üye olduysanýz
                etkilidir. Hiçbir konu filtresine uymayan mesajlar için
                varsayýlan gönderim kuralýný tanýmlar. Burada <em>Hayýr</em>
                seçeneðini seçmek, eðer bir mesaj konu filtreleri ile
                eþleþmiyorsa, o mesajý almayacaðýnýzý gösterir, <em>Evet</em>
                seçmek, filtrelerle eþleþmeyen mesajlarýn da size
                geleceðini gösterir.

                <p>Eðer yukarýda herhangi bir konu seçmediyseniz,
                mesaj listesine atýlan tüm mesajlarý alýrsýnýz.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Hayýr<br>
        <mm-receive-nonmatching-topics>Evet
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Mesajlarýn kopyalarý engellensin mi?</strong><p>

                Bir liste mesajýnýn <tt>Alýcý:</tt> veya <tt>Cc:</tt>
                baþlýklarýnda açýk olarak adresiniz varsa, mesaj listesinden
                mesajýn baþka bir kopyasýný almamayý tercih edebilirsiniz.
                Mesaj listesinden gelecek kopyalarý engellemek için <em>Evet</em>,
                kopyalarý almak için <em>Hayýr</em> seçin.

                <p>Listede üyeye kiþiselleþtirilmiþ mesajlar etkinse
                ve kopyalarý almayý tercih ederseniz, her kopya bir
                <tt>X-Mailman-Copy: yes</tt> baþlýðý içerecektir.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Hayýr<br>
        <mm-dont-receive-duplicates-button>Evet<p>
        <mm-global-nodupes-button><i>Global olarak ayarla</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>

