בקשות מנהלתיות מוצגות באחת משתי דרכים, <a href="%(summaryurl)s">בעמוד סיכום</a>,
ובעמוד <em>פרטים,</em>.  עמוד הסיכום מכיל בקשות הרשמה ועזיבה ממתינות, בנוסף
למסרים שמחכים לאישור שלך, מקובצות לפי כתובת הדוא"ל של השולח.  עמוד הפרטים
מכיל מבט מפורט יותר של כל מסר מוחזק, כולל כל כותרות המסר, וקטע מגוף המסר.

<p>בכל העמודים, פעולות הבאות זמינות:

<ul> <li><b>עכב</b> -- תעכב את החלטתך למועד מאוחר יותר.  לא ננקטת כל פעולה
כרגע עבור בקשה מנהלתית ממתינה, אבל בשביל מסרים ממתינים, עדיין ניתן "להעביר אל",
או לשמור את המסר (ראה למטה).

<li><b>אשר</b> -- תאשר את המסר, ושלח אותו אל הרשימה.  עבור בקשות הצטרפות,
תאשר את השינוי בסטטוס המנוי.

<li><b>דחה</b> -- דחה את המסר, ושלח הודעת דחייה אל השולח, ומחק המסר
המקורי.  עבור בקשות מנוי, דחה את השינוי בסטטוס המנוי.  בשני המקרים, אתה
צריך להוסיף נימוק לדחייה בתיבת הטקטס הנלווה.

<li><b>זרוק</b> -- זרוק את המסר המקורי, בלי לשלוח הודעת דחיה.  עבור בקשות
הצטרפות, זה פשוט מוחק את הבקשה בלי לשלוח הודעה על כך למבקש.  זו הפעולה
שבדכ"כ תנקוט עבור דואר זבל מוכר.</ul>

<p>עבור מסרים מוחזקים, הדלק את האפשרות <b>שמור</b> אם ברצונך לשמור העתק
של המסר למנהל האתר.  זה שימושי עבור מסרים פוגעניים שברצונך למחוק,
אבל שצריך לשמור אותן לבדיקה מאוחרת יותר.

<p>הדלק את אפשרות <b>העבר אל</b>, ומלא את כתובת ההעברה אם ברצונך להעביר
את המסר למישהוא אחר שלא ברשימת הדיוור.  כדי לערוך מסר מוחזק לפני העברתו
אל הרשימה, יש להעביר את המסר לעצמך (או אל בעלי הרשימה), ולמחוק את המסר
המקורי.  או אז, כאשר המסר מופיע בתיבת הדואר הנכנס שלך, בצע את העריכה
שלך ושלח את המסר לרשימה מחדש, כולל כותרת <tt>Approved:</tt> ואת סיסמת
הרשימה כערך שלו.  נימוסי הרשת מחייבים במקרים כאלה לכלול הערה במסר
שנלח מחדש, המסבירה ששנית את הטקסט.

<p>אם השולח הוא מנוי ברשימה שדורש פיקוח, יש לך אפשרות לנפות את דגל הפיקוח
שלו.  זה שימושי כאשר הרשימה מוגדרת כך שמנוים חדשים נרשמים על תנאי,
והחלטת שמנוי זה מספיק אמין לשלוח אל הרשימה ללא פיקוח.

<p>אם השולח איננו מנוי ברשימה, ניתן להוסיף את כתובת הדוא"ל שלו אל
<em>מסנן שולח</em>.  מסנני שולח מתוארים <ahref="%(filterurl)s">בעמוד הפרטיות של 
מסנני שולח</a>, ומקבלים אחד הערכים <b>auto-accept</b> (מאשר),
 <b>auto-hold</b> (מחזיק),<b>auto-reject</b> (דוחה), או
 <b>auto-discard</b> (זורק).  אפשרות זו לא תהיה זמינה אם הכתובת
כבר מופיעה באחד מבין מסנני השולח.

<p>לשכתסיים, לחץ על הלחצן <em>הגש את כל המידע</em> בראש או בתחתית העמוד.
לחצן זה יגיש את כל הפעולות שנבחרו עבור כל בקשות המנהלתיות עבורם
קיבלת החלטה.


<p><a href="%(summaryurl)s">חזרה לעמוד הסיכום</a>.
