<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
  <HEAD>
     <title>הארכיבים של %(listname)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(meta)s
  </HEAD>
  <BODY BGCOLOR="#ffffff" dir="rtl">
     <h1>הארכיבים של %(listname)s</h1>
     <p>
      אפשר לקבל <a href="%(listinfo)s">מידע נוסף אודות רשימה זו</a>
      או שאפשר <a href="%(fullarch)s">להוריד את הארכיב הגולמי המלא</a>
      (%(size)s).
     </p>
     %(noarchive_msg)s
     %(archive_listing_start)s
     %(archive_listing)s
     %(archive_listing_end)s
     </BODY>
     </HTML>
