<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>הארכיבים של %(listname)s %(archive)s לפי %(archtype)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff" dir="rtl">
      <a name="start"></A>
      <h1>הארכיבים של %(archive)s לפי %(archtype)s</h1>
      <ul>
         <li> <b>המסרים ממוינים לפי:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s

	     <li><b><a href="%(listinfo)s">מידע נוסף אודות רשימה זו...
                    </a></b></li>
      </ul>
      <p><b>תאריך התחלה:</b> <i>%(firstdate)s</i><br>
         <b>תאריך סיום:</b> <i>%(lastdate)s</i><br>
         <b>מסרים:</b> %(size)s<p>
     <ul>
