<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C09A2920557240300FED7A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C31C2D9055341AA006D00BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CA1FEBD052A3C8100F22E42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CA1FEC8052A44A100F22E42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2A788530B7AA65B00CFF85C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
