Source: libapache-mod-fastcgi
Section: non-free/web
Priority: optional
Maintainer: Sam Vilain <sam@vilain.net>
Standards-Version: 3.5.8.0
Build-Depends: apache-dev (>= 1.3.0), debhelper (>> 3.0.0), lynx, libdb2-dev

Package: libapache-mod-fastcgi
Architecture: any
Depends: apache-common (>= 1.3.0), ${shlibs:Depends}
Description: FastCGI module for Apache
 This package contains a FastCGI module for the Apache (1.3) web
 server.
 .
 FastCGI is an open standard for communicating between a web server
 and a web application, supported by many free and closed source web
 servers.  It provides CGI-like functionality, without the need to
 program to a particular server API.
