A beavatkozásra váró teendõk listáját kétféleképpen lehet megjeleníteni,
vagy az <a href="%(summaryurl)s">összesítõ oldalon</a> vagy a <em>részletes</em>
oldalon. Az összesítõ oldal a függõben lévõ fel- és leiratkozásokat,
valamint az engedélyezésre váró leveleket mutatja a beküldõk címei
szerint csoportosítva. A részletes oldalon az összes jóváhagyásra váró
levélrõl bõvebb információt kapunk, megtekinthetjük azok fejléceit és
rövid kivonatát.

<p>Mindegyik oldalon a következõ lehetõségek közül választhatunk:

<ul>
<li><b>Elhalaszt</b> -- Várakoztatás a késõbbi döntésig. A beavatkozásra váró
    üzenet továbbra is függõben marad, továbbítani vagy megõrizni lehet a
    levelet (ld. késõbb), annak törlése nélkül.

<li><b>Jóváhagy</b> -- A listára küldött levél megjelenését engedélyezed.
    Listatagsághoz kapcsolódó kérelemnél engedélyezed a listatagság
    megváltoztatását.

<li><b>Visszautasít</b> -- Levelet visszautasítod, a beküldõ külön üzenetben
    értesül a levél visszautasításáról. Az eredeti levél figyelmen kívül lesz
    hagyva. Listatagsági kérelemnél nem engedélyezed a listatagság
    megváltoztatását.
    Mindkét esetben célszerû a visszautasítás indokát a megfelelõ szövegmezõben
    megadni.

<li><b>Elvet</b> -- Az eredeti levél figyelmen kívül lesz hagyva, de errõl a
    beküldõje értesítést nem kap. Listatagsági kérelemnél a kérelmezõ
    értesítése nélkül kerül visszautasításra a kérelem. Ez az opció fõleg
    spam-ek esetén használatos.
</ul>

<p>A <b>Megõriz</b> opcióval a levél egy másolatát lehet a rendszer
adminisztrátorának elküldeni. Sértegetõ levelek esetén elõnyös a használata,
amikor a levelet visszautasítod, de késõbb jól jöhet a másolata.

<p>A <b>Továbbít ide</b> opcióval a megadott címre (pl. aki nincs a listán)
lehet a levelet továbbküldeni. Ha a listán való megjelenés elõtt módosítani
szeretnénk a jóváhagyásra váró levélen, akkor küldjük tovább magunknak (vagy
lista tulajdonosának), az eredeti levélre az <em>Elvet</em> parancsot 
használjuk. Ezek után módosítsuk igényünk szerint a levelet, majd küldjük
el a listára úgy hogy a levélben egy <tt>Approved:</tt> fejlécben megadjuk
a lista jelszavát (ezzel azonnal engedélyezzük a levél megjelenését a
listán). A netetikett szerint ekkor tüntessük fel a levélben, hogy
az eredeti levelet módosítottuk.

<p>Ha a beküldõ olyan listatag, akinek a moderált jelzõje be van állítva,
akkor az oldalon a tag moderálási jelzõjét is lehet törölni. Ez akkor
hasznos, amikor a lista az új tagoknak <em>próbaidõre</em> automatikusan
beállítja a moderált jelzõt és úgy döntünk, hogy a tagnál már törölni
lehet ezt a beállítást.

<p>Ha beküldõ nem listatag, akkor a címét felvehetjük a <em>feladók 
szûrése</em> beállításokhoz. Errõl a korlátozásról a <a href="%(filterurl)s">
feladók szûrése oldalon</a> lehet olvasni. A szûrésnél az <b>
automatikusan-engedélyezett</b> (Engedélyezett), <b>automatikusan-függõ</b>
(Függõ), <b>automatikusan-visszautasított</b> (Visszautasított), vagy 
<b>automatikusan-elvetett</b> (Elvetett) opciók közül lehet választani.
A kapcsoló csak akkor jelenik meg, ha a beküldõ címe egyik szûrõnél sincs 
megadva.

<p>A mûveletek befejezéséhez kattintsunk a lap alján vagy tetején található
<em>Összes változtatás mentése</em> gombra. Ekkor az összes beállítás
végrehajtódik.  Ha egy vagy több kérelemrõl nem akarsz most dönteni, akkor
ne adj meg parancsot, ekkor ezek a kérelmek a megerõsítésére várók sorában
maradnak.

<p><a href="%(summaryurl)s">Vissza az összesítõ oldalra</a>.
