Ezen az oldalon a(z) <a href="%(adminurl)s"><em>%(listname)s</em>
levelezõlistához</a> tartozó beavatkozásra váró teendõk kivonatolt
listája található.
Elõl a jóváhagyásra váró fel- és leiratkozások, ha vannak,
majd az engedélyezésre váró üzenetek találhatóak.

<p>Mindenegyes kérelemhez válasszuk ki a megfelelõ parancsot,
majd ezek után kattintsunk az <b>Összes változtatás mentése</b>
gombra. Bõvebb információt <a href="%(detailsurl)s">ezen</a> az
oldalon lehet találni.

<p>Az összes függõben lévõ teendõ részletesen <a href="%(viewallurl)s">ezen</a>
az oldalon érhetõ el.
