<html>
<head>
   <title>%(listname)s %(who)s Azonosítás</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(listname)s %(who)s Azonosítás</FONT></B>
      </TD>
    </TR>
    <tr>
      <TD> <div ALIGN="Right">Lista %(who)s Jelszava: </div> </TD>
      <TD> <INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle> <INPUT TYPE="SUBMIT" name="admlogin"
						       value="Belépés...">
      </td>
    </tr>
  </TABLE>
  <p><strong><em>Fontos:</em></strong> Ettõl az oldaltól engedélyezned kell a sütik 
  fogadását a böngészõdben, különben semmilyen adminisztrátori változtatás nem fog végrehajtódni.

  <p>A Mailman az adminisztrációs mûveleteknél a folyamatos azonosításhoz, hogy ne kelljen minden adminisztrációs változtatáshoz újra azonosítanod magadat, sütiket használ.
  A süti a böngészõ bezárásával, illetve az <em>Egyéb Adminisztrációs Teendõk</em> pontban a 
  <em>Kilépés</em>-re (ez csak sikeres bejelentkezés után látható) kattintva érvényét veszti.
</FORM>
</body>
</html>
