<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>A(z) %(listname)s %(archive)si Archívuma %(archtype)s szerint rendezve</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
      <a name="start"></A>
      <h1>%(archive)si Archívum %(archtype)s szerint rendezve</h1>
      <ul>
      <li> <b>Levelek sorrendje:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s

	     <li><b><a href="%(listinfo)s">További információk errõl a listáról...</a></b></li>
      </ul>
      <p><b>Kezdõ idõpont:</b> <i>%(firstdate)s</i><br>
         <b>Utolsó idõpont:</b> <i>%(lastdate)s</i><br>
	 <b>Üzenetek:</b> %(size)s<p>
     <ul>
