Ez a szöveg olyan <a href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">Python-típusú változók</a>at mutat be, amelyekkel a lista egyes jellemzõire lehet hivatkozni.
Az alábbi változók jelentése:

<ul>
 <li><b>real_name</b> - A lista `pedikûrözött' neve; általában a 
 lista neve nagy kezdõbetûvel.

 <li><b>list_name</b> - Az a név, amellyel a listát az URL-lel 
 megadott cím alapján azonosítani lehet, kis- és nagybetûk számítanak.
 
 <li><b>host_name</b> - Tartománynévvel kiegészített teljes neve a gépnek,
 amelyen a levelezõlisták mûködnek.

 <li><b>web_page_url</b> - Mailman kiindulási URL-je. Ezután lehet megadni 
 pl. <em>listinfo/%(list_name)s</em> részt, hogy a kívánt levelezõlista 
 információs lapja megjelenjen. 

 <li><b>description</b> - Rövid leírás a levelezõlistáról.
 
 <li><b>info</b> - A levelezõlista részletes leírása.

 <li><b>cgiext</b> - A CGI szkriptek kiterjesztése.
</ul>
