<!-- $Revision: 6029 $ -->
<HTML>
  <HEAD>
   <TITLE><MM-List-Name> Információs lapja</TITLE>
  </HEAD>
  <BODY BGCOLOR="#ffffff">
    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000"><MM-List-Name> listáról</FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <MM-lang-form-start><MM-displang-box> <MM-list-langs>
	      <MM-form-end>
       <MM-Subscribe-Form-Start>
	    </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p>Ha a korábbi leveleket, hozzászólásokat szeretnéd látni, látogasd meg
	     a(z) <MM-Archive><MM-List-Name> archívumot </MM-Archive>.
              <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000"><MM-List-Name> lista használata</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  Ha a listára szeretnél írni, akkor erre a címre küldd hozzászólásodat:
	  <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>.

	  <p>Itt lejjebb feliratkozhatsz a listára, vagy módosíthatod
              a listatagsági paramétereidet.
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000">Feliratkozás a(z) <MM-List-Name> listára</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
 	  Töltsd ki az alábbi ûrlapot a(z) <MM-List-Name> listára való feliratkozáshoz.	    
	  <MM-List-Subscription-Msg>
	  <P>Feliratkozás elõtt kérlek olvasd el a listaszerver
            <A HREF="/illik.html">illemtanát</A>!

	  <ul>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">E-mail címed:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
	<td bgcolor="#dddddd" width="55%">Neved (opcionális):</td>
        <td width="33%"><mm-fullname-box></td>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
	      <TD COLSPAN="3"><FONT SIZE=-1>Meg kell adnod egy jelszót.
  A jelszó csak enyhe biztonságot nyújt, de megelõzheted vele,
  hogy mások tudtod nélkül módosítsák listatagsági beállításaidat!
  <b>Ne használj olyan jelszavakat amiket máshol használsz</b>,
  mivel havonta egyszer emlékeztetõül sima szöveges formában elküldésre fog kerülni. 
  
  <p>Ha nem adsz meg jelszót, akkor a Mailman automatikusan létrehoz egyet, és
  feliratkozásod megerõsítése után elküldi neked. Személyes beállításaid szerkesztésénél
  természetesen bármikor e-mailben kikérheted a jelszavadat.
	    <MM-Reminder>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">A jelszó:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">A jelszó még egyszer:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
    <tr>
      <TD BGCOLOR="#dddddd">Milyen nyelven szeretnéd a listát használni?</TD>
      <TD><MM-list-langs></TD>
      <TD>&nbsp; </TD></TR>
	<mm-digest-question-start>
    <tr>
	<td>Szeretnéd a listát digest formában kapni, naponta 1-2 levélben?</td>
	<td><MM-Undigest-Radio-Button> Nem
	    <MM-Digest-Radio-Button>  Igen
	</TD>
      </tr>
      <tr>
    <mm-digest-question-end>
	<td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000"><MM-List-Name> lista tagjai</FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
