<!-- $Revision: 1.1.1.1 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User> beállításai a(z) <MM-List-Name> listán
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-Presentable-User> tag beállításai a(z) <MM-List-Name> levelezõlistán
	</FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b><MM-Presentable-User></b> tag feliratkozási státusza,
	jelszava és beállításai a(z) <MM-List-Name> levelezési listán.
	</td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
	<MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B><MM-List-Name> levelezõlistán használt címed módosítása</B>
	</FONT></TD></TR>
    <tr><td colspan="2">A listán található feliratkozási címedet tudod
    itt megváltoztatni egy új megadásával. A változtatás csak akkor
    hajtódik végre, ha az új címedre elküldött értesítést megerõsíted.

        <p>A megerõsítési lehetõség <mm-pending-days> múlva megszûnik.

	<p>Ha akarod, akkor megadhatod a teljes nevedet is 
	(pl. <em>Tóth Béla</em>).
	
	<p>Ha a(z) <mm-host> gépen található összes listatagságod feliratkozási
	címét az itt megadottra akarod változtatni, akkor jelöld be a 
	<em>Állítsd mindenhol</em> kapcsolót.
	
    </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Új cím:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Új cím még egyszer:</div></td> 
            <td><mm-confirm-address-box></td>
	    </tr>
       </tr></table></center>
            </td>
            <td><center>
            <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
	    <tr><td bgcolor="#dddddd"><div align="right">Teljes név (nem kötelezõ 
	    megadni):</div></td>
            <td><mm-fullname-box></td>
            </tr>
       </table></center>
            </td>
            </tr>
        <tr><td colspan="2"><center><mm-change-address-button>
            <p><mm-global-change-of-address>Állítsd mindenhol</center></td>
	</tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B><MM-List-Name> listáról leiratkozás</B></td>

	<TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>További <MM-Host> listatagságaid</B>
	</FONT></TD></TR>

	<tr><td>
	Jelöld be a leiratkozási szándékodat megerõsítõ kapcsolót
	majd kattints a gombra. <strong>Fontos:</strong> A kattintás
	után azonnal végrehajtódik a változtatás!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        <mm-host> gépen található többi levelezõlista tagságodat
	tekintheted meg a gombra kattintva. Használd akkor, ha azt
	szeretnéd hogy a többi listán is ugyanezeket a beállításokat
	tudd elvégezni.
        <p>
        <center><MM-Other-Subscriptions-Submit></center>
	</TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B><MM-List-Name> listán a jelszavad </B>
	</FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Elfelejtetted a jelszavadat?</h3>
        </center>
        Kattints a gombra, hogy emailben megkapd a jelszavadat.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Jelszó megváltoztatása</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Új jelszó:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Új jelszó még egyszer:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
	<p><center><mm-global-pw-changes-button>Állítsd mindenhol
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Beállításaid a(z) <MM-List-Name> levelezõlistán</B>
	</FONT></TD></TR>
</table>

<p>
<i><strong>A jelenlegi beállítások pipával jelölve.</strong></i>

<p>Néhány beállításnál <em>Állítsd mindenhol</em> kapcsolót is lehet
választani. A kapcsoló bejelölésével minden olyan levelezõlista
tagságod beállítását meg tudod változtatni, amely a(z) <mm-host> gépen
mûködik. A <em>Mutassd a többi feliratkozásomat</em> gombra kattintva
megtekintheted, mely levelezõlistáknak vagy tagja ezen a gépen.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Levélküldés be-/kikapcsolása</strong></a><p>
	A listáról akkor kapod meg a leveleket, ha <em>Bekapcsolva</em> 
	van megadva.
	Ha nem akarsz a listáról egy bizonyos ideig levelet kapni (mert pl.
	szabadságra mész), akkor állítsd át <em>Kikapcsoltra</em>. 
	El ne felejtsd újra bekapcsolni a levélküldést, ha újra
	fogadni akarod a leveleket.
        </td><td bgcolor="#cccccc">
	<mm-delivery-enable-button>Bekapcsolva<br>
	<mm-delivery-disable-button>Kikapcsolva<p>
        <mm-global-deliver-button><i>Állítsd mindenhol</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
         <strong>Digest forma megadása</strong><p>
         Digest formában a leveleket nem egyesével kapod, hanem egybefûzve
         naponta egyszer. A digest forma lemondása után még egyszer utoljára
         digestben kapod meg a leveleket.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Ki<br>
	<MM-Digest-Radio-Button>Be
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>MIME kódolású vagy sima digest levelek?</strong><p>
	A levelezõprogramod lehet hogy támogatja, de lehet hogy nem a
	MIME kódolású digest levelek olvasását. Általában a MIME digest az
	elfogadott, de ha bármilyen problémád van az ilyen típusú
	levelekkel, akkor válaszd a sima formát.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Sima szöveg<p>
        <mm-global-mime-button><i>Állítsd mindenhol</i>
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>A listára küldött leveleidrõl kérsz másolatot?</strong><p>
	Alapesetben minden listára küldött leveledrõl másolatot kapsz.
	Ha nem akarsz róluk másolatot kapni, akkor itt <em>Nem</em>-et
	állíts be.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Nem<br>
        <mm-receive-own-mail-button>Igen
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>A listára sikeresen elküldött leveleidrõl kérsz értesítést?</strong><p>
        </td><td bgcolor="#cccccc">
	<mm-dont-ack-posts-button>Nem<br>
	<mm-ack-posts-button>Igen
        </td></tr>

    <tr><td bgcolor="#cccccc">
    <strong>Kérsz a listához tartozó jelszavadról havonta emlékezetõt?</strong><p>
        Havonta egyszer minden ezen a gépen mûködõ levelezõlistához
	tartozó jelszavad elküldésre kerül. Ezt a beállítást minden
	listán egyedileg meg tudod változtatni, a <em>Nem</em>-mel
	ki lehet kapcsolni a jelszó elküldést. Ha az összes listán
	kikapcsolod a jelszó elküldést, akkor a géprõl nem kerül
	havi jelszó emlékeztetõ elküldésre.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Nem<br>
	<mm-get-password-reminder-button>Igen<p>
	<mm-global-remind-button><i>Állítsd mindenhol</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
	<strong>Elrejtsünk a feliratkozottak listájából?</strong><p>
	Ha valaki lekéri a listatagok névsorát, akkor alapesetben
	a te email címed is megjelenik (egy kicsit átalakítva, hogy
	a spam gyûjtõk ne tudják felhasználni). Ha szeretnéd
	az email címedet a listatagok névsorából eltüntetni, akkor
	állítsd át ezt a beállítást <em>Igen</em>-re.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Nem<br>
	<MM-Hide-Subscription-Button>Igen
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Milyen nyelven szeretnéd a listát használni?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

   <tr><td bgcolor="#cccccc">
           <strong>Milyen témájú leveleket szeretnél fogadni?</strong><p>
	           Egy vagy több téma megadásával a levelezõlistán
		   megjelenõ levelek közül csak azokat kapod meg, amelyek
		   a megadott témák legalább egyikének megfelelnek. Minden
		   más levél sorsáról a következõ beállítás dönt.

		   <p>Azon a levelek fogadásáról melyek témája nem egyezik a 
		   kívánatos, beállított témák egyikével sem a következõ
		   beállítással lehet gondoskodni. Ha nincs egyetlen egy téma
		   sem megadva, akkor a levelezõlistára küldött összes levél
		   kézbesítve lesz.
	    </td><td bgcolor="#cccccc">
             <mm-topics>
	     </td></tr>
	     
    <tr><td bgcolor="#cccccc">
    <strong>Szeretnéd azokat a leveleket is megkapni, amelyek nem feleltek
    	    meg a beállított témák egyikének sem?</strong><p>

	    Ez a beállítás csak akkor érvényesül, ha feljebb legalább egy
	    témát kiválasztottunk. A beállítás megmondja, hogy alapesetben
	    mi történjen azokkal a levelekkel, amelyek a választott témák
	    egyikével sem egyezik meg. <em>Nem</em>-et választva nem kerülnek
	    továbbításra azok a levelek, amelyek témája a beállított témák
	    egyikével sem egyezik. Ha az ilyen leveleket mégis is meg akarod kapni,
	    akkor <em>Igen</em>-t kell beállítani.

	    <p>Ha nem lett a levelek szûrése feljebb beállítva, akkor a 
	    levelezõlistára érkezõ összes levél kézbesítve lesz.
      </td><td bgcolor="#cccccc">
          <mm-suppress-nonmatching-topics>Nem<br>
	  <mm-receive-nonmatching-topics>Igen
            </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Szeretnéd, hogy a leveleket csak egy példányban kapd meg?</strong><p>

 	     Ha a listára küldött levél <tt>To:</tt> vagy <tt>Cc:</tt> mezõjében 
	     külön meg van adva a címed, akkor beállíthatod, hogy a lista
	     ne kézbesítse neked az ilyen leveleket. <em>Igen</em>-t választva a 
	     lista nem fogja neked kézbesíteni az ilyen leveleket; míg
	     <em>Nem</em>-et választva a listáról is meg fogod kapni a levelet.

   	     <p>Ha a listán személyre szabott levélküldés van beállítva és
 	     kéred a levelek további példányának küldését, akkor minden
	     egyes példányban megtalálható lesz a <tt>X-Mailman-Copy: yes</tt>
	     fejléc.
     </td><td bgcolor="#cccccc"> 
          <mm-receive-duplicates-button>Nem<br> 
          <mm-dont-receive-duplicates-button>Igen<p> 
          <mm-global-nodupes-button><i>Állítsd mindenhol</i>
     </td></tr>
     
      <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
      </td></tr>
					
</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
