<html>
<head>
 <title>%(realname)s Privát archívum azonosítás</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s/">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(realname)s Privát archívum
	    azonosítás</FONT></B>
      </TD>
    </TR>
    <tr>
      <TD> <div ALIGN="Right">E-mail cím:  </div></TD>
      <TD> <INPUT TYPE="TEXT" NAME="username" SIZE="30"> </TD>
    <tr>
    </tr>
    <TD> <div ALIGN="Right">Jelszó: </div> </TD>
      <TD> <INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    <tr>
    </tr>
      <td colspan=2 align="middle"><INPUT TYPE="SUBMIT" name="submit" VALUE="Belépés...">
      </td>
    </tr>
  </TABLE>
  <p><strong><em>Fontos:</em></strong> Ettõl az oldaltól engedélyezned kell a sütik 
  fogadását a böngészõdben, különben semmilyen adminisztrátori változtatás nem fog végrehajtódni.

  <p>A Mailman az adminisztrációs mûveleteknél a folyamatos azonosításhoz sütiket használ, 
  így nem kell minden módosításhoz újraazonosítani magadat. A süti a böngészõ bezárásával, 
  illetve az <em>Egyéb adminisztrációs teendõk</em> a <em>Kilépés</em>-re kattintva (ezt 
  csak sikeres bejelentkezés után lehet elérni) érvényét veszti.
</FORM>
</body>
</html>
