<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>$BLOJSOM_BLOG.getBlogName()</title>
<link rel="stylesheet" href="$BLOJSOM_SITE_URL/blojsom-secondwave.css" />
<link rel="SHORTCUT ICON" href="$BLOJSOM_SITE_URL/favicon.ico" />
</head>

<body>

<h1><a href="$BLOJSOM_BLOG.getBlogURL()">$BLOJSOM_BLOG.getBlogName()</a></h1>
<h3>$BLOJSOM_BLOG.getBlogDescription()</h3>

<p class="categorylist">Complete Referer History:</p>

<!-- Optional Code if you are using the referer plugin -->
#if($REFERER_HISTORY)
  #foreach( $flavorgroup in $REFERER_HISTORY.keySet())
     #set ($group = $REFERER_HISTORY.get($flavorgroup))
     #if ($group.isHitCounter())
         <p class="weblogtitle2">$flavorgroup hits:&nbsp;$group.getReferralCount()</p>
     #else
       <p class="weblogtitle">$flavorgroup referers&nbsp;<span class="refererhistory">($group.getReferralCount() total)</span></p><p class="weblogdateline">
       #foreach( $refererurl in $group.keySet())
           <a href="$refererurl">$refererurl</a>&nbsp;($group.get($refererurl).getCount())<br/>
       #end
       </p>
     #end
  #end
#end
<p/>
<p>
<a href="http://blojsom.sf.net"><img src="$BLOJSOM_SITE_URL/powered-by-blojsom.gif"  alt="Powered By blojsom" border="0"/></a>&nbsp;&nbsp;
<a href="$BLOJSOM_REQUESTED_CATEGORY.getCategoryURL()?flavor=rss"><img src="$BLOJSOM_SITE_URL/xml.gif"  alt="RSS Feed" border="0"/></a>&nbsp;
<a href="$BLOJSOM_REQUESTED_CATEGORY.getCategoryURL()?flavor=rss2"><img src="$BLOJSOM_SITE_URL/rss.gif"  alt="RSS2 Feed" border="0"/></a>&nbsp;
<a href="$BLOJSOM_REQUESTED_CATEGORY.getCategoryURL()?flavor=rdf"><img src="$BLOJSOM_SITE_URL/rdf.gif"  alt="RDF Feed" border="0"/></a>
</p>


</body>

</html>
