<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keychain-cloud-circle</key>
	<true/>
	<key>restore-keychain</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>test</string>
		<string>*</string>
	</array>
	<key>modify-anchor-certificates</key>
	<true/>
	<key>application-identifier</key>
	<string>com.apple.security</string>
</dict>
</plist>
