<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>sudo</string>
        <key>OpenSourceVersion</key>
        <string>1.7.10p7</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.sudo.ws/</string>
        <key>OpenSourceURL</key>
        <string>http://www.sudo.ws/sudo/dist/sudo-1.7.10p7.tar.gz</string>
        <key>OpenSourceSHA1</key>
        <string>b5beb1a470d1f03b3940aff612f5089244dd773a</string>
        <key>OpenSourceImportDate</key>
        <string>2013-03-04</string>
        <key>OpenSourceModifications</key>
        <array>
        	<string>Add BSM auditing support.</string>
        	<string>Disable sudoedit.</string>
        	<string>Disable sudoreplay.</string>
            <string>Disable tty_tickets by default.</string>
        	<string>Remove login_cap reference from man page.</string>
        	<string>Allow admin group by default.</string>
        	<string>Friendlier warning on first usage.</string>
        	<string>Clean the environment.</string>
        </array>
        <key>OpenSourceLicense</key>
        <string>other|bsd</string>
        <key>OpenSourceLicenseFile</key>
        <string>sudo.txt</string>
</dict>
</array>
</plist>
