<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2023-03-22</string>
	<key>OpenSourceLicense</key>
	<string>other|bsd</string>
	<key>OpenSourceLicenseFile</key>
	<string>LICENSE.md</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>Disable sudoedit.</string>
		<string>Disable sudoreplay.</string>
		<string>Allow admin group by default.</string>
		<string>Disable lecture.</string>
		<string>Add library validation support.</string>
		<string>Add event auditing.</string>
		<string>Add MDM support.</string>
		<string>Security fixes for CS_INSTALLER.</string>
	</array>
	<key>OpenSourceProject</key>
	<string>sudo</string>
	<key>OpenSourceSHA256</key>
	<string>4a38a1ab3adb1199257edc2a7c4a2bd714665eb605b04368843b06dada2cfcfb</string>
	<key>OpenSourceURL</key>
	<string>https://www.sudo.ws/dist/sudo-1.9.17p2.tar.gz</string>
	<key>OpenSourceVersion</key>
	<string>sudo-1.9.17p2</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.sudo.ws/</string>
</dict>
</plist>
