<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>sudo</string>
	<key>OpenSourceVersion</key>
	<string>1.9.13p2</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.sudo.ws/</string>
	<key>OpenSourceURL</key>
	<string>http://www.sudo.ws/dist/sudo-1.9.13p2.tar.gz</string>
	<key>OpenSourceSHA256</key>
	<string>92334a12bb93e0c056b09f53e255ccb7d6f67c6350e2813cd9593ceeca78560b</string>
	<key>OpenSourceImportDate</key>
	<string>2023-03-22</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>Disable sudoedit.</string>
		<string>Disable sudoreplay.</string>
		<string>Allow admin group by default.</string>
		<string>Disable lecture.</string>
		<string>Add library validation support.</string>
		<string>Add event auditing.</string>
		<string>Add MDM support.</string>
	</array>
	<key>OpenSourceLicense</key>
	<string>other|bsd</string>
	<key>OpenSourceLicenseFile</key>
	<string>LICENSE.md</string>
</dict>
</plist>
