<plist version="1.0">
<array>
<dict>
	<key>OpenSourceProject</key>
	<string>glibtool</string>
	<key>OpenSourceVersion</key>
	<string>1.5.22</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.gnu.org/software/libtool/</string>
	<key>OpenSourceURL</key>
	<string>http://ftp.gnu.org/gnu/libtool/libtool-1.5.22.tar.gz</string>
	<key>OpenSourceSHA1</key>
	<string>17353e66aeaac80ae188ea0a3a90609550ce3254</string>
	<key>OpenSourceImportDate</key>
	<string>2006-08-19</string>
	<key>OpenSourceLicense</key>
	<string>GPL</string>
	<key>OpenSourceLicenseFile</key>
	<string>glibtool.txt</string>
</dict>
</array>
</plist>
