<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<string>SMBClient</string>
	<key>Tests</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>testUBCOpenWriteClose</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testUBCOpenWriteClose</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testUBCOpenWriteFsyncClose</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testUBCOpenWriteFsyncClose</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testUBCOpenWriteFsync</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testUBCOpenWriteFsync</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testUBCOpenWriteNoCache</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testUBCOpenWriteNoCache</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testFileCreateInitialMode</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testFileCreateInitialMode</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testGetSrvrInfoPerf</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testGetSrvrInfoPerf</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testOpenSessionPerf</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testOpenSessionPerf</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testGetSrvrInfoEnumPerf</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testGetSrvrInfoEnumPerf</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testFileCreateSMBv1</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testFileCreateSMBv1</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testNoXattrSupportWithNoXattrs</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testNoXattrSupportWithNoXattrs</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testNoXattrSupportWithXattrs</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testNoXattrSupportWithXattrs</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testReadDirOfSymLink</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testReadDirOfSymLink</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testUBCOpenWriteOpenReadClose</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testUBCOpenWriteOpenReadClose</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testUBCOpenWriteCloseOpenWriteOpenRead</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testUBCOpenWriteCloseOpenWriteOpenRead</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>fsx</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/TestWrapper.sh</string>
				<string>-u</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-x</string>
			</array>
			<key>Timeout</key>
			<integer>1200</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testURLToDictToURL</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testURLToDictToURL</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testURLToDict</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testURLToDict</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testListSharesOnce</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testListSharesOnce</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testListSharesOnceSMBv1</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testListSharesOnceSMBv1</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testNameConversion</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testNameConversion</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testSMBOpenServerWithMountPoint</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testSMBOpenServerWithMountPoint</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testAccountNameSID</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testAccountNameSID</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testMountExists</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testMountExists</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testNetBIOSNameConversion</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testNetBIOSNameConversion</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testIOCRequestSMBv1</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testIOCRequestSMBv1</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testIOCRWSMBv1</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testIOCRWSMBv1</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testIOCFsctlSMBv1</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testIOCFsctlSMBv1</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>		
		<dict>
			<key>TestName</key>
			<string>testMultiProcessO_EXLOCK</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testMultiProcessO_EXLOCK</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testMultiProcessO_SHLOCK</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testMultiProcessO_SHLOCK</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testSingleProcessO_EXLOCK</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testSingleProcessO_EXLOCK</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testSingleProcessO_SHLOCK</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testSingleProcessO_SHLOCK</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testTransferFD</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testTransferFD</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testTransferFlockFD</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testTransferFlockFD</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testDowngradeO_EXLOCK</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testDowngradeO_EXLOCK</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testDowngradeO_SHLOCK</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testDowngradeO_SHLOCK</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testDowngradeSharedFID</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testDowngradeSharedFID</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testDefCloseO_EXLOCK</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testDefCloseO_EXLOCK</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testDefCloseO_SHLOCK</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testDefCloseO_SHLOCK</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testDefCloseLeaseBreak</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testDefCloseLeaseBreak</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testUpdateLease</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testUpdateLease</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testMultiProcessBRL</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testMultiProcessBRL</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testMultiUserBRL</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testMultiUserBRL</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testMultiProcessFlock</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testMultiProcessFlock</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testMultiUserFlock</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testMultiUserFlock</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testMultiProcessFlockClose</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testMultiProcessFlockClose</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testMultiUserFlockClose</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testMultiUserFlockClose</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testMmap</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testMmap</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>TestName</key>
			<string>testFilesLeftOpenUnmount</string>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/SMBClient/smbclient_test</string>
				<string>-1</string>
				<string>smb://smbtest:storageSW0@netfs-13.apple.com/SMBBasic</string>
				<string>-2</string>
				<string>smb://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-3</string>
				<string>cifs://smbtest2:storageSW2@netfs-13.apple.com/SMBBasic</string>
				<string>-l</string>
				<string>testDefCloseO_SHLOCK</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
	</array>
</dict>
</plist>
