<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2014-01-08</string>
	<key>OpenSourceLicense</key>
	<string>MIT</string>
	<key>OpenSourceLicenseFile</key>
	<string>Twisted.txt</string>
	<key>OpenSourceMD5</key>
	<string>83fe6c0c911cc1602dbffb036be0ba79</string>
	<key>OpenSourceModifications</key>
	<array/>
	<key>OpenSourceProject</key>
	<string>Twisted</string>
	<key>OpenSourceURL</key>
	<string>https://pypi.python.org/packages/source/T/Twisted/Twisted-13.2.0.tar.bz2</string>
	<key>OpenSourceVersion</key>
	<string>13.2.0</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://twistedmatrix.com/</string>
</dict>
</plist>
