<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlackAlpha</key>
	<real>1</real>
	<key>BlackShininess</key>
	<real>3.9298245906829834</real>
	<key>BlackSpecular</key>
	<real>0.26754385232925415</real>
	<key>WhiteAlpha</key>
	<real>1</real>
	<key>WhiteShininess</key>
	<real>10.666666984558105</real>
	<key>WhiteSpecular</key>
	<real>0.24122807383537292</real>
</dict>
</plist>
