# $FreeBSD: src/etc/mtree/BSD.root.dist,v 1.45 2000/02/25 14:18:48 peter Exp $
#
# Please see the file README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
    ..
/set type=dir uname=root gname=wheel mode=0755
    private
        etc
        ..
        tmp             mode=01777
        ..
        var
    	..
    ..
    sbin
    ..
    usr
    ..
..
