<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2022-10-06</string>
	<key>OpenSourceLicense</key>
	<string>BSD</string>
	<key>OpenSourceLicenseFile</key>
	<string>libevent.txt</string>
	<key>OpenSourceMD5</key>
	<string>b5333f021f880fe76490d8a799cd79f4</string>
	<key>OpenSourceModifications</key>
	<array>
	  <string>Fix srcdir != destdir error when building tests (#96919145)</string>
	</array>
	<key>OpenSourceProject</key>
	<string>libevent</string>
	<key>OpenSourceURL</key>
	<string>https://github.com/libevent/libevent/releases/download/release-2.1.12-stable/libevent-2.1.12-stable.tar.gz</string>
	<key>OpenSourceVersion</key>
	<string>2.1.12</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://libevent.org/</string>
</dict>
</plist>
