<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2012-02-14</string>
	<key>OpenSourceLicense</key>
	<string>MIT</string>
	<key>OpenSourceLicenseFile</key>
	<string>libevent.txt</string>
	<key>OpenSourceMD5</key>
	<string>dad64aaaaff16b5fbec25160c06fee9a</string>
	<key>OpenSourceModifications</key>
	<array/>
	<key>OpenSourceProject</key>
	<string>libevent</string>
	<key>OpenSourceURL</key>
	<string>https://github.com/downloads/libevent/libevent/libevent-2.0.17-stable.tar.gz</string>
	<key>OpenSourceVersion</key>
	<string>2.0.17</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://libevent.org/</string>
</dict>
</plist>
