<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2007-12-01</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>MesaLib</string>
		<key>OpenSourceSHA1</key>
		<string>ba860bb6ee57c02202342dfd5927464a068ea18f</string>
		<key>OpenSourceURL</key>
		<string>http://downloads.sourceforge.net/mesa3d/MesaLib-6.5.2.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>6.5.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.mesa3d.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2008-08-25</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>MesaLib</string>
		<key>OpenSourceSHA1</key>
		<string>7e2ecbe89d245510d2681d04e959aee6adc205c5</string>
		<key>OpenSourceURL</key>
		<string>http://downloads.sourceforge.net/mesa3d/MesaLib-7.0.4.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>7.0.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.mesa3d.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2009-02-09</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xorg-server</string>
		<key>OpenSourceSHA1</key>
		<string>s7af8bd6fb39a583f5696efd992aa33160ec08685</string>
		<key>OpenSourceURL</key>
		<string>http://xquartz.macosforge.org/downloads/src/xorg-server-1.4.2-apple33.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.4.2-apple33</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://xquartz.macosforge.org</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2008-12-17</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceProject</key>
		<string>xinit</string>
		<key>OpenSourceSHA1</key>
		<string>577a111efc9b5a8ec6cc294ae7c35048eebde704</string>
		<key>OpenSourceURL</key>
		<string>http://xorg.freedesktop.org/archive/individual/app/xinit-1.1.1.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.1.1</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.x.org</string>
	</dict>
</array>
</plist>
