The administrative requests are displayed in one of two ways, on a <a
href="%(summaryurl)s">summary page</a>, and on a <em>details</em>
page.  The summary page contains pending subscription and
unsubscription requests, as well as postings being held for your
approval, grouped by sender email address.  The details page contains
a more detailed view of each held message, including the all the
message's headers and an excerpt of the message body.

<p>On all the pages, the following actions are available:

<ul>
<li><b>Defer</b> -- Defer your decision until later.  No action is
    taken now for this pending administrative request, but for held
    postings, you can still forward or preserve the message (see
    below).

<li><b>Approve</b> -- Approve the message, sending it on to the list.
    For membership requests, approve the change in membership status.

<li><b>Reject</b> -- Reject the message, sending a rejection notice to
    the sender, and discarding the original message.  For membership
    requests, reject the change in membership status.  In either case,
    you should add a reason for the rejection in the accompanying text
    box.

<li><b>Discard</b> -- Throw away the original message, without sending
    a rejection notice.  For membership requests, this simply discards
    the request without notice to the person making the request.  This
    is usually the action you want to take for known spam.
</ul>

<p>For held messages, turn on the <b>Preserve</b> option if you want
to save a copy of the message for the site administrator.  This is
useful for abusive messages that you want to discard, but need to keep
a record of for later inspection.

<p>Turn on the <b>Forward to</b> option, and fill in the forwarding
address if you want to forward the message to someone else not on the
list.  To edit a held message before it is sent on to the list, you
should forward the message to yourself (or the list owners), and
discard the original message.  Then, when the message shows up in your
mailbox, make your edits and resend the message to the list, including
an <tt>Approved:</tt> header with the list password as its value.  It
is proper netiquette in this case to include a note in the resent
message, explaining that you have modified the text.

<p>If the sender is a list member who is being moderated, you can
optionally clear their moderation flag.  This is useful when your list
is configured to put new members on probation, and you've decided that
this member can be trusted to post to the list without approval.

<p>If the sender is not a list member, you can add the email address to
a <em>sender filter</em>.  Sender filters are described on the <a
href="%(filterurl)s">sender filter privacy page</a>, and may be one of
<b>auto-accept</b> (Accepts), <b>auto-hold</b> (Holds),
<b>auto-reject</b> (Rejects), or <b>auto-discard</b> (Discards).  This
option will not be available if the address is already on one of the
sender filters.

<p>When you're finished, click on the <em>Submit All Data</em> button
at the top or bottom of the page.  This button will submit all
selected actions for all administrative requests that you've made a
decision for.

<p><a href="%(summaryurl)s">Return to the summary page</a>.
