<html>
<head>
  <title>Uwierzytelnienie %(who)s %(listname)s</title>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-2">
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">Uwierzytelnienie
         %(who)s %(listname)s </FONT></B>
      </TD>
    </TR>
    <tr>
      <TD><div ALIGN="Right">Hasło %(who)s:</div></TD>
      <TD><INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle><INPUT type="SUBMIT"
                                        name="admlogin"
					value="Wejście">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Uwaga:</em></strong> Od tego miejsca musisz mieć 
      włączoną obsługę ciasteczek (cookies) w przeglądarce. W przeciwnym
      razie zmiany administracyjne nie przyniosą efektu.

      <p>Mechanizm ciasteczek wykorzystywany jest w Mailmanie, żeby
      nie trzeba było podawać hasła przy każdej czynności administracyjnej.
      Identyfikujące Cię ciasteczko automatycznie wygaśnie, gdy wyłączysz
      przeglądarkę, lub jeśli bezpośrednio kliniejsz odnośnik 
      <em>Wyloguj się</em> w sekcji <em>Inne czynności administracyjne</em>.
</FORM>
</body>
</html>
