<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
  <HEAD>
     <title>Lista %(listname)s %(archive)s sortowane wed³ug %(archtype)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
      <a name="start"></A>
      <h1>Archiwum za %(archive)s posortowane wed³ug %(archtype)s</h1>
      <ul>
         <li> <b>Wiadomo¶ci posortowane wed³ug:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s

	     <li><b><a href="%(listinfo)s">Wiêcej informacji o li¶cie...
                    </a></b></li>
      </ul>
      <p><b>Pocz±tek:</b> <i>%(firstdate)s</i><br>
         <b>Koniec:</b> <i>%(lastdate)s</i><br>
         <b>Liczba wiadomo¶ci:</b> %(size)s<p>
     <ul>
