    </ul>
    <p>
      <a name="end"><b>Data ostatniej wiadomo¶ci:</b></a> 
       <i>%(lastdate)s</i><br>
    <b>Data archiwizacji:</b> <i>%(archivedate)s</i>
    <p>
   <ul>
         <li> <b>Wiadomo¶ci posortowane wed³ug:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
	     <li><b><a href="%(listinfo)s">Wiêcej informacji o li¶cie...
                    </a></b></li>
     </ul>
     <p>
     <hr>
     <i>Archiwum zosta³o wygenerowane przez program
     Pipermail %(version)s.</i>
  </BODY>
</HTML>
