This text can include 
<a href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">Python
format strings</a> which are resolved against list attributes.  The
list of substitutions allowed are:

<ul>
    <li><b>real_name</b> - The `pretty' name of the list; usually
    the list name with capitalization.

    <li><b>list_name</b> - The name by which the list is
    identified in URLs, where case is significant.

    <li><b>host_name</b> - The fully qualified domain name
    that the list server runs on.

    <li><b>web_page_url</b> - The base URL for Mailman.  This
    can be appended with,
    e.g. <em>listinfo/%(list_name)s</em> to yield the
    listinfo page for the mailing list.

    <li><b>description</b> - The brief description of the
    mailing list.

    <li><b>info</b> - The full description of the mailing
    list.

    <li><b>cgiext</b> - The extension added to CGI scripts.
</ul>
