#include "base.xcconfig"

INSTALL_PATH_ACTUAL = /usr/lib
STRIP_STYLE = non-global
DYLIB_COMPATIBILITY_VERSION = 9
DYLIB_CURRENT_VERSION = 9.2
EXECUTABLE_PREFIX = lib
PUBLIC_HEADERS_FOLDER_PATH = $(INSTALL_PATH_PREFIX)/usr/local/include
ALWAYS_SEARCH_USER_PATHS = NO
HEADER_SEARCH_PATHS = /usr/include/libxml2
HEADER_SEARCH_PATHS[sdk=iphonesimulator*] = $(SDKROOT)/usr/include/libxml2
GCC_ENABLE_FIX_AND_CONTINUE = NO
