<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- $appleBlojsomRevision -->
	<title>
		$BLOJSOM_BLOG.getBlogName()
		#if ($BLOJSOM_PERMALINK)
			#foreach ($entry in $BLOJSOM_ENTRIES )
				#set ( $pagetitle = $entry.getTitle() )
			#end
			- $pagetitle
		#end
	</title>
	#macro(friendlyPermalink $entry)
		#set ($categoryForEntry = $entry.getBlogCategory().getCategory())
		#if ($categoryForEntry == "/") #set($categoryForEntry = "") #end
		#set ($entryLink = "$BLOJSOM_BLOG.getBlogURL()$categoryForEntry$entry.getDateAsFormat('yyyy')/$entry.getDateAsFormat('MM')/$entry.getDateAsFormat('dd')/$entry.getPermalink()")
	#end
	<link rel="stylesheet" href="${BLOJSOM_SITE_URL}blojsom_resources/includes/base_layout.css" />
	#set($blogCustomStylesheet = $BLOJSOM_BLOG.getBlogProperty("blog-stylesheet"))
	#if(!$blogCustomStylesheet.equals(""))
	<link rel="stylesheet" href="${BLOJSOM_SITE_URL}blojsom_resources/stylesheets/${blogCustomStylesheet}.css" />
	#end
	<link rel="SHORTCUT ICON" href="${BLOJSOM_SITE_URL}favicon.ico" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="$BLOG_FEED_URL?flavor=rss" />
	<link rel="alternate" type="application/atom+xml" title="Atom" href="$BLOG_FEED_URL?flavor=atom" />
	<link rel="EditURL" type="application/rsd+xml" title="RSD" href="$BLOG_FEED_URL?flavor=rsd" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	<script type="text/javascript" src="${BLOJSOM_SITE_URL}blojsom_resources/includes/base_scripts.js"></script>
	<script type="text/javascript" src="${BLOJSOM_SITE_URL}blojsom_resources/includes/win32ImageWorkaround.js"></script>
	#if(!$blogCustomStylesheet.equals(""))
	<script type="text/javascript" src="${BLOJSOM_SITE_URL}blojsom_resources/stylesheets/${blogCustomStylesheet}.js"></script>
	#else
	<script type="text/javascript" src="${BLOJSOM_SITE_URL}blojsom_resources/includes/emptyStartup.js"></script>
	#end
	#if ( $prev_adding_category_name || $acl_denied )
	<script type="text/javascript">
	showLoginDialogOnLoad = true;
	</script>
	#end
</head>
<body onload="tryFocusOnEditField();showConfirmMessage();customStartup()">

#if ( $BLOJSOM_ADMIN_PLUGIN_OPERATION_RESULT )
	#set ($opResultString = $BLOJSOM_ADMIN_PLUGIN_OPERATION_RESULT.substring(1))
	#if ($BLOJSOM_ADMIN_PLUGIN_OPERATION_RESULT.startsWith("$"))
<div id="blojsom_system_message">$locStrings.getProperty($opResultString)</div>
	#else
		#if ($BLOJSOM_ADMIN_PLUGIN_OPERATION_RESULT.startsWith(" "))
<div id="blojsom_system_message"> $locStrings.getProperty($opResultString)</div>
		#else
<div id="blojsom_system_message">$BLOJSOM_ADMIN_PLUGIN_OPERATION_RESULT</div>
		#end
	#end
#end

<div class="span_header" id="header_span_header"></div>
<div class="span_body" id="header_span_body">
	<table id="header_table">
		<tr>
			<td id="header_description_cell">
				<h2 id="title"><a href="$BLOJSOM_BLOG.getBlogURL()">$BLOJSOM_BLOG.getBlogName()</a></h2>
				<p id="subtitle">$BLOJSOM_BLOG.getBlogDescription()</p>
				#set( $totalEntries = 0)
			</td>
			<td id="header_logo_cell"><a href="${BLOJSOM_SITE_URL}"><div id="header_logo_img"></div></a></td>
		</tr>
	</table>
</div>
<div class="span_footer" id="header_span_footer"></div>

<div id="column_container">
	
	<div class="main_column">
		<div class="main_box_header" id="blogs_box_header"></div>
		<div class="main_box_body" id="blogs_box_body">
			<div class="main_box_contents">
				#foreach ($entry in $BLOJSOM_ENTRIES)
					<div class="entrystyle">
					#friendlyPermalink($entry)
					#if ($BLOJSOM_INLINE_ADMIN_PLUGIN_AUTHENTICATED.equals("true") && $editing_category_name.equals($entry.getBlogCategory().toString()) && $editing_entry_id.equals($entry.getPermalink()))
						<form action="." method="post">
							<table class="comment_meta_info">
								<tr>
									<th>
										$locStrings.getProperty("newentry.title")
									</th>
									<td>
										<a name="entry_to_edit"></a><input type="text" id="editing_entry_title" name="editing_entry_title" value="$editing_entry_title" size="55" />
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<textarea id="editing_entry_desc" rows="10" cols="64" name="editing_entry_desc">$editing_entry_desc</textarea>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;" colspan="2">
										<input type="hidden" id="editing_category_name" name="editing_category_name" value="$editing_category_name" />
										<input type="hidden" id="editing_entry_id" name="editing_entry_id" value="$editing_entry_id" />
										<input type="hidden" id="editing_action" name="action" value="update-blog-entry" />
										<input type="button" value="$locStrings.getProperty("buttons.cancel")" onclick="clickedCancelEditButton(this);return false" />
										<input type="submit" value="$locStrings.getProperty("buttons.save")" />
									</td>
								</tr>
							</table>
						</form>
					#else
						<div class="weblogtitle">
							#if ($entry.getBlogCategory().getName())
								#set ($blogCategoryName = $entry.getBlogCategory().getName())
							#else
								#set ($blogCategoryName = $entry.getBlogCategory().getCategory().replaceAll("^/*(.+)/$", "$1"))
							#end
							#set ($blogCategoryLabel = $blogCategoryName.replaceAll("^(.{22}).+(.{22})$", "$1...$2"))
							#if ($BLOJSOM_PERMALINK)
								<table class="comment_meta_info">
									<tr>
										<th>$locStrings.getProperty("newentry.title")</th>
										<td>$entry.getTitle()</td>
									</tr>
								#if ($blogCategoryName.equals("/"))
								#else
									<tr>
										<th>$locStrings.getProperty("newentry.category")</th>
										<td><a href="$entry.getBlogCategory().getCategoryURL()" title="$locStrings.getProperty("tooltips.category.format").replaceAll("\"", "&quot;").replaceAll("%@", $blogCategoryName)">$blogCategoryLabel</a></div></td>
									</tr>
								#end
								#if ($entry.getMetaData() && $entry.getMetaData().get("blog-entry-author"))
									<tr>
										<th>$locStrings.getProperty("postedby")</th>
										<td><a class="entry_author_name" href="${BLOJSOM_SITE_URL}weblog/$entry.getMetaData().get("blog-entry-author")">$USER_DATA_PLUGIN.getFullNameFromShortName($entry.getMetaData().get("blog-entry-author"))</a></td>
									</tr>
								#end
								#if ($BLOJSOM_PERMALINK_PREVIOUS_ENTRY)
									<tr>
										<th>$locStrings.getProperty("previous_entry")</th>
										<td><a href="$BLOJSOM_PERMALINK_PREVIOUS_ENTRY.getLink()">$ESCAPE_TAGS_PLUGIN.escapeTagsInText($!BLOJSOM_PERMALINK_PREVIOUS_ENTRY.getTitle())</a>
									</tr>
								#end
								#if ($BLOJSOM_PERMALINK_NEXT_ENTRY)
									<tr>
										<th>$locStrings.getProperty("next_entry")</th>
										<td><a href="$BLOJSOM_PERMALINK_NEXT_ENTRY.getLink()">$ESCAPE_TAGS_PLUGIN.escapeTagsInText($!BLOJSOM_PERMALINK_NEXT_ENTRY.getTitle())</a></td>
									</tr>
								#end
								</table>
							#else
								<div class="entrylink">
									<a href="$entryLink" title="$locStrings.getProperty("tooltips.permalink")">#</a>
									$entry.getTitle()
								</div>
								#if ($blogCategoryName.equals("/"))
								#else
								<div class="weblog_category_link">$locStrings.getProperty("newentry.category") <a href="$entry.getBlogCategory().getCategoryURL()" title="$locStrings.getProperty("tooltips.category.format").replaceAll("\"", "&quot;").replaceAll("%@", $blogCategoryName)">$blogCategoryLabel</a>&nbsp;</div>
								#end
							#end
						</div>
					#end
					<p class=weblogbody>
					#if ($BLOJSOM_INLINE_ADMIN_PLUGIN_AUTHENTICATED.equals("true") && $editing_category_name.equals($entry.getBlogCategory().toString()) && $editing_entry_id.equals($entry.getPermalink()))
					#else
						$entry.getDescription()
					#end
					</p>
					#foreach ($entryComment in $entry.getComments())
						<div class="commentstyle">
							<table class="comment_meta_info">
								<tr>
									<th>$locStrings.getProperty("comments.commentby")</th>
									<td>
										#if ($entryComment.getAuthorEmail() && $entryComment.getAuthorEmail().length() > 0) <a href="mailto:$entryComment.getAuthorEmail()">$entryComment.getAuthor()</a> #else $entryComment.getAuthor() #end - 
										<a href="$entryComment.getAuthorURL()">$entryComment.getAuthorURL()</a>
									</td>
								<tr>
									<th>$locStrings.getProperty("comments.lefton")</th>
									<td>$entryComment.getCommentDate()</div></td>
								</tr>
							</table>
							$entryComment.getComment()
						</div>
					#end
					#set( $totalEntries = $totalEntries + 1)
					#if ($BLOJSOM_COMMENTS_ENABLED.booleanValue() && $entry.supportsComments())
					<form name="commentform" method="post" action=".">
						<table class="form_table">
							<input type="hidden" name="comment" value="y"/>
							<input type="hidden" name="page" value="comments"/>
							<input type="hidden" name="category" value="$BLOJSOM_REQUESTED_CATEGORY.getCategory()"/><br />
							<input type="hidden" name="permalink" value="$entry.getPermalink()"/> <br />
							<tr>
								<th>$locStrings.getProperty("comments.author") </th><td><input type="text" name="author" value="#if ($BLOJSOM_COMMENT_PLUGIN_AUTHOR)$BLOJSOM_COMMENT_PLUGIN_AUTHOR#end"/>
								&nbsp;&nbsp;<input type="checkbox" name="remember" #if ($BLOJSOM_COMMENT_PLUGIN_REMEMBER_ME)CHECKED#end/>Remember Me</td>
							</tr>
							<tr>
								<th>$locStrings.getProperty("comments.email") </th><td><input type="text" name="authorEmail" value="#if ($BLOJSOM_COMMENT_PLUGIN_AUTHOR_EMAIL)$BLOJSOM_COMMENT_PLUGIN_AUTHOR_EMAIL#end"/></td>
							</tr>
							<tr>
								<th>$locStrings.getProperty("comments.url") </th><td><input type="text" name="authorURL" value="#if ($BLOJSOM_COMMENT_PLUGIN_AUTHOR_URL)$BLOJSOM_COMMENT_PLUGIN_AUTHOR_URL#end"/></td>
							</tr>
							<tr>
								<th>$locStrings.getProperty("comments.comment") </th><td><textarea name="commentText" value="" rows="7" cols="55"></textarea></td>
							</tr>
							<tr>
								<td colspan="2" class="form_buttons"><input type="button" value="$locStrings.getProperty("buttons.cancel")" onclick="history.back();return false"/><input type="submit" name="submit" value="$locStrings.getProperty("buttons.submitcomment")"/>
								</td>
							</tr>
						</table>
					</form>
					#end
					#if ($BLOJSOM_PERMALINK)
					  <!-- Trackback Auto Discovery -->
					  #set( $blogDescription = $entry.getEscapedDescription() )
					  #if ($blogDescription.length() > 255 )
						  #set( $ellipses = "..." )
						  #set( $blogDescription = "$blogDescription.substring(0,252)$ellipses" )
					  #end
				<!--
					<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
							 xmlns:dc="http://purl.org/dc/elements/1.1/"
							 xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/">
						<rdf:Description
							 rdf:about="$entry.getLink()"
							 dc:identifier="$entry.getLink()"
							 dc:title="$entry.getTitle()"
							 dc:subject="$BLOJSOM_REQUESTED_CATEGORY.getCategoryURL()"
							 dc:description="$blogDescription"
							 dc:creator="$BLOJSOM_BLOG.getBlogOwner()"
							 dc:date="$entry.getISO8601Date()"
							 trackback:ping="$entry.getLink()&tb=y" />
					 </rdf:RDF>
				-->
					#end
					<table class="entryfooter">
						<tr>
							<td class="entryoptions">
							#if ($BLOJSOM_INLINE_ADMIN_PLUGIN_AUTHENTICATED.equals("true"))
								( <a href="$BLOJSOM_BLOG.getBlogURL()?action=edit-blog-entry&editing_category_name=$entry.getBlogCategory()&editing_entry_id=$entry.getPermalink()#entry_to_edit" title="$locStrings.getProperty("tooltips.edit")">$locStrings.getProperty("inline.edit")</a> | <a href="$BLOJSOM_BLOG.getBlogURL()?action=delete-blog-entry&editing_category_name=$entry.getBlogCategory()&editing_entry_id=$entry.getPermalink()" title="$locStrings.getProperty("tooltips.delete")" onclick="return confirm('$locStrings.getProperty("confirm.delete")')">$locStrings.getProperty("inline.delete")</a> )
							#end
							</td>
							<td class="entryinfo">
								#if ($BLOJSOM_INLINE_ADMIN_PLUGIN_AUTHENTICATED.equals("true"))
								@ $locPlugin.localizeDate($entry.getDate(), $locLanguage, false) ( 
								#else
								@ $locPlugin.localizeDate($entry.getDate(), $locLanguage, true) ( 
								#end
								#if ($BLOJSOM_COMMENTS_ENABLED.booleanValue() && $entry.supportsComments() && ($entry.getMetaData() && !$entry.getMetaData().containsKey("blog-entry-comments-disabled")))
									<a href="$entry.getLink()&amp;page=comments">$entry.getNumComments() 
									#if ($entry.getNumComments() == 1)
										$locStrings.getProperty("comment")</a>
									#else
										$locStrings.getProperty("comments")</a>
									#end
								#end
								#if (($BLOJSOM_COMMENTS_ENABLED.booleanValue() && $entry.supportsComments() && ($entry.getMetaData() && !$entry.getMetaData().containsKey("blog-entry-comments-disabled"))) && ($BLOJSOM_TRACKBACK_PLUGIN_ENABLED.booleanValue() && $entry.supportsTrackbacks() && ($entry.getMetaData() && !$entry.getMetaData().containsKey("blog-entry-trackbacks-disabled"))))
								 | 
								#end
								#if ($BLOJSOM_TRACKBACK_PLUGIN_ENABLED.booleanValue() && $entry.supportsTrackbacks() && ($entry.getMetaData() && !$entry.getMetaData().containsKey("blog-entry-trackbacks-disabled")))
									<a href="$entry.getLink()&amp;page=trackback">$entry.getNumTrackbacks()
									#if ($entry.getNumTrackbacks() == 1)
										$locStrings.getProperty("trackback")</a>
									#else
										$locStrings.getProperty("trackbacks")</a>
									#end
								#end
								)
							</td>
						</tr>
					</table>
				</div>
				#end
				#if($totalEntries == 0)
					<div class="entrystyle">
						#if($acl_denied)
						$locStrings.getProperty("message.acldenied")
						#else
						$locStrings.getProperty("message.noentries")
						#end
					</div>
				#end
				<table id="blogfooter">
					<tr>
						<td class="entryoptions">
						</td>
						<td class="entryinfo">
							<a href="$BLOG_FEED_URL?flavor=atom"><img src="${BLOJSOM_SITE_URL}blojsom_resources/images/atom.png" alt="Atom Feed" width="80" height="15" /></a>&nbsp;
							<a href="$BLOG_FEED_URL?flavor=rss2"><img src="${BLOJSOM_SITE_URL}blojsom_resources/images/rss.gif" alt="RSS 2.0 Feed" width="80" height="15" /></a>&nbsp;
							<a href="$BLOG_FEED_URL?flavor=rdf"><img src="${BLOJSOM_SITE_URL}blojsom_resources/images/rdf.gif" alt="RSS 1.0 Feed" width="80" height="15" /></a>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="main_box_footer" id="blogs_box_footer"></div>
	</div>

	<div class="side_column">
		<div class="side_box_header" id="calendar_box_header"></div>
		<div class="side_box_body" id="calendar_box_body">
			<div class="side_box_contents" id="calendar_box_contents">
				<table class="calendartable"><tr><td colspan="7" class="calendarcaption"><b>$BLOJSOM_CALENDAR.getCaption($locLanguage)</b></td></tr>
				
				<!-- DOW Name Row -->
				<tr>
				#foreach( $downame in $BLOJSOM_CALENDAR.getShortDayOfWeekNames())
						#if($downame)
						<td class="calendarcolumn">$locStrings.getProperty($downame)&nbsp;</td>
						#end
				#end
				</tr>
				
				## Dear Velocity Authors, give us a real for loop!!!!!!
				
				<tr>
					$BLOJSOM_CALENDAR_VTLHELPER.getCalendarRow(1,"calendarcolumn")
				</tr>
				<tr>
					$BLOJSOM_CALENDAR_VTLHELPER.getCalendarRow(2,"calendarcolumn")
				</tr>
				<tr>
					$BLOJSOM_CALENDAR_VTLHELPER.getCalendarRow(3,"calendarcolumn")
				</tr>
				<tr>
					$BLOJSOM_CALENDAR_VTLHELPER.getCalendarRow(4,"calendarcolumn")
				</tr>
				<tr>
					$BLOJSOM_CALENDAR_VTLHELPER.getCalendarRow(5,"calendarcolumn")
				</tr>
				<tr>
					$BLOJSOM_CALENDAR_VTLHELPER.getCalendarRow(6,"calendarcolumn")
				</tr>
				
				<tr>
				<td colspan="7" class="calendarcaption">$BLOJSOM_CALENDAR_VTLHELPER.getPreviousMonth($locLanguage)&nbsp;&nbsp;&nbsp;$BLOJSOM_CALENDAR_VTLHELPER.getToday().replaceFirst("Today", $locStrings.getProperty("Today"))&nbsp;&nbsp;&nbsp;$BLOJSOM_CALENDAR_VTLHELPER.getNextMonth($locLanguage)</td>
				</tr>
				</table>
			</div>
		</div>
		<div class="side_box_footer" id="calendar_box_footer"></div>
		
		
			<div class="side_box_header" id="search_box_header"></div>
			<div class="side_box_body" id="search_box_body">
				<div id="search_box_content">
					<form class="searchform" method="post" action=".">
						<input type="hidden" id="placeholder" name="placeholder" value="$locStrings.getProperty("sidebar.search")" />
						<input style="color:gray" size="20" type="text" name="query" value="$locStrings.getProperty("sidebar.search")" id="query" onfocus="searchFieldFocus(this)" onblur="searchFieldBlur(this)" />
					</form>
				</div>	
			</div>
			<div class="side_box_footer" id="search_box_footer"></div>
	
		<div class="side_box_header" id="links_box_header"></div>
		<div class="side_box_body" id="links_box_body">
			<div id="categories_functions">
				<div id="side_categories_links">
					#foreach ($blogCategory in $BLOJSOM_ALL_CATEGORIES)
						#if ($blogCategory.getCategory().equals("/"))
							<a href="$blogCategory.getCategoryURL()" title="$locStrings.getProperty("tooltips.all_entries")">$locStrings.getProperty("sidebar.all_entries")</a><br />
						#else
							#if ($blogCategory.getName())
								#set ($blogCategoryName = $blogCategory.getName().replaceAll("^/*(.+)/*$", "$1"))
							#else
								#set ($blogCategoryName = $blogCategory.getCategory().replaceAll("^/*(.+)/$", "$1"))
							#end
							#set ($blogCategoryLabel = $blogCategoryName.replaceAll("^(.{11}).+(.{11})$", "$1...$2"))
							#if ($BLOJSOM_REQUESTED_CATEGORY == $blogCategory)
								<a href="$blogCategory.getCategoryURL()" class="selected_category" title="$locStrings.getProperty("tooltips.category.format").replaceAll("\"", "&quot;").replaceAll("%@", $blogCategoryName)">
							#else
								<a href="$blogCategory.getCategoryURL()" title="$locStrings.getProperty("tooltips.category.format").replaceAll("\"", "&quot;").replaceAll("%@", $blogCategoryName)">
							#end
							$blogCategoryLabel</a><br />
						#end
					#end
					#if ($HAS_ADDITIONAL_CATEGORY.equals("true"))
						<a href="$BLOJSOM_BLOG.getBlogURL()$ADDITIONAL_CATEGORY" title="$locStrings.getProperty("tooltips.category.format").replaceAll("\"", "&quot;").replaceFirst("%@", $ADDITIONAL_CATEGORY)"">$ADDITIONAL_CATEGORY</a><br />
					#end
				</div>
				<div id="admin_links">
					#if ($BLOJSOM_INLINE_ADMIN_PLUGIN_AUTHENTICATED.equals("true"))
						#if ($BLOJSOM_REQUESTED_CATEGORY.getName())
							#set ($blogCategoryName = $BLOJSOM_REQUESTED_CATEGORY.getName().replaceAll("\"", "&quot;"))
							#set ($blogCategoryDescription = $blogCategoryName)
						#else
							#set ($blogCategoryName = $BLOJSOM_REQUESTED_CATEGORY.getCategory().replaceAll("\"", "&quot;"))
							#set ($blogCategoryDescription = $blogCategoryName.replaceAll("^/*(.+)/$", "$1"))
						#end
					<a href="#" title="$locStrings.getProperty("tooltips.new_category")" onclick="hideOrShowNewCategoryDialog(true);return false">$locStrings.getProperty("sidebar.new_category")</a><br />
					#if ($BLOJSOM_REQUESTED_CATEGORY.getCategory().equals("/"))
					#else
					<a href="#" title="$locStrings.getProperty("tooltips.delete_category").replaceAll("%@", "$blogCategoryName")" onclick="deleteCategory('$locStrings.getProperty("message.deletecategory").replaceAll("'", "\\'")');return false">$locStrings.getProperty("sidebar.delete_category")</a><br />
					#end
					<a href="#" title="$locStrings.getProperty("tooltips.new_entry")" onclick="hideOrShowNewEntryDialog(true);return false">$locStrings.getProperty("sidebar.new_entry")</a><br />
					<a href="#" title="$locStrings.getProperty("tooltips.settings")" onclick="hideOrShowSettingsDialog(true);return false">$locStrings.getProperty("sidebar.settings")</a><br />
					<a href="$BLOJSOM_BLOG.getBlogURL()?action=logout">$locStrings.getProperty("sidebar.logout")</a>
					<form id="deleting_category_form" method="post" action="$BLOJSOM_BLOG.getBlogURL()">
						<input type="hidden" id="action" name="action" value="delete-blog-category" />
						<input type="hidden" id="deleting_category_name" name="deleting_category_name" value="$BLOJSOM_REQUESTED_CATEGORY.getCategory()" />
						<input type="hidden" id="deleting_category_description" name="deleting_category_description" value="$blogCategoryDescription" />
					</form>
					#else
						#if ($acl_logged_in)
							<a href="$BLOJSOM_BLOG.getBlogURL()?action=logout">$locStrings.getProperty("sidebar.logout")</a>
						#else
							<a href="#" title="$locStrings.getProperty("tooltips.login")" onclick="hideOrShowLoginDialog(true);document.getElementById('username').focus();return false;">$locStrings.getProperty("sidebar.login")</a>
						#end
					#end
				</div>
			</div>	
		</div>
		<div class="side_box_footer" id="links_box_footer"></div>
	
		
		#if ($BLOJSOM_INLINE_ADMIN_PLUGIN_AUTHENTICATED.equals("false"))
		<form method="post" action="$BLOJSOM_BLOG.getBlogURL()" onsubmit="hideOrShowLoginDialog(false);return true">
			<div id="login_dialog">
				<div class="dialog_400_header" id="login_dialog_header"></div>
				<div class="dialog_400_body" id="login_dialog_body">
					<div class="dialog_content" id="login_content">
						<div class="dialog_title">$locStrings.getProperty("login.title")</div>
						<table class="form_table">
							<tr>
								<th>$locStrings.getProperty("login.username")</th>
								<td><input size="20" type="text" name="username" value="" id="username" /></td>
							</tr>
							<tr>
								<th>$locStrings.getProperty("login.password")</th>
								<td><input size="20" type="password" name="password" value="" id="password" /></td>
							</tr>
						</table>
						<div class="form_buttons">
							#if ( $prev_adding_category_name )
							<input type="hidden" id="action" name="action" value="add-blog-entry" />
							<input type="hidden" id="adding_category_name" name="adding_category_name" value="$prev_adding_category_name" />
							<input type="hidden" id="adding_entry_title" name="adding_entry_title" value="$prev_adding_entry_title" />
							<input type="hidden" id="adding_entry_desc" name="adding_entry_desc" value="$prev_adding_entry_desc" />
							#end
							<input type="button" id="login_cancel" name="login_cancel" value="$locStrings.getProperty("buttons.cancel")" onclick="hideOrShowLoginDialog(false);return false;" />
							<input type="submit" id="login_submit" name="login_submit" value="$locStrings.getProperty("buttons.login")" />
						</div>
					</div>
				</div>
				<div class="dialog_400_footer" id="login_dialog_footer"></div>
			</div>
		</form>
		#end

		#if ($BLOJSOM_INLINE_ADMIN_PLUGIN_AUTHENTICATED.equals("true"))
		<form method="post" action="." onsubmit="hideOrShowSettingsDialog(false);return true">
			<div id="settings_dialog">
				<div class="dialog_500_header" id="settings_dialog_header"></div>
				<div class="dialog_500_body" id="settings_dialog_body">
					<div class="dialog_content" id="settings_dialog_content">
						<div class="dialog_title">$locStrings.getProperty("settings.title")</div>
						<table class="form_table">
							<tr>
								<th>$locStrings.getProperty("settings.weblogname")</th>
								<td><input size="40" type="text" name="blog-name" value="$BLOJSOM_BLOG.getBlogName()" id="blog-name" /></td>
							</tr>
							<tr>
								<th>$locStrings.getProperty("settings.weblogdesc")</th>
								<td><input size="40" type="text" name="blog-description" value="$BLOJSOM_BLOG.getBlogDescription()" id="blog-description" /></td>
							</tr>
							<tr>
								<th>$locStrings.getProperty("settings.ownername")</th>
								<td><input size="40" type="text" name="blog-owner" value="$BLOJSOM_BLOG.getBlogOwner()" id="blog-owner" /></td>
							</tr>
							<tr>
								<th>$locStrings.getProperty("settings.owneremail")</th>
								<td><input size="40" type="text" name="blog-owner-email" value="$BLOJSOM_BLOG.getBlogOwnerEmail()" id="blog-owner-email" /></td>
							</tr>
							<tr>
								<th>$locStrings.getProperty("settings.theme")</th>
								<td>
									<select id="blog_setting_stylesheet" name="blog_setting_stylesheet">
									#foreach($blogStylesheet in $all_stylesheets)
										#set($currentStyleSheet = $blogStylesheet.getName().replaceFirst("[.]css", ""))
										#set($currentStyleSheetName = $currentStyleSheet)
										#if($locStrings.getProperty("template.$currentStyleSheet"))
											#set($currentStyleSheetName = $locStrings.getProperty("template.$currentStyleSheet"))
										#end
										<option value="$currentStyleSheet"#if($currentStyleSheet.equals($blog_setting_stylesheet)) selected="selected"#end>$currentStyleSheetName</option>
									#end
									</select>
								</td>
							</tr>
							<tr>
								<th id="acltitle">$locStrings.getProperty("settings.acl")</th>
								<td>
									<table cellspacing=0 cellpadding=0>
										<tr>
											<td><textarea id="acl_users" name="acl_users" rows="8" cols="12" wrap="off">$acl_users</textarea></td>
											<td id="acldescription">$locStrings.getProperty("settings.acl.description")</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<div class="form_buttons">
							<input type="hidden" name="action" value="edit-blog-properties" />
							<input type="button" id="settings_cancel" name="settings_cancel" value="$locStrings.getProperty("buttons.cancel")" onclick="hideOrShowSettingsDialog(false);return false;" />
							<input type="submit" id="settings_submit" name="settings_submit" value="$locStrings.getProperty("buttons.save")" />
						</div>
					</div>
				</div>
				<div class="dialog_500_footer" id="settings_dialog_footer"></div>
			</div>
		</form>
		
		<form method="post" action="." onsubmit="return validateNewEntryForm(this)">
			<div id="entry_dialog">
				<div class="dialog_600_header" id="entry_dialog_header"></div>
				<div class="dialog_600_body" id="entry_dialog_body">
					<div class="dialog_content" id="entry_dialog_content">
						<div class="dialog_title">$locStrings.getProperty("newentry.header")</div>
						<table class="form_table">
							<tr>
								<th>$locStrings.getProperty("newentry.category")</th>
								<td>
									<select id="adding_category_name" name="adding_category_name">
										#foreach ($blogCategory in $BLOJSOM_ALL_CATEGORIES)
											#if ($blogCategory.getName())
												#set ($blogCategoryName = $blogCategory.getName())
											#else
												#set ($blogCategoryName = $blogCategory.getCategory())
											#end
											#set ($blogCategoryLabel = $blogCategoryName.replaceAll("^(.{22}).+(.{22})$", "$1...$2"))
											<option value="$blogCategory" #if ($BLOJSOM_REQUESTED_CATEGORY == $blogCategory)selected="selected"#end>$blogCategoryLabel</option>
										#end
										#if ($HAS_ADDITIONAL_CATEGORY.equals("true"))
											<option value="$ADDITIONAL_CATEGORY" #if ($ADDITIONAL_CATEGORY == $blogCategory)selected="selected"#end>$ADDITIONAL_CATEGORY</option>
										#end
									</select>
								</td>
							</tr>
							<tr>
								<th>$locStrings.getProperty("newentry.title")</th>
								<td><input type="text" id="adding_entry_title" name="adding_entry_title" size="50" /></td>
							</tr>
							<tr>
								<th>$locStrings.getProperty("trackbacks.entryurlsetting")</th>
								<td><input type="text" id="blog-trackback-urls" name="blog-trackback-urls" size="50" />
							</tr>
							<tr>
								<td></td>
								<td class="setting_label" id="entry_dialog_trackback_description">$locStrings.getProperty("trackbacks.explanation")</td>
							</tr>
							<tr>
								<td colspan="2" id="entry_dialog_description_cell"><textarea id="adding_entry_desc" rows="12" cols="61" name="adding_entry_desc"></textarea></td>
							</tr>
						</table>
						<div class="form_buttons">
							<input type="hidden" id="new_entry_action" name="action" value="add-blog-entry" />
							<input type="hidden" id="field_empty_msg" name="field_empty_msg" value="$locStrings.getProperty("message.noentrydescription")" />
							<input type="button" id="new_entry_cancel" name="new_entry_cancel" value="$locStrings.getProperty("buttons.cancel")" onclick="hideOrShowNewEntryDialog(false);return false;" />
							<input type="submit" id="new_entry_submit" name="new_entry_submit" value="$locStrings.getProperty("buttons.save")" />
						</div>
					</div>
				</div>
				<div class="dialog_600_footer" id="entry_dialog_footer"></div>
			</div>
		</form>
		
		<form method="post" action="." onsubmit="return validateNewCategoryForm(this)">
			<div id="category_dialog">
				<div class="dialog_500_header" id="category_dialog_header"></div>
				<div class="dialog_500_body" id="category_dialog_body">
					<div class="dialog_content" id="category_dialog_contet">
						<div class="dialog_title">$locStrings.getProperty("newcategory.title")</div>
						<table class="form_table">
							<tr>
								<th>$locStrings.getProperty("newcategory.parent")</th>
								<td>
									<select id="newcat_super" name="newcat_super">
										#foreach ($blogCategory in $BLOJSOM_ALL_CATEGORIES)
											#if ($blogCategory.getName())
												#set ($blogCategoryName = $blogCategory.getName())
											#else
												#set ($blogCategoryName = $blogCategory.getCategory())
											#end
											#set ($blogCategoryLabel = $blogCategoryName.replaceAll("^(.{22}).+(.{22})$", "$1...$2"))
											<option value="$blogCategory" #if ($BLOJSOM_REQUESTED_CATEGORY == $blogCategory)selected="selected"#end>$blogCategoryLabel</option>
										#end
										#if ($HAS_ADDITIONAL_CATEGORY.equals("true"))
											<option value="$ADDITIONAL_CATEGORY" #if ($ADDITIONAL_CATEGORY == $blogCategory)selected="selected"#end>$ADDITIONAL_CATEGORY</option>
										#end
									</select>
								</td>
							</tr>
							<tr>
								<th>$locStrings.getProperty("newcategory.name")</th>
								<td><input type="text" id="newcat_category_name" name="newcat_category_name" size="46" /></td>
							</tr>
						</table>
						<div class="form_buttons">
							<input type="hidden" id="new_category_action" name="action" value="add-blog-category" />
							<input type="hidden" id="new_category_parent_label" name="new_category_parent_label" value="" />
							<input type="button" id="new_category_cancel" name="new_category_cancel" value="$locStrings.getProperty("buttons.cancel")" onclick="hideOrShowNewCategoryDialog(false);return false;" />
							<input type="submit" id="new_category_submit" name="new_category_submit" value="$locStrings.getProperty("buttons.save")" />
						</div>
					</div>
				</div>
				<div class="dialog_500_footer" id="category_dialog_footer"></div>
			</div>
		</form>
		
		#end

	</div>

	<br clear="all" /> <!-- this br forces outer div to stretch the full length of the content, needed for IE5 mac, NN7 mac -->

</div>

</body>
</html>
