<?xml version="1.0"?>
<!-- name="generator" content="$BLOJSOM_VERSION" -->
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:wfw="http://wellformedweb.org/CommentAPI/">
    <channel>
        <title>$BLOJSOM_BLOG.getBlogName()</title>
        <link>$BLOJSOM_BLOG.getBlogURL()</link>
        <description>$BLOJSOM_BLOG.getBlogDescription()</description>
        <language>$BLOJSOM_BLOG.getBlogLanguage()</language>
        <image>
            <url>$BLOJSOM_SITE_URL/favicon.ico</url>
            <title>$BLOJSOM_BLOG.getBlogName()</title>
            <link>$BLOJSOM_BLOG.getBlogURL()</link>
        </image>
        <docs>http://backend.userland.com/rss</docs>
		<generator>$BLOJSOM_VERSION</generator>
		<dc:publisher>$BLOJSOM_BLOG.getBlogOwner()</dc:publisher>
		<dc:creator>$BLOJSOM_BLOG.getBlogOwnerEmail()</dc:creator>
		<dc:date>$BLOJSOM_DATE_ISO8601</dc:date>

        #foreach ($entry in $BLOJSOM_ENTRIES)
        <item>
            <title>$entry.getEscapedTitle()</title>
            <link>$entry.getEscapedLink()</link>
            <description>$entry.getEscapedDescription()</description>
            <guid isPermaLink="true">$entry.getLink()</guid>
			<pubDate>$entry.getRFC822Date()</pubDate>
            #if ($BLOJSOM_COMMENTS_ENABLED.booleanValue() && $entry.supportsComments() && ($entry.getMetaData() && !$entry.getMetaData().containsKey("blog-entry-comments-disabled")))
  	          <wfw:comment>$BLOJSOM_BLOG.getBlogBaseURL()/commentapi$entry.getId()</wfw:comment>
              <wfw:commentRss>$entry.getEscapedLink()&amp;page=comments&amp;flavor=rss2</wfw:commentRss>
            #end
        </item>
        #end
    </channel>
</rss>
