<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2006-04-27</string>
		<key>OpenSourceLicense</key>
		<string>Other</string>
		<key>OpenSourceLicenseFile</key>
		<string>lsof.txt</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>All non-"darwin" OS dialects were removed from the lsof sources before being imported</string>
			<string>A slew of changes associated with the introduction of the libproc.h APIs were made. These changes will eventually roll into a subsequent release of lsof (Vic Abell had tagged this pre-release code as lsof 4.77D).</string>
			<string>A few minor bug fixes.</string>
		</array>
		<key>OpenSourceProject</key>
		<string>lsof</string>
		<key>OpenSourceSHA1</key>
		<string>4a237b74775c2367f3f453d78734ff38324caa2c</string>
		<key>OpenSourceURL</key>
		<string>ftp://lsof.itap.purdue.edu/pub/tools/unix/lsof/lsof_4.77.tar.gz</string>
		<key>OpenSourceVersion</key>
		<string>4.77</string>
	</dict>
</array>
</plist>
