
HEIMDAL_HOST_TOOLCHAIN = $(DT_TOOLCHAIN_DIR)/usr/local/bin

HEIMDAL_GSSCRED_AKS_LIBS[sdk=iphoneos*] = -laks

HEIMDAL_BIN_DIR = /usr/bin
HEIMDAL_BIN_DIR[sdk=iphoneos*] = /usr/local/bin
HEIMDAL_BIN_DIR[sdk=iphonesimulator*] = /usr/local/bin

HEIMDAL_PLATFORM_CFLAGS = -D__GSSAPI_APPLE_API_PRIVATE
HEIMDAL_PLATFORM_CFLAGS[sdk=iphoneos*] = -D__APPLE_TARGET_EMBEDDED__ -D__GSSAPI_APPLE_API_PRIVATE
HEIMDAL_PLATFORM_CFLAGS[sdk=iphonesimulator*] = -D__APPLE_TARGET_EMBEDDED__ -D__GSSAPI_APPLE_API_PRIVATE

HEIMDAL_OPENDIRECTORY_FRAMEWORK = -framework OpenDirectory
HEIMDAL_OPENDIRECTORY_FRAMEWORK[sdk=iphoneos*] =
HEIMDAL_OPENDIRECTORY_FRAMEWORK[sdk=iphonesimulator*] =

HEIMDAL_ASN1BASE_INSTALL_PATH = /usr/local

WARNING_CFLAGS_MOST = $(inherit) -Weverything -Werror=all -Wno-undef -Wno-missing-variable-declarations -Wno-padded -Wno-unused-macros -Wno-cast-align -Wno-extended-offsetof -Wno-assign-enum -Wno-documentation-unknown-command -Wno-used-but-marked-unused -Wno-switch-enum -Wno-gnu-union-cast -Wno-pedantic -Wno-missing-noreturn -Wno-system-headers -Wno-unreachable-code-aggressive


WARNING_CFLAGS = $(WARNING_CFLAGS_MOST)
WARNING_CFLAGS_YL = $(WARNING_CFLAGS_MOST) -Wno-documentation -Wno-missing-noreturn
