Administrativní po¾adavky mohou být zobrazeny dvìma zpùsoby. Buï
<a href="%(summaryurl)s">hromadnì</a> a nebo <em>detailnì</em>.
Pøi hromadném zobrazení jsou v¹echny po¾adavky pocházející od
stejného u¾ivatele zobrazeny dohromady a mù¾e o nich být rozhodnuto
najednou. Pøi detailním zobrazení je ka¾dý pøíspìvek zobrazen
samostatnì a administrátor rozhoduje o ka¾dém pøíspìvku zvlá¹».
Detailní zobrazení obsahuje navíc v¹echny hlavièky a èást z tìla
zprávy.

<p>Pro pozastavené pøíspìvky vyberte jednu z tìchto akcí:
<ul>
<li><b>Ponechat</b> - Nech zprávu èekat ve frontì, nemá to vliv na
nastavení forwardování, to znamená, ¾e zprávu mù¾ete forwardovat
a pøitom ponechat ve frontì

<li><b>Akceptovat</b> - Roze¹li zprávu do konference. Pokud se
nejedná o zprávu, ale o po¾adavek na pøihlá¹ení úèastníka, pøihlas
ho.

<li><b>Zamítnout</b> - Vra» zprávu odesílateli. Mù¾ete uvést i dùvod,
který bude uveden v zamítavé odpovìdi. Zpráva bude z fronty
vymazána. Pokud se jedná o po¾adavek na pøihlá¹ení, bude zamítnut.

<li><b>Zahodit</b> - vhodné pro SPAM. Zpráva potichu zmizí, nikomu se
nic neposílá. I kdy¾ se jedná o po¾adavek na pøihlá¹ení, nebude se
posílat ¾ádné oznámení.
</ul>

<p>Vybráním volby <b>Ponechat</b> mù¾ete napø. ponechat zprávu ve
frontì pro správce serveru. To vyu¾ijete asi pøedev¹ím u zpráv, které
nejsou obyèejným spamem, ale vy¾adují dal¹í odvetné akce.

S pomocí volby<b>Pøeposlat</b> mù¾ete kopii zprávy odeslat na adresu,
kterou vyplníte do vstupního pole vedle této volby. Pokud potøebujete
nìjaký pøíspìvek modifikovat, pøed rozesláním u¾ivatelùm, musíte si
jej pøeposlat na svou adresu a pùvodní zprávu zahodit. Poté co zprávu
upravíte, musíte ji poslat zpìt do konference, pøípadnì s hlavièkou 
<tt>Approved:</tt> do které doplníte heslo pro danou
konferenci. Netiquetta vy¾aduje, abyste v takovém pøípadì do textu
uvedli upozornìní, ¾e jste zprávu pozmìnili a vysvìtlili, proè jste
to udìlali.

<p>Pokud má pøispìvatel nastaven pøíznak moderovat, co¾ se typicky
pou¾ívá u nových úèastníkù, kdy se nejdøíve èeká, jakou úroveò budou
mít jejich pøíspìvky, mù¾ete souèasnì s propu¹tìním pøíspìvku do
distribuce tento pøíznak zru¹it, tak¾e u¾ivatel bude moci nadále
pøispívat sám.

<p>Pokud odesílatel není úèastníkem konference, mù¾ete jeho emailovou
adresu vlo¾it do <em>filtru odesílatelù</em>. Jak tyto filtry fungují
je popsáno na <a href="%(filterurl)s">stránce s konfigurací filtrování
</a>. Pøíspìvky mohou být na základì filtrù buï automaticky
akceptovány, automaticky pozdr¾eny do rozhodnutí moderátora,
automaticky vráceny a nebo automaticky zahozeny (SPAM). Pokud
odesílatel je úèastníkem a nebo u¾ je zaveden ve filtrech, tato volba
nebude k dispozici.

<p>Pokud jste ji¾ pro¹li celou stránkou kliknìte na jejím horním nebo
spodním okraji na tlaèítko <em>Potvrdit v¹echny zmìny</em>. Tím se 
pøenesou provedené zmìny do databáze a server podle daných pokynù provede
potøebné operace. Pokud u nìkteré polo¾ky nevyberete ani jednu volbu,
polo¾ka nebude nijak ovlivnìna a zùstane ulo¾ena v databázi. Budete o ni
moci rozhodnout kdykoliv pøí¹tì.


<p><a href="%(summaryurl)s">Zpìt na pøehled èekajících po¾adavkù</a>.
