Na této stránce naleznete v¹echny pøíspìvky do konference <em>%(listname)s</em>,
které nebyly z nìjakého dùvodu rozeslány a èekají na Va¹e rozhodnutí.
Momentálnì jsou zobrazeny %(description)s

<p>U ka¾dého administrativního po¾adavku musíte vybrat akci, která se
s ním má provést a nakonec vybrané akce provedete kliknutím na 
<b>Potvrdit v¹echny zmìny</b>. Podrobnìj¹í informace o tom, jak
zacházet s administrativním rozhraním naleznete 
<a href="%(detailsurl)s">zde</a>.

<p>Takté¾ si mù¾ete prohlédnout pøehled v¹ech
<a href="%(summaryurl)s">èekajících po¾adavkù</a> zobrazený tak, ¾e
pøíspìvky od jednoho pøispìvatele jsou slouèeny dohromady a mù¾ete
o nich rozhodnout souèasnì.
