Pøehled po¾adavkù pro konferenci <a href="%(adminurl)s"><em>%(listname)s</em></a>.

Tato stránka obsahuje pøehled v¹ech po¾adavkù pro administrátora
setøídìný tak, ¾e po¾adavky od jednoho u¾ivatele jsou slouèeny
dohromady a mù¾e o nich být rozhodnuto najednou.

Nejdøíve jsou zaøazeny po¾adavky na pøihlá¹ení a odhlá¹ení a za nimi
pøípadnì pøíspìvky, které èekají na schválení distribuce moderátorem.

<p>U ka¾dého administrativního po¾adavku musíte vybrat akci, která se
s ním má provést a nakonec vybrané akce provedete kliknutím na 
<b>Potvrdit v¹echny zmìny</b>. Podrobnìj¹í informace o tom, jak
zacházet s administrativním rozhraním naleznete 
<a href="%(detailsurl)s">zde</a>.

<p>Takté¾ si mù¾ete prohlédnout detailní pøehled v¹ech
<a href="%(viewallurl)s">èekajících po¾adavkù</a> kde je ka¾dý
pøíspìvek zobrazen samostatnì.
