<html>
<head>
  <title>%(listname)s %(who)s pøihlá¹ení</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(listname)s %(who)s
	    pøihlá¹ení</FONT></B>
      </TD>
    </TR>
    <tr>
      <TD><div ALIGN="Right">Heslo pro %(who)s:</div></TD>
      <TD><INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle><INPUT type="SUBMIT"
                                        name="admlogin"
					value="Pus» mì dovnitø...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Pozor:</em></strong> Aby systém fungoval 
      správnì musíte mít povolené cookie ve Va¹em prohlí¾eèi.

      <p>Cookies se pou¾ívají na to, abyste nemuseli jeden
      ka¾dý po¾adavek znovu potvrzovat heslem. Zaniknou
      pokud ukonèíte prohlí¾eè a nebo kdy¾ se odhlásíte.
      Odhlásit se mù¾ete kliknutím na <em>Odhlásit</em>. 
      Tento odkaz uvidíte a¾ po úspì¹ném pøihlá¹ení.
</FORM>
</body>
</html>
