Tento text mù¾e obsahovat <a
href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">formátovací
pøíkazy Pythonu</a> které se nahrazují odpovídajícími hodnotami, pøi
generování stránky.  Nejdùle¾itìj¹í promìnné jsou:

<ul>
    <li><b>real_name</b> - `Hezké' jméno konference, 
    obvykle název, který má zachovánu velikost písmen tak jak je 
    zadán v konfiguraci.

    <li><b>list_name</b> - Jméno konference, tak jak
    se pou¾ívá v URL, tedy tam kde zále¾í na velikosti písmen (v¹echna
    jsou pøevedena na malá).

    <li><b>host_name</b> - Celé DNS jméno serveru na
    kterém konference bì¾í.
    
    <li><b>web_page_url</b> - Základní URL pro Mailman.
    Pokud je následováno napø. tímto pøíkazem:
    <em>listinfo/%(list_name)s</em>
    vede na stránku s informacemi o konferenci.

    <li><b>description</b> - Krátký, charakteristický
    popis konference, tak jak byl zadán pøi konfiguraci.

    <li><b>info</b> - Kompletní, dlouhý, popis konference.

    <li><b>cgiext</b> - pøípona pøidávaná k cgi scriptùm.

</ul>
