<!-- $Revision: 8177 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User> Konfigurace konference <MM-List-Name></title>

</head>
<BODY BGCOLOR="#ffffff">
	<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
	<TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
	<FONT COLOR="#000000" SIZE=+1>
        <MM-List-Name> Nastavení pro u¾ivatele: <MM-Presentable-User>
	</FONT></B></TD></TR> </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b>U¾ivatel <MM-Presentable-User></b>, konfigurace
	u¾ivatelského úètu pro konferenci <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Zmìna konfigurace pro konferenci <MM-List-Name></B>
	</FONT></TD></TR>
    <tr><td colspan="2">Mù¾ete zmìnit e-mailovou adresu, na kterou se
    zasílají pøíspìvky. Zadejte novou adresu do tohoto pole. Na Va¹i
    stávající adresu bude zaslána ¾ádost o ovìøení a zmìna bude
    provedena teprve po potvrzení.

        <p>Na potvrzení budeme èekat <mm-pending-days> dní.

        <p>Mù¾ete si nastavit i své jméno, jako napø.
        <em>Petr Novák</em>.

        <p>Pokud se mají provedené zmìny projevit ve v¹ech
	konferencích na tomto serveru, musíte za¹krtnout volbu
        <em>Zmìnit globálnì</em>.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Nová adresa:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Znovu pro potvrzení:
            </div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Celé jméno
            (nepovinné):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Zmìnit globálnì</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING=5" CELLPADDING="5">
	<TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
<B>Odhlá¹ení z <MM-List-Name></B>

	<TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
<B>Va¹e ostatní  pøihlá¹ené konference na  <MM-Host></B>
	</FONT></TD></TR>

	<tr><td>
         Pro odhlá¹ení za¹krtnìte políèko a kliknìte na tlaèítko
	 Odhlásit. <strong>Pozor:</strong>
	 Zmìna se projeví okam¾itì.
	 <p>
	 <center><MM-Unsubscribe-Button></center></td>
     <td>
        Mù¾ete si zobrazit seznam v¹ech dal¹ích konferencí na tomto
	serveru, jejich¾ jste èleny. Pokud zvolíte tuto volbu,
	promítnou se zde provedené zmìny i do v¹ech ostatních kont.
        <p>
        <center><MM-Other-Subscriptions-Submit></center>
	</TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
     <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
	<B>Va¹e heslo pro  <MM-List-Name></B>
	</FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Zapomnìli jste heslo?</h3>
        </center>
         Kliknìte na toto tlaèítko a heslo Vám bude zasláno na Va¹í
         e-mailovou adresu.
	 <p>
	 <MM-Umbrella-Notice>
	 <center>
	 <MM-Email-My-Pw>
	 </center>
	 </td>

     <td WIDTH="50%">
         <a name=changepw>
         <center>
	 <h3>Zmìna hesla</h3>
      	 <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
	    <TR><TD BGCOLOR="#dddddd">Nové heslo:</TD>
	<TD><MM-New-Pass-Box></TD>
      </TR>
      <TR> 
	<TD BGCOLOR="#dddddd">A je¹tì jednou nové pro kontrolu:</TD>
	<TD><MM-Confirm-Pass-Box></TD>
      </TR>
</table>
           <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Zmìnit globálnì.
     </TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
	<TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
<B>Nastavení Va¹eho konta pro konferenci <MM-List-Name> </B>
	</FONT></TD></TR>
</table>

<p>
<i><strong>Aktuální hodnoty jsou za¹krtnuty</strong></i><p>

<p>Pozor, u nìkterých voleb je checkbox <em>Nastavit globálnì</em>.
Pokud jej za¹krtnete, provedou se zmìny ve v¹ech konferencích, do
kterých jste pøihlá¹eni na tomto serveru. Pokud chcete vìdìt, které to
jsou, kliknìte na <em>Seznam ostatních konferencí</em> nahoøe na stránce.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Zakázat zasílání pøíspìvkù</strong></a><p>
Vyberte tuto volbu, pokud si nepøejete dostávat ¾ádné pøíspìvky.
</td><td bgcolor="#cccccc">
<mm-delivery-enable-button> Zasílat<br>
<mm-delivery-disable-button> Nezasílat<br>
        <mm-global-deliver-button><i>Nastavit globálnì</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Zapnutí digest re¾imu</strong><p>
Pokud je zapnut digest re¾im dostanete v¹echny pøíspìvky v jednom dopise
jednou dennì. Pokud digest vypnete, dostanete pøíspìvky z posledního dne
je¹tì v digest formì.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Vypnuto<br>
        <MM-Digest-Radio-Button>Zapnuto
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Pøejete si digest dostávat jako MIME zprávu nebo èistý
	text?</strong><p>
Pokud Vá¹ po¹tovní klient nedoká¾e pøeèíst MIME zprávu, nastavte si zde
volbu èistý text. Tato volba nemá ¾ádný význam, pokud není digest aktivní.<br>
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Èistý text<p>
        <mm-global-mime-button><i>Nastavit globálnì</i>
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Pøejete si dostávat pøíspìvky, které jste sami zaslali do
konference?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Ne<br>
        <mm-receive-own-mail-button>Ano
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong> Pøejete si dostávat oznámení o rozeslání vlastních pøíspìvkù?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Ne<br>
        <mm-ack-posts-button>Ano
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Chcete dostávat upozornìní na hesla?</strong><p>
	Ve výchozí konfiguraci dostáváte jednou mìsíènì mailem
	zprávu, kde je uveden seznam konferencí a k nim pøíslu¹ná
	hesla, která potøebujete pro rùzné administrativní operace.
        Pokud vyberete <em>Ne</em>, nebudete tento mail
	dostávat. Pøípadnì zapomenuté heslo si mù¾ete poslat
	z webovského rozhraní.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Ne<br>
        <mm-get-password-reminder-button>Ano<p>
        <mm-global-remind-button><i>Nastavit globálnì</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Pøejete si být vidìt v seznamu úèastníkù?</strong><p>
	Pokud si nìkdo zobrazí seznam úèastníkù, ve výchozí
	konfiguraci vidí adresy v¹ech úèastníkù. Pokud na tomto
	seznamu nechcete být uvedeni, mù¾ete zde zobrazení zakázat.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Zobrazit<br>
        <MM-Hide-Subscription-Button>Skrýt
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Jakou øeè preferujete pro komunikaci s listserverem?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Která témata Vás zajímají?</strong><p>
	        Pokud si vyberete jedno nebo více témat, mù¾ete
		filtrovat pøíspìvky z konference a dostávat jedinì
		ty, které Vás zajímají.

                <p>U pøíspìvkù, které se nepodaøí zatøídit do ¾ádné
		kategorie, závisí na nastavení dal¹í volby, jestli je
		dostanete nebo ne. Pokud nezvolíte ¾ádné téma, budete
		dostávat v¹echny pøíspìvky.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Chcete dostávat pøíspìvky, které se nepodaøilo
	zaøadit do ¾ádné kategorie?</strong><p>

                Tato volba má smysl jedinì pokud jste si v pøedchozí
		volbì vybral nìjaké téma. Pokud zde
		odpovíte <em>Ne</em> nebudete dostávat ¾ádné
		pøíspìvky, které nespadají do Va¹ich témat, jinak
		budete dostávat i nezatøiditelné.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Ne<br>
        <mm-receive-nonmatching-topics>Ano
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Eliminuj duplicitní pøíspìvky?</strong><p>

                Pokud dostane listserver k rozeslání pøíspìvek
                jste uvedeni v hlavièce <tt>To:</tt>
                nebo <tt>Cc:</tt> dostanete pøíspìvek dvakrát, jednou
                pøímo a jednou pøes konferenci. Pokud vyberete
                volbu <em>Ano</em>, listserver takový pøíspìvek na va¹i
                adresu neza¹le a vy dostanete jen ten, který vám
                zasílá pøímo autor. Pokud vyberete volbu <em>Ne</em>
                dostanete pøíspìvek pravdìpodobnì dvakrát.

                <p>Pokud listserver rozesílá ka¾dý pøíspìvek zvlá¹»,
                a vy máte nastaveno, ¾e si pøejete dostávat
                duplicitní pøíspìvky, bude mít ka¾dý duplicitní
                pøíspìvek pøidánu hlavièku 
                <tt>X-Mailman-Copy: yes</tt>.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Ne<br>
        <mm-dont-receive-duplicates-button>Ano<p>
        <mm-global-nodupes-button><i>Nastavit globálnì</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
