<html>
<head>
    <title>Konference %(realname)s - pøihlá¹ení pro pøístup do privátního archivu </title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">Konference %(realname)s - 
	    pøihlá¹ení pro pøístup do privátního archivu</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">Emailová adresa:</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">Heslo:</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="Pus» mì dovnitø...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Pozor:</em></strong> Aby systém fungoval 
      správnì musíte mít povolené cookie ve Va¹em prohlí¾eèi.

      <p>Cookies se pou¾ívají na to, abyste nemuseli jeden
      ka¾dý po¾adavek znovu potvrzovat heslem. Zaniknou
      pokud ukonèíte prohlí¾eè a nebo kdy¾ se odhlásíte.
      Odhlásit se mù¾ete kliknutím na <em>Odhlásit</em>. 
      Tento odkaz uvidíte a¾ po úspì¹ném pøihlá¹ení.

</FORM>
</body>
</html>
