<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SCR24X_Apple_Driver</string>
	<key>CFBundleGetInfoString</key>
	<string>2.1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.scm.driver.scr24x</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SCR24X PCMCIA Smart Card Reader</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleVersion</key>
	<string>2.1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HP</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.scm.driver.scr24x</string>
			<key>IOClass</key>
			<string>com_scm_driver_scr24x</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOPCCard16Device</string>
			<key>IOUserClientClass</key>
			<string>com_scm_driver_scr24xUserClient</string>
			<key>VersionOneInfo</key>
			<array>
				<string>HP</string>
				<string>PC Card Smart Card Reader</string>
			</array>
		</dict>
		<key>SCR241</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.scm.driver.scr24x</string>
			<key>IOClass</key>
			<string>com_scm_driver_scr24x</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOPCCard16Device</string>
			<key>IOUserClientClass</key>
			<string>com_scm_driver_scr24xUserClient</string>
			<key>VersionOneInfo</key>
			<array>
				<string>SCR241 PCMCIA</string>
				<string>Smart Card Reader</string>
			</array>
		</dict>
		<key>SCR243</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.scm.driver.scr24x</string>
			<key>IOClass</key>
			<string>com_scm_driver_scr24x</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOPCCard16Device</string>
			<key>IOUserClientClass</key>
			<string>com_scm_driver_scr24xUserClient</string>
			<key>VersionOneInfo</key>
			<array>
				<string>SCR243 PCMCIA</string>
				<string>Smart Card Reader</string>
			</array>
		</dict>
		<key>SCR24x</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.scm.driver.scr24x</string>
			<key>IOClass</key>
			<string>com_scm_driver_scr24x</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOPCCard16Device</string>
			<key>IOUserClientClass</key>
			<string>com_scm_driver_scr24xUserClient</string>
			<key>VersionOneInfo</key>
			<array>
				<string>SCR24x PCMCIA</string>
				<string>Smart Card Reader</string>
			</array>
		</dict>
	</dict>
	<key>Java</key>
	<dict>
		<key>Properties</key>
		<dict/>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCCardFamily</key>
		<string>1.1.0</string>
	</dict>
</dict>
</plist>
