<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<string>ntfs</string>
	<key>IgnoreOutput</key>
	<true/>
	<key>Tests</key>
	<array>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/ntfs/test_ntfs</string>
                                <string>-t</string>
                                <string>readonly</string>
			</array>
			<key>TestName</key>
			<string>ntfs_readonly</string>
			<key>TestSpecificLogs</key>
			<array>
				<string>/tmp/test_ntfs/test_ntfs_bats.log</string>
			</array>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/ntfs/test_ntfs</string>
                                <string>-t</string>
                                <string>readonly_kext</string>
			</array>
			<key>TestName</key>
			<string>ntfs_readonly_kext</string>
			<key>TestSpecificLogs</key>
			<array>
				<string>/tmp/test_ntfs/test_ntfs_bats.log</string>
			</array>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/ntfs/test_ntfs</string>
                                <string>-t</string>
                                <string>mtree</string>
			</array>
			<key>TestName</key>
			<string>ntfs_mtree</string>
			<key>TestSpecificLogs</key>
			<array>
				<string>/tmp/test_ntfs/test_ntfs_bats.log</string>
			</array>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/ntfs/test_ntfs</string>
                                <string>-t</string>
                                <string>mtree_kext</string>
			</array>
			<key>TestName</key>
			<string>ntfs_mtree_kext</string>
			<key>TestSpecificLogs</key>
			<array>
				<string>/tmp/test_ntfs/test_ntfs_bats.log</string>
			</array>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/ntfs/test_ntfs</string>
                                <string>-t</string>
                                <string>mount_unmount</string>
			</array>
			<key>TestName</key>
			<string>ntfs_mount_unmount</string>
			<key>TestSpecificLogs</key>
			<array>
				<string>/tmp/test_ntfs/test_ntfs_bats.log</string>
			</array>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/ntfs/test_ntfs</string>
                                <string>-t</string>
                                <string>mount_unmount_kext</string>
			</array>
			<key>TestName</key>
			<string>ntfs_mount_unmount_kext</string>
			<key>TestSpecificLogs</key>
			<array>
				<string>/tmp/test_ntfs/test_ntfs_bats.log</string>
			</array>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/ntfs/test_ntfs</string>
                                <string>-t</string>
                                <string>unmount_busy_neg</string>
			</array>
			<key>TestName</key>
			<string>ntfs_unmount_busy_neg</string>
			<key>TestSpecificLogs</key>
			<array>
				<string>/tmp/test_ntfs/test_ntfs_bats.log</string>
			</array>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/ntfs/test_ntfs</string>
                                <string>-t</string>
                                <string>unmount_busy_neg_kext</string>
			</array>
			<key>TestName</key>
			<string>ntfs_unmount_busy_neg_kext</string>
			<key>TestSpecificLogs</key>
			<array>
				<string>/tmp/test_ntfs/test_ntfs_bats.log</string>
			</array>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/ntfs/test_ntfs</string>
                                <string>-t</string>
                                <string>unmount_2nd_neg</string>
			</array>
			<key>TestName</key>
			<string>ntfs_unmount_2nd_neg</string>
			<key>TestSpecificLogs</key>
			<array>
				<string>/tmp/test_ntfs/test_ntfs_bats.log</string>
			</array>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/ntfs/test_ntfs</string>
                                <string>-t</string>
                                <string>unmount_2nd_neg_kext</string>
			</array>
			<key>TestName</key>
			<string>ntfs_unmount_2nd_neg_kext</string>
			<key>TestSpecificLogs</key>
			<array>
				<string>/tmp/test_ntfs/test_ntfs_bats.log</string>
			</array>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/ntfs/test_ntfs</string>
                                <string>-t</string>
                                <string>mount_userfs_unmount_kext</string>
			</array>
			<key>TestName</key>
			<string>ntfs_mount_userfs_unmount_kext</string>
			<key>TestSpecificLogs</key>
			<array>
				<string>/tmp/test_ntfs/test_ntfs_bats.log</string>
			</array>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/ntfs/test_ntfs</string>
                                <string>-t</string>
                                <string>mount_userfs_mount_kext_neg</string>
			</array>
			<key>TestName</key>
			<string>ntfs_mount_userfs_mount_kext_neg</string>
			<key>TestSpecificLogs</key>
			<array>
				<string>/tmp/test_ntfs/test_ntfs_bats.log</string>
			</array>
			<key>Timeout</key>
			<integer>300</integer>
		</dict>
	</array>
</dict>
</plist>
