<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<string>ntfs</string>
	<key>IgnoreOutput</key>
	<true/>
	<key>Tests</key>
	<array>
		<dict>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/ntfs/test_ntfs</string>
			</array>
			<key>TestName</key>
			<string>ntfs_presubmit</string>
			<key>TestSpecificLogs</key>
			<array>
				<string>/tmp/test_ntfs/test_ntfs_bats.log</string>
			</array>
			<key>Timeout</key>
			<integer>600</integer>
		</dict>
	</array>
</dict>
</plist>
