# Configuration file for HeaderDoc
# $Revision: 1.4 $
###########################################################

%config = (
    copyrightOwner => "2001 Apple Computer, Inc.",
    defaultFrameName => "index.html",
    compositePageName => "CompositePage.html",
    masterTOCName => "MasterTOC.html"
);