<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>autofs</string>
        <key>OpenSourceVersion</key>
        <string>N/A</string>
	<key>OpenSourceSCM</key>
	<string>hg clone ssh://anon@hg.opensolaris.org/hg/onnv/onnv-gate</string>
        <key>OpenSourceImportDate</key>
        <string>2006-08-29</string>
        <key>OpenSourceLicense</key>
        <string>CDDL|APSL</string>
        <key>OpenSourceLicenseFile</key>
        <string>autofs.txt</string>
</dict>
</array>
</plist>
