PRODUCT_NAME = $(TARGET_NAME)
EXECUTABLE_PREFIX = 

CODE_SIGN_IDENTITY = 

INDIGO_INSTALL_PATH_PREFIX[sdk=iphonesimulator*] = $(SDKROOT)

HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR) $(PROJECT_DIR)/../utilities $(PROJECT_DIR)/ipc $(PROJECT_DIR)/../sectask $(PROJECT_DIR)/../libsecurity_asn1 $(PROJECT_DIR)/../libsecurity_ssl $(PROJECT_DIR)/../regressions $(PROJECT_DIR)/SOSCircle $(PROJECT_DIR)/../libsecurity_keychain/libDER $(PROJECT_DIR)/ProtectedCloudStorage $(BUILT_PRODUCTS_DIR)$(INDIGO_INSTALL_PATH_PREFIX)/usr/local/include

HEADER_SEARCH_PATHS[sdk=macosx*] = $(inherited) $(PROJECT_DIR)/../libsecurity_smime $(SYSTEM_LIBRARY_DIR)/Frameworks/CoreServices.framework/Frameworks/CarbonCore.framework/Headers

HEADER_SEARCH_PATHS[sdk=iphone*] = $(inherited) $(PROJECT_DIR)/../../libsecurity_smime $(PROJECT_DIR)/sectask

FRAMEWORK_SEARCH_PATHS[sdk=macosx*] = $(SDKROOT)$(SYSTEM_LIBRARY_DIR)/PrivateFrameworks

OTHER_CFLAGS = -isystem$(SDKROOT)/System/Library/Frameworks/System.framework/PrivateHeaders $(inherited)

COPY_PHASE_STRIP = NO
SKIP_INSTALL = YES
COPY_PHASE_STRIP = NO

ALWAYS_SEARCH_USER_PATHS = YES

GCC_C_LANGUAGE_STANDARD = gnu99

HEADERMAP_INCLUDES_FRAMEWORK_ENTRIES_FOR_ALL_PRODUCT_TYPES = NO

WARNING_CFLAGS = $(inherited) -Wmost -Wno-four-char-constants -Wno-unknown-pragmas

GCC_SYMBOLS_PRIVATE_EXTERN = NO

SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator

GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = $(inherited) INDIGO=1
