Ta stran vsebuje povzetek trenutnih skrbni¹kih zahtev, ki èakajo
na va¹o odobritev za po¹tni seznam <a href="%(adminurl)s"><em>%(listname)s</em></a>.
Najprej vidite seznam èakajoèih zahtev za prijavo in odjavo,
sledijo pa jim èakajoèa sporoèila za objavo.

<p>Za vsako skrbni¹ko zahtevo izberite ¾eleno dejanje in, ko
konèate, kliknite na gumb <b>Po¹lji vse podatke</b>. Na voljo so tudi
<a href="%(detailsurl)s">podrobna navodila</a>.

<p>Lahko si tudi <a href="%(viewallurl)s">ogledate podrobnosti</a> èakajoèih sporoèil.
