Skrbni¹ke zahteve so prikazane na dva mo¾na naèina, kot
<a href="%(summaryurl)s">stran s povzetki</a> ali kot
<em>podrobnosti</em>. Stran s povzetki vsebuje èakajoèe zahteve
za prijave in odjave, pa tudi sporoèila, ki èakajo va¹o odobritev
za objavo, prikazana po e-po¹tnih naslovih po¹iljateljev. Stran
s podrobnostmi vsebuje bolj podroben opis vsakega sporoèila,
vkljuèno z glavami sporoèila in povzetkom besedila.

<p>Na vseh straneh so na voljo naslednja dejanja:

<ul>
<li><b>Odlo¾i</b> -- Odlo¾i odloèitev na kasneje. V tem trenutku
    se ne izvede nobeno dejanje za èakajoèo zahtevo, vendar lahko
    èakajoèa sporoèila vseeno po¹ljete naprej ali ga shranite
    (glej spodaj).

<p><li><b>Odobri</b> -- Odobri sporoèilo in ga po¹lje na seznam.
    Pri zahtevah za èlanstvo odobri spremembo v stanju èlanstva.

<p><li><b>Zavrni</b> -- Zavrne sporoèilo, po¹iljatelju pa po¹lje obvestilo
    o zavrnitvi in zavr¾e izvirno sporoèilo. Pri èlanskih zahtevah zavrne
    spremembe v stanju èlanstva. V obeh primerih morate v polje za besedilo
    vnesti razlog za zavrnitev.

<p><li><b>Izbri¹i</b> -- Zavr¾e izvirno sporoèilo, brez po¹iljanja
    obvestila o zavrnitvi. Pri èlanskih zahtevah zavr¾e zahtevo in
    po¹iljatelju zahteve ne po¹lje obvestila. Ta mo¾nost se uporablja
    za poznano ne¾eleno po¹to (spam).
</ul>

<p>Pri obdr¾anih sporoèilih vkljuèite mo¾nost <b>Obdr¾i</b>, èe ¾elite
shraniti kopijo sporoèila za skrbnika strani. Ta mo¾nost je uporabna
pri ¾aljivih sporoèilih, ki jih ¾elite zavrniti, hkrati pa shraniti kot
dokaz.

<p>Vkljuèite mo¾nost <b>Posreduj</b> in vnesite prejemnikov naslov,
èe ¾elite sporoèilo namesto na seznam poslati nekomu drugemu. Èe
¾elite urediti shranjeno sporoèilo preden ga po¹ljete na seznam,
ga po¹ljite na svoj naslov (ali na naslov lastnika seznama), izvirno
sporoèilo pa izbri¹ite. Ko prejmete sporoèilo v svoj po¹tni predal,
da uredite in po¹ljite na seznam, skupaj z glavo <tt>Odobreno:</tt>
in geslom seznama kot vrednostjo. Prav tako je primerno, da dodate
opombo, da ste spremenili sporoèilo.

<p>Èe je po¹iljatelj èlan dopisnega seznama, katerega sporoèila ste
do sedaj obravnavali, ga lahko prenehate opazovati. Èe je seznam
nastavljen tako, da postavite novega uporabnika na preizku¹njo,
lahko le-ta kasneje, ko mu zaupate, objavlja sporoèila neposredno.

<p>Èe po¹iljatelj ni èlan seznama, lahko njegov naslov dodate v
<em>filter po¹iljateljev</em>. Ti filtri so opisani na strani
<a href="%(filterurl)s">stran za filtre po¹iljateljev</a>, kjer so
filtri razdeljeni na <b>auto-accept</b> (sprejme), <b>auto-hold</b>
(shrani), <b>auto-reject</b> (zavrne) ali <b>auto-discard</b>
(izbri¹e). Ta mo¾nost ne bo na voljo, èe je naslov ¾e vkljuèen
v katerega od filtrov.

<p>Ko konèate, kliknite gumb <em>Po¹lji vse podatke</em> v
zgornem ali spodnjem delu strani. S tem gumbom boste aktivirali
vsa izbrana dejanja za skrbni¹ke zahteve.

<p><a href="%(summaryurl)s">Vrnitev na stran s povzetki</a>.
