<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>Arhivi za seznam %(listname)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(meta)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>Arhivi za seznam %(listname)s</h1>
     <p>
      Ogledate si lahko <a href="%(listinfo)s">dodatne informacije o tem seznamu</a>
      ali pa <a href="%(fullarch)s">prenesete celoten raw arhiv</a>
      (%(size)s).
     </p>
     %(noarchive_msg)s
     %(archive_listing_start)s
     %(archive_listing)s
     %(archive_listing_end)s
     </BODY>
     </HTML>
