    </ul>
    <p>
      <a name="end"><b>Datum zadnjega sporoèila:</b></a>
       <i>%(lastdate)s</i><br>
    <b>Arhivirano dne:</b> <i>%(archivedate)s</i>
    <p>
   <ul>
         <li> <b>Sporoèila razvr¹èena glede na:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
	     <li><b><a href="%(listinfo)s">Dodatne informacije o tem seznamu...
                    </a></b></li>
     </ul>
     <p>
     <hr>
     <i>Ta arhiv je bil ustvarjen s programom
     Pipermail %(version)s.</i>
  </BODY>
</HTML>
