<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>Arhiv za %(listname)s %(archive)s glede na %(archtype)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
      <a name="start"></A>
      <h1>Arhivi %(archive)s glede na %(archtype)s</h1>
      <ul>
         <li> <b>Sporoèila razvr¹èena glede na:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s

	     <li><b><a href="%(listinfo)s">Dodatne informacije o tem seznamu...
                    </a></b></li>
      </ul>
      <p><b>Zaèetek:</b> <i>%(firstdate)s</i><br>
         <b>Konec:</b> <i>%(lastdate)s</i><br>
         <b>Sporoèil:</b> %(size)s<p>
     <ul>
