To besedilo lahko vkljuèuje
<a href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">Python
nize</a>, ki jih uporabljamo namesto atributov seznama. Seznam
mo¾nih nadomestil:

<ul>
    <li><b><code>real_name</code></b> - `Javno' ime seznama; ponavadi
    je to kar ime seznama, pisano z veliko zaèetnico.

    <li><b><code>list_name</code></b> - Ime, s katerim se seznam prepozna
    v URL-jih, kjer so pomembne velike in male èrke.(Za obratno zdru¾ljivost
    je enakovredno <code>_internal_name</code>.)

    <li><b><code>host_name</code></b> - Polno in veljavno ime domene, v
    kateri deluje stre¾nik.

    <li><b><code>web_page_url</code></b> - Osnovni URL za Mailman. Temu
    lahko dodate
    npr. <em><code>listinfo/%(internal_name)s</code></em> za stran s
    podatki o po¹tnem seznamu.

    <li><b><code>description</code></b> - Kratek opis po¹tnega seznama.

    <li><b><code>info</code></b> - Dalj¹i opis po¹tnega seznama.

    <li><b><code>cgiext</code></b> - Pripona, dodana za CGI skripte.
</ul>
