<!-- $Revision: 1.1.1.1 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title>Konfiguracija èlana <MM-Presentable-User> za seznam <MM-List-Name>
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-List-Name> konfiguracija èlanstva za èlana
        <MM-Presentable-User>
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b><MM-Presentable-User></b> - stanje èlanstva,
        geslo in mo¾nosti za po¹tni seznam <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Spreminjanje podatkov o èlanstvu za seznam <MM-List-Name></B>
        </FONT></TD></TR>
    <tr><td colspan="2">V spodnjih poljih lahko zamenjate naslov, s
        katerim ste prijavljeni na po¹tni seznam, z novim naslovom.
        Na novi naslov bo poslano obvestilo o spremembi, ki jo morate
        potrditi, da bo obdelana.

        <p>Èas za potrditev je <mm-pending-days>.

        <p>Prav tako lahko spremenite ime (npr. <em>Janez Novak</em>).

        <p>Èe ¾elite spremeniti èlanstvo na vseh seznamih, na katere
        ste prijavljeni na <mm-host>, oznaèite potrditveno polje
        <em>Spremeni globalno</em>.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Novi naslov:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Ponovite
            naslov:</div></td>
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Va¹e ime
            (neobvezno):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Spremeni globalno</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Odjava s seznama <MM-List-Name></B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Va¹a ostala èlanstva na <MM-Host></B>
        </FONT></TD></TR>

    <tr><td>
        Vkljuèite polje za potrditev in pritisnite ta gumb, èe se
        ¾elite odjaviti s tega po¹tnega seznama.  <strong>Opozorilo:</strong>
        Dejanje se bo izvedlo takoj!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        Videli boste seznam vseh ostalih po¹tnih seznamov na
        <mm-host>, na katere ste prijavljeni. To uporabite, èe
        ¾elite iste mo¾nosti spremeniti tudi za ostale sezname.

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Va¹e geslo za seznam <MM-List-Name></B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Ali ste pozabili geslo?</h3>
        </center>
        Kliknite ta gumb in prejeli boste sporoèilo na e-po¹tni
        naslov, s katerim ste prijavljeni.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Sprememba gesla</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Novo
                geslo:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Ponovi
                geslo:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Spremeni globalno.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Va¹e prijavne mo¾nosti za seznam <MM-List-Name></B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>Trenutne vrednosti so obkljukane.</strong></i>

<p>Nekatere mo¾nosti imajo polje <em>Nastavi globalno</em>. Èe oznaèite
to polje, bodo narejene spremembe vplivale na vse po¹tne sezname,
katerih èlan ste na <mm-host>.  Èe ¾elite vedeti, na katere sezname
ste ¹e prijavljeni, kliknite <em>Poka¾i moje ostale naroènine</em>.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Prejemanje po¹te</strong></a><p>
        Nastavite to mo¾nost na <em>Omogoèeno</em>, èe ¾elite prejemati
        sporoèila s tega po¹tnega seznama.  Èe nastavite <em>Onemogoèeno</em>,
        boste ostali prijavljeni, ne boste pa prejemali sporoèil, npr.
        ko ste na dopustu.  Èe onemogoèite prejemanje po¹te, je ne pozabite
        omogoèiti, ko se vrnete; ni je mogoèe omogoèiti samodejno.
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Omogoèeno<br>
        <mm-delivery-disable-button>Onemogoèeno<p>
        <mm-global-deliver-button><i>Nastavi globalno</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Prejemanje izvleèkov</strong><p>
        Èe vkljuèite naèin prejemanja izvleèkov, boste prejemali vsa
        sporoèila zdru¾ena v en veèji izvleèek (ponavadi enega dnevno,
        odvisno od dejavnosti na seznamu), namesto posameznih sporoèil.
        Ko izkljuèite prejemanje izvleèka, boste prejeli ¹e zadnjega.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Izkljuèeno<br>
        <MM-Digest-Radio-Button>Vkljuèeno
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Izvleèki v MIME obliki ali kot navadno besedilo?</strong><p>
        Va¹ po¹tni program morda ne podpira MIME izvleèkov.  Na
        splo¹no so bolj priljubljeni MIME izvleèki, èe pa imate te¾ave
        z branjem le-teh, izberite obliko navadnega besedila.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Navadno besedilo<p>
        <mm-global-mime-button><i>Nastavi globalno</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Ali ¾elite prejemati lastna sporoèila?</strong><p>
        Navadno boste prejeli kopijo vsakega sporoèila, ki ga po¹ljete
        na seznam.  Èe ne ¾elite prejemati kopij lastnih sporoèil,
        izberite <em>Ne</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Ne<br>
        <mm-receive-own-mail-button>Da
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Ali ¾elite prejeti potrditveno sporoèilo, ko po¹ljete
        sporoèilo na seznam?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Ne<br>
        <mm-ack-posts-button>Da
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Ali ¾elite prejeti opomnik z geslom za ta seznam?</strong><p>
        Enkrat meseèno boste prejeli opomnik, v katerem bo navedeno
        geslo za vsak po¹tni seznam na tem gostitelju, na katerega
        ste prijavljeni.  To mo¾nost lahko izkljuèite za posamezne
        sezname, tako da izberete <em>Ne</em>.  Èe izkljuèite opomnike
        za vse prijavljene sezname, ne boste prejemali opomnikov z geslom.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Ne<br>
        <mm-get-password-reminder-button>Da<p>
        <mm-global-remind-button><i>Nastavi globalno</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Ali ¾elite prikriti svoje èlanstvo na tem seznamu?</strong><p>
        Navadno je va¹ e-po¹tni naslov prikazan na seznamu èlanov
        tega seznama (po¹iljateljem ne¾elene po¹te v popaèeni
        obliki).  Èe ne ¾elite, da bi ostali videli va¹ e-naslov
        na seznamu èlanov, izberite <em>Da</em> za to mo¾nost.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Ne<br>
        <MM-Hide-Subscription-Button>Da
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Kateri jezik ¾elite uporabiti za seznam?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Na katere kategorije tem se ¾elite naroèiti?</strong><p>
                Èe izberete eno ali veè tem, lahko filtrirate promet
                na po¹tnem seznamu, tako da prejemate samo sporoèila
                z izbranimi temami.  Èe sporoèilo ustreza eni od teh
                izbranih tem, boste to sporoèilo prejeli, drugaèe pa
                ne.

                <p>Èe sporoèilo ne ustreza nobeni temi, potem bo
                prejem tega sporoèila odvisen od naslednjega izbora.
                Èe ne izberete nobene teme, boste prejemali vsa
                sporoèila, poslana na po¹tni seznam.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Ali ¾elite prejemati sporoèila, ki ne ustrezajo nobenemu
                tematskemu filtru?</strong><p>

                Ta mo¾nost bo veljala le, èe ste naroèeni na vsaj eno
                od zgornjih tem.  Mo¾nost predstavlja privzeto pravilo
                za dostavo sporoèil, ki ne ustrezajo nobenemu tematskemu
                filtru.  Èe izberete <em>Ne</em>, ne boste dobili sporoèil,
                ki ne ustrezajo nobeni temi, èe pa izberete <em>Da</em>,
                boste prejeli tudi tak¹na neopredeljiva sporoèila.

                <p>Èe zgoraj niste izbrali nobene ¾elene teme, boste
                prejeli vsako sporoèilo, ki bo poslano na po¹tni seznam.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Ne<br>
        <mm-receive-nonmatching-topics>Da
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Izogni se dvojnim kopijam sporoèil?</strong><p>

                Kadar ste neposredno navedeni v polju <tt>Za:</tt> ali
                <tt>Kp:</tt> sporoèila, lahko izberete, da ne dobite
                kopije tega sporoèila ¹e s po¹tnega seznama.
                Izberite <em>Da</em>, da se izognete prejemanju kopij
                s seznama; izberite <em>Ne</em>, da prejmete kopije.

                <p>Èe ima seznam omogoèena zasebna sporoèila med èlani
                in izberete prejemanje kopij, bo vsaki kopiji dodana
                glava <tt>X-Mailman-Copy: yes</tt>.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Ne<br>
        <mm-dont-receive-duplicates-button>Da<p>
        <mm-global-nodupes-button><i>Nastavi globalno</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
