<html>
<head>
    <title>Avtentikacija za zasebne arhive èlana %(realname)s</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">Avtentikacija za zasebne
	    arhive èlana %(realname)s</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">E-po¹tni naslov:</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">Geslo:</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="Let me in...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Pomembno:</em></strong> Od tega trenutka
      dalje morate v brskalniku imeti omogoèene pi¹kotke,
      drugaèe skrbni¹ke spremembe ne bodo veljale.

      <p>Skrbni¹ki vmesnik programa Mailman uporablja
      pi¹kotke sej zato, da se vam ni potrebno za vsako
      skrbni¹ko operacijo ponovno avtenticirati.  Ta
      pi¹kotek bo potekel samodejno, ko boste zaprli
      brskalnik ali se odjavili s povezavo
      <em>Odjava</em> v <em>Ostale skrbni¹ke dejavnosti</em>
      (ki bo vidno, takoj ko se prijavite).
</FORM>
</body>
</html>
