
VERSIONING_SYSTEM = apple-generic

SECURITY_BUILD_VERSION = $(SECURITY_BUILD_VERSION_$(SECURITY_BUILD_VERSION_EVAL_$(RC_ProjectSourceVersion)))
SECURITY_BUILD_VERSION_ = $(RC_ProjectSourceVersion)
SECURITY_BUILD_VERSION_EVAL_ = noVer
SECURITY_BUILD_VERSION_noVer = 0

CURRENT_PROJECT_VERSION = $(SECURITY_BUILD_VERSION)
