<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>splunk_topic</key>
	<string>xp_sear_keysync</string>
	<key>splunk_allowInsecureCertificate</key>
	<false/>
	<key>splunk_bagURL</key>
	<string>https://xp.apple.com/config/1/report/xp_sear_keysync</string>
	<key>SyncManifests</key>
	<false/>
	<key>EnforceManifests</key>
	<false/>
</dict>
</plist>
