(
	{
		OpenSourceProject = MySQL;
		OpenSourceVersion = "5.0.82";
		OpenSourceURL = "http://downloads.mysql.com/archives/mysql-5.0/mysql-5.0.82.tar.gz";
		OpenSourceSHA1 = "571eb69a23afd180edd4152346d89c8c86ae7636";
		OpenSourceImportDate = "2009-07-10";
		"OpenSourceModifications" = ();
		OpenSourceLicense = GPL;
		"OpenSourceLicenseFile" = "MySQL.txt";
	},
)