<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.private.iokit.soc-limit</key>
	<true/>
	<key>com.apple.private.vfs.setsize</key>
	<true/>
	<key>com.apple.private.ppm.superclient</key>
	<true/>
	<key>com.apple.private.powersource-read</key>
	<true/>
	<key>com.apple.private.applesmc.user-access</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.powerlog</string>
	</array>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.iokit.rootdomain-set-property</key>
	<true/>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>ApplePPMUserClient</string>
		<string>RootDomainUserClient</string>
		<string>AppleSMCClient</string>
		<string>AppleSmartBatteryManagerUserClient</string>
		<string>IOReportUserClient</string>
	</array>
	<key>com.apple.PerfPowerTelemetry.data-donation</key>
	<true/>
	<key>com.apple.PerfPowerServices.data-donation</key>
	<true/>
	<key>com.apple.trial.client</key>
	<array>
		<string>253</string>
		<string>1200</string>
	</array>
	<key>com.apple.private.btm.client</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.context</key>
	<true/>
	<key>com.apple.osintelligence.inactivity</key>
	<true/>
	<key>com.apple.private.biome.client-identifier</key>
	<string>com.apple.powerd</string>
	<key>com.apple.private.biome.read-only</key>
	<array>
		<string>ContextSync.LOI</string>
		<string>Location.Semantic</string>
		<string>Alarm</string>
	</array>
	<key>com.apple.private.biome.read-write</key>
	<array>
		<string>Device.Power.EnergyMode</string>
	</array>
	<key>com.apple.powerui.bdcdata</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.powerui.bdcdata</string>
		<string>com.apple.powerexperienced.resourceusage</string>
		<string>com.apple.datamigrator</string>
	</array>
	<key>com.apple.backlight.backlightaccess</key>
	<true/>
	<key>com.apple.locationd.motion_alarms</key>
	<true/>
	<key>com.apple.locationd.motion_alarms-system-client</key>
	<true/>
	<key>com.apple.powerexperienced.resourceusage</key>
	<true/>
</dict>
</plist>
