<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleI2C</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleI2C version 3.3.3, Copyright 2003 Apple Computer, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleI2C</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleI2C</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.3.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.3.3</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>MacIOAppleI2C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleI2C</string>
			<key>IOClass</key>
			<string>PPCI2CInterface</string>
			<key>IONameMatch</key>
			<string>i2c</string>
			<key>IOProviderClass</key>
			<string>AppleMacIODevice</string>
			<key>IOUserClientClass</key>
			<string>I2CUserClient</string>
		</dict>
		<key>PmuAppleI2C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleI2C</string>
			<key>IOClass</key>
			<string>PPCI2CInterface</string>
			<key>IONameMatch</key>
			<string>pmu-i2c</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>AppleMacIODevice</string>
			<key>IOUserClientClass</key>
			<string>I2CUserClient</string>
		</dict>
		<key>UniNAppleI2C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleI2C</string>
			<key>IOClass</key>
			<string>PPCI2CInterface</string>
			<key>IONameMatch</key>
			<string>i2c</string>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>IOUserClientClass</key>
			<string>I2CUserClient</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kernel.iokit</key>
		<string>1.0.0b1</string>
		<key>com.apple.kernel.libkern</key>
		<string>1.0.0b1</string>
		<key>com.apple.kernel.mach</key>
		<string>1.0.0b1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
