PRODUCT_NAME = tidy.A;
INSTALL_PATH = /usr/lib;
PUBLIC_HEADERS_FOLDER_PATH = /usr/include/tidy;

DYLIB_COMPATIBILITY_VERSION = 1.0.0;
DYLIB_CURRENT_VERSION = 1.0.0;
EXECUTABLE_PREFIX = lib;

OTHER_LDFLAGS = $(inherited) -Wl,-force_load,"$(BUILT_PRODUCTS_DIR)/libtidy.a";

EXPORTED_SYMBOLS_FILE = $(SRCROOT)/libtidy.exp;
GCC_SYMBOLS_PRIVATE_EXTERN = YES;

IS_ZIPPERED = YES;
SUPPORTS_TEXT_BASED_API = YES;
TAPI_VERIFY_MODE = Pedantic;
OTHER_TAPI_FLAGS = $(inherited) $(TIDY_CFLAGS);
