<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.security.keychain-circle-notification</string>
	<key>RunAtLoad</key>
	<false/>
	<key>KeepAlive</key>
	<false/>
	<key>EnablePressuredExit</key>
	<true/>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>kPublicKeyNotAvailable</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.security.publickeynotavailable</string>
			</dict>
			<key>tick</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.security.tick</string>
			</dict>
			<key>kSOSCCCircleChangedNotification</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.security.secureobjectsync.circlechanged</string>
			</dict>
		</dict>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/CoreServices/Keychain Circle Notification.app/Contents/MacOS/Keychain Circle Notification</string>
	</array>
</dict>
</plist>
