<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<string>diskdev_cmds</string>
	<key>Tests</key>
	<array>
		<dict>
			<key>AsRoot</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/AppleInternal/CoreOS/tests/diskdev_cmds/dirs_cleaner.sh</string>
			</array>
			<key>TestName</key>
			<string>test_dirs_cleaner</string>
		</dict>
	</array>
</dict>
</plist>
