<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleName</key>
	<string>Kerberos</string>
	<key>CFBundleExecutable</key>
	<string>Kerberos.MO</string>
	<key>CFBundleIconFile</key>
	<string>KerberosApp.icns</string>
	<key>CFBundleIdentifier</key>
	<string>edu.mit.Kerberos.KerberosApp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>KrbM</string>
	<key>CFBundleVersion</key>
	<string>1.8a4</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8a4</string>
	<key>CFBundleGetInfoString</key>
	<string>1.8a4, Copyright MIT 1998-2003, Kerberos for Macintosh 5.0</string>

</dict>
</plist>
