<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>USB Prober</string>
	<key>CFBundleIconFile</key>
	<string>USBProberIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.USBProber</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersion</key>
	<string>2.3</string>
	<key>CFBundleSignature</key>
	<string>USBP</string>
	<key>CFBundleVersion</key>
	<string>2.3d15</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<string>YES</string>
</dict>
</plist>
