<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BATSConfigVersion</key>
	<string>0.1.0</string>
	<key>Project</key>
	<string>Security</string>
	<key>TestSpecificLogs</key>
	<array>
		<string>/var/log/module/com.apple.securityd/security.log.*</string>
		<string>/var/mobile/Library/Logs/CrashReporter/DiagnosticLogs/security.log.*</string>
	</array>
	<key>Tests</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>testSecPairBasicTest</string>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/Tests/Security</string>
			<key>Arch</key>
			<string>platform-native</string>
			<key>AsRoot</key>
			<false/>
			<key>Command</key>
			<array>
				<string>BATS_XCTEST_CMD</string>
				<string>-NSTreatUnknownArgumentsAsOpen</string>
				<string>NO</string>
				<string>-ApplePersistenceIgnoreState</string>
				<string>YES</string>
				<string>-XCTest</string>
				<string>testSecPairBasicTest</string>
				<string>KCPairing.xctest</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
