<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleSMUMonitor</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleSMUMonitor version 1.9, Copyright 2002-2008 Apple Inc.</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleSMUMonitor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleSMUMonitor</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.9d0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>SMUFans</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSMUMonitor</string>
			<key>IOClass</key>
			<string>AppleSMUMonitor</string>
			<key>IONameMatch</key>
			<string>smu-fans</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleSMUDevice</string>
		</dict>
		<key>SMUThermometer</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSMUMonitor</string>
			<key>IOClass</key>
			<string>AppleSMUMonitor</string>
			<key>IONameMatch</key>
			<string>smu-sensors</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>AppleSMUDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kernel.iokit</key>
		<string>6.0</string>
		<key>com.apple.kernel.libkern</key>
		<string>6.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
