<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleHWSensor</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleHWSensor version 1.9.3, Copyright 2002-2009 Apple Inc.</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleHWSensor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleHWSensor</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.9.3d0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ControlGPURange</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHWSensor</string>
			<key>IOClass</key>
			<string>IOHWControl</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device_type</key>
				<string>gpu-control</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>ControlTypeALS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHWSensor</string>
			<key>IOClass</key>
			<string>IOHWControl</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device_type</key>
				<string>als-control</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>ControlTypeFanPWM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHWSensor</string>
			<key>IOClass</key>
			<string>IOHWControl</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device_type</key>
				<string>fan-pwm-control</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>ControlTypeFanRPM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHWSensor</string>
			<key>IOClass</key>
			<string>IOHWControl</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device_type</key>
				<string>fan-rpm-control</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>ControlTypeSlew</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHWSensor</string>
			<key>IOClass</key>
			<string>IOHWControl</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device_type</key>
				<string>slew-control</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>SensorTypeADC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHWSensor</string>
			<key>IOClass</key>
			<string>IOHWSensor</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device_type</key>
				<string>adc-sensor</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>SensorTypeALS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHWSensor</string>
			<key>IOClass</key>
			<string>IOHWSensor</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device_type</key>
				<string>als-sensor</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>SensorTypeCurrent</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHWSensor</string>
			<key>IOClass</key>
			<string>IOHWSensor</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device_type</key>
				<string>current-sensor</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>SensorTypeDevicePower</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHWSensor</string>
			<key>IOClass</key>
			<string>IOHWSensor</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device_type</key>
				<string>devicepower-sensor</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>SensorTypeFanSpeed</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHWSensor</string>
			<key>IOClass</key>
			<string>IOHWSensor</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device_type</key>
				<string>fanspeed-sensor</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>SensorTypeGPU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHWSensor</string>
			<key>IOClass</key>
			<string>IOHWSensor</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device_type</key>
				<string>gpu-sensor</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>SensorTypePower</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHWSensor</string>
			<key>IOClass</key>
			<string>IOHWSensor</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device_type</key>
				<string>power-sensor</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>SensorTypeTemp</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHWSensor</string>
			<key>IOClass</key>
			<string>IOHWSensor</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device_type</key>
				<string>temp-sensor</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>SensorTypeVoltage</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHWSensor</string>
			<key>IOClass</key>
			<string>IOHWSensor</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>device_type</key>
				<string>voltage-sensor</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>8.4</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.4</string>
		<key>com.apple.kpi.mach</key>
		<string>8.4</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
