<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>perl</string>
	<key>OpenSourceVersion</key>
	<string>5.8.8</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.perl.com/</string>
	<key>OpenSourceURL</key>
	<string>http://www.cpan.org/src/perl-5.8.8.tar.bz2</string>
	<key>OpenSourceMD5</key>
	<string>a377c0c67ab43fd96eeec29ce19e8382</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>changes to build under XBS</string>
		<string>prepend and append paths to @INC, using /Library/Perl/<version>/PrependToPath and /Library/Perl/<version>/AppendToPath</string>
		<string>Config returns the correct sizes for both 32 and 64-bit</string>
		<string>#29350: infinite loop fix when strftime fails</string>
		<string>initial dtrace probe support</string>
		<string>fix for CVE-2007-5116 regcomp vulnerabilities</string>
		<string>fix for CVE-2008-1927 double free</string>
	</array>
	<key>OpenSourceLicense</key>
	<string>Artistic</string>
	<key>OpenSourceLicenseFile</key>
	<string>perl.txt</string>
</dict>
</plist>
