<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>Emacs</string>
	<key>OpenSourceVersion</key>
	<string>22.1</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.gnu.org/software/emacs/emacs.html</string>
	<key>OpenSourceURL</key>
	<string>http://ftp.gnu.org/pub/gnu/emacs/emacs-22.1.tar.gz</string>
	<key>OpenSourceMD5</key>
	<string>6949df37caec2d7a2e0eee3f1b422726</string>
	<key>OpenSourceImportDate</key>
	<string>2007-06-02</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>MacOSX Build fixes</string>
		<string>CVE-2007-6109.diff from http://cvs.savannah.gnu.org/viewvc/emacs/emacs/src/editfns.c?r1=1.439.2.3&amp;r2=1.439.2.9&amp;view=patch</string>
		<string>CVE-2007-5795 diff from http://cvs.savannah.gnu.org/viewvc/emacs/lisp/files.el?r1=1.937&amp;r2=1.938&amp;sortby=date&amp;root=emacs&amp;view=patch</string>
		<string>CVS-2008-2142 diff from http://cvs.savannah.gnu.org/viewvc/emacs/lisp/obsolete/fast-lock.el?r1=1.11.2.3&amp;r2=1.11.2.4&amp;view=patch&amp;sortby=date&amp;root=emacs&amp;pathrev=EMACS_22_BASE</string>
		<string>Remove unneeded -fpascal-strings from darwin.h</string>
		<string>python.el patch http://cvs.savannah.gnu.org/viewvc/emacs/lisp/progmodes/python.el?r1=1.89&amp;r2=1.90&amp;sortby=date&amp;root=emacs&amp;view=patch</string>
		<string>xdisp.c patch http://cvs.savannah.gnu.org/viewvc/emacs/src/xdisp.c?root=emacs&amp;r1=1.1159&amp;r2=1.1160&amp;view=patch</string>
	</array>
	<key>OpenSourceLicense</key>
	<string>GPL</string>
	<key>OpenSourceLicenseFile</key>
	<string>emacs.txt</string>
</dict>
</plist>
