<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>tcsh</string>
	<key>OpenSourceVersion</key>
	<string>6.15.00</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.tcsh.org</string>
	<key>OpenSourceURL</key>
	<string>ftp://ftp.astron.com/pub/tcsh/tcsh-6.15.00.tar.gz</string>
	<key>OpenSourceSHA1</key>
	<string>d24f7bf27e80222a6293b6629c14db547f0b7387</string>
	<key>OpenSourceImportDate</key>
	<string>2008-1-23</string>
	<key>OpenSourceModifications</key>
	<array>
	<string>Fix for http://bugs.gw.com/view.php?id=49</string>
	<string>Patch host.defs for x86_64</string>
	<string>Fix bug in dorepeat with change from 6.16.00</string>
	</array>
	<key>OpenSourceLicense</key>
	<string>BSD</string>
	<key>OpenSourceLicenseFile</key>
	<string>tcsh.txt</string>
</dict>
</plist>
