#AdministrationHeader("#adminResource('entries.page.header' 'Entries')")

<body>
    <div id="wrap">

        <h1>Blosjom Administration Interface</h1>

        <div id="login">
            <p>Logged in as: <a href="#" title="view info">$BLOJSOM_ADMIN_PLUGIN_USERNAME</a> : <a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&action=logout" title="log out">#adminResource('logout.text' '')</a></p>
            <p>Logged in to: <a href="$BLOJSOM_BLOG.getBlogURL()" title="view site info">$BLOJSOM_BLOG.getBlogName()</a></p>
        </div>

        <ul id="nav">
            <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin">#adminResource('administration.text' '')</a></li>
            <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-categories&action=page">#adminResource('edit.blog.categories.page.header' '')</a></li>
            <li><a href="#">#adminResource('entries.page.header' '')</a>
                <ul>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-entries&action=new-blog-entry&blog-category-name=/">#adminResource('add.entry.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-entries&action=page">#adminResource('edit.and.delete.entries.text' '')</a></li>
                </ul>
            </li>
            <li><a href="#">#adminResource('weblog.settings.text' '')</a>
                <ul>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-authorization&action=page">#adminResource('authorization.page.header' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-users&action=page">#adminResource('users.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=file-upload&action=page">#adminResource('files.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-flavors&action=page">#adminResource('flavors.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-permissions&action=page">#adminResource('permissions.page.header' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-properties&action=page">#adminResource('properties.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-templates&action=page">#adminResource('templates.text' '')</a></li>
                </ul>
            </li>
            <li><a href="#">#adminResource('plugin.settings.text' '')</a>
                <ul>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-plugins&action=page">#adminResource('configure.plugin.mappings.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=list-web-admin-plugins">#adminResource('configure.available.plugins.text' '')</a></li>
                </ul>
            </li>
        </ul>

        <div id="main">
            <div id="contents">
                #showErrorMessage()

                <!-- Add blog entry form -->
                <div class="mainClm">
                    <h3>#adminResource('add.entry.to.category.text' 'Add entry to category')</h3>
                    <table>
                        <form name="add-blog-entry" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="new-blog-entry"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-entries"/>
                            <tr>
                                <td>#adminResource('blog.category.text' 'Blog category')</td>
                                <td>
                                    <select name="blog-category-name">
                                    #foreach ($blogCategory in $BLOJSOM_ALL_CATEGORIES)
                                        <option value="$blogCategory.getCategory()">#if ($blogCategory.getName())$blogCategory.getName()#else$blogCategory.getCategory()#end</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('add.entry.to.category.text' 'Add entry to category')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                <!-- Edit blog entries form -->
                <div class="mainClm">
                    <h3>#adminResource('edit.entries.in.category.text' 'Edit entries in an existing blog category')</h3>
                    <table>
                        <form name="edit-blog-entries" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="edit-blog-entries"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-entries"/>
                            <tr>
                                <td>#adminResource('blog.category.text' 'Blog category')</td>
                                <td>
                                    <select name="blog-category-name">
                                    #foreach ($blogCategory in $BLOJSOM_ALL_CATEGORIES)
                                        <option value="$blogCategory.getCategory()">#if ($blogCategory.getName())$blogCategory.getName()#else$blogCategory.getCategory()#end</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('edit.entries.in.category.text' 'Edit entries in category')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

#AdministrationFooter()