#AdministrationHeader("#adminResource('forgotten.password.header' 'Forgotten Password')")

<body>
    <div id="wrap">

        <h1>Blosjom Administration Interface</h1>

        <ul id="nav">
        </ul>

        <div id="main">
            <div id="contents">

                #showErrorMessage()

                <div class="mainClm">
                    <h3>#adminResource('forgotten.password.header' 'Forgotten Password')</h3>
                    <table>
                        <form name="forgotten-password" action="$BLOJSOM_BLOG.getBlogAdminURL()" method="post">
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="forgotten-password,sendemail"/>

                            <tr>
                                <td>#adminResource('username.text' 'Username')</td>
                                <td>
                                    <input name="forgotten-username" type="text" size="25"/>
                                </td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('email.my.password.text' 'E-mail my password')"/>
                                    <input type="reset" name="Reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>

                            <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                            <tr>
                                <td></td><td><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin">#adminResource('login.header' 'Login')</a></td>
                            </tr>
                            <tr>
                                <td></td><td>Back to <a href="$BLOJSOM_BLOG.getBlogURL()">$BLOJSOM_BLOG.getBlogName()</a></td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

#AdministrationFooter()