<?xml version="1.0" encoding="UTF-8"?>

#adminPageHeader("#adminResource('forgotten.password.header' 'Forgotten Password')")

    <div id="contents">

        #showErrorMessage()
        
        <center>
            <table>
                <form name="forgotten-password" action="$BLOJSOM_BLOG.getBlogURL()" method="post">
                    <input type="hidden" name="flavor" value="admin"/>
                    <input type="hidden" name="plugins" value="forgotten-password,sendemail"/>

                    <tr>
                        <td>#adminResource('username.text' 'Username')</td>
                        <td>
                            <input name="forgotten-username" type="text" size="25"/>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <center>
                                <input type="submit" name="submit" value="#adminResource('email.my.password.text' 'E-mail my password')"/>
                                <input type="reset" name="Reset" value="#adminResource('reset.text' 'Reset')"/>
                            </center>
                        </td>
                    </tr>
                </form>
            </table>
        </center>
    </div>

#adminPageFooter()