#AdministrationHeader("#adminResource('templates.page.header' 'Templates')")

<body>
    <div id="wrap">

        <h1>Blosjom Administration Interface</h1>

        <div id="login">
            <p>Logged in as: <a href="#" title="view info">$BLOJSOM_ADMIN_PLUGIN_USERNAME</a> : <a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&action=logout" title="log out">#adminResource('logout.text' '')</a></p>
            <p>Logged in to: <a href="$BLOJSOM_BLOG.getBlogURL()" title="view site info">$BLOJSOM_BLOG.getBlogName()</a></p>
        </div>

        <ul id="nav">
            <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin">#adminResource('administration.text' '')</a></li>
            <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-categories&action=page">#adminResource('edit.blog.categories.page.header' '')</a></li>
            <li><a href="#">#adminResource('entries.page.header' '')</a>
                <ul>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-entries&action=new-blog-entry&blog-category-name=/">#adminResource('add.entry.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-entries&action=page">#adminResource('edit.and.delete.entries.text' '')</a></li>
                </ul>
            </li>
            <li><a href="#">#adminResource('weblog.settings.text' '')</a>
                <ul>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-authorization&action=page">#adminResource('authorization.page.header' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-users&action=page">#adminResource('users.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=file-upload&action=page">#adminResource('files.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-flavors&action=page">#adminResource('flavors.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-permissions&action=page">#adminResource('permissions.page.header' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-properties&action=page">#adminResource('properties.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-templates&action=page">#adminResource('templates.text' '')</a></li>
                </ul>
            </li>
            <li><a href="#">#adminResource('plugin.settings.text' '')</a>
                <ul>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-plugins&action=page">#adminResource('configure.plugin.mappings.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=list-web-admin-plugins">#adminResource('configure.available.plugins.text' '')</a></li>
                </ul>
            </li>
        </ul>

        <div id="main">
            <div id="contents">
                #showErrorMessage()

                <!-- Add blog template form -->
                <div class="mainClm">
                    <h3>#adminResource('add.blog.template.text' 'Add blog template')</h3>
                    <table>
                        <form name="edit-blog-template" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="add-blog-template"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-templates"/>
                            <tr>
                                <td>#adminResource('template.to.add.text' 'Template to add')</td>
                                <td><input type="text" size="25" name="blog-template"/></td>
                            </tr>
                            <tr>
                                <td>#adminResource('blog.template.directory.text' 'Blog template directory')</td>
                                <td>
                                    <select name="blog-template-directory">
                                    #foreach ($directory in $BLOJSOM_PLUGIN_EDIT_BLOG_TEMPLATES_DIRECTORIES)
                                        <option value="$directory">$directory</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('add.blog.template.text' 'Add blog template')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                <!-- Edit blog template form -->
                <div class="mainClm">
                    <h3>#adminResource('edit.blog.template.text' 'Update blog template')</h3>
                    <table>
                        <form name="edit-blog-template" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="edit-blog-template"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-templates"/>
                            <tr>
                                <td>#adminResource('blog.template.text' 'Blog template')</td>
                                <td>
                                    <select name="blog-template">
                                    #foreach ($blogTemplate in $BLOJSOM_PLUGIN_EDIT_BLOG_TEMPLATES_TEMPLATE_FILES)
                                        <option value="$blogTemplate">$blogTemplate</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('edit.blog.template.text' 'Update blog template')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                <!-- Delete blog template form -->
                <div class="mainClm">
                    <h3>#adminResource('delete.blog.template.text' 'Delete blog template')</h3>
                    <table>
                        <form name="edit-blog-template" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="delete-blog-template"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-templates"/>
                            <tr>
                                <td>#adminResource('blog.template.text' 'Blog template')</td>
                                <td>
                                    <select name="blog-template">
                                    #foreach ($blogTemplate in $BLOJSOM_PLUGIN_EDIT_BLOG_TEMPLATES_TEMPLATE_FILES)
                                        <option value="$blogTemplate">$blogTemplate</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('delete.blog.template.text' 'Delete blog template')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                <!-- Add blog template directory form -->
                <div class="mainClm">
                    <h3>#adminResource('add.template.directory.text' 'Add blog template directory')</h3>
                    <table>
                        <form name="add-template-directory" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="add-template-directory"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-templates"/>
                            <tr>
                                <td>#adminResource('directory.to.add.text' 'Directory to add')</td>
                                <td><input type="text" size="25" name="template-directory-to-add"/></td>
                            </tr>
                            <tr>
                                <td>#adminResource('parent.blog.template.directory.text' 'Parent blog template directory')</td>
                                <td>
                                    <select name="blog-template-directory">
                                    #foreach ($directory in $BLOJSOM_PLUGIN_EDIT_BLOG_TEMPLATES_DIRECTORIES)
                                        <option value="$directory">$directory</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('add.template.directory.text' 'Add blog template directory')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                <!-- Delete blog template directory form -->
                <div class="mainClm">
                    <h3>#adminResource('delete.template.directory.text' 'Delete blog template directory')</h3>
                    <table>
                        <form name="delete-template-directory" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="delete-template-directory"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-templates"/>
                            <tr>
                                <td>#adminResource('blog.template.directory.text' 'Blog template directory')</td>
                                <td>
                                    <select name="blog-template-directory">
                                    #foreach ($directory in $BLOJSOM_PLUGIN_EDIT_BLOG_TEMPLATES_DIRECTORIES)
                                        <option value="$directory">$directory</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('delete.template.directory.text' 'Delete blog template directory')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

#AdministrationFooter()