<?xml version="1.0" encoding="UTF-8"?>

#adminPageHeader("#adminResource('edit.blog.entry.header' 'Edit Blog Entry')")    

    <div id="header">
        <ul id="primary">
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin">#adminResource('administration.text' '')</a></li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-categories&action=page">#adminResource('edit.blog.categories.page.header' '')</a></li>
            <li><span>#adminResource('entries.page.header' '')</span></li>
            <ul id="secondary">
                <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-entries&action=new-blog-entry&blog-category-name=/">#adminResource('add.entry.text' '')</a></li>
                <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-entries&action=page">#adminResource('edit.and.delete.entries.text' '')</a></li>
            </ul>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-properties&action=page">#adminResource('weblog.settings.text' '')</a></li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&plugins=edit-blog-plugins&action=page">#adminResource('plugin.settings.text' '')</a></li>
            <li><a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&action=logout">#adminResource('logout.text' '')</a></li>
        </ul>
    </div>

    <div id="contents">

        #showErrorMessage()

        <!-- Edit blog entries form -->
        <div id="mainClm">
            <table>
                <form name="edit-blog-entries" action="." method="post" accept-charset="UTF-8">
                    <input type="hidden" name="action" value="update-blog-entry"/>
                    <input type="hidden" name="flavor" value="admin"/>
                    <input type="hidden" name="plugins" value="edit-blog-entries"/>
                    <input type="hidden" name="blog-category-name" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_CATEGORY"/>
                    <input type="hidden" name="blog-entry-id" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getPermalink()"/>
                    <tr>
                        <td>#adminResource('blog.entry.title.text' 'Blog entry title')</td>
                        <td><input type="text" size="50" name="blog-entry-title" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getTitle()"/></td>
                    </tr>
                    <tr>
                        <td>#adminResource('blog.entry.text.text' 'Blog entry text')</td>
                        <td><textarea rows="10" cols="80" name="blog-entry-description" id="blog-entry-description" onkeyup="reloadPreviewDiv();">$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getDescription()</textarea></td>
                    </tr>
                    <tr><td></td><td>
                        <div id="quicktags">
                        Quicktags: <script src="$BLOJSOM_BLOG.getBlogBaseURL()/quicktags.js" language="JavaScript" type="text/javascript"></script>
                        <script language="JavaScript" type="text/javascript">edToolbar();</script>
                        </div></td>
                    </tr>
                    <script type="text/javascript">var edCanvas = document.getElementById('blog-entry-description');</script>
                    <tr></tr>
                    <tr>
                        <td colspan="2"><h4>Preview</h4></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="blog-entry-preview">
                            </div>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>#adminResource('blog.entry.trackbackURLs.text' 'Blog trackback URLs')</td>
                        <td><textarea rows="3" cols="80" name="blog-trackback-urls"></textarea></td>
                    </tr>
                    <tr>
                        <td>#adminResource('blog.entry.pingURLs.text' 'Blog ping URLs')</td>
                        <td><textarea rows="3" cols="80" name="blog-ping-urls">$!BLOJSOM_BLOG.getBlogProperty("blog-ping-urls")</textarea></td>
                    </tr>
                    <tr>
                        <td>#adminResource('blog.disable.comments.text' 'Disable comments?')</td>
                        <td><input type="checkbox" name="blog-entry-comments-disabled" value="y"
                            #if ($BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getMetaData() && $BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getMetaData().containsKey("blog-entry-comments-disabled")) CHECKED #end/></td>
                    </tr>
                    <tr>
                        <td>#adminResource('blog.disable.trackbacks.text' 'Disable trackbacks?')</td>
                        <td><input type="checkbox" name="blog-entry-trackbacks-disabled" value="y"
                            #if ($BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getMetaData() && $BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getMetaData().containsKey("blog-entry-trackbacks-disabled")) CHECKED #end/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" name="submit" value="#adminResource('update.blog.entry.text' 'Update blog entry')"/>
                            <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                        </td>
                    </tr>
                </form>
            </table>
        </div>

        <p></p>

        <!-- Delete blog comments form -->
        <div id="mainClm">
            <h2>#adminResource('delete.blog.comments.text' 'Delete blog comments')</h2>
            <table>
                <form name="delete-blog-comments" action="." method="post" accept-charset="UTF-8">
                    <input type="hidden" name="action" value="delete-blog-comments"/>
                    <input type="hidden" name="flavor" value="admin"/>
                    <input type="hidden" name="plugins" value="edit-blog-entries"/>
                    <input type="hidden" name="blog-category-name" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_CATEGORY"/>
                    <input type="hidden" name="blog-entry-id" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getPermalink()"/>
                    #if ($BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getComments())
                        #foreach ($blogComment in $BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getComments())
                        <tr>
                            <td><input type="checkbox" name="blog-comment-id" value="$blogComment.getId()"/>&nbsp;
                            Comment by: <a href="mailto:$blogComment.getAuthorEmail()">$blogComment.getAuthor()</a> -
                                <a href="$blogComment.getAuthorURL()">$blogComment.getAuthorURL()</a>
                                Left on: $blogComment.getCommentDate()<p />
                                $blogComment.getComment()<br /></td>
                        </tr>
                        #end
                    #end
                    <tr>
                        <td colspan="2">
                            <input type="submit" name="submit" value="#adminResource('delete.checked.comments.text' 'Delete checked comments')"/>
                            <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                        </td>
                    </tr>
                </form>
            </table>
        </div>

        <p></p>

        <!-- Delete blog trackbacks form -->
        <div id="mainClm">
            <h2>#adminResource('delete.blog.trackbacks.text' 'Delete blog trackbacks')</h2>
            <table>
                <form name="delete-blog-trackbacks" action="." method="post" accept-charset="UTF-8">
                    <input type="hidden" name="action" value="delete-blog-trackbacks"/>
                    <input type="hidden" name="flavor" value="admin"/>
                    <input type="hidden" name="plugins" value="edit-blog-entries"/>
                    <input type="hidden" name="blog-category-name" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_CATEGORY"/>
                    <input type="hidden" name="blog-entry-id" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getPermalink()"/>
                    #if ($BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getTrackbacks())
                        #foreach ($blogTrackback in $BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getTrackbacks())
                        <tr>
                            <td><input type="checkbox" name="blog-trackback-id" value="$blogTrackback.getId()"/>&nbsp;
                            Trackback from: <a href="$blogTrackback.getUrl()">#if ($blogTrackback.getBlogName())$blogTrackback.getBlogName()#else$blogTrackback.getUrl()#end</a>
                            Left on: $blogTrackback.getTrackbackDate()<br/>
                            Title: #if ($blogTrackback.getTitle()) $blogTrackback.getTitle() #end<br />
                            #if ($blogTrackback.getExcerpt()) $blogTrackback.getExcerpt() #end<br /></td>
                        </tr>
                        #end
                    #end
                    <tr>
                        <td colspan="2">
                            <input type="submit" name="submit" value="#adminResource('delete.checked.trackbacks.text' 'Delete checked trackbacks')"/>
                            <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>

    </div>
    </body>
</html>