#AdministrationHeader("#adminResource('edit.blog.entry.header' 'Edit Blog Entry')")

<body>
    <div id="wrap">

        <h1>Blosjom Administration Interface</h1>

        <div id="login">
            <p>Logged in as: <a href="#" title="view info">$BLOJSOM_ADMIN_PLUGIN_USERNAME</a> : <a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&action=logout" title="log out">#adminResource('logout.text' '')</a></p>
            <p>Logged in to: <a href="$BLOJSOM_BLOG.getBlogURL()" title="view site info">$BLOJSOM_BLOG.getBlogName()</a></p>
        </div>

        <ul id="nav">
            <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin">#adminResource('administration.text' '')</a></li>
            <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-categories&action=page">#adminResource('edit.blog.categories.page.header' '')</a></li>
            <li><a href="#">#adminResource('entries.page.header' '')</a>
                <ul>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-entries&action=new-blog-entry&blog-category-name=/">#adminResource('add.entry.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-entries&action=page">#adminResource('edit.and.delete.entries.text' '')</a></li>
                </ul>
            </li>
            <li><a href="#">#adminResource('weblog.settings.text' '')</a>
                <ul>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-authorization&action=page">#adminResource('authorization.page.header' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-users&action=page">#adminResource('users.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=file-upload&action=page">#adminResource('files.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-flavors&action=page">#adminResource('flavors.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-permissions&action=page">#adminResource('permissions.page.header' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-properties&action=page">#adminResource('properties.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-templates&action=page">#adminResource('templates.text' '')</a></li>
                </ul>
            </li>
            <li><a href="#">#adminResource('plugin.settings.text' '')</a>
                <ul>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=edit-blog-plugins&action=page">#adminResource('configure.plugin.mappings.text' '')</a></li>
                    <li><a href="$BLOJSOM_BLOG.getBlogAdminURL()?flavor=admin&plugins=list-web-admin-plugins">#adminResource('configure.available.plugins.text' '')</a></li>
                </ul>
            </li>
        </ul>

        <div id="main">
                #showErrorMessage()

                <p>
                    <form name="edit-blog-entry" action="." method="post" accept-charset="UTF-8">
                        <input type="hidden" name="action" value="edit-blog-entry"/>
                        <input type="hidden" name="flavor" value="admin"/>
                        <input type="hidden" name="plugins" value="edit-blog-entries"/>
                        <input type="hidden" name="blog-category-name" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_CATEGORY"/>
                        <input type="hidden" name="blog-entry-id" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getPermalink()"/>
                        <input type="submit" name="submit" value="#adminResource('reload.blog.entry.text' 'Reload blog entry')"/>
                    </form>
                </p>

                <!-- Edit blog entries form -->
                <div class="mainClm">
                    <h3>#adminResource('edit.blog.entry.header' 'Edit Blog Entry')</h3>
                    <table>
                        <form name="edit-blog-entries" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="update-blog-entry"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-entries"/>
                            <input type="hidden" name="blog-category-name" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_CATEGORY"/>
                            <input type="hidden" name="blog-entry-id" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getPermalink()"/>
                            <tr>
                                <td>#adminResource('blog.entry.title.text' 'Blog entry title')</td>
                                <td><input type="text" size="50" name="blog-entry-title" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getEscapedTitle()"/></td>
                            </tr>
                            <tr>
                                <td>#adminResource('blog.entry.text.text' 'Blog entry text')</td>
                                <td><textarea rows="10" cols="70" name="blog-entry-description" id="blog-entry-description" onkeyup="reloadPreviewDiv();">$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getEscapedDescription()</textarea></td>
                            </tr>
                            <tr><td></td><td>
                                <div id="quicktags">
                                Quicktags: <script src="$BLOJSOM_BLOG.getBlogBaseURL()/quicktags.js" language="JavaScript" type="text/javascript"></script>
                                <script language="JavaScript" type="text/javascript">edToolbar();</script>
                                </div></td>
                            </tr>
                            <script type="text/javascript">var edCanvas = document.getElementById('blog-entry-description');</script>
                            <tr></tr>
                            <tr>
                                <td colspan="2"><h4>Preview</h4></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="blog-entry-preview">
                                    </div>
                                </td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td>#adminResource('blog.entry.trackbackURLs.text' 'Blog trackback URLs')</td>
                                <td><textarea rows="3" cols="70" name="blog-trackback-urls"></textarea></td>
                            </tr>
                            <tr>
                                <td>#adminResource('blog.entry.pingURLs.text' 'Ping blog notification URLs?')</td>
                                <td><input type="checkbox" name="ping-blog-urls" CHECKED/></td>
                            </tr>
                            <tr>
                                <td>#adminResource('blog.entry.send.pingbacks.text' 'Send pingbacks to URLs?')</td>
                                <td><input type="checkbox" name="send-pingbacks" /></td>
                            </tr>
                            <tr>
                                <td>#adminResource('blog.disable.comments.text' 'Disable comments?')</td>
                                <td><input type="checkbox" name="blog-entry-comments-disabled" value="y"
                                    #if ($BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getMetaData() && $BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getMetaData().containsKey("blog-entry-comments-disabled")) CHECKED #end/></td>
                            </tr>
                            <tr>
                                <td>#adminResource('blog.disable.trackbacks.text' 'Disable trackbacks?')</td>
                                <td><input type="checkbox" name="blog-entry-trackbacks-disabled" value="y"
                                    #if ($BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getMetaData() && $BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getMetaData().containsKey("blog-entry-trackbacks-disabled")) CHECKED #end/></td>
                            </tr>
                            <tr>
                                <td>#adminResource('blog.publish.text' 'Blog entry publish date and time') <br />(MM/dd/yyyy HH:mm:ss)</td>
                                <td><input type="text" size="30" name="blog-entry-publish-datetime"/></td>
                            </tr>
                            #DisplayTemplateAdditions()
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('update.blog.entry.text' 'Update blog entry')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                <!-- Delete blog comments form -->
                <div class="mainClm">
                    <h3>#adminResource('delete.blog.comments.text' 'Delete blog comments')</h3>
                    <table>
                        <form name="delete-blog-comments" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="delete-blog-comments"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-entries"/>
                            <input type="hidden" name="blog-category-name" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_CATEGORY"/>
                            <input type="hidden" name="blog-entry-id" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getPermalink()"/>
                            #if ($BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getComments())
                                #foreach ($blogComment in $BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getComments())
                                <tr>
                                    <td><input type="checkbox" name="blog-comment-id" value="$blogComment.getId()"/>&nbsp;
                                    Comment by: <a href="mailto:$blogComment.getAuthorEmail()">$blogComment.getAuthor()</a> -
                                        <a href="$blogComment.getAuthorURL()">$blogComment.getAuthorURL()</a>
                                        Left on: $blogComment.getCommentDate()<p />
                                        $blogComment.getComment()<br /></td>
                                </tr>
                                #end
                            #end
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('delete.checked.comments.text' 'Delete checked comments')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                <!-- Approve blog comments form -->
                <div class="mainClm">
                    <h3>#adminResource('approve.blog.comments.text' 'Approve blog comments')</h3>
                    <table>
                        <form name="approve-blog-comments" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="approve-blog-comments"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-entries"/>
                            <input type="hidden" name="blog-category-name" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_CATEGORY"/>
                            <input type="hidden" name="blog-entry-id" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getPermalink()"/>
                            #if ($BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getComments())
                                #foreach ($blogComment in $BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getComments())
                                #set ($commentModerated = $!blogComment.getMetaData().get("BLOJSOM_COMMENT_MODERATION_PLUGIN_APPROVED").equals("true"))
                                #if ($commentModerated == '' || !$commentModerated)
                                <tr>
                                    <td><input type="checkbox" name="blog-comment-id" value="$blogComment.getId()"/>&nbsp;
                                    Comment by: <a href="mailto:$blogComment.getAuthorEmail()">$blogComment.getAuthor()</a> -
                                        <a href="$blogComment.getAuthorURL()">$blogComment.getAuthorURL()</a>
                                        Left on: $blogComment.getCommentDate()<p />
                                        $blogComment.getComment()<br /></td>
                                </tr>
                                #end
                                #set ($commentModerated = '')
                                #end
                            #end
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('approve.checked.comments.text' 'Approve checked comments')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                <!-- Delete blog trackbacks form -->
                <div class="mainClm">
                    <h3>#adminResource('delete.blog.trackbacks.text' 'Delete blog trackbacks')</h3>
                    <table>
                        <form name="delete-blog-trackbacks" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="delete-blog-trackbacks"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-entries"/>
                            <input type="hidden" name="blog-category-name" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_CATEGORY"/>
                            <input type="hidden" name="blog-entry-id" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getPermalink()"/>
                            #if ($BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getTrackbacks())
                                #foreach ($blogTrackback in $BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getTrackbacks())
                                <tr>
                                    <td><input type="checkbox" name="blog-trackback-id" value="$blogTrackback.getId()"/>&nbsp;
                                    Trackback from: <a href="$blogTrackback.getUrl()">#if ($blogTrackback.getBlogName())$blogTrackback.getBlogName()#else$blogTrackback.getUrl()#end</a>
                                    Left on: $blogTrackback.getTrackbackDate()<br/>
                                    Title: #if ($blogTrackback.getTitle()) $blogTrackback.getTitle() #end<br />
                                    #if ($blogTrackback.getExcerpt()) $blogTrackback.getExcerpt() #end<br /></td>
                                </tr>
                                #end
                            #end
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('delete.checked.trackbacks.text' 'Delete checked trackbacks')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                <!-- Approve blog trackbacks form -->
                <div class="mainClm">
                    <h3>#adminResource('approve.blog.trackbacks.text' 'Approve blog trackbacks')</h3>
                    <table>
                        <form name="approve-blog-trackbacks" action="." method="post" accept-charset="UTF-8">
                            <input type="hidden" name="action" value="approve-blog-trackbacks"/>
                            <input type="hidden" name="flavor" value="admin"/>
                            <input type="hidden" name="plugins" value="edit-blog-entries"/>
                            <input type="hidden" name="blog-category-name" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_CATEGORY"/>
                            <input type="hidden" name="blog-entry-id" value="$BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getPermalink()"/>
                            #if ($BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getTrackbacks())
                                #foreach ($blogTrackback in $BLOJSOM_PLUGIN_EDIT_BLOG_ENTRIES_ENTRY.getTrackbacks())
                                #set ($trackbackModerated = $!blogTrackback.getMetaData().get("BLOJSOM_TRACKBACK_MODERATION_PLUGIN_APPROVED").equals("true"))
                                #if ($trackbackModerated == '' || !$trackbackModerated)
                                <tr>
                                    <td><input type="checkbox" name="blog-trackback-id" value="$blogTrackback.getId()"/>&nbsp;
                                    Trackback from: <a href="$blogTrackback.getUrl()">#if ($blogTrackback.getBlogName())$blogTrackback.getBlogName()#else$blogTrackback.getUrl()#end</a>
                                    Left on: $blogTrackback.getTrackbackDate()<br/>
                                    Title: #if ($blogTrackback.getTitle()) $blogTrackback.getTitle() #end<br />
                                    #if ($blogTrackback.getExcerpt()) $blogTrackback.getExcerpt() #end<br /></td>
                                </tr>
                                #end
                                #set ($trackbackModerated = '')
                                #end
                            #end
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" name="submit" value="#adminResource('approve.checked.trackbacks.text' 'Approve checked trackbacks')"/>
                                    <input type="reset" name="reset" value="#adminResource('reset.text' 'Reset')"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
        </div>
    </div>
</body>

#AdministrationFooter()