<?xml version="1.0" encoding="UTF-8"?>

#adminPageHeader("#adminResource('login.header' 'Login')")

    <div id="contents">

        #showErrorMessage()

         <center>
            <table>
                <form name="blojsom-login" action="$BLOJSOM_BLOG.getBlogURL()?flavor=admin" method="post">
                    <tr>
                        <td>#adminResource('username.text' 'Username')</td>
                        <td><input name="username" type="text" size="25"/></td>
                    </tr>
                    <tr>
                        <td>#adminResource('password.text' 'Password')</td>
                        <td><input name="password" type="password" size="25"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <center>
                                <input type="submit" name="submit" value="#adminResource('login.text' 'Login')"/>
                                <input type="reset" name="Reset" value="#adminResource('reset.text' 'Reset')"/>
                            </center>
                        </td>
                    </tr>
                </form>
            </table>

            <p></p>
            <a href="$BLOJSOM_BLOG.getBlogURL()?flavor=admin&page=forgotten-password">#adminResource('forget.your.password.text' 'Forget your password?')</a><p/>
            Back to <a href="$BLOJSOM_BLOG.getBlogURL()">$BLOJSOM_BLOG.getBlogName()</a>
            <p/><p/>
            <a href="http://blojsom.sf.net"><img src="$BLOJSOM_SITE_URL/powered-by-blojsom.gif" border="0" alt="Powered By blojsom" /></a>

        </center>
    </div>

#adminPageFooter()