<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2021-10-21</string>
	<key>OpenSourceLicense</key>
	<string>BSD</string>
	<key>OpenSourceLicenseFile</key>
	<string>LICENSE</string>
	<key>OpenSourceProject</key>
	<string>tcpdump</string>
	<key>OpenSourceSHA1</key>
	<string>d3af1358de2f7fd9bf061baf237fab2c78a6ed3c</string>
	<key>OpenSourceURL</key>
	<string>https://www.tcpdump.org/release/tcpdump-4.99.1.tar.gz</string>
	<key>OpenSourceVersion</key>
	<string>4.99.1</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.tcpdump.org/</string>
</dict>
</plist>
