Las solicitudes administrativas se muestran de una de las dos formas, como una
<a href="%(summaryurl)s">página de resumen</a>, o como una
<em>página con detalles</em>.   La página con el sumario contiene solicitudes de
alta o baja pendientes, envíos a la lista que han sido retenidos para que 
sean aprobados, agrupados por dirección de remitente. La página con los detalles
contiene una vista más detallada de cada uno de los mensajes retenidos,
junto con las cabeceras del mensaje y un extracto del cuerpo del mismo.

<p>En cualquiera de estas páginas están disponibles las siguientes acciones:

<ul>
<li><b>Diferir</b> -- Pospone su decisión para más tarde.  No se aplica ninguna
acción ahora para esta solicitud administrativa pendiente, aún así puede reenviar
o preservar el mensaje (vea más abajo).

<li><b>Aprobar</b> -- Aprobar el mensaje, enviándolo a la lista. Para las
solicitudes de subscripción, aprobar las mismas.

<li><b>Rechazar</b> -- Rechazar el mensaje, enviando un mensaje de rechazo al
remitente, y descartando el mensaje original.  Para las solicitudes de
subscripción, rechaza las mismas. En cualquier caso, deberia poner el motivo del
rechazo en el cuadro de texto adjunto.

<li><b>Descartar</b> -- Tirar el mensaje original, sin mandar un mensaje de
rechazo. Para las solicitudes de subscripción, esto únicamente descarta la
solicitud sin avisar a la persona que hizo la solicitud. Esta opción se usa
normalmente con el correo no solicitado o spam.
</ul>

<p>Para los mensajes retenidos, active la opción <b>Preservar</b> si quiere
guardar una copia de los mensajes para el administrador del servidor.  Esto es
útil para aquellos mensajes abusivos que quieres descartar, pero que necesites
guardar un registro para ehcarle un vistazo después.

<p>Active la opción <b>Redirigir a</b> y rellene la dirección correspondiente si
quiere reenviar el mensaje a alguien que no esté en la lista.   Para editar un
mensaje retenido antes de que se envíe a la lista, puede reenviarselo a sí mismo
(o al propietario de la lista), y descartar el mensaje original.   Entonces,
cuando el mensaje se muestre en su buzón de entrada, haga sus correcciones y
reenvíelo a la lista, incluyendo una cabecera <tt>Approved:</tt> con la clave de
la lista como valor.   Es de buena costumbre en este caso, incluir una nota
en el mensaje explicando que ha modificado el texto.

<p>Si el remitente es un subscriptor que está siendo moderado, puede limpiar
opcionalmente su marca de moderación.  Esto es útil cuando su lista está
configurada para poner a los subscriptores nuevos en cuarentena y decide que
puede confiar en este subscriptor a la hora de mandar mensajes a la lista sin
aprobación.

<p>Si el remitente no es un subscriptor de la lista, puede añadir esta dirección
de correo electrónico al <em>filtrado de remitentes</em>.  El filtrado de
remitentes se describen en la <a href="%(filterurl)s">página de fitros de
privacidad</a>, y puede ser <b>aceptar automáticamente</b>, <b>retener
automáticamente</b>, <b>rechazar automáticamente</b> o <b>descartar
automáticamente</b>.  Esta opción no estará disponible si la dirección ya está en
uno de los filtros de remitente.

<p>Cuando haya terminado, dele con el ratón en el botón <em>Enviar todos los
datos</em> del final de la página.  Este botón entregará todas las acciones
seleccionadas de las solicitudes administrativas para las que haya indicado
alguna selección.

<p><a href="%(summaryurl)s">Regresar a la página con los sumarios</a>.
