Esta página contiene un sumario de las solicitudes administrativas que
requieren de su aprobación para la <a href="%(adminurl)s">lista de
distribución</a> <em>%(listname)s</em>.

Lo primero que encontrará serán las solicitudes de alta y baja en la lista, siempre
que exista alguna, seguida por cualquier envío a la lista que necesite de su
aprobación.

<p>Seleccione la acción a tomar para cada una de las solicitudes administrativas y
pulse en el botón <b>Enviar todos los datos</b> cuando haya terminado.
Hay disponibles <a href="%(detailsurl)s">instrucciones más detalladas</a>.

<p>Igualmente, también puede <a href="%(viewallurl)s">ver los detalles</a> de todos los 
envíos retenidos.
