Esta p&aacute;gina contiene un subconjunto de los envíos a la 
lista de distribución <em>%(listname)s</em> que requieren 
de su conformidad. Actualmente muestra %(description)s

<p> Para cada solicitud administrativa, por favor seleccione la acción a tomar
pulsando con el ratón en <b>mandar todos los datos</b> una vez que termine. Puede
encontrar información adicional <a href="%(detailsurl)s">aquí</a>.

<p>También puede <a href="%(summaryurl)s">ver un resumen</a> de todas las
solicitudes pendientes.
