<html>
<head>
  <title>Autentificación del %(who)s de %(listname)s </title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(path)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">
	    Autentificación del %(who)s de %(listname)s</FONT></B>
      </TD>
    </TR>
    <tr>
      <TD><div ALIGN="Right">Clave del %(who)s de la lista:</div></TD>
      <TD><INPUT TYPE="password" NAME="adminpw" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align=middle><INPUT type="SUBMIT"
                                        name="admlogin"
					value="Con permiso...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Importante:</em></strong> A partir de ahora, debe
      tener habilitadas las cookies en su navegador, en caso contrario, sus cambios 
      no tendr&aacute;n efecto.

      <p>La interfaz administrativa de Mailman emplea sesiones basadas en cookies, de 
manera que no necesita identificarse continuamente con cada operaci&oacute;n administrativa que
realice. La cookie caducar&aacute; autom&aacute;ticamente cuando salga del navegador, or puede hacerla caducar seleccionando la opci&oacute;n <em>Salida</em> bajo la secci&oacute;n titulada
 <em> Otras Actividades Administrativas</em> (que ver&aacute; una vez que consiga entrar 
satisfactoriamente).
</FORM>
</body>
</html>
