<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>Archivos de %(listname)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(meta)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>Archivos de %(listname)s</h1>
     <p>
	 Puede obtener <a href="%(listinfo)s">mas informaci&oacute;n sobre esta lista</a>
	 o puede <a href="%(fullarch)s">bajar a su ordenador todo el archivo</a>
      (%(size)s).
     </p>
     %(noarchive_msg)s
     %(archive_listing_start)s
     %(archive_listing)s
     %(archive_listing_end)s
     </BODY>
     </HTML>
