<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
       <title>Archivo de la lista %(listname)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>Archivo de la lista %(listname)s</h1>
     <p>
      Todavía no se ha enviado ningún mensaje a esta lista, de manera que el
      archivo está actualmente vacío.  Puede obtener <a href="%(listinfo)s">
      más información acerca de esta lista</a>.
     </p>
  </BODY>
  </HTML>
