Este texto puede incluir 
<a href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">
cadenas de formato Python
</a>
que ser&aacute;n sustituidas por los atributos de la lista. La lista de
substituciones permitidas son:

<ul>
    <li><b>real_name</b> - El nombre 'presentable' de la lista.
    Suele ser el nombre de la lista con la primera letra en may&uacute;scula.
    

    <li><b>list_name</b> - El nombre por el cual se identifica la lista
    en las URLs, se distinguen las may&uacute;sculas de las min&uacute;sculas.

    <li><b>host_name</b> - El nombre can&oacute;nico del servidor que
    alberga la lista.

    <li><b>web_page_url</b> - El URL base de Mailman. Por ejemplo
    para indicar la p&aacute;gina de informaci&oacute;n de la lista 
    solo habría que agregarle detrás:<br>
    <em>listinfo/%(list_name)s</em>

    <li><b>description</b> - Una descripci&oacute;n concisa sobre
    la lista de distribuci&oacute;n.

    <li><b>info</b> - La descripci&oacute;n completa sobre la
    lista de distribuci&oacute;n.

    <li><b>cgiext</b> - La extensi&oacute;n que se agrega a los guiones
    CGI.
</ul>
