<!-- $Revision: 7442 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title><MM-Presentable-User> membership configuration for <MM-List-Name>
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        <MM-List-Name> Configuraci&oacute;n del usuario 
        <MM-Presentable-User>
	</FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        Opciones de subscripci&oacute;n  de <b><MM-Presentable-User></b>
        en la lista de distribuci&oacute;n <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Para cambiar la informaci&oacute;n con la que est&aacute; subscrito a <MM-List-Name></B>
	</FONT></TD></TR>
    <tr><td colspan="2"> Puede cambiar la direcci&oacute;n con la que
        est&aacute; subscrito a la lista de distribuci&oacute;n,
        introduciendo una direcci&oacute;n nueva en el campo que aparece
        m&aacute;s abajo. Se le mandar&aacute; un mensaje de confirmaci&oacute;n
        a la direcci&oacute;n que especifique, ya que los cambios no se
        ser&aacute;n efectivos hasta que lo confirme.

        <p>Las confirmaciones caducan despu&eacute;s de <mm-pending-days>.
 
         <p>Opcionalmente, puede poner o cambiar su nombre y apellidos
         (por ejemplo <em>Pepe P&eacute;rez</em>).

        <p>Si quiere aplicar los modificaciones de subscripci&oacute;n a
        todas las listas en los que est&aacute; subscrito en <mm-host>,
        habilite la casilla de verificaci&oacute;n <em>Cambiar globalmente</em>.

 
         </td></tr>
     <tr><td><center>
         <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Direcci&oacute;n nueva:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">De nuevo para confirmar:</div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
             <tr><td bgcolor="#dddddd"><div align="right">Su nombre
             (opcional):</div></td>
             <td><mm-fullname-box></td>
             </tr>
        </table></center>
        </td>
        </tr>
     <tr><td colspan="2"><center><mm-change-address-button>
         <p><mm-global-change-of-address>Cambiar globalmente</center></td>
     </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Para anular la subscripci&oacute;n de <MM-List-Name></B></td>

	<TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>El resto de las subscripciones que tiene en <MM-Host></B>
	</FONT></TD></TR>

    <tr><td>
        Seleccione la casilla de confirmaci&oacute;n y pulse este bot&oacute;n
        para anular su subscripci&oacute;n de esta lista de distribuci&oacute;n.
        <strong>Advertencia:</strong>
        ¡Esta acci&oacute;n tendr&aacute; efecto inmediato!
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        Puede ver un informe del resto de las listas de distribuci&oacute;n de
        <mm-host> en las que est&aacute; subscrito. Utilice esta parte si
        quiere aplicar cambios globales al resto de sus subscripciones.

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
	</TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Su clave para <MM-List-Name></B>
	</FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>&iquest;Ha olvidado su clave?</h3>
        </center>
        Pulse este bot&oacute;n para hacer que se le env&iacute;e por correo
        electr&oacute;nico a la direcci&oacute;n con la que est&aacute;
        subscrito.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Para cambiar su clave</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Clave
                nueva:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">De nuevo para
                confirmar:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Cambiar globalmente.
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Sus opciones de subscripci&oacute;n para la lista <MM-List-Name></B>
	</FONT></TD></TR>
</table>

<p>
<i><strong>Los valores actuales se han comprobado.</strong></i>

<p>Observe que alguna de las opciones tienen una casilla seleccionable
<em>Aplicar globalmente</em>.
Activando este campo, causar&aacute; que los cambios se apliquen a cada una
de las listas de distribuci&oacute;n de <mm-host> en las que est&aacute;
subscrito. Dele con el rat&oacute;n a <em>Listar el resto de mis subscripciones</em>
 m&aacute;s arriba para ver cuales son.

<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Entrega de correo</strong></a><p>
        Si selecciona <em>Habilitada</em> recibir&aacute; los mensajes que se
        env&iacute;en a esta lista de distribuci&oacute;n. Si selecciona
        <em>Inhabilitada</em> indica su deseo de no recibir el correo enviado
        a la lista de distribuci&oacute;n durante un tiempo (por ejemplo, se va
        de vacaciones). Si inhabilita la recepci&oacute;n de los mensajes de
        correo, no olvide volver a habilitar la recepci&oacute;n cuando proceda.
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Habilitado<br>
        <mm-delivery-disable-button>Inhabilitado<p>
        <mm-global-deliver-button><i>Aplicar globalmente</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Activar modo Digest</strong><p>
        Si habilita el modo digest, recibir&aacute; diariamente los mensajes
        enviados a la lista recopilados en un &uacute;nico mensaje,
        en lugar de recibirlos a medida que se env&iacute;an. Si cambia el modo
        digest de Activar a Desactivar, puede que reciba un &uacute;ltimo
        digest.
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Desactivar<br>
        <MM-Digest-Radio-Button>Activar
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>&iquest;Recibir los recopilatorios en texto plano
        o con codificación MIME?</strong><p>
        Su lector de correo puede que no soporte recopilaciones (digests) MIME.
        En general se prefieren las recopilaciones MIME, pero si tiene problemas
        a la hora de leerlas, seleccione las recopilaciones en texto plano.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Texto plano<p>
        <mm-global-mime-button><i>Aplicar globalmente</i>
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>&iquest;Quiere recibir los mensajes que usted mismo 
        env&iacute;e a esta lista?</strong><p>
        Normalmente, recibir&aacute; una copia de cada mensaje que env&iacute;
        a la lista. Si no quiere recibir dicha copia, ponga esta opci&oacute;n a
        <em>No</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>No<br>
        <mm-receive-own-mail-button>Yes
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>&iquest;Quiere recibir una confirmación cuando envíe correo
        a esta lista?</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>No<br>
        <mm-ack-posts-button>Si
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>&iquest;Quiere recibir los recordatorios de esta lista?</strong><p>
        Mensualmente, recibir&aacute; un mensaje de correo con la clave de
        cada una de las listas en la que est&aacute; subscrito. Puede
        inhabilitar este comportamiento por lista, con sólo seleccionar
        <em>No</em> en esta opci&oacute;n. Si decide inhabilitar el recordatorio
        de las claves en todas las listas a las que est&aacute; subscrito, no
        se le mandar&aacute; ning&uacute;n mensaje.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>No<br>
        <mm-get-password-reminder-button>Si<p>
        <mm-global-remind-button><i>Aplicar globalmente</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>&iquest;Quiere ocultarse de la lista de subscriptores?</strong><p>
        Cuando alguien vea la lista de subscriptores, normalmente su
        direcci&oacute;n de correo electr&oacute;nico saldr&aacute; listada 
        (de una forma oscura para frustrar los escaneadores spam). Si no
        quiere que su direcci&oacute;n salga a relucir, seleccione <em>Si</em>.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>No<br>
        <MM-Hide-Subscription-Button>Si
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>&iquest;En qu&eacute; idioma desea ver los mensajes de la lista?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
         </td></tr>
 
     <tr><td bgcolor="#cccccc">
         <strong>&iquest;A qu&eacute; tipo de temas le gustar&iacute;a subscribirse?  </strong><p>
                  Al seleccionar uno o m&aacute;s temas, puede filtrar
                  el tr&aacute;fico de la lista de distribuci&oacute;n, de
		  manera que solo recibir&aacute; un subconjunto de los
		  mensajes. &Uacute;nicamente le llegaran los mensajes que
		  coincidan con alguno de los temas seleccionados.

		  <p>Si un mensaje no coincide con el tema, la regla que
		  decide si se entrega el mensaje depende de la
		  configuraci&oacute;n de la opci&oacute;n de abajo. Si
		  no selecciona ning&uacute;n tema de inter&eacute;s,
		  recibir&aacute; todos los mensajes dirigidos a la lista.
         </td><td bgcolor="#cccccc">
         <mm-topics>
         </td></tr>
 
     <tr><td bgcolor="#cccccc">
         <strong>&iquest;Quiere recibir los mensajes que no coincidan con
                  ning&uacute;n tema?</strong><p>
                  Esta opci&oacute;n s&oacute;lo surte efecto si est&aacute;
		  subscrito a alg&uacute;n tema de los de arriba. Esta
		  opci&oacute;n describe cual ser&aacute; la regla de
		  entrega por defecto para los mensajes que no coincidan
		  con ning&uacute;n tema. Si selecciona que <em>No</em>
		  indica su deseo de no recibir los mensajes que no
		  coincidan con ning&uacute;n tema, mientras que si
		  selecciona que <em>Si</em> significa que recibir&aacute;
		  todos los mensajes que no coincidan con ning&uacute;n
		  tema.

		  <p>Si no se selecciona ning&uacute;n tema de inter&eacute;s
		  en la parte de arriba, entonces recibir&aacute; todos los
		  mensajes que se env&iacute;en a la lista.
         </td><td bgcolor="#cccccc">
         <mm-suppress-nonmatching-topics>No<br>
         <mm-receive-nonmatching-topics>Si
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>&iquest;Desea evitar copias duplicadas de sus propios mensajes?</strong><p>
		Cuando esté incluido explícitamente en las cabeceras
		<tt>To:</tt> o <tt>Cc:</tt> de un mensaje dirigido a
		la lista, puede optar por no recibir otra copia de la
		lista de distribución. Seleccione <em>Si</em> para
		evitar recibir copias de la lista de distribución o
		<em>No</em> para recibirlas.

		<p>Si la lista tiene subscriptores con los mensajes
		personalizados activados, y escogió recibir copias,
		cada copia tendrá una cabecera <tt>X-Mailman-Copy:
		yes</tt>.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>No<br>
        <mm-dont-receive-duplicates-button>Si<p>
        <mm-global-nodupes-button><i>Aplicar globalmente</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
