<!-- $Revision: 7442 $ -->
<HTML>
  <HEAD>
    <TITLE>Subscriptores de <MM-List-Name></TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
    <TABLE WIDTH="100%" COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	  <B><FONT COLOR="#000000" SIZE="+1">Subscriptores de <MM-List-Name> </FONT></B>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" ALIGN="CENTER">

	  <P align = "right"> <MM-lang-form-start><MM-displang-box>
	               <MM-list-langs><MM-form-end></p>

	  <P>Seleccione su direcci&oacute;n para visitar el estado de su subscripci&oacute;n.
	  <br><I>(Las entradas entre par&eacute;ntesis tienen la recepci&oacute;n del correo 
	  de la lista desactivada.)</I></P>
	</TD>
      </TR>
      <TR WIDTH="100%" VALIGN="top">
	<TD BGCOLOR="#FFF0D0" WIDTH="50%">
	  <center>
	    <B><FONT COLOR="#000000"><MM-Num-Reg-Users>
		  Suscriptores en <MM-List-Name> con la recepci&oacute;n de los mensajes a medida que llegan:</FONT></B>
	  </center>
	</TD>
	<TD BGCOLOR="#FFF0D0" WIDTH="50%">
	  <center>
	    <B><FONT COLOR="#000000"><MM-Num-Digesters>
		  Suscriptores en <MM-List-Name> con la recepci&oacute;n diferida en res&uacute;menes:</FONT></B> 
	  </center>
	</TD>
      </TR>
      <TR VALIGN="top">
	<td>
	  <P><MM-Regular-Users>
	</td>
	<td>
	  <P><MM-Digest-Users>
	</td>
      </tr>
    </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
