<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableTransactions</key>
	<true/>
#if TARGET_OS_OSX
	<key>KeepAlive</key>
	<true/>
#else
	<key>EnablePressuredExit</key>
	<true/>
#endif
	<key>Label</key>
	<string>com.apple.diskarbitrationd</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.DiskArbitration.diskarbitrationd</key>
		<true/>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
#if TARGET_OS_IOS
        <key>LaunchEvents</key>
	<dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>com.apple.userfsd.ahci.device.attached</key>
			<dict>
				<key>IOParentMatch</key>
				<dict>
					<key>IOProviderClass</key>
					<string>IOBlockStorageDevice</string>
					<key>IOPropertyMatch</key>
					<dict>
						<key>Protocol Characteristics</key>
						<dict>
							<key>Physical Interconnect</key>
							<string>SATA</string>
							<key>Physical Interconnect Location</key>
							<string>External</string>
						</dict>
					</dict>
				</dict>
				<key>IOProviderClass</key>
				<string>IOMedia</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.userfsd.usb.device.attached</key>
			<dict>
				<key>IOParentMatch</key>
				<dict>
					<key>IOProviderClass</key>
					<string>IOUSBHostDevice</string>
					<key>IOPropertyMatch</key>
					<dict>
						<key>removable</key>
						<true/>
					</dict>
				</dict>
				<key>IOProviderClass</key>
				<string>IOMedia</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.userfsd.pcie.device.attached</key>
			<dict>
				<key>IOParentMatch</key>
				<dict>
					<key>IOProviderClass</key>
					<string>IOBlockStorageDevice</string>
					<key>IOPropertyMatch</key>
					<dict>
						<key>Protocol Characteristics</key>
						<dict>
							<key>Physical Interconnect</key>
							<string>PCI-Express</string>
							<key>Physical Interconnect Location</key>
							<string>External</string>
						</dict>
					</dict>
				</dict>
				<key>IOProviderClass</key>
				<string>IOMedia</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
		</dict>
	</dict>
#endif
	<key>Program</key>
	<string>/usr/libexec/diskarbitrationd</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>__CFPREFERENCES_AVOID_DAEMON</key>
		<string>1</string>
		<key>__CF_USER_TEXT_ENCODING</key>
		<string>0x0:0:0</string>
	</dict>
</dict>
</plist>
