<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C0BDB55175687EC00BC1A7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18270F5414CF651900B05E7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186CDD0E14CA116C00AF9171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D4043414CE0CF300A2BE4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D4056114CE53C200A2BE4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A5CCA4E15ACEFA500702357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A824AFB158FF07000F932C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CC92AC215A3BC6B00C6D578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5284029F164445760035F320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF963FE18B4171200813FA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E702E73514E1F3EA00CDE635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E702E75714E1F48800CDE635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E71049F1169E023B00DB0045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7104A12169E216E00DB0045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E76079971951FD2800F69731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7FEFB82169E363300E18152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
