<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.@NAME@</string>
	<key>CFBundleName</key>
	<string>@NAME@</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>NSExecutable</key>
	<string>@NAME@</string>
</dict>
</plist>
