#include "IOHIDFamily/IOHIDFamily.xcconfig"

_INSTALL_PATH_internal = /AppleInternal/Library/HIDPlugins/SessionFilters
_INSTALL_PATH = $(SYSTEM_LIBRARY_DIR)/HIDPlugins/SessionFilters

INSTALL_PATH = $(_INSTALL_PATH_internal)
INSTALL_PATH[sdk=iphoneos*] = $(_INSTALL_PATH)
INSTALL_PATH[sdk=watchos*] = $(_INSTALL_PATH)
INSTALL_PATH[sdk=appletvos*] = $(_INSTALL_PATH)
