<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-08-23</string>
		<key>OpenSourceLicense</key>
		<string>PHP</string>
		<key>OpenSourceLicenseFile</key>
		<string>apache_mod_php.txt</string>
		<key>OpenSourceMD5</key>
		<string>704cd414a0565d905e1074ffdc1fadfb</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>Support for building on Mac OS X</string>
			<string>Suhosin patch applied (see below)</string>
			<string>Missing man pages</string>
			<string>Bug fixes for phar</string>
		</array>
		<key>OpenSourceProject</key>
		<string>php</string>
		<key>OpenSourceSHA1</key>
		<string>8f29029e092f262876bfdd2ce56f6867e2b74b85</string>
		<key>OpenSourceURL</key>
		<string>http://us2.php.net/distributions/php-5.3.8.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>5.3.8</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.php.net/</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-10-21</string>
		<key>OpenSourceLicense</key>
		<string>FreeType</string>
		<key>OpenSourceMD5</key>
		<string>dbadce8f0c5e70a0b7c51eadf2dd9394</string>
		<key>OpenSourceModifications</key>
		<array/>
		<key>OpenSourceProject</key>
		<string>FreeType 2</string>
		<key>OpenSourceSHA1</key>
		<string>e1b2356ebbc6d39d813797572b1e5d8a2635e969</string>
		<key>OpenSourceURL</key>
		<string>http://cdnetworks-us-2.dl.sourceforge.net/project/freetype/freetype2/2.4.6/freetype-2.4.7.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>2.4.7</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.freetype.org/freetype2/index.html</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-01-25</string>
		<key>OpenSourceLicense</key>
		<string>libjpeg</string>
		<key>OpenSourceMD5</key>
		<string>a2c10c04f396a9ce72894beb18b4e1f9</string>
		<key>OpenSourceModifications</key>
		<array/>
		<key>OpenSourceProject</key>
		<string>libjpeg</string>
		<key>OpenSourceSHA1</key>
		<string>f0a3b88ac4db19667798bee971537eeed552bce9</string>
		<key>OpenSourceURL</key>
		<string>http://www.ijg.org/files/jpegsrc.v8c.tar.gz</string>
		<key>OpenSourceVersion</key>
		<string>8c</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.ijg.org/</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-10-21</string>
		<key>OpenSourceLicense</key>
		<string>libpng</string>
		<key>OpenSourceMD5</key>
		<string>003bcac022125029bae4818d74c42a94</string>
		<key>OpenSourceModifications</key>
		<array/>
		<key>OpenSourceProject</key>
		<string>libpng</string>
		<key>OpenSourceSHA1</key>
		<string>2080168ff8e7c580eb50466102a700c7faf9dbd0</string>
		<key>OpenSourceURL</key>
		<string>http://prdownloads.sourceforge.net/libpng/libpng-1.5.5.tar.gz?download</string>
		<key>OpenSourceVersion</key>
		<string>1.5.5</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.libpng.org/</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-10-21</string>
		<key>OpenSourceLicense</key>
		<string>PHP</string>
		<key>OpenSourceMD5</key>
		<string>8bd8840465d6bcd8e1e5d2cec80a1bfc</string>
		<key>OpenSourceModifications</key>
		<array/>
		<key>OpenSourceProject</key>
		<string>suhosin</string>
		<key>OpenSourceSHA1</key>
		<string>f3adee3a6c50f12175f5bef882c48e9ce4239cc7</string>
		<key>OpenSourceURL</key>
		<string>http://download.suhosin.org/suhosin-patch-5.3.7-0.9.10.patch.gz</string>
		<key>OpenSourceVersion</key>
		<string>0.9.10</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.suhosin.org/</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2011-07-29</string>
		<key>OpenSourceLicense</key>
		<string>PHP</string>
		<key>OpenSourceMD5</key>
		<string>3a9c3402063c8163de6e419ddc8d96e7</string>
		<key>OpenSourceModifications</key>
		<array/>
		<key>OpenSourceProject</key>
		<string>xdebug</string>
		<key>OpenSourceSHA1</key>
		<string>d2b9b5db43ffc26bed2a731bf50b78e8f5d05dd1</string>
		<key>OpenSourceURL</key>
		<string>http://www.xdebug.org/files/xdebug-2.1.2.tgz</string>
		<key>OpenSourceVersion</key>
		<string>2.1.2</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.xdebug.org/</string>
	</dict>
</array>
</plist>
