<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2014-1-15</string>
		<key>OpenSourceLicense</key>
		<string>PHP</string>
		<key>OpenSourceLicenseFile</key>
		<string>apache_mod_php.txt</string>
		<key>OpenSourceMD5</key>
		<string>d31629e9c2fb5f438ab2dc0aa597cd82</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>Support for building on Mac OS X</string>
			<string>Missing man pages</string>
			<string>Bug fixes for phar</string>
			<string>Removed GPLv3 bison-generated parsers</string>
	</array>
		<key>OpenSourceProject</key>
		<string>php</string>
		<key>OpenSourceMD5</key>
		<string>23d2275b653a9c038dbfa9cf64151e17</string>
		<key>OpenSourceURL</key>
		<string>http://php.net/downloads.php</string>
		<key>OpenSourceVersion</key>
		<string>5.5.20</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.php.net/</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2012-02-03</string>
		<key>OpenSourceLicense</key>
		<string>libjpeg</string>
		<key>OpenSourceMD5</key>
		<string>52654eb3b2e60c35731ea8fc87f1bd29</string>
		<key>OpenSourceModifications</key>
		<array/>
		<key>OpenSourceProject</key>
		<string>libjpeg</string>
		<key>OpenSourceSHA1</key>
		<string>f080b2fffc7581f7d19b968092ba9ebc234556ff</string>
		<key>OpenSourceURL</key>
		<string>http://www.ijg.org/files/jpegsrc.v8d.tar.gz</string>
		<key>OpenSourceVersion</key>
		<string>8d</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.ijg.org/</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2013-07-11</string>
		<key>OpenSourceLicense</key>
		<string>PHP</string>
		<key>OpenSourceMD5</key>
		<string>e49cec9861b45dc0b36eae33bf8a14fa</string>
		<key>OpenSourceModifications</key>
		<array/>
		<key>OpenSourceProject</key>
		<string>xdebug</string>
		<key>OpenSourceSHA1</key>
		<string>045dee86f69051d7944da594db648b337a97f48a</string>
		<key>OpenSourceURL</key>
		<string>http://www.xdebug.org/files/xdebug-2.1.3.tgz</string>
		<key>OpenSourceVersion</key>
		<string>2.2.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.xdebug.org/</string>
	</dict>
</array>
</plist>
