<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2015-7-10</string>
		<key>OpenSourceLicense</key>
		<string>PHP</string>
		<key>OpenSourceLicenseFile</key>
		<string>apache_mod_php.txt</string>
		<key>OpenSourceMD5</key>
		<string>e105f664450efd87513f5b4a2055e917</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>Support for building on Mac OS X</string>
			<string>Missing man pages</string>
			<string>Bug fixes for phar</string>
			<string>Removed GPLv3 bison-generated parsers</string>
		</array>
		<key>OpenSourceProject</key>
		<string>php</string>
		<key>OpenSourceModificationsMD5</key>
		<string>259dd375b7a88c2637381f6ee102666e</string>
		<key>OpenSourceURL</key>
		<string>http://php.net/downloads.php</string>
		<key>OpenSourceVersion</key>
		<string>5.5.27</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.php.net/</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2012-02-03</string>
		<key>OpenSourceLicense</key>
		<string>libjpeg</string>
		<key>OpenSourceMD5</key>
		<string>52654eb3b2e60c35731ea8fc87f1bd29</string>
		<key>OpenSourceModifications</key>
		<array/>
		<key>OpenSourceProject</key>
		<string>libjpeg</string>
		<key>OpenSourceSHA1</key>
		<string>f080b2fffc7581f7d19b968092ba9ebc234556ff</string>
		<key>OpenSourceURL</key>
		<string>http://www.ijg.org/files/jpegsrc.v8d.tar.gz</string>
		<key>OpenSourceVersion</key>
		<string>8d</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.ijg.org/</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2013-07-11</string>
		<key>OpenSourceLicense</key>
		<string>PHP</string>
		<key>OpenSourceMD5</key>
		<string>e49cec9861b45dc0b36eae33bf8a14fa</string>
		<key>OpenSourceModifications</key>
		<array/>
		<key>OpenSourceProject</key>
		<string>xdebug</string>
		<key>OpenSourceSHA1</key>
		<string>045dee86f69051d7944da594db648b337a97f48a</string>
		<key>OpenSourceURL</key>
		<string>http://www.xdebug.org/files/xdebug-2.1.3.tgz</string>
		<key>OpenSourceVersion</key>
		<string>2.2.3</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.xdebug.org/</string>
	</dict>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2015-02-24</string>
		<key>OpenSourceLicense</key>
		<string>libpng</string>
		<key>OpenSourceMD5</key>
		<string>1a4ad377919ab15b54f6cb6a3ae2622d</string>
		<key>OpenSourceModifications</key>
		<array/>
		<key>OpenSourceProject</key> 
		<string>libpng</string> 
		<key>OpenSourceSHA1</key> 
		<string>50f3b31d013a31e2cac70db177094f6a7618b8be</string> 
		<key>OpenSourceURL</key> 
		<string>http://sourceforge.net/projects/libpng/files/libpng16/1.6.16/libpng-1.6.16.tar.gz</string> 
		<key>OpenSourceVersion</key> 
		<string>1.6.16</string> 
		<key>OpenSourceWebsiteURL</key> 
		<string>http://www.libpng.org/</string> 
	</dict>
</array>
</plist>
