<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>php</string>
	<key>OpenSourceVersion</key>
	<string>5.2.5</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.php.net/</string>
	<key>OpenSourceURL</key>
	<string>http://us2.php.net/distributions/php-5.2.5.tar.bz2</string>
	<key>OpenSourceSHA1</key>
	<string>6b46fd095891183b328163b70cdb5acd30a24b7a</string>
	<key>OpenSourceMD5</key>
	<string>1fe14ca892460b09f06729941a1bb605</string>
	<key>OpenSourceImportDate</key>
	<string>2007-11-16</string>
        <key>OpenSourceModifications</key>
        <array/> 
	<key>OpenSourceLicense</key>
	<string>Other</string>
	<key>OpenSourceLicenseFile</key>
	<string>php.txt</string>
</dict>
</plist>
