<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>php</string>
	<key>OpenSourceVersion</key>
	<string>4.4.4</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.php.net/</string>
	<key>OpenSourceURL</key>
	<string>http://us2.php.net/distributions/php-4.4.4.tar.bz2</string>
	<key>OpenSourceSHA1</key>
	<string>05d62910fb5734344db87f0a17b1e8e001b26b05</string>
	<key>OpenSourceImportDate</key>
	<string>2006-10-05</string>
	<key>OpenSourceLicense</key>
	<string>Other</string>
	<key>OpenSourceLicenseFile</key>
	<string>php.txt</string>
</dict>
</plist>
