<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<string>bash</string>
	<key>Tests</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>bash.regress.radr107297705</string>
			<key>Command</key>
			<array>
				<string>/bin/bash</string>
				<string>/AppleInternal/Tests/bash/radr107297705.sh</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
		<dict>
			<key>TestName</key>
			<string>bash.regress.radr136938890</string>
			<key>Command</key>
			<array>
				<string>/bin/bash</string>
				<string>/AppleInternal/Tests/bash/radr136938890.sh</string>
			</array>
			<key>MayRunConcurrently</key>
			<true/>
		</dict>
	</array>
	<key>Timeout</key>
	<integer>30</integer>
</dict>
</plist>
