Diese Seite enth&auml;lt die aktuellen administrativen Anfragen f&uuml;r die
Mailingliste <em>%(listname)s</em> die Ihre Aufmerksamkeit ben&ouml;tigen.

<p>W&auml;hlen Sie f&uuml;r jede Abonnementanfrage <b>Annehmen</b> oder
<b>Ablehnen</b>.  Sollten Sie eine Abonnementanfrage abweisen, k&ouml;nnen Sie
optional einen Grund angeben.

<p>W&auml;hlen Sie f&uuml;r jede zur&uuml;ckgehalte E-Mail an die Liste eine der
folgenden Aktionen aus: <ul>
<li><b>Verschieben</b> - Die Entscheidung auf sp&auml;ter verschieben. Benutzen Sie
diese Funktion, wenn Sie die Nachricht weiterleiten oder sicherstellen (siehe
unten) m&ouml;chten, sie aber nicht sofort verwerfen wollen.
<li><b>Annehmen</b> -
Genehmigen und an die Liste senden.
<li><b>Ablehnen</b> - Abweisen und eine entsprechende Nachricht an den Absender
schicken. Die urspr&uuml;ngliche Nachricht wird weggeworfen.
<li><b>Wegwerfen</b> - Die urspr&uuml;ngliche Nachricht wird weggeworfen,
ohne den Absender dar&uuml;ber zu informieren, n&uuml;tzlich f&uuml;r Spam (Werbemails).</ul>

<p>W&auml;hlen Sie <b>Mitteilung f&uuml;r Administrator sichern</b>, wenn Sie eine Kopie der
Nachricht f&uuml;r den Systemverwalter aufbewahren m&ouml;chten (zB wenn es sich um
unfl&auml;tige oder beleidigende Nachrichten handelt). Aktivieren <b>Weiterleiten</b>
und geben Sie den Empf&auml;nger an, falls Sie die E-Mail (mit Header!) an 
jemanden weiterleiten m&ouml;chten, der nicht Mitglied der Liste ist.

<p>Wenn Sie fertig sind, klicken sie auf den <em>&Auml;nderungen speichern</em> Knopf
am Kopf oder Fu&szlig; dieser Seite. Dieser Knopf l&auml;sst alle von Ihnen getroffenen
Entscheidungen aktiv werden (wenn Sie f&uuml;r einige Nachrichten keine
Entscheidung treffen, werden diese Nachrichten nicht aus der Datenbank der
zu bearbeitenden Anfragen gel&ouml;scht).

Weitere Details erhalten Sie <a href="%(detailsurl)s">hier</a>.

<p>Sie k&ouml;nnen auch eine <a href="%(summaryurl)s">&Uuml;bersicht &uuml;ber alle offenen
Requests</a> aufrufen.
