<!-- based on en 2.0 / StD-->
Diese Seite zeigt eine &Uuml;bersicht der gegenw&auml;rtigen administrativen
Anfragen f&uuml;r die <a href="%(adminurl)s"><em>%(listname)s</em>
Mailingliste</a>, die auf Ihre Genehmigung warten. Als erstes sehen Sie eine
Liste allf&auml;lliger Abonnement- und K&uuml;ndigungsanfragen, gefolgt von
eventuellen Nachrichten, die Ihre Genehmigung erfordern, und daher gestoppt
wurden.

<p>Bitte w&auml;hlen Sie f&uuml;r jede Anfrage die zu treffende Ma&szlig;nahme
aus, und klicken Sie auf den <b>Alle Daten senden</b> Knopf, wenn sie fertig
sind. Eine <a href="%(detailsurl)s">detaillierte Anleitung</a> ist ebenfalls
verf&uuml;gbar.

<p>Sie k&ouml;nnen sich auch <a href="%(viewallurl)s">Details</a> zu allen
gestoppten Nachrichten anzeigen lassen.