<!-- based on en 2.1 -->
Administrative Anfragen werden auf zwei verschiedene Arten angezeigt,
und zwar in einer <a href="%(summaryurl)s">&Uuml;bersicht</a>, und
in einer <em>Detailansicht</em>. Die Zusammenfassung zeigt offene
Abonnement- und K&uuml;ndigungsanfragen sowie Nachrichten, die auf Ihre
Genehmigung warten (sortiert nach der E-Mailadresse des Absenders).
Die Detailansicht zeigt eine genauere Beschreibung jeder wartenden
Nachricht, einschlie&szlig;lich aller Kopfzeilen, und einen Auszug des
Nachrichtentextes.

<p>Die folgenden Funktionen sind auf allen Seiten verf&uuml;gbar:

<ul>
<li><b>Verschieben.</b> -- Die Entscheidung auf sp&auml;ter verschieben. Offene
    administrative Anfragen werden nicht bearbeitet, aber wartende
    Nachrichten k&ouml;nnen zus&auml;tzlich weitergeleitet oder sichergestellt
    werden (siehe unten).

<li><b>Annehmen</b> -- Die Nachricht annehmen, und an die Liste
    verteilen. F&uuml;r Antr&auml;ge betreffend Mitgliedschaft: Die
    &Auml;nderung des Mitgliedsstatus wird genehmigt.

<li><b>Ablehnen</b> -- Die Nachricht ablehnen, eine entsprechende
    Mitteilung an den Absender senden, und das Original wegwerfen.
    Antr&auml;ge betreffend Mitgliedschaft: Die &Auml;nderung des
    Mitgliedsstatus wird abgelehnt. In beiden F&auml;llen sollte in der
    nebenstehenden Textbox ein Grund f&uuml;r die Ablehnung angegeben
    werden.

<li><b>Wegwerfen</b> -- Das Original der Nachricht wegwerfen, ohne eine
    entsprechende Mitteilung zu senden. F&uuml;r Antr&auml;ge betreffend
    Mitgliedschaft wird der Antrag einfach weggeworfen, ohne den
    Antragsteller dar&uuml;ber zu informieren. Das wird &uuml;blicherweise
    die Reaktion auf sicher erkannten Spam (Werbemails) sein.</ul>

<p>F&uuml;r wartende Nachrichten kann die Option <b>Sicherstellen</b>
gew&auml;hlt werden, um eine Kopie der Nachricht f&uuml;r den Systemverwalter
aufzuheben. Das ist dann sinnvoll, wenn es sich um beleidigende
Nachrichten handelt, die zwar nicht verteilt werden sollen, aber f&uuml;r eine
sp&auml;tere Untersuchung ben&ouml;tigt werden.

<p>Aktivieren Sie die Option <b>Weiterleiten</b>, und geben Sie eine Zieladresse
an, um die Nachricht an jemanden weiterzuleiten, der nicht Mitglied der Liste
ist. Um eine Nachricht zu bearbeiten, bevor sie an die Liste verteilt wird,
leiten sie diese an sich selbst (oder den Betreiber der Liste) weiter, und
verwerfen das Original. Wenn die Nachricht dann in Ihrem Postfach angekommen
ist, f&uuml;hren Sie die gew&uuml;nschten &Auml;nderungen am Text durch, und
 senden die so
modifizierte Nachricht mit einer <tt>Approved:</tt> Kopfzeile mit dem
Listenpasswort als Wert zur&uuml;ck an die Liste. Es folgt den allgemeinen
 Regeln der
Netiquette, wenn Sie in derartigen F&auml;llen in der Nachricht darauf
 hinweisen,
dass der Text von Ihnen bearbeitet wurde.

<p>Wenn der Absender ein moderiertes Mitglied der Liste ist, k&ouml;nnen Sie
 optional
auch das "moderiert"-Flag l&ouml;schen. Das ist dann n&uuml;tzlich, wenn Ihre
 Liste so
konfiguriert ist, dass neue Mitglieder eine Probezeit durchlaufen m&uuml;ssen,
 und
Sie entschieden haben, dass diesem Mitglied ein Senden an die Liste ohne weitere
Genehmigung gestattet werden kann.

<p>Wenn der Absender kein Mitglied der Liste ist, dann k&ouml;nnen sie dessen
E-Mailadresse zu einem der <em>Absender-Adressfilter</em> hinzuf&uuml;gen. Diese
sind im Punkt <a href="%(filterurl)s">Privatsph&auml;re</a> n&auml;her
erkl&auml;rt, und hei&szlig;en <b>Auto-Annehmen</b> (Nachricht annehmen),
 <b>Auto-Halten</b>
(Nachricht zur&uuml;ckhalten), <b>Auto-Abweisen</b> (Nachricht abweisen), oder
<b>Auto-Wegwerfen</b> (Nachricht wegwerfen). Diese Option ist nicht
verf&uuml;gbar, wenn die Adresse des Absenders bereits in  einem
der Filter eingetragen ist.

<p>Wenn Sie fertig sind, klicken Sie auf den <em>&Auml;nderungen speichern</em>
Knopf am Beginn dieser Seite, damit werden alle gew&auml;hlten Optionen aktiv.

<p><a href="%(summaryurl)s">Zur&uuml;ck zur &Uuml;bersicht</a>.
