<html>
<head>
    <title>Authentifizierung f&uuml;r den Zugriff auf die Archive von %(realname)s</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">Authentifizierung f&uuml;r den Zugriff auf die Archive von %(realname)s</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">Email Adresse:</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">Passwort:</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="Let me in...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Wichtig:</em></strong> Ab diesem Punkt m&uuml;ssen in Ihrem
      Browser "Cookies" aktiviert sein, da ansonsten keine Ihrer &Auml;nderungen
      in Aktion tritt.

      <p>Mailmans Administrationsinterface benutzt sog. "session cookies",
      damit Sie sich nicht f&uuml;r jede Administrationsaufgabe erneut
      authentifizieren m&uuml;ssen. Diese "cookies" verfallen automatisch bei
      Beendigung Ihres Webbrowsers; Sie k&ouml;nnen Sie allerdings auch sofort
      verfallen lassen, indem Sie auf den <em>Ausloggen</em> Link unter
      <em>Andere Administrative T&auml;tigkeiten</em> klicken (den Sie sehen
      werden sobald Sie erfolgreich eingeloggt sind).
</FORM>
</body>
</html>
