<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>apache</string>
	<key>OpenSourceVersion</key>
	<string>2.4.56</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://httpd.apache.org/</string>
	<key>OpenSourceURL</key>
	<string>https://dlcdn.apache.org/httpd/httpd-2.4.56.tar.bz2</string>
	<key>OpenSourceSHA1</key>
	<string>0c4e5eded4c17f2df19324dd30044525ccd0518b</string>
	<key>OpenSourceImportDate</key>
	<string>2023-03-22</string>
	<key>OpenSourceModifications</key>
	<array>
               <string>Removed GPLv3 bison-generated parsers</string>
               <string>Patch mod_ssl for SSLOptions LegacyCertChainVerify</string>
               <string>Removed unneeded binary apache.xdc</string>
	</array>
	<key>OpenSourceMD5</key>
	<string>67f3c04a28df1ad36ff6ea55df010869</string>
	<key>OpenSourceLicense</key>
	<string>Apache</string>
	<key>OpenSourceLicenseFile</key>
	<string>apache.txt</string>
</dict>
</plist>
