<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blocks-bundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Blocks-simulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Blocks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libclosure_eOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>831D5AD4122788D500E4A1EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8383A2EF1225D2D9009290B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96EF75951507C1CE00581A2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AAC0C605546C1D00DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
