<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CRYPTOCardPCCard</string>
	<key>CFBundleGetInfoString</key>
	<string>CRYPTOCard PC Card Reader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CRYPTOCard PC Card Reader</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0</string>
	<key>CFBundleSignature</key>
	<string>CCrd</string>
	<key>CFBundleVersion</key>
	<string>6.0.1d3</string>
	<key>ifdFriendlyName</key>
	<string>CRYPTOCard PC Card Reader</string>
	<key>ifdVendorID</key>
	<string>2bd</string>
	<key>ifdProductID</key>
	<string>1003</string>
</dict>
</plist>
