<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.postfix.newaliases</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/newaliases</string>
	</array>
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/etc/aliases.db</key>
			<false/>
		</dict>
	</dict>
	<key>WatchPaths</key>
	<array>
		<string>/etc/postfix/aliases</string>
	</array>
</dict>
</plist>
