.masthead-title-text {
  color: #FFFFFF;
  margin: 3px 5px 5px 3px;
  font-size: large;
  font-family:  Arial, Verdana,Helvetica, Sans-Serif;
}

.page-title-text {
  color: #FFFFFF;
  font-weight: bold;
  margin: 3px 5px 5px 3px;
  font-size: normal;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

.table-title-text {
  color: #000000;
  font-weight: bold;
  margin: 3px 5px 5px 4px;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

.table-header-text {
  color: #FFFFFF;
  font-weight: normal;
  margin: 3px 5px 1px 15px;
  font-family:  Arial, Verdana,Helvetica, Sans-Serif;
}

.table-label-text {
  color: #000000;
  margin: 3px 5px 3px 15px;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

.table-normal-text {
  color: #000000;
  margin: 3px 5px 3px 15px;
  font-family: "Times New Roman", Times, serif;
}

.back-table {
  background-color: #9999CC;
  margin: 0px 5px 3px 5px;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
}

.front-table {
  background-color: #FFFFFF;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

.page-title-row {
  background-color: #7171A5;
  text-align: right;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

.header-row {
  background-color: #9999CC;
  text-align: center;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

.sort-row {
  background-color: #CECEFF;
  text-align: center;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

.line-row {
  background-color: #CCCCCC;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

.button {
  background-color: #CCCCFF;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

a.button-link-text:visited, a.button-link-text:link, a.button-link-text:active {
  color: #000000;
  background-color: #CCCCFF;
  font-weight: bold;
  font-family: Arial, Verdana, Geneva, Helvetica, Sans-Serif;
  text-decoration: none;
}

a.button-link-text:hover {
  color: #000000;
  background-color: #CCCCFF;
  font-weight: bold;
  font-family: Arial, Verdana, Geneva, Helvetica, Sans-Serif;
  text-decoration: underline;
}
