.tree-control {
  font-family: arial, verdana, geneva, helvetica, sans-serif;
  font-size: 80%;
  line-height: 1.0;
}

.tree-control-selected {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.tree-control-unselected {
  color: black;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

