Esta p&aacute;xina conti&eacute;n un sumariu de les solicit&uacute;es alministratives que requieren de la so aprobaci&oacute;n pa la <a href="%(adminurl)s">llista de distribuci&oacute;n</a> <em>%(listname)s</em>.
Lo primero qu'alcontrar&aacute; van ser les solicit&uacute;es d'alta y baxa na lista (si les hubiere), sigu&iacute;a por cualesquier unv&iacute;o a la llista pendiente de la so aprobaci&oacute;n.

<p>Esbille l'aici&oacute;n a tomar pa cada una de les solicit&uacute;es alministrativaes y calque nel bot&oacute;n <b>Unviar tolos datos</b> cuando tenga finao. Hai disponibles <a href="%(detailsurl)s">instrucciones m&aacute;s detallaes</a>.

<p>D'igual mou, tami&eacute;n puedes <a href="%(viewallurl)s">ver los detalles</a> de tolos unv&iacute;os reten&iacute;os.
