Esta p&aacute;xina conti&eacute;n un soconxuntu de los unv&iacute;os a la llista de distribuci&oacute;n <em>%(listname)s</em> que requieren 
de la so conformid&aacute;. Angua&ntilde;o amuesa %(description)s

<p>Pa cada solicit&uacute; alministrativa, por favor esbilla l'aici&oacute;n a facer calcando col mur en <b>mandar tolos datos</b> una vegada que fines. Puedes alcontrar informaci&oacute;n adicional <a href="%(detailsurl)s">equ&iacute;</a>.

<p>Tami&eacute;n puedes <a href="%(summaryurl)s">ver un resume</a> de toles solicit&uacute;es pendientes.
