Les solicit&uacute;es alministratives amu&eacute;sense d'una de les dos formes, como una <a href="%(summaryurl)s">p&aacute;xina de resume</a>, o como una <em>p&aacute;xina con detalles</em>. La p&aacute;xina col sumariu conti&eacute;n solicit&uacute;es d'alta o baxa pendientes, unv&iacute;os a la llista que t&aacute;n reten&iacute;os fasta que seyan aprobaos, agrupaos per direici&oacute;n de remitente. La p&aacute;xina con los detalles
conti&eacute;n una vista m&aacute;s detallada de cada &uacute;n de los mensaxes reten&iacute;os, xunto coles cabeceres del mensax y un estrautu del cuerpu del mesmu.

<p>En cualesquier d'estes p&aacute;xines t&aacute;n disponibles les siguientes aiciones:

<ul> <li><b>Diferir</b> -- Posp&oacute;n la decisi&oacute;n pa m&aacute;s sero. Nun s'aplica denguna aici&oacute;n agora pa esta solicit&uacute; alministrativa pendiente, pero ent&aacute; y too puede reunviar o preservar el mensax (lleer m&aacute;s abaxo).

<li><b>Aprobar</b> -- Aprobar el mensax, unvi&aacute;ndolo a la llista. Pa les solicit&uacute;es de soscrici&oacute;n, aprobar les mesmes.

<li><b>Refugar</b> -- Refugar el mensax, unviando un mensax de refugu al remitente, y descartando'l mensax orixinal.  Pa les solicit&uacute;es de soscrici&oacute;n, refuga les mesmes. En cualesquier casu, tendr&iacute;a de poner el motivu del refugu nel cuadru de testu axuntu.

<li><b>Descartar</b> -- Tirar el mensax orixinal, ensin mandar un mensax de refugu. Pa les solicit&uacute;es de soscrici&oacute;n, esto nam&aacute;i descarta la solicit&uacute; ensin avisar a la persona que fizo la solicitud. Esta opci&oacute;n &uacute;sase davezu col corr&eacute;u non solicit&aacute;u o puxarra (spam).
</ul>

<p>Pa los mensaxes reten&iacute;os, activa la opci&oacute;n <b>Preservar</b> si quies atroxar una copia de los mensaxes pal alministrador del sirvidor.  Esto ye &uacute;til p'aquellos mensaxes abusivos que quies descartar, pero que necesites atroxar un rexistru pa ech&aacute;-y un g&uuml;eyu dempu&eacute;s.

<p>Activa la opci&oacute;n <b>Redirixir a</b> y enllena la direici&oacute;n correspondiente si quies reunviar el mensax a daqui&eacute;n que nun tea na llista.   Pa editar un mensax reten&iacute;u enantes de que s'unvie a la llista, puedes reunviartelu a t&iacute; mesmu
(o al propietariu de la llista), y descartar el mensax orixinal.   Ent&oacute;s, cuando'l mensax s'amuese nel to buz&oacute;n d'entrada, fai les tos correiciones y reunv&iacute;alu a la llista, incluyendo una testera <tt>Approved:</tt> cola clave de la llista como valor.   Ye un bon vezu nesti casu, incluyir una nota nel mensax desplicando que modificasti'l testu.

<p>Si'l remitente ye un soscritor que ta siendo moder&aacute;u, puedes llimpiar opcionalmente la so marca de moderaci&oacute;n.  Esto ye &uacute;til cuando la so llista ta configurada pa poner a los soscriptores nuevos en cuarentena y decide que puede confiar nesti soscriptor a la hora de mandar mensaxes a la llista ensin aprobaci&oacute;n.

<p>Si'l remitente nun ye un soscriptor de la llista, puedes amestar esta direici&oacute;n de corr&eacute;u electr&oacute;nicu al <em>pe&ntilde;er&aacute;u de remitentes</em>.  El pe&ntilde;er&aacute;u de remitentes descr&iacute;bese na <a href="%(filterurl)s">p&aacute;xina de pe&ntilde;eres de privacid&aacute;</a>, y puede <b>aceutase autom&aacute;ticamente</b>, <b>retenese autom&aacute;ticamente</b>, <b>refugase autom&aacute;ticamente</b> o <b>descartase autom&aacute;ticamente</b>.  Esta opci&oacute;n nun tar&aacute; disponible si la direici&oacute;n y&aacute; ta n&uacute;n de les pe&ntilde;eres de remitente.

<p>Cuando tengas finao, da-y col mur al bot&oacute;n <em>Unviar tolos datos</em> del final de la p&aacute;xina. Esti bot&oacute;n entregar&aacute; toles aiciones esbillaes de les solicit&uacute;es alministratives pa les que tenda conse&ntilde;ao dalguna seleici&oacute;n.
<p><a href="%(summaryurl)s">Tornar pa la p&aacute;xina colos sumarios</a>.
