<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
  <HEAD>
		<title>Archivos de %(listname)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(meta)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>Archivos de %(listname)s</h1>
     <p>
	 Puedes obtener <a href="%(listinfo)s">mas informaci&oacute;n sobro esta llista</a> o puedes <a href="%(fullarch)s">baxar al to equipu tol archivu</a>
      (%(size)s).
     </p>
     %(noarchive_msg)s
     %(archive_listing_start)s
     %(archive_listing)s
     %(archive_listing_end)s
     </BODY>
     </HTML>
