<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
		<title>Archivos de %(listname)s %(archive)s por %(archtype)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
      <a name="start"></a>
	  <h1>%(archive)s Archivos por %(archtype)s</h1>
      <ul>
			  <li> <b>Mensaxes axeitaos por:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s

		<li><b><a href="%(listinfo)s">Mas informaci&oacute;n sobro esta llista...
                    </a></b></li>
      </ul>
      <p><b>Dende:</b> <i>%(firstdate)s</i><br>
         <b>Fasta:</b> <i>%(lastdate)s</i><br>
         <b>Mensaxes:</b> %(size)s</p><p>
     <ul>
