<HTML>
  <HEAD>
    <TITLE><MM-List-Name> P&aacute;gina de Informaci&oacute;n de &lt;MM-List-Name&gt;</TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000">Sobro <MM-List-Name></FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> Pa ver unv&iacute;os anteriores a la llista,
	       puedes visitar los <MM-Archive><MM-List-Name>Archivos</MM-Archive>.
	      <MM-Restricted-List-Message>
	  </p>
	</td>
      </tr>
      <tr>
	<td colspan="2" bgcolor="#fff0d0" width="100%">
	  <b><font color="#000000">C&oacute;mo usar la llista  <MM-List-Name></font></b>
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  Pa unviar un mensax a tolos miembros de la llista,
	  &uacute;nvialu a la direici&oacute;n
	  <a href="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></a>.

	  <p>Puedes soscribite a la llista, o camudar la soscripci&oacute;n, nes siguientes estayes.
	</td>
      </tr>
      <tr>
	<td colspan="2" bgcolor="#fff0d0" width="100%">
	  <b><font color="#000000">Soscribise a <MM-List-Name></FONT></b>
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <p>
	    Soscr&iacute;bite a enllenando los <MM-List-Name>datos del
	    siguiente formulariu
	  <MM-List-Subscription-Msg>
	  <ul>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">Direici&oacute;n de corr&eacute;u electr&oacute;nicu:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
</td>
	          <td width="12%">&nbsp;</td></tr>
                 <tr>
                  <td bgcolor="#dddddd" width="55%">El to nome (opcional):</td>
                  <td width="33%"><mm-fullname-box><br>
</td>
                 <td width="12%">&nbsp;</td></tr>
                <tr>
	          <td colspan="3"><font size="-1"> Tienes d'inxertar una clave de proteici&oacute;n. Esto date un nivel de segurid&aacute; baxu, pero tendr&iacute;a d'evitar qu'otros enreden cola to soscripci&oacute;n.  <b>Nun uses claves valoratibles</b> porque puede que se t'unv&iacute;e dalguna vegada daqu&eacute; ensin cifrar per corr&eacute;u-e.

		<p>Si decides nun escribir denguna clave, xenerar&eacute;moste una autom&aacute;ticamente y unviar&aacute;sete una vegada que confirmes la soscripci&oacute;n. Siempres podr&aacute;s pidir que se t'unv&iacute;e per corr&eacute;u la to clave cuando edites les opciones personales
	        <MM-Reminder>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">Escueyi una clave:</td>
	<td><MM-New-Password-Box></TD>
	<td>&nbsp;</td></tr>
      <tr> 
	<td bgcolor="#dddddd">Confirma la clave:</td>
	<td><MM-Confirm-Password></td>
	<td>&nbsp; </td></tr>
      <tr>
	<td bgcolor="#dddddd">&iquest;En qu&eacute; llingua quies ver los mensaxes?</td> 
	<td> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <mm-digest-question-start>
      <tr>
	<td>&iquest;Quies recibir los mensaxes de cada d&iacute;a resum&iacute;os n&uacute;n &uacute;nicu mensax (digest)?
	  </td>
	<td><MM-Undigest-Radio-Button> Non
	    <MM-Digest-Radio-Button>  S&iacute;
	</TD>
      </tr>
      <mm-digest-question-end>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000"><MM-List-Name> Soscriptores</FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
