<!-- $Revision: 3394 $ -->
<HTML>
  <HEAD>
    <TITLE> Soscriptores de <MM-List-Name></TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
    <TABLE WIDTH="100%" COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	  <B><FONT COLOR="#000000" SIZE="+1">Soscriptores de <MM-List-Name> </FONT></B>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" ALIGN="CENTER">

	  <P align = "right"> <MM-lang-form-start><MM-displang-box>
	               <MM-list-langs><MM-form-end></p>

	  <P>Seleiciona la to direici&oacute;n pa visitar l'est&aacute;u de la to subscripci&oacute;n.
	  <br><I>(Les entraes ente par&eacute;ntesis tienen la recepci&oacute;n del corr&eacute;u de la lista desactivada.)</I></P>
	</TD>
      </TR>
      <TR WIDTH="100%" VALIGN="top">
	<TD BGCOLOR="#FFF0D0" WIDTH="50%">
	  <center>
	    <B><FONT COLOR="#000000"><MM-Num-Reg-Users>
		  Soscritores en <MM-List-Name> cola recepci&oacute;n de los mensaxes a medida que lleguen:</FONT></B>
	  </center>
	</TD>
	<TD BGCOLOR="#FFF0D0" WIDTH="50%">
	  <center>
	    <B><FONT COLOR="#000000"><MM-Num-Digesters>
		  Soscritores en <MM-List-Name> cola recepci&oacute;n agrupada en res&uacute;menes:</FONT></B> 
	  </center>
	</TD>
      </TR>
      <TR VALIGN="top">
	<td>
	  <P><MM-Regular-Users>
	</td>
	<td>
	  <P><MM-Digest-Users>
	</td>
      </tr>
    </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
