<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceImportDate</key>
		<string>2008-10-30</string>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
		<key>OpenSourceLicenseFile</key>
		<string>openmpi.txt</string>
		<key>OpenSourceProject</key>
		<string>openmpi</string>
		<key>OpenSourceSHA1</key>
		<string>140ae223263e20b7bde8ac59b966924ba4a454bb</string>
		<key>OpenSourceURL</key>
		<string>http://www.open-mpi.org/software/ompi/v1.2/downloads/openmpi-1.2.8.tar.bz2</string>
		<key>OpenSourceVersion</key>
		<string>1.2.8</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.open-mpi.org</string>
	</dict>
</array>
</plist>
