<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CRYPTOCardPCCard</string>
	<key>CFBundleGetInfoString</key>
	<string>PC Card Smart Card Reader Driver</string>
	<key>CFBundleIdentifier</key>
	<string>com.CRYPTOCard.iokit.SmartCardReader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CRYPTOCardPCCard</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>CCrd</string>
	<key>CFBundleVersion</key>
	<string>1.0.0d2</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CRYPTOCardPCCard</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.CRYPTOCard.iokit.SmartCardReader</string>
			<key>IOClass</key>
			<string>com_CRYPTOCard_iokit_SmartCardReader</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IONameMatch</key>
			<string>pccard2bd,1003</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOPCCard16Device</string>
			<key>IOUserClientClass</key>
			<string>com_CRYPTOCard_iokit_UserClient</string>
			<key>VersionOneInfo</key>
			<array>
				<string>CRYPTOCard</string>
				<string>Smart Card Reader Model P1</string>
			</array>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCCardFamily</key>
		<string>1.1.0</string>
	</dict>
</dict>
</plist>
