<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>libxml-ruby</string>
        <key>OpenSourceVersion</key>
        <string>0.9.5</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://libxml.rubyforge.org</string>
        <key>OpenSourceSHA1</key>
        <string>98825b0728ce11676f56c7a4baab63623004a0f8</string>
        <key>OpenSourceImportDate</key>
        <string>2008-12-01</string>
        <key>OpenSourceLicense</key>
        <string>MIT</string>
        <key>OpenSourceLicenseFile</key>
        <string>libxml-ruby.txt</string>
	<key>OpenSourceModifications</key>
	<array>
	</array>
</dict>
</array>
</plist>
