<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>libxml-ruby</string>
        <key>OpenSourceVersion</key>
        <string>1.1.2</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://libxml.rubyforge.org</string>
        <key>OpenSourceSHA1</key>
        <string>db3a309983314f6c0f61183c9f4c2fa55d175d26</string>
        <key>OpenSourceImportDate</key>
        <string>2009-03-16</string>
        <key>OpenSourceLicense</key>
        <string>MIT</string>
        <key>OpenSourceLicenseFile</key>
        <string>libxml-ruby.txt</string>
	<key>OpenSourceModifications</key>
	<array>
	</array>
</dict>
</array>
</plist>
