<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dsRecTypeStandard:Users</key>
	<string>users</string>
	<key>dsRecTypeStandard:Groups</key>
	<string>groups</string>
	<key>dsRecTypeStandard:Machines</key>
	<string>machines</string>
	<key>dsRecTypeStandard:ComputerGroups</key>
	<string>computergroups</string>
	<key>dsRecTypeStandard:Computers</key>
	<string>computers</string>
	<key>dsRecTypeStandard:ComputerLists</key>
	<string>computer_lists</string>
	<key>dsRecTypeStandard:Printers</key>
	<string>printers</string>
	<key>dsRecTypeStandard:Hosts</key>
	<string>machines</string>
	<key>dsRecTypeStandard:Neighborhoods</key>
	<string>neighborhoods</string>
	<key>dsRecTypeStandard:Aliases</key>
	<string>aliases</string>
	<key>dsRecTypeStandard:Networks</key>
	<string>networks</string>
	<key>dsRecTypeStandard:Server</key>
	<string>servers</string>
	<key>dsRecTypeStandard:PasswordServer</key>
	<string>passwordservers</string>
	<key>dsRecTypeStandard:WebServer</key>
	<string>httpservers</string>
	<key>dsRecTypeStandard:FTPServer</key>
	<string>ftpservers</string>
	<key>dsRecTypeStandard:AFPServer</key>
	<string>afpservers</string>
	<key>dsRecTypeStandard:LDAPServer</key>
	<string>ldapservers</string>
	<key>dsRecTypeStandard:SMBServer</key>
	<string>smbservers</string>
	<key>dsRecTypeStandard:QTSServer</key>
	<string>qtsservers</string>
	<key>dsRecTypeStandard:NFS</key>
	<string>mounts</string>
	<key>dsRecTypeStandard:Services</key>
	<string>services</string>
	<key>dsRecTypeStandard:PrintService</key>
	<string>PrintService</string>
	<key>dsRecTypeStandard:Config</key>
	<string>config</string>
	<key>dsRecTypeStandard:MetaUserNames</key>
	<string>dsRecTypeStandard:MetaUserNames</string>
	<key>dsRecTypeStandard:AppleMetaRecord</key>
	<string>dsRecTypeStandard:AppleMetaRecord</string>
	<key>dsRecTypeStandard:AFPUserAliases</key>
	<string>afpuser_aliases</string>
	<key>dsRecTypeStandard:Mounts</key>
	<string>mounts</string>
	<key>dsRecTypeStandard:PrintServiceUser</key>
	<string>printserviceusers</string>
	<key>dsRecTypeStandard:PresetUsers</key>
	<string>presets_users</string>
	<key>dsRecTypeStandard:PresetGroups</key>
	<string>presets_groups</string>
	<key>dsRecTypeStandard:PresetComputerLists</key>
	<string>presets_computer_lists</string>
	<key>dsRecTypeStandard:PresetComputers</key>
	<string>presets_computers</string>
	<key>dsRecTypeStandard:PresetComputerGroups</key>
	<string>presets_computer_groups</string>
	<key>dsRecTypeStandard:Hosts</key>
	<string>hosts</string>
	<key>dsRecTypeStandard:Protocols</key>
	<string>protocols</string>
	<key>dsRecTypeStandard:RPC</key>
	<string>rpcs</string>
	<key>dsRecTypeStandard:Bootp</key>
	<string>bootp</string>
	<key>dsRecTypeStandard:NetDomains</key>
	<string>netdomains</string>
	<key>dsRecTypeStandard:Ethernets</key>
	<string>ethernets</string>
	<key>dsRecTypeStandard:NetGroups</key>
	<string>netgroups</string>
	<key>dsRecTypeStandard:HostServices</key>
	<string>hostservices</string>
	<key>dsRecTypeStandard:AutoServerSetup</key>
	<string>autoserversetup</string>
	<key>dsRecTypeStandard:Locations</key>
	<string>locations</string>
	<key>dsRecTypeStandard:SharePoints</key>
	<string>config/SharePoints</string>
	<key>dsRecTypeStandard:People</key>
	<string>people</string>
	<key>dsRecTypeStandard:Resources</key>
	<string>resources</string>
	<key>dsRecTypeStandard:Augments</key>
	<string>augments</string>
	<key>dsRecTypeStandard:AutomountMap</key>
	<string>automountmap</string>
	<key>dsRecTypeStandard:Automount</key>
	<string>automount</string>
</dict>
</plist>
