Package: perl
Maintainer: Wilfredo Sanchez <wsanchez@apple.com>
Vendor: Perl
Version: 5.6.0
URL: http://www.perl.com/
Build-Depends: build-base, gnudiff
Description: Practical Extraction and Reporting Language
 Perl is a language optimized for scanning arbitrary text files,
 extracting information from those text files, and printing reports
 based on that information. It's also a good language for many system
 management tasks. The language is intended to be practical (easy to
 use, efficient, complete) rather than beautiful (tiny, elegant,
 minimal).
