<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<true/>
	<key>Label</key>
	<string>org.clamav.clamd</string>
	<key>OnDemand</key>
	<false/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/sandbox-exec</string>
		<string>-f</string>
		<string>/usr/share/sandbox/clamd.sb</string>
		<string>/usr/sbin/clamd</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>TMPDIR</key>
		<string>/private/var/amavis/tmp</string>
	</dict>
	<key>ServiceIPC</key>
	<false/>
	<key>UserName</key>
	<string>_amavisd</string>
</dict>
</plist>
