<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Iterations</key>
	<integer>4</integer>
	<key>Disabled</key>
	<true/>
	<key>Label</key>
	<string>org.clamav.freshclam</string>
	<key>OnDemand</key>
	<false/>
	<key>Program</key>
	<string>/usr/bin/freshclam</string>
	<key>ProgramArguments</key>
	<array>
		<string>freshclam</string>
		<string>-d</string>
		<string>-c 4</string>
	</array>
	<key>ServiceIPC</key>
	<false/>
	<key>UserName</key>
	<string>_clamav</string>
</dict>
</plist>
