<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleK2</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleK2 version 1.7.1, Copyright 2003-2007 Apple Inc.</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleK2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleK2</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.7.1f3</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleK2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleK2</string>
			<key>IOClass</key>
			<string>AppleK2</string>
			<key>IONameMatch</key>
			<array>
				<string>K2-KeyLargo</string>
				<string>K2-Keylargo</string>
			</array>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.IOPlatformFunction</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOKeyLargo</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.1</string>
		<key>com.apple.kernel.iokit</key>
		<string>1.1</string>
		<key>com.apple.kernel.libkern</key>
		<string>1.1</string>
		<key>com.apple.kernel.mach</key>
		<string>1.1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
