<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2009-02-23</string>
	<key>OpenSourceLicense</key>
	<string>BSD</string>
	<key>OpenSourceLicenseFile</key>
	<string>OpenSSH.txt</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>Storing keys in Keychain on Leopard and later.</string>
		<string>A getpwuid usage fix.</string>
		<string>Some manpage fixes.</string>
		<string>Added EAs to scp.</string>
		<string>SACL support for sshd.</string>
		<string>Corrected UsePAM comment in sshd config file.</string>
		<string>An auth_error logging fix.</string>
		<string>A fix to preserve EA mtime.</string>
		<string>Launch ssh-agent via launchd.</string>
		<string>Enable GSSAPI by default (pre-Leopard).</string>
		<string>PAM support.</string>
		<string>A GSSKEX patch.</string>
		<string>Using membership APIs for AllowGroups.</string>
		<string>Modified scp to pre-allocate files.</string>
		<string>Logging local IP for break in attempts.</string>
		<string>Added cross-realm authorization mechanism.</string>
	</array>
	<key>OpenSourceProject</key>
	<string>OpenSSH</string>
	<key>OpenSourceSHA1</key>
	<string>8273a0237db98179fbdc412207ff8eb14ff3d6de</string>
	<key>OpenSourceURL</key>
	<string>ftp://ftp5.usa.openbsd.org/pub/OpenBSD/OpenSSH/portable/</string>
	<key>OpenSourceVersion</key>
	<string>5.2p1</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.openssh.org/</string>
</dict>
</plist>
