<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>gettext</string>
        <key>OpenSourceVersion</key>
        <string>0.15</string>
        <key>OpenSourceURL</key>
        <string>http://mirrors.usc.edu/pub/gnu/gettext/gettext-0.15.tar.gz</string>
        <key>OpenSourceSHA1</key>
        <string>84f9cb6a043d4a85acf06f8c89f2a34202efa210</string>
        <key>OpenSourceImportDate</key>
        <string>2006-09-19</string>
        <key>OpenSourceModifications</key>
        <array/>
        <key>OpenSourceLicense</key>
        <string>GPL</string>
        <key>OpenSourceLicenseFile</key>
        <string>gettext.txt</string>
</dict>
</array>
</plist>
