<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>glib</string>
        <key>OpenSourceVersion</key>
        <string>2.10.0</string>
        <key>OpenSourceURL</key>
        <string>ftp://ftp.gtk.org/pub/glib/2.10/glib-2.10.0.tar.gz</string>
        <key>OpenSourceSHA1</key>
        <string>354fa7e7152192a10ee2d769017d8994686a3058</string>
        <key>OpenSourceImportDate</key>
        <string>2006-09-29</string>
        <key>OpenSourceModifications</key>
        <array/>
        <key>OpenSourceLicense</key>
        <string>GPL</string>
        <key>OpenSourceLicenseFile</key>
        <string>gettext.txt</string>
</dict>
</array>
</plist>
