<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>JCR</string>
        <key>OpenSourceVersion</key>
        <string>0.2.4</string>
        <key>OpenSourceURL</key>
        <string>http://jabber.terrapin.com/JCR/jcr-0.2.4.tar.gz</string>
        <key>OpenSourceSHA1</key>
        <string>48f9a2a1ef3de7360c5b44381c15c526812ff997</string>
        <key>OpenSourceImportDate</key>
        <string>2006-10-17</string>
        <key>OpenSourceModifications</key>
        <array/>
        <key>OpenSourceLicense</key>
        <string>GPL</string>
        <key>OpenSourceLicenseFile</key>
        <string>jcr.txt</string>
</dict>
</array>
</plist>
