<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>libidn</string>
        <key>OpenSourceVersion</key>
        <string>0.6.0</string>
        <key>OpenSourceURL</key>
        <string>http://josefsson.org/libidn/releases/libidn-0.6.0.tar.gz</string>
        <key>OpenSourceSHA1</key>
        <string>5bbb329524ca4e44febd42a3554404692cc4035a</string>
        <key>OpenSourceImportDate</key>
        <string>2006-02-01</string>
        <key>OpenSourceModifications</key>
        <array/>
        <key>OpenSourceLicense</key>
        <string>GPL</string>
        <key>OpenSourceLicenseFile</key>
        <string>libidn.txt</string>
</dict>
</array>
</plist>
