<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>mu-conference</string>
        <key>OpenSourceVersion</key>
        <string>0.6.0</string>
        <key>OpenSourceURL</key>
        <string>http://jabberstudio.org/projects/mu-conference/releases/download.php?file=mu-conference-0.6.0.tar.gz</string>
        <key>OpenSourceSHA1</key>
        <string>cc81619378a86c6c449c4122586c353102d4876e</string>
        <key>OpenSourceImportDate</key>
        <string>2006-10-17</string>
        <key>OpenSourceModifications</key>
        <array/>
        <key>OpenSourceLicense</key>
        <string>GPL</string>
        <key>OpenSourceLicenseFile</key>
        <string>mu-conference.txt</string>
</dict>
</array>
</plist>
