<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>curl</string>
	<key>OpenSourceVersion</key>
	<string>7.51.0</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://curl.haxx.se/</string>
	<key>OpenSourceURL</key>
	<string>http://curl.haxx.se/download/curl-7.51.0.tar.bz2</string>
	<key>OpenSourceSHA1</key>
	<string>f02a14bbe580d2a8cf3bf45a79d39eb595220ac7</string>
	<key>OpenSourceImportDate</key>
	<string>2016-11-02</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>curl-config.in: remove -I, -L, and static library info</string>
		<string>docs/curl.1: remove references to netrc(4) and wget(1)</string>
		<string>include/curl/multi.h: Add availability to curl_multi_wait (13158909)</string>
		<string>lib/curl_gssapi.c: revert upstream 3b4ee0d to work around alignment problems (27287483)</string>
		<string>lib/ldap.c: 5648196</string>
	</array>
	<key>OpenSourceLicense</key>
	<string>MIT</string>
	<key>OpenSourceLicenseFile</key>
	<string>curl.txt</string>
</dict>
</plist>
