<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceImportDate</key>
	<string>2021-10-21</string>
	<key>OpenSourceLicense</key>
	<string>BSD</string>
	<key>OpenSourceLicenseFile</key>
	<string>LICENSE</string>
	<key>OpenSourceProject</key>
	<string>libpcap</string>
	<key>OpenSourceSHA1</key>
	<string>4343528176e0402cce807a09a97191069a1e3dd9</string>
	<key>OpenSourceURL</key>
	<string>https://www.tcpdump.org/release/libpcap-1.10.1.tar.gz</string>
	<key>OpenSourceVersion</key>
	<string>1.10.1</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.tcpdump.org/</string>
</dict>
</plist>
