#include "executable.xcconfig"

SUPPORTED_PLATFORMS = macosx

DARWIN_VARIANT = RELEASE
#include "../wait4path/wait4path.version"

HEADER_SEARCH_PATHS = $(XPC_BUILD_HEADER_SEARCH_PATHS) $(PROJECT_DIR)/wait4path
OTHER_CFLAGS = $(XPC_EXECUTABLE_OTHER_CFLAGS) $(XPC_BUILD_EXPORT_DEFAULTS) -D__XPC_BUILDING_WAIT4PATH__=1
OTHER_LDFLAGS = $(XPC_EXECUTABLE_OTHER_LDFLAGS)

# wait4path doesn't actually need -lCrashReporterClient
XPC_CRASHREPORTCLIENT_LDFLAGS = ""

INSTALL_PATH = /bin
PRODUCT_NAME = wait4path
