تظهر الطلبات الإشرافية بطريقتين،على <a
href="%(summaryurl)s">صفحة التلخيص</a>, وعلى صفحة  <em>التفاصيل</em>.  
تحتوي صفحة التلخيص على طلبات الاشتراك 
وإلغاء الاشتراك المعلقة، وكذلك الإرسالات المعلقة لموافقتك، 
مجمعة حسب عنوان المرسل.
تحتوي صفحة التفاصيل على منظر تفصيلي أكبر لكل رسالة معلقة، 
بما فيها جميع ترويسات الرسالة ومقتطف
من نص الرسالة.

<p>في جميع الصفحات، الإجراءات التالية متوفرة:

<ul>
<li><b>أجل</b> -- أجل قرارك لوقت لاحق. لن يتخذ أي
إجراء الآن للطلب الإشرافي المعلق، ولكن
للإرسالات المعلقة لا تزال يمكنك تحويل أو الاحتفاظ
 بالرسالة (انظر تحت).
 
<li><b>اقبل</b> -- اقبل الرسالة، وإرسالها للقائمة.
    ولطلبات العضوية اقبل التغيير في حالة العضوية.

<li><b>ارفض</b> -- ارفض الرسالة، وإرسال ملاحظة رفض للمرسل،
واهمال الرسالة الأصلية. لطلبات العضوية،
ارفض التغير في حالة العضوية. في كلا الحالتين، 
يجب أن تضيف سبب الرفض في مربع النص المصاحب.

<li><b>أهمل</b> -- ارمي الرسالة الأصلية جانباً، بدون إرسال رسالة رفض.
لطلبات العضوية، هذا ببساطة يهمل الطلب بدون ملاحظة للشخص
الذي قام بالطلب. هذا عادة الإجراء الذي تريده للسبام المعروف.
</ul>

<p>للرسال المعلقة، قم بتفعيل خيار <b>احفظ</b> إذا كنت تريد حفظ نسخة 
من الرسالة من أجل مدير الموقع. هذا مفيد في حالة الرسائل
المسيئة التي تريد أن تهملها ولكن تحتاج أن تبقي سجلاً عنها
لتفتيش لاحق.

<p>فعل الخيار <b>حول إلى</b>, واملأ عنوان التحويل
إذا كنت تريد تحويل الرسالة إلى شخص آخر ليس في القائمة. 
لتعديل رسالة معلقة قبل أن يتم إرسالها إلى القائمة، يجب أن تحول
الرسالة إلى نفسك (أو مالك القائمة)، وتهمل الرسالة الأصلية.
عندها، عندما تظهر الرسالة في صندوق بريدك، عدل تعديلاتك وأعد 
إرسال الرسالة إلى القائمة، مع إضافة ترويسة
  <tt>Approved:</tt> وبعدها كلمة سر القائمة كقيمة. إنه من الأدب على الإنترنت
  في هذه الحالة أن تضيف ملاحظة في الرسالة المعاد إرسالها تبين أنك قد عدلت النص.

<p>إذا كان المرسل عضواً يتم تنظيمه، يمكنك بشكل اختياري
أزالة علامة التنظيم. هذا يفيد عندما تكون قائمتك مضبوطة
لتضيع الأعضاء الجدد في حالة الاختبار، وقد قررت
أن هذا العضو يمكن أن يوثق به أن يرسل إلى القائمة
بدون الحاجة لقبول.

<p>إذا كان المرسل غير عضو في القائمة، يمكنك أن تضيف عنوانه البريدي
إلى <em>مصفي المرسل</em>.  مصفيات المرسل مشروحة في الصفحة <a
href="%(filterurl)s">خصوصية مصفي المرسل</a>، ويمكن أن تكون واحدة من 
<b>قبول تلقائي</b> (قبول), <b>تعليق تلقائي</b> (تعليق),
<b>رفض تلقائي</b> (رفض), أو <b>إهمال تلقائي</b> (اهمال).  
لم كون هذا الخيار متوفراً إذا كان العنوان موجوداً أصلاً في أحد مصفيات المرسل.

<p>عندما تنتهي، اضغط على الزر  <em>أرسل جميع البيانات</em> في أعلى أو 
أسف الصفحة. سوف يرسل هذا الزر جميع الإجراءات المختارة لجميع
طلبات الإشراف التي قمت بتحديد قرار حولها.

<p><a href="%(summaryurl)s">عد إلى صفحة التلخيص</a>.
