<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html dir="rtl">
  <HEAD>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <title>أرشيفات القائمة القائمة %(listname)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     <meta 
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>رشيفات القائمة البريدية %(listname)s</h1>
     <p>
      لم يتم إرسال أي رسالة إلى هذه القائمة بعد، وبالتالي فإن الأرشيفات
      الآن فارغة. يمكنك الحصول على  <a href="%(listinfo)s">معلومات أكثر حول هذه القائمة</a>.
     </p>
  </BODY>
  </HTML>
