يمكن لهذا النص أن يتضمن<a href="http://docs.python.org/library/stdtypes.html#string-formatting-operations">محارف تنسيق بايثون</a> 
والتي سيتم حلها مع مواصفات القائمة. قائمة الاستبدالات المسموحة هي:

<ul>
    <li><b>real_name</b> - الاسم الجميل للقائمة، عادة يكون اسم القائمة مع تكبير الأحرف.

    <li><b>list_name</b> - اسم القائمة الذي يتم استخدامه لتحديد القائمة في الارتباطات، 
    حيث تكون حالة الأحرف مؤثرة.

    <li><b>host_name</b> - الاسم الكامل لاسم نطاق الخادم
    الذي تشتغل القائمة عليه.

    <li><b>web_page_url</b> - الارتباط الأساسي لميلمان.
    يمكنك إلحاقه بـ،
    e.g. <em>listinfo/%(list_name)s</em> للحصول على صفحة
    معلومات القائمة البريدية.

    <li><b>description</b> - التعريف المختصر بالقائمة البريدية.

    <li><b>info</b> - التعريف الكامل للقائمة البريدية

    <li><b>cgiext</b> - الامتداد المضاف إلى البرمجيات النصية  CGI.
</ul>
