<html dir="rtl">
<head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">  
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title>ضبط اشتراك المستخدم <MM-Presentable-User> في القائمة البريدية <MM-List-Name>
    </title>
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        ضبط القائمة البريدية <MM-List-Name> للمستخدم
        <MM-Presentable-User>
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        حالة اشتراك المستخدم <b><MM-Presentable-User></b>,
        وكلمة السر وخيارات القائمة البريدية <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>تغيير معلومات اشتراكك في القائمة <MM-List-Name></B>
        </FONT></TD></TR>
    <tr><td colspan="2">يمكنك تغيير العنوان الذي اشتركت به في القائمة البريدية 
    عن طريق إدخال العنوان الجديد في الحقول تحت. لاحظ أن 
    رسالة تأكيد سوف يتم إرسالها إلى العنوان الجديد، ويجب 
    أن يتم تأكيد التغيير قبل أن يتم عمله.
    
        <p>تنتهي فترة السماح بالتأكيد بعد حوالي  <mm-pending-days> يوماً.

        <p>يمكنك بشكل اختياري أيضاً وضع أو تغيير اسمك الحقيقي 
        (مثل <em>عبد الله بن عبد الرحمن</em>).

        <p>إن كنت تريد عمل تغييرات في الاشتراك لجميع القوائم المشترك فيها  
	في الموقع  <mm-host>, فعل الخيار 
        <em>تغيير عام</em>.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">العنوان الجديد:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">مرة أخرى للتأكيد:</div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">اسمك )اختياري(:</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>تغيير عام</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>إلغاء الاشتراك في القائمة <MM-List-Name></B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>اشتراكاتك الأخرى في الموقع <MM-Host></B>
        </FONT></TD></TR>

    <tr><td>
        فعل خيار التأكيد واضغط على هذا الزر لإلغاء الاشتراك من القائمة البريدية.
	<strong>تحذير:</strong>
        هذا الإجراء سيتم مباشرة.
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        يمكنك رؤية قائمة بجميع القوائم البريدية الأخرى في الموقع
	<mm-host> والتي أنت عضو مشترك فيها. استعمل هذا إذا 
	كنت تريد عمل نفس تعديلات خيارات الاشتراك للاشتراكات الأخرى.
	
        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>كلمة سرك للقائمة البريدية <MM-List-Name></B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>هل نسيت كلمة سرك؟</h3>
        </center>
        انقر هذا الزر ليتم إرسال كلمة سرك برسالة إلى عنوان اشتراكك.
	<p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>غير كلمة سرك</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">كلمة السر الجديدة:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">مرة أخرى للتأكيد:</div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>تغيير عام
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>خيارات اشتراكك في القائمة <MM-List-Name></B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>القيم الحالية مختارة.</strong></i>

<p>لاحظ أن بعض الخيارات لها مربع خيار  <em>حدد بشكل عام</em>
يسبب اختيار هذا الحقل أن يحصل التعديل على جميع القوائم البريدية التي أنت 
عضو فيها على الموقع <mm-host>. انقر على <em>اعرض اشتراكاتي الأخرى</em> فوق لترى 
ما هي القوائم البريدية الأخرى المشترك فيها.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>توصيل البريد</strong></a><p>
        اجعل هذا الخيار <em>ممكن</em> لتستقبل الرسائل المرسلة إلى
	هذه القائمة البريدية. واجعله <em>معطل</em> إذا كنت 
	تريد أن تبقى مشتركاً ولكن لا تريد أن يصلك أي رسائل لفترة مثل 
	أن تكون في إجازة. إذا قمت بتعديل توصيل البريد فلا تنسى أن تعيد
	تفعيله عندما تعود، لأنه لن تتم إعادة تفعيله تلقائياً.
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>ممكن<br>
        <mm-delivery-disable-button>معطل<p>
        <mm-global-deliver-button><i>حدد بشكل عام</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>حدد نظام الدفعات</strong><p>
        إذا فعلت نظام الدفعات ستحصل على الإرسالات بشكل مجموعات 
	)عادة مرة في اليوم ولكن من الممكن أكثر في القوائم المزدحمة(،
	عوضاً عن أن تحصل عليها منفردة عندما يرسلونها. عندما يتم تغيير
	نظام الدفعات من ممكن إلى معطل فقد تستلم دفعة أخيرة واحدة.
	</td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>معطل<br>
        <MM-Digest-Radio-Button>ممكن
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>هل تريد دفعات بنص عادي أم متعدد الأنواع MIME؟</strong><p>
        قد يدعم برنامج قراءة البريد الخاص بك الدفعات متعددة الأنواع MIME
	وبشكل عام الدفعات المتعددة الأنواع مفضلة ولكن إن كان عندك 
	مشكلة في قراءتها فاختر دفعات نص عادي.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>متعددة الأنواع MIME<br>
        <MM-Plain-Digests-Button>نص عادي<p>
        <mm-global-mime-button><i>حدد بشكل عام</i>
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>هل تريد الحصول على إستلام إرسالاتك الخاصة إلى القائمة؟</strong><p>
        ستستلم بشكل عادي بإذن الله نسخة من كل رسالة ترسلها
	إلى القائمة. إن كنت لا تريد استلام نسخة اختر لهذا الخيار  <em>لا</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>لا<br>
        <mm-receive-own-mail-button>نعم
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>هل تريد أن تستلم رسالة إعلام بالوصول عندما ترسل رسالة إلى القائمة؟</strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>لا<br>
        <mm-ack-posts-button>نعم
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>هل تريد رسائل تذكير بكلمة سر هذه القائمة؟</strong><p>
        ستستلم بإذن الله في كل شهر رسالة تحتوي على  تذكير بكلمة السر
	لكل قائمة أنت مشترك بها على هذا الموقع. يمكنك أن تعطل هذا 
	لكل قائمة على حدة باختيار <em>لا</em> لهذا الخيار.
	إذا قمت بتعطيل مذكرات كلمة السر لجميع القوائم التي تشترك فيها
	فلن يتم إرسال أي رسائل تذكير إليك.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>لا<br>
        <mm-get-password-reminder-button>نعم<p>
        <mm-global-remind-button><i>حدد بشكل عام</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>أظهر نفسك في قائمة المشتركين؟</strong><p>
        عندما يرى أحد ما قائمة المشتركين، فسوف يتم إظهار عنوانك الإلكتروني
	بطريقة مبهمة ليتم تضليل المنقبات الخاصة بمرسلي الرسائل الغير مرغوبة. 
	إن كنت لا تريد أن يتم عرض عنوانك البريدي في قائمة المشتركين أبداً فاختر 
	 <em>نعم</em> لهذا الخيار.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>لا<br>
        <MM-Hide-Subscription-Button>نعم
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>ما هي اللغة التي تفضلها؟</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>ما هي تصنيفات المواضيع التي تريد أن تشترك فيها؟</strong><p>
                باختيار موضوع أو أكثر يمكنك أن تصفي الحركة على قائمتك البريدية،
		بحيث تستلم فقط قسم من الرسائل. إذا تطابقت رسالة أحد 
		مواضيعك المختارة فسوف تحصل على الرسالة وإلا فلا.

                <p>إذا لم تتطابق رسالة مع أي موضوع فسوف يتم تحديد
		قاعدة التوصيل بناءاً على ضبط الخيار في الأسفل. 
		إذا لم تختر اي موضوع فسوف تستلم جميع الرسائل المرسلة
		إلى القائمة البريدية.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>هل تريد استلام الرسائل التي لا تتطابق مع أي مصفي للموضوعات؟</strong><p>

                يؤثر هذا الخيار فقط إذا اشتركت في موضوع واحد على الأقل فوق. 
		هذا الخيار يحدد قاعدة التوصيل الافتراضية للرسائل التي لا تطابق
		أي مصفي موضوع. باختيار <em>لا</em> فإنك تقول أنه إذا لم تطابق الرسالة
		أي  مصفي موضوع فإنك لا تريد أن تحصل على الرسالة، بينما اختيار 
		<em>نعم</em> يعني توصيل هذه الرسائل الغير مطابقة إليك.

                <p>إن لم يتم اختيار أي موضوع في الأعلى فسوف 
		تستلم جميع الرسائل المرسلة إلى القائمة البريدية.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>لا<br>
        <mm-receive-nonmatching-topics>نعم
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>امنع النسخ المكررة من الرسائل؟</strong><p>

                عندما يتم وضعك بشكل صريح في ترويسة <tt>إلى:</tt>
		أو <tt>نسخة إلى:</tt> خاصة برسالة إلى القائمة، فيمكنك اختيار
		عدم استلام نسخة أخرى من القائمة البريدية.
		اختر <em>نعم</em> لمنع استلام نسخ من القائمة
		البريدية واختر <em>لا</em> لاستلام النسخ.

                <p>إذا كان تم تفعيل رسائل الأعضاء الشخصية واخترت استلام
		النسخ فسوف يتم إضافة ترويسة <tt>X-Mailman-Copy: yes</tt>
		في كل نسخة.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>لا<br>
        <mm-dont-receive-duplicates-button>نعم<p>
        <mm-global-nodupes-button><i>حدد بشكل عام</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
