<html dir="rtl">
<head>
    <title>التحقق من الشخصية للأرشيف الخاص بالقائمة %(realname)s</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s/">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">التحقق من الشخصية للأرشيف الخاص بالقائمة %(realname)s</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">العنوان الإلكتروني:</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">كلمة السر</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="اسمح لي بالدخول...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>هام:</em></strong> من هذا النقطة يجب أن تكون
      الكوكيز مفعلة في برنامج الاستعراض الذي تستخدمه،
      وإلا فإنك ستضطر لوضع كلمة السر لكل عملية تقوم بها.

      <p>كوكيات الجلسة مستخدمة في واجهة الأرشيف الخاص بحيث لا تحتاج إلى إعادة إدخال كلمة سرك لكل عملية. سوف تفقد هذه الكوكي
      صلاحيتها عندما تغلق مستعرضك، أو يمكنك إنهاء صلاحية الكوكي بشكل
صريح عن طريق زيارة صفحة خيارات الأعضاء والضغط على زر <em>تسجيل الخروج</em>.
</FORM>
</body>
</html>
