<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.KerberosHelper.LKDCHelper</string>
	<key>LimitLoadToSessionType</key>
	<string>Background</string>
	<key>OnDemand</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/KerberosHelper.framework/Resources/LKDCHelper</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.apple.KerberosHelper.LKDCHelper</key>
		<true/>
	</dict>
	<key>ServiceIPC</key>
	<true/>
</dict>
</plist>
