Eskaera administratiboak bi orrialde ezberdinetan aurkezten dira, <a
href="%(summaryurl)s">laburpen orrian</a>, eta <em>xehetasunen</em>
orrian. Laburpen orrian, zerrendan sartzeko edo zerrenda uzteko onartu
gabe dauden eskaerak agertzen dira; baita zuk noiz onartu zain atxikita dauden
mezuak, harpidearen helbidearen arabera sailkatuta. Xehetasunen orrialdean,
atxikita dauden mezuei buruzko argibide gehiago daude: mezuen goiburuak
eta mezu bakoitzaren laburpen txiki bat.

<p>Batean zein bestean akzio hauek egin daitezke:

<ul>
<li><b>Gerorako laga</b> -- Erabakia gerorako laga.  Eskaera horri ez zaio
    erantzungo oraingoz; atxikitako mezuen kasuan,
    mezua gorde edo beste norbaiti bidaltzeko aukera izango duzu (ikus
    beherago).

<p><li><b>Onartu</b> -- Mezua onartu, zerrendara bidaliz.
    Harpidetzari buruzko eskaeretan, harpidetzaren egoera aldatu.

<p><li><b>Ez onartu</b> -- Mezua ez onartu. Mezua ezabatu eta harpideari
    beste mezu bat bidali, bere mezua ez dela onartu jakinaraziz. Harpidetzari
    buruzko eskaeretan, aldaketarik ez onartu.  Erantzuna edozein izanik ere,
    ondorengo testu-kutxan arrazoiak azaldu beharko zenituzke.

<p><li><b>Baztertu</b> -- Mezua ezabatu, inolako jakinarazpen-mezurik
    igorri gabe.  Harpidetzari buruzko eskaeretan (zerrendan sartu edo zerrenda uzteko)
    aukera honekin eskaera bertan behera uzten da, eskaera egin duenari ezer jakinarazi gabe.
    Hau izango da spam-en kasuan egin beharreko aukera.
</ul>

<p>Atxikitako mezuen kasuan, gunearen adiministratzailearentzat kopia bat gorde
nahi baduzu, aktibatu <b>Gorde</b> aukera. Aukera hau erabiligarria izan daiteke, 
adibidez, onartu ez dituzun mezu iraingarrien kasuan; horrela, badaezpada, 
hurrengo baterako kontsultagai izan dezakezu mezu hori.

<p>Mezua zerrendakide ez den norbaiti bidali nahi badiozu, 
aktibatu <b>Bidali</b> aukera, eta bete helbidea.
Atxikitako mezu bat zerrendara bidali aurretik editatu egin nahi baduzu,
lehenengo mezua zure buruari birbidali (edo zerrenda jabeari), eta
mezu orijinala ezabatu. Ondoren, mezua zure gutunontzian agertzen denean,
egin itzazu aldaketak eta mezua zerrendara birbidali ezazu. Goian, 
<tt>Onartuta:</tt> goiburuaren baliotzat idatzi ezazu zerrendako pasahitza. 
Horrelakoetan egokia izan daiteke testu sarreran azaltzea jatorrizko mezua 
moldatu egin duzula.

<p>Bidaltzailea harpide moderatua bada, nahi baduzu moderazio
bandera kendu egin dezakezu.  Aukera hori erabilgarria izan daiteke, 
esate baterako, zerrendakide berriak denboraldi batez bakarrik moderatu
nahi direnean. Behin denbora tarte hori igaro ondoren, eta zerrendakidea
fidagarria dela ikusten denean, ez dago bere mezuak moderatu beharrik.

<p>Mezua bidali duena ez bada zerrendakide,  <em>bidaltzaileen iragazkian</em>
erantsi dezakezu bere izena.  Bidaltzaileen iragazkien berri <a
href="%(filterurl)s">bidaltzaileen iragazkien pribazitate orrian</a> duzu.
Horrelakoak izan daitezke: <b>automatikoki onartu</b> (Onartu), <b>automatikoki atxiki</b> 
(Atxiki), <b>automatikoki ez onartu</b> (Ez onartu), edo <b>automatikoki baztertu</b> 
(Baztertu).  Aukera hau ezingo da erabili helbidea honezkero bidaltzaileen iragazkian
baldin badago.

<p>Amaitu duzunean, klikatu orriaren gaineko aldean dagoen
<em>Datu Guztiak Bidali</em> botoia.  Horren bidez, hartu dituzun erabaki
guztiak onartuko dituzu.

<p><a href="%(summaryurl)s">Itzuli laburpen orrialdera</a>.
