Orri honetan <a href="%(adminurl)s"><em>%(listname)s</em> posta zerrendan</a> 
zure onespenaren zain dauden eskaera administratiboen laburpena aurkituko
duzu. Lehenengo, zerrendan izena emateko edo zerrenda uzteko egindako
eskaerak agertuko dira (baleude, jakina); ondoren, zure onespenaren zain
atxikita dauden mezuen zerrenda.

<p>Eskaera administratibo bakoitzaren kasuan, esan mesedez zein den zuk hartutako 
erabakia; ondoren sakatu <b>Datu Guztiak Bidali</b> botoia.
Xehetasun gehiago <a href="%(detailsurl)s">hemen</a>.

<p>Atxikitako mezuen <a href="%(viewallurl)s">xehetasunak</a> ere 
ikus ditzakezu.
