<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <HEAD>
     <title>%(listname)s Zerrendako Artxiboak</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(meta)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>%(listname)s Zerrendako Artxiboak</h1>
     <p>
      Zerrenda honi buruzko <a href="%(listinfo)s">informazio gehiago hemen</a>
      edo <a href="%(fullarch)s">deskargatu artxibo osoa</a>
      (%(size)s).
     </p>
     %(noarchive_msg)s
     %(archive_listing_start)s
     %(archive_listing)s
     %(archive_listing_end)s
     </BODY>
     </HTML>
