    </ul>
    <p>
      <a name="end"><b>Azkenengo mezua:</b></a> 
       <i>%(lastdate)s</i><br>
    <b>Artxibatuta:</b> <i>%(archivedate)s</i>
    <p>
   <ul>
         <li> <b>Antolatzeko irizpideak:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
	     <li><b><a href="%(listinfo)s">Zerrenda honi buruzko informazio gehiago...
                    </a></b></li>
     </ul>
     <p>
     <hr>
     <i>Artxibo hau sortzeko
     Pipermail %(version)s erabili da.</i>
  </BODY>
</HTML>
