<!-- $Revision: 1.1.1.1 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> Zerrendaren Informazio Orria</TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0" nowrap>
	      <B><FONT COLOR="#000000"><MM-List-Name> Posta Zerrendaren gaia:</FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> Orain arte zerrendara bidalitako mezuak ikusteko, ikus itzazu artxibo hauek:
	      <MM-Archive><MM-List-Name>
		  Artxiboak: </MM-Archive>.
	      <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000"><MM-List-Name> Posta Zerrendan nola parte hartu: </FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  Zerrendakide guztiei mezua bidaltzeko, idatzi hona:
	  <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>.

	  <p>Zerrendakide egiteko edo zerrenda uzteko, 
	    beheko atalera jo.
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000"><MM-List-Name> Posta Zerrendan Harpidetzeko: </FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	    <MM-List-Name> posta zerrendan izena eman, ondoko eskaera-orria betez.
	  <MM-List-Subscription-Msg>
	  <ul>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">Helbide elektronikoa:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <tr>
        <td bgcolor="#dddddd" width="55%">Zure izena (hautazkoa):</td>
        <td width="33%"><mm-fullname-box></td>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
	<TD COLSPAN="3"><FONT SIZE=-1>Nahi baduzu, pasahitz bat sar dezakezu hemen
		azpian. Ez dizu seguritate osoa emango, baina inork ezingo du
	    zure izenean mezurik bidali.  
		<b>Pasahitz baliotsurik ez erabili</b>, posta elektronikoz
	    bidaliko zaizulako inoiz, eta zifratu gabe.

            <p>Ez baduzu pasahitzik sartzen, sistemak automatikoki
            sortuko du bat zuretzat; mezu batean bidaliko zaizu, behin
			harpidetza berretsi ondoren.  Pasahitza ahazten baduzu, 
			aukera pertsonalen orrian pasahitza posta
			elektronikoz jasotzea eska dezakezu.
	    <MM-Reminder>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">Pasahitza sartu:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">Pasahitza berretsi:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd">Zein hizkuntza nahi duzu mezuak ikusteko?</TD> 
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <mm-digest-question-start>
      <tr>
	<td>Egunean zehar bidalitako mezuak denak batera bilduma batean jaso nahi dituzu?
	  </td>
	<td><MM-Undigest-Radio-Button> Ez
	    <MM-Digest-Radio-Button>  Bai
	</TD>
      </tr>
      <mm-digest-question-end>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000"><MM-List-Name> Posta Zerrendako Harpidedunak:</FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
