<html>
<head>
    <title>%(realname)s Artxibo Pribatuak Egiaztatzea</title>
</head>
<body bgcolor="#ffffff">
<FORM METHOD=POST ACTION="%(action)s/">
%(message)s
  <TABLE WIDTH="100%%" BORDER="0" CELLSPACING="4" CELLPADDING="5">
    <TR>
      <TD COLSPAN="2" WIDTH="100%%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	<B><FONT COLOR="#000000" SIZE="+1">%(realname)s Artxibo
	    Pribatuak Egiaztatzea</FONT></B>
      </TD>
    </TR>
    <tr>
        <TD><div ALIGN="Right">Posta elektronikoa:</div></TD>
        <TD><INPUT TYPE="text" NAME="username" SIZE="30"></TD>
    </tr>
    <tr>
      <TD><div ALIGN="Right">Pasahitza:</div></TD>
      <TD><INPUT TYPE="password" NAME="password" SIZE="30"></TD>
    </tr>
    <tr>
      <td colspan=2 align="middle"><INPUT type="SUBMIT"
                                          name="submit"
					  value="Laga sartzen...">
      </td>
    </tr>
  </TABLE>
      <p><strong><em>Garrantzitsua:</em></strong> Hemendik aurrera, 
      cookie-ak beharko dituzu nabigatzailean; bestela aldaketak ez
	  dira gauzatuko.

      <p>Mailmanen administrazio interfazak cookie-ak erabiltzen ditu  
      zu ezagutzeko, eta ez zaitezen, behin eta berriro, zure burua 
	  identifikatzen aritu.  Cookie-ak automatikoki ezgaitzen dira zuk 
	  nabigatzailea itxi bezain azkar; nahi baduzu, zuk ere zuzenean ezgaitu dezakezu 
	  <em>Kudeatzailearen Beste Jarduera Batzuk</em> barruan, <em>Saioa Amaitu</em> 
	  sakatuz (aukera hori behin sartu ondoren agertuko zaizu, ez lehenago).
</FORM>
</body>
</html>
