<plist version="1.0">
<array>
<dict>
	<key>OpenSourceProject</key>
	<string>neon</string>
	<key>OpenSourceVersion</key>
	<string>0.26.3</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://webdav.org/neon/</string>
	<key>OpenSourceURL</key>
	<string>http://webdav.org/neon/neon-0.26.3.tar.gz</string>
	<key>OpenSourceSHA1</key>
	<string>8f3191cc6fe0aee5323dac58b03362cddc5d80d0</string>
	<key>OpenSourceImportDate</key>
	<string>2007-04-02</string>
	<key>OpenSourceLicense</key>
	<string>LGPL</string>
	<key>OpenSourceLicenseFile</key>
	<string>neon.txt</string>
</dict>
</array>
</plist>
