<plist version="1.0">
<array>
<dict>
	<key>OpenSourceProject</key>
	<string>neon</string>
	<key>OpenSourceVersion</key>
	<string>0.28.3</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://webdav.org/neon/</string>
	<key>OpenSourceURL</key>
	<string>http://webdav.org/neon/neon-0.28.3.tar.gz</string>
	<key>OpenSourceSHA1</key>
	<string>544a92dbfba144ec600506cadbda92ae0b0eb9b0</string>
	<key>OpenSourceImportDate</key>
	<string>2008-09-03</string>
	<key>OpenSourceLicense</key>
	<string>LGPL</string>
	<key>OpenSourceLicenseFile</key>
	<string>neon.txt</string>
</dict>
</array>
</plist>
