<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>neon</string>
	<key>OpenSourceVersion</key>
	<string>0.29.0</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://webdav.org/neon/</string>
	<key>OpenSourceURL</key>
	<string>http://webdav.org/neon/neon-0.29.0.tar.gz</string>
	<key>OpenSourceSHA1</key>
	<string>8d2e1609b2a3b13a6e68e58c26b1d708302e05ef</string>
	<key>OpenSourceImportDate</key>
	<string>2009-09-28</string>
	<key>OpenSourceLicense</key>
	<string>LGPL</string>
	<key>OpenSourceLicenseFile</key>
	<string>neon.txt</string>
</dict>
</plist>
